[2020-10-20 13:24] jessemapel commented on #4063
@pedrohasselmann There was a change made recently that moved many files in the base data area around. As a result we have two different data areas, one for before the change and one for after. Your version of ISIS requires the older one (it is under isis*3*data on our rsync) and this is the type of error we see when users are using the new data area with older software. So, can you check if `/home

[2020-10-20 22:12] tgiroux opened #4076 "Difficulty replicating overlapstats/tsts/errors as gtest"
**ISIS version(s) affected**: dev

**Description**

In overlapstats/tsts/errors, overlapstats is tested for it's ability to write errors to the user-specified file (given in the "ERRORS=" argument).

Within overlapstats, there is a very specific set of circumstances that trigger the type of error which would be written to the file. After many hours of tinkering with different overlap circumstances

[2020-10-21 17:09] #4063 closed, assigned to nobody

[2020-10-22 17:06] Kelvinrr opened #4079 "MacOS jenkins failures only on github triggers"
**ISIS version(s) affected**: dev

**Description**

MacOS fails to build on the org, but not on the nightly triggers

**How to reproduce**

just look @ https://astroservices.usgs.gov/jenkins/job/USGS-Astrogeology/job/ISIS3/job/dev/76/execution/node/52/log/

every time a PR is merged, a build should start that will most likely fail to build for the same geos issue.

**Possible Solution**

Maybe the

[2020-10-23 22:07] jessemapel opened #4082 "RFC6 BLOB Redesign"
This issue is for feedback and discussion on [RFC6 BLOB Redesign](https://github.com/USGS-Astrogeology/ISIS3/wiki/RFC6:-BLOB-Redesign).

[2020-10-25 18:08] rfergason opened #4083 "ISIS Tutorials"
**Description**
When I Google "Astrogeology ISIS Tutorials", the first two results point to websites that are no longer maintained and may contain outdated information (https://isis.astrogeology.usgs.gov/documents/Isis2Tutorials/index.html - yes, I know this is ISIS2, but this is also the top Google result and https://isis.astrogeology.usgs.gov/fixit/projects/isis/wiki/ISIS_Online_Workshops).  In

[2020-10-26 16:47] kaitlyndlee opened #4084 "Need to update grid functional tests"
**ISIS version(s) affected**: x.y.z
4.2.0

**Description**

Since we are trying to convert makefile tests with gtests as quickly as possible, there are a few of the converted grid tests that need a bit more work. The following tests need to be updated:
- ~FunctionalTestGridBandDependent: This test needed to use a band dependent camera. The existing makefile tests used a New Horizons Leisa image. S

[2020-10-26 16:49] jlaura commented on #3371
Requirements:
- The original goal is to be able to do atmospheric work.
- This is a general purpose tool.
- Specification of the plane is discussed above.
- A user's life is easier if they have convenience capability to define the plane using SPICE. This is really hard. So the MVPs are building towards being able to do that.

MVP:
  - Make a plane perpendicular to the look vector of the observatio

[2020-10-26 18:21] thareUSGS opened #4086 "Main github site bad link for astrodiscuss"
**Description**
Update astrodiscuss on main Github site (first paragraph).
https://github.com/USGS-Astrogeology/ISIS3

**Suggested Edit**
I assume link needs to point to https://astrodiscuss.usgs.gov/

[2020-10-27 15:55] #4086 closed, assigned to krlberry

[2020-10-27 17:31] astrostu opened #4092 "Ability for CAMPT to Return Limited List of Parameters"
**Description**
CAMPT computes a lot of information for every latitude/longitude or line/sample for a given image.  For a lot of applications, all of these data are not needed.  I think there should be some way to specify what data to include, or just return all (default behavior).  Not only would this make its output smaller, saving disk space, disk I/O, and RAM if reading those data in later, bu

[2020-10-27 17:35] jessemapel commented on #4092
This sounds similar to phocube. We can't have quite the same interface for compatibility reasons but is that what you're interested in @astrostu ?

[2020-10-27 17:43] astrostu commented on #4092
@jessemapel It is not.  PHOCUBE returns an actual cube of lots of different information at each pixel.  CAMPT returns data at a given location on the cube, not computing it for every pixel.  You can also feed it a list of lat/lon coordinates rather than sample/line.

Unless you mean specifying the options?  If you just mean in terms of the process of how it might operate, then sure.  My suggestion

[2020-10-30 16:14] krlberry opened #4097 "spiceinit is 4 times slower in 4.2.0 than 4.1.0"
**ISIS version(s) affected**: 4.2.0+

**Description**
Issue reported via email by Rodney Heyd (@rheyd):

`spiceinit` in ISIS 4.2 takes more than 4 times longer to run than it does in v. 4.0 and 4.1.  This is really significant for
the CaSSIS pipeline, adding ~30 minutes to the pipeline run time.

Here is a table containing timing comparison information:

Test Run | Isis 4.0 | Isis 4.1 | Isis 4.2
-

[2020-10-31 15:51] lavalaz opened #4100 "Issues updating isis4 (isis4.0.1 to isis4.3.0)"
Here is what I get when I fire up my conda:

**4.0.1 # Public version number
2020-03-04 # Release date
stable # Release stage (alpha, beta, stable)**

Next I try to update isis
**> conda update isis**

I get back:
**Collecting package metadata (repodata.json): done
Solving environment: done**

**All requested packages already installed.**

**4.0.1 # Public version number
2020-03-04 # Release date

[2020-10-31 15:57] lavalaz commented on #4100
I did try to create a new conda environment as per the instructions and it barfs on python 3.6.

[2020-10-31 16:18] lavalaz commented on #4100
Issues are on Ubuntu 18.04.4
My mac can't connect to "http://ssb.stsci.edu/astroconda/osx-64..."  so no joy there either.  Maybe the problem is our servers...?

[2020-10-31 16:28] jlaura commented on #4100
@lavalaz Can you try `conda install -c usgs-astrogeology isis=4.3.0`

[2020-10-31 19:20] lavalaz commented on #4100
_It seems to be unhappy about the version of python, if I am reading the results correctly...
There are thousands of lines of "conflicts" but this is the first part._

$ conda install -c usgs-astrogeology isis=4.3.0
Collecting package metadata (repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Solving environment: |
Found conflicts! Looking f

[2020-11-01 19:41] lavalaz commented on #4100
My mac updated this morning without a hitch just using the came command I used before (up arrow, return, and it worked) so that part was apparently some server connection issue.  I'll retry linux shortly...

[2020-11-01 20:53] lavalaz commented on #4100
OK, I totally removed my isis and anaconda installs, and started from scratch.
When I followed the isis installation instructions, it downloaded isis4.2.0...
I'm going to nuke that and try to force it to install isis4.3.0...

[2020-11-01 21:08] lavalaz commented on #4100
conda install -c usgs-astrogeology isis=4.3.0
Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Solving environment: failed with repodata from current_repodata.json, will retry with next repodata source.
Collecting package metadata (repodata.json): done
Solving environment: failed with initial frozen solve

[2020-11-03 15:15] scsides commented on #3371
NOTE: We are working on this issue. If anyone has input please post here.

Preliminary questions:

- Our understanding is that this projection would project data beyond the limb; that is, not stop projecting data once the pixel did not have a lat/lon, (e.g., atmosphere). Is this what is being asked for?

- Would Point Perspective work if it were to continued projecting data beyond the limb?

- Atm

[2020-11-03 15:59] rwatkins15 opened #4103 "libraries error"
Backstory: I'm installing ISIS4 on my machine so that I can run the Ames Stereo Pipeline. Installation seemed to go well. I downloaded the LRO mission data since I'm processing NAC images. I'm using a LINUX machine and have ISIS 4.2.0 installed.

I'm running the lronac2mosaic.py step in the ASP processing, and getting the following error:

lronac2isis from=M1132903462RE.IMG to=M1132903462RE.cub
lr

[2020-11-03 16:16] dpmayerUSGS commented on #4103
Possible duplicate of #4053

[2020-11-03 16:17] rwatkins15 commented on #4103
thanks, I was just reading that one, I hadn't seen it before I submitted my issue!

[2020-11-03 16:19] rwatkins15 commented on #4053
I may be having a related issue - you can see it described with the link Dave posted above (libraries error #4103 ). I installed ISIS 4.2.0 and get shared libraries errors when I try to run ISIS commands.

[2020-11-03 16:45] scsides opened #4104 "rsync server is not being updated with new SPICE"
**ISIS version(s) affected** All past present and future

**Description**

The Flagstaff rsync server, isisdist.wr.usgs.gov, with the SPICE data for all supported missions is not being updated as of Nov 3, 2020

**How to reproduce**

N/A

**Possible Solution**

**Additional context**

This is an internal computer issue and does NOT affect isisdist.astrogeology.usgs.gov

[2020-11-03 16:47] jessemapel commented on #4103
I'm not sure if this is a duplicate of that or not. I'm going to be looking into this more today and hopefully find some answers.

[2020-11-03 17:13] rwatkins15 commented on #4103
Thanks!

On Tue, Nov 3, 2020, 10:47 AM Jesse Mapel <notifications@github.com> wrote:

[2020-11-03 20:03] scsides commented on #4092
Information: A large percentage of the work and time in campt is initializing the cube and camera model and then getting the initial lat(s)/lon(s) of requested line(s)/samp(s) or the opposite. Most of the other values come along for the ride or are simple calculations once the initial work is complete. There are a few values which have to go through one or two additional rounds of converting a lin

[2020-11-03 22:17] scsides commented on #4104
The rsync server has been fixed. Tests have been run on one mission, and all worked well. All updated SPICE should be refreshed by morning.

[2020-11-03 22:17] #4104 closed, assigned to scsides

[2020-11-04 00:16] rbeyer commented on #3371
Yes, that is the primary motivator, but there is also the possibility that this could be useful for an object before a detailed shape model is available.

I would think so, but if you have concerns about this, let's talk.

Not really sure that any meta-data of this nature off the limb is possible.  The original intent was to be able to measure the elevation of atmospheric layers from the limb, so

[2020-11-04 01:44] krlberry commented on #3371
We had some additional questions after reading your responses:

* What is your definition of square pixels? Is it:
    * All edges of a pixel are all approximately the same length
    * All pixels in the image are the same size
    * Something else?

* What is the connection between needing square pixels and to measure the distance between the limb of the planet and the atmosphere and the ability

[2020-11-04 17:19] jessemapel commented on #4053
Okay, I've been looking into this and am not seeing a whole lot of things that could be causing it. The differences I see between your env and the one I have locally are very small. @elena-rom Can you try activating your environment and then run `conda install -c conda-forge ale=0.8.4=py36hdb11119_1` That should bring your environment in line with the one I have locally.

[2020-11-04 17:28] jessemapel commented on #4103
@rwatkins15 This is not a duplicate of #4053, it looks like a different problem that is happening in Anaconda. ~For right now, can you try running `conda install -c conda-forge armadillo=9.2` and see if it works then~ see below for correct comamnds. I'm going to put an issue in with Anaconda about this because it may be a bug there.

[2020-11-04 17:39] jessemapel commented on #4100
@lavalaz I've been looking at some related issues, can you share what's in your environment before you attempt to install isis4.3.0?

[2020-11-04 17:58] jessemapel commented on #4103
Sorry, bad conda command. Run `conda install -c conda-forge armadillo=9.200` and then run `conda install -c conda-forge gsl=2.6`. That fixed this for me locally, but I'm still not sure what's causing this to occur in the first place.

[2020-11-04 19:22] rwatkins15 commented on #4103
Ok that fixed the libraries error on my end too. I see another email from
you with a command for adjusting my environment to match yours, should I
run that as well?

On Wed, Nov 4, 2020 at 11:59 AM Jesse Mapel <notifications@github.com>
wrote:

--
~ Ryan Watkins

[2020-11-04 19:24] jessemapel commented on #4103
No, don't run that other command, it won't do anything.

[2020-11-04 19:28] rwatkins15 commented on #4103
Great, thanks!

While I have you - I ran into an "issue" with spiceinit recently, where it
was searching for a local kernel in the wrong directory. I figure this is a
relatively easy fix, but is there somewhere in the command line where I
indicate that it needs to search in a particular directory?

On Wed, Nov 4, 2020 at 1:25 PM Jesse Mapel <notifications@github.com> wrote:

--
~ Ryan Watkins

[2020-11-04 20:15] jessemapel commented on #4103
@rwatkins15 You can specify where spiceinit should search for kernels for a mission by specifying your mission data directory in your isis preferences. Other than that, you can specify explicit kernels for spiceinit to use via its command line options.

[2020-11-04 20:40] rwatkins15 commented on #4103
Thanks! Turns out I didn't run into that error this time around, so all of
the fixes you sent and making sure I was running the correct version of
ISIS seemed to do the trick.

On Wed, Nov 4, 2020 at 2:16 PM Jesse Mapel <notifications@github.com> wrote:

--
~ Ryan Watkins

[2020-11-04 22:14] jlaura commented on #4103
:+1:  I am going to close this particular issue as fixed. We are aware that the conda environments are having solving challenges in general and definitely appreciate hearing from users when those environment solves are causing this type of issue. Thank you for taking the time to write this up and interact.

We are working with the anaconda folks to figure out what else we can do to make installati

[2020-11-04 22:14] #4103 closed, assigned to nobody

[2020-11-05 14:45] rbeyer commented on #3371
I go into more detail in answers below, but I think the answers are "yes" to both.

If there is a cloud layer floating at some altitude, that will be expressed as a brighter line (curve) of pixels that is parallel to the limb, and a scientist wants to be able to measure its "elevation" from the surface.  In order to do that, they need the pixels in the projected image to enable reliable measuremen

[2020-11-05 15:53] rwatkins15 commented on #4103
Sounds great, thanks again! Hopefully the conda issues can get resolved
soon - and thanks for the speedy responses!

On Wed, Nov 4, 2020 at 4:15 PM jlaura <notifications@github.com> wrote:

--
~ Ryan Watkins

[2020-11-05 15:54] jessemapel opened #4108 "Conda build recipe needs to use run_exports to restrict library versions"
**ISIS version(s) affected**: 3.6+

**Description**

Currently, we specify libraries in both the build and run sections of our conda build recipe. This can result in scenarios like #4103 #4013 and #3969 where different versions of dependency libraries are used during build and installation. Using conda build's [run exports](https://docs.conda.io/projects/conda-build/en/latest/resources/define-meta

[2020-11-05 17:10] thareUSGS commented on #3441
I will bring this back from inactive. Discussion for things like Special Pixels is important to migrate.

[2020-11-05 17:41] rmshkv commented on #4053
Bringing that difference in line didn't fix the issue. I did try running valgrind on qview to see if I could get more info on the seg fault, and it looks like there are several things going on:
[code]
Maybe this will help track it down?

[2020-11-05 20:13] scsides opened #4110 "Many compiler warnings"
**ISIS version(s) affected**: 4.1.0 and up through dev branch

**Description**

There are many (over 30) compiler warnings during an ISIS build on OSX 10.14. This makes developing difficult and prone to allowing additional warnings creep into the code which is never a good idea.

To list a few:

Building CXX object objects/CMakeFiles/isis_unit_test...bDistDynCalc.dir/base/objs/StatCumProbDistDynCa

[2020-11-05 20:52] jlaura commented on #3371
@scsides @kberryUSGS @rbeyer I think we still need to get together to chat about this in real time. Sounds like we do not have a particularly good way to accomplish the desired behavior?

[2020-11-05 21:22] lwellerastro opened #4111 "Jigsaw Target Body - Mean Radius failure"
**ISIS version(s) affected**: 3.10.2 (also older version 3.8.1 and newer 4.2.0)
I'm doing on all of my work under 3.10.2 since this has been a complicated multi-year project.  But confirmed more current version fails knowing that I will likely have to run it there if a bug is fixed.

**Description**
Jigsaw fails with the following error when solving for mean radius of a global network of Europa (c

[2020-11-06 04:51] krlberry opened #4112 "(Internal) TGO Kernel update cronjob - rsync failing"
**ISIS version(s) affected**: N/A

**Description**
The TGO kernel update script is failing with:

[code]

**How to reproduce**
Run the TGO kernel update script or wait for the daily cronjob fail overnight.

**Possible Solution**
Update the kernel update script to slightly modify the rsync command. It seems to work using --chmod=who=permissions instead of --chmod=F644.

**Additional context**

[2020-11-06 15:50] krlberry commented on #4067
The error I see when testing this on prog26 (for all tests) is:
[code]
I'm not sure if this is a prog26 issue or _the issue_ described here because this error does not show up on Jenkins.

[2020-11-06 15:59] scsides opened #4113 "SPICE maintenance scripts are sending unwanted email"
**ISIS version(s) affected**: x.y.z
N/A

**Description**

SPICE maintenance scripts are sending email when they succeed because stderr is getting IO due to the update of the rsync server.

**How to reproduce**

**Possible Solution**

add a quiet flag to the command, if it doesn't have one already. May need to add the quiet flag to the ssh inside of rsync instead (via the ssh config)

**Additional

[2020-11-06 20:35] jlaura commented on #3955
I ran across a free restyler at https://restyled.io. I see that they support two different C++ stylers: [astyle](http://astyle.sourceforge.net/astyle.html) and [clang format](https://clang.llvm.org/docs/ClangFormat.html). The restyler is free to use for OS projects in public repos on GitHub. If some of those two stylers looks like it has potential, I would be happy to get an ASC repo wired up.

[2020-11-11 12:01] chen-dimitry opened #4119 "IBM Power Architecture Support"
**Description**
I am trying to build ISIS on CentOS7 with IBM Power8 CPUs. The required dependencies **embree** and **gmm** seeem to only work on Intel CPUs. Is there an option that I can do the compiling without these dependencies or will there be a seperate version for Power arch( and other non-intel arch) in the future?

[2020-11-12 02:17] jessemapel commented on #4119
@chen-dimitry embree and gmm are special builds that we are providing right now, so we're only providing them for Intel x86. We are working to move off of our special builds and onto generic conda-forge builds but it's a slow process.

For embree, you can try the [conda-forge 2.17.7 build](https://anaconda.org/conda-forge/embree/files?version=2.17.7). You can also try compiling it yourself, but it

[2020-11-12 03:09] adanecito opened #4120 "Please provide a Restful interface..."
Please provide a restful interface. Can be simple where a name is provided and a list of names with latitude and longitude is the response in JSON.
If it exists already please provide and example of the request and JSON.

Thanks!

[2020-11-12 13:47] jlaura commented on #4120
@adanecito Thanks for the post. We are going to need you to use the enhancement template which I am copying below. We are also going to need significantly more information. It looks like you are referencing a service that would return nomenclature? If so, we have a WFS available and I hope that @thareUSGS might reply with additional information about using the existing services.

What does the req

[2020-11-12 17:14] thareUSGS commented on #4120
While not restful our current WFS API should help. We are looking at upgrading the applications currently providing our WFS API (called Mapserver) to GeoServer. While GeoServer is not yet implemented for our nomenclature, but it does have the ability to support Restful calls, so this might be an eventual option.

Anyway, Mapserver, using the WFS API, can filter by a name or pattern. This page migh

[2020-11-12 19:29] adanecito commented on #4120
Thanks Trent I will take a close look and try them. As you mentioned I am not looking for the perfect solution just something good enough for people to use from within my app.
-Tony

    On Thursday, November 12, 2020, 9:15:03 AM PST, Trent Hare <notifications@github.com> wrote:

While not restful our current WFS API should help. We are looking at upgrading the applications currently providing our

[2020-11-12 20:12] jlaura commented on #4120
@adanecito I am going to close this issue on the ISIS repo since it sounds like you are looking for nomenclature. @thareUSGS Where do you suggest folks open issues related to the WMS?

[2020-11-12 20:12] #4120 closed, assigned to nobody

[2020-11-13 02:39] adanecito opened #4122 "Feature request for Rover and Drone positions"
**Description**  (Feature Request)
I would like to see the Curiosity and other rovers and drones path in a gpx or other forms of information. Years ago I used ISIS info to draw the path for Curiosity and I have attached a screen capture from my Android app so you can understand the why and what I did with that ISIS info. The image is from the MRO 5m/pixel for the landing sites. I would love a wms

[2020-11-13 13:19] jlaura commented on #4122
@adanecito Thanks for the detailed report. Unfortunately, ISIS is not a geographic information system (GIS). Additionally, we have very limited grounded sensor support (i.e., rovers). It looks like you are working on building a web application. I would expect to use ISIS for tasks like processing orbital image data that you are not able to locate processed already someplace else, applying a custom

[2020-11-13 13:19] #4122 closed, assigned to nobody

[2020-11-13 15:13] Kelvinrr opened #4123 "Missing coverage for Jigsaw"
**ISIS version(s) affected**: dev

**Description**

Some test coverage is missing from jigsaw:

1. Radar: Needs radar data, there might be some questions about how to ingest Radar data from an ISD into ISIS properly
2. Overhermite: Same issue as radar
3. Scconfig/ScconfigHeld: Instructions in the [test document](https://doimspp-my.sharepoint.com/:w:/g/personal/jmapel_usgs_gov/EWIb85aKSRtHrrlV8UYXO

[2020-11-13 16:32] #4038 closed, assigned to scsides

[2020-11-13 17:43] lwellerastro commented on #4123
Sorry if I'm taking anything out of context.

In regard to bullet 2, if you already have a test involving line scan images and a solution including spsolve=position (or other values), then you can set overhermite=yes.  Ideally you would have a network that has some ground points in it when solving for spacecraft.  If you have a Themis IR or CTX network for testing you might be able to satisfy 2.

[2020-11-13 22:29] jessemapel commented on #4123
We already have a radar dataset for the current radar test. I think the issue is how do we convert it into the format we are using for the new test images where we have an ISD and a cube label.

I agree with Lynn on overhermite, the radar dataset would be the best usecase for overhermite, but all it requires is a time dependent dataset that solves for position. We can use the existing LRO NAC data

[2020-11-14 04:26] jlaura commented on #4018
@AaronBoyd @espeyerer Did the proposed short term fix end up working for you? If so, would you be up for putting in a PR with the change?

[2020-11-14 11:56] chen-dimitry commented on #4119
@jessemapel Thanks for reply. Actually I've tried build both of them on my IBM machine but neither worked, e.g. Embree requires at least one of Intel-only extensions (like AVX).

Whatever I am not going to stick to this IBM stuff and try installing ISIS on other machine. Looking forward to updates on ISIS3's generalization 👍

[2020-11-16 03:58] scsides commented on #4067
NOTE: Unable to reproduce the libprotobuf error from Nov 6 on Mac 10.14 or 10.15 with fresh environments.

The TGO mission tests, not specific app tests, are currently producing slightly different results for the min/max lat/lon, resolution, ... mapping keywords for all version of Mac OS (13,14,15), requiring OS specific truth data for each one. This is concerning because the same is not true for

[2020-11-16 13:16] jessemapel commented on #4119
I'm going to close this as won't fix because IBM architecture seems to be incompatible with our third party dependencies at this point. If someone wants to provide support, then there will likely be significant changes that will need further discussion.

[2020-11-16 13:16] #4119 closed, assigned to nobody

[2020-11-18 14:27] scsides opened #4127 "qview measurement tool line option does not show line after releasing mouse button"
**ISIS version(s) affected**: 4.0.0 and up

**Description**

When using the measure tool with the line option on a Mac OS 10.14 system, the line disappears after the mouse button is released. This seems to work correctly on various Linux versions.

**How to reproduce**

Load an image
Activate the measure tool
Activate the line option
Mouse over the image
Click and hold MB1
Drag (the line draws and

[2020-11-18 19:35] oleg-alexandrov commented on #3430
For the record, this is elucidated in https://github.com/NeoGeographyToolkit/StereoPipeline/issues/275

[2020-11-18 20:02] jessemapel commented on #3430
Wow, locale errors are quite terrible. Thanks for the follow up @oleg-alexandrov

[2020-11-18 22:46] acpaquette opened #4129 "Ckwriter doesn't backout time bias."
**ISIS version(s) affected**: 4.3.0 (and likely older)

**Description**
Ckwriter does not remove the time bias on MOC NAC/WAC cubes when writing cks from MOC images. MOC is the only camera that applies a time bias to its instrument rotation, so it is the only camera that this applies to. When not taken into account the time bias is applied again when running spiceinit with the ck from ck writer.

[2020-11-19 16:27] Kelvinrr commented on #4067
TGO seems to be failing on all platforms as of NOV 14th: https://astroservices.usgs.gov/jenkins/job/ISIS-Nightly-Builds/job/dev/356/

[2020-11-19 17:16] #3828 closed, assigned to nobody

[2020-11-19 18:35] audiefen opened #4131 "de432s.bsp in isisdata/data/tgo/kernels/tspk/ is zero size (empty)"
**ISIS version(s) affected**: 4.1.0 and 4.0.x

**Description**
rsync'ing using either isis3data or isisdata modules results in an empty file being pulled over for /data/tgo/kernels/tspk/de432s.bsp

**How to reproduce**
rsync -azv --delete --partial isisdist.astrogeology.usgs.gov::isisdata/data/tgo/kernels/tspk/de432s.bsp .
or
rsync -azv --delete --partial isisdist.astrogeology.usgs.gov::isis3data/

[2020-11-19 19:15] jessemapel commented on #4131
I've updated the file both locally at the ASC and on isisdist.astrogeology.usgs.gov with the file from https://naif.jpl.nasa.gov/pub/naif/generic_kernels/spk/planets/. I'm not sure how the file got truncated, but it should be fixed now.

@kberryUSGS I don't think the automated download scripts will cause problems here, but I wanted to double check with you before I close this.

[2020-11-19 19:50] audiefen commented on #4131
Thanks @jessemapel!

[2020-11-19 23:13] #3860 closed, assigned to scsides

[2020-11-20 14:28] blandoplanet opened #4132 "Improved documentation for Jigsaw's Target Body solution"
**Description**
The Jigsaw application includes the capability to solve for target body parameters for global networks (pole RA/Dec, orientation, average/triaxial radii). This option is discussed briefly on the ISIS applications page (https://isis.astrogeology.usgs.gov/Application/presentation/Tabbed/jigsaw/jigsaw.html), which also points to a template for a pvl input file. However, I can't find a

[2020-11-20 15:32] jessemapel commented on #4131
Fix is still there, I'm going to close this.

[2020-11-20 15:32] #4131 closed, assigned to nobody

[2020-11-23 16:14] krlberry opened #4139 "Need developer documentation on updating isis3mgr_scripts"
**Description**
When the internal `isis3mgr_scripts` repo that contains the kernel update scripts is updated, it needs to get pulled down by-hand internally in a specific location to update the scripts run by cronjobs. This used to be an automated process prior to the move away from astrogit. (This could also probably be updated to be automated again, but if I remember correctly, there was some re

[2020-11-24 21:23] lavalaz commented on #4100
Finally had time to get back to this...
Looks like it is working this time.  Only issue is that I don't seem to have permission to set permissions on symlinks in the data area, but have not done enough testing yet to see if that is an actual problem.
Thank you!
Laz

[2020-11-24 21:23] #4100 closed, assigned to nobody

[2020-11-24 23:54] #4110 closed, assigned to nobody

[2020-11-25 00:23] korimac opened #4146 "Kaguya spiceinit not using correct InstrumentPosition kernel path"
**ISIS version(s) affected**: 4.2.0

**Description**
Running spiceinit with local kernels on a Kaguya TC_s_Level2B0 or TC_w_Level2B0 file fails with:

`**ERROR** Unable to initialize camera model.`

In the full output, the InstrumentPosition is not pointing to the correct location for the spk kernel:

[code]
Where that specific kernel is located in $kaguya/kernels/spk/ similar to the others, and I

[2020-11-25 00:42] jessemapel commented on #4146
This looks like a bug in the kerneldb file, it has the local path here at the USGS instead of a relative path.

@korimac For right now, can you paste the following into a new file at `$ISISDATA/kaguya/kernels/spk/kernels.0005.db`

[code]

[2020-11-25 00:47] jessemapel commented on #4146
I realized I can also just push the updated kerneldb to our rsync server! You can download that file by running `rsync -azv --delete --partial isisdist.astrogeology.usgs.gov::isisdata/data/kaguya/kernels/spk/ $ISISDATA/kaguya/kernels/spk/

[2020-11-25 00:50] korimac commented on #4146
Awesome - I was able to pull down the updated kernel from the rsync server, and now spiceinit is working! Thank you very much!!

[2020-11-25 00:52] #4146 closed, assigned to jessemapel

[2020-11-25 00:52] jessemapel commented on #4146
This looks like an issue that's been around for a while based on the existing kerneldbs so I'm glad you caught it!

[2020-11-25 19:00] krlberry opened #4147 "CaSSIS band-bin information not correct for re-ingested moasiacs"
**ISIS version(s) affected**: 4.2.0

**Description**
Reported via email.

Old wavelength values are being put into CaSSIS image headers:

Current values:

NIR 985.000000 nm 220.000000
RED 840.000000 nm 100.000000
PAN 675.000000 nm 250.000000
BLU 485.000000 nm 165.000000

Correct values:

PAN: wavelength - 677.4; bandwidth - 231.5
BLU: wavelength - 497.4; bandwidth - 134.3
RED: wavelength - 835.4;

[2020-11-30 20:03] scsides opened #4149 "isisdist (phx) is out of space"
**ISIS version(s) affected**: x.y.z
None

**Description**

update of rsync servers failed due to full disk

**How to reproduce**

**Possible Solution**

Most of the dirs are identical on the local volume. The exception being TGO. Find out why. this is ~= 100GB

**Additional context**

[2020-11-30 20:05] scsides commented on #4149
found extra kernels director and deleted it (112GB). Did the same to the FLG server too.

[2020-11-30 20:05] #4149 closed, assigned to scsides

[2020-11-30 22:23] lavalaz opened #4150 "mappt options greyed out"
**ISIS version(s) affected**: x.y.z
4.3.0 (2020-10-28)

**Description**

Most of the many options for _mappt_ are greyed out on the GUI (i.e., cannot be invoked/used).

**How to reproduce**

Start _mappt_ in GUI mode.
Look at the GUI.

**Possible Solution**

Allow full _mappt_ functionality to be accessed by the user. In particular, I need the ability to interrogate a specific lat/lon in a map-pro

[2020-12-01 15:33] scsides opened #4152 "IsisPreference file not updated when ninja runs again after editing it"
**ISIS version(s) affected**: x.y.z
All known

**Description**

The IsisPreference file in an existing build, and likely others like it, are not being updated after being edited in the source code.

**How to reproduce**

Situation:
Pull down dev and do a normal cmake and ninja.
Edit the IsisPreference file and save
Re-run ninja

Problem:
The IsisPreference file in the build does not get updated

*

[2020-12-01 16:20] jessemapel commented on #4097
@kberryUSGS Can you find out what version of ALE they have for each version of ISIS because I think there's something going on in ALE::load that is slower than it should be. Locally at the ASC we have ISIS4.1 -> ALE 0.7.2 and ISIS4.2 - > ALE 0.8.4

[2020-12-01 16:36] lwellerastro commented on #4097
I apologize if this is out of context, but I can confirm spiceinit is noticeably slower under 4.2.0 +, even on small framing camera files.

[2020-12-01 16:48] rheyd commented on #4097
@jessemapel You caught us just in time, we were about to delete our v4.1 installation and move on to 4.3 (Note, I haven't tested spiceinit under 4.3 yet...) Our current Isis installations are a straightforward install of the conda distributions.

I just took a look at what is installed in our Isis410 and Isis420 environments, and it mirrors what you have. Isis410 has libale.so.0.7.2 and Isis420 ha

[2020-12-01 21:06] #4150 closed, assigned to jessemapel

[2020-12-02 18:03] SPIFdmZPonterio opened #4160 "GitHub Tutorials Missing"
Many of the tutorials on this page are coming up "404 file not found". Anyone know what's happened to them?

[2020-12-02 18:12] jessemapel commented on #4160
Can you be more specific about where you are looking for the tutorials and which tutorials are erroring?

[2020-12-02 18:16] jessemapel commented on #4160
potentially duplicate of #4083

[2020-12-02 18:22] SPIFdmZPonterio commented on #4160
I'm clicking on the links on the right side of the wiki tab on this page under "Tutorials". The ones that aren't working are under the first two headings, "Fundamentals" and "General Image Processing", and they are: ISIS Cube Format, Core Base and Multiplier, Special Pixels, The Power of Spatial Filters, and Removing Striping Noise.

[2020-12-02 18:30] jessemapel commented on #4160
Actually a duplicate of #3441, I'm going to look into this but will be updating over there.

[2020-12-02 18:30] #4160 closed, assigned to nobody

[2020-12-02 19:59] jessemapel commented on #3441
Should be fixed now. The links within the github.io site will be incorrect until #4162 is merged.

[2020-12-02 19:59] #3441 closed, assigned to jessemapel

[2020-12-02 22:25] jessemapel commented on #4160
The links should all be fixed now

[2020-12-03 16:15] krlberry opened #4165 "libarmadillo failure when conda installing ISIS 4.2.0 on Jenkins"
**Description**
The automated test to check if ISIS can be installed using conda install is failing with a libarmadillo error (cannot find libarmadillo.so)

**How to reproduce**
Check re-run Jenkins job.

**Possible Solution**
Possibly moving libarmadillo into the hosts section?

**Additional context**

[2020-12-03 17:41] jlaura commented on #1473
@jessemapel  The above LROWAC issue is closed and this was labelled inactive a while ago. Is this still a high priority for a fix?

[2020-12-03 17:43] jlaura commented on #2988
@jessemapel We need additional information here about the what, the timeline, etc. This was closed because it was inactive and not percolating given other issues. Re-opening without additional information is not helping this percolate any higher in the queue.

[2020-12-03 17:44] jlaura commented on #3313
@kberryUSGS Can you get an RFC written for this under the continuous support. I would like to avoid the open-close merry-go-round without action.

[2020-12-03 17:45] jlaura commented on #3352
@kberryUSGS @jessemapel  What is the status of the OSX Qt build that should (?) fix this?

[2020-12-03 17:45] jlaura commented on #3371
@kberryUSGS @scsides Can we close?

[2020-12-03 17:46] jlaura commented on #3482
Added to the mission queue based on the comment from @victoronline.

[2020-12-03 17:49] jlaura commented on #3566
@jessemapel What is the status of the RFC for this issue?

[2020-12-03 18:11] scsides commented on #3371
The changes have been merged, and there are no outstanding comments. The author can reopen after a release comes out with the new feature.

[2020-12-03 18:11] #3371 closed, assigned to scsides, krlberry

[2020-12-03 18:54] blandoplanet commented on #3482
I like this idea, but in addition to the concerns raised by @lwellerastro and @jessemapel there are a few other challenges.

1. How do we let users know what kernels they've picked up? Or do we put the onus on the user to figure it out (I'm not in favor of this)?

2. How do we decide which smithed kernels to use? Do we only accept/default to smithed kernels from missions? Do we accept/default to s

[2020-12-03 20:25] scsides commented on #1473
It is still import to reduce some of the tech debt, and required to allow the calibration programs to work with direct access to the SPICE files.

[2020-12-03 23:47] krlberry commented on #1473
This issue (except for the parameter name standardization) will need to be fixed as part of the IAA project this year to get the calibration programs working without local spice data. Any ideas on how to mark this as an issue that will need to be fixed as part of a funded, but not yet scheduled project?

[2020-12-04 15:24] jessemapel commented on #4165
@kberryUSGS Can you link to the test job that it's failing on. I looked at the most recent and they are failing on not finding kakadu, not armadillo.

[2020-12-04 15:50] jessemapel commented on #3482
Re mike's comments:

1. We put in the labels and in the application logging the quality of the kernels that spiceinit loads. So, users should see if they are using predict/reconstructed/smithed kernels in their terminal/gui when they run spiceinit and then can see later on the cube labels. Building safe-guards into down-stream processing would be a lot of work and maybe not what you want to do. Fo

[2020-12-04 15:53] jessemapel commented on #3352
I've spent a few days trying to get the build environment using it, but haven't really made much progress. I originally though that getting off pinned python 3.6 for custom dependencies would solve it, but that spawned a whole new set of issues that I didn't get far on. This may be a good issue for someone to pick up during the coming support sprint.

[2020-12-04 15:55] jessemapel commented on #3566
I was incorrect about GCC4 support being for CentOS6, it was for CentOS7 which is still supported until 2024. I can continue working on an RFC, but I imagine the same institutions that were concerned about this before will be again. @KrisBecker Does LPL still run on CentOS7?

[2020-12-04 16:02] KrisBecker commented on #3566
Yes, here are the config tags:

CentOS Linux release 7.9.2009 (Core)

Using built-in specs.
COLLECT_GCC=gcc
COLLECT_LTO_WRAPPER=/usr/libexec/gcc/x86_64-redhat-linux/4.8.5/lto-wrapper
Target: x86_64-redhat-linux
Configured with: ../configure --prefix=/usr --mandir=/usr/share/man --infodir=/usr/share/info --with-bugurl=http://bugzilla.redhat.com/bugzilla --enable-bootstrap --enable-shared --enable-t

[2020-12-04 16:14] jessemapel commented on #2988
The BundleAdjust class (the core of jigsaw, deltack, etc.) doesn't have a unit test and is instead tested via the jigsaw test's application tests. It would be much better to test via unit testing because we could check things like setup without having to run the entire bundle. There is also a fair amount of logic that is used by IPCE's gui that is largely untested, with unit testing we could test

[2020-12-04 16:25] krlberry commented on #4165
@jessemapel Absolutely! The general job it's failing on is: https://astroservices.usgs.gov/jenkins/job/ISIS-Nightly-Builds/job/anaconda_tests/, and since I've been working on this a little bit, the most recent runs don't show the libarmadillo error, but this one does: https://astroservices.usgs.gov/jenkins/job/ISIS-Nightly-Builds/job/anaconda_tests/379/

[2020-12-04 16:45] krlberry commented on #4112
Fixed internally on internal github.

[2020-12-04 16:45] #4112 closed, assigned to krlberry

[2020-12-04 16:52] krlberry commented on #4165
I'm still working on this, but more information:
* Updating the Jenkinsfile to test ISIS 4.3.0 instead of ISIS 4.2.0 fixes the issue of the Jenkins job failing, but as per discussion in the standup, we should absolutely still be supporting installation of ISIS 4.2.0.

[2020-12-04 16:55] jessemapel commented on #4165
Likely related to #4108

[2020-12-04 16:58] krlberry commented on #4165
@jessemapel Yeah, definitely! I've modified the `meta.yaml` and am testing now.

[2020-12-04 17:13] #4041 closed, assigned to scsides

[2020-12-04 17:16] jessemapel commented on #4079
Looks fixed but there are other builds still hanging https://astroservices.usgs.gov/jenkins/job/USGS-Astrogeology/job/ISIS3/job/dev/113/flowGraphTable/

[2020-12-04 17:19] jessemapel commented on #4065
After some discussion, we've decided that we are not going to address this in the code as it is expected for the program to open many file handles when you open many files. So, we recommend users set their ulimit appropriately based on the data set that they are working with. If anyone can identify a specific area in the code that this is occurring as a bug please post on here and re-open.

[2020-12-04 17:19] #4065 closed, assigned to nobody

[2020-12-04 17:46] jessemapel commented on #3815
This should be done at the same time as #4060

[2020-12-04 17:58] jessemapel commented on #4097
I spent some time this week looking into this but haven't found a good solution. So, I'm going to push this to the dedicated support sprint. So here's the problem:

Between the different versions of ALE, many different drivers were added. Because of this, the try/fail/continue scheme that ale::load uses has grown slower and slower. Both of these are really issues in ALE and not ISIS. There are two

[2020-12-04 19:12] jessemapel opened #4168 "pixel2map documentation picture is dead"
**Description**

The example picture at the end of the pixel2map documentation that show the fullfov option is missing.

See: https://isis.astrogeology.usgs.gov/Application/presentation/Tabbed/pixel2map/pixel2map.html

The image links to https://isis.astrogeology.usgs.gov/Application/presentation/Tabbed/pixel2map/assets/image/IFOV_vs_FFOV.png which 404s.

**Suggested Edit**

Figure out where the p

[2020-12-05 00:02] rbeyer commented on #3482
While I don't think that smithed kernels that are in the ISIS kernel database would be considered "low quality" or "dangerous," sometimes they can be ... specialized, or only applicable under certain circumstances.  The problem is that while "predict" and "reconstructed" are fairly solid, understandable categories, there are really a lot of gradations in "smithed."  Sometimes, smithed kernels are

[2020-12-05 00:20] jessemapel commented on #3482
Maybe we really need a better way to specify the default for spiceinit. Some type of per missions kernel set similar to meta-kernels. That way we can set the safer to use smithed kernels to default and not the more specialized kernel sets. @rbeyer remindeds me that the New Horizon's smithed kernel set is rather specialized and you can shoot yourself in the foot with it.

[2020-12-07 15:31] jessemapel commented on #4060
OCams data can be found at the small bodies node: https://sbn.psi.edu/pds/resource/orex/ocams.html we will likely need to check that we support the latest release of data in the ingestion and sensor model.

[2020-12-08 08:32] gengxun-rs opened #4177 "spiceinit failed for OSIRIS-REx OCAMS .cub images"
When I used spiceinit to initialize the .cub images derived from OSIRIS-REx OCAMS raw data, it reported errors as follows:

Group = Kernels
  NaifFrameCode             = -64360
  LeapSecond                = $base/kernels/lsk/naif0012.tls
  TargetAttitudeShape       = ($base/kernels/pck/pck00009.tpc,
                               $osirisrex/kernels/pck/bennu_v15.tpc,

[2020-12-08 14:13] jessemapel commented on #4177
Hi, this is a duplicate of #4060. We're looking into adding the ORex kernels which should resolve this problem.

[2020-12-08 14:13] #4177 closed, assigned to nobody

[2020-12-08 16:35] rbeyer opened #4178 "Question about pvl implementation in notebooks"
Hey, @AustinSanders and @kaitlyndlee I noticed #4159 the other day, and read through the notebooks, and had some questions.

I noticed that you implement a `RealIsisCubeLabelEncoder()` class which provides an override of the `encode_time()` function, but I cannot figure out what that does differently from the default `pvl.encoder.PVLEncoder()` that `pvl.encoder.ISISEncoder()` inherits from, so I'm

[2020-12-08 16:52] dbolan opened #4179 "spice server possibly failing to find moc_kernels.????.db"
**ISIS version(s) affected**: 3.9.1

**Description**
Sorry in advance for leaving this here as it might be a support question, but astrodiscuss suddenly isn't letting me log in from my IP address for some reason...
Me and a colleague have started running into an issue processing LROC images with spiceinit where we get the following error:
[code]
I'm assuming that this is an issue with the spice se

[2020-12-08 17:01] jessemapel commented on #4179
@dbolan The MOC in the kerneldb name is not for the MOC instrument but just the prefix naming convention for the CKs that provide the orientation of the LRO spacecraft frame (ie moc42r_2020274_2020306_v01.bc).

I'm not sure why the spiceserver can't find this data anymore, it's there locally on our systems and on the rsync server. I'll take a look at where the server is mounting the data from.

[2020-12-08 17:25] jessemapel commented on #4149
@scsides What exactly did you remove? It looks like the isis3data also has some extra kernels in it. That's in term causing #4179

[2020-12-08 17:25] jessemapel commented on #4179
Unfortunately, the spiceserver ran out of space to hold the data! We're working to get it upgraded with more storage now. It is highly likely that this will impact other users processing data from other missions.

[2020-12-08 17:48] AustinSanders commented on #4178
@rbeyer I've messed around with it a little more this morning, and we can definitely just remove the "RealIsisCubeLabelEncoder" in favor of pvl's implementation of ISISEncoder().

The code was originally written ~1 year ago, and I remember running into an error (which I can neither remember nor replicate) that was _seemingly_ resolved with the implementation of the "RealIsisCubeLabelEncoder."  I t

[2020-12-08 17:51] rbeyer commented on #4178
Ah, yes, I was in the middle of the `pvl` re-write a year ago, who knows what was going on then?  Alright, I just wanted to check and see if there was anything else that needed adjusting in the `pvl` codebase.  Thanks!

[2020-12-08 17:51] #4178 closed, assigned to nobody

[2020-12-08 22:23] jessemapel opened #4183 "Credits page should redirect to authors/zenodo file"
**Description**

The [credits page](https://isis.astrogeology.usgs.gov/documents/Credits/Credits.html) on the website is likely out of date.

It is also very likely that people cited as contributors on the credits page are not listed in the authors or zenodo file.

**Suggested Edit**

The credits page should instead point to our new authors file or zenodo file. Alternatively, we could re-render it

[2020-12-08 22:25] jessemapel opened #4184 "References page should point to latest zenodo release"
**Description**

Our website has a page that says [how to cite ISIS](https://isis.astrogeology.usgs.gov/documents/References/References.html), unfortunately it was last updated in 2013.

**Suggested Edit**

The page should cite the zenodo for different releases of ISIS.

Thanks!

[2020-12-08 22:28] jessemapel opened #4185 "Disclaimers page and user rights pages need to be updated"
**Description**

The website has a page of [disclaimers](https://isis.astrogeology.usgs.gov/documents/Disclaimers/Disclaimers.html) and a page of [User Rights](https://isis.astrogeology.usgs.gov/documents/UserRights/UserRights.html) that are out of date.

**Suggested Edit**

These need to be updated in-line with #3741. We could also link to our license file on github.

Thanks!

[2020-12-09 00:19] lwellerastro commented on #4111
An incorrect MeanRadiusValue in the target body pvl was causing this failure.  It turns out that in addition to Jupiter's satellite Europa the is an asteroid named (52) Europa and I picked up its radius value by accident.  Argh!  But I can solve for target body now, so yay!

[2020-12-09 16:07] jessemapel commented on #4111
There should probably be a better error message here. It may be worth looking into how this snowballs into a non-positive definite matrix.

[2020-12-09 17:09] lwellerastro commented on #4111
ok, that's fair.  Plus it might lend some insight into the mystery of what it is actually doing.

The mean radius of the asteroid 157500.0 meters and 1560800 meters for Europa, so perhaps starting at a value that was really beyond the reality of the target made it puke.

[2020-12-10 07:18] nschorgh commented on #3725
Have the same problem with version 4.3.0.

**ERROR** The Spice Server was unable to initialize the cube.  The error reported was: No existing files found with a numerial version matching [moc_kernels.????.db] in [/work1/work2/isis3/isis/../data/lro/kernels/ck].

[2020-12-10 15:54] jessemapel commented on #3725
@nschorgh Your error is likely the same as #4179. We're working on a solution for it now.

[2020-12-10 21:21] lwellerastro commented on #3685
Hi, I was just revisiting the data in my original post and it appears to still have the problem I posted.

I'm working in 3.10.2.  It's been so long I can't remember testing this, but I assumed it worked when this post was closed.  Should I expect it work under 3.10.2 or only under a version of isis4?

How to reproduce
qview /archive/projects/lmmp/rdr/SAB/Mosaic/LRO_NAC_Mosaic_60S200E_50cmp.cub
Cl

[2020-12-10 21:24] jessemapel commented on #3685
Last 3.X release was in April, this was fixed in June so it is only available in 4.1.1 and later

[2020-12-10 21:25] blandoplanet opened #4193 "Jigsaw's solution for target body parameters (triaxial shape and mean radius) are inconsistent with radii triangulated during the bundle"
**ISIS version(s) affected**: 3.10.* (haven't tried older/newer versions)

**Description**
Brief Summary:
When we solve for target body parameters (in this cases for a global Europa control network) in jigsaw the resulting triaxial shape (a, b, c radii) and the mean radius are inconsistent with the triangulated radii of the tie points derived during bundle adjustment of the same control network.

[2020-12-10 21:30] jessemapel commented on #3685
It's not reproducing in ISIS4.2.0 as expected, gonna close this.

[2020-12-10 21:30] #3685 closed, assigned to jessemapel

[2020-12-10 21:38] lwellerastro commented on #4193
We used isis3.8.1 for Enceladus.

[2020-12-10 22:07] jessemapel commented on #4193
There haven't been significant changes to Jigsaw between 3.8.1 and 3.10 so I doubt it is a bug. The target body code in particular hasn't been touched in many years.

Thank you for the extensive documentation and explanation on this. It will likely take some detective work to figure this one out.

[2020-12-10 23:07] jessemapel commented on #4132
I am struggling with how much of this should be specific to the target body solution.

The bundle adjust solves for the target body parameters the same way it solves for the image parameters, by minimizing the error between the measured control point locations and the back projected control point locations in each image. The difference between the two sets of parameters is just how the partial der

[2020-12-10 23:42] jessemapel opened #4196 "Adding support for Community Sensor Model 3.0.3 to ISIS"
**Description**

I would like to be able to use a CSM 3.0.3 RasterGM model instead of an ISIS::Camera to perform image processing. This won't cover all use cases in ISIS as there are fundamental differences that cannot be bridged (for example CSM doesn't expose internals of the camera like focal plane coordinates). An acceptable minimal functionality would be running campt and returning as many va

[2020-12-14 15:38] jessemapel commented on #4179
This should be resolved now. I'm working to switch the spice server over to a system with more storage and there may be intermittent issues for the next few days but they shouldn't last more than a few minutes.

[2020-12-14 15:38] #4179 closed, assigned to jessemapel

[2020-12-14 16:41] jessemapel commented on #4040
This is probably due to the spiceinit app conversion not properly adding a history entry. For reference here's the old code: https://github.com/USGS-Astrogeology/ISIS3/blob/53af27e53c06fb38d7cadcfc1b5754c1be3baf45/isis/src/base/apps/spiceinit/main.cpp

[2020-12-14 16:52] jessemapel commented on #4082
I'm giving this a bump to see if there's any community input, I'm looking to close this by the end of the year, if there's no significant feedback before then I am going to close this off and we'll start work in Spring

[2020-12-14 16:56] jessemapel commented on #4001
Even though this is a data area change, I'm labeling this for 4.3.1 because we do push out kernel updates in between releases so this can go out whenever.

[2020-12-14 16:59] jessemapel commented on #3796
#4108 should fix this issue

[2020-12-14 17:00] jessemapel commented on #3795
with more testing the data area and test data area do not need to be specified but we should be able to programmatically check if we can find kakdu and then set JP2KFLAG based on that. It should still report to the user if it is supporting Kakadu or not for debugging purposes.

[2020-12-14 21:54] jessemapel commented on #3584
Obsolete as of #4163

[2020-12-14 21:54] #3584 closed, assigned to nobody

[2020-12-15 01:40] michaelaye opened #4199 "Recommended `channel_priority=strict` breaks package resolution"
**ISIS version(s) affected**: x.y.z

4.3

Only tried with 4.3, but most likely all ISIS versions are affected.

**Description**

As of `conda` version 4.6, [a channel priority resolver option "strict"](https://docs.conda.io/projects/conda/en/latest/user-guide/tasks/manage-channels.html#strict-channel-priority) speeds up package resolution dramatically, but does break older environment files like `

[2020-12-15 01:42] michaelaye commented on #4199
I suggest updating the installation instructions to warn users about this until the environment works with a strict resolution policy.

[2020-12-15 14:47] jessemapel commented on #4199
This should be resolved by getting off our own custom builds for dependencies because we can then remove the usgs-astrogeology channel and go purely off conda-forge.

Until then, I agree we should add a warning to the installation instructions not to use strict channel priority.

[2020-12-15 14:49] jessemapel commented on #4025
@astrostu @lwellerastro Was there a resolution to the discussion of if this is a good idea?

[2020-12-15 16:33] jessemapel commented on #4044
This issue has been up for a while and we haven't gotten any more posts about this, is this something that is still happening for folks? I've been running spiceinit over the web on Mac with dev builds and it hasn't happened for me, both on and off the DOI VPN.

If this is something you have run into recently please post on here with details about how to reproduce.

[2020-12-15 16:43] jessemapel commented on #3948
I'm going to table this out of the ASC's support work because this is a part of a bigger redesign that needs to happen for the website. We could take the process step by step, but I think this is such an important page that I don't want to modify it without considering the rest of the website.

[2020-12-15 17:04] krlberry commented on #4165
This issue was bigger than I could tackle during continuous support. Here is some information about what I tried and found out:

In the `meta.yaml`, I tried moving armadillo to the `hosts` section, but then `gsl` started failing (cannot find libgsl.so). Then I moved `gsl` to the hosts section and something else started failing... and so on. After this, I just moved _everything_ to the hosts sectio

[2020-12-15 17:06] jessemapel commented on #3683
This is a large change that needs to happen as part of a bigger re-do of the website, see my comments on #3948

[2020-12-15 17:08] jessemapel commented on #4053
@elena-rom Sorry we haven't gotten back on this issue. We're working through some troubles with the installation environment (see #4165). I would like to get back to this after we've resolved those and see if it fixes this too. Has anything changed on this? Do you have the same issue with ISIS 4.3.0?

[2020-12-15 17:10] jessemapel commented on #4034
After more discussion we're going to close this in favor of #1986. Basically the amount of work required to add an exception is low, but the amount of work to make this just work isn't that much more.

[2020-12-15 17:10] #4034 closed, assigned to nobody

[2020-12-15 17:18] krlberry commented on #4108
This issue was too big to tackle during continuous support. I tried moving everything that ISIS links against into the hosts section of the `meta.yaml` (and removing the `run:` requirements as if I understood it correctly, the run section should be automatically populated by the `run_exports` from the host packages) as suggested by the issue Jesse linked to and it results in the isis package at: h

[2020-12-15 17:34] AaronBoyd commented on #3553
Thank you for the clarification

[2020-12-15 17:34] #3553 closed, assigned to nobody

[2020-12-15 17:48] AaronBoyd commented on #3555
We will have to do some more extensive testing and get back to you.

[2020-12-15 17:52] jessemapel commented on #3555
@AaronBoyd Thanks for getting back to us, all we need a dataset and command line to reproduce this so we can look into it more.

[2020-12-15 18:00] AaronBoyd commented on #3554
Thank you for the testing suggestions, we will be testing more extensively coming up this , but we have not done this yet as we have a few work-arounds.

[2020-12-15 18:08] victoronline commented on #1473
This is still active.

[2020-12-15 18:12] victoronline commented on #3711
This is still active.

[2020-12-15 18:19] jessemapel commented on #1473
@victoronline We have a specific funded deliverable to do this, so it won't be scheduled in the support meeting today but we will internally schedule it to be worked sometime this fiscal year.

[2020-12-15 19:50] jessemapel opened #4200 "Add a warning to ocam2isis that the model is out of date"
**Description**

The OSIRIS REx Image Processing Working Group has done extensive work to improve the OCAMs camera models. While they are working to contribute those changes back to the public release of ISIS, we should add a warning on ocams2isis that the camera model may not work well for highly precise processing such as color registration or millimeter scale mosaics.

As the improvements to th

[2020-12-15 19:51] jessemapel commented on #4200
I need to go over some documents that I have to collect the known errors and get a sense of their magnitude. I should have it ready before work starts.

[2020-12-15 20:52] jessemapel commented on #4060
After more discussion, the latest kernels need to be checked with the latest image data. There is likely some amount of issues with the IAK and the camera model that will need to be addressed.

For whomever works on this, I have some makedb scripts and kerneldbs from the mission team that should be useful.

[2020-12-15 23:03] jessemapel commented on #3882
Fixed by #4004

[2020-12-15 23:03] #3882 closed, assigned to kaitlyndlee

[2020-12-16 04:28] nschorgh commented on #3725
This works now. Thanks!

[2020-12-16 08:18] astrostu commented on #4025
I think we agreed that it is a good idea.  The discussion ended up being more about specific implementation of how I'm doing things in my workflow, not whether this, in principle, is a good nor bad idea.

[2020-12-16 14:02] blandoplanet commented on #4193
Some historical context from Brent Archinal (may or may not be useful):

"The original algorithm was developed by Tim Colvin and Mert Davies at Rand for their software, which after being transferred here became the ISIS2 randlsq program.  (Although unfortunately they had not apparently not implemented it at the time of Tim’s publication of the software description at https://www.rand.org/pubs/note

[2020-12-16 18:37] jessemapel commented on #4193
@blandoplanet I looked at the document you posted and it doesn't appear to be solving for target radii. It seems to only solve for target rotation parameters, sensor parameters, and point parameters.

[2020-12-16 19:14] acpaquette opened #4203 "AssertPvlGroupEqual comparison not failing when groups are not equal"
**ISIS version(s) affected**: 4.1.0 (and upward)

**Description**
The PVLGroup comparison assert correctly compares groups but fails to actually report the failure in the test.

**How to reproduce**
- Create a copy of a PVLGroup in some test
- Modify it in some capacity (Remove a keyword, add a keyword, change a keywords value etc.)
- Run the assert in the test
This should result in the two groups

[2020-12-17 16:09] Kelvinrr opened #4206 "Inconsistent Test Names"
**ISIS version(s) affected**: dev

**Description**

Some Functional tests' .cpp files names are off from what they are supposed to be (FunctionalTests<AppName>.cpp)

1. `CamptFunctionalTests.cpp` needs to be renamed to `CamptFunctionalTests.cpp`
2. `cnetcheckFunctionalTests.cpp` needs to be renamed to `FunctionalTestsCnetcheck.cpp`
3. `FunctionalTestCampt.cpp` needs to be renamed to `FunctionalTes

[2020-12-17 20:29] krlberry commented on #4165
Here is the meta.yaml I tried that failed to solve the problem and resulted in the build as described in the previous comment:
And to review, _just_ moving over libarmadillo to hosts did not solve the problem.

[code]

[2020-12-17 20:39] krlberry commented on #3815
This script is internal. To update it, see `downloadHayabusa2Kernels` at: https://code.chs.usgs.gov/asc/isis3mgr_scripts/

To update the nightly-running script, you'll need to clone this repo, make the change, put a PR in on code.chs, get it merged, and then pull down the changes internally to the location the scripts are run from for the isis3mgr crontab.

[2020-12-17 20:42] jessemapel commented on #3645
The incomplete code that produced the above results can be found here: https://github.com/jessemapel/ISIS3/tree/phoslope

[2020-12-18 19:17] acpaquette opened #4213 "Thm2isis not properly propagating cube attributes"
**ISIS version(s) affected**: 4.3.0 (and likely much older)

**Description**
Thm2isis is not propagating cube attributes applied to the output cube.

**How to reproduce**
Take any Themis image, VIS or IR.

Run the following:
`Thm2isis from=/Path/to/input/Themis.img to=/Path/to/output/cube.cub+16bit`

The resulting output cube will have a Real bit type rather than a Signed Word bit type.

**Possibl

[2020-12-21 16:25] jessemapel commented on #4060
[osirisrex.tar.gz](https://github.com/USGS-Astrogeology/ISIS3/files/5725338/osirisrex.tar.gz)

The attached tarball has the osirisrex data area configuration from @KrisBecker in it. You'll want to use the kernel.db and makedb files located inside the kernels directories alongside the downloaded kernels. The scripts in there are for more complex kernel management that you can take a look at too.

[2020-12-21 18:34] kaitlyndlee commented on #3815
@kberryUSGS PR is up and ready for review

[2020-12-21 19:42] jessemapel commented on #4200
Current known errors from OREx IPWG work that have been fixed in their version but not in the public version:

* Focal position dependent distortion for the PolyCam model is not implemented
* The current distortion is out of date, software changes are needed to use the OpenCV based distortion in the latest IKs
* The Struct SPK is not being used which accounts for the positions of the instruments r

[2020-12-22 14:53] #1986 closed, assigned to kaitlyndlee

[2020-12-22 14:54] #4200 closed, assigned to Kelvinrr, robotprogrammer22

[2020-12-22 15:45] kaitlyndlee commented on #4040
When I run spiceinit without web=true, I get a history entry on both mac and linux, but when I run with web=true, I do not get a history entry on both. Is this the same behavior you are seeing?

[2020-12-22 21:49] kaitlyndlee commented on #4127
I tested this on my mac on 10.14.6, and the line is still visible after I release MB1. Does this still happen on your machine?

[2020-12-22 23:10] Kelvinrr commented on #4060
@jessemapel Kernels are in using @KrisBecker's makedb scripts and kernel.db files. Where would be the best place to get the new images? I'm sure I asked this before and forgot to write it down...

[2020-12-22 23:16] jessemapel commented on #4060
@Kelvinrr You can get data from the Small Bodies Node: https://sbn.psi.edu/pds/resource/orex/ocams.html

[2020-12-22 23:18] Kelvinrr commented on #4060
@jessemapel Thats what I figured, thanks.

[2020-12-22 23:18] jessemapel commented on #4060
I would recommend data from orbit b or recon b

[2020-12-22 23:40] KrisBecker commented on #4060
If you want to let me know which images you select, I will run phocube and caminfo in our system to provide a relative comparison.

[2020-12-23 21:34] Kelvinrr commented on #4060
@KrisBecker Full caminfo from `20190608T005825S208_map_iofL2pan.cube` derived from https://sbnarchive.psi.edu/pds4/orex/orex.ocams/data_calibrated/orbit_b/20190608T005825S208_map_iofL2pan.fits

[code]

[2020-12-23 21:35] Kelvinrr commented on #4060
I imagine we can close this out with a PR setting the default IsisPreferences to point to the new data area? Is there a justification for keeping the old data_local path?

[2020-12-24 00:44] KrisBecker commented on #4060
I would perhaps keep the local directory in some archive. It might be useful for historical regression testing or comparisons.

But you need to update IsisPreferences to the correct path in the ISIS distribution. We have `OsirisRex    = $ISIS3DATA/osirisrex`.

[2020-12-24 01:21] KrisBecker commented on #4060
@Kelvinrr Below are the basic commands that I believe you ran on the OCAMS MapCam image take during Orbit B phase:

[code]

Here is the caminfo output. Note UA/ISIS version is not adding the oblique emission/detector angles:

[code]

However, more accurate geometry be achieved using a Bennu shape model provided in the PDS SPICE Archive. These shape models are included in the download configuration

[2020-12-24 04:01] KrisBecker commented on #4060
BTW, here is the kernel configuration on the UA/ISIS system for 20190608T005825S208_map_iofL2pan.cub that produced the ellipsoid results:

[code]

[2020-12-28 16:19] scsides commented on #4127
Yes it is still a problem for me. Might be a 10.15. Might also explain why we haven't seen anyone else report it.

[2020-12-28 17:07] kaitlyndlee commented on #4127
@USGS-Astrogeology/developers Can anyone with a Mac try to reproduce this bug?

[2020-12-28 17:43] #4040 closed, assigned to kaitlyndlee

[2020-12-28 18:22] kaitlyndlee opened #4222 "Hayabusa2 Download Script failing with a 403 Forbidden Error"
**ISIS version(s) affected**: x.y.z
Not a part of the ISIS repo, lives in https://code.chs.usgs.gov/asc/isis3mgr_scripts/

**Description**

The cron jobs that run the downloadHayabusa2Kernels script has been failing because of a 403 Forbidden error.

**How to reproduce**

You can run the script locally by setting the `-d` flag with a local data area.
Example command: `./downloadHayabusa2Kernels -d

[2020-12-28 18:23] #3815 closed, assigned to kaitlyndlee

[2020-12-28 18:58] scsides commented on #4127
@kaitlyndlee, Just rebuilt and tried it again. The lines are now showing up. No idea what changed. Happy if it got closed as unreproducible.

[2020-12-28 19:19] #4127 closed, assigned to nobody

[2020-12-29 16:35] robotprogrammer22 commented on #4018
For testing, two ideas I came up with are
- checking that both edge values are in the same pixel
- checking that the expected value is returned for both edges of the pixel

[2020-12-31 16:21] #4147 closed, assigned to kaitlyndlee

[2020-12-31 16:22] #4132 closed, assigned to nobody

[2020-12-31 16:22] #4193 closed, assigned to nobody

[2020-12-31 19:49] AustinSanders commented on #4097
The slowdown was addressed in ALE [PR 395](https://github.com/USGS-Astrogeology/ale/pull/395).  A new version of ALE has been released, so as long as the environment is built with the latest version of ALE, this fix should be in place.

[2020-12-31 21:39] AustinSanders commented on #3711
We weren't able to address the optimization problem this sprint, but we were able to spend some time digging into it.

Based on some profiler runs, it looks like the majority of the time is spent in ProcessMosaic::BandPriorityWithNoTracking, which contains a set of 3 nested for loops.  It looks like Fx uses a BandCalculator to perform its computations, which is where the optimizations are happenin

[2021-01-01 04:16] michaelaye opened #4231 "Installation procedure: Copy conda activation/deactivation scripts to other envs"
**Description**

The instructions describe how one can  manually copy the init scripts to other conda envs.
This can be cumbersome and scary for new terminal users.
It would be good if this could be scripted.

[2021-01-02 08:52] lifeiteng commented on #4067
same error in https://github.com/deepmind/reverb/pull/24

[2021-01-04 22:37] ladoramkershner opened #4235 "GetSN Returning 'Unknown' for KaguyaTC images"
**ISIS version(s) affected**: x.y.z
4.2.0

**Description**

running `getsn from=/scratch/kaguya/cubs/TC1W2B0_01_06933S609E1582.cub` or on any other cube in the cubs folder. Returns `Unknown`. If I switch to 3.9.0, then it works as expected.

**How to reproduce**

run `getsn from=/scratch/kaguya/cubs/TC1W2B0_01_06933S609E1582.cub` with isis4.2.0 active

**Possible Solution**

@scsides believes it i

[2021-01-04 23:14] scsides commented on #4235
The original serial number translation file is located in: OLD_ISIS_DATA_AREA/kaguya/translations/kaguyaSerialNumber0001.trn

[2021-01-04 23:16] krlberry commented on #4235
Yeah, it looks like Kaguya's translation files weren't updated correctly during that version tick. A couple of things need to be updated to fix this:

First, the old Kaguya serial number translation file, `OLD_ISIS_DATA_AREA/kaguya/translations/kaguyaSerialNumber0001.trn` needs to be copied to each of the following file names:
* KaguyaTcSerialNumber.trn
* KaguyaMiSerialNumber.trn
and these files n

[2021-01-05 19:22] AndrewAnnex opened #4237 "Evaluate OpenJPEG 2.3/2.4 replacement for kakadu"
**Description**
In the past 2 years, JP2 support has improved in the open source OpenJPEG project, with a _very_ recent [2.4.0 release](https://www.openjpeg.org/2020/12/28/OpenJPEG-2.4.0-released) further improvements were made thanks to funding from ESA for Copernicus Sentinel-2. Since OpenJpeg is already a dependency, maybe kakadu/the JP2 support in ISIS could be refactored to use OpenJpeg inste

[2021-01-05 20:03] jessemapel commented on #4237
We have to have some extra stuff in our build system and the development environment to support Kakadu, so if openjpeg provides a good (read fast) replacement then I am all for this.

[2021-01-05 20:16] jessemapel commented on #4237
Currently, ISIS falls back to the QT default of Jasper for JPEG2000 support when Kakadu is not supported. We could add a QT plugin for OpenJPEG if we want to use it instead.

[2021-01-06 00:11] jlaura opened #4240 "Duplicate serial numbers for some data sets"
**ISIS version(s) affected**: <=4.3.0

**Description**
This a reporting of an issue original reported here: https://github.com/USGS-Astrogeology/PDS-Pipelines/issues/512#issuecomment-754951546

The issue is that two different Clementine (in this case) images produce the same ISIS serial number when serial numbers should be unique.

Here is a pair of Clementine HiRes EDRs that yield the same serial

[2021-01-06 00:15] jlaura commented on #4237
@thareUSGS Have you done any recent testing of JP2K support in these OS libraries? Any thoughts on this request?

@audiefen @artmathgirl Have you all tried any other libraries for non-proprietary jp2k support of HiRISE data?

[2021-01-06 00:23] jlaura commented on #4231
@michaelaye I realized after the fact that I just added comments onto the commit that you linked to the issue. I hope that that is okay with you. I thought I was on a PR to this repo!

[2021-01-07 16:18] scsides commented on #4067
It has been suggested that these module tests be changed to be not so sensitive to minor changes in ground to image and/or image to ground (causing the DN to change). One way to do this is to remove the offending output cubes at the end of the test, so that DNs are not compared. To better test the results, we can add a campt run to the end of the test. The campt run should take a list of points sc

[2021-01-11 19:47] audiefen commented on #4237
@jlaura I asked around with our developers. It's been a few years since anyone has investigated other libraries here at HiRISE.

[2021-01-11 21:48] AndrewAnnex commented on #4237
mostly an anecdote, but I was able to run `gdalinfo -hist` on a file I had laying around (ESP_062584_2030_RED.NOMAP.JP2) on a mbp laptop with gdal 3.2.1 (openjpeg 2.3.1), and it was able to run and finished in 220 seconds, but Jasper for a older version of gdal just printed an error saying it couldn't even read the file at all. I don't believe openjpeg will be faster than kakadu, but at least it w

[2021-01-11 22:09] thareUSGS commented on #4237
@AndrewAnnex time aside, was the histogram the same across OpenJpeg and Kakadu? We should run some tests like that using each driver to make sure they are numerically the same (before changing). I have used OpenJpeg quite a bit, but not for a critical workflow yet.

[2021-01-12 01:03] AndrewAnnex commented on #4237
@thareUSGS I don't think I know of a way of directly using the kdu utils to calculate a histogram, or I don't the ability to compile gdal with kakadu to test the jp2kak driver directly, I could use the utils to convert to geotiff then compare the histograms directly that way?

[2021-01-12 01:42] thareUSGS commented on #4237
@AndrewAnnex I have an older build of GDAL with kakadu we can use. Actually if you have an older 64bit linux OS sitting around, this old build (w/ Kakadu) should still work: ftp://pdsimage2.wr.usgs.gov/pub/pigpen/GDAL/

What we use to do before Anaconda...

[2021-01-12 16:11] blandoplanet opened #4254 "Make new Galileo and Voyager SPICE kernels for Europa available"
**Description**
The USGS has generated new ck for Galileo, Voyager 1, and Voyager 2 images of Europa as well as an accompanying pck. It would be great to include these such that a user could simply use the cksmithed=true flag in spiceinit. The requirement that the proper (i.e., new) pck is also picked up may complicate this.

An additional question is timing. We are still working on the metadata a

[2021-01-12 16:55] lwellerastro commented on #4254
More specifically:

Galileo SSI:
/archive/projects/europa/Kernels/Galileo/galssi_eur_usgs2020.bc
/archive/projects/europa/Kernels/Galileo/pck00010_msgr_v23_europa2020.tpc

Voyager 1:
/archive/projects/europa/Kernels/Voyager1/vg1_eur_usgs2020.bc
/archive/projects/europa/Kernels/Voyager1/pck00010_msgr_v23_europa2020.tpc

Voyager 2:
/archive/projects/europa/Kernels/Voyager2/vg2_eur_usgs2020.bc
/archi

[2021-01-12 21:35] scsides commented on #4240
@dpmayerUSGS, Proposed solution needs to be examined further. I could be missing something, but the labels of both images indicate they are from the HiRes camera. Unless there is an operating mode I'm not aware of, it is impossible for one instrument (as defined by ISIS) to take two images at the same time. That being said, looking at the labels suggests they are the same image, one is encoded as

[2021-01-14 16:57] KrisBecker commented on #3566
Greetings...

Wanted to provide an update on OS support as we received some information from our High Performance Computing (HPC) admins. They will be upgrading to and standardizing UA compute clusters on CentOS7. Here is the rationale:

IBM surprised the world by announcing CentOS8's conversion into Stream (thanks 2020). Stream will constantly evolve and thus require more frequent OS updates beyo

[2021-01-14 17:30] dpmayerUSGS commented on #4240
I [wasn't confident](https://github.com/USGS-Astrogeology/PDS-Pipelines/issues/512#issuecomment-754951546) that this was a reportable issue to ISIS in the first place.

This may be an error or undocumented "feature" of the Clementine archive. The 2 example products from HiRes have distinct PDS product IDs, and their labels indicate that they have different values for FRAME_SEQUENCE_NUMBER. Accordi

[2021-01-14 19:19] jlaura commented on #4240
Given the discussion, I am going to close as not a bug.

[2021-01-14 19:19] #4240 closed, assigned to nobody

[2021-01-14 19:25] jlaura commented on #4254
I used the thumbs up, but also want to post that this would be of high value to me.

[2021-01-15 20:25] krlberry opened #4256 "PushFrame camera model needs GetLocalNormal calculation to stay within the correct framelet"
**ISIS version(s) affected**: all, 4.3.0 and earlier.

**Description**
The push frame camera model needs to be updated to keep the calculation of the local normal within the correct framelet. As part of the calculation, 4 points at (+/- 0.5 sample/line) are selected around the point to calculate the local normal at. For push frame imagers, the +/- 0.5 offset can result in a point outside of the fr

[2021-01-19 17:47] lwellerastro commented on #4254
Hi - I have to add some images to the network and will be re-writing the kernels sometime later this week.  I won't touch what is currently in the directories mentioned so feel free to see what's there and think out the process if you need to, but know that what's there will be replaced.  Sorry for any inconvenience.  I'll update this post when I have replaced the kernels.

[2021-01-19 18:56] ericepalmer opened #4257 "Hayabusa2"
**ISIS version(s) affected**: 3

**Description**

During the review of the Hayabusa 2 ONC data, ISIS is not currently configured to accept Hayabusa2 data.
From the review....

I find https://github.com/USGS-Astrogeology/ISIS3/blob/dev/isis/src/hayabusa2/apps/hyb2onc2isis/hyb2onc2isis.xml
and there are description that input file for the hyb2onc2isis
should be PDS3 label file or FITS file.
Therefor

[2021-01-19 19:05] jessemapel commented on #4257
@ericepalmer This seems to be two issues:

1. Supporting the PDS4 labels for Hayabusa2
2. Updating hyb2onc2isis to use the new SPCECRFT value

Do you have links to the data that was used to check these things? In particular I am interested in the PDS4 labels.

[2021-01-20 16:52] jlaura commented on #4254
@lwellerastro Thanks for the info and congrats on the product! I would anticipate that we get these into the system during the next mission/product support sprint to be scheduled sometime in March. So absolutely no timeline pressure on our side.

[2021-01-20 20:23] blandoplanet commented on #4254
Any chance these can be put into the system sooner under the continuous support task?

[2021-01-20 21:12] scsides commented on #3627
This is being looked at as an import piece for an FY22 task and should not be closed as inactive

[2021-01-22 19:35] jessemapel commented on #1300
These are broken again

[2021-01-27 17:33] jlaura opened #4262 "Remove ISIS3.6.0 from Anaconda Cloud"
I am writing to start a discussion about removing ISIS 3.6.0 from Anaconda cloud in order to free up space for new file uploads. ISIS 3.6.0 was our first release via anaconda and included the full docs. Therefore, the Mac and linux builds are 212MB and 425MB, respectively. These release have generated a total of 127 downloads. I am not able to see when the most recent download of ISIS3.6.0 was, bu

[2021-01-27 19:21] jessemapel commented on #4262
ISIS 3.6.0 is in a weird spot because it is after the last rsync'able version (3.5.2) and before the last ISIS3 version (3.10.2). I think it can be safely removed from anaconda.

ISIS 3.6.1 and ISIS 3.6.2 are still available and have fairly minor changes compared to 3.6.0 if someone wants 3.6.X.

[2021-01-30 19:53] AndrewAnnex commented on #4262
Could an archive of the artifacts be hosted internally for history/emergency use, or until the USGS hosts their own channel (ie via [quetz](https://github.com/mamba-org/quetz)) In short I think it is a very bad practice for versions to disappear, even though the probability of this negatively effecting anyone is very low.

[2021-01-31 19:49] lwellerastro commented on #4235
Any idea when this might be addressed?  The data from the JAXA online portal can only be ingested under isis4 and serial numbers will be necessary for control.  I realize we have some old versions of the data on /scratch to potentially work with, but from my assessment of one small polar area, there are a lot of missing files in the local directory that are available online.  It would be best to w

[2021-01-31 21:43] jessemapel commented on #4262
@AndrewAnnex We have copies of the conda-build tarballs from all of the builds from 3.6.0 on saved and backed up so if there is a need for it, we can provide the tarball. I doubt we would be able to host our own Conda package server specifically for this.

[2021-01-31 21:47] AndrewAnnex commented on #4262
Oh to be clear the reason to self host would be to avoid the space limitations of hosting on anaconda cloud and institutional independence, not just for hosting this specific version.

-Andrew Annex

[2021-02-02 15:52] jessemapel commented on #4256
This is effectively a finite difference approximation of the surface. In that context, the correct solution would be to do a central difference unless one of your points would fall outside of the domain (e.g. a framelet); in that case you would a one-sided difference. Here's a more concrete example:

Let's say we have 16 line framelets, if we are finding the local normal at line 8, then we can eas

[2021-02-04 20:28] jlaura commented on #4235
Product / Mission Support sprints will be scheduled sometime in March. For the continuous support folks - is this something that could be addressed under your work?

[2021-02-04 21:32] ladoramkershner commented on #4235
I would like to up vote this.. I don't know if I can do that, since I am the original author, but oh well!

[2021-02-04 21:36] jessemapel commented on #4235
This seems like a very small amount or work that Kristin already outlined. I think it'd be a good one to just knock out now.

[2021-02-04 21:39] scsides commented on #4235
This could easily fit in a constant support one day task (if all goes well)

[2021-02-05 16:56] wterryf opened #4271 "ISIS 4.4.0 installation issue"
**ISIS version(s) affected**: 4.4.0

**Description**
I'm having trouble installing ISIS 4.4.0 via conda.

**How to reproduce**
I created a new anaconda environment and activated it. I did the usual conda install command:

conda install -c usgs-astrogeology isis

After solving the environment, it offers to install the 4.3.0 version. I've tried this off and on for the last week and on both Linux and

[2021-02-05 17:14] rbeyer commented on #4271
https://astrodiscuss.usgs.gov/t/isis-version-4-4-release-delayed/600

[2021-02-05 17:47] jessemapel commented on #4271
As Ross pointed out, the 4.4.0 public release isn't out yet. If you are having issues installing it once it's release please re-open this issue.

[2021-02-05 17:47] #4271 closed, assigned to nobody

[2021-02-07 17:05] rbeyer opened #4274 "activate scripts written by isisVarInit.py should always have absolute paths"
**ISIS version(s) affected**: 4.all

**Description**
If you mistakenly provide a relative path to any of the optional arguments to isisVarInit.py, those relative paths will be written into the generated activation scripts.  This results in unexpected behavior, as the various ISIS environment variables should be fully-resolved, absolute paths, not relative ones.

**How to reproduce**
[code]
The res

[2021-02-08 15:21] jessemapel commented on #4082
No more comments to so I'm closing this out.

[2021-02-08 15:21] #4082 closed, assigned to jessemapel

[2021-02-08 21:20] lwellerastro commented on #4254
FYI - the kernels have recently been updated and sync'd to locations specified above.  All set for ingestion into the data area when that happens.

[2021-02-09 18:29] jessemapel commented on #3079
This is important for proper processing of the OSIRIS-REx PolyCam data set.

@KrisBecker Is this something you've already implemented?

[2021-02-09 18:29] jessemapel commented on #3079
The IK codes for the PolyCam instrument can be see in the IK [here](https://naif.jpl.nasa.gov/pub/naif/pds/pds4/orex/orex_spice/spice_kernels/ik/orx_ocams_v07.ti).

[2021-02-09 18:34] jessemapel opened #4280 "Add unit test for OSIRIS-REx SamCam"
**Description**

Now that the OSIRIS-REx mission has gone to Bennu and collected a sample, we should add a unit test for SamCam.

This is a continuation of work discussed under #4221

**Example**

This can match the existing PolyCam and MapCam instruments from #4221 and #4060

@KrisBecker Can you point us to a good SamCam image for this?

[2021-02-09 19:00] KrisBecker commented on #3079
@jessemapel yes, the UA/OREX OCAMS camera model supports all these focus position codes/IDs. Version 10 of the IAK I included in the OREX SPICE kernel support/release provides the full configuration for all the focus positions the team has chosen to potentially use. We have not come near using all the different focus positions. The majority of the PolyCam images released to the PDS has only a few

[2021-02-09 19:51] KrisBecker commented on #4280
Try this one: https://sbnarchive.psi.edu/pds4/orex/orex.ocams/data_calibrated/sample_collection/20200414T224222S022_sam_radL2pan5.fits

[2021-02-09 20:09] KrisBecker commented on #4280
Important note: The SamCam orientation (TRANS/ITRANS) and focal length from IAK v10 is updated. v10 may work OK for the SamCam in ISIS4. I can also provide some caminfo/phocube output for confirmation if needed.

[2021-02-10 14:42] #4274 closed, assigned to nobody

[2021-02-11 15:02] jlaura commented on #4262
ISIS3.6.0 has been removed from anaconda cloud.

[2021-02-11 15:02] #4262 closed, assigned to nobody

[2021-02-12 01:56] michaelaye opened #4287 "defunct `convert` in ISIS environment?"
**ISIS version(s) affected**: 4.3.0

**Description**

Trying to use ImageMagick's `convert` a seamingly defunct convert popped up on my ISIS path:

[code]
and I think it's broken, because the standard `convert` spits back its docs when called naked?

**How to reproduce**

* install isis conda env
* activate isis env (or add its bin to path)
* find the convert on above path

**Possible Solution**

[2021-02-12 15:15] jessemapel commented on #4287
This isn't an ISIS application, it seems to be coming from a dependency somewhere. I'd say it's probably safe to delete.

I'm leaving this open as a question about if it's safe to delete, but this is likely an issue with an upstream package.

[2021-02-12 15:38] michaelaye commented on #4287
Not sure I understand upstream? Is this not the right place to create an issue with the Isis conda env?  Do you have an extra repo for that?

[2021-02-12 15:50] jessemapel commented on #4287
By upstream I mean a package that is a dependency of ISIS. One of the packages that ISIS depends on is adding that to the conda environment bin. It would be reasonable to figure out how to work around it here, but we can't fix it here because it's coming from another package.

If we can figure out what package is adding it then we should post an issue over on their feedstock/repo/bug tracker.

[2021-02-12 17:37] michaelaye commented on #4287
Got it. You think it’s part of some package you actually need so you can’t just kick out that whole dependency.

--
Michael Aye
LASP / CU Boulder

On Fri, Feb 12 2021 at 08:50, Jesse Mapel < notifications@github.com > wrote:

[2021-02-12 17:52] jessemapel commented on #4287
Okay, I did some searching and discovered you can figure out what package a file belongs to by searching `$CONDA_PREFIX/conda-meta/*.json` for the file path.

So, grepping for `bin/convert` in there indicated that it's coming from the embree package.

I dug a little more into that and it turns out it's just a tutorial executable. You can safely delete it. I'll also make an issue over on the feedst

[2021-02-12 18:43] michaelaye commented on #4287
Cool thanks!

--
Michael Aye
LASP / CU Boulder

On Fri, Feb 12 2021 at 10:53, Jesse Mapel < notifications@github.com > wrote:

[2021-02-15 20:03] rbeyer opened #4290 "hi2isis does not properly convert MRO:ADC_TIMING_SETTINGS label from .IMG to .cub file"
**ISIS version(s) affected**: at least 3.9+

**Description**
HiRISE EDR .IMG files have an `MRO:ADC_TIMING_SETTINGS` in their `INSTRUMENT_SETTING_PARAMETERS` group.

When ISIS `hi2isis` runs, the resulting value of `ADCTimingSetting` is always the value `-9999` regardless of the original value in the EDR file.

**How to reproduce**
Pick any HiRISE EDR, run `hi2isis`.

**Possible Solution**
I suspe

[2021-02-16 14:42] jessemapel commented on #4290
This is also present in the test data for hi2isis. I suspect this is a case of it always being incorrect, but no one noticing.

[2021-02-19 18:11] erentar opened #4297 "Segfault on qview"
**ISIS version(s) affected**: 4.4.0, 4.3.0, possibly earlier as well

**Description**
I've followed [the installation instructions on github](https://github.com/USGS-Astrogeology/ISIS3/blob/dev/README.md#Installation), and get this:
[code]
**How to reproduce**
see above

**Additional context**
will provide more information as required.

[2021-02-19 18:23] jessemapel commented on #4297
Thanks for posting this over here. Can you post your environment and what operating system you are using?

[2021-02-19 20:29] scsides opened #4299 "hyb1pds4gen adds extra "<" on description"
**ISIS version(s) affected**: 4.0 and up

**Description**

On Mac OS hyb1pds4gen adds an extra opening "<" in the output xml label on the description line. See the Mac OS specific truth data in application test amicaitokawa2diof for an example.
**How to reproduce**

Run the test and diff the truth with the output. Not the OS specific truth.

**Possible Solution**

**Additional context**

[2021-02-19 20:35] scsides commented on #4299
NOTE: the other tests are doing the same thing. They will need to be updated too once the problem is fixed.

[2021-02-19 20:45] erentar commented on #4297
Linux 5.10.0-1-amd64 #1 SMP Debian 5.10.5-1 (2021-01-09) x86_64 GNU/Linux
Gnome 3.38.3 X11

[2021-02-22 16:23] jessemapel opened #4302 "Iterative Locus tracing in CSM camera model"
**Description**

Section 5.2 of the CSM 3.0.3 API document talks about how the imaging locus is approximated. The imaging locus is the set of points in 3d space that an image coordinate could map to, E.G. the ray starting at the focal point of a pinhole camera and extending in the direction of the look vector. Because it was designed for earth based imagery, CSM has to take into account things lik

[2021-02-22 17:13] krlberry opened #4303 "ISIS Calibration Programs could be updated to run without local spice"
**Description**
Update ISIS calibration programs to work without local spice, so it is possible to run calibration programs without downloading mission-specific kernels. In this scenario, it would be possible to run spiceinit using the Spice Server and then be able to run calibration programs, all without downloading kernels. At this time, this is not possible for many different calibration progra

[2021-02-23 17:21] jessemapel commented on #4297
Can you share your conda environment? Use `conda list` to get it.

Also, can you try running another GUI app like qnet or qmos and see if it crashes.

[2021-02-23 18:02] erentar commented on #4297
[code]

Both qnet and qmos also segfaults.

[2021-02-24 21:53] jlaura commented on #4257
@ericepalmer Just want to reach out because we have a dedicated chunk of support time coming up. Do you have links to the data that we can use to reproduce?

[2021-02-24 21:55] jlaura commented on #4196
@jessemapel Is this closable as per your minimum example, or should this be expanded with an enumerated listing of the capabilities that could/should be exposed?

[2021-02-24 22:57] jessemapel commented on #4196
Done with #4291 There's more support to be added but I'll open other issues for them

[2021-02-24 22:57] #4196 closed, assigned to nobody

[2021-02-24 23:20] ericepalmer commented on #4257
The data have not been archived yet (soon). I think we could get permission to release a few images for testing.

Carol,
Can you help with this?

Thanks
Eric

Mistyped by my phone

[2021-02-25 16:09] jlaura commented on #4257
What is the anticipated release date for these data? That information is important to understand how this work might be prioritized. If the data are not publicly available, we would not anticipate a large user base requiring this modification in the short term.

[2021-02-26 16:09] otherorb opened #4324 "With new calibration knowledge, hical needs an update to (or alternative to) its dark current correction (ZeroDark) module."
**ISIS version(s) affected**: All

**Description**
The ISIS3 hical program was written early in the MRO mission, before it became necessary to increase the operating temperature of the HiRISE instrument to improve image quality and reduce problematic hardware behaviors as the instrument has degraded over time.  Dark current (thermal noise) in the HiRISE CCDs increases exponentially with temperatur

[2021-02-26 16:47] rbeyer commented on #4324
In case there is any question, the work on the otherorb fork/branch mentioned above is being carried out under the auspices of the HiRISE Calibration Team, such that the to-be-PRed code represents not only the best practice (which honestly is the only thing that should matter here), but also happens to be the desire of the instrument team.

Sincerely,
- Ross Beyer (HiRISE Co-I)
- Ken Herkenhoff (H

[2021-02-27 21:10] thareUSGS commented on #4237
related to this topic, there is a 2016 forked version of OpenJpeg, called Grok, which has started making its way into GDAL. As it has a AGPL license (not "friendly" for commercial use), it may only become optional as a external library (if at all). Long thread to read about it here: https://github.com/OSGeo/gdal/pull/3449

Funny to see HiRISE Jp2s used for their benchmark testing. :-).

summary be

[2021-02-28 06:00] otherorb commented on #4324
I realize the "How to reproduce" section in the original issue is somewhat lacking in useful information. I've attached a gif that might help better illustrate the issue. This is a comparison between: the raw image (no calibration---to illustrate one of the main calibration challenges); the existing calibration result (hical run to the point of removing the dark current); and the proposed update t

[2021-03-01 16:00] jessemapel commented on #4237
It sounds like OpenJPEG is going to be significantly slower then :(

[2021-03-01 16:25] jessemapel commented on #4324
Is this available anywhere? I'm not sure how to help out with any of this without the new correction and a description of how it's going to be implemented.

[2021-03-01 16:30] rbeyer commented on #4324
Thanks for being willing to help, and we may need it, but we're not asking for external help ... yet.  @otherorb and I are starting to work the problem in the designated fork/branch, I think I properly assigned us to this Issue.  Our intent is to work this from our side.  If we encounter no difficulties, we'll just PR it (yay).  However, if we run into issues, then we'll post them here and solicit

[2021-03-01 17:48] AndrewAnnex commented on #4237
maybe it's just me, but depending on the exact situation, 2x slower for grok (the worst case from above) isn't that bad. The memory usage is more concerning but it also depends on the exact numbers again. I guess the question is where is jpeg2000 used in ISIS currently? It seems like only 3 tools mention it directly (isis2std, std2isis, apollopaninit), so I imagine the slowdowns would occur in tho

[2021-03-01 18:04] thareUSGS commented on #4237
If they had implemented the 32bit floating point support (which is part of the JP2 spec), I might be much more interested in continuing to support the use of JP2. But there is enough stuff happening under the hood for GeoTiff (COG, WebP, LERC, Sparse tiles) and other formats for me to allow JP2 to slowly go away. When HiRISE is migrated to PDS4 (which currently doesn't allow JP2), that might be JP

[2021-03-01 18:25] AndrewAnnex commented on #4237
that's important context @thareUSGS, are you also saying that rather than using openjpeg you are open to dropping JP2 entirely rather than supporting it through a slower library?

[2021-03-01 19:08] rbeyer commented on #4237
The decision for HiRISE to use jp2k was made more than 15 years ago, when the possibilities for what JP2K could become were still unknown.  I'd have to agree with Trent that they are largely unrealized, and that there are other reasonable file format options that don't have the software development hurdles that jp2k does.

One of the advantages of jp2k to the HiRISE team was its ability to "stream

[2021-03-01 19:47] AndrewAnnex commented on #4237
@rbeyer so it sounds like the impact of this change (for hirise) would be pretty much limited to people running std2isis on derived products from hirise? From what I can tell, it sounds like openjpeg (or grok, license permitting) could be used to retain compatibility with pds3 hirise products, albeit with a speed reduction.

Do you have a sense for how deleterious this could be, beyond the slowdow

[2021-03-02 00:01] rbeyer commented on #4237
From time to time, HiRISE learns something new about the instrument, and we adjust the calibration process.  Typically when this happens, HiRISE engages its computing cluster to "reprocess" all (yes, all) of the PDS-delivered derived data products.  Since there is a conversion to jp2k at the end of every one of those pipelines, for every HiRISE derived product (which is some multiplier against the

[2021-03-02 00:10] thareUSGS commented on #4237
@rbeyer sorry this is getting to be a long thread. Correct me if I am wrong, doesn't HiRISE use an external program to convert the "final" cube to JP2? So if this proposed update only impacts ISIS's use of Kakadu, I don't see the impact to the HiRISE pipeline? Maybe if you are coming back from JP2K to ISIS?

I recall this was a separate application (maybe even in JAVA), since that is how the use o

[2021-03-02 00:44] rbeyer commented on #4237
Look at me assuming things.

You are right.  Whew, the real answer is messier than I thought (see below--if you dare!), but the upshot is that no, no HiRISE pipelines actually do run std2isis which would use the jp2 library in ISIS.  So my objection is moot!

For products that are not map-projected that need to be converted to jp2, HiRISE runs a Perl program which runs `isis2raw` and then `kdu_com

[2021-03-02 02:28] jlaura commented on #4237
This has been a fun conversation to watch evolve. Thanks to everyone that has participated! Here are my thoughts on what I would like to see before a PR came in for a change (or alongside a PR understanding that the PR would not be merged until the below was completed and discussed broadly).

Given the potential impact of this change (outside of the discussion about the HiRISE processing pipeline)

[2021-03-02 17:40] lwellerastro commented on #3575
Sorry, I should have checked other versions first. I'm working under isis4.0.0 because serial numbers are not available for Kaguya TC under newer versions and noticed cnetcombinept doesn't have a log parameter.  This functionality was added sometime after isis4.0.0 so I can't use it at the moment.  Bummer.

[2021-03-02 17:40] #3575 closed, assigned to jessemapel

[2021-03-02 22:06] lwellerastro opened #4330 "Kaguya TC Camera Model Issues"
**ISIS version(s) affected**: 4.0.0 and higher
Needing to work in 4.0.0 to get serial number access to build a network but have confirmed that 4.4.0 produces the same campt error.

**Description**
I have a handful of image measures that are failing the lat/lon check via cnetcheck.  Although I can view the measure sample/line and latitude/longitude information in qnet without failure, other program

[2021-03-02 23:04] jessemapel commented on #4330
Could be a lot of things. I would guess the distortion model not working correctly. Maybe there's a singularity or something that throws the result wildly off.

Also +1 to this causing the qnet geom warp issues.

[2021-03-03 17:41] lwellerastro commented on #4330
I ran camtest on all of sites images and 66 of the 306 images have camtest failures, though some images have only a few failed pixels.
The images also span all flavors of the available data and are not restricted to a particular type.

[2021-03-03 19:50] lwellerastro commented on #4330
I'm having a look at my dataset in qnet and keep coming across these weird artifacts via the point editor that I have never seen before and they do not exist in the image data.  Could this be related to the issues surfaced by this post or is this something I should post separately?
![Qnet_WeirdPattern](https://user-images.githubusercontent.com/34550733/109863487-ece18d80-7c1e-11eb-9616-5577667b9d0

[2021-03-03 22:56] lwellerastro opened #4333 "About Qview Documentation file cannot be found"
**ISIS version(s) affected**: 4.0.0

**Description**
The link for "About Qview" fails.

`Firefox can’t find the file at /usgs/cpkgs/anaconda3_linux/envs/isis4.0.0/doc/Application/presentation/PrinterFriendly/qview/qview.html.`

This was in my shell:
[code]
Some other folks tested on their end and they didn't even get a pop up with any sort of message, so it's not just an internal thing as I was in

[2021-03-03 23:07] lwellerastro commented on #4333
Possibly a separate post, but there are broken images on the qview online documentation: https://isis.astrogeology.usgs.gov/Application/presentation/Tabbed/qview/qview.html

[2021-03-04 15:59] jessemapel commented on #4333
This is likely caused by the documentation not being bundled in with the release anymore. I'm not very familiar with the Qapp about code but it probably needs to be updated to point to our website instead of a local file.

[2021-03-04 17:16] jessemapel opened #4337 "Some cubes have invalid History BLOBs"
**ISIS version(s) affected**: Tested under 4.4.0 & dev @ a2154a0877d14e9212e978b6d62645d0d9645137 but this has more to do with what the cube you are using was processed with.

**Description**

Some of the history entries generates by various applications had/have issues where they are not PVL compliant and thus cannot be converted into a PVL object. This currently occurs when running cathist on th

[2021-03-04 17:53] jlaura commented on #4337
@jessemapel What is the timeline for making this decision?

[2021-03-04 17:59] lwellerastro commented on #4337
I'm definitely not for solution 4.  We can't get rid of existing history entries.  I literally depend on history entries to help me understand how old data were processed when there are no notes or print.prt files associated with cubes.  We must keep history entries.

That only leaves options 2/3.  I tend to use mode=brief the most because I usually just want executed commands, not all the other d

[2021-03-04 18:15] jessemapel commented on #4337
@jlaura We have to move forward with something in <1 week on this. We can come back and modify the functionality later though. For example we can get us to the current functionality under the BLOB work right now and then modify cathist to work with these things later.

[2021-03-04 18:19] jessemapel commented on #4337
I agree with this, but I want to point out that this will only happen for Cubes where you currently cannot access the Histories via cathist. Cubes with invalid History on them continue to have entries added to them, but that data is currently inaccessible outside of blobdump. The vast majority of cubes will be unaffected by this.

[2021-03-04 18:24] lwellerastro commented on #4337
Thanks for clarifying @jessemapel.

I may have run into this problem on a handful of occasions and I guess I just moved on because it didn't seem like there was anything I could do about it.  Looking back at the links you supplied to old posts having history entry problems was useful and it's clear only certain types of applications may create an issue.

[2021-03-04 22:33] KrisBecker commented on #4330
Hi @lwellerastro, I can report we have seen the same behavior in older versions of ISIS. I had also thought this was due to the use of tessellated plate models (DSK in NAIF), but we still had (camtest) failures in tests with ISIS Cube DEMs. However, when we tested PCK target body ellipsoids we did not see any failures. If you haven't done so yet, I would look carefully at your DEM at those ground

[2021-03-05 16:42] jlaura commented on #4060
@Kelvinrr Is this work completed?

[2021-03-05 16:51] shawn-brueshaber opened #4341 "qnet will not open a .lis"
**ISIS version(s) affected** 3.6. MacOS

**Description**
Attempting to use qnet and it keeps throwing an error about the list:

Error processing cube list.
**USER ERROR** Can't open or invalid file list [/Users/shawnrb/Desktop/Red_list.lis].
**USER ERROR** FileName [RED_A09.cub] can not be added to serial number list.
**USER ERROR** Invalid serial number [Unknown] from file [RED_A09.cub].

I have

[2021-03-05 17:07] rbeyer commented on #4341
I think I've run into something like this.  Does your Red_list.lis file end with the "b" in RED_C11.cub, or is there a "carriage return/linefeed" character after it?  If not, trying putting one there.  If you're creating this file programmatically, you might be putting and end-of-line characters between the elements, but not after the last one.

[2021-03-05 17:14] shawn-brueshaber commented on #4341
Hi,

No, this doesn’t appear to be the problem.  I literally created a new list file and made certain there were carriage returns after each entry.  No dice.

Thanks,

-Shawn

From: Ross Beyer <notifications@github.com>
Reply-To: USGS-Astrogeology/ISIS3 <reply@reply.github.com>
Date: Friday, March 5, 2021 at 12:07 PM
To: USGS-Astrogeology/ISIS3 <ISIS3@noreply.github.com>
Cc: "Brueshaber, Shawn (US

[2021-03-05 17:36] lwellerastro commented on #4341
Hi @shawn-brueshaber, qnet is specifically complaining about not being able to access/construct a serial number for your image.  Qview does not require this information but control network programs do.  This sounds like a problem with the data area.  Could you run the program getsn and let's us know what your results are.  If it is "Unknown" then key files are missing.  I won't be able to help you

[2021-03-05 17:36] jessemapel commented on #4341
It looks like it cannot create a serial number for the image, do you have your data area downloaded properly? Check that `$ISISDATA/juno/translations/junoSerialNumber0001.trn` exists. It could be that you downloaded the ISIS 4 data area which does not contain these translation files, they were moved into the distribution.

See the [Readme](https://github.com/USGS-Astrogeology/ISIS3/blob/dev/README

[2021-03-05 17:39] shawn-brueshaber commented on #4341
Hi Jesse,

That file is there.  Contents are:

ObservationKeys = 4
Group = Keyword1
  Auto
  InputKey       = SpacecraftName
  InputGroup     = "IsisCube,Instrument"
  InputPosition  = (IsisCube, Instrument)
  OutputName     = Keyword1
  OutputPosition = (Group, SerialNumberKeywords)
  Translation    = (*, *)
End_Group

Group = Keyword2
  Auto
  InputKey       = InstrumentId
  InputGroup     = "Is

[2021-03-05 17:43] shawn-brueshaber commented on #4341
Hello,

I got an “unknown” on running that command.  I do have the  file $ISISDATA/juno/translations/junoSerialNumber0001.trn right where it is supposed to be.

Thanks,

-Shawn

From: lwellerastro <notifications@github.com>
Reply-To: USGS-Astrogeology/ISIS3 <reply@reply.github.com>
Date: Friday, March 5, 2021 at 12:36 PM
To: USGS-Astrogeology/ISIS3 <ISIS3@noreply.github.com>
Cc: "Brueshaber, Shawn

[2021-03-05 19:51] jessemapel commented on #4341
@shawn-brueshaber Can you post the label from the first image?

[2021-03-05 20:47] lwellerastro commented on #4330
Well that is certainly part of the problem.  There is a pretty massive spike in the DEM near this location that mostly corresponds to the failures coming out of camtest and the campt failure above.  Darn.  I'm using one of the high resolution polar LOLA DEMs.  I guess I had better look at other resolution/coverage versions since there seem to be more than a few dings in the one I am using.

I have

[2021-03-05 21:03] shawn-brueshaber commented on #4341
Hi Jesse,

The first is JNCE_2020154_27C00007_V01_RED_0007.cub and the second is JNCE_2020154_27C00007_V01_RED_0012.cub. I’ve tried using these names and tried simpler ones such as RED7 and RED12.

Both cubs are generated by junocam2isis on JNCE_2020154_27C00007_V01.LBL and then running spiceinit on them.  Here are the contents of said label file:

PDS_VERSION_ID                = PDS3

/* FILE CHA

[2021-03-05 21:33] KrisBecker commented on #4330
You could use phocube to generate backplanes derived from the DEM (e.g., local emission angle) or fx to create a radius plane at the resolution and observation/orientation characteristics of the images. You would look for odd features/anomalies at areas in the resulting backplanes that correlate with your problem points.

You might run a noise/std filter over the DEM to help smooth out some of the

[2021-03-05 21:33] jessemapel commented on #4341
Can you post the cube label from RED_A09.cub?

[2021-03-05 21:34] shawn-brueshaber commented on #4341
I’m not sure what you mean “post the cube label.”  Can you describe how to go about doing that?

Thanks,

Shawn

From: Jesse Mapel <notifications@github.com>
Reply-To: USGS-Astrogeology/ISIS3 <reply@reply.github.com>
Date: Friday, March 5, 2021 at 4:33 PM
To: USGS-Astrogeology/ISIS3 <ISIS3@noreply.github.com>
Cc: "Brueshaber, Shawn (US 3222)" <shawn.r.brueshaber@jpl.nasa.gov>, Mention <mention@nor

[2021-03-05 22:40] jessemapel commented on #4341
Run the catlab program on the Cube file to get the Cube label, we don't use the original PDS labels, we transfer most of keywords to a new label that we also add some extra data to.

[2021-03-05 23:05] shawn-brueshaber commented on #4341
Hi Jesse,

Ok, I ran catlab on the two cubes I mentioned.  The files are attached.

Thanks,

-Shawn

From: Jesse Mapel <notifications@github.com>
Reply-To: USGS-Astrogeology/ISIS3 <reply@reply.github.com>
Date: Friday, March 5, 2021 at 5:40 PM
To: USGS-Astrogeology/ISIS3 <ISIS3@noreply.github.com>
Cc: "Brueshaber, Shawn (US 3222)" <shawn.r.brueshaber@jpl.nasa.gov>, Mention <mention@noreply.github.

[2021-03-06 00:55] Kelvinrr opened #4345 "Vikcal gives different results based on OS"
**ISIS version(s) affected**: 4.x.x

**Description**

Vikcal produces several coefficients as part of the calibration routine and they differ between OSes. See: https://github.com/USGS-Astrogeology/ISIS3/blob/dev/isis/src/viking/apps/vikcal/CalParameters.cpp#L341

Linux:
A: -8.6736173798840401e-18
B: -1.0740377771184499e-18
C: 1.1926223897340501e-18
D: 1.6872896309305699e-18

MacOS:
A: -1.73472347

[2021-03-08 04:04] jessemapel commented on #4341
@shawn-brueshaber I can't see the attachments. You may need to respond on Github directly.

[2021-03-08 13:25] shawn-brueshaber commented on #4341
[catlab_RED_0012.txt](https://github.com/USGS-Astrogeology/ISIS3/files/6101615/catlab_RED_0012.txt)
[catlab_RED_0007.txt](https://github.com/USGS-Astrogeology/ISIS3/files/6101616/catlab_RED_0007.txt)

[2021-03-08 16:19] jessemapel commented on #4341
Here's the issue:

[code]

Is looking for the keyword FrameletNumber on the cubes, but they have FrameNumber. It looks like this was changed in https://github.com/USGS-Astrogeology/ISIS3/commit/556ca197336b495a1b3bcfd76b0147f50fe5c73e but the serialnumber translation didn't get changed.

@shawn-brueshaber For right now, replace

[code]

with

[code]

in $ISISDATA/juno/translations/junoSerialNumber

[2021-03-08 16:30] shawn-brueshaber commented on #4341
Ok, made the change and I’m still getting the same error.

From: Jesse Mapel <notifications@github.com>
Reply-To: USGS-Astrogeology/ISIS3 <reply@reply.github.com>
Date: Monday, March 8, 2021 at 11:19 AM
To: USGS-Astrogeology/ISIS3 <ISIS3@noreply.github.com>
Cc: "Brueshaber, Shawn (US 3222)" <shawn.r.brueshaber@jpl.nasa.gov>, Mention <mention@noreply.github.com>
Subject: [EXTERNAL] Re: [USGS-Astrog

[2021-03-08 16:43] KrisBecker commented on #4060
Hi @Kelvinrr, @jessemapel, et al...

Just wanted to let you know that the OREX team has [released](https://pds.nasa.gov/datasearch/subscription-service/SS-20210305.shtml) more data to the PDS, including kernels.

This update provides kernel coverage through 2020-08-17.

It should be a very simply process to add these kernels to ISIS using the kernel maintenance script. Just rerun with the OREX PDS

[2021-03-08 16:49] jessemapel commented on #4341
That was all I needed to do for getsn to work with your cube labels in 4.4.0. Can you double check that your translation file looks like the attached translation file (except with .trn as the extension). You can also try installing ISIS 4.4.0 and then modifying the same file at `$ISISROOT/appdata/translations/JunoJunoCamSerialNumber.trn`.
[JunoJunoCamSerialNumber.txt](https://github.com/USGS-Astro

[2021-03-08 17:09] shawn-brueshaber commented on #4341
The file name was the problem.  I took JunoJunoCamSerialNumber.trn and dropped it into the appropriate directory.  There was no such file name there, only JunoSerinalNumber0001.trn.  Qnet now allows me to select the list I want.

[2021-03-08 21:09] erentar commented on #4297
running the following fixes the problem:
[code]
does not appear to be a problem with ISIS itself.

[2021-03-08 21:09] #4297 closed, assigned to nobody

[2021-03-08 21:22] jessemapel commented on #4297
Great to here you found a solution, let us know if this crops back up somehow.

[2021-03-11 19:12] lwellerastro commented on #4330
The issues I have been seeing are likely due to the DEM which is really bad news for me since these data only intersect a very small portion of it.  I imagine it full of blunders.

I found time to reprocess my images setting spiceinit shape=ellipsoid.  There are no lat/lon failures from cnetcheck (using the same network as my original post) and there are no camtest failures.

I've added some files

[2021-03-12 23:06] csedwar opened #4356 "spiceinit issues"
I'm not sure why this isn't working. Is this an environment issue? the MissionName2DataDir.trn appears to have the appropriate data in it to make this translation.

[cedwards]$ wget http://static.mars.asu.edu/pds/ODTSDP_v1/data/odtir1_0006/i066xxrdr/I06638006RDR.QUB

[cedwards]$ pds2isis from=I06638006RDR.QUB to=I06638006.lev1.cub
pds2isis: Importing
100% Processed

[cedwards]$ spiceinit from=I066

[2021-03-12 23:22] csedwar opened #4357 "webspice issues"
**ISIS version(s) affected**: 4.4.0

**Description**
Webspice does not return valid kernels for all images.  This piggybacks on to another problem which I believe pds2isis for themis images is not properly working in isis 4.4.0 (see associated ticket spiceinit issues #4356).  The images below processed to level1 with isis3 and then run with spiceinit for isis3 or 4 with webspice enabled.

**How to

[2021-03-13 22:12] dsvolkov opened #4359 "findimageoverlaps issue with Apollo panoramic images (wrong instrument specification)"
**ISIS version(s) affected**: 4.4.0

**Description**
findimageoverlaps running with Apollo panoramic images gives an error:

[code]

**How to reproduce**
[code]

**Possible Solution**
I suppose the issue is instrument specification in $ISISROOT/appdata/translations/Instruments.trn
When I changed PAN to APOLLO_PAN in InstrumentName group findimageoverlaps works fine.

Group = InstrumentName
  #Tran

[2021-03-15 14:55] jessemapel commented on #4359
Weirdly inconsistent with Apollo Metric which uses just Metric. Generally we use more descriptive names than "Metric" or "Pan" for this stuff so I think changing to "APOLLO_PAN" to match what apollopaninit is doing makes sense.

[2021-03-15 15:06] jessemapel commented on #4359
I would also caution if you are doing extensive processing of the apollo panoramic data. It's got a whole lot going on and the current version of the software does not account for many things. In particular, the way that it handles time is not correct. The Apollo panoramic cameras moved both along-track and cross-track at variable rates during exposure. The current software does not account for th

[2021-03-15 15:13] jessemapel commented on #4356
Is there a reason why you are using pds2isis instead of [thm2isis](https://isis.astrogeology.usgs.gov/Application/presentation/Tabbed/thm2isis/thm2isis.html)?

The general import programs like pds2isis and std2isis do not import all of the information required for camera models, which appears to be the issue you are running into here and in #4357

[2021-03-15 15:18] jessemapel commented on #4357
It appears that this is the same as #4356 so I am going to close this and we'll keep the discussion going over there. If it turns out to be two issue's we can always re-open this.

[2021-03-15 15:18] #4357 closed, assigned to nobody

[2021-03-15 15:59] dsvolkov commented on #4359
@jessemapel thanks for the caution and the paper.

Wondering do you have any plans to implement these things in the future and a specific timeline when these updates will be available? I checked https://astrodiscuss.usgs.gov but didn't find anything.

[2021-03-15 16:08] csedwar commented on #4356
I’ve always used pds2isis (I believe). I can try to reproduce w/thm2isis

[2021-03-15 16:19] Kelvinrr commented on #4206
Wouldn't hurt to make sure the test names themselves are also consistent.

see: https://github.com/USGS-Astrogeology/ISIS3/wiki/Writing-ISIS3-Tests-Using-Gtest-and-Ctest#app-conversion--gtest-pr-checklist

[2021-03-15 16:27] jessemapel commented on #4359
Unfortunately the project is dead in the water at the moment. Ken and Tammy Becker who were leading the effort have retired from the USGS and we haven't gotten a ton of community interest in updating the Apollo Pan software. I worked on the project as a student and have all of the project documentation, but it would take some work to get back to where we were. There has been some discussion of a p

[2021-03-15 17:15] lwellerastro commented on #4254
@kberryUSGS, each mission kernel directory also contains a local_pds_edrs*lis file pointing to raw data.  Feel free to use those for tests.  There are a couple images that won't ingest because of bad labels that require editing, otherwise they should all work.  I don't expect you to run all the data - I can/will do that, just let me know.  Thank you and hopefully this are easy to slurp in!

[2021-03-15 19:13] csedwar commented on #4356
converting to using thm2isis fixed the error above but did not fix the webspice issue #4357

cedwards@tinto:~/aaron_test$ spiceinit from=I06638006.lev1.cub web=yes
spiceinit: Requesting Spice Data
100% Processed
**ERROR** The server sent an unrecognized response [Group = Kernels
  NaifFrameCode             = -53031
  LeapSecond                = $base/kernels/lsk/naif0012.tls
  TargetAttitudeShape

[2021-03-15 19:14] csedwar commented on #4357
Issue #4356 appears to be resolved with the change to thm2isis but this issue persists with webspice

[2021-03-15 19:25] jessemapel commented on #4356
@csedwar Can you post your cube label after thm2isis?

[2021-03-15 19:34] csedwar commented on #4356
[code]

[2021-03-15 19:39] csedwar commented on #4356
To be clear the error i am seeing above is occurring on image ID I06638006, whereas if I run the same set of commands (including wget to download) and thm2isis I do not get an error on other images (e.g. I01237007)

To reproduce yourself, you can do:

Does not Work with webspice (but does work with local kernels)
wget http://static.mars.asu.edu/pds/ODTSDP_v1/data/odtir1_0006/i066xxrdr/I06638006RDR

[2021-03-16 15:05] #4341 closed, assigned to jessemapel

[2021-03-16 17:40] lwellerastro commented on #4330
Since it appears the problems I was having have to do with the DEM, I am going to close this post.  There is a hybrid global lunar DEM Tammy and Ken created while working on Apollo Metric that combines the Kaguya/LOLA SLDEM and a global LOLA DEM to fill the poles that I will try to work with when I get back to this project.

If I encounter issues in the future that can't be resolved by working wit

[2021-03-16 17:40] #4330 closed, assigned to nobody

[2021-03-16 18:11] jessemapel commented on #4235
Fixed with #4365

[2021-03-16 18:11] #4235 closed, assigned to scsides

[2021-03-16 23:41] shawn-brueshaber opened #4369 "Handmos - A general question"
I'm working with JunoCam images and I've run into a problem with attempting to register one image to another.  Currently, I have been manually translating one image relative to the other to align a perceived center of rotation of vortices.

However, I thought about using tie points to see if I can improve my approach and that lead me to trying qtie.  However, qtie requires a map-projected cub and

[2021-03-17 16:13] #4290 closed, assigned to amystamile-usgs

[2021-03-17 17:43] rbeyer opened #4370 "time strings may not be properly conditioned in things that use iTime"
**ISIS version(s) affected**: All (tested with 4.2, but this is pervasive).

**Description**
CSPICE's `str2et_c` function does not properly parse ISO 8601 time formats that use a trailing "Z" as their time zone specifier and will error (however, this feature will be included in the upcoming version of the NAIF SPICE toolkit, N0067, expected summer of 2021).

The [PDS3 specification](https://pds.na

[2021-03-17 19:45] jessemapel commented on #4370
We have actually ran into some issues with this before. I can't remember which, but there is (or at least was) an ingestion app that had to strip the trailing "z" off a time string on ingestion. Also, in the CSM model we have to strip the "z" off and had to add some extra stuff to handle more of ISO 86001. See:

https://github.com/USGS-Astrogeology/ISIS3/blob/dev/isis/src/base/objs/CSMCamera/CSMCa

[2021-03-17 21:57] acpaquette commented on #3507
@rbeyer The fix is up for this. It may be beneficial for some potential user testing to see if this fixes the issue/makes things consistent.

Regarding `cubeit` and its `fromlist` parameter. It can take a list file without a trailing new line, but as you pointed out the last line of the list is ignored. It looks like the last decision to be made before this can be closed is should the `FileList` b

[2021-03-17 22:21] rbeyer commented on #3507
My opinion (unless this fundamentally breaks other things) is that no final newline should be needed (but should be tolerated), the newlines are just separating list elements. If we think of "newlines" as commas, and require a final trailing newline, then we require this:

and would reject this:

or would only read A & B, which would also be dumb.  Whatever reads *either* of these lists should col

[2021-03-18 16:00] krlberry commented on #4254
These kernels have now been added internally and are available for use or testing. I ended up needing to add a small amount of padding and a time offset present in the camera model to the ISIS kernel db time ranges to get this working. The kernels will be released publicly with the next ISIS release.

[2021-03-18 16:36] krlberry commented on #4097
CaSSIS team reports that this is still an issue, and will provide more detailed information when possible.

[2021-03-18 17:26] jessemapel commented on #4097
I think I'm running into this too. Something is happening where the pre-parsing isn't happening anymore. The PVL library doesn't seem happy with how we're passing the Grammars.

[2021-03-18 17:31] jessemapel commented on #4097
Yep, found a bug where we were trying to pass the grammar class instead of a grammar object. Can probably get a patch out this week for this.

[2021-03-18 18:21] lwellerastro commented on #4254
All images pick up smithed ck kernels under isis4.4.0.  Thank you and sorry @kberryUSGS my "local" galileo pds files were missing part of the path!

[2021-03-18 18:31] lwellerastro opened #4373 "Learning About Map Projections link is broken"
**Description**
The "Learning About Map Projections" link in the cam2map documentation cannot be found
(it points to https://isis.astrogeology.usgs.gov/fixit/projects/isis/wiki/Learning_About_Map_Projections).

It's possible this link is in several other documentation locations including the glossary.

[2021-03-18 22:23] lwellerastro opened #4375 "Findfeatures - PVL group [Results] Error"
**ISIS version(s) affected**: 4.4.0

**Description**
Findfeatures runs and generates output files but produces the following errors when doing so:
[code]
This is the case for isis4.4.0 but not prior versions.  I compared the output files from isis4.3.0 and isis4.4.0 and everything is essentially the same (processing times for steps vary) including the output networks which are identical.

Other th

[2021-03-19 17:35] ericepalmer commented on #4257
It appears the 4MB file was too big.
Here is a link to a large file server at PSI

https://oort.psi.edu/s/aBySifDSkzMCDNd <https://oort.psi.edu/s/aBySifDSkzMCDNd>

Eric

[2021-03-20 16:33] #3507 closed, assigned to acpaquette

[2021-03-22 16:07] #4018 closed, assigned to nobody

[2021-03-23 20:03] Kelvinrr commented on #4206
closed by #4366

[2021-03-23 20:03] #4206 closed, assigned to nobody

[2021-03-24 17:23] Kelvinrr commented on #631
@scsides @rbeyer The issue seems to be that when the image is too small it fails to use the slower interpolation method, and the faster interpolation fails when there are far more quads than pixels and also have null data around the edges. Putting in a simple check comparing the sizes seems to have fixed it.

Pumped it up to 100 KM  per pixel and it seems to be okay. PR Incoming.

![Screen Shot 20

[2021-03-24 17:44] Kelvinrr commented on #4060
@KrisBecker Kernels were updated earlier this week for use internally including the newer kernels you just posted. The kernels will be publicly available with the next ISIS release in April.

[2021-03-24 17:45] #4060 closed, assigned to Kelvinrr, robotprogrammer22

[2021-03-25 19:25] #631 closed, assigned to Kelvinrr

[2021-03-28 13:18] boxerab commented on #4237
Hello, Grok developer here. Interesting discussion!
I'm not familiar with PDS4 format, but are you all saying that JP2 is not yet supported, or will never be supported ?
If so, what compression format will be used ?
Also the comment about floating point, may I ask what is the use case for floating point data? It's going to be much slower to process than 10 bit, of course.

Finally, if everything w

[2021-03-28 14:00] rbeyer commented on #4237
I'll let someone else comment on the PDS4 standards (PDS4 isn't a "format" but a system with requirements for how NASA missions must archive data, don't worry, people often use the term "PDS4 format," even people that should know better).

As far as the use case goes, instruments like HiRISE fundamentally capture data in an integer type, and "raw" data are certainly archived in that mode.  After t

[2021-03-28 14:26] boxerab commented on #4237
@rbeyer thanks. So, currently, floating point values in range [0,1] are converted to pixels just before conversion to jp2, I guess by simply multiplying by (2^precision-1) for specified number of precision bits. If the compression were applied to the original floating point values, then there should be less loss of precision vs just chopping off all values at 1/2^(precision) . Is there any floatin

[2021-03-28 15:17] AndrewAnnex commented on #4237
The geotiff format makes a variety of floating point compression options available just as an example https://gdal.org/drivers/raster/gtiff.html. Although I don't know if there are any examples of floating point compression within PDS3/4 standards.

[2021-03-28 17:40] boxerab commented on #4237
Thanks, @AndrewAnnex. As long as it's possible to decode a subset of the data, which I believe is possible through tiff tiling, then it could be a workable solution.

[2021-03-29 16:00] krlberry commented on #3868
Hi @rvwagner,
I updated the usgs-astrogeology build of qt to use qt's built-in JPEG library, which looks like it may have been the source of the issue. Would you be able to test this on your side with a new installation of ISIS 4.4.0 and let us know if it solves the issue? (The new build of qt should get used automatically.)

[2021-03-29 16:01] #4129 closed, assigned to kaitlyndlee

[2021-03-29 17:47] procton opened #4383 "Error on spiceinit web = 'yes' from = image_cube"
**ISIS version(s) affected**: x.y.z
4.3.0
**Description**

Running spiceinit with web=yes from Python script I get the following error "An error occurred when talking to the server. The server closed the connection."
**How to reproduce**

On any APollo15 image do the following:
apollo2isis from=<name.lbl> to=<cube_name.cub>
spiceinit from=<cube_name.cub> web=yes

**Possible Solution**

**Additiona

[2021-03-29 18:00] shanebyrneonmars commented on #4383
You beat me to it... I was just about to post this problem. (MDIS and CTX data in my case).
I have ISIS 3.10 and 4.1 installed in different conda environments - same behavior in each.

[2021-03-29 19:14] jessemapel commented on #4383
This is very likely impacting all ISIS versions as they all use the same server. We're working on figuring out what's going on with the server now.

[2021-03-30 13:56] procton commented on #4383
Any update on this ? Or any idea when the service will be available again ?
Thank you

[2021-03-30 15:10] #4280 closed, assigned to amystamile-usgs

[2021-03-30 17:02] jessemapel commented on #4383
@procton The server is back up and I was able to use it remote. Go ahead and retry using the web=true option.

It appears to have gotten overloaded with requests and failed. We've tweaked some things to avoid this in the future.

[2021-03-30 17:16] procton commented on #4383
I still have problems, now the error on spiceinit is `The server sent an unrecognized response [3c73706963655f646174613e0a20203c6170706c69636174696f6e5f6c6f673e0a3437373236663735373032303364323034623635373236653635366337333061323032303.....]`

[2021-03-30 17:32] procton commented on #4383
Now it's working fine, thank you for your help.

[2021-03-30 20:29] rvwagner commented on #3868
Looks like it's working with version 4.4.0.  Installed via `conda install -c usgs-astrogeology isis=4.4.0` (and confirmed that the version file said 4.4.0- my first attempt at a clean install following the github install instructions gave me 4.2.0, and I don't know if that's expected), tried my test case from the first post, and I got a working JPEG.  I also tried the same test case on an older ve

[2021-03-30 20:30] procton commented on #4383
Sorry, the problem is still there again. On spiceinit the following error: `The server sent an unrecognized response [3c73706963655f646174613e0a20203c6170706c69636174696f6e5f6c6f673e0a3437373236663735373032303364323034623635373236653635366337333061323032303.....]`

[2021-03-30 20:42] #3868 closed, assigned to krlberry

[2021-03-30 21:17] jessemapel commented on #4383
It looks like you're running into #4044

We don't have a fix for that yet but I'll spend some time looking back into it.

For right now, I'm close this and post over there.

[2021-03-30 21:17] #4383 closed, assigned to nobody

[2021-03-30 21:17] jessemapel commented on #4044
After restarting the server from #4384, it seems like this is cropping back up. Going to take some time to look into this.

[2021-03-31 11:16] procton commented on #4044
I tried updating ISIS from 4.3 to 4.4, but the issue still remains. This is really a blocking issue, please provide some directions to skip it, thanks

[2021-03-31 15:54] jlaura commented on #4044
@procton, you can download the spice kernels locally and skip using the SPICE server. See the [installation instructions](https://github.com/USGS-Astrogeology/ISIS3/blob/dev/README.md#The-ISIS-Data-Area) for information about installing the base area and whatever mission(s) you also require.

[2021-03-31 16:07] procton commented on #4044
Yes, I am actually doing in this way, but it is an heavy download and the 'on demand' approach was very appreciated by the customer.

[2021-03-31 16:14] jlaura commented on #4044
@procton :+1: We absolutely understand and are working to get the server back operating normally. Thank you for your patience and for using the work around in the meantime.

[2021-04-01 15:02] krlberry commented on #4097
@jessemapel Did you end up having time to do the patch, or should this issue get flagged for the next support sprint? (or potentially continuous support.) It takes the team 40 extra minutes to run each observation due to this issue, so getting this fixed is a priority for the team.

[2021-04-02 13:44] jlaura opened #4390 "Unable to generate footprint with unknown GEOS exception"
**ISIS version(s) affected**: 4.3.0

**Description**
When attempting to generate a footprint on a L2 product using `footprintinit from=/scratch/jlaura/europa_mosaics/GLL_Obs/equi/33ESGLOCOL01_GalileoSSI_Equi.cub` I am seeing the following error:

[code]
It does not seem to matter what linc/sinc I select. Due to the geometry of many of the other images (and the small size), I have been using `sinc=

[2021-04-02 23:05] csedwar commented on #4356
any updates here?

[2021-04-05 14:02] jessemapel commented on #4097
I'm working on getting  patch build for this out right now https://github.com/conda-forge/ale-feedstock/pull/36

[2021-04-05 14:20] jessemapel commented on #4356
Sorry, I haven't been able to figure out what's causing this issue yet. It seems to be related to #4044

[2021-04-05 19:07] lwellerastro commented on #4390
Huh, I never knew you could run footprintinit on mosaics!

Footprintinit errors most likely occur (in my experience) for images crossing the 0/360 longitude boundary, and/or the poles.  For lower resolution flyby data I might have to try footprintinit a couple of times to get it to run, but sometimes it never does.

In the case of Europa Galileo data, I used the following footprintinit command:
`f

[2021-04-06 09:34] dcordiercnrs opened #4391 "Calibration of Cassini/VIMS 2000/2001 cubes (Jupiter flyby)"
Dear All,

    I have installed ISIS 4 data (base & Cassini) and I run the code using the docker configuraiton available on Github.
For cubes acquired by Cassini instruments (particularly VIMS) after 2003, apparently I got no problem.
    However, I am interested in using VIMS cubes made during the Jupiter flyby (Ganymede and Europa cubes) and for
this cubes ISIS  is not happy, complaining for the

[2021-04-06 14:39] lhongIM opened #4392 "cam2map "Programmer Error""
**ISIS version(s) affected**:  4.3.0

**Description**

I received this error: `**PROGRAMMER ERROR** Angle cannot be a non-Null special pixel.`
I was trying to map project an LRO NAC cube file onto a map I had previously built.

**How to reproduce**

The specific command I ran to get the error was:
`cam2map from=M1142518395L.tr.cub to=M1142518395L.map.cub map=mosaic01.map warpalgorithm=forwardpatch

[2021-04-06 14:58] jessemapel commented on #4392
Can you post the label of `M1142518395L.tr.cub`? You can get it using the catlab application.

[2021-04-06 15:05] lhongIM commented on #4392
[M1142518395Ltrcub_label.txt](https://github.com/USGS-Astrogeology/ISIS3/files/6265596/M1142518395Ltrcub_label.txt)

[2021-04-06 16:02] lhongIM commented on #4392
Update: I got the same error running that command on an equirectangular projected maptemplate as well. Could this be an area specific issue, or is it the method used? Any suggestions are appreciated, thanks!

[2021-04-06 16:12] jessemapel commented on #4392
Looks to be #2150 which we couldn't reproduce before. This type of error generally happens when the camera model cannot compute a valid pixel to lat/lon transformation. I'll attempt to reproduce this again and see what I can get.

For right now, try using the default automatic warpalgorithm and see if that can be a temporary work-around.

[2021-04-06 17:14] dpmayerUSGS opened #4393 "Unexpected "nan" in caminfo output"
**ISIS version(s) affected**: >=3.10.2

**Description**
`caminfo` produces values of "nan" for the `SubSpacecraftGroundAzimuth`, `ParallaxX`, and `ParallaxY` keywords on certain images, even though `caminfo` is still able to compute other angles and even project a footprint onto the target body. I have only found this to affect specific MOC EDRs, THEMIS IR EDRs, and THEMIS VIS EDRs.

**How to repr

[2021-04-06 17:18] lhongIM commented on #4392
Got it I see, thanks for the info. I tried it again without specifying any warpalgorithm, (`cam2map from=M1142518395L.tr.cub to=M1142518395L.map.cub map=mosaic01.map`) and it came back with the same error. I'll see if I can get it working with a different NAC image set.

[2021-04-06 21:40] #4333 closed, assigned to amystamile-usgs

[2021-04-09 00:10] fede98765 opened #4395 "spiceinit error"
Hello,I'm a student at his first experience using ISIS.I'm trying to execute spiceinit command but this error occur:"**ERROR** No existing files found with a numerial version matching [kernels.????.db] in [/home/federico/anaconda3/envs/isis/data/base/kernels/lsk]."
I've downloaded the MRO data following the instruction given by the ISIS document, but the lsk kernel folder didn't occur.
What can I

[2021-04-09 14:56] jessemapel commented on #4395
You need to also download the base kernels:

https://github.com/USGS-Astrogeology/ISIS3/blob/dev/README.md#partial-download-of-isis-base-data

that should fix your problem.

[2021-04-09 18:34] lwellerastro opened #4396 "Findfeatures fails for LROC NAC images"
**ISIS version(s) affected**: isis3.9.1, isis4.3.0, isis5.0.0-RC1

**Description**
findfeatures fails for two lroc nac images with the following error:

[code]
The above is for images without footprint information.  When images have footprintinit run on them, then findfeatures includes this additional line in the error message as shown above:
`terminate called after throwing an instance of 'cv::Ex

[2021-04-09 23:25] acpaquette commented on #4369
@shawn-brueshaber Sorry to get to this so late, I don't know if this is still something you are working on but `junocam2isis` has a `fullccd` option which outputs the framelets as a single cube. I don't know if that will solve your problem but we can look into other options.

Typically for stitching images or ccds together from instruments is accomplished with a `stitch` program but this could als

[2021-04-09 23:47] acpaquette commented on #4111
@lwellerastro I think this can be closed?

[2021-04-09 23:49] acpaquette commented on #4108
To add to this conversation some, various packages added the `run_exports` method to newer packages than we can use in ISIS. Something to consider when we are looking at when some packages aren't taking advantage of there `run_exports` feature. This is something @AustinSanders and I saw when updating the ISIS recipe.

[2021-04-09 23:50] acpaquette commented on #4097
@jessemapel Is this closeable?

[2021-04-09 23:52] acpaquette commented on #4067
As fair as I can tell the failing tests issue has been solved. However, we should probably talk about how we plan to update the module tests in the future. In the mean time this can probably be closed

[2021-04-09 23:53] lwellerastro commented on #4111
Sure. I don't know what all is changing, but if there is some informative warning (if possible), then yes!

[2021-04-09 23:59] acpaquette commented on #3597
@Kelvinrr Can this be closed?

[2021-04-10 00:01] acpaquette commented on #3676
@scsides Can this be closed?

[2021-04-10 00:11] acpaquette commented on #3837
@kaitlyndlee Can this be closed? I think this got addressed in a recent PR but this issue was never referenced.

[2021-04-10 00:52] acpaquette commented on #4254
@blandoplanet Can this be closed?

[2021-04-11 01:44] fede98765 commented on #4395
Thanks a lot. Now it works perfectly fine.

[2021-04-12 05:56] Kelvinrr commented on #3597
Yeah, closed by #3599

[2021-04-12 05:56] #3597 closed, assigned to nobody

[2021-04-12 14:57] #3676 closed, assigned to scsides

[2021-04-12 15:16] amystamile-usgs commented on #3662
This problem should have been corrected from my changes in PR [#4371](https://github.com/USGS-Astrogeology/ISIS3/pull/4371). I will run tests to confirm this before resolving ticket.

[2021-04-12 15:34] jessemapel commented on #4097
I need to do a final test but both ALE 0.8.6 and 0.8.5 build 3 have this fixed in them.

[2021-04-12 15:34] #4395 closed, assigned to nobody

[2021-04-12 15:38] jessemapel commented on #4111
Yep, we added a warning if any point radius is < half or > double your input mean radius. It should help with gross errors like you encountered.

[2021-04-12 15:38] #4111 closed, assigned to nobody

[2021-04-12 15:38] #4067 closed, assigned to kaitlyndlee

[2021-04-12 16:49] amystamile-usgs commented on #3662
Tested that 'About this Program' is correctly linking to website documentation on both Mac and Linux.

[2021-04-12 16:49] #3662 closed, assigned to amystamile-usgs

[2021-04-12 17:05] rbeyer opened #4397 "isis3testData rsync module is failing"
**ISIS version(s) affected**: all

**Description**
Following the instructions in the [wiki](https://github.com/USGS-Astrogeology/ISIS3/wiki/Test-Data-Obtaining,-Maintaining,-and-Submitting), I cannot appear to access or download the isis3testData collection.

**How to reproduce**
[code]

[2021-04-12 17:15] KrisBecker commented on #4396
Hi @lwellerastro,

Let's see if we can narrow the problem down. First, try to turn off the SOBEL filtering. If it fails, then turn off FASTGEOM.

[2021-04-12 21:26] jessemapel commented on #4393
@dpmayerUSGS We have a little bit of support time slotted right now. We're primarily focusing on various clean-up issues. Is this a high priority issue for PDS-Pipelines or can it wait until the full support sprint in June?

[2021-04-12 21:30] dpmayerUSGS commented on #4393
@jessemapel It is impacting PDS project work, so sooner is better than later. I have no idea how simple/difficult it will be to fix this (because I have no idea what's causing it), so I can't speak to whether it makes more sense to tackle during a cleanup sprint or the full support sprint in June.

[2021-04-12 21:31] jessemapel commented on #4393
It sounds like we should slot it now and at least get an idea of how much there is here @acpaquette

[2021-04-12 21:32] acpaquette commented on #4393
@jessemapel Sounds good. The only issue is that this is going into ISIS 5.0.1 and I know that @dpmayerUSGS is on an older version of ISIS. Should we be planning to back port a potential fix?

[2021-04-12 21:36] jessemapel commented on #4393
Let's see how big the fix is before we do that. The ISIS 3 development and testing environment is quite old and may not be fully functionally anymore.

[2021-04-13 19:15] amystamile-usgs commented on #4184
@jessemapel For more clarification on this request. Should I replicate the wording from [Citing ISIS](https://github.com/USGS-Astrogeology/ISIS3/blob/dev/README.md#citing-isis)? Also does this include removing all existing Reference information from Referrences.xml?

[2021-04-13 19:32] amystamile-usgs commented on #4183
@jessemapel I need a better understanding on what I should do with the contributors currently listed on this credits page. It seems that our zenodo file is inconsistent with what is on our site in terms of who are USGS contributors versus outside contributors. There are also many contributors listed on the page that are not on our zenodo file. Should I just update the current list on the xml with

[2021-04-13 19:51] lwellerastro commented on #4396
Thanks for the suggestions @KrisBecker.

It continues to fail if filtering is turned off and fastgeom=true.
**Findfeatures will run to completion if fastgeom=false.**  That is completely unexpected.

Leaving fastgeom=false is ok for these particular images because they have similar geometry to begin with.  Because of that I would not expect findfeatures to fail while setting fastgeom=true.

[2021-04-14 01:39] KrisBecker commented on #4396
Ok, good. A couple of possibilities come to mind.

LROC images can be big, long noodles. I am wondering if you are running into a memory problem. Note that Sobel filtering makes a whole new copy of the image (in 8-bit) for both images after fast geom'ing, which also makes an image _space_ projected copy, similar to cam2cam. But it looks like its not making it out of geom'ing so that appears to a p

[2021-04-14 15:40] jessemapel commented on #4183
Let's the simplest approach and add all of the people on the credits page to the Zenodo file. Then, have the credits page just have a link to the zenodo latest release site.

[2021-04-14 15:45] jessemapel commented on #4184
Modify the top text to

Leave the Acknowledgement section as is

Replace the content of the References section with a link to the ISIS zenodo page

[2021-04-14 15:52] rbeyer commented on #4184
I'm not sure what changes are planned for the ISIS documentation, but it would be nice to retain all of the entries in the References section by putting them in a "history of ISIS" section somewhere.

[2021-04-14 16:43] jessemapel commented on #4184
I think many of the references can be moved to specific application documentation. For example, `Analysis of Light Time and Stellar Aberration Corrections in ISIS Using Lunar Reconnaissance Orbiter Narrow Angle Camera Images` could be added to the lronac2isis docs.

[2021-04-14 17:05] jessemapel commented on #4184
For right now, the highest priority is to add a link to Zenodo on that page. How about moving all of the current references under a separate section and calling it related references?

[2021-04-14 17:57] lwellerastro commented on #4396
@KrisBecker thanks again for lending direction.

Memory does not seem to be an issue here.  I got on bigmem interactively so it would have all the memory it needed and findfeatures only used <3G whether it was successful (fastgeom=no) or not (fastgeom=yes), with or without filtering.

I did get a slightly different error message when I set fastgeom=yes and fastgeompoints=50 (no filter applied to i

[2021-04-14 18:17] jessemapel commented on #4396
Okay, I looked around a bit and it seems that the image may be too large for opencv to do the fastgeom warp. @lwellerastro Can you try reducing the images and running again? This won't be a work around, but it will give us an idea of what issue we're seeing.

Also, we should be properly handling the opencv exceptions and not just letting them fall through here.

If it is the image size, then it lo

[2021-04-14 22:18] lwellerastro commented on #4396
Good call @jessemapel.  I reduced both images by 2, ran it the originally way I intended (fastgeom=yes, filter=sobel) and findfeatures was successful.

Original input had 5064 samples and 52224 lines and the reduced data were 2532 samples and 26112 lines.  I think 52k lines is at the maximum length for that data but I'm not 100% sure.

[2021-04-14 22:26] jessemapel commented on #4396
Yeah, OpenCV attempts to really optimize its space usage and it defaults to using 16-bit signed integers to store indices. The largest 16-bit signed value is 32,767 (SHRT_MAX stands for short or signed 16-bit max) so it's going to fail on anything with more lines or samples than that.

The good news is I think we can fix this but just changing our matrix indexing type.

[2021-04-14 22:28] lwellerastro commented on #4396
ah, well at least there is a hard number to keep in mind for other datasets.

[2021-04-14 23:03] KrisBecker commented on #4396
Glad that worked out for you. Unfortunately, the sample/line image measure coordinates are in corresponding scale.   This means you will need to keep a complete set of scaled/cropped image versions to run through the entirety of the bundle adjustment process - unless there is a way around it that I am not aware of. This could also increase uncertainty in the solution.

If you were successful witho

[2021-04-14 23:18] lwellerastro commented on #4396
`Glad that worked out for you. Unfortunately, the sample/line image measure coordinates are in corresponding scale. This means you will need to keep a complete set of scaled/cropped image versions to run through the entirety of the bundle adjustment process - unless there is a way around it that I am not aware of. This could also increase uncertainty in the solution.`

Nah, not worth the bother in

[2021-04-15 00:29] KrisBecker commented on #4396
Well...turns out [ScalingTransform](https://github.com/USGS-Astrogeology/ISIS3/blob/dev/isis/src/control/apps/findfeatures/ScalingTransform.cpp) already exists in findfeatures. It just isn't applied _anywhere_ in the code. It should be really easy to implement. In findfeatures, I would [add (line 257)](https://github.com/USGS-Astrogeology/ISIS3/blob/2161209ef911f78e019d4cf18e720984d5afb6e2/isis/sr

[2021-04-15 00:56] lwellerastro opened #4401 "Caminfo uselabel option fails under isis5.0.0-RC1"
**ISIS version(s) affected**: isis5.0.0-RC1

**Description**
caminfo will fail when uselabel=true to write out polygon information. It works if polygon=true and the associated parameters are specified.

uselabel=true works for the same images under isis4.4.0.

**How to reproduce**
See data under /work/users/lweller/Isis3Tests/Caminfo/5.0.0-RC1/.  This image was processed entirely under isis5.0.0-R

[2021-04-15 18:06] geokramer commented on #2067
Can this be re-opened? The problems still persists for MI 5 MAP V3.0.
This error occurs trying kaguyami2isis:
**USER ERROR** Unsupported projected file

This error occurs trying mimap2isis:
**PROGRAMMER ERROR** No value or default value to translate for translation group [Level2AFileName] in file [//miniconda3/envs/isis3/data/kaguya/translations/mimapArchive.trn].

MI 5 MAP V3.0 data processed usi

[2021-04-15 23:29] lwellerastro commented on #4373
Duplicate of #[3931](https://github.com/USGS-Astrogeology/ISIS3/issues/3931)

[2021-04-15 23:29] #4373 closed, assigned to nobody

[2021-04-16 18:54] #4183 closed, assigned to amystamile-usgs

[2021-04-16 18:54] #4184 closed, assigned to amystamile-usgs

[2021-04-16 19:03] #4083 closed, assigned to amystamile-usgs

[2021-04-16 19:05] #3700 closed, assigned to tgiroux

[2021-04-17 00:01] acpaquette commented on #4396
@KrisBecker @jessemapel What is the best way to handle this? Looks like there are a couple potential solutions and I would like to clarify the approach we want to take for this

[2021-04-19 06:18] sehajpunjabi opened #4406 "Running ISIS cube file via spiceinit application"
I am facing the following error while using the Spice toolbox when running cube files in spiceinit application

![spiceinit_error_box](https://user-images.githubusercontent.com/74244924/115190065-18ec9b80-a105-11eb-91c1-359c7d32dd9e.png)

It says that a default value for the mission name is not specified. I checked the MissionData2Dir.trn file and I was able to see that there is actually a specifi

[2021-04-19 16:01] jessemapel commented on #4406
The attachment is not showing up on here. Can you re-post the image label and what processing you did prior to running spicenit?

[2021-04-19 16:30] sehajpunjabi commented on #4406
Thanks for consideration. I have converted MARCI RAW .img files to .cub files. Following am attaching screenshot of error again:
![spiceinit_error](https://user-images.githubusercontent.com/74244924/115270885-66dfbe80-a15a-11eb-9a9b-ec0a68e3998b.png)

Is it due to spice kernel files? If yes, in which directory do I have to save these spice kernels?

[2021-04-19 16:31] #4393 closed, assigned to acpaquette

[2021-04-19 16:54] jessemapel commented on #4396
It looks like just using a different index type won't work as remap has to define thing internally that are hard-coded to use shorts. I found the actual bug report on OpenCV and they recommend doing a tiling approach.

Looking at the [warpPerspective](https://docs.opencv.org/master/da/d54/group__imgproc__transform.html#gaf73673a7e8e18ec6963e3774e6a94b87) docs and a [comment](https://github.com/ope

[2021-04-19 16:55] jessemapel commented on #4406
@sehajpunjabi I need the image label and the exact commands you ran. Can you run `catlab` on your cube and post results. Can you also run cathist with `mode=brief` on your cube and post the results.

[2021-04-19 17:11] sehajpunjabi commented on #4406
@jessemapel I got following after running catlab, while got empty file when ran cathist application.
![catlab](https://user-images.githubusercontent.com/74244924/115276244-6d713480-a160-11eb-8d11-b636d7b2660f.png)

[2021-04-19 17:14] jessemapel commented on #4406
Your cube label has no instrument information in it because it looks like you ingested it with pds2isis. You need to use the sensor specific ingestion application, [marci2isis](https://isis.astrogeology.usgs.gov/Application/presentation/Tabbed/marci2isis/marci2isis.html).

You will get two cubes out, one with even frames and one with odd frames. You will need to duplicate your processing on both c

[2021-04-19 17:23] jessemapel commented on #4097
Finally finished testing this. I used `CAS-MCO-2016-11-26T22.32.14.582` to test. For ALE 0.8.5 py36h605e78d_3 it took 1m 1.887s to spiceinit every framelet. For ALE 0.8.5 py36h605e78d_1 it took 3m 33.197s to spiceinit every framelet.

So it looks like the new build of 0.8.5 has fixed this. You can install the new Linux build by running `conda install -c conda-forge ale=0.8.5=py36h605e78d_3`. For t

[2021-04-19 17:23] #4097 closed, assigned to AustinSanders, amystamile-usgs

[2021-04-19 17:30] sehajpunjabi commented on #4406
I have ran marci2isis only and got the two frames as you said. I want to generate global mosaic of Mars for a particular days. This is part of one of my objectives of studying the seasonal dynamics for my Masters thesis. Due to covid pandemic, a lot of time has been lost. Kindly help me in processing MARCI data as I have spent months learning ISIS and about the dataset.
Thank you in anticipation.

[2021-04-19 17:49] sehajpunjabi commented on #4406
@jessemapel Can you tell me where will be the role of spice kernel files?  in which directory do I have to save these spice kernels? And how to use them? Because I believe MARCI processing is somewhat similar like MGS MOC processing. And MGS MOC processing is steps are available on this platform? But same doubt, where is the use of spice kernel files there also?

[2021-04-19 17:51] kaitlyndlee commented on #4001
@jessemapel Looking at the astrodiscuss post, it looks like updating the kernel without adding it as a smithed kernel would be the best solution since it aligns with new spice data. Do you agree?

[2021-04-19 17:58] jessemapel commented on #4406
Where to download the SPICE kernel files is listed in our [README](https://github.com/USGS-Astrogeology/ISIS3/blob/dev/README.md#The-ISIS-Data-Area), specifically the Mars Reconnaissance Orbiter section.

Once you have downloaded the base data areas and MRO data areas, ISIS will handle all of the kernel loading/reading/etc.

I am not very familiar with MARCI, but the general process for generating

[2021-04-19 17:59] jessemapel commented on #4406
I am going to close this issue for our bug tracking as this isn't a bug in spiceinit.

You can keep. responding on here even when it's closed.

[2021-04-19 17:59] #4406 closed, assigned to nobody

[2021-04-19 18:02] jessemapel commented on #4001
I agree, because we default to the corresponding DEM, we should use this as the default PCK for Dawn observations of Ceres.

[2021-04-19 20:31] KrisBecker commented on #4396
At a minimum, we should probably add a catch for OpenCV [cv::Exection](https://docs.opencv.org/3.4/d1/dee/classcv_1_1Exception.html)s (note it inherits [std::exception](https://en.cppreference.com/w/cpp/error/exception)). Also, try to produce a sensible error message.

I looked into adding a ScalingTransform prior to FastGeom in findfeatures and it has issues. For example, the most glaring problem

[2021-04-19 20:53] jessemapel commented on #4396
@acpaquette How about we band-aid this for right now and properly catch the exception from OpenCV and raise an IException. Then we can re-slot this for the next products sprint and we'll hopefully have a better solution figured out by then.

[2021-04-19 21:24] rheyd commented on #4097
Thanks Jesse,  Our initial testing indicates that the run times are now similar to what they were prior to the Isis 4.2 release.  This is great!  Thank you!

[2021-04-19 22:31] jessemapel opened #4410 "Bundle Adjusting CSM images"
## Description

With #4291 we now have CSM camera models working in ISIS. The next step is to add the ability to bundle adjust CSM camera models with jigsaw. We've done some planning and have a good idea of how to handle the differences between CSM and ISIS sensors, but there are a few places we would like more input from users.

### Background

First of all, a brief overview of bundle adjustment

[2021-04-20 15:12] kmgill commented on #4392
Would like to mention that I am now getting this error on the latest Juno Perijove 33 imagery when attempting cam2map on a framelet. Still appears to work on imagery from previous perijoves.

The source to my pipeline can be found here: https://github.com/kmgill/cassini_processing/blob/master/sciimg/pipelines/junocam/processing.py

At a high level, it runs
junocam2isis
trim (optionally)
initspice

[2021-04-20 15:51] jessemapel commented on #4392
Try running camtest on the cubes you feed into cam2map. This will do pixel -> ground -> pixel and compute the error. It should be < 0.01 for all pixels, usually we see ~1e-6 or so.

[2021-04-20 16:11] kmgill commented on #4392
Ran `camtest from=work/__JNCE_2021105_33C00018_V01_raw_GREEN_0017.cub to=test.cub`

Output:
[code]

[2021-04-20 16:35] kmgill commented on #4392
[__JNCE_2021105_33C00018_V01_raw_GREEN_0017.cub.gz](https://github.com/USGS-Astrogeology/ISIS3/files/6345186/__JNCE_2021105_33C00018_V01_raw_GREEN_0017.cub.gz)

[2021-04-20 17:19] jessemapel commented on #4396
Okay I think I've got the tiling logic worked out. Based on this implementation: https://gist.github.com/kinchungwong/141bfa2d996cb5ae8f42

First we need to make a new transformation class like GenericTransform that handled a tiled transformation, maybe GenericTiledTransform, could even subclass. It will take everything GenericTransform does + a tile size. Then, it will perform a tiled transformat

[2021-04-20 17:21] jessemapel commented on #4392
So, every pixel failed the test, strange. I'll take a look at your cube and see if I can find anything.

[2021-04-20 17:25] kmgill commented on #4392
Thank you! (This perijove has some storms I'm really interested in)

[2021-04-20 18:03] scsides commented on #3978
@ audiefen, In your example for 10 bit output you show "SAMPLE_BIT_MASK 2#1111111111#". The PDS3 docs are not explicit, but I believe it would convey more information if it was: "SAMPLE_BIT_MASK 2#0000001111111111#". This explicitly shows that it is the low order 10 bits and not the high. Would you be ok with that?

[2021-04-20 20:15] audiefen commented on #3978
@scides Do you mean `SAMPLE_BIT_MASK 2#0000001111111111#` would convey more information? If so, yes that is better and that is what hideal2pds is putting in the label in ISIS 4.3.0 (I just re-confirmed). ~Looks like there was a typo in my original post. I meant to request "SAMPLE_BIT_MASK 2#0000001111111111#" for 10 bit output. Somehow I omitted the zeros.~

[2021-04-20 20:17] audiefen commented on #3978
Oh, I see what's happening. The display is removing the leading zeros in our posts. Argh!

[2021-04-20 20:17] audiefen commented on #3978
Should be `SAMPLE_BIT_MASK 2\#0000001111111111\#`.

[2021-04-20 22:01] scsides commented on #3978
Ok, it is doing it to both of us. Yes, your last example is what I believe it should be.

[2021-04-20 22:15] #3931 closed, assigned to amystamile-usgs

[2021-04-20 23:48] acpaquette commented on #4356
@csedwar This should be fixed as of 4/20/2021. There was extraneous output making it into the response from the spiceserver. This extraneous output was piped to `/dev/null` so you should be able to spiceinit your themis image via the web!

[2021-04-21 17:37] victoronline commented on #1356
It looks like this was never resolved. The link for the stopgap measure no longer works.  What was implemented to fix or act as a stopgap for this?

[2021-04-21 17:50] jessemapel commented on #1356
This was fixed a while ago by adding logic to swap the observer and target when we call NAIF's position routine. This same logic is also present in ALE.

The part of this that hasn't been done is accounting for LT correction during intersection computations which is quite a large task. We can use the NAIF sincpt_c routine for ellipsoid intersections, but for all other shape models we will have to

[2021-04-21 18:36] kaitlyndlee commented on #4001
@jessemapel Was there an image you tested this with? I found a few images with CERES as their target, but when I run spiceinit, it gives me an error saying there is no pointing information for that time. I've checked the start times of the images and they fall into one of the ranges defined by the ck kernels db file. I am not sure why I am getting this error.

[2021-04-21 18:50] jessemapel commented on #4001
I don't have a test image, you'll need to find one.

[2021-04-21 18:54] jessemapel commented on #1356
We could open a new issue as an enhancement request detailing per-intersection LT and aberration correction. I know Brent Archinal has been interested in it here at ASC and we got some questions about it recently on Astrodiscuss.

https://astrodiscuss.usgs.gov/t/image-georeferentiation-and-aberration-correction/681/5

[2021-04-21 22:23] lwellerastro opened #4414 "Qview Statistics Tool Error"
**ISIS version(s) affected**: 4.4.0 (also seen in isis5.0.0-RC1)

**Description**
While clicking in low dn areas x-number of times, the following error message appears:

![QviewStatsToolError](https://user-images.githubusercontent.com/34550733/115627668-4166c800-a2b4-11eb-8f13-c58a278d0561.png)

It's nearly always the same line of code (212 for isis4.4.0 and 196 for isis5.0.0), but the bin range s

[2021-04-22 16:58] tgiroux opened #4416 "BandnormByNumber Test Failures"
**ISIS version(s) affected**: latest / dev

**Description**

I've noticed SmallCube.BandnormByNumber is failing on Jenkins across multiple PRs.

**How to reproduce**

I am unable to reproduce outside of Jenkins builds . In my testing, all Bandnorm tests pass with no issues when run locally on Mac and Linux.
I've identified 3 places where this issue can be seen, though:
See PR4402 build 7 for Ubunt

[2021-04-22 17:27] kmgill commented on #4392
The problem persists even with the latest spice update from the NAIF archive.

[2021-04-22 18:51] #4401 closed, assigned to tgiroux

[2021-04-22 21:13] acpaquette commented on #2067
@geokramer What image are you working with specifically?

[2021-04-22 22:50] lhongIM commented on #4392
Quick update from my end, finally got around to trying 2 more LRO NACs in different areas and came back with the same non-Null error. Additionally found that using mosrange instead of maptemplate to create the map file comes back with both of these errors:
`**USER ERROR** Problems with file M183682730R.tr.cub
**PROGRAMMER ERROR** Angle cannot be a non-Null special pixel.`
but I'm not sure as to wh

[2021-04-23 07:47] procton commented on #4044
The problem seems solved, anyone can confirm the SPICE server is up and reliable ?

[2021-04-23 15:50] jessemapel commented on #4044
This was fixed by @acpaquette on issue #4356

[2021-04-23 15:51] jessemapel commented on #4392
@lhongIM You're going to get errors with anything that attempts to intersect the body and compute lat/lon values. These images aren't properly computing any intersections and I'm not sure why.

[2021-04-23 16:45] kmgill commented on #4392
Also, the JunoCam issue appears to have been caused by an error in the reconstructed spk kernel. I switched to the predicted and cam2map worked.

[2021-04-23 17:44] lwellerastro commented on #4392
Could the problem possibly be with the shape model?  I can not reproduce the problem under isis4.3.0 with M183682730R and the only very obvious difference is the shape model.  I let spiceinit default to the global lola dem.

While comparing the Kernels Group in my image to the information in the above supplied label dump, I see we are picking up different SpacecraftClock kernels (@lhongIM on the t

[2021-04-23 20:41] #3709 closed, assigned to amystamile-usgs

[2021-04-23 20:45] #4055 closed, assigned to tgiroux

[2021-04-23 20:53] #4356 closed, assigned to acpaquette

[2021-04-23 21:36] blandoplanet commented on #4254
@lwellerastro has confirmed that the kernels are working as expected. I believe this can be close.

[2021-04-23 22:39] kaitlyndlee commented on #3595
I have tested this on both mac and linux and I am not seeing this behavior anymore. @kberryUSGS is this still happening to you?

[2021-04-23 23:23] acpaquette commented on #4044
Unfortunately my change did not fix this issue but the spiceserver should be working fine. We are currently using a 3.5.0 server and not the 4.2.0 server so this should not be an issue for users

[2021-04-24 06:46] procton commented on #4044
I am currently using the 4.3 version and it seems fine

[2021-04-24 13:57] #4254 closed, assigned to krlberry

[2021-04-27 00:51] lwellerastro opened #4420 "Kaguya TC - problems projecting pole crossing images"
**ISIS version(s) affected**: 4.1.0 also seen in isis4.4.0 and isis5

**Description**
cam2map makes no progress when polar projecting Kaguya TC images that cross the poles and are initialized with a global DEM. I am working with a subset of the available data, but 168 of 807 images could not be projected.

Images within 0.1 degree of the south pole having the same DEM project as expected, but thos

[2021-04-27 19:24] acpaquette commented on #4129
https://pds-imaging.jpl.nasa.gov/data/mgs/moc/rdr/mgscim_1517/document/moc_rdr_sis.pdf on page 11 documents the -1.15 offset.

[2021-04-28 16:28] shawn-brueshaber opened #4426 "deltack error: Unable to find Instrument group in (filename.cub) for comparing target"
Hello,

I'm attempting to run deltack on some JunoCam images. I have run spiceinit with attach=true and am attempting to execute deltack on JunoCam mosaic I created with automos but this error comes up. What do I need to run to remove this error and get deltack to work?  Is JunoCam a supported instrument for a deltack operation?  Do I need to run deltack framelet by framelet rather than on a mosai

[2021-04-28 17:00] jessemapel commented on #4426
You cannot use deltack with a projected image, you will need to adjust each framelet prior to mosaicing

[2021-04-28 17:03] jessemapel commented on #4426
We're also planning to work on some limb fitting software next fiscal year that may be helpful for working with JunoCam images.

https://astrodiscuss.usgs.gov/t/fy22-limb-fitting/582

[2021-04-28 17:41] jlaura commented on #4397
@rbeyer Thanks for the heads up. We are working on getting the data shifted over to S3 and to get the download instructions posted. Right now, this is going through a mandatory internal review process. The rsync servers is also just about full as far as I know (I did not check just before writing this), so the behavior that you are seeing is not unexpected.

Is getting access to the test data caus

[2021-04-28 17:54] rbeyer commented on #4397
No, it isn't a blocker.  I was finally actually playing around with compiling ISIS my own self, and I was just following the instructions and came across this error.

[2021-04-29 02:21] acpaquette commented on #4414
@lwellerastro I will have some time this week since I am on a release sprint and the release will likely be out tomorrow to go over this. I have been able to reproduce the error but it seems like it manifests when transitioning from dns > 1 to dns < 1. I would like to narrow this down further to provide context to anyone that decides to tackles this ticket.

[2021-04-29 05:21] jessemapel commented on #4414
This is likely caused by the Histogram changes. Previously Histograms with a single value in them would "bound" that value. Now Histograms with a single value error. Changing the StatisticsTool to use an ImageHistogram will likely fix this.

[2021-04-29 13:20] shawn-brueshaber commented on #4426
Thanks for the information.  I'm excited to hear about the work on limb fitting!  :-)

As for deltack, if I run this on a framelet and assign a new lat/long coordinate to a sample/line coordinate, should I expect to see the images shift relative to each other when using qview's blink viewer with the two images linked in the viewport?

[2021-04-29 14:44] jessemapel commented on #4426
You should see them shift when you link them and use the find tool to zoom to a ground point. It could be a very small shift.

[2021-04-29 21:24] acpaquette commented on #4414
Unfortunately this is not the error. `ImageHistogram` and `Histogram` differ in how the bins are structured and how the percentiles work.

The error is happening when the Histogram object is being constructed before it is even populated with any data. Here is the line that errors: `ImageHistogram hist(p_stats.BestMinimum(), p_stats.BestMaximum());`

In looking into this the `p_stats.Best[Max/Min]i

[2021-05-02 18:47] michaelaye opened #4434 "Init script echos to stdout needs to be filtered for interactive sessions only"
**ISIS version(s) affected**: 4.x

**Description**

When a shell is not interactive, it shall NEVER echo anything to stdout, otherwise it can break functionality (like SSH and other things where a shell is opened for scripted functionality of an executable).
Currently, if someone were to activate ISIS for every new shell by copying the shell scripts into some of their shell init scripts, the echo

[2021-05-04 01:06] lhongIM commented on #4392
@lwellerastro you were right, it was the shape model! I ended up rebuilding my SLDEM shape model to include the whole moon (instead of just the latitudes I needed) and everything worked perfectly. Thanks everyone for your suggestions and help :)

[2021-05-04 15:00] jessemapel commented on #4392
I'm going to close this as it seems to be data issues and not software.

[2021-05-04 15:00] #4392 closed, assigned to nobody

[2021-05-06 15:01] thareUSGS opened #4439 "Update gllnims2isis docs"
**Description**
Based on this [forum topic](https://astrodiscuss.usgs.gov/t/gllnims2isis-does-not-work-with-recent-release/688), the gllnims2isis documentation should be updated to (1) state it only works with the [original PDS3 archive](https://pds-imaging.jpl.nasa.gov/data/galileo/galileo_orbiter/), and (2) this routine was created to restore the NIMS tube/gcube data and migrate to PDS4 which ha

[2021-05-06 17:02] jeanlucmargot opened #4440 "cnetpvl2bin fails when some keywords are in all caps"
**ISIS version(s) affected**: x.y.z

  IsisVersion       = "4.4.0  | 2021-02-04"
  ProgramVersion    = 2011-04-05

**Description**

cnetpvl2bin correctly translates a PVL file with keywords in all caps, except for three keywords:
GoodnessOfFit, MinimumPixelZScore, MaximumPixelZScore.
If these keywords are present in all caps, cnetpvl2bin fails with:
[code]
**How to reproduce**
Start with sample PV

[2021-05-06 17:31] jessemapel commented on #4440
The reason those three keywords are different is because they are converted in the ControlMeasureLogData instead of the ControlNetVersioner classes.

An easy fix is to do a case-insensitive comparison in the ControlMeasureLogData: https://github.com/USGS-Astrogeology/ISIS3/blob/dev/isis/src/control/objs/ControlMeasureLogData/ControlMeasureLogData.cpp#L187

Thank you for the great bug report!

[2021-05-06 17:42] jessemapel commented on #4416
This appears to be fixed? Is this an intermittent failure?

[2021-05-06 19:27] otherorb commented on #4324
Alright.
On my fork/branch (https://github.com/otherorb/ISIS3/tree/ZeroDarkRate), I've implemented the algorithm and addressed some of the bookkeeping and etc. There are a couple of places where I don't fully grok the ISIS3 API so will need some help:
1) I don't fully understand the LoadCSV module used in other places by the hical code. I've put a compile-stop in the place where I think that will

[2021-05-06 21:23] jessemapel commented on #4324
Can you provide a link to the place in code you are talking about? There's over a dozen files to look through in hical.

I would check at either config file read-in in HiCalConf or when you go to apply the ZeroDarkRate step in the main.

If these files can be added without any conflicts, go ahead and send them to us or point us to the files that need to be added. We can get those added to the data

[2021-05-06 21:34] otherorb commented on #4324
Hi Jesse.
The module I'm referencing is here:
https://github.com/otherorb/ISIS3/blob/ZeroDarkRate/isis/src/mro/objs/HiCal/ZeroDarkRate.h

The specific part I'm struggling with starts on line 98. My hacky way to indicate the problem is to put a DEBUG line in the code so it won't compile and someone who knows what they're doing can help fix the next part.

If what I'm trying to accomplish here is un

[2021-05-06 22:06] otherorb commented on #4324
I will send a tarball for upload to the USGS internal drives; none of those data files conflict with any existing data files.

[2021-05-06 22:43] jessemapel commented on #4324
Okay I took a look at LoadCSV and it should be able to ready your CSV into a matrix. The three lines at the start of the CSV are comments, not headers. So, if you set IgnoreComments in the config, LoadCSV should automatically skip them. From there, it will load all of the data into a HiMatrix which you can get from LoadCSV::getMatrix. This is just a TNT::Array2D so you can access values via matrix

[2021-05-06 22:45] jessemapel commented on #4324
Here's a brief code snippet assuming that samples is the row of the CSV you want:

[code]

[2021-05-07 18:33] lwellerastro opened #4442 "Relevant comment dropped from image label"
**ISIS version(s) affected**: isis5.0.0

**Description**
When an image is updated by jigsaw a comment is added to the image label specifying when the image was updated, typically right before the InstrumentPointing and InstrumentPosition Objects.

For example:
  `# Jigged = 2021-05-07T11:06:11`

The comment no longer appears in the image label of a jigsaw updated image as of isis5.0.0.  This is th

[2021-05-07 18:40] jessemapel commented on #4442
This is a bug, when we moved to the new Table logic, we only copy over keywords to the BLOB label and didn't add logic to copy over comments. Should be a simple fix.

[2021-05-10 16:42] otherorb commented on #4324
Thanks Jesse,

I'll update my code with those snippets.

The next part that I'm not terribly comfortable with is how, within mro/apps/hical/main.cpp, to check for both ZeroDark and ZeroDarkRate being "activated" (!SkipModule()) and to exit with a user error if they're both active. If one or the other is skipped in the configuration file, the SkipModule flag basically just fills HiVectors with 0s,

[2021-05-10 18:01] jessemapel commented on #4324
I'm not super familiar with the dbprofile API, I don't see a way to check if a profile exists. We could add it, but @KrisBecker may have some input on a better way.

[2021-05-10 18:59] KrisBecker commented on #4324
Hi @otherorb...

There are several options that come to mind. The easiest perhaps is to set a flag above the first occurring module, ZeroDark or ZeroDarkRate, set the flag to indicate if it was executed (i.e., SkipModel(prof) == false), then test the flag in the next occurring module code block if it is also not skipped. This should trigger an error and you can then throw your exception.

The othe

[2021-05-10 20:45] rbeyer commented on #3885
So Python 3.6 has an "End of Support" this December.  More importantly, all versions of ISIS (including the most recent 5.0.0) are pinned to Python 3.6.0, but the latest version of 3.6 is 3.6.13.  This means that there are 13 bug-and-security fixes to that version of Python that aren't accommodated.  One cannot install ISIS even with Python 3.6.1!

When is this pinning going to end?

[2021-05-10 22:28] rbeyer commented on #2683
FYI, this is still happening (because it is a Qt thing, and ISIS can't update Qt).

ISIS: 5.0.0
macOS: 10.15.7

[2021-05-11 15:40] tgiroux commented on #4416
The instances that I pointed out were happening intermittently across random builds. When I was looking for instances to put in this issue I found this test failure in about 1/4 of failed builds.

[2021-05-11 18:07] jessemapel commented on #4426
Closing as this is expected behavior for deltack.

[2021-05-11 18:07] #4426 closed, assigned to nobody

[2021-05-11 18:08] jessemapel commented on #4397
When I checked, we had about 20 GB of space left on the rsync server. It would be enough for the test data, but just barely and we would likely run out of space as new kernels come in.

[2021-05-11 20:43] acpaquette commented on #4044
Yes, but the actual spiceserver that is currently deployed at the USGS is still using version 3.5.0 and the bad response still exists in 4.2.0 and greater versions. The server still works for the majority of ISIS releases that run `spiceinit` with `web=true`

[2021-05-14 15:17] scsides commented on #4442
NOTE: ISIS PVL attaches comments to keywords or groups or objects (what ever immediately follows them). At one time reading a keyword and writing it should have copied the comment too.

[2021-05-14 15:19] jessemapel commented on #4442
jigsaw attaches the jigged comment directly to the Table's Label, not any of the keywords. So, copying over the keywords doesn't catch these comments.

[2021-05-14 15:21] scsides commented on #4434
This is a problem for most shells. "NEVER" write to stdout in a script that may be executed inside a shell startup file.

[2021-05-14 15:48] scsides commented on #4416
No test should use something like "QString pencilPath = "/tmp/pencil.txt";". The possibility of a race between two instances of the same test exists. The fix suggested is likely needed even if the error doesn't show up often.

[2021-05-14 15:53] jessemapel commented on #4416
This error just poped up on a PR from last night, so definitely still a thing.

[2021-05-14 16:18] rbeyer commented on #4434
OP title indicates "init script" is the problem, which implies that the concern is with the created `isis-activate.\*` scripts, but could also implicate `isisVarInit.py`.

The `isis-activate.\*` scripts have a "cat" placed in them that writes to STDOUT.

The `isisVarInit.py` has *print* statements that also write to STDOUT.

[2021-05-14 17:10] otherorb commented on #4324
Thanks Kris,

I'm a little confused by this boolean logic in your example. Does SkipModule(hiconf.getMatrixProfile()) return True if the module is skipped or True if the module is not skipped?

I think it's okay if both modules are skipped (perhaps someone is trying to test the earlier modules, for example). It's just problematic if neither module is skipped.

[2021-05-14 18:05] KrisBecker commented on #4324
Hey @otherorb, SkipModule() returns true if the module is to be skipped. You will see in the [code](https://github.com/USGS-Astrogeology/ISIS3/blob/8a6c8fd0ebd0df3b863c05ce457d03607c42abf6/isis/src/mro/apps/hical/main.cpp#L241-L260) that the test used for each module is:

[code]

So in my previous post, the (zdark == zrate) tests if both are true or both are false. And, based upon this definition,

[2021-05-14 19:24] geokramer opened #4467 "Where do I find the cheatsheet for procedures/functions that used to be at http://isis.astrogeology.usgs.gov/"
We use Github issues solely for discussing bugs, documentation issues, and new features.

For
questions about using ISIS or other ASC software, please use
any of the support alternatives: https://astrodiscuss.usgs.gov or https://gitter.im/USGS-Astrogeology/IAA

A great resource about asking high quality questions that generate high quality answers is available from the StackOverflow community: [Ho

[2021-05-14 19:25] geokramer commented on #4467
This is out of my comfort zone, and I am probably not behaving properly. Please forgive me. But where do I find the cheatsheet for procedures/functions that used to be at http://isis.astrogeology.usgs.gov/ ?

[2021-05-14 20:05] KrisBecker commented on #4060
I don't know whether to reopen this issue or create a new one, but I am downloading all of the ISIS4+ data area (isisdist.astrogeology.usgs.gov::isisdata) and am seeing some things that may need to be addressed or at least documented.

There is a significant increase in the number of OREX CK and SPK kernels that don't appear to be used or needed in ISIS.

The OLA CKs, of the form orx_ola_YYMMDD_sc

[2021-05-14 20:22] jessemapel commented on #4467
The software manual can be found here:

https://isis.astrogeology.usgs.gov/Application/index.html

All questions should be opened up on astrodiscuss per the template.

[2021-05-14 20:22] #4467 closed, assigned to nobody

[2021-05-14 21:07] geokramer commented on #4467
@jessemapel can you tell me why the same link was telling me isis.astrogeology.usgs.gov has been decommissioned, that is until _after_ receiving your response?

[2021-05-14 21:39] jessemapel commented on #4467
We could have had a temporary outage on our website. We have no plans to decommission the website.

[2021-05-18 16:39] ladoramkershner opened #4471 "Some Kaguya TC cubes fail spicinit"
**ISIS version(s) affected**: x.y.z
I tried on 3.9.0, 4.0.0, and 4.4.0

**Description**

When running spiceinit on certain cubes InstrumentPosition is Null and causes "No instrument position available" Error

**How to reproduce**

in /scratch/kaguya/jaxa_FEB2021 run:
`spiceinit from=cub_stereo/TC2W2B0_01_00770N885E2374.cub spksmithed=true shape=user model=/work/projects/kaguya/TOPO/Lunar_LRO_LOLAK

[2021-05-18 18:15] jessemapel commented on #4471
Tentatively, labeling as products since we're planning to work on kaguya control after the support sprint.

[2021-05-18 18:35] jessemapel commented on #4324
@otherorb Can you reply here about the status of this work. Here's my main questions:

- What remains to be completed?

- Are there specific difficulties that you ran into and are not resolved?

- How can this be validated?

- Are there any automated tests written?

[2021-05-18 20:10] otherorb commented on #4324
- What remains to be completed?
I have pushed the last bit of changes to my branch/fork. These are the things I'm unsure of for various reasons:
1) ADC settings were recently updated so my approach to pulling those values will need to be verified; I haven't been able to compile the most recent ISIS version, so I'm working in a bit of a vacuum on this one.
2) Verification that the code as pushed to

[2021-05-18 21:12] krlberry opened #4473 "Add footprint coordinates for TGO CaSSIS images to exported label"
**Description**
Update `tgocassisrdrgen` to output footprint coordinates which will be added by the UA team to the ISIS Cube labels of CaSSIS images.

**Example**

Take the following keywords/values from the `Archive` group of a CaSSIS cube:

[code]

and update `tgocassisrdrgen` to export these values to the PDS4 label it creates.

(Example of desired output forthcoming)

[2021-05-18 23:20] astrostu opened #4474 "Apply JIGSAW SPICE Corrections After JIGSAW Has Already Run"
**Description**
There are several instances where I've run JIGSAW, gotten a solution, and then decided I want to apply that solution to the input cubes.  In other words, I start with update=no, inspect the solution, find that I like it (e.g., low residuals), and then want to run JIGSAW with update=yes.

However, I'm working on some large nets, and running JIGSAW all over again might be a significa

[2021-05-19 03:36] jessemapel opened #4475 "Extra OSIRIS-REx kernels"
_Originally posted by @KrisBecker in https://github.com/USGS-Astrogeology/ISIS3/issues/4060#issuecomment-841473489_

[2021-05-19 03:38] jessemapel commented on #4060
@KrisBecker I've spun your post off into a new issue so that it's easier for us to track completion on it. I'm also going to get it added to the support prioritization

[2021-05-19 03:42] jessemapel commented on #4473
@kberryUSGS This issue needs to be better fleshed out with acceptance criteria and/or an example of what should be added to the label. Does the team want WKT polygons, lat and lon ranges, or something else?

We can get it prioritized for work, but we need more details about what the team wants prior to work beginning.

[2021-05-19 03:54] jessemapel commented on #4474
Adding this to the jigsaw application directly would be challenging as there's not enough information in just the final control network to recover the final image parameters without redoing at least one iteration of the solution.

A different option could be to take the images.csv output from jigsaw and directly apply that to the images. You can likely already do this with the csv2table applicatio

[2021-05-19 04:08] jessemapel commented on #4434
I think this is only pertaining to the activate scripts as the installation I would not expect to be done in such a situation.

[2021-05-19 14:09] krlberry commented on #4473
They'll update the cubes to include the following in the `Archive` group as part of their pipeline:

[code]

These values need to be exported from the ISIS Cube to the PDS4 output label generated by `tgocassisrdrgen`. (Example of output format forthcoming)

[2021-05-19 15:27] geokramer opened #4476 "updating ISIS, no support for ISIS4+ on Mac 10.14?, mimap2isis"
I apologize in advance for probably posting to the wrong category and likely not following appropriate Github and developer protocols when trying to ask questions and resolve issues. In my defense, I am paid to analyze planetary mission data and make maps, and I have - quite literally - already spent more than half of my grant's funds trying to figure out: 1) how to make mimap2isis work, 2) learn

[2021-05-19 15:35] jessemapel commented on #4476
#4432 is not yet merged, so it's not available in any public release. It will become available in the 5.1 release coming up in July.

We cannot provide hands on installation support, but we are happy to help as much as we can asynchronously. Can you be more specific about where you are encountering issues in the installation process. Going step-by-step through the installation instructions in the

[2021-05-19 15:37] jessemapel commented on #4473
@kberryUSGS footprintinit walks across the entire image and then computes a convex hull of those ground points. This algorithm very rarely generates a square. What should the output be if the footprint shape was a more complex polygon than a square?

[2021-05-19 15:53] krlberry commented on #4473
@jessemapel I can ask them about how they're doing this, but they're generating the coordinates in their pipeline and adding them to the cube, so the point of this ticket is to take the values they've already calculated and added to the cube label and export them to the PDS4 label in `tgocassisrdrgen`.

[2021-05-19 16:39] geokramer commented on #4476
I installed ISIS3 on this machine (I think) 2 years ago. I know I even successfully updated it some months ago. Now updatiung is not working for me.

Here's my attempts (If pasting this as "code" was the wrong thing to do, please tell me):

[code]
After scouring ISIS3 github I found a thread (I apologize if I am misusing terminology) about trying `conda install -c usgs-astrogeology isis=4.3.0` (I

[2021-05-19 16:45] jessemapel commented on #4476
Are you installing into an environment or into your base Anaconda installation? Can you run `conda info` and post the results of that?

[2021-05-19 18:06] geokramer commented on #4476
[code]

[2021-05-19 18:27] astrostu commented on #4476
I'm certainly no expert in this, but I have had no issues running any ISIS version since 3.6 (thru 4.4) on macOS 10.13.x thru 10.15.x and 11.0.x on both Intel and Apple CPUs via the conda install; I've had no issues with previous versions of ISIS running on macOS 10.5-ish through 10.13.  I've not used miniconda before, my understanding is that it is a bare-bones Anaconda installation without any o

[2021-05-20 13:52] jessemapel commented on #4476
@geokramer You may be running into issues with your Python version as you are installing into your base which is python 3.7. Try the following:

[code]

this will ask if you want to make an environment in `/miniconda3/envs/isis` enter `y` for yes. Then run:

[code]

This will set you up with an environment, so an isolated install, that is properly configured to install ISIS.

[2021-05-20 13:53] jessemapel commented on #4476
Potentially related to #3885

[2021-05-20 13:59] jessemapel commented on #4473
As an example, here's a CTX footprint WKT string, from F02_036648_2021_XN_22N022W:

[code]

CaSSIS footprints will likely be simpler as we process each framelet as a separate image so you don't get time dependent changes in the boundary, but there is still distortion and the effects of the DEM you orthorectify onto.

[2021-05-20 18:14] #4434 closed, assigned to nobody

[2021-05-20 19:10] rbeyer commented on #3882
This change became available in [ISIS 4.3.0](https://github.com/USGS-Astrogeology/ISIS3/blob/dev/CHANGELOG.md#430---2020-10-02), and changes the number of output columns in the text output file from `hist`, but I only just noticed it here half a year later.

For the record, this was a **breaking** change.  It altered the default output of an ISIS program.  This feature should have triggered 5.0.0

[2021-05-20 19:46] audiefen commented on #3882
Yes, we recently discovered this while testing ISIS 4.3.0. I agree that it is a breaking change. We are in the process of updating our pipelines to handle the changed output.

Changes like these are what add to the time it takes missions to test and update to newer versions of ISIS. The change seems small, but our pipelines can be complicated and the original developer might no longer be around. I

[2021-05-20 21:49] jessemapel commented on #3882
Good catch here. I think we need to come up with a better definition of what a breaking change is for ISIS. It should capture the library API, the app arguments, and the app outputs that people are writing pipelines against. I'm going to give this some thought over the weekend.

[2021-05-21 13:15] jlaura commented on #3882
From our previous work, I am pretty sure we are considering application output outside of the [versioning schema](https://github.com/USGS-Astrogeology/ISIS3/wiki/RFC2:-Release-Process#versioning). It looks like the change here is in a text file that is output by an application? If so, then isn't this change in the same spirit as #3227.

It sounds like we need to revisit the discussion about what a

[2021-05-21 23:52] rbeyer commented on #3882
I thought the ISIS TC had come to the understanding that "the ISIS API" includes the arguments to userland programs and their output.  In fact, there is this sentence in our [2020-02-11 meeting notes](https://github.com/USGS-Astrogeology/ISIS_TC/blob/master/meetings/2020-02-11.md): "Currently the API is both the library API and the application API."

Sounds like we do if we aren't all on the same

[2021-05-23 22:14] lsantorii opened #4484 "Hello,"
Where can I find a tutorial for creating mosaics with LRO NAC images?

[2021-05-23 23:22] geokramer commented on #4476
@jessemapel That did not solve the updating problem. What it did do is create another isis directory and subdirectories. So now in addition to `/miniconda3/envs/isis3` I have `/miniconda3/envs/isis`.
Neither `conda update isis` nor `conda update isis3` works - they both give me the same error as before.

Should I follow the advice of @astrostu and try to uninstall everything? Do I need full anacon

[2021-05-24 14:08] jessemapel commented on #4476
@geokramer From your `conda info` command you do not have your environment activated. Are you running `conda activate` with either `isis` or `isis3` prior to `conda install`?

[2021-05-24 14:14] jessemapel commented on #4484
Hi,

We do not currently have a LRO NAC specific tutorial. We use GitHub issues for tracking bugs and enhancement requests. If you have a general usage questions we encourage users to use our discourse forum at https://astrodiscuss.usgs.gov/

Robert Wagner mentioned having a tutorial for this here: https://astrodiscuss.usgs.gov/t/adding-tutorials-to-isis-github-wiki/513 I would try reaching out to

[2021-05-24 14:14] #4484 closed, assigned to nobody

[2021-05-24 15:50] krlberry commented on #4473
Example of output PDS4 format, now confirmed!

[code]

[2021-05-24 17:11] geokramer commented on #4476
Same problem:
[code]

[2021-05-24 17:28] jessemapel commented on #4476
That still lists your python version as 3.7 for the isis environment. Can you run `conda list` with the isis environment active and share the output of that?

[2021-05-24 17:40] geokramer commented on #4476
[code]

[2021-05-24 17:47] jessemapel commented on #4476
Okay, let's try using mamba instead of conda to install. Go ahead and install mamba into your environment with `conda install -c conda-forge mamba`. Then retry the installation of ISIS with `mamba install -c usgs-astrogeology isis`.

[2021-05-24 17:50] geokramer commented on #4476
ok, but first can we uninstall the current installation(s)? Or do that after?

[2021-05-24 17:51] jessemapel commented on #4476
You have just made the environment, there is nothing installed into it yet.

[2021-05-24 18:12] geokramer commented on #4476
ok.
To be clear, I should be in the isis environment, right?

[2021-05-24 18:14] jessemapel commented on #4476
Yes, we're going to install into the isis environment, so make sure it is active prior to running the commands from the previous post.

[2021-05-24 18:22] geokramer commented on #4476
Here is what happened following your instructions above (and answering "y" when prompted):

`
(base) Georgianas-MacBook-Pro:~ gkramer$ isis
(isis3) Georgianas-MacBook-Pro:~ gkramer$ conda install -c conda-forge mamba
Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Solving environment: failed with repodat

[2021-05-24 18:25] jessemapel commented on #4476
It looks like it properly downloaded, but it installed 3.10. Run this now: `mamba install -c usgs-astrogeology isis=5.0`.

[2021-05-24 18:26] geokramer commented on #4476
Problem encountered:
`Problem: package isis-5.0.0-0 requires armadillo >=9.200,<10.0a0, but none of the providers can be installed
`

[2021-05-24 18:36] jessemapel commented on #4476
Try running `mamba install -c conda-forge armadillo=9.200.7` and post the output

[2021-05-24 18:40] geokramer commented on #4476
[code]

[2021-05-24 20:03] geokramer commented on #4476
This has definitely broken isis on my system.

[2021-05-24 20:12] jessemapel commented on #4476
You need to be more specific than this. I'm currently working on reproducing the Armadillo error and trying to figure out why it's happening.

[2021-05-24 20:33] lwellerastro commented on #4471
@ladoramkershner Taking a quick look at the filenames using your grep command above, they all appear to be a part of the same REVOLUTION_NUMBER: 770 (00770 is embedded in the filename).

Do all images in this revolution fail?  I don't think this keyword gets propagated to the isis cube upon ingestion, but it's a part of the filename and in the .lbl file, so it's part of the original label informat

[2021-05-24 20:55] jessemapel commented on #4471
This is my guess for the problem. I'm not sure where we get the kernels from though.

[2021-05-24 20:59] geokramer commented on #4476
I'm sorry.
It seems I cannot run ISIS programs since doing these. I'm just letting you know. Here's an example:

[code]

[2021-05-24 21:08] jessemapel commented on #4476
It looks like this is the problem. Similarly, the rpath error above appears to be looking for dependencies across your environments. Do you have the **isis3** package installed in your base environment? You cannot install the **isis3** and **isis** packages into the same or nested environments (all environments are nested under base) because conda thinks they are completely different.

If you want

[2021-05-24 21:17] astrostu commented on #4476
@jessemapel That's why I suggested wiping and doing a clean install.  You might recall I had a similar library dependency issue when I tried doing various things in a Linux virtual environment.  It was fixed when doing a clean wipe/install.

@geokramer In case you don't know, when you install something via conda, ideally the program tells conda everything that it needs to run, AND the exact versio

[2021-05-24 21:18] jessemapel commented on #4476
I was able to do a fresh install of ISIS 5.0.0 on OSX 10.14.6 with a fresh Miniconda install.

I would recommend a fresh Miniconda install at this point. You can leave your old install as is and just comment out the initialization in your start-up files in case you want to revert.

[2021-05-24 22:44] jessemapel commented on #4324
Okay, I've gotten the code compiling and what appears to be applying the new dark current correction, see my fork https://github.com/jessemapel/ISIS3/tree/ZeroDarkRate. Tomorrow I'm going to start testing this out and writing some simple automated tests. I have a few questions:

1. Zero Dark appears to be doing some filtering on the dark current correction values. Is this something that should be

[2021-05-24 23:10] rbeyer commented on #4324
Didn't we fix this in #4290?

[2021-05-24 23:20] jessemapel commented on #4324
Oh cool! Our hical test image still has -9999, so I'll just use a more up to date image for testing.