[2019-05-21 18:19] krlberry commented on #3301
The category test should have the following steps:
1 - ingest an image
2 - spiceinit
3 - campt

This is a good example cat test in terms of its contents:
`mro/tsts/hirise/Makefile`

Stylistically, I prefer not setting variables for  to be used for application names as in: `hayabusa/tsts/fullframe/Makefile`, or to call them something like `$INGEST` instead of something like `$APP1`

[2019-05-21 18:19] krlberry commented on #3302
The category test should have the following steps:
1 - ingest an image
2 - spiceinit
3 - campt

This is a good example cat test in terms of its contents:
`mro/tsts/hirise/Makefile`

Stylistically, I prefer not setting variables for  to be used for application names as in: `hayabusa/tsts/fullframe/Makefile`

[2019-05-21 18:19] krlberry commented on #3300
The category test should have the following steps:
1 - ingest an image
2 - spiceinit
3 - campt

This is a good example cat test in terms of its contents:
`mro/tsts/hirise/Makefile`

Stylistically, I prefer not setting variables for  to be used for application names as in: `hayabusa/tsts/fullframe/Makefile`or to set them to `$INGEST` or similar, rather than `APPLICATION1`

[2019-05-21 20:00] #3298 closed, assigned to jessemapel

[2019-05-22 17:15] krlberry opened #3305 "Isis kernels scripts - comm error"
**Description**
Kernel scripts that were updated and ran last night have the following error:
[code]

[2019-05-22 18:37] SgStapleton commented on #3298
I'm sorry I missed the CMakeLists.txt file guys!

[2019-05-22 21:38] kaitlyndlee opened #3306 "The hrsc2isis documentation says there is an IMAGE parameter but it does not exit"
**Description**

If you look at the hrsc2isis FROM parameter description, it says "If the pointer is incorrect then use the IMAGE parameter to specify the file containing the binary image data." However, there does not exist an IMAGE parameter. I am not sure if the parameter is needed or not.

**Suggested Edit**

Add an IMAGE parameter if it is needed. If it is not needed, take out that sentence f

[2019-05-23 02:03] ycwang0011 opened #3308 "Problems of forming MESSENGER phase-ratio images"
I'm doing phase-ratio analysis of features on Mercury and try to repeat previous work in Blewett et al_2014_Icarus using the same MDIS NAC and WAC data. But we meet some problems:
1.  The NAC data failed when running with the coreg step. "Group=AutoRegStatistics" in coreg results shows: Total=1024 but successful=0. PatternChip we set is 45 and SearchChip is 65.
2.  The repeated ratio images we did

[2019-05-23 02:28] jlaura commented on #3308
This is a great question. Would you please post this over at https://astrodiscuss.usgs.gov/ Many more non-developers also frequent that forum and can provide additional support.  Thanks!

[2019-05-23 20:34] #3301 closed, assigned to kaitlyndlee

[2019-05-23 20:35] #3299 closed, assigned to kaitlyndlee

[2019-05-23 20:35] #3305 closed, assigned to acpaquette

[2019-05-24 03:12] ycwang0011 opened #3310 "How to use mercury MDIS EDR data to generate calibrated albedo images？"
How to use mercury MDIS EDR data to generate calibrated albedo images？
Here's an example of MDIS WAC EDR data.
[EW0218373494G.zip](https://github.com/USGS-Astrogeology/ISIS3/files/3214917/EW0218373494G.zip)

Thanks!

[2019-05-24 03:17] jlaura commented on #3310
Please open questions like these on https://astrodiscuss.usgs.gov.

Thanks!

[2019-05-24 03:17] #3310 closed, assigned to nobody

[2019-05-24 17:54] krlberry opened #3311 "Isis Kernel Scripts - Archive scripts related to distributing Isis builds via rsync server"
**Description**
Create `archive` directory and move all deleted scripts into it with a README explaining what they are and why they're in the archive.

[2019-05-24 22:34] #3264 closed, assigned to kaitlyndlee

[2019-05-24 22:57] krlberry opened #3312 "Can these internal scripts be archived?"
**Description**
The following `isis3mgr_scripts` do not currently appear to be in use:

* `FindCVS.sh`
* `cvsStartup.csh`
* `cvsStartup.sh`
* `buildIsis` (replaced by `buildIsisCmake`)
* `buildIsisAllSys` (replaced by `buildIsisCmakeAllSys`)
* `initIsis.sh` (replace by `initIsisCmake.sh`)
* `initIsis.csh` (replace by `initIsisCmake.csh`)
* was `sendBuildEmail` replaced by `sendCmakeBuildEmail`?

T

[2019-05-24 23:02] #3300 closed, assigned to kaitlyndlee

[2019-05-24 23:02] #3268 closed, assigned to acpaquette

[2019-05-24 23:02] #3269 closed, assigned to kaitlyndlee

[2019-05-24 23:02] #3271 closed, assigned to acpaquette

[2019-05-24 23:02] #3272 closed, assigned to kaitlyndlee

[2019-05-24 23:02] #3273 closed, assigned to acpaquette

[2019-05-24 23:02] #3274 closed, assigned to acpaquette

[2019-05-24 23:02] #3275 closed, assigned to kaitlyndlee

[2019-05-24 23:02] #3276 closed, assigned to kaitlyndlee

[2019-05-28 15:42] #3311 closed, assigned to kaitlyndlee

[2019-05-28 17:50] #3167 closed, assigned to kaitlyndlee

[2019-05-28 19:56] krlberry opened #3313 "Can edrget be deprecated?"
**Description**
The `edrget` application doesn't seem to do much more than `wget`, for example. (Does it offer additional key features?) Can it be deprecated and removed from ISIS or would this break anything internally or externally? Is this functionality still needed as part of ISIS?

See: https://isis.astrogeology.usgs.gov/Application/presentation/Tabbed/edrget/edrget.html

[2019-05-28 21:07] krlberry opened #3314 "Internal thmproc vis test failing on prog26"
**ISIS version(s) affected**: 3.7.1

**Description**
Internal thmproc vis test failing on prog26 with:
 Failed ... Case [] [2019-05-28 14:02:12]
[2019-05-28 14:02:10]   Failed ... File [V01001002EDR.cub]

**How to reproduce**
ctest -R thmproc_app_test_vis using a recent internal nightly build

**Possible Solution**
Update tolerance for test, appears to be incorrectly failing.

[2019-05-28 22:02] #3314 closed, assigned to nobody

[2019-05-29 15:05] jessemapel commented on #3312
The only things I'm unsure about are the initIsis scripts. They could be convenient for working with old versions of ISIS, but users can just use the public isis3Setup scripts in the actual codes.

[2019-05-29 21:37] krlberry opened #3318 "Dawn FC Camera model should not throw an error that says to email someone"
**ISIS version(s) affected**: all

**Description**
On line 102 of `DawnFcCamera.cpp`, an error message for an exception has the following appended to it:

[code]

As Jeff Anderson is retired, this line should either be updated or eliminated. (The error message does explain what is wrong without this addition.)

**How to reproduce**
N/A - If you wanted to test that the exception is thrown, you'd ne

[2019-05-29 22:20] krlberry commented on #3239
From one of the earlier posts, focusing on spice-related cleanup:
[code]
 ~6,000 old kernel database files were cleaned up as part of the Isis Spice sprint (thanks @kaitlyndlee and @acpaquette !), but we didn't clean up any of the other categories.

@scsides @SgStapleton Did either of you end up doing any cleanup of the spice-related things listed above, and if not, would it still be useful to do

[2019-05-30 15:50] scsides commented on #3239
@jlaura I have not, but it would be import to purge these and keep them purged before the move.

For the IK and IAK there are only a few and they are small. It would be nice to have these under revision control and then remove the older ones, so we can see how they changed if necessary.

[2019-05-30 17:25] #3302 closed, assigned to acpaquette

[2019-05-30 19:46] jlaura commented on #3318
Can someone grab this this sprint and just clean it out? This is a super tiny issue that we can fix really fast I think?

[2019-05-30 22:40] SgStapleton commented on #3239
@kberryUSGS I did not do any of the cleanup yet within the directories that still exist there. They are untouched!

[2019-05-31 20:18] krlberry commented on #1997
Just wanted to post that this is still a problem. I just tried to re-spiceinit some M3 test data to remove external data dependencies (outside of `$ISIS3DATA` and `$ISIS3TESTDATA`) as part of some maintenance work and needed to specify the same spk that @lwellerastro mentions above to get spiceinit to succeed.

Editing this to add -- I _think_ it's either the same problem or at least related. I do

[2019-06-01 03:48] jlaura commented on #1997
@lwellerastro @blandoplanet @kberryUSGS Is this something that we should tag as a candidate for the next support / maintenance sprint? Not a sprint that will happen immediately, but this might be a candidate?

[2019-06-01 03:50] jlaura commented on #3313
I have labelled this 'maintenance' so that we can consider this in the next maintenance/support sprint. If we have not heard anything back on this issue we should consider what a deprecation warning might look like and how we want to present it. We can also generate and publicize whatever deprecation plan we develop and have a concrete example app where this plan is put into practice.

@kberryUSGS

[2019-06-03 15:42] lwellerastro commented on #1997
No - old project.  However, it should be fixed because it's broken and used to work.  But it would contribute zero to anything currently being worked on.  I can't be involved - too busy.

[2019-06-03 22:51] dcookastro commented on #2591
Ken Edmundson discovered one more problem when processing some of the Voyager data.  After all the other minor bugs mentioned above were fixed, he did a test with error propagation turned on, and jigsaw failed with an error message about an uninitialized distance.  He found that the problem occurs when points are fixed or tightly constrained.  This generates very small, but valid sigmas for the an

[2019-06-04 01:39] rvwagner opened #3323 "qview advanced stretch tool crashes for uniform-value bands"
**ISIS version(s) affected**: 3.5.1 and 3.7.1 tested so far
Tested on MacOS 10.12.6 and Ubuntu 14.04.5 LTS

**Description**
In qview, if a cube is displayed in RGB mode, and one of the displayed bands contains entirely 1's (probably any value that is constant over the entire band?), if you start the Advanced Stretch tool, qview hangs for several minutes at 100% CPU usage, and eventually crashes.

[2019-06-04 15:23] jessemapel commented on #3323
Hi @rvwagner, is there a specific image that this happened on or is it any image with a single value in a band?

If you haven't tested many images, that's okay. It is not hard for us to make a simple test image for this bug.

[2019-06-04 20:32] rvwagner commented on #3323
I tested it on a 63-band image that the LROC team will be releasing to the PDS soon, but the output of `makecube to=t.cub val=1 sam=5 line=5 band=1` seems to do the same thing.

[2019-06-05 22:10] krlberry commented on #1997
I can't comment as to the priority, but the fix to get spiceinit to not fail in this circumstance would probably just be to add `CH-1-JPL-MERGED-23-MARCH-2010-1220.BSP` to the kernel db file and have it get picked up when no higher-quality kernels are available at a given image time. So assuming there aren't any unexpected difficulties (though this can be quite the assumption), the fix would be a

[2019-06-05 22:21] lwellerastro commented on #1997
It's not likely to be that straight forward as this is something we (astro) broke while trying to add improved reconstructed kernels to the system.  You would have to go back to a few redmine posts or ask @scsides  if he remembers the details.  There are issues with our reconstructed kernels that are part of the problem as is some deeper camera thing Stuart found that I don't understand, but wasn'

[2019-06-05 22:58] krlberry commented on #1997
@lwellerastro Thanks for the information! I had a feeling that I was going to regret suggesting that it might be an easy fix based on the < 1 hour I spent looking into it ;)

[2019-06-06 17:29] blandoplanet opened #3326 "qview fails to launch and exits without error message"
I'm working on astrovm4 via Putty on my Windows machine.

Initializing the default ISIS (3.6.0) via 'setisis isis3' (I know - I haven't converted to conda) is successful. When trying to launch qview by simply typing 'qview', the system pauses for a moment and returns to my prompt without providing an error message. Other q applications - qmos, qnet - seem to be acting normally. I was using qview e

[2019-06-06 17:40] jessemapel commented on #3326
What is the error message?

[2019-06-06 17:40] jessemapel commented on #3326
Also, please fill out the bug template

**ISIS version(s) affected**: x.y.z

**Description**

**How to reproduce**

**Possible Solution**

**Additional context**

[2019-06-06 17:42] blandoplanet commented on #3326
There is no error message.

ISIS version(s) affected
3.6.0

Description
I'm working on astrovm4 via Putty on my Windows machine.  Initializing the default ISIS (3.6.0) via 'setisis isis3' (I know - I haven't converted to conda) is successful. When trying to launch qview by simply typing 'qview', the system pauses for a moment and returns to my prompt without providing an error message. Other q app

[2019-06-06 17:44] jlaura commented on #3326
Is this also present in 3.7.1?

[2019-06-06 17:47] blandoplanet commented on #3326
Hmmm. Maybe this is a Xming bug. I reproduced this 3 or 4 times an hour ago (even tried a restart of my machine), but now it seems to be working fine.

[2019-06-06 17:47] #3326 closed, assigned to nobody

[2019-06-06 18:31] blandoplanet opened #3327 "Running 'setisis isis3' defaults to ISIS3.6.0 rather than the current version of ISIS (3.7.1)"
**ISIS version(s) affected**: 3.6.0 and current version

**Description**
Working on astrovm4, initializing ISIS with 'setisis isis3' defaults to isis3.6.0 rather then the current version (3.7.1).

**How to reproduce**
On astrovm4, type 'setisis isis3' at the command prompt. Verify that the output states something like:  "ISIS3 Setup In: /usgs/pkgs/isis3.6.0/install - Successful"

**Possible Soluti

[2019-06-06 19:03] jessemapel commented on #3327
How quickly does products want us to bump to the newest release? As soon as it's out? A week after? This is a very easy fix, just a symlink.

[2019-06-06 21:37] jlaura commented on #3327
This is a really good question! Where do people work? Do you start a project and pin the version for the entire project? Do you work near the head knowing that issues could arise doing this (the move to the new kernel is a prime example)?

[2019-06-07 15:40] blandoplanet commented on #3327
I agree that this is a really good question. I assume our "superusers" will be setting ISIS to whatever flavor they want anyway, so this really only affects a small set of people. I would think the default should be to keep up with the current public version (i.e., not the release candidates, but once there's a new release and any bug fixes - 3.7.*). Users can always roll back if we encounter a pr

[2019-06-07 15:56] jessemapel commented on #3327
We should go ahead and update the symlink to 3.7.1. I've sent out an e-mail to switch over on the 14th.

[2019-06-07 19:01] kaitlyndlee opened #3328 "Control Networks page under For System Administrators section should be moved to a different section"
**Description**

If you go to the ISIS wiki and go to the ISIS3 Technical Documents page: https://isis.astrogeology.usgs.gov/TechnicalInfo/index.html there is a section called "For System Administrators". Under this section is a link to a Control Networks reference page. This page looks out of place under that section.

**Suggested Edit**

 I am not sure what the best section it can be moved to is

[2019-06-07 19:38] twilson271828 commented on #3313
edrget was designed to be a more user-friendly version than wget for non-programmers who have a url and want to grab files, or perhaps write a simple bash/python script loop to do it.  That's about it.  Are there scripts or chron jobs running out in the wild that depend on edrget?  Possibly.  Should they?  Probably not.

[2019-06-07 19:51] krlberry commented on #3328
While someone is looking at this anyway, there are a few default values that have question marks on them. It would be good to have the default values double-checked and then the question-marks removed from the docs. (If this gets too big, it could be a separate ticket?)

[2019-06-10 14:23] jessemapel commented on #3328
@kberryUSGS Are those values on the control networks page?

[2019-06-11 18:46] krlberry commented on #3328
@jessemapel Yes

[2019-06-13 16:17] patmfry opened #3330 "noprojInstrumentsXXX.pvl entries for Mariner 10"
**Description**
Could there be entries in noprojInstrumentsXXX.pvl for Mariner 10 vidicons? I know I can add them myself but would like to not have to after data rsync. Thanks.

**Example**

  Group = "MARINER_10/M10_VIDICON_A"
    DetectorSamples = 832
    DetectorLines = 700
  End_Group

  Group = "MARINER_10/M10_VIDICON_B"
    DetectorSamples = 832
    DetectorLines = 700
  End_Group

[2019-06-17 14:12] adakite opened #3331 "Anaglyph generation"
I strongly think that offering an anaglyph generation in ISIS would be great. This is something useful for science, outreach and also when looking at the best results after bundle adjustment with a very efficient way of visualising the alignement of images and the resulting parallax.

Meanwhile, maybe there is out there some tools able to do that (besides SOCET SET) accounting the for spice/sensor

[2019-06-17 14:16] jlaura commented on #3331
@adakite If you could use the feature request template for the submitted issue that would be appreciated! What does the interface for this look like? What types of data does this support? What are the input/output formats? How would you want to use a tool like this, etc.

I have copied the template, that is displayed when opening a new issue, below for your convenience. You should be able to edit

[2019-06-17 14:22] adakite commented on #3331
**Description**
Request for a new tool in ISIS, able to generate anaglyph.

**Motivations**
I strongly think that offering an anaglyph generation in ISIS would be great. This is something useful for science, outreach and also when looking at the best results after bundle adjustment with a very efficient way of visualising the alignement of images and the resulting parallax.

Meanwhile, maybe there

[2019-06-17 16:11] jessemapel commented on #3330
@patmfry Do you have a source for the detector sizes for the instruments? I'd like to have the provenance documented somehow when this is done.

[2019-06-17 17:30] scsides opened #3332 "Help options not working in GUI or command line"
**ISIS version(s) affected**: x.y.z

**Description**
The command line help option for all non-interactive programs is failing with the browser error: File not found.

**How to reproduce**
Type program_name -webhelp (e.g. spiceinit -webhelp) OR
in the GUI for a non-interactive programs go to: Help->About This Program OR ctrl+H

**Possible Solution**
The documentation is no longer supplied with the

[2019-06-17 18:14] patmfry commented on #3330
Hi,
How about

@ARTICLE{1974Sci...183.1307M,
       author = {{Murray}, Bruce C. and {Belton}, Michael J.~S. and
         {Danielson}, G. Edward and {Davies}, Merton E. and {Gault}, Donald and
         {Hapke}, Bruce and {O'Leary}, Brian and {Strom}, Robert G. and
         {Suomi}, Verner and {Trask}, Newell},
        title = "{Venus: Atmospheric Motion and Structure from Mariner 10 Pictures}",

[2019-06-18 16:03] jessemapel opened #3333 "ciss2isis documentation should mention the overclock pixel table"
**Description**

We recently had a question on [astrodiscuss](https://astrodiscuss.usgs.gov/t/cassini-iss-overclocked-pixels/207) about where the overclock pixels are stored post ingestion for Cassini ISS images. It is well documented in the code that the line prefix that contains the pixels is read into a table on the cube, but this isn't mentioned anywhere in the application documentation.

**Su

[2019-06-19 18:05] jlaura commented on #3331
@audiefen Wonderful presentation at the 2019 Data User's Workshop!

I wonder if the code that you are using to build anaglyphs (using ISIS) might be made available somewhere? I think your use case is a great example of code that uses ISIS to solve a pretty specific problem. Thanks!

[2019-06-20 17:59] audiefen commented on #3331
Thanks @jlaura!

The code is not available at this time and is still in development. I am interested in making it available though. I would love it if others found it helpful in some way, but I would also welcome any feedback on the code itself (this was my first endeavor with python), as well as any advice on how to improve/make more efficient the image registration approach.

I need to run it by

[2019-06-24 18:13] krlberry opened #3334 "Make bad spice data to test testing"
**Description**
Generate corrupt SPK and CK files to test that the new test can identify failures and behave as expected (fail and CRON will send out the error message.)

**Example**

[2019-06-24 18:15] krlberry opened #3335 "Kernel dbs aren't getting cleaned up for MEX and one other mission"
**Description**
Kernel dbs aren't getting cleaned up for MEX and maybe one other mission (check to see). Test out kernel cleanup regex.

[2019-06-24 18:16] krlberry opened #3336 "Add kernel db cleanup to LRO"
**Description**
Add Kernel Db cleanup to LRO Kernel update script.

[2019-06-24 18:17] krlberry opened #3337 "Check on status of MESSENGER kernel databases"
**Description**
Check to see if MESSENGER kernel db files are getting cleaned up. If not, add cleanup.

[2019-06-24 18:20] krlberry opened #3338 "Update an example kernel update script to add testing prior to distribution."
**Description**
Update an ISIS kernel update script to do the following:

(1) Identify if new ck(s) or spk(s) were downloaded
(2) Run ck or spkbrief on each newly downloaded kernel from (1)
(3) If it fails, script should fail with an error, don't push the kernels to rsync.

Testing should go in a function that can later be added to other scripts

[2019-06-24 18:30] krlberry opened #3339 "Add spiceinit test to ISIS kernel update script(s)"
**Description**
Add a spiceinit test to a kernel update script. This is:
(1) Edit a cube label to have a set of StartTime, EndTime, SpacecraftClockStartCount within the range of the newly downloaded ck or spk.
     - if endtime doesn't exist, don't update it
     - double-check that new kernel is actually getting picked up (visual check, not necessarily in code)
(2) Run spiceinit
(3) If fails, scr

[2019-06-24 19:01] krlberry commented on #3334
Check out:
`/work/users/kberry/bad_spice`

There is a broken CK and SPK for Hayabusa2: `hyb2_hk_2016_v02.bc` and `hay_osbj_050911_051118_v1n.bsp` . For me, the broken SPK causes `brief` to fail with a segfault and the broken CK causes `ckbrief` to fail with a cleaner "no ck kernel supplied" error.

[2019-06-24 19:08] krlberry commented on #3337
(1) There are not many CKs, so I don't think any action needs to be taken there.
(2) There are 50 SPKs, so it does look like these aren't getting cleaned up _but_ there hasn't been a new SPK update since 2015, so might need to run cleanup once, by hand.

[2019-06-24 19:11] kberryUSGS commented on #3337
Update 2: There is no update script for Messenger kernels, which is why they aren't getting cleaned up. But how did the spk kernel db get all the way up to: `kernels.0184.db` without automated updates?

[2019-06-24 19:17] krlberry commented on #3337
Ended up doing a one-time cleanup of MESSENGER spk kernel directories.

[2019-06-24 19:18] #3337 closed, assigned to krlberry

[2019-06-24 20:04] krlberry commented on #3335
MEX spks, specifically aren't getting cleaned up.

[2019-06-24 20:20] krlberry commented on #3335
PR is up on astrogit.

[2019-06-24 20:24] krlberry commented on #3335
Nothing else that has a kernel download script has CKs or SPKs that aren't being cleaned up. TGO has 30 instead of 10 in total, but that's because it's 10 each of 3 different categories of dbs.

[2019-06-25 00:28] krlberry commented on #3336
PR up for this on astrogit. Also cleans up all but the last 10 sclk files on recommendation of Stuart.

[2019-06-25 17:23] jessemapel commented on #3327
Unfortunately I was out sick on the date we were suppose to switch over and then I got caught up in conferences, so I am going to do this tomorrow morning.

[2019-06-25 17:40] scsides opened #3340 "spiceinit for Cassini can't find newest PCK"
**ISIS version(s) affected: All at time of issue creation 3.7.1

**Description**
I’ve been running into some trouble with the Spiceinit module in ISIS 3.6.2. I’m trying to process  data from the Cassini mission. I’m getting the following error:
“No existing files found with a date version matching [cpck{ddMMMyyyy}.tpc] in[.../isis3/data/cassini/kernels/pck]”
when running:
`spiceinit from=v16374647

[2019-06-25 18:38] jlaura commented on #3340
@scsides How far back does this going? Is this pre-conda transition? I ask just to try and figure out when to schedule (during the RC process or with support).

[2019-06-25 18:48] lwellerastro opened #3341 "findfeatures multi algorithm fails for Galileo (sometimes)"
**ISIS version(s) affected**: 3.7.1

**Description**
findfeatures fails for Galileo images when using multiple algorithms, but is successful for other Galileo input images.  In the case of failure, findfeatures is successful when running each algorithm as a separate run.  When running with multiple algorithms, the debug log file is created and matches are made, but no other output files are create

[2019-06-26 03:32] victoronline opened #3342 "Is src folder missing when installing latest isis3 version via Anaconda?"
**ISIS version(s) affected**: 3.7.1

**Description**
When installing ISIS3 via Anaconda, the src folder is not included in the install (at least I can't find it).

**How to reproduce**
Install the latest version via Anaconda

**Possible Solution**
Include src folder as part of the install

[2019-06-26 15:49] jessemapel commented on #3342
With Anaconda we only distribute the binaries and what's required to run them. Is there a reason why you would need the source code too?

[2019-06-26 15:53] rbeyer commented on #3342
That reads funny out of context: 'why do you need the source code?"

Of course, Jesse means, "Is there a reason why you would need the source code distributed with the Anaconda packages, instead of just pulling it from GitHub when you need it."

I had this same initial issue.  At one point I reflexively went looking for the src/ directory, got miffed that it wasn't there, and then remembered that

[2019-06-26 19:40] victoronline commented on #3342
Haha.  I should have provided more context. To answer the question, our users probably refer to the source code more than the documentation when using ISIS. They do this to make sure they are using the software correctly, to verify the formulae used are what they are expecting, and to better understand the changes between software versions. Due to this, they like having the src code readily availa

[2019-06-26 20:00] krlberry commented on #3336
Fixed in astrogit. Future astrogit tickets will be on astrogit. Ran last night, worked.

[2019-06-26 20:00] #3336 closed, assigned to krlberry

[2019-06-26 20:02] krlberry commented on #3335
MEX is getting cleaned up now, ran last night looks good! (code checked in on astrogit, future astrogit internal tickets will be on astrogit.)

[2019-06-26 20:02] #3335 closed, assigned to krlberry

[2019-06-27 23:07] krlberry opened #3344 "Update spiceinit error message to direct user to try ckpredicted or spkpredicted"
**Description**
If ckpredicted or spkpredicted are not set to true when running `spiceinit`, but no higher-quality kernels are found, spiceinit fails with, for example:

"No instrument position available" or "No camera pointing available"

This error message should be updated to include something like:  “No instrument position available. Predicted kernels may be available. Access these by turning

[2019-06-27 23:14] krlberry opened #3345 "Update spiceinit to optionally output a meta-kernel containing the kernels selected by ISIS."
**Description**
Update `spiceinit` to include an option to output a meta-kernel to a file (in addition to doing what it normally does to attach kernel information to the cube.)

This would include adding a user-parameter to specify whether or not to generate an output metakernel (default = no) and, if yes, another user-parameter for the filename for the output metakernel.

For meta-kernel informat

[2019-06-27 23:28] krlberry opened #3346 "Update spiceinit to (optionally) accept a meta-kernel as input"
**Description**
Update `spiceinit` to (optionally) accept a meta-kernel as input, so that it will use the meta-kernel to select kernels to load, rather than going through the kernel database setup (this is way to optionally bypass Isis's kernel selection.)

Warning this is very open-ended: I'm not sure how the internal details of this will work -- can we just furnish the meta-kernel / everything i

[2019-06-28 15:00] jessemapel commented on #3346
Do metakernels define shapemodels too? What about metakernels that are for entire years that have dozens of different SPKs and CKs, it would be time consuming to determine which kernels actually got used.

This is so open-ended it would be valuable to just have an implementation of this and then evolve from there.

[2019-06-28 15:42] rbeyer commented on #3346
They can refer to SPICE DSK files, which are kernels.

Why do you care which ones get used?  If the user gives you a list of kernels in a meta kernel, then you load the metakernel via furnsh(), and let SPICE sort it out.  Done.

[2019-06-28 15:45] jessemapel commented on #3346
@rbeyer spiceinit adds some information to the kernels group in the instrument label. This normally contains information about which kernels were used for what. We may need to just put a single metakernel keyword in there when spiceiniting with a metakernel.

Also, in ISIS we specify shapemodel in spiceinit, so if you want to use MOLA, I'm curious if you will still need to specify that at command

[2019-06-28 15:46] jessemapel commented on #3327
Done

[2019-06-28 15:46] #3327 closed, assigned to nobody

[2019-06-28 15:53] rbeyer commented on #3346
@jessemapel ah, yes, you'll loose some 'specificity' by only being able to list the meta-kernel in your labels and history.  You hand a meta-kernel to furnsh() and then SPICE decides what it needs.  I'm not sure if there's a way to ask SPICE *exactly* what kernels from the pool that it used, so there may be no way to be more specific.

Well, for that specific example, the my_mola_dem.cub isn't a D

[2019-06-28 16:13] jessemapel commented on #3346
@rbeyer I think that dsk in the mk problem isn't an issue becuase we don't use the high level SPICE intersection calls. So, even if you furnsh a DSK, we're not going to intersect it unless ISIS is aware of it.

I think we're going to have to explicitly pass the shapemodel as we do right now (although it is sometimes handled by the kerneldbs in the background). ISIS needs to know which type of shap

[2019-07-01 15:43] dcookastro commented on #2591
Pull request for these changes has been approved.

[2019-07-01 15:43] #2591 closed, assigned to nobody

[2019-07-01 19:07] victoronline commented on #3342
So should I assume that the source folder going to not be added? I just need to know so I know what to do on my end.

[2019-07-01 19:17] jlaura commented on #3342
@victoronline Apologies for the late reply. At this time, yes, we are not going to be shipping the source with the release as the source is available on GitHub.

[2019-07-01 19:23] victoronline commented on #3342
No worries. Thanks for the reply.  Closing.

[2019-07-01 19:23] #3342 closed, assigned to nobody

[2019-07-01 19:49] jlaura commented on #3342
@victoronline One thing I failed to add is that we anticipate the best way to see the source associated with the version is to use the associated Tag on GitHub. For a non-dev user this is likely not going to be at all intuitive. What can we do to assist users in finding the source associated with a release that they are using? Would this be something the users you are supporting would look for in

[2019-07-01 21:18] victoronline commented on #3342
I think they would look for it in the ISIS application documentation (not on GitHub). I think somehow linking the source code on GitHub to this documentation would be helpful for non-dev users. For example, if a user needed information about lrowacpho, they will most likely search "usgs isis lrowacpho", which will ultimately take them to https://isis.astrogeology.usgs.gov/Application/presentation/

[2019-07-01 21:36] jlaura opened #3348 "Link to src files in docs"
**Description**
This is pulled from #3342. The gist is that the src is not shipped with the binaries and users would like to be able to link to the source from the application documentation. Example use case quoted below:

**Suggested Edit**

[2019-07-01 21:36] jlaura commented on #3348
@victoronline Issue opened for this documentation enhancement.

[2019-07-02 07:02] michaelaye commented on #2677
Is still still open, considering that the changelog for cisscal indicates:

[2019-07-02 07:05] michaelaye opened #3351 "CISSCAL update to 3.91"
**Description**

The released `cisscal` IDL routine was updated to 3.91 (current ISIS3 cisscal uses 3.8), with 3.9 having a significant upgrade in the calibration compared to 3.8 (at least it sounds like it).

A nice changelog and links to cisscal and docs can be found here, maintained by the Rings/Moons node:
https://pds-rings.seti.org/cassini/iss/index.html

[2019-07-02 12:49] jlaura commented on #2677
@michaelaye Can you rephrase? I am not sure what you mean.

[2019-07-02 17:58] SgStapleton opened #3352 "Failing std2isis_app_test_argb test on prog26"
**ISIS version(s) affected**: 3.7.0+ (Maybe earlier?)

**Description**

The std2isis_app_test_argb test has been failing on prog26/27 since at least late March. (Builds were failing before from the shutdown, so it is unclear when this actually started.)

**How to reproduce**

This is apparent in our nightly builds. You may also run the test individually from a current build.

**Possible Solution**

[2019-07-02 17:59] jessemapel commented on #3352
Could this be a problem with how the Mac QT build is done? Are we still using our own custom build?

[2019-07-02 20:44] SgStapleton commented on #3352
It could be. We are still building our own version of QT. (Looks like we may be focusing on sending conda-forge a recipe this next fiscal...?) The only thing I am confused about: have we rebuilt QT for mac since the shutdown? This test was passing before then...

[2019-07-02 20:45] jessemapel commented on #3352
We re-built our nightly environment around the time of the shut down. So, if we re-built QT, we wouldn't get it until we updated our environment for nightly.

[2019-07-02 20:49] jlaura commented on #3351
PR solicited to make this enhancement. I do not see the internal dev team making this upgrade in the short term.

[2019-07-02 20:49] SgStapleton commented on #3352
Note: Put a QDebug statement (```qDebug() << QImageReader::supportedImageFormats();```) into both a Linux and a Mac build of isis to see what file types are even supported with the current QT build, and we are not seeing "jpeg" in Mac, though we are seeing it in Linux. (This test happens to be using a jpeg file.)

It looks like @jessemapel may be right in that there is a problem with our QT build.

[2019-07-02 21:17] jessemapel commented on #3352
from https://anaconda.org/usgs-astrogeology/qt/files, it looks like October 9, 2018

[2019-07-05 00:45] michaelaye opened #3356 "Conda install instructions are currently failing"
**ISIS version(s) affected**: (3.6.0)+

Precise current version does not seem to be mentioned on Install Instructions website https://isis.astrogeology.usgs.gov/documents/InstallGuide/index.html

**Description**

I followed all install instructions on
https://isis.astrogeology.usgs.gov/documents/InstallGuide/index.html.

When getting to:

`conda install -c usgs-astrogeology isis3`

I get

[code]
*

[2019-07-05 03:14] jlaura commented on #3356
That version of geos is currently available for [linux](https://anaconda.org/usgs-astrogeology/geos/files) and [osx](https://anaconda.org/conda-forge/geos/files?page=2).

Having said that, I am able to reproduce this on an OSX laptop, so not sure what is going on.

[2019-07-05 16:42] michaelaye commented on #3356
Platform is osx-64, as reported by `conda info`.

[2019-07-05 16:47] michaelaye commented on #3356
It looks like it's precisely the osx-64 branch only that is missing geos:

[code]

[2019-07-05 16:50] michaelaye commented on #3356
Also looks like on here, that only the linux version is being offered:

https://anaconda.org/usgs-astrogeology/geos

[2019-07-05 19:46] jlaura commented on #3356
Yes.

As I already posted, I am able to reproduce on an OSX box. Also, as I already linked, the osx version of geos at 3.5.1 is available via Conda-forge and not the usgs-astrogeology anaconda repo. All of this is as expected currently.

I have reproduced your issue on a clean OSX installation so we can go from there.

[2019-07-05 20:21] michaelaye commented on #3356
I think this is a conda bug. :( Otherwise I cannot explain why it would not see the 3.5.1 osx version in the conda-forge repo you linked.

[2019-07-05 20:29] michaelaye commented on #3356
Unfortunately, downloading and installing the tarball with conda is no work-around, because after that, conda still fails to resolve the dependency tree:

[code]

[2019-07-05 20:35] michaelaye commented on #3356
See https://github.com/conda/conda/issues/8875

[2019-07-09 17:08] ashwinbraude1 opened #3357 "Vimscal leads to poor calibration of both Jupiter and Saturn spectra."
Hi,

I'd like to re-open an old thread which I am no longer able to edit (refer to https://isis.astrogeology.usgs.gov/fixit/issues/5331 for more detail on the background and for graphical plots) as I am currently revisiting Saturn VIMS data and the original issue still hasn't been resolved in the latest release of ISIS3. I'd also like to keep this thread public as I am in contact with several othe

[2019-07-10 13:22] dbolan commented on #1790
I think just ran into this issue with version 3.7.1, except for me it fails silently. Instead it comes up with a bogus value for the solar distance and as a result zeroes out all the data in the cube.
I downloaded the calibration data for the LRO, but skipped the SPICE kernels and just used the web service for `spiceinit`.
More details here, if needed: https://astrodiscuss.usgs.gov/t/lronaccal-zer

[2019-07-10 16:50] michaelaye commented on #3356
So, the conda issue of not offering a listed package has been closed as a non-issue, b/c the package was on a different label.
Labels are a conda feature I didn't use yet (apparently the USGS channel isn't either, looking at it?) that's why I didn't click there.
In this case though, the Mac version of the package isn't even listed anywhere on the channel, so somebody did remove it? Because we had

[2019-07-13 01:43] owenschris commented on #3356
replace the line
conda create -n isis3 python=3.6
with
conda create -n isis3
Maybe the python version has been updated? This worked for me.

[2019-07-13 20:49] michaelaye commented on #3356
This shouldn't make any difference, because the isis3 package only has py36 builds anyway.
So, when you do `conda create -n isis3` all you do is creating an empty environment. What did you do after that? `conda install isis3`? On which operating system did this presumably work? Can you provide a complete list of commands that ended up with a working `isis3` environment?

[2019-07-13 21:12] michaelaye commented on #3356
So, if USGS for some reason or another isn't able to put the geos 3.5.1 OSX package back on their channel, the work around is to fish the correct package out of the conda-forge archive, using the label:

[code]
Note, I don't need to provide the channel again, because the usgs-astro channel is the only channel providing a package called `isis3`.

This only works if your sources look like given in t

[2019-07-14 01:48] owenschris commented on #3356
Oops, sorry about that. Removed to avoid confusion. On Ubuntu 16.04, have noticed that the resolve environment step that occurs after `conda install -c usgs-astrogeology isis3` fails immediately after updating conda, but completes without error after using the same command when conda has not been updated.

[2019-07-14 02:37] jlaura commented on #3356
I just pulled the Conda-forge geos and pushed it to our organization, but no joy. The errors are now:

[code]

Did something major change on the Conda-forge side in the last 30 days or so because installations were working with zero issue until this cropped up?

[2019-07-14 02:50] michaelaye commented on #3356
So, it's getting weird now.
I see indeed 2 different behaviors with this, depending on creating an empty environment and an environment that starts off with python=3.6.

This one works (on Mac):

[code]

This one fails:

[code]

What changed in the last 30 days is the minor version update of `conda`, they are using quite a different solver, and I'm seeing GH issues where 4.7.x fails to resolve thi

[2019-07-14 03:15] jlaura commented on #3356
@michaelaye To confirm - the top block in your previous comment results in a successful installation (I realize no tests have been run) of isis3.7.1?

[2019-07-14 03:16] michaelaye commented on #3356
yep:

[code]

[2019-07-14 03:17] jlaura commented on #3356
:+1: Great. I realize not a solid solution yet, but glad to see movement towards a resolution.

[2019-07-15 14:43] jessemapel commented on #3357
@twilson271828 May have some comments on this as he was working on your ticket previously.

In your previous post you provided a plot from cubes calibrated using isis 3.4 and a cube calibrated with isis 3.5. Can you provide the 3.4 calibrated cube? Have you already given these to @twilson271828?

[2019-07-15 15:30] owenschris commented on #3356
At least qview and some of the basic things seem to be working, if there is a more specific test suite that I could run, I will if you point me in the right direction.

[2019-07-15 15:32] jessemapel commented on #3356
@owenschris Geos is used to work with latitude/longitude polygons, so programs like footprintinit, qmos, findimageoverlaps, equalizer, etc. would potentially be impacted by a change in the version of geos we use.

[2019-07-15 15:33] michaelaye commented on #3356
I don't think we changed or suggested to change the geos version anywhere?

[2019-07-15 15:37] jessemapel commented on #3356
@michaelaye Ah sorry, it looks like a potentially different build, not a different version. I thought conda-forge pushed a new build up under a different label?

[2019-07-15 15:41] michaelaye commented on #3356
yes but that's not coming in under any of above suggestions. If one removes the python=3.6 from the env creation, installing `isis3` still uses your requirements table with the correct version number, that's unavoidable.
So, my workaround exactly pulled the correct version from conda-forge's archive (now not necessary anymore b/c Jay put that version back onto the USGS channel.
Come to think of it

[2019-07-15 15:41] jessemapel commented on #3356
I think this is what happened.

[2019-07-15 16:05] owenschris commented on #3356
@michaelaye is this issue resolved then?

[2019-07-15 16:11] jessemapel commented on #3356
@owenschris No, we have a workaround right now. We probably need to update the environment file to have the new label automatically accounted for.

[2019-07-15 16:17] jlaura commented on #3356
@jessemapel We are going to discuss this issue at the standup this morning and see about getting 1-2 people onto it either this week or next week as we are inside an RC window and I would like to have our broader user community able to install 3.8.0 without every encountering any of these issues.

[2019-07-17 16:41] ashwinbraude1 commented on #3357
Hi Jesse,

Thank you for your reply. The reference Jupiter spectrum calibrated using version 3.4 that I showed in the plots is available in the supplementary data of Carlson et al (2016, Icarus 274, 106-115), which you can access from this link without a paywall: https://www.sciencedirect.com/science/article/abs/pii/S0019103516001494#ec-research-data (the name of file is 'Cassini VIMS spectra of t

[2019-07-17 19:41] dcookastro opened #3358 "The version of jigsaw in the branch LroLidr_Infrastructure is producing slightly different results on repeat runs using the same input parameters and files."
**ISIS version(s) affected**: LroLidar_Infrastructure

**Description**
jigsaw is producing slightly different results on repeated runs using the same input parameters and data when run with lidar data.

**How to reproduce**
jigsaw froml= /scratch/LOLA-LIDAR-BUNDLE-DATA/SAB_LMMP/SAB-small.lis cnet=/scratch/LOLA-LIDAR-BUNDLE-DATA/SAB_LMMP/SAB_socet_isis_2011July18_jigsout2-small.net onet=tempKen2Pie

[2019-07-17 20:00] dcookastro commented on #3358
Sorting the lidar control points by pointid and using the sorted list does fix the problem. It also makes the output files easier to compare because the points are always in the same order.

[2019-07-17 22:13] jessemapel commented on #3358
What's the magnitude of the differences?

[2019-07-18 21:08] dcookastro commented on #3358
Sigma0 is changing in the 7th decimal place and the position and angles are
changing in the 4th or 5th decimal place. Points are changing in the 6th or
7th decimal place.

On Wed, Jul 17, 2019 at 3:14 PM Jesse Mapel <notifications@github.com>
wrote:

[2019-07-24 15:18] #3338 closed, assigned to kaitlyndlee

[2019-07-24 22:13] Kelvinrr opened #3360 "Redundant Find Scripts in Cmake directory"
**ISIS version(s) affected**: >= 3.6.1 (really all versions since the CMake refactor 🤷🏻)

**Description**

Originally brought up here: https://github.com/USGS-Astrogeology/ISIS3/pull/3359

There are a few find scripts in ISIS that are also offered by Cmake, at least in Cmake v3.10.

* `FindBoost.cmake`
* `FindBullet.cmake`
* `FindGSL.cmake`
* `FindHDF5.cmake`
* `FindPNG.cmake`
* `FindProtobuf.cmak

[2019-07-25 02:17] jlaura commented on #3360
Is this also 3.7.x and 3.8.0_RC?

[2019-07-25 15:14] jessemapel commented on #3360
@jlaura Yes, this is every version since the cmake integration

[2019-07-26 19:29] oleg-alexandrov opened #3361 "conda and cmake version"
When I run

conda create -n isis3 python=3.6

based on

https://github.com/USGS-Astrogeology/ISIS3

it installs cmake 3.9.1. But later when I want to build ISIS based on

https://github.com/USGS-Astrogeology/ISIS3/wiki/Developing-ISIS3-with-cmake#building-isis3

it asks for cmake 3.10.

I am aware that the former is for using ISIS and the latter is for building ISIS, but even so it would be nice i

[2019-07-26 19:46] jessemapel commented on #3361
ISIS uses cmake 3.10+ because it has ctest/gtest integration for our new tests. So, 3.9 is fine for the runtime. Honestly, you don't even need cmake to run ISIS, so it can be completely removed from the runtime environment.

[2019-07-30 15:27] scsides commented on #3340
@jlaura Thought I answered this, but obviously not. This looks to be an old problem (pre conda). Previous versions of ISIS on new operating systems exhibit the same behavior. It is possible changes to LOCALE in the new OSs have triggered this.

[2019-07-30 16:46] jessemapel opened #3362 "Add MRO SPKs from JPL Solar System Dynamics group"
**Description**

ISIS only distributes the Navigation SPKs for MRO right now. JPL's SSD group has created higher quality SPKs from gravity modeling and we should use them when available.

**Example**

This should automatically be picked up by spiceinit using the kernel.db files, so there's not really an example.

[2019-07-30 16:46] jessemapel commented on #3362
See https://astrodiscuss.usgs.gov/t/update-isis-data-area-to-use-jpl-dynamics-spks-for-mro/209 for more detailed discussion.

[2019-07-30 16:46] jessemapel commented on #3362
I'm tagging this as products because it's had an impact the CTX global mosaic processing.

[2019-07-30 21:17] #3199 closed, assigned to paarongiroux, egaultUSGS

[2019-07-30 21:39] jlaura opened #3363 "THEMIS and MRO SSD Kernels in ISIS"
**ISIS version(s) affected**: 3.8.0

**Description**
The smithed THEMIS kernels and MRO SSD kernels are currently not included in ISIS. These kernels need to be shipped to ISIS users.

**How to reproduce**
Download smithed kernels, use them manually with spiceinit and be amazed by how much better good pointing really is.

**Possible Solution**
copy and update kernels.db files

**Additional context

[2019-07-31 08:57] dbolan opened #3364 "caminfo - writing null coordinate values for projected images"
**ISIS version(s) affected**: 3.6.0, 3.7.1, 3.8.0

**Description**
`caminfo` is attaching null values to LowerLeftLongitude, LowerLeftLatitude, UpperRightLongitude, and UpperRightLatitude. This is a problem because it may be causing ASP's `stereo` to fail when loading the camera model.

**How to reproduce**
OS: Ubuntu 18.04 64-bit
[code]

For me, `l1.caminfo` shows all fields and `l2.caminfo` has

[2019-07-31 16:42] jessemapel commented on #3364
First of all, thanks for writing a solid bug report!

Did these image also have Null lower left and upper right coordinates?

[2019-07-31 21:14] lwellerastro commented on #3364
In regard to running caminfo on a projected cube (l2.cub) - I'm not sure why it ran as caminfo is intended to run on level 1 images (unprojected).

Caminfo will only generate output for geometry by default.  Run "caminfo -h" to see what parameters are set to or refer to the documentation.  Caminfo does not include the Mapping group in the output because it does not run on level 2/projected images.

[2019-07-31 21:18] lwellerastro commented on #3364
And just a note on caminfo and NULL values for some keywords (lat/lon corners) - totally legitimate, particularly for disk and limb images where the target/spice does not fill the full frame.

Ok, I just revisited one of my many caminfo output files and it will indeed write out a Mapping Group in conjunction with the Polygon group (when polygon=true), but it has nothing to do with the input being

[2019-08-01 00:03] jessemapel commented on #3364
Maybe the solution here is to raise an error if it's run on a projected image.

[2019-08-01 07:25] dbolan commented on #3364
I went home to check on my other machine and it turns out that LowerLeft* and UpperRight* were missing on the working images there too, so I don't think that's causing my problem either anymore either.

Sorry, I should have run -help from the start.

[2019-08-01 16:44] jessemapel commented on #3364
@dbolan Don't feel bad, we usually try to put sanity checks in the apps if you try to use it with incorrect data.

--edit--

you can get all of this by just running the catlab application on the cube

[2019-08-01 17:09] lwellerastro commented on #3364
I agree on the input image check - maybe look for a Group=Mapping and fail if found.

@dbolan, as @jessemapel indicated, don't sweat it.  There is a lot to isis and the terminology associated with the applications as well as the input and output data.  Trouble-shooting can sometimes be a big part of image processing, and you have jumped right in.

[2019-08-02 16:40] oleg-alexandrov opened #3365 "Library version"
I see that ISIS is now at version 3.8, but the output built library still says 3.6: https://github.com/USGS-Astrogeology/ISIS3/blob/ef390cc4510b0c7ef677604f756372edf363c0c5/isis/CMakeLists.txt#L391

This could be on purpose. I just was surprised that after I built the freshest ISIS the library number was still the same.

[2019-08-02 16:52] jlaura commented on #3365
This is a bug. @all Can we get this slotted next week as well and then get the release docs updated.

[2019-08-02 19:00] scsides opened #3366 "hideal2pds feature, issue #2692, not in 3.7.0"
**ISIS version(s) affected**: 3.8.0

**Description**

The requested feature from issue #2692 did not get PRed into the dev branch for the 3.8.0 release

**How to reproduce**

Run hideal2pds from a 3.8.0 install. The feature does not exist

**Possible Solution**

**Additional context**

@jlaura

[2019-08-05 17:14] jlaura commented on #3366
The issues here is that the feature missed the 3.8.0 release when it should have been included. We are currently doing a 2 week support sprint that is going to result in a 3.8.1 release. My current thinking on this is that we do the 2 week support sprint (resulting in a 3.8.1) release. At the end of next week we also merge in #2692 and peel off a 3.9.0_RC that includes the hideal2pds enhancement a

[2019-08-05 19:28] krlberry commented on #2696
I can reproduce this using 3.8.0. I also get the follow errors (sometimes):
"Could not extract latitude extents from the cubes" and "Could not extract longitude extents from the cubes"

[2019-08-05 19:32] scsides commented on #3257
Data is on: /work/projects/progteam/bugs/hirise#3257/

[2019-08-05 20:43] Kelvinrr commented on #2696
<img width="678" alt="Screen Shot 2019-08-05 at 1 41 25 PM" src="https://user-images.githubusercontent.com/13245976/62493855-f7a81800-b786-11e9-8dbd-ae04e28f706b.png">

The problem seems to be `minLat` and `maxLat` are swapped in the grid generation function causing an infinite loop. Kristin and I are Looking for a clean solution.

[2019-08-05 21:46] jessemapel opened #3367 "Applying to have ISIS classified as a top level project of the Planetary Software Organization"
# The Planetary Software Organization Technical Steering Committee

As part of going to open source, the Astrogeology Science Center is handing off governance of the ISIS software project to the community. As we've been doing this, it has become clear that this is something that is more broadly useful to the community. As a result, the Astrogeology Science Center Technical Steering Committee has r

[2019-08-05 21:58] Kelvinrr commented on #2696
Specifically, there is code in `Longitude.cpp` that inverts the longitude value when the longitude direction is set to `PositiveWest` (0° becomes 360°, 360° becomes 0°, 50° becomes 310° etc.). Which causes the 0° `minLat` to become 360° when entered into the `Longitude` constructor. Similar to `maxLon`.

[2019-08-05 22:10] jessemapel commented on #3367
Here's the draft application so far

___

## Introduction
The ISIS software project is a collection of planetary image processing applications for data collected by a wide range of sensors.

## History & Metrics
Originating back in the 1970s, ISIS has a long history that is detailed [here](https://isis.astrogeology.usgs.gov/documents/IsisHistory/IsisHistory.html). Recently, the ISIS project has st

[2019-08-05 22:24] jessemapel commented on #3367
I realized I forgot some tools like gtest, ctest, and jenkins.

[2019-08-05 22:25] krlberry commented on #3363
@jlaura Where are the smithed THEMIS kernels located?

[2019-08-05 22:32] SgStapleton commented on #3367
Was going to mention those. As far as jenkins, should that be included before actual implementation? (I know this should theoretically be in the next couple weeks anyhow, but...) And if that is the case, should we mention new hosting platform for data as well (since that should hopefully be accomplished this sprint)?

As far as history (or tools?), is it worth mentioning the make system changes (c

[2019-08-05 22:34] jessemapel commented on #3367
Should I convert this to a document that people can directly edit?

[2019-08-05 22:59] SgStapleton commented on #3367
Might be useful.

[2019-08-06 02:13] jlaura commented on #3363
@rfergason @lwellerastro Can you all aim us at the kernels to be included? I have seen some data/kernels under /work/projects, but I want to make sure we get the correct kernels.

[2019-08-06 14:29] jessemapel commented on #3363
For the MRO SPKs, they can be found [here](https://naif.jpl.nasa.gov/pub/naif/MRO/kernels/spk/). Anything with `_ssd_` in its name is from the JPL SSD group. We should prefer the `mro110c` kernels, but if they are not available, then we can use the `mro95a` kernels.

[2019-08-06 16:11] jessemapel commented on #3255
SPICE is pulled down and now in the data area.

[2019-08-06 16:11] #3255 closed, assigned to jessemapel

[2019-08-06 16:13] jessemapel commented on #1242
Kernels are updated

[2019-08-06 16:13] #1242 closed, assigned to nobody

[2019-08-06 16:37] rfergason commented on #3363
The final smithed CK and SPK kernels that Lynn produced from the THEMIS control network solution are located in:  /archive/projects/themis_control/Kernels

There are separate CK and SPK kernels for the dayIR images and nightIR images, as daytime and nighttime IR images were not bundled in the same solution.

[2019-08-06 17:11] jessemapel commented on #2685
Looking at the calibration file, there doesn't appear to be calibration coefficients available for either of these images. The calibration is determined by the following hierarchy:

1. Spacecraft
1. Instrument
1. Shutter Mode
1. Mission Phase
1. Scan Rate
1. Filter

The code appears to assume there are generic values available for each step on the hierarchy, but the calibration file only has value

[2019-08-06 17:27] jessemapel commented on #2685
According to the app docs, the calibration parameters come from https://agupubs.onlinelibrary.wiley.com/doi/epdf/10.1029/JA086iA10p08683 which does not have coefficients for the sodium or methane filters. It is also unclear which gain and offset correction files should be used in these cases.

[2019-08-06 19:10] audiefen commented on #3366
@jlaura - That works for us. Thanks!

[2019-08-06 19:31] acpaquette commented on #3257
@richardleis We are starting to look into this in more detail and are having a hard time reproducing the error you're seeing. So far we have reproduced a single red image (specifically RED5) in both ISIS3.4.13 and ISIS3.8.0 and there is no offset.

A more detailed description of how these products are being produced/processed would really help in determining the cause of this offset you're seeing.

[2019-08-06 20:09] richardleis commented on #3257
**Step 1:** We reprocess the HiRISE color products (using **ISIS 3.4.13**) using the HiColorInit, HiJitReg, HiSlither, and HiColorNorm processing pipelines to generate new COLOR4 and COLOR5 products.

**Step 2:** We then convert the older PDS-released mapped RED JP2 (created using **ISIS 3.1.18**) to an ISIS cube:

% JP2_to_PDS -I ESP_012300_1440_RED.JP2 -LA ESP_012300_1440_RED.LBL
% hirdr2isis fr

[2019-08-06 21:10] acpaquette commented on #3257
@richardleis Would it be possible to break down the HiColorInit, HiSlither, HiJitReg, and HiColorNorm processing pipelines along with the HiGeomInit, RedGeom, and RedMosaic pipelines down further to what commands are being run in each? I'm not 100% sure but I don't believe that we have access to those pipelines.

[2019-08-06 21:47] richardleis commented on #3257
Sure. This will get a little lengthy, but I have included an overview of the ISIS tools used:

**HiColorInit**  prepare images for coregistration with RED4 - BG12 - IR10 (eventually becoming COLOR4) and RED5 - BG13 - IR11 (eventually becoming COLOR5) balance cubes.

- The ISIS program getkey obtains the number of lines and samples, binning, and TDI from the labels of the products
- The ISIS progra

[2019-08-06 22:14] jlaura commented on #3257
@richardleis Thank you for the detailed information.

As we look into this, we are going to need help in tracking down where the difference initially occurs as reproducing the pipeline as a whole is not the most effective way for our devs to try and identify a problem. Two questions to try and target this a bit more:

1. Where in the above pipeline do differences start to occur? Is will help us un

[2019-08-06 22:21] rbeyer commented on #3257
So, what happened on January 08, 2019, at HiROC?  That's when you say you noticed a difference in outcome.  Is that when you switched an ISIS version or something?

If using what you think are the 'original SPICE kernels' with the older version of ISIS didn't reproduce the original mapping group results in the old RED data, then that actually *does* seem like a problem.

[2019-08-06 22:30] richardleis commented on #3257
I will discuss this further with our team and get back to you.

We haven't been able to find anything that changed on that date at HiROC. I investigated the possibility that it wasn't related to that day but to the past when those orbit ranges were processed or reprocessed previously using older versions of ISIS. I did not find any patterns.

[2019-08-07 16:26] rbeyer opened #3369 "jigsaw solution for framing cameras and linescan cameras in same group"
**Description**
Allow images from both framing cameras and linescan cameras in the FROMLIST to result in a solution.

My understanding is that jigsaw cannot perform a single solution when both LORRI (framing camera) and MVIC (linescan) images are in the mix.  It can solve for all-framing camera images, or all-linescan camera images.  This results in a less-than-ideal control solution (detailed in

[2019-08-07 16:30] rbeyer opened #3370 "Improve LEISA camera model"
**Description**
Allow cubes resulting from leisa2isis to be more cartographically usable.

The New Horizons LEISA camera model, as implemented, doesn’t really allow robust cartographic work, maybe it isn’t just the camera model?  Application of qtie / qnet / jigsaw to LEISA cubes fails.  When it was implemented, we maybe just didn’t do enough design iteration or supply high-enough quality test dat

[2019-08-07 16:33] rbeyer opened #3371 "Improve project-to-plane functionality"
**Description**
There is currently a planar map projection, allow the user to define an arbitrary plane instead of one centered at the body's center of mass and aligned in an equatorial manner.

The planar map projection was created to facilitate map projection onto a ring plane.  However, for small irregular bodies, or even exploring atmospheric layers visible on a planetary limb, the ability to

[2019-08-07 16:34] jessemapel commented on #3369
The BundleAdjust has the capability to use per-observation or per-instrument solution settings. Currently, this is only accessible via ipce. In the jigsaw setup dialog there is an observation settings tab where you can set these. It's a bit tedious, but it's there. I've attached a screenshot.
<img width="1680" alt="Screen Shot 2019-08-07 at 9 32 03 AM" src="https://user-images.githubusercontent.co

[2019-08-07 16:36] jessemapel commented on #3370
Can you provide a more detailed explanation of what you want to do and where things are failing in qtie/qnet/jigsaw.

[2019-08-07 16:52] jessemapel commented on #3370
Also, is this all LEISA images, only specific observations, only specific phases of the mission, etc.?

[2019-08-07 20:10] jessemapel commented on #2685
Because there are not calibrations available for these images, we are not going to try and come up with them. I have modified the error message to report that all of the calibration coefficients are missing for the images.

[2019-08-07 21:29] #2676 closed, assigned to acpaquette

[2019-08-07 21:59] jessemapel commented on #3340
This is being caused by the FileName class trying to convert dates with short months in them (E.G. 15Dec2017) when the system locale is set to a different language. For some reason, QT isn't picking up the updated system language correctly when it's overriden as in Application.cpp.

[2019-08-07 22:25] Kelvinrr opened #3376 "ImportPDSTable, brittle test causes MacOS Failures."
**ISIS version(s) affected**: > 3

**Description**

This has been a repeated issue since starting at astro: ImportPdsTable mixes the case in the `ImportPdsTable/data/invalid*` files. Not really sure the motive, but it causes failures in MacOS since MacOS machines generally have the case-insensitive version of the Apple filesystem. This causes a false negative since the files are printed with a dif

[2019-08-07 22:41] Kelvinrr opened #3377 "Update tests after MRO kernel updates"
**ISIS version(s) affected**: 3.8.1

**Description**

As part of the work on https://github.com/USGS-Astrogeology/ISIS3/issues/3363, new reconstructed kernels are available for MRO. This caused some tests to fail:

* KernelDb unit test
* mro_module_test_hirise module test

and possibly:

* spiceinit_app_test_ckConfigFile
* hijitter_app_test_degault

The latter 2 still need some investigation.

**H

[2019-08-07 22:55] #2685 closed, assigned to jessemapel

[2019-08-08 02:21] jlaura commented on #3376
What are we talking about in terms of effort to get this ported to GTest? Seems like that is the better way to go, but I would not want to derail the current support efforts.

[2019-08-08 06:19] Kelvinrr commented on #3376
My take is that debugging tests and getting Jenkins going is more important, update files and move on (I already did this, PR will be up in a bit). We can port this sometime later, maybe if we burn through things fast and someone needs something to do or something.

[2019-08-08 20:40] rbeyer commented on #3369
Are you saying that if I had a list of framing camera images and linescan camera images, I could use IPCE to process them all together and create a single bundle adjustment solution?

[2019-08-08 20:57] jessemapel commented on #3369
Yes, it may be tedious to setup if you have a few hundred images but you can do it.

[2019-08-08 21:00] rbeyer commented on #3369
So the capability exists in IPCE, but not in command-line jigsaw.  Good to know. With that knowledge, I would sharpen this issue to be:

Dealing with more than one 'kind' of imager (framing camera, linescan, etc.) is possible in IPCE, but not from the command line with jigsaw.  It would be nice if jigsaw also had that capability.

[2019-08-09 17:04] scsides opened #3382 "pull request template is out of date"
**ISIS version(s) affected**: x.y.z
Current version ".github/pull_request_template.md"

**Description**

The pull request template file references redmine, and should be updated to only reference git issues
**How to reproduce**

N/A
**Possible Solution**

**Additional context**

[2019-08-09 17:09] #3340 closed, assigned to jessemapel

[2019-08-09 17:32] jessemapel opened #3385 "Allow for rebase on PR merges"
**Description**

Currently we only allow squash and merge on PRs in order to preserve continuity. We should allow for rebases also so that when we port PRs from dev to older branches we can rebase them on not create a new commit hash.

[2019-08-09 17:34] jlaura commented on #3385
Done via settings.

[2019-08-09 17:34] #3385 closed, assigned to nobody

[2019-08-09 17:37] Kelvinrr commented on #3376
Fixed with #3380

[2019-08-09 17:37] #3376 closed, assigned to nobody

[2019-08-09 18:24] #3382 closed, assigned to nobody

[2019-08-09 18:35] scsides opened #3387 "cmake configure should default to release mode and type debug should be Og"
**ISIS version(s) affected**: x.y.z
3.7.0 and up
**Description**

The cmake configure should default to "release" mode with full optimization (O3). Debug mode should default to (Og). Currently the default looks to be no "-g" and no "O" resulting in very slow executions.
**How to reproduce**

Run a new configure, make -vv, check compile lines for "-O" and/or "-g"

**Possible Solution**

**Additiona

[2019-08-09 18:48] jessemapel commented on #3387
The answer on this stackoverflow seems like a reasonable solution https://stackoverflow.com/questions/41361631/optimize-in-cmake-by-default

[2019-08-09 18:56] scsides commented on #3387
Yes that looks correct, except for CMAKE_CXX_FLAGS_DEBUG should be -Og for linux gnu g++, not sure about mac clang

[2019-08-09 19:52] michaelaye commented on #3356
this looks like working now? I just did a fresh reinstall. Did you add a \ to the title on purpose though?

[2019-08-09 19:55] michaelaye opened #3388 "Add fish support for conda envs"
I'd like to be able to use the fish shell when activating and deactivating the conda environment.
For this to work, the `scripts/isis3VarInit.py` script needs to be augmented. (PR imminent).

Please add here any other worries for other things breaking or not working in fish.

[2019-08-09 20:22] jessemapel commented on #3356
@michaelaye I'm working on this right now. I did not mean to add the slash! Right now we have it patched by adding geos to our channel. I'm testing on going back to conda-forge and either using the cf201901 label or using a new version of geos.

[2019-08-09 20:27] #3388 closed, assigned to nobody

[2019-08-09 20:39] jessemapel opened #3390 "Kernel database generation for complex file naming formats"
## Description

In the kerneldbgen application, after name filtering and time filtering, kernel priority is based purely on the alphabetical ordering of the files. In some cases, more complex logic is required to get the best quality kernels ordered first. ISIS should have a way to use more complex logic when ordering the kernels after name and time filtering.

## Example

### Simple Example
Let's

[2019-08-09 20:53] jessemapel commented on #3356
Updating geos is a no-go as we use the unstable C++ API so we're kind of hard pinned here.

[2019-08-09 21:12] jessemapel commented on #3356
The linux Geos 3.5.1 on conda-forge under cf201901 doesn't appear to be compiled with gcc7. I think we're going to have to continue serving geos 3.5.1 compiled with gcc7 ourselves.

[2019-08-09 21:31] acpaquette commented on #3257
@richardleis Echoing what @jlaura mentioned in his previous comment, any potential issues are difficult to pin point as we would need to reconstruct the processing pipeline.

To really approach this problem, getting the ISIS application that produces a different result along with the input and output of each of the previous steps before the point where things diverge would be ideal.

[2019-08-09 22:02] richardleis commented on #3257
I think we can simplify the problem slightly to this: why does a RED RDR produced with ISIS 3.1.18 have significantly different geometry than a new RED RDR produced with ISIS 3.4.13? But there are still several steps involved in geometrically mapping CCD products and creating mosaics, involving many ISIS tools between spiceinit and himos. I understand we may need to narrow this issue down even fur

[2019-08-10 02:56] jlaura commented on #3257
@richardleis We will checkout getting 3.1.18 available via some mechanism (I am not 100% if/how we will do this as 3.1.18 is ~8+ years old and I believe only available on some old SUSE box, maybe). If you can then look at the generation of a RED RDR, that would be great. If the geometries are different, we would then appreciate information on which specific command results in a difference.

Thank

[2019-08-10 03:12] jlaura commented on #3377
@Kelvinrr Can we close with #3380 merged?

[2019-08-10 03:15] jlaura commented on #3341
@paarongiroux @Kelvinrr Can you all update this issue with some info on what you all looked at and potential paths forward.

[2019-08-10 03:21] rbeyer commented on #3257
Richard, et al., you can talk more with Rod about what I've been up to, but one of the things I've been doing is disassembling the HiRISE pipelines and recreating them (with Python).  Partially as an exercise to help myself understand what they're doing and how they're operating so we can get a handle on where to make changes to potentially improve the HiRISE calibration process, and partially to

[2019-08-12 13:14] jlaura commented on #3364
@dbolan from your perspective, is this resolved?

@jessemapel are we closing this, modifying the issue to be about error reporting, or something else?

[2019-08-12 13:15] jlaura commented on #3362
@jessemapel I believe this can be closed?

[2019-08-12 15:43] paarongiroux commented on #3341
findfeatures is using a function called `best` in the MatcherSolution class to determine which algorithm from the list to use. In the command provided by @lwellerastro, this method determines fast/brief to be the better of the two.

The program fails in line 320 of main at the call :
`PvlGroup cnetinfo = matcher.network(cnet, *best, pointId);`

This network function in the matchmaker class has the

[2019-08-12 15:53] jessemapel commented on #3364
We should change this to error reporting. The fact that it's partially successful on projected images means we should at least have a warning.

[2019-08-12 15:53] michaelaye opened #3391 "paste bug in isis3VarInit.py"
**ISIS version(s) affected**: master

**Description**

Introducing the fish support for env variable initialization, I pasted the wrong file name to be created, overwriting the csh script.

**Possible Solution**
I'll submit a PR.

[2019-08-12 15:56] #3362 closed, assigned to nobody

[2019-08-12 16:07] jlaura commented on #3364
I tagged as an enhancement, but am not really sure how best to label this. This is almost a doc (on run) issue.

[2019-08-12 18:45] krlberry commented on #3370
I know that thruster firing during image acquisition caused some difficulty with using jigsaw, etc for LEISA images due to assumptions ISIS was making about smooth trajectories -- is this a related issue, something else, or a broader problem?

[2019-08-12 18:47] krlberry commented on #3363
The kernels are now in and updated. Leaving this issue open until all related ISIS tests are passing.

[2019-08-12 18:52] rbeyer commented on #3370
My apologies, I raced to get this issue put up and it is vague.  I am working on providing a more detailed test case and description.

[2019-08-12 18:57] lwellerastro commented on #2696
@kberryUSGS, is there some way I can test this?  I have been experiencing the "Could not extract latitude extents from the cubes" and "Could not extract longitude extents from the cubes" warning/error for some time now, but it felt somewhat random and not always reproducible, but seemed to occur more while working with a global data set for some reason and I guess when I was trying to set the grid

[2019-08-12 19:03] jlaura commented on #2696
@lwellerastro A 3.8.1 release will be out this Friday afternoon that will include this fix. So, this should be testable, etc. Monday AM or anytime after.

[2019-08-12 19:06] krlberry commented on #3239
I'm cleaning up the extra directories in testData now:

From earlier in this issue:

[code]

Update: These are removed. Now working on cleaning up test data that no longer is used by any test. There are a lot of these.

[2019-08-12 20:59] lwellerastro commented on #3255
@jessemapel, will I have to do anything special when applying spkwriter output kernels to the Voyager or Galileo data I am working with?  I am having a hard remembering or locating details to answer this question.  We did have a work around at some point to deal with how and when spacecraft information was/is being loaded for Galileo in particular (I think), but I don't think that was an issue for

[2019-08-12 22:29] acpaquette commented on #3257
@richardleis There is a version of isis3.1.18 available through rsync with the following command:

`rsync -tpv isisdist.wr.usgs.gov::isis3_1_18/isis3.1.18.zip .`

This will copy a zipped version of isis into the current working directory. You should only need to unzip the file and the binaries should be available to you. Let myself or the other ISIS devs know if you run into any issues. Hopefully

[2019-08-12 23:32] richardleis commented on #3257
Ross: we're worried about what's correct: the old mosaics or the new mosaics. If it was just a hundred or so pixels, that's within expected errors, but the differences I calculated were several hundred pixels.

[2019-08-13 00:40] #3391 closed, assigned to nobody

[2019-08-13 04:12] jlaura commented on #3356
@jessemapel Since we are serving this, can/should this issue be closed? The install instructions are working as written now that we are hosting. The issue to open perhaps is to be able to install ISIS alongside GDAL. This is something we are targeting in FY20; that should obsolete our need to host a custom geos.

[2019-08-13 15:06] #3356 closed, assigned to jessemapel

[2019-08-13 15:26] jessemapel commented on #3255
@lwellerastro You should still use the extra parameter to override the PCK. You do not need to do anything special to use spkwriter kernels with the updated data. The ephemerides for Europa have changed a little bit with the new kernels, so it would be best to reprocess and then recreate your new SPK.

[2019-08-13 15:49] Kelvinrr commented on #3360
closed with #3394

[2019-08-13 15:49] #3360 closed, assigned to krlberry

[2019-08-13 16:59] lwellerastro commented on #3255
Thanks @jessemapel, that's what I was hoping to hear!

[2019-08-13 17:30] #3192 closed, assigned to scsides

[2019-08-13 17:35] richardleis commented on #3257
Not having much luck. Our Systems team installed it but there are lots of missing libraries. Example with cubenorm:

pnode01% ldd ./cubenorm
            linux-gate.so.1 (0xf777e000)
            libisis3.so => /apps//opt/usgs/isis3.Linux.x86_64.3.1.18/lib/libisis3.so (0xf72ba000)
            libQtNetwork.so.4 => /apps//opt/usgs/isis3.Linux.x86_64.3.1.18/3rdParty/lib/libQtNetwork.so.4 (0xf71bf000)

[2019-08-13 17:50] jlaura commented on #3257
@richardleis I know that we had to dig up some third party dependencies from different sources as well. This is a super old version that is no longer being supported. Unfortunately, we do not have the bandwidth to compile these dependencies and actively support version 3.1.18 beyond making the binaries available.

[2019-08-13 18:57] jlaura commented on #3363
Is this safe to close? I didn't check / see the CRON jobs - looks like the working Jenkins stuff is still good to go.

[2019-08-13 20:04] Kelvinrr commented on #3282
On the subject of how to split up the files under `ISIS3DATA` and `ISIS3TESTDATA`.

Some quick numbers on `ISIS3DATA`

* The entire `ISIS3DATA` directory is 610.70GB:
* Binary data makes up 583.42GB
* text data makes up 27.28GB
* The biggest file for both binary and text files is ~2GB (i.e. biggest binary is 2GB, but biggest text file is about the same)
* if we naively commit every text file under

[2019-08-13 20:08] jlaura commented on #3282
Every text file <= 1MB to Git, >1MB to LFS looks like a very reasonable way to do this. Can we write a 'simple' rules config to do this or would we need to do a custom script that generates the config on a per file basis?

[2019-08-13 20:11] Kelvinrr commented on #3282
From looking aroud it seems git lfs track only works with file name patterns. I would like to be wrong here though. I'll keep looking but for now, it seems we will need something custom.

[2019-08-13 20:12] jlaura commented on #3282
That is also what I have seen in the past. What happens if we LFS all directories containing one or more text file with a size >= 1MB? What does that do to the size numbers? I fear that might have everything in LFS...?

[2019-08-13 20:22] Kelvinrr commented on #3282
I'll run it and see.

Apparently, this is as far as they got on the issue so far, at least until the feature is official https://github.com/git-lfs/git-lfs/issues/282#issuecomment-463262318

fun

[2019-08-13 20:30] jlaura commented on #3282
Best comment ever.

[2019-08-13 21:04] Kelvinrr commented on #3282
I had to double-check to make sure I wasn't making any mistakes, but the sum of all files in directories where there exists at least one text file with the total size >1MB is ~610.68GB, basically leaving the non LFS stuff to 24.29MB.

Cranking up the minimum size for non lfs to 10MB gets us 221.36MB in non lfs and the rest in LFS.

[2019-08-13 21:11] jlaura commented on #3282
I suspect the config file will look cleaner at the 10MB threshold, but I defer to your thoughts and the thoughts of others on this. Aiming to be around 200MB is probably a good target. The initial ISIS clone is long (for a git clone), but not truly painful.

[2019-08-13 21:54] krlberry commented on #3363
Kernels were updated and tests are passing

[2019-08-13 23:02] rbeyer opened #3396 "Does isis3VarInit.py really need to write all those files?"
**Description**
The isis3VarInit.py script now writes six files (for three shells) into the conda environment, only two of which are actually needed by any one shell.  Is this really needed or best practice?

This could get out of control very quickly, surely this isn't the best approach?  Other packages only seem to include a bash shell script that sets the environment variables for the enclosing

[2019-08-13 23:09] jessemapel commented on #3396
I believe Python is unable to "export" environment variables outside of a script. So, I don't think we can use just a Python script. We could have an option on isis3VarInit.py to only write the script for the shell it is called from.

[2019-08-13 23:14] rbeyer commented on #3396
Seems like [os.putenv](https://docs.python.org/3.6/library/os.html#os.putenv) puts the environment variables into the actual environment.  There is a note about memory leaks on some systems, but surely that's been addressed?

[2019-08-13 23:17] jessemapel commented on #3396
That only puts the environment variables into the shell the script is running in. Once the script exits, they are not propagated up to the parent shell.

[code]

[2019-08-13 23:19] rbeyer commented on #3396
Ah, a shame.

So do other packages not provide the cornucopia of shell scripts because they are lazy, and just expect people to deal with it, or is there something else going on?

[2019-08-14 00:14] jessemapel commented on #3387
I've at least updated the wiki to indicate you should build with `-DCMAKE_BUILD_TYPE=RELEASE`

[2019-08-14 00:17] jessemapel commented on #3390
I'm moving forward with explicit list parameters that can be used instead of the *dir and *filter parameters. The lists will need to either relative paths to where the kernel db will be or absolute paths (they may contain the ISIS preferences data dir macros like $MRO). The lists will retain the current ordering scheme as the filter parameter. This means that the list will need to be in ascending

[2019-08-14 02:51] rbeyer commented on #3370
Hmm, maybe this is more about qnet/qtie than it is about the camera model:

When a LEISA image is read in via `leisa2isis`, it is a 256 band cube, with each band being one of the 256 spectral channels recorded by the instrument.  However, not all channels have 'good' information, for example here is what band 1 of the LSB_029916933 image looks like:

![image](https://user-images.githubusercontent.

[2019-08-14 07:26] dbolan commented on #3364
I was eventually able to prove to myself that the issue I was seeing was part of ASP rather than ISIS:
NeoGeographyToolkit/StereoPipeline/issues/275
Still, thank you for looking into this!

[2019-08-14 13:51] jlaura commented on #3364
@dbolan :+1: Awesome that you were able to debug to ASP. We have gotten this renamed so will leave open for potential future work. Thanks for the great initial report and for working through the issue with us.

[2019-08-14 16:12] #3318 closed, assigned to paarongiroux

[2019-08-14 16:24] jessemapel commented on #3370
I wonder if qtie has similar problems with other multi-band instruments

[2019-08-14 16:25] rbeyer commented on #3370
I don't do a lot of work with multi-band data like this, so I don't have the background to answer.

[2019-08-14 16:29] jessemapel commented on #3370
Sorry, other band dependent instruments.

[2019-08-14 17:28] rbeyer commented on #3370
While we ponder the above, this morning I took one band out of the above cube (via `cubeatt fr= lsb_0299169338.cub+77 to=lsb_0299169338.77.cub`), and brought it in to `qtie`.  I was able to make about 8 control points against the LORRI mosaic, and then performed a Solve.  The reported outputs were: Maximum Error = 13.1041, Average Error = 7.96978

This seemed like a lot.

When I took the original

[2019-08-14 17:34] jessemapel commented on #3370
This is an issue we see with high jitter line scan images. The bundle adjust process that qtie uses fits a single polynomial to the entire image and that is not good for images with either high frequency variations (jitter) or dramatic changes (thruster firing). The bundle adjust already has the ability to fix this by only applying a bias polynomial to the original data. This has proven sufficient

[2019-08-14 17:35] jessemapel commented on #3370
Another solution could be using piecewise polynomials. This is currently not in the main dev branch and would also require user in out in selecting how many piecewise polynomial segments to use.

[2019-08-14 17:41] rbeyer commented on #3370
I figured it might be something like that, and I'm glad to hear that jigsaw has more capability.  I was just taking the 'easy way' by hitting the big 'Solve' button in the `qtie` GUI, since that's where I was.  So `qtie` writes out a control network.  Could I just take that control network and run `jigsaw` with it to get the behavior you're talking about?  What parameters would you recommend using

[2019-08-14 17:53] jessemapel commented on #3370
I'm not super familiar with the control networks generated by qtie, but you should be able to take this straight into jigsaw. you will want to keep the spacecraft position fixed and solve for just the pointing. I'd suggest `CAMSOLVE=ACCELERATIONS OVEREXISTING=YES SPSOLVE=NONE CAMERA_ANGLES_SIGMA=1 CAMERA_ANGULAR_VELOCITY_SIGMA=0.1 CAMERA_ANGULAR_ACCELERATION_SIGMA=0.01 RADIUS=YES POINT_LATITUDE_SI

[2019-08-14 17:56] lwellerastro commented on #3370
@jessemapel types much quicker than I do, but here's my take:

I highly recommend avoiding qtie if at all possible.  I have had a multitude of issues with it when trying to work with very squirrelly M3 images including high very high errors.  I think the latter had to do with less than optimal data and the fact that I could only solve for camera angles and twist and the data needed more (accelerat

[2019-08-14 17:57] jessemapel commented on #3370
Sorry a correction:

The point sigmas should be based on how well you think you picked the ground points. Take how precise you think your were in pixels and then scale that by the pixel resolution in meters. The gross error in the pointing should be accounted for in the camera pointing sigmas.

[2019-08-14 18:00] lwellerastro commented on #3370
I don't know about using the control network from qtie directly in qnet.  Sounds familar, as if I tried it once and it didn't work for some reason.

@jessemapel, since @rbeyer is tying one image to a ground source his points should be fixed or constrained so using the point_latitude_sigma and point_longitude sigma is not applicable as those are global parameters for FREE points.  I have never used

[2019-08-14 18:03] jessemapel commented on #3390
Here's an example of how I generated an appropriate list for the ORex example:

[code]

The sort command sorts things in this order: start time, reconstructed end time, release #, version #. Again, this uses last in first out, so the things at the end of list have precedence.

[2019-08-14 18:04] jessemapel commented on #3390
The kernel db still has the incorrect time ranges listed, this can be resolved via post processing, but I haven't found a good way to do this in the actual code because there's nothing in the files that says which segments are which quality.

[2019-08-14 18:17] rbeyer commented on #3370
@lwellerastro, thank you, your THEMIS process is a very useful analogy.

Okay, my next step will be to ignore `qtie` and build a control network with `qnet`, as you have suggested, and see what happens when I `jigsaw`.  I'll find out if the results properly account for the thruster-firing, etc.

From a 'process' perspective, do you think this work-flow is ideal?  You have to pull out a band, do so

[2019-08-14 18:34] jessemapel commented on #3390
Here's a small Python script to fix the end times:

[code]

It does require the PVL library

[2019-08-14 18:41] jessemapel commented on #3390
Example input and output for the above script:

## Input

[code]

## Output

[code]

[2019-08-14 18:55] lwellerastro commented on #3370
Yes, this is what I would do, though some of it may be just by habit at this point.  Although we did prove with THEMIS that it was absolutely essential to spice, then extract the band in order to get updated kernels that properly applied to the entire stack.  Doing it the other way around (extract, then spice the single band) did not work.  I think it's because when all bands are present and spice

[2019-08-14 21:23] SgStapleton commented on #3365
So, it looks like these are rm commands... This is clearly not correct, but I am not sure these lines would be responsible for the creation of the libisis3.6(.0).so files in the first place.

[2019-08-14 21:23] acpaquette commented on #3341
I'm closing this as the bug should be fixed.

[2019-08-14 21:23] #3341 closed, assigned to paarongiroux

[2019-08-14 21:33] kaitlyndlee commented on #3351
Hi @michaelaye ,

It looks like sensitivity vs time correction was added to the calibration steps and is on by default. It looks like there is no way for a user to turn on/off steps in the ISIS version of cisscal, but there is in the original cisscal (I might be completely wrong on this). Do we want ISIS to always try to do sensitivity vs time correction?

[2019-08-14 21:41] michaelaye commented on #3351
For compatibility between scientists and their analysis systems, my first recommendation would just be that the defaults should be the same. If CISSCAL 3.8 did something not while it's default in CISSCAL 3.9, I would recommend to do the same changes in ISIS' cisscal. Ideally, it really shouldn't happen that a science team is puzzling about differences after having made sure that they have used the

[2019-08-14 22:16] lwellerastro commented on #1242
@jessemapel , the kernels currently on my Voyager images no longer exist and this is a problem:

I appreciate that there are new kernels to potentially tap into, but shouldn't we be keeping the old ones around for backwards compatibility?

I am currently not in a position right now spice all of my voyager data - each and every image has bad spice so we (mostly Ethan over the course 5+ weeks) moved

[2019-08-14 22:31] jessemapel commented on #1242
I can add the old kernels back in. What was the campt error? campt should be exclusively using the blobs on the cubes.

[2019-08-14 22:37] jessemapel commented on #1242
The kernels are back now.

[2019-08-14 22:39] lwellerastro commented on #1242
Group = Error
    Program = campt
    Code    = 1
    Message = "Requested position does not project in camera model; no surface
               intersection"
    File    = CameraPointInfo.cpp
    Line    = 361
  End_Group

I'll try ckwriter again.

[2019-08-14 22:41] lwellerastro commented on #1242
ok, ckwriter is good and I think the campt error is because I let it default to the center of the image and there is no data/spice there.  Total rush/pilot error there.  Yeah, only half the frame has data - nothing but limb and disk for this data.

Thanks for putting the files back out there.  Did any disappear for Galileo in the process?

[2019-08-14 22:59] jessemapel commented on #1242
The galileo kernels are still there

[2019-08-14 23:01] lwellerastro commented on #1242
Great, and thanks again for reviving the old data - everything appears to be working as expected (writer generated ck and spk kernels being applied via spiceinit to voyager and galileo data).

[2019-08-15 03:09] rbeyer commented on #3370
Well, that worked.

What I did:

1. leisa2isis
1. spiceinit
1. cubeatt to pull out one good-contrast band
1. qnet (not qtie!) to create network, set sigmas on points
1. jigsaw (as discussed above)
1. ckwriter to create CK kernel

Then, starting only with a freshly downloaded PDS file and the CK:
1. leisa2isis
1. spiceinit as before, but plus the new CK
1. cam2map

The resulting mosaic has all of t

[2019-08-15 04:00] jlaura commented on #3370
@rbeyer Glad that this got worked out for you. We would all benefit from a mini-tutorial on what you did and how you did it. I wonder if you might consider submitting one? I can either get you commit rights on the repo two write to the wiki or [you can clone the wiki](https://help.github.com/en/articles/adding-or-editing-wiki-pages#cloning-wikis-to-your-computer) and submit a PR. That way we can c

[2019-08-15 04:38] oleg-alexandrov commented on #3365
There is also this:

https://github.com/USGS-Astrogeology/ISIS3/blob/ef390cc4510b0c7ef677604f756372edf363c0c5/isis/cmake/CMakeLists.txt#L7

And this one, though it is likely unused but may need cleaning up: https://github.com/USGS-Astrogeology/ISIS3/blob/ef390cc4510b0c7ef677604f756372edf363c0c5/isis/cmake/cmake_install.cmake#L36

That file has some more libisis3.5 lines.

[2019-08-15 17:09] #3390 closed, assigned to jessemapel

[2019-08-15 18:29] #3377 closed, assigned to nobody

[2019-08-15 19:21] Kelvinrr opened #3401 "Filename Gtest fails due to race condition in tests"
**ISIS version(s) affected**: 3.6.0

**Description**

The Gtests `FileName.NewVersion` and `FileName.FileExists` both create a fake cube with the same name and then delete it at the end of the test. When running ctest with more than one thread (-j greater than one), this can cause `FileName.FileExists` to fail because of the file being removed by `FileName.NewVersion` in a different thread before

[2019-08-15 19:33] #3364 closed, assigned to paarongiroux

[2019-08-15 20:19] Kelvinrr commented on #3282
We ended switching to just making the entire data directory LFS, same with ISIS3DATA. We can move things out as needed. The repo size is still gigantic even while being super conservative about what stays non-LFS. I'm not sure why, but this would be easier to manage anyways.

I'm not sure how to handle creating copies of repos on a per dev basis? Unless we all have somewhere NFS mounted we can do

[2019-08-15 22:15] jessemapel commented on #3282
I think we're all just going to have our own clones, the vast majority of the data we will never use, so the data areas shouldn't grow dramatically.

[2019-08-15 22:44] rbeyer commented on #3370
I *might* consider it.  What kind of 'mini-tutorial' are you looking for, exactly?  One on LEISA data, or more generically about control of multi-band images?  I don't know that it gets any more 'mini' than the enumerated steps above.

[2019-08-15 23:04] jessemapel commented on #3370
Something people have asked for are tutorials on how to work with different data sets. I believe that people are looking for something similar to the workshops that Tammy used to put together, except for a specific data set. A tutorial on how to work with the LEISA data would be helpful.

That said, I think this is a good starting point and making a full up tutorial for this data set will be a sig

[2019-08-15 23:10] lwellerastro commented on #3370
astrodiscuss has a Tips and Tricks subheading under ISIS - maybe that is place to start putting this sort of thing.  However, the workflow @rbeyer outlined above would only be useful for an experienced user.  Asking him to fill in the details would be a significant time investment as @jessemapel pointed out, but knowing which programs to use (qnet vs qtie) and how to better deal with a multi-cube

[2019-08-16 04:18] jlaura commented on #3370
@lwellerastro Great point. It sounds like a cut/paste contribution into the wiki would be a great start on a document that others could also contribute to at some point in the future if they worked through a similar process.

I say the wiki because we should be seeing all the old ISIS tutorials moving over onto our wiki before the end of the fiscal. They are current in another person's own repo, s

[2019-08-16 16:48] jlaura commented on #687
@geomorphicjosh Is this issue closable? Have you been successfully installing ISIS vis conda?

[2019-08-16 16:49] jlaura commented on #675
@SgStapleton Can we close this?

[2019-08-16 16:49] jlaura commented on #684
closing as this RFC has been adopted.

[2019-08-16 16:49] #684 closed, assigned to nobody

[2019-08-16 16:55] jessemapel commented on #675
IMO this is not done until it is documented on https://github.com/USGS-Astrogeology/ISIS3/wiki/Public-Release-Process

[2019-08-16 18:12] jlaura opened #3410 "Improve the template for questions"
**Description**
The question template on here could be improved by providing a link about how to ask a good question. The additional information in the template might also help push users too astrodiscuss...

**Suggested Edit**
Add a link about asking good questions.

Thanks!

[2019-08-16 18:36] jessemapel commented on #3410
Link : https://stackoverflow.com/help/how-to-ask

this is also being pinned on astrodiscuss

[2019-08-16 18:37] jessemapel commented on #2205
Done in #3288

[2019-08-16 18:37] #2205 closed, assigned to kaitlyndlee

[2019-08-16 18:49] #3410 closed, assigned to nobody

[2019-08-16 18:49] #3387 closed, assigned to nobody

[2019-08-16 18:52] jessemapel commented on #3345
This functionality is available via [ALE](https://github.com/USGS-Astrogeology/ale/blob/master/ale/util.py). @kberryUSGS is that sufficient to close this?

It may be moved somewhere else in the next few weeks. I will post here if that happens.

[2019-08-16 19:08] jlaura commented on #3227
I believe this was closed with #3404. Please reopen is I am incorrect. (:tada: to everyone that contributed code and reviews on this one)

[2019-08-16 19:21] jessemapel commented on #675
Documented on the release wiki

https://github.com/USGS-Astrogeology/ISIS3/wiki/Public-Release-Process#step-7-communicate-availability-of-build

[2019-08-16 19:21] #675 closed, assigned to jessemapel

[2019-08-16 21:28] rbeyer commented on #3370
Seems like once those come over it might be clearer where to put this information and what kind of format you're after.  The original issue here really is closed.  The secondary issue of moving some of the gained knowledge over into the wiki is a separate thing.

[2019-08-19 12:54] #3370 closed, assigned to nobody

[2019-08-19 12:57] jlaura opened #3415 "Move 3370 discussion into micro-tutorial"
**Description**

#3370 resulted in a nice, high-level, workflow where @rbeyer worked through controlling LEISA images. This flow would be a nice micro-tutorial. Once @USGSsakins and @robotprogrammer22 get [the ISIS tutorial area](https://github.com/robotprogrammer22/test-wiki-copy/wiki/ISIS_Online_Workshops) pushed into this repository, we should ping @rbeyer to contribute the micro-tutorial (in a

[2019-08-19 12:58] jlaura opened #3416 "How does one submit a tutorial to this repo?"
**Description**

We currently have zero documentation on how to submit a tutorial to the repository, so asking users to submit tutorials is a bit 'problematic'...

**Suggested Edit**

Add a wiki page on how to submit tutorials...

Thanks!

[2019-08-19 18:26] lwellerastro commented on #2696
Grid no longer hangs when I attempt to use a map with a positive west longitude domain, however, there is no grid line at longitude 360.  Modifying the grid increment and letting it redraw does not help.  Positive East longitude gridding is complete at all longitudes.

Also, I continue to get the warning about not being able to extract latitude/longitude extents from images.  That is likely to be

[2019-08-19 19:41] jlaura commented on #2696
We should get both of those opened as new issues as the grid no longer hangs.

[2019-08-19 19:41] #2696 closed, assigned to Kelvinrr, krlberry

[2019-08-19 19:42] jlaura commented on #2696
@all this is probably a good issue to address during the 3.9.0_RC.

[2019-08-19 19:47] lwellerastro commented on #2696
Confused....why wouldn't verifying that grid works properly (draws as expected) and correcting the problem be part of this issue?

I didn't report the lat/lon extents problem because I didn't encounter it at the time via this issue, but I guess when I reported qmos hanging on positive west I ultimately expected a proper grid for that domain when this post was closed.  Why is that unreasonable?

[2019-08-19 19:50] jlaura commented on #2696
@lwellerastro Not unreasonable at all. Super valid issue. I closed this because the described issue was fixed. Looks like the grid line is a follow-on issue introduced by work done here or at some other time.

I would like to get the grid line issue queued up to work on. I just want to get it in a new ticket. I can copy/paste your comment above and link to this or you can. Whatever works. Let me k

[2019-08-19 19:55] lwellerastro commented on #2696
Please go ahead and post it.  It's exhausting and time consuming to have to post every little thing.  I guess I don't understand why this wasn't recognized when the data were test with the fix and addressed then.  I understand this post is for that 'one thing', but from my perspective qmos is still broken when trying to use longitude domain positive west.

[2019-08-19 20:00] jlaura opened #3417 "QMOS Positive West Logitude Draw Issues at 360"
**ISIS version(s) affected**: 3.8.1

**Description**

In `qmos` there is no grid line at longitude 360.  Modifying the grid increment and letting it redraw does not help.  Positive East longitude gridding is complete at all longitudes.

This is related to #2696.

**How to reproduce**
Test data under /work/users/lweller/Isis3Tests/Qmos/LonDirection/

Open qmos and load 2 supplied images from test d

[2019-08-19 20:32] lwellerastro commented on #3227
I'm not seeing anything new in the bundleout.txt under 3.8.1.  Should I expect these changes under that version?

[2019-08-19 21:00] acpaquette commented on #3227
@lwellerastro This did not make it into 3.8.1 and will be coming with 3.9. It's good that you're tracking and keeping us up to date if some change was made but you're not seeing it in the build you are expecting :+1:

[2019-08-19 21:09] lwellerastro commented on #3227
Thanks @acpaquette.  I see it's not mentioned in the release notes and in one of the linked posts there's this "@jlaura @lwellerastro During today's stand up we decided to add the old function back and either flag it as deprecated or make it call the new functions. This way these changes can still go ourt in 3.9. @acpaquette and I will be working on this today."

That didn't apparently sink in at

[2019-08-19 21:11] jessemapel commented on #3366
We're trying to wrap up some other changes and getting testing done, so we're going to have to push the release back to this Friday.

@audiefen If this is a problem for y'all please let us know.

[2019-08-19 21:11] acpaquette commented on #3227
No problem, happy to clarify things.

[2019-08-19 21:15] jessemapel opened #3418 "ProcessExportPDS4 is raising a compiler warning"
**ISIS version(s) affected**: 3.9.0

**Description**

The recent changes to ProcessExportPDS4 added a switch statement to output the proper special pixel values based on the pixel type. The switch statement is now raising a warning because it does not cover all of the values in the enumerations:

**How to reproduce**

Compile the code at or after commit a345fe01bec90331f1f775dbce35c09a50aade86

**

[2019-08-19 21:55] jessemapel opened #3419 "Loops in Cube::latLonRange need to use double instead of int"
**ISIS version(s) affected**: 3.9.0

**Description**

The for-loops in Cube::latLonRange use an integer, but they need to iterate from 0.5 to sampleCount()+-.5 or lineCount()+0.5. By using an integer, they get truncated and iterate from 0 to sampleCount() or lineCount().

**How to reproduce**

Clang gives a nice build warning when compiling on a Mac

**Possible Solution**

Change to use a double.

[2019-08-20 17:24] #3419 closed, assigned to nobody

[2019-08-20 17:26] krlberry commented on #3345
Closed because functionality is available in ALE. I'm not sure where is best to document that this is available, but once things stabilize more, it's probably useful to do so.

[2019-08-20 17:26] #3345 closed, assigned to nobody

[2019-08-21 01:57] #3366 closed, assigned to nobody

[2019-08-21 02:45] jlaura opened #3423 "Add a Definition of Done Section to the Issue Templates"
**Description**

The issue templates for bugs, docs, and issues should have a definition of done section soliciting input from the issue poster on when they consider the issue to be closed. Right now, this is implicitly being assumed and we are seeing misalignment in expectations.

**Suggested Edit**

Add a DoD section to the three necessary templates.

Thanks!

[2019-08-21 21:28] jessemapel commented on #3423
We can clarify that the DoD for bugs is that the reproduction steps no longer produce the bug. Then, on features we need a definition of done.

[2019-08-22 02:53] jlaura commented on #3423
Yup. I was meaning to post this today, but did not make it to it. We already have a DoD on bugs.

When a developer is no longer able to reproduce using the provided steps, CI passes, and the PR is merged the bug should be closed. If anyone is able to reproduce using the provided steps, we should get the bug back open (this could be the reporter, another committer, another contributor, a new contri

[2019-08-22 22:02] #3401 closed, assigned to nobody

[2019-08-22 22:56] artmathgirl opened #3425 "ctxcal creates a .cub file that is all zeroes"
Hello - We are preprocessing CTX images for Socet Set. The images are
D10_031257_1687_XN_11S075W.IMG
D12_032035_1687_XN_11S075W.IMG
Downloaded as EDRs from the ASU Mars data browser (or the PDS, or the Mars ODE; there was no difference in results regardless).

The ISIS version is
3.5.2.0
2018-04-06   # Version date
v007         # 3rd party libraries version
stable       # release stage (alpha, bet

[2019-08-22 23:11] jessemapel commented on #3425
Hi Sarah, I have a couple questions.

Do you have the MRO kernels available locally? If so, how recently have you updated your data area? ctxcal does not use the SPICE information attached to the cube by spiceinit, it loads local kernels itself.

Can you provide the full command lines for all of the application calls?

Can you also provide the radiometry group from the labels of the cubes output b

[2019-08-22 23:42] artmathgirl commented on #3425
Hi Jesse,

Thanks for the quick reply. I think we update our MRO SPICE kernels weekly at least. We tested this script on an older project that ran successfully before, and got the same failure. So you may be on to something.

I see that spiceinit runs after ctxcal, but I’m not sure what you mean by ctxcal "loads local kernels.” I’m cc-ing our Sys and Downlink folks in case they can answer question

[2019-08-22 23:59] jessemapel commented on #3425
@artmathgirl Check in your base data area for de430.bsp. It should be located at `$ISIS3DATA/base/kernels/spk/de430.bsp` or if you set your base data area to something else, then `$base/kernels/spk/de430.bsp`.

If you are running a version of ISIS before 3.8.1, then all of the Mars calibrations will fail if you have this kernel in your base data area. See https://github.com/USGS-Astrogeology/ISIS3

[2019-08-23 00:04] #3351 closed, assigned to kaitlyndlee

[2019-08-23 02:12] jlaura commented on #3425
@artmathgirl  [https://astrodiscuss.usgs.gov/t/isis-updating-planet-spk-to-de430/184](https://astrodiscuss.usgs.gov/t/isis-updating-planet-spk-to-de430/184) for the discussion.

[2019-08-23 15:13] blandoplanet opened #3426 "Voy2isis ingestion error leading to spiceinit failure"
**ISIS version(s) affected**:
ISIS3.8.1. Error apparently did NOT occur with an older versions (maybe 3.4.13 see details below)

**Description**
On certain PDS images (*.imq see below), when running Voy2isis I receive the following warning:

Group = Warning
  Message = "The INSTRUMENT_NAME for [./c2061155.img] is empty.The
             InstrumentId in the output cube will instead be set to [Unknow

[2019-08-23 15:20] artmathgirl commented on #3425
Yes, that kernel is in the directory. I’m not sure exactly when we will be updating to ISIS 3.8.1. We’ll discuss the feasibility of removing this kernel before then.

[2019-08-23 15:20] artmathgirl commented on #3425
Downlink checks for updates of certain MRO kernels on a weekly basis.
Here is the list with the latest kernels and the date they were
downloaded. ISIS kerneldbgen is run to generate new database files after
any new kernels are downloaded.

LSK - Jul 27  2016 naif0012.tls
SCLK - Jun  4 17:01 MRO_SCLKSCET.00082.65536.tsc
SPK - Aug 20 17:00 mro_psp_rec.bsp
SPK quarterly - Aug 20 17:00 mro_psp_rec.bsp

[2019-08-23 15:22] artmathgirl commented on #3425
Thanks for the link to the explanation of this issue.

[2019-08-23 15:36] artmathgirl commented on #3425
Hi all:

The rest of the data area is updated early every morning.

Terry

Sent from my iPad

[2019-08-23 16:03] artmathgirl commented on #3425
Thanks, Terry and Audrie, for filling in the update schedule. So if we remove the spk kernel that is causing the problems with CTX, it would be replaced the next morning? Also, what consequences might this have on HiRISE processing? CTX processing is not our priority, so this is not an issue we need to address if it might affect HiRISE. We can wait until the 3.8.1 update if necessary.

[2019-08-23 16:07] jlaura commented on #3425
@artmathgirl Not to muddy the waters further, but we will have a 3.9.0 release candidate coming out either today or Monday. This will have a HiRISE requested change in it. Here is the discussion (with links to the GitHub issues).

https://astrodiscuss.usgs.gov/t/isis3-9-0-rc-early-release/232

[2019-08-23 17:38] artmathgirl commented on #3425
The daily ISIS data update doesn’t touch the spk, ck or sclk kernels, since those are managed locally. Not sure about the impact on HiRISE processing.
Terry

[2019-08-23 18:18] artmathgirl commented on #3425
It shouldn't impact our production processing. That kernel is not in our
HiROC managed spk directory.

Audrie

On 8/23/19 10:38 AM, Terry Forrester wrote:

--
<>>>>>>>>>>>>>>>>>>>>>>>>>>>>
Audrie Fennema
HiRISE Operations Center
Lunar & Planetary Laboratory
University of Arizona
1541 E. University Blvd. Rm. 213
Tucson, AZ 85721-0063
Work: 520.626.0756
Cell & Text: 520.235.8428
<><<<<<<<<<<<<<<<<<<

[2019-08-23 18:34] artmathgirl commented on #3425
Thanks, Audrie!

[2019-08-23 20:40] blandoplanet opened #3429 "spiceinit fails on Voyager 2 images of Triton"
**ISIS version(s) affected**: ISIS3.8.1

**Description**
When running spiceinit on a "fresh" Voyager 2 image of Triton I receive the following error:

Error = “An unknown NAIF error has been encountered. The
short explanation provided by NAIF is
[SPICE(SPKINSUFFDATA)]. The Naif error is
[Insufficient ephemeris data has been loaded to
compute the state of 801 (TRITON) relative to 0
(SOLAR SYSTEM BA

[2019-08-23 20:48] jessemapel commented on #3429
I probably need to add all of the satellites to the list of targets to load the jupiter kernel for

[2019-08-25 09:49] connor-mac-leod opened #3430 "ERROR using stereo"
**ISIS version(s) affected**: 3.6.0, 3.5.2
**NASA ASP version(s) affected**: 2.6.2, 2.6.1

**Description**

(isis3) MacBook-Pro-di-Piero:stereo pierodincecco$  stereo ESP_053962_1985_RED.map.cub ESP_042134_1985_RED.map.cub result/out

Warning: Stereo file: ./stereo.default could not be found. Will use default settings and command line options only.

[ 2019-Aug-24 18:46:40 ] : Stage 0 --> PREPROCES

[2019-08-25 09:51] connor-mac-leod commented on #3430
I have contacted the support forum of the NASA ASP, but they answered that this is a bug related to ISIS, not to the NASA ASP.

Piero

[2019-08-25 09:52] connor-mac-leod commented on #3430
The user who mentioned something of the kind said this was encountered on Ubuntu 18 but not on Ubuntu 19. That issue is here: https://github.com/NeoGeographyToolkit/StereoPipeline/issues/275

[2019-08-25 09:53] connor-mac-leod commented on #3430
I'm using MacOS Mojave (10.14.6)

[2019-08-25 21:33] oleg-alexandrov commented on #3430
I understand that this error is from ASP, so on my plate, but it does get thrown from within ISIS. Did anybody ever run into this with ISIS in a different context? It does not help that I can't reproduce it.

[2019-08-25 23:42] jlaura commented on #3430
Can we get a minimal reproducible example that just makes the failing ISIS call? It is not clear what ISIS program is being called. Then we can also try to reproduce.

[2019-08-26 10:06] connor-mac-leod commented on #3430
Hello,

here is an example, with Ubuntu 19.04, ASP 2.6.1 and ISIS 3.5.2 :

parallels@parallels-Parallels-Virtual-Platform:/media/psf/Home/work1/isis3$ stereo E0201461.map.cub M0100115.map.cub output_prefix/run

    --> Setting number of processing threads to: 2
Warning: Stereo file: ./stereo.default could not be found. Will use default settings and command line options only.
Cannot find the image

[2019-08-26 11:22] connor-mac-leod commented on #3430
Hello,

I made another test. The "stereo" command is working under the following configuration:

MacOS X 10.11.6 El Capitan
ISIS 3.4.12.6662 (2016-03-15)
ASP 2.5.2-2016-02-29-x86_64-OSX
Python v. 2.7.12

Instead, I got the previously indicated error message with the following configurations:

1)
MacOS X 10.14.6 (Mojave)
ISIS 3.6 with ASP 2.6.2
ISIS 3.5.2 with ASP 2.6.1
Python v.2.7.16

2)
Ubuntu 1

[2019-08-26 13:54] jlaura commented on #3430
These are all ASP output. What ISIS commend are these failing on? The full ASP stack trace does not look like it is showing this information.

[2019-08-26 14:00] connor-mac-leod commented on #3430
I don't if this problem is related to that of the ASP, but yesterday I couldn't run the "moc2isis" either:

parallels@parallels-Parallels-Virtual-Platform:/media/psf/Home/work1/isis3/StereoPipeline-2.6.1-2018-09-06-x86_64-Linux/examples/MOC$ mocproc from=M0100115.imq to=M0100115.cub Mapping=NO
**ERROR** Running Isis program [moc2isis] failed with return status [4].
**I/O ERROR** Unable to open [/m

[2019-08-26 14:02] connor-mac-leod commented on #3430
I want to make another on my macbook pro with Mojave. How can I specifically download ISIS 3.4.12.6662 ?

[2019-08-26 14:04] jlaura commented on #3430
@connor-mac-leod
Do you have the moc kernels in your data area?

Also 3.4.12.6626 is > 2 years old. We are currently supporting 3.8.1. Can you upgrade?

[2019-08-26 16:08] jessemapel commented on #3430
@connor-mac-leod The error that ASP is getting from ISIS is coming from the CameraModelFactory. The factory is unable to instantiate the sensor model because there is a bad value somewhere. Can you provide the labels from the cubes?

Also, can you try running the ISIS campt application on them?

Finally, as @jlaura said, do you have the data area downloaded? You may not need to full kernels but yo

[2019-08-26 17:05] connor-mac-leod commented on #3430
True, I just downloaded the base and MRO data, so I'm sure kernels were missing. However, since I'm unfortunately in a rush, I resolved the problem by applying the same configuration of the old iMac mid 2010 with the following working configuration:

MacOS X 10.11.6 El Capitan
ISIS 3.4.12.6662 (2016-03-15)
ASP 2.5.2-2016-02-29-x86_64-OSX
Python v. 2.7.12

to my MacBook Pro with Mojave. So, I downg

[2019-08-26 18:14] jessemapel commented on #3430
@connor-mac-leod This is probably due to using an older version of ISIS. Prior to ISIS3.6, all of the dependencies were manually built and distributed. This means that for Macs, only 10.11 was supported. We had some success getting pre-3.6 version working with the 10.11 SDK, but really if you want to run ISIS on mac 10.12 or newer, you should use Anaconda and ISIS 3.6+.

[2019-08-26 20:48] jessemapel commented on #3425
@artmathgirl Did removing that kernel fix your problem? If so, can you please close this issue?

[2019-08-26 20:49] jessemapel commented on #3367
I'm going to copy this over and officially "submit" the application today

[2019-08-26 21:12] artmathgirl commented on #3425
Thanks for following up. We discussed this at our meeting this morning. We are going to wait until we upgrade to 3.8+. Hopefully that will clear up the issue.

Thank you,
Sarah

Sarah Sutton
Photogrammetry and Image Processing Scientist
PhD Candidate, Planetary Sciences
[code]

[2019-08-27 18:59] acpaquette opened #3432 "Detached Table Reading Bug"
**ISIS version(s) affected**: 3.0.0 (probably) - 3.8.1

**Description**
If you create detached spice tables from an HRSC cube and try to respiceinit that cube spiceinit will fail due to not being able to pick up the LineScanTimes table.

**How to reproduce**
Start with either an HRSC cube or grab the h2254_0000_s12.img image from https://pdsimage2.wr.usgs.gov/archive/mex-m-hrsc-3-rdr-v2.0/MEXHRSC_

[2019-08-28 17:13] connor-mac-leod opened #3433 "hi2isis>hical>ERROR"
Hello,

I'm using "hiedr2mosaic.py" and I get the following error, which was also reported by another user ( see this discussion: https://groups.google.com/forum/#!topic/ames-stereo-pipeline-support/nHHuyNvrIp8 ) in the NASA ASP forum:

**USER ERROR** Failed in GainUnitConversion module.
**ERROR** An unknown NAIF error has been encountered. The short explanation provided by NAIF is [SPICE(SPKINSUF

[2019-08-28 17:16] jessemapel commented on #3433
@connor-mac-leod Can you fill out the remainder of the bug report form please. What version of ISIS are you using and how can this be reproduced.

[2019-08-28 17:19] rbeyer commented on #3433
Piero,

Can you reproduce this outside of hiedr2mosaic.py by just running

    hi2isis fr= something.img to= hirise.cub
    hical fr= hirise.cub to= hirise.cal.cub

This should produce the same error that you're seeing, but provides the minimal ISIS-only error that folks can help you with here.  This smells like a SPICE problem, and in the ASP thread, I gave Divya some suggestions to see if other

[2019-08-28 17:21] jessemapel commented on #3433
This is probably another de430 problem. de430 does not have MARS in it, instead it has MARS_BARYCENTER.

[2019-08-28 17:24] jlaura commented on #3018
This work has been completed. @lwellerastro

[2019-08-28 17:24] #3018 closed, assigned to nobody

[2019-08-28 17:26] connor-mac-leod commented on #3433
I have ISIS 3.4.12.6662, but I don't think it's a problem related to the ISIS version. As far as I understood, the other user with the same issue has the latest ISIS version.

@jessemapel What is the de430 problem?

Piero

[2019-08-28 17:30] jessemapel commented on #3433
@connor-mac-leod We updated the base planets SPK to de430 and it does not contain information for `MARS` but rather `MARS_BARYCENTER`. There are changes in 3.8.1 and later versions of ISIS that account for this, but if you use de430 with an older version of ISIS you may get errors like the one you are seeing when calibration programs attempt to find the position of MARS.

[2019-08-28 17:33] rbeyer commented on #3433
So either try temporarily removing de430.bsp from your $ISIS3DATA/base/kernels/spk/ area, or update to ISIS 3.8.1 or later.  If one of those works, we've figured it out.

This version mismatch problem between the ISIS codebase and the ISIS data area is something the devs are working on, so that you can get a 'data area' that is 'right' for whatever version of ISIS you are using, but for the moment

[2019-08-28 17:34] connor-mac-leod commented on #3433
@jessemapel Thank you. Unfortunately, as I mentioned in the previous post ( https://github.com/USGS-Astrogeology/ISIS3/issues/3430 ) I had problems running the "stereo" both with ISIS 3.6 and 3.5.2 with both MacOSX Mojave and Ubuntu 19.04. I resolved by using ISIS 3.4.12.6662 installed on one mid 2010 iMac in our department.

Is there a way I can solve this without upgrading ISIS?

Thank again.

P

[2019-08-28 17:42] connor-mac-leod commented on #3433
@rbeyer I deleted the de340.bsp. It looks like it's working properly now, thanks a lot! Will this not affect my final DEM?

Piero

[2019-08-28 17:43] connor-mac-leod commented on #3433
PS: I deleted the "de430.bsp", sorry for the typos

[2019-08-28 17:43] rbeyer commented on #3433
No, it won't impact the final DEM that you might make with ASP.

[2019-08-28 17:47] lwellerastro commented on #3227
I have had the opportunity to test the changes to bundleout.txt today on a small data set and it could use a little help.  There are a lot of extra space/tabs for the columns that had units added to the rows that they describe which makes it very hard to read.

You will see quite clearly what I mean if you compare a before and after file.  Take a look at isis3.8.0_bundleout.txt and isis3.9.0-RC1_b

[2019-08-28 17:52] #3433 closed, assigned to nobody

[2019-08-28 18:16] artmathgirl commented on #3425
We were able to install 3.8.1 and test our script. It ran with no problems. So you can definitely close this issue. Thank you for the help!

Sarah

Sarah Sutton
Photogrammetry and Image Processing Scientist
Graduate Student, Planetary Sciences

Lunar & Planetary Lab, University of Arizona
HiRISE Operations Center
Charles P. Sonett Space Sciences Building
1541 E. University Blvd.
Tucson, AZ 85721
P

[2019-08-28 18:20] #3425 closed, assigned to nobody

[2019-08-30 05:24] rbeyer commented on #2869
Whoa, I'm so glad this was here for me to find.  I was doing some slither testing and ran into this same segfault issue with ISIS 3.6.0.  The problem wasn't with slither, but with hijitreg.  That version of hijitreg created some control network points that slither just barfed on (but not all: I was working with four images, the two IR and the two BG ccds, and it barfed on the IR but not on the BG

[2019-09-01 03:17] astrostu opened #3434 "CAM2MAP Problems Projecting a CROPSPECIAL'd Image"
**ISIS version(s) affected**: 3.8.x

**Description**
I'm working with MOC-WA images.  I apply a photometric correction and then use CROPSPECIAL to remove the null pixels from outside a minimum remaining pixel bounding box.  Running CAM2MAP, however, results in some really weird artifacts over part of the image.  It looks fine unprojected-cropped, fine projected-uncropped, but not fine projected-cr

[2019-09-02 07:14] yunfancui opened #3435 "a bug in ProcessRubberSheet"
**ISIS version(s) affected**: 3.9.0

**Description**
In some cases,the cam2map won't work

**How to reproduce**
run cam2map with "defaultrange=map" and the range is smaller than the range from input cube

**Solution**
modify ProcessRubberSheet to the previous version

[2019-09-02 09:30] astrostu commented on #2023
In ISIS3 3.8.x, this still seems to be a bug.  Upon output from MARCICAL, I will sometimes get an image that looks "correct" (venetian blinds) and sometimes completely white when viewed in QVIEW.

[2019-09-02 14:37] jlaura commented on #3435
@yunfancui Thanks for the report. We are going to need more information than this. What exact command are you running? Using what data? What were the previous results that you were expecting to see?

[2019-09-02 14:40] jlaura commented on #2023
@astrostu thanks for the report.

We know that this is still an issue in 3.8.x, it has not been prioritized high enough in our internal processes to be addressed (hence, the bug is still open). External pull requests solicited if this is something that you are interested in working to address!

[2019-09-02 14:41] deannerogers opened #3436 "libisis3.4.13.so: undefined symbol"
**ISIS version(s) affected**: 3.4.13.7091

**Description**
thm2isis fails.

**How to reproduce**
thm2isis from=/tmp/dv_4951/I41382002RDR.QUB to=/tmp/dv_4951/I41382002RDR.I3.cub
thm2isis: symbol lookup error: /data/isis3/isis/lib/libisis3.4.13.so: undefined symbol: _ZNK12QwtPlotCurve12updateLegendEP9QwtLegend
ERROR: thm2isis failed for file /tmp/dv_4951/I41382002RDR.QUB

**Possible Solution**

**Ad

[2019-09-02 14:46] jlaura commented on #3436
@deannerogers Are you able to upgrade to the current 3.8.1 release? We are not longer supporting 3.4.  Installation instructions for 3.8.1 are available [here](https://github.com/USGS-Astrogeology/ISIS3/#isis3-installation-with-conda). If not, let use know and we can go from there.

[2019-09-02 17:42] astrostu commented on #2023
Thanks @jlaura. I wasn't sure if what looked like an auto-import was still on the radar.

I should also revise my statement: I figured out the white issue and it has to deal with the interaction between MARCI2ISIS with FLIP=AUTO or =YES, and then MARCICAL.  Since CAM2MAP looks like it can deal with FLIP=NO, I've just put that into my ingestion routine.

I am also getting a weird issue if FLIP=AUTO

[2019-09-03 01:18] yunfancui commented on #3435
I try to run an example of using Ames Stereo Pipeline with HiRISE data.The data is HiRISE images PSP_001513_1655. The command is "cam2map from=PSP_001513_1655_RED.mos_hijitreged.norm.cub to=PSP_001513_1655_RED.mos_hijitreged.norm.map.cub pixres=MPP resolution=0.27165816865522 defaultrange=MAP minlat=-14.78053510744 maxlat=-14.407359556607 minlon=175.44440406222 maxlon=175.55781944951"

[2019-09-03 15:48] jessemapel commented on #3436
For reference here's the demangled symbol `QwtPlotCurve::updateLegend(QwtLegend*) const` it looks like a problem with your qwt installation. I expect updating to the Anaconda release will solve this.

[2019-09-03 16:09] jessemapel commented on #3367
This is now happening at https://github.com/planetarysoftware/TSC/pull/47

[2019-09-03 16:09] #3367 closed, assigned to nobody

[2019-09-03 22:01] astrostu opened #3438 "Flipping Framelets in MARCI Data Breaks Several Things"
**ISIS version(s) affected**: 3.8.x and earlier

**Description**
After adding to Bug #2023, I did a lot of experimentation trying to get around the issue of calibration bugs dealing with FLIP=YES (or DataFlipped=1 in the cube labels).  For example, I was hoping that CAM2MAP knew enough to flip things, but that didn't work.  I then tried copying labels from unflipped to flipped, and then setting Da

[2019-09-04 02:33] astrostu opened #3439 "CAM2MAP Issues with Even MARCI Bands"
**ISIS version(s) affected**: 3.8.x (and earlier?)

**Description**
I'm having issues with even bands from MARCI in map projection.  Despite the unprojected images looking fine, when map-projected the even bands are missing a lot of data.  This means when mosaicking the two after map-projection, data gaps are present.  I've copied my workflow below (requires GNU parallel), and I did try this the b

[2019-09-04 02:35] astrostu commented on #3439
P.S. My map file:
[code]

[2019-09-04 02:39] jessemapel commented on #3439
@astrostu Can you try pixel2map on one of the even images? It'll take a while to run because it does pixel by pixel projection, but I'm curious if this is a problem with ProcessRubberSheet or the sensor model itself.

[2019-09-04 02:41] astrostu commented on #3439
@jessemapel On ... a map projected, or pre-map-projected?

[2019-09-04 02:42] astrostu commented on #3439
Ah, I just read the docs, on the pre-map-projected.

[2019-09-04 02:45] jessemapel commented on #3435
@yunfancui What range are you expecting and what range are you getting in the output lvl2 cube? By explicitly setting the minimum/maximum latitude/longitude you are overriding any range computed from the input cube.

[2019-09-04 02:46] jessemapel commented on #3439
Yeah, pixel2map does a very slow map projection process and is largely used for spectrometers with big pixels and long exposure durations, but it uses very different logic from cam2map.

[2019-09-04 02:48] jessemapel commented on #3396
I'm not finding any cleaner solution to this. I am going to close this issue. If anyone finds a better solution please re-open and then cite this in a PR.

[2019-09-04 02:48] #3396 closed, assigned to nobody

[2019-09-04 02:49] jessemapel commented on #3430
@connor-mac-leod Did removing de430 in #3433 fix this too?

[2019-09-04 03:11] astrostu commented on #3439
That was worse for both even and odd, attached (@25% zoom).  (This time I cropped to just ±10° latitude to speed things up.)  That said, stay tuned, I may have been mistaken in my tracking of when this error happens.  I am re-running from the minimum processing step (MARCI2ISIS, SPICEINIT) and it looks like it's working, or at least not leaving unexpected gaps.  I'm going to trace this through eac

[2019-09-04 03:35] astrostu commented on #3439
Sigh. Okay, I was mistaken and didn't track things well enough.  Re-running, this is another manifestation of flipping framelets.  Until I get to that step, map-projecting looks as expected.  After it, the map projection is as I posted.  I'll go ahead and close this and edit my issue #3438.

[2019-09-04 03:35] #3439 closed, assigned to nobody

[2019-09-04 04:34] astrostu commented on #3438
More detail on the map-projection issue.  Here is what the even-odd bands look like from CAM2MAP after the framelets have been flipped:
![Example](https://user-images.githubusercontent.com/50773625/64221257-6ad9a280-ce89-11e9-8545-062d3e8b5f9e.png)

And, here's what it looks like with PIXEL2MAP at 100% size:
![Screen Shot 2019-09-03 at 10 29 23 PM](https://user-images.githubusercontent.com/5077362

[2019-09-04 20:29] thareUSGS opened #3440 "Wiki - incorrect link for MAP-a-Planet"
**Description**
The external address mapaplanet.org has been retired.

**Suggested Edit**
The Map-a-Planet link on this page needs to updated to: https://astrogeology.usgs.gov/tools/map-a-planet-2

[2019-09-04 20:32] jlaura commented on #3440
One instance of this is available at https://github.com/USGS-Astrogeology/ISIS3/wiki/Introduction_to_ISIS

Do we have more?

[2019-09-04 20:35] thareUSGS commented on #3440
Yes - the original link to Wiki page was missed in the copy. That is the only instance I could fine (using a repository search).

[2019-09-05 08:54] yunfancui commented on #3435
I can't get output cube,the progress bar is always 0%. By system monitor, it seems that the program stopped reading data after running for a few minutes.

[2019-09-05 15:38] jblalockusgs opened #3441 "Wiki - Invalid/Missing Links on 'ISIS Online Workshops' page"
**Description**
On the **ISIS Online Workshops** page of the wiki (https://github.com/USGS-Astrogeology/ISIS3/wiki/ISIS_Online_Workshops) the following links are invalid and lead to 404 pages:
- _ISIS Cube Format_
- _Core Base and Multiplier_
- _Special Pixels_
- _The Power of Spatial Filters_
- _Removing Striping Noise from Image Data_
- _Example ISIS Demos_

Furthermore, _Working with Lunar Reco

[2019-09-05 17:23] astrostu commented on #3438
I'm not sure if this helps or hurts diagnosing this, or if it's a separate issue entirely (@jessemapel or @jlaura please feel free to split this out if it's a separate issue).  I tried a new image and let it process overnight, D09_030814_2689_MA_00N221W.  This image would not flip.  To my eye, the even-odd images when viewed needed to have the framelets flipped, but MARCI2ISIS with FLIP=AUTO or YE

[2019-09-05 21:51] jessemapel commented on #3429
Triton is a satellite of Neptune not Jupiter. I think this is really we need to add the satellite kernels for all of the major bodies and update the kernel db to load them for any satellite.

[2019-09-05 22:30] robotprogrammer22 commented on #3440
I fixed the link on the Introduction_to_ISIS page. I searched the markdown files and couldn't find any other locations that contained a link to Map-a-Planet.

[2019-09-05 22:42] jessemapel commented on #3429
I've added the Saturn, Jupiter, and Neptune satellites for Voyager2 to the base SPK area, so this should now work:

[code]

[2019-09-05 22:44] #3429 closed, assigned to jessemapel

[2019-09-05 22:46] jessemapel commented on #3429
I also checked voyager 1 and the Jupiter and Saturn satellites for it are covered too.

[2019-09-06 16:39] robotprogrammer22 opened #3443 "Wiki - Support Center Links"
@jlaura @thareUSGS

I was looking through the wiki and noticed that the link to the ISIS Support Center, https://isis.astrogeology.usgs.gov/projects/isis, returns a 404 error. I was wondering if there is another location I should change the link to?

[2019-09-06 16:42] jessemapel commented on #3443
I would either link to astrodiscuss or the issues page

[2019-09-06 21:45] deannerogers commented on #3436
Hello all,
Thank you so much for the advice. Jay, I was reluctant to upgrade because
of worry that davinci will not read ISIS-processed cubes with any later
versions.
I took a risk and deleted some of my more recent qwt-related library files,
to make the file list match another machine that was not affected by this
problem. That solved the issue and thankfully did not break anything else!
Thanks a

[2019-09-06 22:21] #3436 closed, assigned to nobody

[2019-09-10 16:12] scsides opened #3444 "Error building ISIS with debug on Linux"
**ISIS version(s) affected**: x.y.z

**Description**
When configuring ISIS with debug on a Linux box this error occurs when compiling:
cc1plus: error: argument to ‘-O’ should be a non-negative integer, ‘g’, ‘s’ or ‘fast’

**How to reproduce**
configure with the debug using: -DCMAKE_BUILD_TYPE=Debug

**Possible Solution**
Change the OG to a Og, and add the -g

**Additional context**

[2019-09-10 20:23] lwellerastro opened #3446 "cisscal - generates output upon failure"
**ISIS version(s) affected**: isis3.9.0-RC1 as well as 3.8.0, so not introduced via recent update

**Description**
cisscal fails to calibrate the input images (tons of error messages) but creates an output file full of NULLs.

**How to reproduce**
cisscal from=N1605851822_1.cub to=N1605851822_1.cal.cub

Input/Output available here: /work/users/lweller/Isis3Tests/Cisscal/

Errors:

**Possible Solut

[2019-09-10 20:26] lwellerastro commented on #3446
I'd add some labels, but I completely forget how to do so!  Or the mechanism to do so is not exposed to me...what am I missing?

[2019-09-10 21:37] blandoplanet commented on #3446
I also seem unable to add labels all of a sudden. Can we also add the Products label?

[2019-09-10 21:40] jlaura commented on #3446
@blandoplanet and @lwellerastro I bet the label thing is when I was pushing buttons on collaborators vs. folks with merge rights. I'll take a look to see what's up with labels.

[2019-09-10 21:57] robotprogrammer22 commented on #3443
Okay, I updated the links to the issues page.

[2019-09-10 21:58] #3443 closed, assigned to nobody

[2019-09-11 15:12] #3444 closed, assigned to nobody

[2019-09-13 17:23] richardleis commented on #3257
I narrowed this down to our HiGeomInit pipeline and spiceinit, campt, and/or camrange. Camrange reports different minimum and maximum latitudes and longitudes for each CCD depending on the version of ISIS, but there are groups of ISIS versions that report the same results. I ran several observations processed by older versions of ISIS through 3.4.13, 3.5.2, and 3.9.0 and compared the reported mini

[2019-09-13 17:42] jlaura commented on #3257
For each version, are you using the same data area or a different data area?

[2019-09-13 17:45] richardleis commented on #3257
For 3.4.13 I used our production data area (this is version of ISIS we're still using for public-released HiRISE image products.) For 3.5.2 and 3.9.0 I used my own sandbox because we are still testing newer versions of ISIS before we eventually upgrade.

[2019-09-13 17:54] jlaura commented on #3257
Can you check the labels on the example with differences and see if the same SPICE kernels are being loaded? I doubt the kernels are the same. When they aren't, can you post those differences? Thanks!

[2019-09-13 18:49] richardleis commented on #3257
Here's the reported spiceinit Kernel group for each version for ESP_012195_1750:

**3.1.17**
NaifIkCode | -74699
LeapSecond | $base/kernels/lsk/naif0009.tls
TargetAttitudeShape | $base/kernels/pck/pck00008.tpc
TargetPosition | $base/kernels/spk/de405.bsp
InstrumentPointing | ($mro/kernels/ck/mro_sc_psp_090303_090309.bc, $mro/kernels/fk/mro_v11.tf)
Instrument | Null
SpacecraftClock | $mro/kernels/s

[2019-09-16 15:38] lavalaz opened #3449 "ISIS3 has no tool to analyze photometric data"
**Description**

ISIS3 photomet provides a number of photometric models to apply.  However, there is no tool that tells the user which one provides the best fit to a set of photometric data.  The tool should have at least two parameters.  The first indicates which of the functions in photomet (listed under the phtname parameter) should be included in the analysis.  The second should indicate which

[2019-09-16 15:43] lavalaz opened #3450 "Photomet input data accuracy should be quantified"
**Description**

The accuracy (and thus usefulness) of the results of photomet depend on the quality of the input data.  It would be very helpful if metrics of the accuracy of the input data were provided to the user of photomet so they can evaluate the usefulness of the output.

**Example**

Key parameters Tammy suggests reporting: (1) camera model, especially noting if a distortion correction is

[2019-09-16 15:50] lavalaz opened #3451 "Photomet topo mode allows user to select DEM source"
**ISIS version(s) affected**: x.y.z
Was an issue in 2017.  I am not a technical user and can no longer run ISIS3 to verify it is still an issue.

**Description**

When setting normname=topo, the algorithm must be applied to an ellipsoid shape model so a DEM can be calculated.  However, photomet allows the user to select anglesource=DEM.

**How to reproduce**

Open photomet gui.
Select normname=top

[2019-09-16 15:51] lavalaz opened #3452 "Photomet allows `anglesource=DEM` when `normname=mixed`"
**ISIS version(s) affected**: 3.9.0
Was an issue in 2017.  I am not a technical user and can no longer run ISIS3 to verify it is still an issue.

**Description**

When setting normname=mixed, the algorithm must be applied to an ellipsoid shape model so a DEM can be calculated.  However, photomet allows the user to select anglesource=DEM.

**How to reproduce**

Open photomet gui.
Select normname=mi

[2019-09-16 16:19] rwatkins15 opened #3453 "spiceinit web service shape models"
**Description**
I'd like to request a feature that allows the spiceinit web service to be used when the user specifies their own shape model (i.e., one not hosted by the web service). For example, I frequently process LROC NAC images using NAC DTMs as shape models, but right now the web service does not support this feature.

[2019-09-16 16:22] jessemapel commented on #3453
See https://astrodiscuss.usgs.gov/t/processing-nac-images-with-nac-dtm-and-spiceinit-web/274 for more context

[2019-09-16 17:06] lwellerastro commented on #3227
This issue needs to be re-opened again (I can only comment for some reason) - sorry.  I think it might help if I tested it on "real" data before changes are committed or tests are made on at least something different or at least in addition to  that what it is being tested against because the changes seen to only accommodate the test data.

See isis3.9.0-RC2_bundleout.txt and isis3.9.0-RC2_fullpat

[2019-09-16 22:19] jessemapel commented on #3430
I'm going to close this. If the issue still exists please re-open

[2019-09-16 22:19] #3430 closed, assigned to nobody

[2019-09-16 22:21] jessemapel commented on #3308
This is a question about appropriate parametrization of an application not a problem with functionality; so I am closing it. Any further discussions should take place on astrodiscuss.

[2019-09-16 22:21] #3308 closed, assigned to nobody

[2019-09-16 22:22] jessemapel commented on #3312
It's been 6 months. We should archive these except the initIsis scripts.

[2019-09-16 22:35] jessemapel commented on #3238
Things appear to be cleaning up on prog24 now

[2019-09-16 22:35] #3238 closed, assigned to nobody

[2019-09-16 22:42] jessemapel commented on #3171
@kberryUSGS Is this fixed?

[2019-09-16 22:43] jessemapel commented on #3151
This is no longer happening

[2019-09-16 22:43] #3151 closed, assigned to nobody

[2019-09-16 22:44] #3136 closed, assigned to nobody

[2019-09-16 22:45] jessemapel commented on #3134
Fixed by #3173

[2019-09-16 22:45] #3134 closed, assigned to nobody

[2019-09-16 22:48] jessemapel commented on #2710
This is the type of work we are no longer tracking in github issues

[2019-09-16 22:48] #2710 closed, assigned to nobody

[2019-09-16 22:49] jessemapel commented on #2714
Not something we track in our bug tracker anymore

[2019-09-16 22:49] #2714 closed, assigned to nobody

[2019-09-16 22:49] jessemapel commented on #2709
This is usage not the software itself.

[2019-09-16 22:49] #2709 closed, assigned to nobody

[2019-09-16 22:50] jessemapel commented on #2700
ISIS and GDAL are not currently compatibly in the same anaconda environment due to requirement conflicts.

[2019-09-16 22:50] #2700 closed, assigned to nobody

[2019-09-16 22:51] jessemapel commented on #2687
@kberryUSGS Was this changed as part of the SPICE user stuff?

[2019-09-16 22:54] jessemapel commented on #2647
Fixed

[2019-09-16 22:54] #2647 closed, assigned to nobody

[2019-09-16 22:55] jessemapel commented on #2639
@kberryUSGS Is this done? I thought I saw a download CaSSIS script somewhere

[2019-09-16 22:56] jessemapel commented on #2587
This is obsoleted by the new Anaconda setup process.

[2019-09-16 22:56] #2587 closed, assigned to nobody

[2019-09-16 22:57] jessemapel commented on #2581
This is too big. We have some level of generic PDS4 support, but this is too big of a feature request to be handled this way.

[2019-09-16 22:57] #2581 closed, assigned to nobody

[2019-09-16 22:59] jessemapel commented on #2573
This work was either merged or lost. I'm not sure where it is now. Closing as we are moving away from socetlinescankeywords in favor of ALE for socet GXP and HRSC support in CSM

[2019-09-16 22:59] #2573 closed, assigned to nobody

[2019-09-16 23:00] jessemapel commented on #2524
This just needs to be fixed in the documentation. The preferences file can already be passed in this way.

[2019-09-16 23:02] jessemapel commented on #2413
We don't use this script any more for release notes so this is obsolete

[2019-09-16 23:02] #2413 closed, assigned to nobody

[2019-09-16 23:02] jessemapel commented on #2391
We now get this for free as part of Jekins!

[2019-09-16 23:02] #2391 closed, assigned to nobody

[2019-09-16 23:03] jessemapel commented on #2386
Obsoleted by Anaconda distribution

[2019-09-16 23:03] #2386 closed, assigned to nobody

[2019-09-16 23:03] jessemapel commented on #2363
Done at https://github.com/USGS-Astrogeology/ISIS3/issues/3312

[2019-09-16 23:03] #2363 closed, assigned to nobody

[2019-09-16 23:08] jessemapel commented on #2265
Obsoleted by the new cmake build system.

[2019-09-16 23:08] #2265 closed, assigned to nobody

[2019-09-16 23:10] jessemapel commented on #2524
Duplicate of #2244

[2019-09-16 23:10] #2524 closed, assigned to nobody

[2019-09-16 23:20] jessemapel commented on #2047
@lwellerastro Are these recommendations covered by #3227

[2019-09-16 23:37] lwellerastro commented on #2047
@jessemapel, in reference to #3227 specifically,

bundleout.txt:

Add input image list, maybe right after "Network Filename"
**Yes**

Add the "FILE_PREFIX" value, maybe near input network and image list filenames?
**Yes**

Add titles (w/ units where applicable?) to "IMAGE MEASURES SUMMARY"
**Yes**

Add units to values under "IMAGE EXTERIOR ORIENTATION J2000"
Ken and I talked about this some...prob

[2019-09-17 16:17] jessemapel commented on #2047
@lwellerastro Yep, just trying to go through the issues and clean out anything that's obsolete.

[2019-09-17 16:17] #2047 closed, assigned to nobody

[2019-09-17 16:34] jlaura commented on #3440
@thareUSGS This looks good from here. I am going to close. If we have another instance, we should reopen.

[2019-09-17 16:34] #3440 closed, assigned to robotprogrammer22

[2019-09-17 16:38] jlaura commented on #641
Jenkins-dev is running internally. Closing.

[2019-09-17 16:38] #641 closed, assigned to scsides, Kelvinrr, krlberry, jessemapel, SgStapleton

[2019-09-17 16:38] jlaura commented on #639
@USGSsakins I am going to close this issue as no response in > a year. If this is still an issue, please reopen.

[2019-09-17 16:38] #639 closed, assigned to scsides

[2019-09-17 16:40] jlaura commented on #579
@kberryUSGS Is this still on the radar to complete or is this test back into the general 'migrate tests' hopper. If the latter, can we close this since we have not enumerated each test to migrate?

[2019-09-17 16:41] jlaura commented on #642
Issue have been migrated.

[2019-09-17 16:41] #642 closed, assigned to nobody

[2019-09-17 16:42] jlaura commented on #649
Now that the migration to jenkins has been completed, are all of the test files in the expected location? I am guessing they are because of how Jenkins (Docker) is mounting the dirs, but want to confirm before closing.

[2019-09-17 16:43] jlaura commented on #590
I just checked all of these links and they rendered properly to the GitHub page.

[2019-09-17 16:43] #590 closed, assigned to nobody

[2019-09-17 16:47] jessemapel commented on #1991
This was fixed with the control network update. The network was far too large for the old loading scheme.

[2019-09-17 16:47] #1991 closed, assigned to nobody

[2019-09-17 16:52] jessemapel commented on #649
Just checked these are done

[2019-09-17 16:52] #649 closed, assigned to nobody

[2019-09-17 16:53] jessemapel commented on #1979
We don't use these old unitTests and we have documentation on the new tests. See https://github.com/USGS-Astrogeology/ISIS3/wiki/Writing-ISIS3-Tests-Using-Gtest-and-Ctest

[2019-09-17 16:53] #1979 closed, assigned to nobody

[2019-09-17 16:54] jessemapel commented on #1924
This is not needed anymore as we don't use qdebug for tests.

[2019-09-17 16:54] #1924 closed, assigned to nobody

[2019-09-17 16:55] jessemapel commented on #1912
@thareUSGS Is this still something that is needed? My impression is that all new sensor support in socet will be in socet gxp.

[2019-09-17 16:55] jessemapel commented on #1891
Obsoleted by new Jenkins and Anaconda build systems.

[2019-09-17 16:55] #1891 closed, assigned to nobody

[2019-09-17 16:58] jessemapel commented on #1889
Unit tests use data in the data dir under `$mission/testData`. As we move away from unit tests requiring data this is no longer needed.

[2019-09-17 16:58] #1889 closed, assigned to nobody

[2019-09-17 16:59] jlaura commented on #517
It looks like this is still a problem. Specifically, https://github.com/USGS-Astrogeology/ISIS3/blob/dev/isis/CMakeLists.txt#L421

Looks like the libsisis.so is still trying to removeversion 3.6 even though at the top is 3.9. The fact that this has not been an issue suggests that the commands to execute the `rm` are not needed?

[2019-09-17 17:01] jessemapel commented on #1866
This may be solvable using the FOV methods added to support pixel2map

[2019-09-17 17:02] jessemapel commented on #1837
This is covered by https://astrodiscuss.usgs.gov/ we have seen discussion of using ISIS with IDL based calibration programs and AMES Stereo Pipeline.

[2019-09-17 17:02] #1837 closed, assigned to nobody

[2019-09-17 17:04] jessemapel commented on #1822
This is sufficiently covered by using the bilinear interpolation option.

[2019-09-17 17:04] #1822 closed, assigned to nobody

[2019-09-17 17:06] jessemapel commented on #1772
@thareUSGS Is this still something desired in ISIS3? We haven't identified supporting hand made globes via ISIS as a priority in any long term planning.

[2019-09-17 17:06] jessemapel commented on #1773
@thareUSGS Is this still something desired in ISIS3? We haven't identified supporting hand made globes via ISIS as a priority in any long term planning.

[2019-09-17 17:07] jessemapel commented on #1769
We are no longer "training" outside developers. We are establishing a contribution process with pull requests. Outside contributors are encouraged to put up a pull request with their work or post on https://astrodiscuss.usgs.gov/ if they need help getting to a pull request. From there, we can review and work with contributors to get code integrated.

[2019-09-17 17:07] #1769 closed, assigned to nobody

[2019-09-17 17:10] jessemapel commented on #1709
Even though we don't worry about specific coverage percentages now, these are still things that need to be tested. Updating cisscal to be better tested via the new gtest framework would be a good task under any potential calibration project.

[2019-09-17 17:11] jessemapel commented on #517
@jlaura See #3365 for the cmake version and library version non-sense. This has also gotten worse as it's defined in our conda-build recipe too :tada:

[2019-09-17 17:15] jessemapel commented on #1665
See https://astrodiscuss.usgs.gov/t/reading-isis-cubes-into-idl/278

[2019-09-17 17:15] #1665 closed, assigned to nobody

[2019-09-17 17:17] jessemapel commented on #1628
I am closing this. The ISIS TC can take this up if there is still interest.

[2019-09-17 17:17] #1628 closed, assigned to nobody

[2019-09-17 17:20] rbeyer commented on #1772
When I was working on the Pluto globe a few years ago, I poked around with the ISIS2 DAISY script, but it turns out that modern 'globe' producers don't want the data as a bunch of 'daisy leaf' files that eend up having a bunch of physical seams.  They just want a two files: north and south polar Azimuthal Equidistant that only have a single physical seam at the equator.  ISIS doesn't support Azimu

[2019-09-17 17:21] jessemapel commented on #1527
This is being done but for the lidar data from LRO as we're no longer working on MESSENGER data at the ASC.

[2019-09-17 17:21] #1527 closed, assigned to nobody

[2019-09-17 17:25] jessemapel commented on #1772
I am going to go ahead and close this then. If someone wants to add this functionality they can open a PR and re-open this issue.

[2019-09-17 17:25] #1772 closed, assigned to nobody

[2019-09-17 17:26] jessemapel commented on #1474
Cubic interpolation will do a better job with most imagery data. I am going to reject this because changing the default to something that is worse for the majority of data is not a good change.

[2019-09-17 17:26] #1474 closed, assigned to nobody

[2019-09-17 17:27] jessemapel commented on #1445
We have socetframsettings for ISIS to Socet Set. @scsides  @thareUSGS Is Socet Set > ISIS still needed functionality?

[2019-09-17 17:32] jessemapel commented on #1299
I am closing this as it's the same problem as #1790

[2019-09-17 17:32] #1299 closed, assigned to nobody

[2019-09-17 18:10] jessemapel commented on #1183
Closing as other issues have been made for individual apps:
#2460
#2459
#2458
#2457
#2456
#2455
#2454
#2453

[2019-09-17 18:10] jessemapel commented on #1183
#2450
#2449
#2448
#2447
#2446
#2445
#2443
#2442

[2019-09-17 18:10] #1183 closed, assigned to nobody

[2019-09-17 18:18] jlaura commented on #1772
@thareUSGS This would probably be a great capstone project? Outreach site, links to POW, example 'craft' project with an updated daisy script, etc. Maybe next FY.

[2019-09-17 18:25] jessemapel commented on #1153
I am closing this as we don't have Tammy to reproduce anymore :(

[2019-09-17 18:25] #1153 closed, assigned to nobody

[2019-09-17 18:30] jessemapel commented on #1034
I am closing this as it is too broad. If someone wants to request a specific reference frame a new issue should be opened. Right now we support lat/lon/rad and x/y/z

[2019-09-17 18:30] #1034 closed, assigned to nobody

[2019-09-17 18:33] jessemapel commented on #687
Closing with no response from submitter

[2019-09-17 18:33] #687 closed, assigned to nobody

[2019-09-17 18:35] jessemapel commented on #497
Seeing as @thareUSGS Was able to re-install I am closing this.

[2019-09-17 18:35] #497 closed, assigned to nobody

[2019-09-17 23:30] kaitlyndlee opened #3455 "Add MEASURED Mex CK's to Mex download script"
**Description**

The MEASURED kernels are type 3, allowing us to run some NAIF toolkit utilities on them. We need to add a regex to the download script so that we can maintain these kernels.

[2019-09-18 00:05] scsides commented on #1445
I'll let Trent answer that one

[2019-09-18 17:11] #3227 closed, assigned to twilson271828, SgStapleton

[2019-09-18 17:11] jlaura opened #3456 "Bundleout.txt Formatting for IMAGE MEASURES SUMMARY"
**Description**

Related to #3227.

The bundleout.txt file generated by jigsaw formats well when the image paths are short. For example:

[code]

When the image path is long, column alignment is not maintained. For example:

[code]
**Example**
An example output would be the good column alignment seen in the first example and the long paths seen in the second.

**User Story**
- As a user, I can vis

[2019-09-18 17:12] jlaura commented on #3227
See #3456

[2019-09-18 17:19] sriramsaran opened #3457 "CASSINI VIMS SPICEINIT error"
**ISIS version(s) affected**: 3.6.1

**Description**
<Howdy, I am trying to process some CASSINI VIMS data acquired for the Moon during the mission's earth-bound phase. The ingestion (vims2isis) step was successful, but _spiceinit_ throws up errors related to instrument position kernels. I tried using different kernel options ("ckpredicted" and "spkpredicted"), and modified the Target Name in the

[2019-09-18 18:32] jessemapel commented on #3457
The ISIS data area is not setup for that part of the mission. The fix for this is likely just staging those kernels.

[2019-09-19 05:30] sriramsaran commented on #3457
Many thanks !  I was trying to process the files in the same fashion as described in this supplementary information of Clark 2009 (attached)
[Clark.SOM.pdf](https://github.com/USGS-Astrogeology/ISIS3/files/3629548/Clark.SOM.pdf)

[2019-09-19 15:02] jlaura commented on #3457
@sriramsaran Thanks for the response. Is this good to close?

[2019-09-19 16:19] sriramsaran commented on #3457
@jlaura Is there anyway to get those specific kernels? Are they available at NAIF ?

[2019-09-19 17:01] jessemapel commented on #3457
@sriramsaran It looks like the paper you attached processed the data without using the sensor model and hand registered them. You do not need SPICE data to do this.

If you want to try a different way to process them, you can find all of the cassini kernels on [NAIF's website](https://naif.jpl.nasa.gov/pub/naif/CASSINI/kernels/).

[2019-09-21 13:19] krlberry commented on #579
Closed for now due to not having enumerated tests to migrate.

[2019-09-21 13:19] #579 closed, assigned to krlberry

[2019-09-21 13:19] krlberry commented on #3171
Fixed.

[2019-09-21 13:19] #3171 closed, assigned to nobody

[2019-09-24 16:25] #3418 closed, assigned to nobody

[2019-09-24 16:25] #3198 closed, assigned to nobody

[2019-09-24 16:56] geokramer commented on #3196
I am having the same problem with kaguyasp2ascii ("not a valid Kaguya Spectral Profiler file"). However, the example fix does not work for me. I get this error: "Unknown parameter [FROMLABEL]"

I just installed isis3 using miniconda.
I am somewhat experienced using isis, but not before through Github. And I really have zero programming skills (a bit in IDL).
What am I not understanding? Am I suppo

[2019-09-24 17:14] jessemapel commented on #3196
@geokramer For right now, we are not supporting detatched Kaguya SP 2c v3 labels in ISIS. As a work around you can use the [PLIO package](https://github.com/USGS-Astrogeology/plio) to read in and work with the data. @jlaura may be able to point you to some examples.

[2019-09-24 22:57] #3455 closed, assigned to kaitlyndlee

[2019-09-25 14:01] jlaura commented on #3352
@Kelvinrr Can you be thinking about how you would like to tackle this starting 10.15? Do you want to do a Mac rebuild or something else that works towards a non-snowflake QT build?

[2019-09-26 23:33] geokramer commented on #3196
@jlaura I tried to install plio, as per @jessemapel , using these instructions: <https://github.com/USGS-Astrogeology/plio> to see if I could figure it
out. That failed utterly, returning this error:

UnsatisfiableError: The following specifications were found
to be incompatible with the existing python installation in your
environment:

  - bullet ->
python[version='>=2.7,<2.8.0a0,>=3.5,<3.6.0a0,

[2019-09-27 21:09] geokramer commented on #3196
@jlaura I think I have successfully installed plio. I don't know how to test it?

[2019-09-28 02:29] jlaura commented on #3196
@geokramer Awesome. I would run the following from a terminal: `python -c "import plio;print(plio)"`

When I run that I see the installation directory where plio is installed:

[code]

Let me know if that works for you. If it does, then you should be good to try the linked Jupiter notebook where we use a detached label.

[2019-10-03 13:24] 0dvaz0 opened #3465 "Problem with cam2map when processing CTX data"
**ISIS version(s) affected**: 3.9.0 (installed on Xubuntu 18.04)

**Description**

**How to reproduce**

**Possible Solution**

**Additional context**

[2019-10-03 13:25] #3465 closed, assigned to nobody

[2019-10-03 13:36] 0dvaz0 opened #3466 "Problem with cam2map when processing CTX data"
**ISIS version(s) affected**: 3.9.0 (running on Xubuntu 18.04 )

**Description**
Hello,

I have recently upgrade ISIS and I started to have a problem when processing CTX data.
Cam2map does not run successfully when I define ground range latitude/longitude.
It seems to be running but the progress bar remains at 0% (even during a overnight run!).
There is no error messages and the cube that is creat

[2019-10-03 17:53] lwellerastro commented on #3466
I can reproduce this.  Data under /work/users/lweller/CTX/git_3466/.

Running in default mode, the app takes about 13 minutes or so to run:

When getting specific, either as the OP has in their command or whittling the res, lat and lon to just 4 decimal places, cam2map doesn't budge.  After 10 minutes or so of 0% progress I killed it.

I ran similar steps against Galileo SSI data I am working with

[2019-10-04 20:33] jessemapel commented on #3466
@scsides Could this be related to the cam2map changes requested by LROC?

[2019-10-07 16:20] scsides commented on #3466
I'm looking into this now

[2019-10-07 20:19] scsides commented on #3466
Current tests are showing this behaviour when the lat/lon range only covers a portion of the input image.

[2019-10-07 22:02] blandoplanet commented on #3452
This is still the case in ISIS3.9.0.

See Galileo test data in /work/users/mbland/Europa-data/Androgeos/

I was able "reproduce" using image 8600r_caltr.cub, which has been ingested, SPICED, calibrated, (and trimmed a bit - not necessary). The version *LLE_mixed.cub uses a Lambert model (for simplicity) and a "mixed" normalization with incref=30 incmat=70 thresh=1 and albedo=0.5. No errors or warn

[2019-10-08 19:03] meganhenriksen opened #3468 "Ancillary windows disappear across multiple monitors"
**ISIS version(s) affected**: at least 3.6 and above

**Description**
When using x11 forwarding from Ubuntu to OSX ancillary windows such as the Control Network Navigator in qnet or the Advanced Stretch Tool in qview will disappear when moved from one monitor to another.  The window continues to exist (if you show everything in the workspace), but there isn't a simple way of retrieving it from off

[2019-10-08 20:54] blandoplanet commented on #3451
This seems to be true in ISIS3.9.0.

Test data in /work/users/mbland/Europa-data/Androgeos/
Lambert correction applied to cube 8600r_caltr.cub with a topographic normalization with anglesource=ELLIPSE (8600r_caltr_LL_topo.cub) and anglesource=DEM (8600r_caltr_LL_topo_DEM.cub). Results are idenitcal and no errors or warning are given. HOWEVER, the image does not specify a DEM in the image label so

[2019-10-14 22:43] AndrewAnnex opened #3471 "typo in main readme of install step 7"
**Description**
Step 7 has a typo at the base of step 7 causing a sentence or two to render in a code block when they should not

**Suggested Edit**
delete a space, PR incoming from me

Thanks!

[2019-10-15 15:23] #3471 closed, assigned to nobody

[2019-10-16 17:10] lwellerastro commented on #3452
FYI - there is an image available under /work/projects/usertests/UserTestPlans/Apps/photomet/m04180/ which can utilize a DEM for testing.  I don't have permission to copy the input file over (all data in the directory are the output of tests), but I have confirmed it still exists.  See photomet-test.csh for commands and the location of the input file if there is interest in this data (apollo metri

[2019-10-17 16:18] krlberry opened #3473 "Broken links in Tutorial on ISIS Wiki"
**Description**
There are some broken links on the migrated ISIS Tutorial on the ISIS github wiki.

**How to reproduce**
Clicking on several links at: https://github.com/USGS-Astrogeology/ISIS3/wiki leads me to for example: https://usgs-astrogeology.github.io/ISIS3/gh-pages/Core_Base_and_Multiplier.html, https://usgs-astrogeology.github.io/ISIS3/gh-pages/Special_Pixels.html, which 404. In addition

[2019-10-17 16:53] lwellerastro commented on #3473
Looks like some were recently documented via [#3441 ](https://github.com/USGS-Astrogeology/ISIS3/issues/3441)

[2019-10-17 16:55] jlaura commented on #3473
@lwellerastro Thanks! I am going to close this issue in favor of the original post.

[2019-10-17 16:55] #3473 closed, assigned to nobody

[2019-10-20 07:20] QIAN-Yuqi opened #3474 ""lronaccal" produce level 1 data of zero values"
**ISIS version(s) affected**: 3.8.0 in WSL

**Description**
Hi,
I find a really weird issue when I use "lronaccal" command in calculating IOF (after "lronac2isis" and "spiceinit"). The produced cub seems not correct. Every pixel is zero. I have checked tens of LRO NAC EDR images, and this issue happens every time. However, it seems everything is fine if I choose "radiance" option.

For example if

[2019-10-21 15:53] jessemapel commented on #3474
Hi @YuqiiQian,

Do you have the LRO data area local? You can run spiceinit without the LRO kernels. via the web service, but the calibration programs have to load local kernels to determine things like the distance to the sun.

You can check by seeing what is in `$ISIS3DATA/lro/kernels/spk` it should have a couple hundred files in it. Here's what I get:

[code]

[2019-10-21 15:59] jessemapel commented on #3474
This chunk of the [code](https://github.com/USGS-Astrogeology/ISIS3/blob/dev/isis/src/lro/apps/lronaccal/main.cpp#L198) loads the Moon position kernels if your calibrate to IoF. You can check your local data area for the listed kernels.

If you calibrate to radiance then it doesn't need the distance to the Sun which explains why that works.

[2019-10-21 16:08] jessemapel opened #3476 "Backing out the ALE integration merge"
#3464 merged the new code that integrates [ALE](https://github.com/USGS-Astrogeology/ale) into spiceinit.

When this was merged, Jenkins was down and since has come back up. We have several test and build failures on Jenkins right now and it is not clear which are caused by the ALE integration and which are caused by changes in things like the docker image Jenkins slaves use.

I've spent about a d

[2019-10-21 16:13] krlberry commented on #3476
:+1: on backing out the changes to make it possible to see what is failing without the ALE changes. Do we know when we'll be able to get back on the project?

[2019-10-21 16:15] jessemapel commented on #3476
@kberryUSGS We have a software scheduling meeting tomorrow. Either way, I'd like to have at least 1 person work on this starting either next week or after the products work.

[2019-10-21 16:18] jlaura commented on #3476
:+1: Backing out and potentially addressing during the products sprint sounds like a fine idea here. Can we accomplish backing the PR out this week so that we start the products sprint with (potentially) passing builds?

[2019-10-21 18:18] jessemapel commented on #3476
I'm going to leave this up for the day, if there are no objection by tomorrow morning I'll back ALE out.

[2019-10-21 21:54] jlaura commented on #1588
This is not functionality that we will be expanding upon in ISIS. This type of work is better handled with a higher level language that can leverage ISIS applications and standards.

[2019-10-21 21:54] #1588 closed, assigned to nobody

[2019-10-22 02:09] QIAN-Yuqi commented on #3474
Thanks so much @jessemapel . I didn't realized that I need local kernels to calculate IOF. So I still need to download kernels to local machine even if I use ISIS3 SPICE web service if I want to calculate IOF? However, if I just want to calculate radiance then ISIS3 SPICE web service is enough.

For example, the code below doesn't work well because I don't have local kernels but works well for rad

[2019-10-22 15:09] jessemapel commented on #3474
Yes this is correct. Modifying the calibration programs to not require local kernels is something that has been talked about several time. See #1790 for example.

[2019-10-22 15:09] #3474 closed, assigned to nobody

[2019-10-23 15:19] rbeyer commented on #1588
I have two comments here:

(1) If a raised issue were "out of scope" that would be a reason to close it in this manner.  However, saying 'at this time' implies that at some other time, this would be in-scope, and wouldn't that be a reason to keep it as an issue?

(2) Sure, making "publication-ready" figures means different things to different people, and I can see why this may not be prioritized.

[2019-10-23 16:53] jessemapel commented on #1588
Right now ISIS doesn't have a well defined scope. There is precedent for something like this; ISIS has the barscale and grid applications that are really only used to generate figures.

It may be better to say that, this is not functionality that we will be expanding upon in ISIS. This type of work is better handled with a higher level language that can leverage ISIS applications and standards.

[2019-10-23 21:13] jessemapel commented on #3476
changes have been backed out and Jenkins builds are passing again.

[2019-10-23 21:13] #3476 closed, assigned to nobody

[2019-10-25 02:44] jlaura opened #3479 "ISIS3.9.0 release still indicates beta"
**ISIS version(s) affected**: 3.9.0

**Description**
The version file for 3.9.0 (release) still indicates beta.
https://github.com/USGS-Astrogeology/ISIS3/blob/dev/isis/version#L3

This has caused some very justified confusion for our users: https://astrodiscuss.usgs.gov/t/getting-the-stable-version-of-isis-3-9-0/316

**How to reproduce**

**Possible Solution**
We need to update the version file _

[2019-10-25 02:50] jlaura commented on #3479
I see that the docs reflect needing to do the update: https://github.com/USGS-Astrogeology/ISIS3/wiki/Public-Release-Process#step-2-set-up-the-local-and-remote-repositories

I suggest that this will be fixed when 3.9.1 is released, but still want to have this issue in to highlight the step.

[2019-10-25 16:00] jessemapel commented on #3479
This was my fault. I missed that when I went through the files to update. It is possible to make cmake render a file using cmake variables. So, we may be able to make cmake generate the version file.

[2019-10-28 22:04] jlaura commented on #3070
I touched base with Dathon and am going to close this as a non-issue right now. Anyone can reopen at a later date if they encounter this issue. For a similar, yet slightly different problem we should get a new issue opened.

[2019-10-28 22:04] #3070 closed, assigned to nobody

[2019-10-30 19:54] jessemapel opened #3481 "Kaguya TC/LISM distortion model doesn't account for the boresight"
**ISIS version(s) affected**: 3.7.0+ (seems like since TC support was added)

**Description**

The Kaguya LISM distortion equations include an offset for the boresight. From the IK:

[code]

The KaguyaTcCameraDistortionMap class does not include the boresight offsets in its calculations:

[code]

**How to reproduce**

You can run camtest on a Kaguya TC image to see the distorted and undistorted fo

[2019-10-30 20:10] blandoplanet commented on #3481
Should this be flagged as a "bug"? It seems like something that might be addressed in a future Product support sprint.

[2019-10-30 20:12] jessemapel commented on #3481
@blandoplanet I knew I forgot something!

[2019-10-30 22:50] lwellerastro commented on #3481
Should there be consideration in addressing this sooner than later due to the fact that there is a project dependent upon the KaguyaTC model that needs to have work completed in early 2020 (January/February time-frame)?

[2019-10-30 22:58] jlaura commented on #3481
I believe this is a rather quick fix, so having this as a candidate for next week might make sense?

[2019-10-30 23:00] blandoplanet commented on #3481
I agree with that. Given that we have a project using TC it is higher priority than some of the other tasks lower down on the list.

[2019-10-30 23:01] lwellerastro commented on #3481
I agree as well.  I guess we need to figure out where on the list it goes.

[2019-10-31 00:26] jessemapel commented on #3481
This is very small fix. I've already got a PR in USGSCSM for this, we just don't have time to do ISIS work under the current USGSCSM sprint.

[2019-10-31 00:27] jessemapel commented on #3481
Here's the USGSCSM fix https://github.com/USGS-Astrogeology/usgscsm/pull/246

[2019-11-01 20:37] lwellerastro commented on #3426
Some additional notes:

- I have attempted to run pds2isis on these image in an attempt to "see" the label information and got the following error message:

- I have run cathist on each of the "clean"/usable images and they were all successfully ingested and spiced on 2018-06-21 using isis3.4.13.  That version no longer exists so I tried to use the closest available version in time isis3.5.2 to ru

[2019-11-04 18:47] krlberry commented on #3426
This might be a side-note, as the problem I list below might be fixed by fixing the `InstrumentId` problem:

I can reproduce everything with a recent build of dev and the test data, except that the `spiceinit` error I get is a little bit different than the one listed above. Notably, it has a "Z" in it, which is an error I've seen before elsewhere (and we can fix):

[code]

[2019-11-04 18:56] lwellerastro commented on #3426
@kberryUSGS , this sounds familiar... I'm not finding it in my work area at the moment, but I've seen this error as well while trying to work with some problem voyager images.  I tried to edit the StartTime to get rid of the Z but that cascaded into other problems so I left it alone.  But it was on images different than the ones in this post because they got through ingestion.  I think there are s

[2019-11-04 19:45] scsides opened #3482 "Change spiceinit to use smithed kernels by default"
**Description**
By default spiceinit currently uses reconstructed quality spk and ck kernels. If the user wants to include smithed kernels, the parameters SPKSMITHED and/or CKSMITHED must be used to have spiceinit search for the respective smithed kernels.

The fearture would be to set SPKSMITHED and CKSMITHED to true instead of the current setting of false.

The result would have spiceinit use sm

[2019-11-04 20:05] krlberry commented on #3426
Looking into this more, it actually looks like a problem with the .imq data's header to me. Both the `INSTRUMENT_NAME` (needed) and the `NOTE` (not needed) don't match when I compare the original labels (via `catoriglab`) from the old, working cubes in `/work/projects/EuropaBasemap/Europa_processed/VGR/` with the new, failing cubes.  Notably, the `INSTRUMENT_NAME` isn't even set in the image heade

[2019-11-04 20:16] lwellerastro commented on #3426
huh, I couldn't eve get catoriglab to run on our local pds file - "Could not find OriginalLabel or OriginalXmlLabel in input file".

I just tried to ingest and spice the imq that Tammy and Glenn downloaded a couple of years ago (also under /work/projects/EuropaBasemap/Europa_processed/VGR/) and it works fine as well.

I think the problem may be with our local PDS voyager data since that is where I

[2019-11-04 20:30] krlberry commented on #3426
@lwellerastro :+1:

re: catoriglab, I just ran `catoriglab fr=c2061155.cub` and `catoriglab fr=c2061155_init.cub` using the cubes provided in this ticket and it "just worked" for me.

[2019-11-04 20:33] lwellerastro commented on #3426
@kberryUSGS , just so we're clear, those were originally processed by Tammy and Glenn a couple years ago and are the one ones @blandoplanet refers to as the "clean" images, or the ones that worked.  I'm trying to figure out where they pulled their data from, but it's clear it was not from our local PDS SAN.
I side-tracked myself going through Tammy's old directories (but I found some other good st

[2019-11-04 20:49] lwellerastro commented on #3426
Confirmed - the imq's downloaded by Tammy and Glenn ingest with no problems.  There are no notes on where the data came from, so I'll check with Glenn.  @kberryUSGS confirmed the JPL node has good data, so that is a start.

I will report the problem with our local PDS SAN to the proper folks.

In the meantime I will re-run my level 1 processing script against data that comes from a different node

[2019-11-04 22:15] lwellerastro commented on #3426
Huh, how is this working for you @kberryUSGS ?  Nothing but errors when I pull from jpl's node (starting at the imaging nodes voyager page: https://pds-imaging.jpl.nasa.gov/volumes/voyager.html)

I downloaded the following to /work/users/lweller/Isis3Tests/Voy2isis/jpl_dwnload/ on astrovm5 using conda isis3.9.0:
wget https://pds-imaging.jpl.nasa.gov/data/vg1_vg2-j-iss-2-edr-v3.0/vg_0024/europa/c20

[2019-11-04 23:15] krlberry commented on #3426
@lwellerastro I found my way to the older archive by googling "c2061155.imq." I guess I just got lucky that the archive I ended up in contained a version of the .imq file that happened to work with ISIS.

If I wget the same (more up-to-date) .imq files that you pulled down, I still get the errors listed in this ticket as well. These headers (via `less`ing the .imqs) are missing a value for `INSTRU

[2019-11-04 23:42] lwellerastro commented on #3426
@kberryUSGS, we have these files on the pds as well, they are under volume vg_0007 as opposed to volume vg_0024, which is where I and others have pulled from (new volume, presumably better data).  I was able to successfully ingest vg_0007 images via voy2isis.  I also called spiceinit, which ran, but I get the following error message for all three images:

I brought the images into qview and they a

[2019-11-05 00:36] krlberry commented on #3426
To respond to the second paragraph first, what you're proposing: add `InstrumentId = Unknown`, translate the rest of the label normally, and have the user run `editlab` to fix this sounds reasonable to me! Adding an additional (optional) parameter to `voy2isis` to set the `InstrumentId` when it can't be determined from the label is also a potential option. Though it would probably for most usecase

[2019-11-05 00:38] lwellerastro commented on #3426
I have pulled the 3 images in question off of the earlier version in which they appear (vg_0007) and by all rights they are identical to the "clean" images that were previously processed - dn's are the same and spice is essentially the same (barring possible slight differences from new kernels).  I can only assume that the previous work encountered the same problems and used the older versions to

[2019-11-05 01:01] lwellerastro commented on #3426
sheesh!  Of course we are already making InstrumentId=Unknown (because, duh)!  However, changing it to the appropriate value does not help (and now I am remembering I have done this already, but can't find where).

The headers are clearly garbage.  I haven't tested the other two images, but I suspect the have the same problem.

Let's document this and close the post - garbage in, garbage out.

[2019-11-05 01:10] jlaura commented on #3426
@kberryUSGS @lwellerastro Nice job working through this one!

@ladoramkershner @Kelvinrr Is this post a candidate example for the FAQ? The topic itself is specific to Voyager, but the general issue is, I believe, broadly describable as a label issue that is causing problems with a subset of the data. I don't want to hijack this thread with a discussion (maybe post on astrodiscuss?), but wanted to

[2019-11-05 15:48] krlberry commented on #3426
@lwellerastro :+1: I noticed this, too. Right now, ISIS does set `InstrumentId=Unknown`, but when it doesn't find an `InstrumentId`, it stops further translating the label and doesn't get to the point of stripping the "Z" off the time, which is why you get the later spiceinit error. @lwellerastro Any ideas on where to document this? Sometimes things like this seem to get documented on the ingestio

[2019-11-05 16:18] lavalaz opened #3483 "camdev "LOCAL" options unclear"
**Description**

I, and most users, will not know what the difference between "EMISSION" and "LOCALEMISSION" is.  Similarly with INCIDENCE and LOCALINCIDENCE.

**Suggested Edit**

I suspect the difference is easy to explain (one used a DEM and the other doesn't is my guess, but its just a guess).  There is some text related to 90 degrees, but it does not clarify the difference between these option

[2019-11-05 16:30] lwellerastro commented on #3426
@kberryUSGS, would it be a pain/disaster to make the program finish translating to at least get the rest of the label in a proper state?  It is likely always preferable/recommended to work with the latest version of an image than an older version, so it would be nice to work the volume 24 images.  But if doesn't seem reasonable to everyone or folks think other potential problems would arise then I

[2019-11-05 17:18] jlaura commented on #3483
@lavalaz Have you checked out the [glossary](https://isis.astrogeology.usgs.gov/documents/Glossary/Glossary.html) provided by the documentation?

[Here](https://github.com/USGS-Astrogeology/ISIS3/blob/58710a4359deadee3f8d406daa0e37696f0f62f0/isis/src/dev/apps/camdev/camdev.xml) is a link to the `camdev` documentation. If you would like some assistance opening a PR to help improve or clarify that d

[2019-11-05 17:27] krlberry commented on #3426
@lwellerastro I was hoping to be able to answering this before the meeting today, but I'm still waiting on ISIS to compile after having made some minor changes. I'm not sure whether or not we'll have enough information to keep translating the labels such that spiceinit will run and produce the correct results if we don't know whether it's WAC or NAC.

[2019-11-05 18:28] lavalaz commented on #3483
I was not aware of the glossary, but these terms are missing from the glossary too.

I cannot help clarify the documentation because I have no knowledge of what these parameters actually are.  I can help verify that new documentation is clear, but I cannot explain what I do not know.  So I do not feel it is appropriate for me to be opening a PR where I suggest I will improve the documentation.  Pl

[2019-11-05 19:18] acpaquette commented on #3456
@lwellerastro Here is the new output from jigsaw for the bundle output
[bundleout.txt](https://github.com/USGS-Astrogeology/ISIS3/files/3810805/bundleout.txt)

[2019-11-05 19:48] blandoplanet commented on #3456
Hey @acpaquette. This looks good to me, but Lynn has the final say.

It looks like you've implemented the solution you discussed wherein you loop over the paths. Is that correct?

[2019-11-05 19:51] acpaquette commented on #3456
Yes, this is looping over the observations and finding the longest path/file name for padding.

[2019-11-05 19:52] dpmayerUSGS commented on #3190
@AustinSanders I updated the original issue to include example data from the A filter

[2019-11-05 20:04] ladoramkershner commented on #3330
Mariner 10 has been added as per your request, thank you for the suggestion! The changes will be available at our next public release (isis 3.9.1) in the next week or so.

[2019-11-05 20:11] lwellerastro commented on #3456
That looks awesome @acpaquette !!  Sorry I missed stand-up today, but looks like you came up with something to satisfy the original acceptance criteria - nice!

I think this satisfies the requirement.

[2019-11-05 20:13] dpmayerUSGS commented on #2034
This is related to #2037

[2019-11-05 22:01] jlaura commented on #3483
@lavalaz

Thanks for the further feedback. A few questions:

1. Have you looked [here](https://isis.astrogeology.usgs.gov/Application/presentation/Tabbed/camdev/camdev.html)? I would draw your attention to the first line of the online documentation. Specifically:

2. Have you looked at the parameters tab of the documentation? Specifically, the LOCALEMISSION and LOCALINCIDENCE keywords are linked a

[2019-11-05 22:37] dpmayerUSGS commented on #2023
`marcical` is behaving as expected for those 2 specific products. The products listed in the original issue are not listed in the `$ISIS3DATA/mro/calibration/marci/varexp.tab` so `marcical` balks at processing them.

**Additional Context**
Not long after the start of the mission, the instrument team began operating MARCI in a mode where the exposure duration was changed from framelet to framelet d

[2019-11-05 22:43] dpmayerUSGS commented on #2034
I'm not sure if this was ever implemented but I can confirm that as of at least ISIS 3.8.x, `marci2isis` does *not* remove the instrument group from the ISIS label of MARCI products that have variable exposure durations.

[2019-11-05 22:57] jessemapel commented on #3483
The camdev application and a handful of others are intended only for development on ISIS camera models. I'm hesitant to make changes to documentation for them as users should be using something like phocube instead.

[2019-11-05 23:42] jessemapel commented on #3416
The current plan is to house these in our wiki. Unfortunately, you cannot submit a pull request to the wiki repository. This means contributors would have to directly push to the wiki repository. This is both unsafe and also limits contributors to only those with write access to the whole repository. As, we expect our users to help with these, limiting the contributors is particularly problematic.

[2019-11-06 14:15] jlaura commented on #3416
I would vote for #2. I think I would be nice to have our docs in a separate repo at some point. I realize this is challenging because some of the docs are built from source. On the point about issues being posted to the main repo, we have two options: (1) we can manually migrate as we do not get a high volume of documentation issues or (2) we can get a bot to auto-migrate documentation issues to t

[2019-11-06 14:20] rbeyer commented on #3416
This is about 'tutorials' (which are a flavor of documentation) or this is about all the documentation for ISIS?

[2019-11-06 14:41] jlaura commented on #3416
The original post is about the wiki contents and tutorials. What is the best mechanism to accept PRs on those so that the community can also contribute back.

The discussion morphed a little into the source information that is used in rendering and populating all documentation.

[2019-11-06 15:01] rbeyer commented on #3416
That's what I was afraid of, so I'm glad I asked.

If you're talking about **tutorials only** then a separate repo might be tractable.  Odds are good its going to have a lot of images and possibly videos.  I don't need to enumerate how that's difficult for any repo.  You maybe need to think about exactly what kind of 'tutorial' you're trying to collect (a text and still images tutorial is fundamen

[2019-11-06 15:49] jessemapel commented on #3416
@rbeyer I agree keeping the API and application docs with the source code makes sense. I think higher level documentation about how to string applications together and the website make sense in a separate repo.

[2019-11-06 16:22] jessemapel commented on #2677
cisscal from the Cassini team is currently on version 4.0

ISIS cisscal is up to date with their version 3.9.1 after #3406

Here's the 4.0 change log:

It looks like we don't replicate the make_polar_image script because it's a separate calibration program. We also do not do the 2-hz noise removal because that's filtering and not calibration.

So the only difference is support for debiasing of som

[2019-11-06 16:24] jessemapel commented on #2677
The new code in cisscal is this block of code at line 67 of cassimg__debias.pro:

[code]

previously it just set the biasstrip flag to 0.

[2019-11-06 16:25] michaelaye commented on #2677
I have to push back against the categorization of a standard noise removal of the CISS team as a separate issue.
While it is technically correct, the CISS team has considered this issue to be a standard calibration issue and not doing it on the ISIS side while it's done on the standard IDL calibration just creates confusion of producing different results.

[2019-11-06 16:40] jessemapel commented on #2677
@michaelaye That's reasonable to me. Looking at the revision history it looks like it was decided not to include that way back when it was first ported to ISIS

[2019-11-06 16:42] blandoplanet commented on #2677
Naively I agree with @michaelaye. It causes confusion to have ISIS cisscal not perform steps that are standard in the CISS team "calibration."

[2019-11-06 16:43] jessemapel commented on #2677
ISIS also does not do anti-bloom correction. I'd assume that's in the same category as the 2-hz correction.

[2019-11-06 16:45] michaelaye commented on #2677
yes, have never seen it. One of the initial reviewers of the CISS team, Robert West, pointed these differences out, but I guess there were no means to rectify them at the time.
I could work on these issues, but will take me time to get to it...

[2019-11-06 16:47] lavalaz commented on #3483
I found _camdev_ instead of _phocube_ when searching for an ISIS3 application to create backplanes.  I revise my suggestion for the _camdev_ documentation.  Instead of *only* saying this application is for camera development, please add the very helpful comment that regular users should consider using _phocube_ instead of _camdev_.  No need to add any other documentation to _camdev_.  Thank you!

[2019-11-06 16:47] jessemapel commented on #2677
If the original team is pointing out the difference, we should probably port them over!

[2019-11-06 17:04] krlberry commented on #3426
After the stand-up yesterday, it was decided that a new parameter would be added to `voy2isis` to specify the IMAGE_NAME if it is missing from the input label.

I updated `voy2isis` to allow this option. `voy2isis` in graphical mode now looks as follows:

![image](https://user-images.githubusercontent.com/22879031/68318725-752b3f00-007a-11ea-8ab5-ae186b8fbbda.png)

Running `voy2isis` on one of the

[2019-11-06 17:07] lwellerastro commented on #3426
@kberryUSGS , follow up question - was that successfully ingested image run through spiceinit?  Simply to confirm that the time, etc. was translated properly.

[2019-11-06 17:11] krlberry commented on #3426
`spiceinit` results for `c2061155-succeed.cub`:

[code]
This is different than the current kernels group on the clean cube, but if I re-spiceinit the clean cube, I get the same set of kernels.

@lwellerastro @blandoplanet Any feedback or requested changes about any of this? The added parameter name, error messages, or anything else? I didn't provide any information about where to find the INSTRUME

[2019-11-06 17:18] lwellerastro commented on #3426
@kberryUSGS - all thumbs up.  I like the improved error message and the new parameter.  Folks can get the necessary information from the pds archive index file (which is on every volume) no big deal.   I suppose that is the only thing I might add to the documentation - "users are encouraged to find this information in the pds data volume index.tab file", or something along those lines.

The clean

[2019-11-06 17:30] dpmayerUSGS opened #3489 "MARCI Variable Exposure Table "varexp.tab" Needs to be Updated"
**ISIS version(s) affected**: >= 3.4.9

**Description**
`marcical` (and, https://pds-imaging.jpl.nasa.gov/data/mro/mars_reconnaissance_orbiter/marci/mrom_1127/index/varexp.tab, potentially `marci2isis` and the MARCI camera model in ISIS) need to be able to cross reference a MARCI product ID against a database of variable exposure duration information. This information is stored in `$ISIS3DATA/mro/

[2019-11-06 18:36] #3483 closed, assigned to nobody

[2019-11-06 18:37] jessemapel commented on #3483
The docs on the website will get this change once we push the next public feature release.

[2019-11-06 20:40] jessemapel commented on #3489
Automatic calibration data updates are a good idea. My one concern is if they are not backwards compatible. New calibration releases sometimes require code changes.

[2019-11-06 20:53] jessemapel opened #3491 "Update cisscal to match CICLOPS CISSCAL v 4.0"
**Description**

This issue is a continuation of #2677. Since #3406 ISIS cisscal is up to date with CICLOPS CISSCAL v 3.9.1. Since then, CICLOPS has released v 4.0. So, we should update ISIS cisscal accordingly.

Here's the change log from v3.9.1 to v4.0:

The changes for current ISIS cisscal are updating the calibration data and adding the logic to handle debiasing for some TABLE images.

**Examp

[2019-11-06 20:54] #3456 closed, assigned to acpaquette

[2019-11-06 21:04] dpmayerUSGS commented on #3489
@jessemapel The `varexp.tab` file contains information about the commanded exposure times that were used during the acquisition of particular framelets. In general, a change to a previous entry in this file would only be made to correct an outright error in the earlier entry.

If there's a need to *force* backwards compatibility, it is always possible for a user to grab a copy of the table from an

[2019-11-06 21:06] jessemapel commented on #3491
This is a small change, estimated time is 1-2 days for 1 person. Most of the work is testing and ensuring you have the proper IDL/ISIS setups for comparisons. This also only impacts a subset of data, so new test data will need to be found and new tests will need to be written.

[2019-11-06 21:14] jessemapel opened #3493 "Add 2-hz noise filtering to ISIS cisscal"
**Description**

This issue is a continuation of #2677. Back since cisscal was ported to ISIS3, 2-hz noise filtering was not included even though CICLOPS's version has it.

We should add this as a calibration step to better match the calibration from the instrument team. We should match the CISSCAL v 4.0 algorithm, even if #3491 is not completed yet.

**Example**

The ISIS cisscal output should ma

[2019-11-06 21:16] jessemapel commented on #3489
@dpmayerUSGS I am not concerned about this single file, but if we're going to automatically update based on new calibration data releases, we should build an infrastructure for all calibration data releases similar to how we do SPICE kernels. With other calibration applications and data files, backwards compatibility may not be ensured.

[2019-11-06 21:21] dpmayerUSGS commented on #3489
@jessemapel :+1: for infrastructure.

This one file may be a bit of anomaly in the sense that it's *possible* to automatically update it. I'm not aware of files (even for other instruments) such as calibration flat files that are regularly updated and placed in a predictable location accessible to the public. But I also don't know what I don't know.

[2019-11-06 21:24] AustinSanders commented on #3190
The latest test results indicate a difference of ~.58% for "D" filter (original/new implementation).  Original/new implementations yield an exact match for "A" filter.

[2019-11-06 21:39] dpmayerUSGS commented on #3190
@AustinSanders The following comment block should be updated to reflect the changes in the code:
https://github.com/AustinSanders/ISIS3/commit/3e79dc7c43dc8ba74eea1d7adc6dd9abe3ba1b03#diff-4b1c297d512780bc6b6834b3bbc890adL51-L53

The updated comment should read

The functions were determined by fitting a line to the data in Table 5 (A filter) or Table 6 (D filter) of Robinson et al., as described

[2019-11-06 22:01] jessemapel commented on #3493
This algorithm is well documented but involves several non-trivial steps. Implementing this will require familiarity with IDL and how its built in methods work (mostly how IDL's built in interpolation and filtering works).

There are three steps in the process:

1. Determine the line-by-line variation
1. Filter and repeatedly smooth the variation to extract a signal
1. Generate a 2d image from the

[2019-11-06 22:04] jessemapel commented on #3190
@dpmayerUSGS @AustinSanders Can specific code feedback be left on a PR? Issues are not a very good venue for this type of discussion.

[2019-11-06 22:06] jessemapel commented on #3489
I would advocate for manually updating this file. Addressing automated release detection and update for calibrations is a good topic for a larger calibration focused proposal. It could be something as simple as a bot that auto-opens an issue when a new version of a calibration program is released by the mission team.

[2019-11-06 22:09] jessemapel opened #3494 "Add bright/dark correction for anti-bloom corrected images to cisscal"
**Description**

This issue is a continuation of #2677. Back since cisscal was ported to ISIS3, bright/dark correction was not included even though CICLOPS's version has it.

**Example**

The ISIS cisscal output should match the CICLOPS CISSCAL output with 2-hz noise filtering disabled and anti-bloom correction enabled. If #3491 is not complete, these should still match for non-TABLE images.

[2019-11-06 22:10] jessemapel commented on #2677
This is really 3 issues, see:

#3491
#3493
#3494

[2019-11-06 22:10] #2677 closed, assigned to nobody

[2019-11-06 22:33] jessemapel commented on #3494
This is a three step process:

1. Identify pixels that are exceptionally brighter or darker than their neighbors
1. Find bright/dark pairs, pairs of pixels where a bright pixel is directly above a dark pixel.
1. Replace the bright/dark pairs with the average of their neighboring pixels

Each step in the process is small and does not use any complex processes. There is a threshold required to ident

[2019-11-06 22:40] dpmayerUSGS commented on #3190
:+1:

[2019-11-06 22:53] jessemapel commented on #3493
This will also require a documentation update, because the current documentation says this step is explicitly excluded.

[2019-11-06 22:53] jessemapel commented on #3494
This will also require a documentation update, because the current documentation says this step is explicitly excluded.

[2019-11-07 17:47] #3330 closed, assigned to nobody

[2019-11-07 18:23] krlberry commented on #3489
Updated the `varexp.tab` file internally in the system. Now, there are `7812` more lines of data in the file!

[2019-11-07 19:44] #3489 closed, assigned to krlberry

[2019-11-07 20:26] Kelvinrr commented on #2667
After running photomet on a 50, 100 and 150 cube batchlist, I can't replicate the segfault.

[2019-11-07 20:26] #2667 closed, assigned to nobody

[2019-11-07 22:53] scsides commented on #2023
We have confirmed the error message "NoExposureTimeDataFound" is issued as an informational warning only. The calibration code continues to run and calibrate the image with the assumption the exposure duration is constant for all framelets and comes from the value stored in the label.

Once the work to have the ingestion program store arrays of exposure duration and sequence number is complete, ch

[2019-11-07 22:58] dpmayerUSGS commented on #2023
@scsides :+1:
In light of that confirmation, as well as #3489 , I think this issue can be closed.
Adding a note to the documentation about the "NoExposureTimeDataFound" would be nice though.

[2019-11-07 23:13] #3451 closed, assigned to AustinSanders

[2019-11-08 00:04] #3481 closed, assigned to paarongiroux

[2019-11-08 14:03] evindunn-usgs opened #3499 "Is the Bot working?"

[2019-11-08 18:32] jessemapel commented on #2037
Based on the documentation in the SIS, the variable exposure table label, and the Bell calibration paper, the exposure duration changes, but the interframe delay does not change. The geometric properties of the sensor are established by the interframe delay right now, and not the exposure duration.

[2019-11-08 19:07] #2037 closed, assigned to jessemapel

[2019-11-08 19:56] #3466 closed, assigned to scsides

[2019-11-08 20:24] #3446 closed, assigned to nobody

[2019-11-08 20:50] jlaura commented on #3417
Closing, looks like the merge didn't trigger the close. Nice work @Kelvinrr @kberryUSGS

[2019-11-08 20:50] #3417 closed, assigned to Kelvinrr

[2019-11-08 20:51] jlaura commented on #3452
Closing this. Looks like the merge didn't close it. Nice work @ladoramkershner!

[2019-11-08 20:51] #3452 closed, assigned to AustinSanders

[2019-11-08 23:47] jessemapel commented on #3438
We've been looking a bit at MARCI the last few days and I have an idea about what could be causing this. When cam2map sets up the patch regions it takes into account the framelet size and if it's an even or odd image. For odd images it sets up patches on framelets 1, 3, 5, etc. and for even images it sets up patches on framelets 2, 4, 6, etc. This logic **does not** take into account flipping and

[2019-11-09 00:09] jessemapel commented on #3438
here's some ascii art I just made that helps explain this a bit better:

[code]

[2019-11-11 22:58] ghost opened #3500 "Fresh WSL Install - Test Data Issues"
Hello - I'm working to get ISIS3 set up on my PC using WSL. I'm fairly new to using ISIS, but I've been able to successfully run it following the usual setup instructions for Mac and Ubuntu in the past with little issue, although following Trent's instructions all seemed well until trying to run the test CTX images to verify my installation.

The program itself seems to run fine, and I can bring i

[2019-11-12 02:48] jlaura commented on #3500
@jpknightly Thanks for the post. This looks like a question (?) and not a bug/enhancement that uses the issue template.

I moved the question over to our [discussion forums](https://astrodiscuss.usgs.gov/t/isis3-install-on-wsl-directory-issues/330) for you. I suspect you will get more traction over there.

If this is a bug, please reply with reproduction steps so that we can address the issue. If

[2019-11-12 02:58] #3500 closed, assigned to nobody

[2019-11-12 18:30] ladoramkershner opened #3504 "MARCI Calibration data: ISIS vs PDS discrepancy"
**ISIS version(s) affected**: noticed during isis3.9.0

**Description**
I noticed that the most recent version of the MARCI calibration data in PDS archives do not match the most recent version of the calibration files in the ISIS data area (/usgs/cpkgs/isis3/data/mro/calibration/marci).

The PDS archive calibration files are given in ddd format (custom file format from the manufacturers of MARCI)

[2019-11-12 18:44] #3190 closed, assigned to AustinSanders

[2019-11-12 18:58] jessemapel commented on #3504
I'm curious where the dividing by 10,000 came from. The [calibration description](https://pds-imaging.jpl.nasa.gov/data/mro/mars_reconnaissance_orbiter/marci/mrom_1127/calib/marcical.txt) on the PDS doesn't mention it.

[2019-11-12 19:03] #3479 closed, assigned to nobody

[2019-11-12 19:04] jessemapel commented on #3479
Note this is still incorrect in 3.9.0, but should be fixed in future releases.

[2019-11-12 19:09] ladoramkershner commented on #3504
Conceptually, I am not sure where that comes from, but it is in all of the ISIS calibration cubes histories (cathist output). I think with some reading and some digging we could figure out why (or why we should take it out), I just wanted to do a 1 to 1 comparison with the current data.

[2019-11-12 19:14] dpmayerUSGS commented on #3504
@jessemapel @ladoramkershner The factor of 10,000 might be a unit conversion factor. The calibration description on the PDS doesn't specify the units of solar spectral irradiance, but the numbers in that table suggest milliwatts/meter^2/nanometer or equivalent. It's unclear what the units are for spectral radiance (`I`) in `I = DN / Exposure Time / Summing / Response Coefficient`