[2022-07-13 19:16] acpaquette commented on #4922
@lwellerastro The job can be re-enabled when necessary and then we can remove the kernels again as necessary

[2022-07-13 19:20] lwellerastro commented on #4922
@acpaquette, I am sufficiently confused between this post and the Titan kernels post that I have to ask which new spk's are we talking about as far as preventing downloads are concerned? Astro's or the mission?  Sorry to be dense, I'm just confused.

[2022-07-13 19:27] amystamile-usgs commented on #4942
@KrisBecker I don't believe that is the root of this problem. I tried running spiceinit with the EXTRA parameter instead of the SPK parameter and we still see the same results. This is due to spkwriter writing the state positions based on the center body of Titan but also writing that the center body is Saturn Barycenter (due to the camera model hardcoding this center body). We speculate that the

[2022-07-13 19:30] lwellerastro commented on #4942
I can confirm @amystamile-usgs  results - I still get intersection errors on the most simplest case.

`spiceinit from=N1560476854_1_extrakern.cub extra=Titan_N1560476854_1_default_spk.bsp ck=Titan_N1560476854_1_default_ck.bc`

campt produces the following error whether I include the ck kernel or not in the above command:  "Requested position does not project in camera model; no surface intersectio

[2022-07-13 19:48] jessemapel commented on #4942
I agree that the problem here is in spkwriter and not spiceinit. However, if we go with solution 2, we should follow Kris's recommendation of passing the kernels as extra on top of the existing kernel data set.

Also, it sounds like we didn't write smithed SPKs for Enceladus so that explains why we didn't encounter this. My understanding is that ckwriter already has this type of functionality buil

[2022-07-13 20:58] blandoplanet commented on #4942
@jessemapel regarding option 1 above. What are the consequences of having a "slightly different format" for the kernels? Option 1 seems much easier, but I don't understand the ramifications.

[2022-07-13 21:24] KrisBecker commented on #4991
Looks good. Here are the test results:
[code]
I will go ahead and close this issue assuming you will merge your fix.

Thanks for your help.

[2022-07-13 21:24] #4991 closed, assigned to nobody

[2022-07-13 21:48] jessemapel commented on #4975
I tinkered with manually specifying usgs-astrogeology channel on a per-dependency basis and it did not work with strict channel priority. So, I'm going to close this a will not fix. Hopefully, we will eventually get fully onto conda-forge dependencies and strict channel priority will work again.

[2022-07-13 21:48] #4975 closed, assigned to jessemapel

[2022-07-13 22:03] jessemapel commented on #4930
I've removed these meta kernel files for now. We can eventually come back add some extra functionality to create them if we want, but with work on-going on SpiceQL that seems like a tangential solution.

[2022-07-13 22:03] #4930 closed, assigned to jessemapel

[2022-07-13 22:03] jessemapel commented on #4927
The file is now available.

[2022-07-13 22:03] #4927 closed, assigned to jessemapel

[2022-07-14 15:09] #1473 closed, assigned to nobody

[2022-07-14 16:27] blandoplanet commented on #4922
I have confirmed that trying to use the smithed kernels results in ISIS using the default kernels. That is, running 'spiceinit from=foo.cub cksmithed=true' produces the same result as simply running 'spiceinit from=foo.cub'. This is the desired result (unfortunately).

[2022-07-14 16:27] #4922 closed, assigned to acpaquette

[2022-07-14 18:13] jessemapel commented on #4942
@amystamile-usgs Had some discussion with @blandoplanet @lwellerastro and Brent.

We're going to move forward with solution 1, removing the explicit SPK center definitions. We need to check that all of the image geometry is still correct with this approach though.

[2022-07-14 22:28] jessemapel commented on #4991
I looked a little bit more into patching googletest and it seems like a nightmare. So, we're going to handle it on our end right now. It does potentially pollute cmake configurations for consuming libraries, but there's already a whole bunch of that we're doing to worry about before this.

[2022-07-15 13:28] swalterfub opened #4998 "Installation under CentOS 7.9.2009 throws UnsatisfiableError"
**ISIS version(s) affected**: 7.0.0

**Description**
Installation by strictly following the Readme throws an error under conda.

**How to reproduce**
CentOS 7.9.2009, Anaconda3/2021.11 via EasyBuild framework

**Possible Solution**

**Additional context**
[isis-install-conda.log](https://github.com/USGS-Astrogeology/ISIS3/files/9121125/isis-install-conda.log)

[2022-07-15 15:55] jessemapel commented on #4998
Can you post your channel config from `conda config --show channels`.

[2022-07-15 16:48] jessemapel opened #5000 "Old Makefile tests are not being picked up by ctest"
**ISIS version(s) affected**: x.y.z

**Description**

Since #4957 the old Makefile tests are not being picked up in builds. You can see the last nightly build with the make file tests here: https://astroservices.usgs.gov/jenkins/job/ISIS-Nightly-Builds/job/dev/957/flowGraphTable/ and then a few days later with an additional missing header fix https://astroservices.usgs.gov/jenkins/job/ISIS-Nightly

[2022-07-15 18:07] ericepalmer commented on #4257
I'm not sure why this didn't stay in the queue.  We have just received the ONC Hayabusa data and now need ISIS to process it.  However, development on this was neglicted

[2022-07-15 19:05] ladoramkershner commented on #4619
Hey @astrostu, I have a few questions for my context! First, is 'violet band' synonymous to the UV-2 band?

Second, could you expand on what the "custom post-flat flat code" is? For example, is the output of this custom code calibrated images or a version of the flat files the account for the hot pixels that seem to show up in the UV images, but not the calibration files. Additionally what are the

[2022-07-15 20:44] swalterfub commented on #4998
[code]

[2022-07-15 21:26] jlaura commented on #4257
@ericepalmer This was closed due to inactivity (posts with no activity for more than a year are closed by a GitHub action bot).

Are the Hayabusa 2 ONC data now publicly available? If so, could you please link us to them? We can consider this for work under a future support sprint by the team at the ASC. The ASC team can review external PRs at any time should a contributor want to open a PR with t

[2022-07-15 21:34] ericepalmer commented on #4257
They need the final review by the PDS and to be processed.  However, the PDS's key interface for small bodies image data (Small Body Image Browser) needs to process all of the images before they can be added to the database (takes weeks with the volume of data).

[2022-07-15 22:04] astrostu commented on #4619
Hi @ladoramkershner—

(1) By "violet" I mean the shortest-wavelength of the VIS images.

(2) After applying the MARCICAL code, so ostensibly removing optical issues by applying the built-in flats, what I did was design a script in GDAL to stack all the framelets in multiple images (per filter, per spatial summing mode) together.  So, if I have 10 VIS images that are all ≈100 MB .IMG files (so all

[2022-07-15 22:29] #4919 closed, assigned to acpaquette

[2022-07-15 22:50] jlaura commented on #4257
I apologize for my confusion. Are you saying that a public link to the data will be forthcoming once the PDS final review and some processing by the small bodies node or that the processing and review can not occur until ISIS is able to process said data? Or something else?

Thanks for the clarification.

[2022-07-15 23:08] ladoramkershner commented on #4619
@astrostu Definitely agree with the checking! there have been a couple issues asking for that inspection and I am plenty happy to jump in a rabbit hole (shoot they can hardly keep me out of them). I have spent the past few days looking through the whole line of MARCI related functions / data (the flat file generation, ddd2isis, marci2isis, and marcical)

I did find one small update we needed to be

[2022-07-16 02:17] astrostu commented on #4619
@ladoramkershner— Hmmm.  I know I took a look at them when I was working on this, but I don't recall them being THAT far off from the noise I was finding.  It's possible I'm thinking of the VIS flats, though.  So, this is where, at least in this case and at least with the UV, it might be that the flats from the team – despite these being "v3" flats updated in 2020 – are not good.

I am glad to see

[2022-07-16 02:19] astrostu commented on #4619
P.S. Something that is probably worth looking into, while you have the MARCI code open, is the whole variable exposure thing.  That's a constant warning that gets generated when bringing MARCI images into ISIS, which for a n00b can be quite disconcerting.  I'll also note there's an issue with that with the MOCCAL program, but that's probably a separate issue I should open.

[2022-07-16 20:45] ericepalmer commented on #4257
A link to a big batch of data is forthcoming.  However, it is very hard to use the data in the bulk directory form (unless you are looking by specific image name).  Thus, to truly access the data, people use SBIB because it is spatially controlled (and that requires ISIS)

Thanks
Eric

[2022-07-17 13:22] jlaura commented on #4257
:+1: I appreciate the heads up that these data are forthcoming. I am sure that the small bodies community with interest in Hayabusa2 are excited!

Please, let us know when these data are publicly available and we can consider slotting this for work. I believe that the next dedicated support work for ASC employees will be sometime in Q1 (October - December 2022). Before that time, we have other hig

[2022-07-18 16:39] jlaura commented on #4257
@ericepalmer I was thinking about this more this morning. Apologies if I missed it above - perhaps we can coordinate the release of this capability with the release of the archive so that users aren't excited to see the data and then disappointed by a 3 month lag waiting for a software release.  When you say 'forthcoming', what exactly does that mean?

[2022-07-18 16:53] ndhverma opened #5005 "Spice fail on version 4"
ISIS 4.4.0 version fail on web server for spice

I am processing the MiniRF data set id: lsz_03737_1cd_xku_88s276_v1_cub.cub

**ERROR** The SPICE server returned incompatible SPICE data.
**ERROR** Unable to find PVL group [Plugins].

Kindly suggest how I can correct this error.

Thanks

[2022-07-18 16:54] jessemapel commented on #5005
Can you provide the command line you ran and any processing you did to the cube file before running spiceinit?

[2022-07-18 17:10] ndhverma commented on #5005
Hi,

I have first convert the Mini-RF data into cub using mr2isis command.
Then run the web spice command
![image](https://user-images.githubusercontent.com/43364419/179565526-c2d3c09c-c82a-486e-822f-441e2ae23b9d.png)
after run the above command, following error I am getting
ERROR The SPICE server returned incompatible SPICE data.
ERROR Unable to find PVL group [Plugins].

[2022-07-18 18:57] AustinSanders opened #5006 "Update TGO CaSSIS wavelength values"
**ISIS version(s) affected**: all

**Description**
There has been an update to the TGO CaSSIS wavelength values.  The TGO mission team has requested that these values get updated within ISIS and hard coded to the new values, which are as follows:

* New bandwidth wavelength values (PAN, RED, NIR, BLU) = (231.9, 98.5, 121.8, 133.6).
* New center filter wavelength values (PAN, RED, NIR, BLU) = (678.

[2022-07-18 20:14] ndhverma opened #5008 "Spice fail on version 4 #5005"
Hi,

ISIS 4.4.0 version fail on web server for spice

I am processing the MiniRF data set id: lsz_03737_1cd_xku_88s276_v1_cub.cub

ERROR The SPICE server returned incompatible SPICE data.
ERROR Unable to find PVL group [Plugins].

Kindly suggest how I can correct this error.

I have first convert the Mini-RF data into cub using mr2isis command.
Then run the web spice command

![image](https://user

[2022-07-18 20:18] jessemapel commented on #5008
Hi, I'm marking this as a duplicate of #5005

If you have more information or new information for that issue please add it over there instead of making a new issue.

[2022-07-18 20:18] #5008 closed, assigned to nobody

[2022-07-18 20:27] jessemapel commented on #4913
First, I checked that the image was aligned properly with the distortion model and didn't see any issues. Changing the

I took a look at the data you sent us and I do not see any consistent offests related to the camera model.

I took your a-priori images and manually compared the computed limb against the observed limb similar to #4768 and did not see a consistent offset.

I then looked at your b

[2022-07-18 20:28] jessemapel commented on #4768
@shawn-brueshaber Can you outline how the limb correction was done and how it was applied to the images? It's not unusual for the a-priori image geometry to be off by this much.

[2022-07-18 22:27] #4914 closed, assigned to Kelvinrr

[2022-07-19 18:36] Toldbo opened #5010 "Using StereoPair Strategy with Caminfo output"
Hi

I have been reading the documentation on isisminer and the example provided. However, I am simply unable to progress. The examples pull resources from a database and I can see that there is an option for csv and pvl but somehow I need more guidance on this. When I run caminfo with append=true I get at csv or pvl file with all the information but not in the right format (I understand each resou

[2022-07-19 19:03] AustinSanders opened #5011 "tgocassisrdrgen documentation is incomplete"
**ISIS version(s) affected**: documentation

**Description**
tgocassisrdrgen documentation description is simply "SOMETHING."  This should be replaced with a description of the program.

**How to reproduce**
Visit the [documentation](https://isis.astrogeology.usgs.gov/Application/presentation/Tabbed/tgocassisrdrgen/tgocassisrdrgen.html)

**Possible Solution**

**Additional context**

[2022-07-19 19:10] shawn-brueshaber commented on #4768
Hi Jesse,

The details are a bit muddy.  From what I have gathered from MSSS, is they use an in-house software written by Mike Caplinger (?).  I think they visually adjust the limb in one of the framelets to the expected location based on SPICE kernels.   Of coruse, a limb needs to be visible to do so, and in this particular case, it is.  That being said, my contact at MSSS (Danny; dkrysak@msss.co

[2022-07-19 22:05] lwellerastro commented on #5010
Hi @Toldbo, I have some experience with isisminer, but not for producing stereo pairs, but I think getting you some information to start working will be helpful.

When I run caminfo for isisminer input I generate pvl files, one per image.  I have queried a databse in the past from within an isisminer config file, but it is not necessary and csv's are too messy particularly if you require more than

[2022-07-20 00:09] Toldbo commented on #5010
Thank you so much for taking your time to answer me :) I have 15 images that I know all observe the same crater (I hand picked them) and now I ran your suggested caminfo on them `"caminfo from=image.cub to=image.pvl isislabel=true geometry=true polygon=true polylinc=100 polysinc=100"` which results in 15 .pvl files. I collect these in a list (just a .txt. - is the format important?) and then run a

[2022-07-20 08:21] ndhverma commented on #5005
Hi,

I have first convert the Mini-RF data into cub using mr2isis command.
Then run the web spice command
![image](https://user-images.githubusercontent.com/43364419/179933727-e0cb7abf-c145-41a1-97c4-06725bfbac29.png)

[2022-07-20 14:11] jessemapel commented on #5005
It looks like this is being caused by #4930 I was able to ingest and then successfully spiceinit the image, but then if I ran it again it would fail. Looking at your terminal output it looks like it successfully ran at least once. Can you check that there is proper camera information attached by running the campt application on the image, just specify the image as `from`?

[2022-07-20 14:12] jessemapel commented on #4768
If you can just confirm that the correction was done to this image and that it is included in the kernels used by spiceinit. This error looks like normal a-priori pointing error to me.

[2022-07-20 14:33] #4817 closed, assigned to amystamile-usgs

[2022-07-20 14:35] jessemapel commented on #5010
@Toldbo can you share your isiminer config?

[2022-07-20 16:10] ladoramkershner commented on #4619
@astrostu

I think I agree, if I specify that "are not good" means that they are not accounting for these hot pixels we are seeing. And for some added context, the most recent version of the flatfiles were generated and released in the mrom_33 folder (they are released in every mrom, but 33 was the last update to the content of these files). I went and grabbed data from just before this time (mrom

[2022-07-20 16:25] astrostu commented on #3547
Since y'all are trying to clean up things before migrating, this is probably a good thing to still check.  @ladoramkershner, since you were recently under the MARCI hood, maybe you could look at this?

[2022-07-20 16:30] ladoramkershner commented on #4619
I think both of those are separate tickets. I could make the marci2isis ticket as I experienced a similar amount of "oh no" when I ingested some old cubes.

[2022-07-20 16:44] astrostu commented on #4619
I'll do something with MOCCAL later, trying to get a paper out first on the data that I could process.  If you could do the marci2isis one, that'd be great!

[2022-07-20 16:46] astrostu commented on #4619
And responding to the other point about the flats, that is really weird (to me) that they would not try to put hot pixels into the flats.  That's the only way to remove them unless they have it in the calibration elsewhere, but it sounds like they don't.

[2022-07-20 19:19] jessemapel commented on #4619
I remember some calibration programs having separate hot pixel correction that happens outside of flatfiles. I agree though, flat correction seems like the appropriate place to handle this.

[2022-07-20 19:22] jessemapel commented on #3547
Particularly with #4936 I think it's a good time to do this. If people want to still work with visually "nice" data they can use that tool to generate it. Removing the flipping option would greatly reduce the potential for bugs working with marci data.

This would be potentially API breaking and we need to decide if we will support data that has already been ingested and flipped.

[2022-07-20 20:30] ladoramkershner opened #5012 "marci2isis documentation to explain variable exposure duration"
**Description**
Currently, the following warning is output if you ingest  MRO MARCI data that does not contain multiple values for the "ExposureDuration" key.

[code]

As a more casual / beginner user of MARCI data this was confusing and slightly alarming. It made me wonder if I did something wrong to generate the warning.

I am assuming that the mission team changed the operational procedure of M

[2022-07-20 20:43] ladoramkershner commented on #4619
For the sake of completeness / closing the loop, the marci2isis warning issue is here #5012

[2022-07-20 20:57] Toldbo commented on #5010
Yes it is attached below :)

So two of the issues was that my list of pvl files was in mac format an not unix so it only read the first line, another problem was that I had not changed SourceProductId to ProductId.

With these out of the way, now running this config file results in 15 csv files for each ProductId but it doesn't contain more than one line (itself) and the MatchedProductId, OverlapR

[2022-07-20 21:01] ladoramkershner commented on #4619
Between the PR merge, flatfile updates, and our discussion surrounding the hot pixels is this ticket resolved? Don't want to close prematurely, but don't want to leave it hanging.

[2022-07-20 22:39] astrostu commented on #4619
Yes, I think it's resolved for now.  I suppose someone contacting the MARCI team to ask why flats are the way they are might be in order, but that's a separate issue since it seems like ISIS is applying correctly what's supplied.

[2022-07-20 22:39] #4619 closed, assigned to ladoramkershner

[2022-07-20 22:54] astrostu commented on #5012
A couple notes:

1) I haven't not encountered this warning before, but taking a look at the ISIS data (/mro/calibration/marci/varexp.tab), it looks like there are quite a lot of images where the team changed the exposure duration during the image acquisition process.  *I suggest testing one of those to make sure that this warning is NOT given in those cases.*

2) It also looks like that varexp.tab

[2022-07-20 23:44] jessemapel commented on #5012
My understanding of why the warning was added is that there is no way to know if an image has variable exposure or not from just the image. So, just in case the varexp.tab file is out-of-date we issue the warning.

I can confirm that it works correctly with images that have variable exposure duration.

I can also confirm that it's the most up to date. It's tricky to keep the file updated as it com

[2022-07-21 13:53] shawn-brueshaber commented on #4768
Yes.  Their correction was conducted on this image.  We (JPL) then processed the image via ISIS, which, of course, pulls in the spice kernels.  Are you asking if they (MSSS) used the same kernels to help do the limb fitting?

[2022-07-21 16:03] jessemapel commented on #4768
I'm interested in which kernels spiceinit used for the image. Can you post the kernel group from the image label?

[2022-07-21 16:10] shawn-brueshaber commented on #4768
Group = Kernels
    NaifFrameCode             = -61500
    LeapSecond                = $base/kernels/lsk/naif0012.tls
    TargetAttitudeShape       = $juno/kernels/pck/pck00010.tpc
    TargetPosition            = ($juno/kernels/tspk/jup363.bsp,
                                 $juno/kernels/tspk/de440s.bsp,
                                 $juno/kernels/tspk/juno_struct_v04.bsp)
    InstrumentPoin

[2022-07-21 18:09] ladoramkershner commented on #5012
Okay, I agree that the warning is reasonable. I changed the name to be more focused on the documentation side of things.

We could
1.) Update 'varexp' in the warning to a more specific 'varexp.tab in the mro data area'.
2.) Write an explanation for the reasoning behind this variable exposure duration in the marci2isis documentation and the [wiki](https://github.com/USGS-Astrogeology/ISIS3/wiki/Wor

[2022-07-21 18:36] astrostu commented on #4753
Probably good to *ping* on this to keep it alive.

[2022-07-21 18:38] jessemapel commented on #4753
Yep, still no confirmation on when ASC folks can get ARM macs.

[2022-07-21 19:53] #4705 closed, assigned to nobody

[2022-07-22 20:41] #5006 closed, assigned to nobody

[2022-08-01 19:06] KrisBecker opened #5019 "MacOSX 10.15 Googletest Link Issues Persist in 7.1.0_RC1"
**ISIS version(s) affected**: 7.1.0

**Description**
Unfortunately, the Googletest link issues reported in #4991 still exists in [7.1.0_RC1](https://github.com/USGS-Astrogeology/ISIS3/releases/tag/7.1.0_RC1). This is even after #4992 has been [merged into 7.1.0_RC1](https://github.com/USGS-Astrogeology/ISIS3/blob/838775123b468ed95b34c103e1ddbd99919af7d8/isis/CMakeLists.txt#L16-L18). I do not under

[2022-08-02 15:03] #4391 closed, assigned to nobody

[2022-08-02 16:29] lwellerastro commented on #4639
still in the works, I believe

[2022-08-02 18:21] jessemapel commented on #4639
@lwellerastro Yes, we're just waiting for Kris to have time to work on this.

[2022-08-02 19:37] KrisBecker commented on #5019
It appears this issue has been resolved with #5017 and #5020. The Google test libraries no longer exist in ISIS applications as a runtime library dependency.

I will go ahead and close this.

Thanks!

[2022-08-02 19:37] #5019 closed, assigned to nobody

[2022-08-02 20:01] jessemapel commented on #5019
Thanks for testing this @KrisBecker

[2022-08-03 17:08] AustinSanders commented on #4771
Still active.  To be resolved by #4772

[2022-08-04 09:10] ndhverma opened #5022 "ISIS version 4.4.0 having error on web spiceinit"
**ISIS version(s)

[](url) 4.4.0 # Public version number
2021-02-04 # Release date
stable # Release stage (alpha, beta, stable)
Hi,
I am processing the LRO biststic Mini-RF images.
The following are steps i am following
mrf2isis
spiceinit

but when running the spiceinit I am getting the following error

![image](https://user-images.githubusercontent.com/43364419/182809651-c5866e63-c4d5-4f2d-b086-9

[2022-08-04 13:19] jessemapel commented on #5022
Hi @ndhverma, please stop opening duplicate issues. We are aware of the issue you are encountering in #5005  and will look into it as our time allows

[2022-08-04 13:19] #5022 closed, assigned to nobody

[2022-08-04 19:36] lwellerastro opened #5023 "Jigsaw - spice rotation fit error when solving for accelerations for HRSC data"
**ISIS version(s) affected**: 7.0.0

**Description**
Jigsaw fails with the following error when attempting to solve for camera accelerations for a global Phobos HRSC dataset:

  Group = Error
    Program = jigsaw
    Class   = "PROGRAMMER ERROR"
    Code    = 3
    Message = "Unable to evaluate the derivative of the SPICE rotation fit
               polynomial for the given coefficient index [2].

[2022-08-05 19:16] lwellerastro commented on #3939
Perhaps this should be a new issue since this is an old post, but I get the following error while trying to use the nomenclature tool via isis7.0.0:

![Qview_NomenclatureToolError](https://user-images.githubusercontent.com/34550733/183145594-e2d2119f-b2d3-46c7-9a1a-8a5ae43b8cd0.png)

Not sure if this is an older, uncaught error or if this is new and due to the recent changes with our various web s

[2022-08-05 19:27] jlaura commented on #3939
Sent at 9:35 via email to all internal ASC personnel.

[2022-08-05 19:27] #3939 closed, assigned to acpaquette

[2022-08-07 15:03] #4553 closed, assigned to nobody

[2022-08-08 15:07] astrostu commented on #4777
*ping*

Obviously not mission-critical, but I think this is important moving forward with inclusivity.

[2022-08-08 16:32] KrisBecker opened #5024 "Problems with new ISISDATA downloadIsisData Utility"
**ISIS version(s) affected**: 7.1.0_RC1

**Description**
I have encountered what appears to be a bug when using the new ISISDATA data download utility, [downloadIsisData](https://github.com/USGS-Astrogeology/ISIS3/blob/7.1.0_RC1/isis/scripts/downloadIsisData).

## Downloading/Updating All ISISDATA
When running the [recommended command ](https://github.com/USGS-Astrogeology/ISIS3/tree/7.1.0_RC1#ful

[2022-08-08 17:00] Kelvinrr commented on #5024
@KrisBecker I caught these over the weekend as well. I fixed most of them and can get a PR in a little bit. I think they got through with the haphazard way that PR got merged during a release.

[2022-08-09 20:08] jlaura opened #5026 "isis.dist - rsync data - shutting down 11.30.22"
The servers running at isisdist, where the isisdata are being downloaded from are scheduled to be turned off 11.30.22.

This issue is to discuss anything related to that server being turned off. The new download scripts for ISIS data are available in the 7.1.0_RC1 release.

[2022-08-10 16:15] KrisBecker commented on #5026
Are there procedures/instructions for adding external contributions for new mission's (instrument) SPICE data using this new process?

[2022-08-10 20:03] michaelaye opened #5027 "downloadIsisData not in path after setting ISISROOT"
**Description**
After finishing the install of 7.0.0, and confirmed other ISIS apps like qview being in the path, I tried to use `downloadIsisData` but it was not in the path.
There is no other info in the instructions on how to obtain `downloadIsisData.py`.

**Suggested Edit**
Put sufficient info on where to get or find `downloadIsisData.py` into the installation instructions.

[2022-08-11 13:28] jlaura commented on #5027
This is a link to the current README: https://github.com/USGS-Astrogeology/ISIS3/#how-do-i-access-the-isisdata-download-script-with-isis-700-or-earlier

What additional information would you like to see?

[2022-08-11 13:53] michaelaye commented on #5027
* Isn't that in the wrong section? As this is the new download script, I was not looking in a section called "Installing older versions of ISIS".
* The language needs to be cleaned up, is it an application or a script, using both is confusing to the non-programmer that isn't aware that people throw this vocab around without consideration.
* I suggest a cross-link from the first time it is written

[2022-08-11 19:38] jessemapel opened #5029 "Issues with googletest conversion and test writing documentation"
This issue is for collecting problems with the googletest and test conversion documentation on the wiki:

https://github.com/USGS-Astrogeology/ISIS3/wiki/Writing-ISIS-Tests-Using-Gtest-and-Ctest

- [ ] After #4990 the section on how to handle logging needs to be updated
- [ ] The app conversion section should only cover how to convert to a callable and not further decompose the application as that

[2022-08-12 00:09] Kelvinrr commented on #5027
@michaelaye The fact that the script didn't show up is concerning, maybe an issue with how the library is packaged for anaconda as the install seems to work just fine locally. I'll look into it. The instructions that Jay linked are more about using an older version.

I agree that removing the .py might be a bit confusing. Although, I do prefer leaving it without the .py. Maybe we can update the do

[2022-08-12 00:18] jorichie commented on #3871
We can no longer load the SouthPole network on /scratch. It starts to load, but then it throws an error: killedprocess, and then it dies.  We get the same error whether we are working from home or the office. We need to figure out whether this is a IT problem or an ISIS problem and would appreciate your help. We access astrovm5 to load the network in qnet.

To recreate the error, please find the l

[2022-08-12 00:40] lwellerastro commented on #3871
I can confirm problems with qnet while it opens the list of images Janet indicated in her post.  The program doesn't even get to asking for a network to load and it dies while loading the images.

I am running isis7.0.0 and launched qnet from astrovm-lynn which is a special IT build I work on that was built to match astrovm5.  I was running from my work users area and the images in the list are al

[2022-08-12 02:18] jorichie commented on #3871
I can't activate conda on astrovm4.  I get command not found. Any clue why that would be? Ella also gets command not found.

[2022-08-12 02:24] jessemapel commented on #3871
It sounds like it is running out of memory while loading the network. I wonder if there's something wrong with the VM or scratch itself.

[2022-08-12 02:25] jessemapel commented on #5027
I think Michael download 7.0 which does not have the script in it.

[2022-08-12 10:09] michaelaye commented on #5027
that is correct, this was with isis7. so, how does one get ISISDATA in v7 then?

[2022-08-12 11:06] michaelaye commented on #5027
i just installed isis v6 and the script isn't in the path there either. (Linux)

[2022-08-12 11:10] michaelaye commented on #5027
Related question: the `rclone.conf` one receives via the link pointed to by Jay has 0 bytes size?
ah, and the curl command downloads the python script as html... harrrrrr
update: i guess because https://github.com/USGS-Astrogeology/ISIS3/raw/dev/isis/scripts/downloadIsisData.py actually 404s. :(

[2022-08-12 11:16] michaelaye commented on #5027
the curl command needs these options:
`curl -LJO ...`

[2022-08-12 18:13] lwellerastro commented on #3871
`I can't activate conda on astrovm4. I get command not found. Any clue why that would be? Ella also gets command not found.`

I don't know why that would be.  Maybe something about the version your were trying to use?
I copied your image list and network to my work users area and set conda to a recent version of isis and launched qnet:
[code]
I left before the network was fully loaded, but it did

[2022-08-12 18:53] jessemapel commented on #3871
Yeah the

[code]

failure indicates that the OS abruptly stopped the application for some reason. The most common cause for this is memory issues. Hopefully IT can get the VMs reset and good to use again.

[2022-08-12 18:55] lwellerastro commented on #3871
I put a ticket in for IT to have a look and see if they see unusual.  sinteractive on the cluster is a good alternative to use if astrovm4 has problems too.

[2022-08-12 21:41] jorichie commented on #3871
Lynn's sinteractive suggestion allows the proper loading of the network. IT plans to resolve "some stuck processes and excess memory consumption," on Aug. 13 at 5:00 PM. We are now able to run jobs and load qnet after the IT changes without having to use sinteractive.

[2022-08-15 15:46] Kelvinrr commented on #5027
@michaelaye 7.1RC_1 is the first version with the script. #5025 also fixes some issues that were in that version.

[2022-08-15 16:02] acpaquette commented on #4396
This is still active

[2022-08-15 17:09] lwellerastro commented on #4396
would be extremely useful for project work coming up.

[2022-08-15 21:28] nschorgh opened #5031 "Support for Ubuntu 22.04 LTS"
Any chance to update the ISIS installation to work with Ubuntu 22.04 LTS rather than 18.04 LTS?

(I had some library conflicts with 22.04 and 20.04, so can confirm that it doesn't already work with those.)

[2022-08-15 21:47] lwellerastro commented on #3871
@jorichie, if jigsaw still can't solve for accelerations for you network, you probably wan't to keep this post open.

[2022-08-15 21:53] foobarbecue commented on #5027
looks like https://github.com/USGS-Astrogeology/ISIS3/blob/dev/isis/scripts/downloadIsisData.py is a 404 because the .py was removed in 5e3f64f21ad98aaa05f517ba085b7d621c65a0ff , so https://github.com/USGS-Astrogeology/ISIS3/#how-do-i-access-the-isisdata-download-script-with-isis-700-or-earlier needs updating (maybe best to put a specific commit in the link)

[2022-08-15 22:03] foobarbecue commented on #5027
Also `python downloadIsisData.py sync <mission> $ISISDATA --config rclone.conf` is wrong. There doesn't seem to be a `sync` option.

[2022-08-16 15:15] blandoplanet commented on #4800
I'd like to keep this open. I agree with @AustinSanders that it may be an insignificant difference, but it's also possible it's hinting at a larger issue.

[2022-08-16 17:07] jessemapel commented on #4804
Not reproducing right now both on and off the VPN.

[2022-08-16 17:07] #4804 closed, assigned to nobody

[2022-08-16 17:26] jessemapel commented on #5031
I don't know if Ubuntu 22.04 is approved by the USGS for us to use yet. I'll look into what Ubuntu LTS versions we're allowed to use.

[2022-08-16 18:34] wterryf commented on #5027
I'm working with the 7.1 RC1 distribution and have had some success in working with the downloadIsisData command. I'm wondering if there is some way to pass other config options to the rclone command. In particular, we maintain our own repositories for some of the kernels for MRO and TGO, so our current rsync scripts use --exclude clauses to skip these during the downloads.

[2022-08-16 18:47] artmathgirl commented on #4800
Thanks for keeping it active. We'll keep an eye out for any updates!

[2022-08-16 20:44] jlaura commented on #5031
@jessemapel As we transition to using more AWS infrastructure, we can get access to an ubuntu 22.04 build machine, so I do not believe that that will be an issue. The win here for us is that the build machine is both ephemeral and inside our VPC, so the security concerns are minimal as far as I am away. The larger issue is probably the linked QT update (which would be great to see completed).

[2022-08-17 15:47] JohnVV opened #5033 "downloadIsisData.py"
**ISIS version(s) affected**: x.y.z
Version 6 i just updated today
**Description**
after fallowing the instructions for installing the script ( from the wiki ) i get the below error
when running the command i get this

**(isis) john@localhost:~/miniconda3/envs/isis> downloadIsisData.py base $ISISDATA**
/home/john/miniconda3/envs/isis/bin/downloadIsisData.py: line 7: syntax error near unexpected to

[2022-08-17 16:41] jessemapel commented on #5033
Hi, you will need to download the script directly from the repo. See #5027

We're updating the instructions currently, for now try these steps from @foobarbecue

[code]

[2022-08-17 18:12] lwellerastro commented on #4942
Hi - I continue to have problems with my data under isis7.1.0-RC1 while working with newly created kernels (spk in particular) based on my entire dataset.  I am getting the same SPICE(ZEROVECTOR) errors as described in my original post. Note that this is also the case when I set extra=newSPKkernel instead of spk=newSPKkernel.

I needed to reprocess all of my data to pick up the latest (and hopeful

[2022-08-17 18:23] jessemapel commented on #4942
You shouldn't need to re-process your imagery. The camera model was updated, but not the parts that are persisted on Cube files, just some hard-coded labels that ckwriter and spkwriter look at. So, your processing should be correct. There could be multiple problems here and we only fixed one of them.

[2022-08-17 18:29] KrisBecker opened #5034 "ctest failures on MacOSX 10.15"
**ISIS version(s) affected**: dev

**Description**
There are a rather significant number of tests failing on my Mac after a successful build of the current `dev` branch. I am getting 115 (~5%) of the 2490 tests failing. Some of them look concerning.

I have updated both the ISISTESTDATA and ISISDATA (via rsync) data areas. I see three new files in ISISTESTDATA that look to be extraneous to the act

[2022-08-17 18:42] lwellerastro commented on #4942
Well, there might be something to doing everything under 7.1 because I repeated the single image test (ingest, spice, create kernel, apply new kernel to newly ingested image, campt) and it works without error. Camera information matches between ingested/spice and ingested/spice w/new kernel as well.

[2022-08-17 19:19] jessemapel commented on #4942
it sounds like there may be some bad ephmerides on the images somehow. Very strange.

[2022-08-17 19:22] lwellerastro commented on #4942
Defaulting via spiceinit, but that is followed by a "direct" single location deltack then bundle, but I'm not sure that plays into it at all.

[2022-08-17 20:04] acpaquette commented on #5034
@KrisBecker Can you run `conda list ale` and give the version of ALE that you built with? This could easily be from a recent ALE release that was not properly tested against ISIS.

And yes, due to changes internal to the USGS getting proper nightly builds for mac has been delayed but should be remedied soon.

[2022-08-17 20:21] KrisBecker commented on #5034
Here is the complete package list:

[code]

[2022-08-17 20:21] Kelvinrr commented on #5034
@KrisBecker  Yeah, i've been aware of these recently but have not had the time to really look into them. We might not be able to really look at these until the next support sprint. Some might be data related but the missing keyword stuff doesn't make sense in light of recent changes.

These are also on Linux so they're not necessarily mac specific. New AWS Jenkins is being setup which will replace

[2022-08-17 21:38] jessemapel commented on #4916
We're seeing this error here:

https://astrodiscuss.usgs.gov/t/problems-while-installing-isis/

[2022-08-17 21:42] lwellerastro commented on #4942
This appears to be a problem specifically with the jigsaw updated images.

I tested using a single deltack'd image (input into jigsaw):
- created ck and spk kernels for image
- applied the new kernels to an ingested image
- campt works and output matches the deltack image which kernels were based upon

Tested using a jigsaw output updated image:
- created ck and spk kernels for image
- applied the

[2022-08-17 21:46] jessemapel commented on #4942
If it doesn't take very long that would be fine, but I don't expect things to just be fixed in 7.1. I think narrowing it down to jigsaw gives us plenty to go off of.

[2022-08-17 23:44] KrisBecker commented on #5034
[This commit](https://github.com/acpaquette/ISIS3/commit/ed88d0e317c84f1160ef6a53e5bf92834572d25b#diff-27b0f83a7171088cdbbe3629a28dbd0f3fdcc1a86a6e7e43c15f20cf1dd5f35f) on August 3 seems to be the culprit for, at least, the camera (like ctest no. 58) and potentially the projection errors.

What concerns me greatly is it seems to have severely broken backward compatibility of Cameras (and projectio

[2022-08-18 02:48] rvwagner opened #5035 "Output of "shadow" program drifts as DTM resolution changes."
**ISIS version(s) affected**: 3.10.2, 7.0

**Description**
As you reduce the scale of the input DTM put into the shadow program, the position of features in the output drifts away from being aligned to the DTM. They even drift relative to null pixels copied in from the DTM, so it doesn't seem to be a simple misalignment of the input cubes.

I suspect that the cause of this error is simply that the

[2022-08-18 06:33] luoflu commented on #4916
I don't download the data needed for spiceinit locally, as it is so large that it always interrupted while downloading. That is, I can only use spiceinit with web=yes. Attached is the output for echo $ISISDATA.
![RPL%0ST{2RYGU7B6B81QF%F](https://user-images.githubusercontent.com/103924277/185310201-8c96a398-4007-44fc-8509-0565c3dbc4f5.png)

[2022-08-18 06:33] luoflu commented on #4916
I've tried running the command lines you listed which contained in the mocproc program, and they worked well except that I skipped the mocnoise50 as the image I'm  working with is Wide Angle image. Maybe I should run those command lines instead of mocproc directly.

[2022-08-18 12:34] jlaura commented on #5034
To help address the is this API breaking question, here is the [definition of what is consider in scope for the API](https://github.com/USGS-Astrogeology/ISIS3/blob/dev/APIdefinition.md).

[2022-08-18 14:25] KrisBecker commented on #5034
FYI, here is the ctest results for 7.1.0_RC that I installed and built on July 29 using the same ISISTESTDATA and ISISDATA:

[code]

[2022-08-18 15:33] Kelvinrr commented on #5035
We can probably look into this as part in the coming days as part of the LROC work. Another possibility is the reduction app might be pulling the pixels towards the origin on the image, although like you said that by itself wouldn't explain the null pixels moving as well.

[2022-08-18 17:14] rvwagner commented on #5035
I’m pretty sure it’s shadow that’s causing the issue. The reduced cubes (left panel of animation) show no sign of drifting, at least not by more than a fractional pixel. Also, I originally spotted this bug after using map2map to downsample the DTM, and got the same pattern of non-offset reduced DTM and significantly offset shadow image.

[2022-08-18 20:29] acpaquette commented on #4813
This is still an issue

[2022-08-18 21:18] lwellerastro opened #5036 "Errors for MEX HRSC images using DSK shape model and isis ray tracing engine"
**ISIS version(s) affected**: isis7.1.0-RC1

**Description**
Programs such as camstats, caminfo, qview throw errors for MEX HRSC images initialized with DSK shapemodel:

[code]
I do not encounter these problems under this version when working with MEX SRC DSK initialized images (same DSK as HRSC and using isis ray tracing).

**How to reproduce**
An image is available under my user work area /Isis3

[2022-08-18 22:50] Kelvinrr commented on #5035
I think to replicate this we need the shape model cube /ser/geodata/basemaps/MOON/Lunar_topography/LOLA/March2013/LDEM_75S_30M.demprep.cub that these were prepared with.

[2022-08-18 22:55] rvwagner commented on #5035
Whoops.  That file's obnoxiously large, so how about just switching back to the built-in shapemodel?  The result of the above demo code stays the same after doing this:

`editlab grpn=Kernels keyw=Shapemodel value='$base/dems/ldem_128ppd_Mar2011_clon180_radius_pad.cub' from=M1146718551L.shift.cub`

[2022-08-19 16:08] Kelvinrr commented on #5024
@KrisBecker Do you want to try redownloading using the instructions at the bottom of dev's readme?

[2022-08-20 15:03] #4604 closed, assigned to nobody

[2022-08-22 17:54] mikebramble opened #5038 "'galileo' missing from list of supported missions"
**ISIS version(s) affected**: 7.1.0

**Description**
I'm attempting to install the Mission Specific Data Download for the Galileo mission and I receive a warning that 'galileo' is not found in the list of supported missions.

Error report:
[code]

As with issues #5024, #5027, and #5033, I was having an issue with the missing downloadIsisData utility. I updated to the release candidate which fixed

[2022-08-23 14:19] xwc2016 opened #5040 "How to start a new mission in ISIS3?"
We use Github issues solely for discussing bugs, documentation issues, and new features.

For
questions about using ISIS or other ASC software, please use
any of the support alternatives: https://astrodiscuss.usgs.gov or https://gitter.im/USGS-Astrogeology/IAA

A great resource about asking high quality questions that generate high quality answers is available from the StackOverflow community: [Ho

[2022-08-23 14:32] jessemapel commented on #5040
Hi, we you will need to provide more information about what you are trying to do for us to help you. It sounds like you want to open an enhancement request to add a new mission. Please open a new issue with that template.

[2022-08-23 14:32] #5040 closed, assigned to nobody

[2022-08-23 16:57] cfassett commented on #5026
Does the new download procedure include a "skip kernels" option?  Not seeing one...

[2022-08-23 17:09] jessemapel commented on #5026
@cfassett I don't think so but that would be a good addition

[2022-08-23 17:19] jlaura commented on #5040
@xwc2016 Feel free to email me at jlaura@usgs.gov if you are part of a mission team and looking to have your mission supported.

[2022-08-23 17:26] jlaura commented on #5026
@KrisBecker I do not believe instructions are up for modifying the download script to point at new locations for kernels. Looking at [rclone.conf](https://github.com/USGS-Astrogeology/ISIS3/blob/dev/isis/config/rclone.conf), adding new kernel sources looks to be as simple as adding an entry to that file. That file is making use of aliases, so the `naif` entry is then used as `naif:` for pulling ke

[2022-08-23 17:51] Kelvinrr commented on #5038
I've updated internally, I'll probably have a PR before the end of the week if everything goes well. Also noticed `lo` and `mer` were missed somehow too so those will be included.

[2022-08-23 22:51] Kelvinrr commented on #5035
Looks like the gist of the issue is has to do with `Hillshade`'s buffer at the edge of the image going off the image and becoming `null`s which create a final pixel value of LRS. The buffer is also shifted by +1 in both the line/sample direction. Im like half way through finding a good solution as the buffer object is passed though 3 different classes.

[2022-08-24 16:50] wterryf opened #5041 "kernels downloaded with downloadIsisData out of date?"
**ISIS version(s) affected**: 7.1.0_RC1

**Description**
multiple mission kernels obtained with downloadIsisData seem to be out of date with respect to those downloaded via the current rsync method.

**How to reproduce**
download data with downloadIsisData and with rsync and compare the files.

**Possible Solution**

**Additional context**
As one example, the most recent LRO CK moc42 kernel is fro

[2022-08-24 18:37] Kelvinrr commented on #5026
@jlaura That's correct. You just need to append to the config with the URL. I can write those docs once I get a few other things off my plate this week.

@cfassett we can add an ignore kernels option if you want to open an issue about it describing exactly what you want. The work around for now is to use rclone directly similar how one would use rsync. That config file is really just an rclone con

[2022-08-24 18:40] jessemapel commented on #5026
rclone appears to have a similar option to the rsync --exclude option:

https://rclone.org/filtering/

[2022-08-24 19:34] acpaquette commented on #5034
@KrisBecker I have a fix for the failures that are related to the BODY_FRAME_CODE, but the other change that impacted many tests was changing the precision that we read doubles in from json files. Many of our gtests are showing a change in values of about e-6 which makes sense as the original precision of doubles being read in from json was a precision of 6.

The original behavior was likely incor

[2022-08-24 20:10] KrisBecker commented on #5024
@Kelvinrr I downloaded the script and the rclone.conf files as described at the bottom of dev/README.md. There are a few issues that remain. (Note I am using python 3.9.13.)

There appears to be two sources for each dataset to download kernels from - one from the mission SPICE archive source (sometimes NAIF) and then the USGS ISIS data. When running the script for a particular mission, say `messen

[2022-08-24 21:00] Kelvinrr commented on #5041
hmmm, the isis_data store we use internally (updated nightly using the same script) seems to contain both.

[code]

I can try lro with a fresh download and see if I can replicate. It maybe possible something is being clobbered on a fresh download.

[2022-08-24 22:57] KrisBecker commented on #5026
@jlaura after working with the download script and config in #5024, I have concerns.

There is no apparent way to specify select files or patterns of kernel file names to minimize the download size. Hopefully that can be added/worked out.

ASC ISIS data directories contain kernel DB config files, IAK kernels, scripts to create/update the kernel DB files and calibration data. It may be difficult to

[2022-08-25 12:58] jlaura commented on #5026
@KrisBecker Thanks for your concerns.

Missions will in fact have to work with the ASC in order to keep the generation of ancillary files (IAKs, DB configs, etc.) in sync. The mission is the repository of record for their SPICE (until they deliver to NAIF). In order for the SPICE to be usable in ISIS, we will need coordination.

When SPICE data updates, tests need to update. This is neither new no

[2022-08-25 14:29] KrisBecker commented on #5026
I have a suggestion that may make this easier.

Create in each mission directory a `$ISISROOT/src/<mission>/config/kernels` directory that contains SPICE installation details. We put a rclone.conf (or whatever, I prefer a JSON config) in this directory that contains all the information necessary to install a full up mission SPICE data area. This would include all those things I mentioned previousl

[2022-08-25 15:53] Kelvinrr commented on #5024
@KrisBecker on the data being deleted that's definitely a bug. The public data should be much larger than the usgs data which is why it ends up being really small at the end when one gets clobbered for the other. The intent would be to do sync a union of the two. It should be an easy fix.

You can add two v's in order to get debug output with the URLs:

[code]

I'll add a help string to include th

[2022-08-25 15:58] jlaura commented on #5026
@KrisBecker Sounds like a great idea to post as an RFC or an enhancement so that others can discuss outside this announcement about the rsync server shutting down.

[2022-08-25 16:50] KrisBecker commented on #5024
@Kelvinrr please do not do a union of the NAIF SPICE archive and ISIS data. This creates an absolutely unnecessary burden on users. If anything, an intersection of the two would be sufficient. But even downloading the SPICE archive at this point does not add anything that is not already in the ISIS data. The kernel maintenance scripts are designed to download from the SPICE archive any kernel vers

[2022-08-25 18:19] Kelvinrr commented on #5024
@KrisBecker I think downloading everything and using the kerneldb's to control what ISIS actually uses when spiceiniting and having the rest of the kernels available is fine as test failures right now seem mostly from things missing not things being there that shouldn't. I see your point about unused kernels, so I don't think it's unreasonable to create whitelists for kernels based on the kerneled

[2022-08-25 20:12] KrisBecker commented on #5024
I recommend you disable the SPICE archive download for all missions. Then add a parameter, e.g., `--archive-only`, that will explicitly invoke that download. I can see this option may be potentially useful to help determine kernels that apply in the ISIS environment for configuration purposes. Otherwise, there is not always direct correspondence with the SPICE archive and ISIS data directories.

F

[2022-08-25 20:39] KrisBecker commented on #5024
No - generally applicable to all public SPICE kernel archives produced by missions (not just instrument teams).

[2022-08-25 20:49] jlaura commented on #5024
To be really explicit here: USGS is no longer able to be the repository of record for these SPICE kernels for the community. We will continue to be the repository of record for those kernels which we produce (e.g., smithed THEMIS kernels). For all other kernels, we will be providing a mechanism to download kernels from a publicly available source. If that source is making 400GB of kernels availabl

[2022-08-25 23:55] Kelvinrr commented on #5026
@cfassett  https://github.com/USGS-Astrogeology/ISIS3/pull/5042 should add the ability to pass in arbitrary rclone flags to append to the standard flags. This includes filter flags and such.

[2022-08-26 23:06] wterryf commented on #5041
There is one other oddity, I get this error during TGO downloads:

ERROR : kernels/fk/kernels.0003.db/kernels.0003.db: Failed to copy: mkdir /data/isis3data/tgo/kernels/fk/kernels.0003.db: not a directory.

That file is definitely not a directory, there must be something odd on the remote side.

[2022-08-29 05:30] ldx119 opened #5044 "Expecting as many mapprojected images as cameras, and also a DEM"
**ISIS version(s) affected**: x.y.z
ISIS version 7.0.0
**Description**

I want to run bundle_adjust for the some images with 'mapprojected-data' .  Here is my workflow command which are followed by the tutorial of '12.8 SfS with big illumination changes and comparison with LOLA':
(1) parallel_stereo A_crop_sub4.cub B_crop_sub4.cub
run_stereo_noba_sub4/run --subpixel-mode 3
(2)point2dem --stereogra

[2022-08-29 16:19] jessemapel commented on #5044
This looks like an ASP error and not an issue with ISIS.

Glancing at your log it looks like you passed in A_crop_sub4.noba.tif instead of A_crop_sub4.noba.cub

bundle_adjust **A_crop_sub4.noba.tif** B_crop_sub4.cub C_crop_sub4.cub D_crop_sub4.cub --mapprojected-data "A_crop_sub4.noba.tif B_crop_sub4.noba.tif C_crop_sub4.noba.tif D_crop_sub4.noba.tif run_stereo_noba_sub4/run-DEM.tif" --num-iterati

[2022-08-29 16:19] jessemapel commented on #5044
Closing as not an ISIS issue, feel free to keep discussing it here if you would like though. Ross and Oleg sometimes watch the ISIS issues, but you'll get better traction on their support methods.

[2022-08-29 16:19] #5044 closed, assigned to nobody

[2022-08-29 16:20] #4814 closed, assigned to nobody

[2022-08-30 00:39] ldx119 commented on #5044
Thanks , jessemaple . I change from the A_crop_sub4.noba.tif to A_crop_sub4.noba.cub , it runs well .

[2022-08-30 01:08] ldx119 commented on #5044
Sorry  jessemaple ，I would like to ask a question about the latest version 0.8.7 ale  compilation by the way . I follow the step by the 'https://github.com/USGS-Astrogeology/ale' of Buliding Ale . However , it  appears some problem in the last step which is '
<img width="365" alt="error-when-make" src="https://user-images.githubusercontent.com/100507049/187324085-cea1d8fd-55de-4109-91b1-0dd657cd46

[2022-08-30 13:43] jessemapel commented on #5044
It looks like you need to initialize the gtest sub-module. Run `git submodule update --init --recursive` and then re-run cmake and build.

You can also build it without tests by setting `ALE_BUILD_TESTS=OFF` at the cmake step. So, it would be `cmake -DALE_BUILD_TESTS=OFF ../`

[2022-08-30 14:06] KrisBecker commented on #5026
How will the ISIS kernel DB files be maintained, mainly for CK and SPK kernel data sets, as some kernel sources may be updated?

[2022-08-30 14:45] Kelvinrr commented on #5041
@wterryf Nothing odd looking at the remote right now. Can you send me the command you used?

also, I believe #5042 might fix your other kernel issue. After that's merged I can send download instructions.

[2022-08-30 14:50] Kelvinrr commented on #5041
try redownloading the new scripts and config with:

[code]

[2022-08-30 16:04] KrisBecker commented on #5024
Can you clarify what the contents of the USGS kernel sources will be after USGS discontinues hosting kernels?

Comments in this thread and #5026 indicate that at the end of November 2022, the complete content of all ISISDATA areas will be scrubbed of all SPICE kernels. It appears that the only files that will exist on the AWS servers will be the configuration files and all kernels will come from a

[2022-08-30 16:11] Kelvinrr commented on #5038
closed by https://github.com/USGS-Astrogeology/ISIS3/pull/5042

To can get the new script from dev:

[code]

feel free to reopen if you still are having issues.

[2022-08-30 16:11] #5038 closed, assigned to nobody

[2022-08-30 16:36] lwellerastro commented on #5026
@jlaura, @jessemapel, will Astro internal users be affected by the isisdist server being shut down or is this purely an external thing? I'm in the dark in regard to the these changes and thought it was best to ask.  Thanks.

[2022-08-30 17:26] jessemapel commented on #5026
This shouldn't have an impact on internal folks. We will still have the data on systems in the building. We're also working on mountable cloud buckets and systems that have an "internal" setup of the data area for us to use.

[2022-08-30 17:29] mikebramble commented on #5038
I believe the issue still persists but now it is because 'galileo' is spelled incorrectly in the 'list of supported missions'.

I get an error that returns the following as part of the error message:
`LookupError: galileo is not in the list of supported missions: dict_keys(['apollo15', 'apollo16', 'apollo17', 'base', 'cassini', 'chandrayaan1', 'clementine1', 'control', 'dawn', 'gallileo', 'hayabus

[2022-08-30 17:41] mikebramble opened #5045 "'galileo' spelled incorrectly on the list of supported missions"
**ISIS version(s) affected**: 7.1.0

**Description**
This issue builds off of troubleshooting for Issue #5038. I am unable to install the galileo mission data using DownloadIsisData. Previously this is because galileo was accidentally dropped from the list of supported missions. Now it appears to be because 'galileo' spelled incorrectly on the list of supported missions

**How to reproduce**
Runni

[2022-08-30 18:24] Toldbo commented on #3430
Hello
I encounter this error again today in 2022. I have not changed the stereo.default (I don't provide one in the call). I have ISIS=6.0.0. and asp=3.1.0. It works on my other mac. The only other error I see along the way is this when running spiceinit i get a warning: Execution of PAC script at "http://wpad/wpad.dat" failed: The operation couldn’t be completed. (NSURLErrorDomain error -1003.)

[2022-08-30 18:35] oleg-alexandrov commented on #3430
You can try the workaround suggested at https://github.com/NeoGeographyToolkit/StereoPipeline/issues/275, which is setting in a shell before starting ASP the values:

export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8

Note that this is no longer necessary in the daily build of ASP, as these are now set for you. That build can be found at the top of  https://github.com/NeoGeographyToolkit/StereoPip

[2022-08-30 21:56] wterryf commented on #5041
OK, I'm running the new downloadIsisData script with the command:

downloadIsisData lro /tmp

It looks like it's going to take several more hours to run, I can let you know later how it comes out.

[2022-08-31 01:43] Kelvinrr commented on #5035
![shadow](https://user-images.githubusercontent.com/13245976/187574108-af6d1159-f8fe-4b34-a76b-69b7a90ce2c2.gif)

I think I got it, the window for computing the shadow was shifted over one pixel from the center of the DN. Then inside the window the origin was shifted one pixel.  I can get a PR up in a bit.

[2022-08-31 01:44] Kelvinrr commented on #5035
I think I got it, the window for computing the DN was shifted one pixel. Inside that window, the origin was further shifted one pixel.

![shadow](https://user-images.githubusercontent.com/13245976/187575421-03dfc4c0-4891-49f1-8fc1-52bc7e498ea5.gif)

[2022-08-31 14:49] ldx119 commented on #5044
Thanks very much for your advice .  I have chosen the second command build without tests. I have built target ale successfully .
However ,  I want to use csm camera models , and then create ".json"  files use the script named gen_json.py .
Firstly , I use the command "isd_dict=load"(/home/ldx/StereoPipeline-3.1.1-alpha-2022-07-22-x86_64-Linux/examples/LRO/WAC_Original_Image/M119923055ME)" and ''is

[2022-08-31 15:54] wterryf commented on #5041
OK, this took quite a while for the initial copy, but it looked like it worked, so that's great! Subsequent update runs go through quite quickly.

I also noticed the kwargs inclusion in the new version of the script and was able to pass some rclone exclude clauses from on end of the command line to exclude certain SPICE kernel directories.

So, I think this fixes all the issues I had with the down

[2022-08-31 16:51] jlaura commented on #5041
@wterryf Thanks for being one of the first users/tester external to the dev group on this! We appreciate you taking the time to test this, open the issue, and iterate with us!

[2022-08-31 17:21] Kelvinrr commented on #5045
This is what happens when a lot of changes go into something on a short period of time. Should be taken care of now.

[2022-08-31 17:21] #5045 closed, assigned to nobody

[2022-08-31 17:25] Kelvinrr commented on #5041
@wterryf good to hear the changes worked!

[2022-08-31 17:25] #5041 closed, assigned to nobody

[2022-09-01 15:11] Kelvinrr commented on #5033
@JohnVV Any follow up on this? There have been a few changes since this opened.e Try redownloading it using Jesse's example and trying again.

[2022-09-08 17:44] ladoramkershner commented on #4831
Still relevant

[2022-09-08 20:07] Toldbo commented on #3430
Thank you that solved it.

[2022-09-08 21:28] AustinSanders commented on #3955
[This](https://github.com/motine/cppstylelineup) repo provides a good comparison of cpp programming styles and links to the specs for each style.

Some styles (at least LLVM) are pretty relaxed with respect to things like brace placement / indentation, and mostly leave those things to the individual project while providing frameworks of best practices that support maintainability / readability etc

[2022-09-11 23:18] #4917 closed, assigned to amystamile-usgs

[2022-09-14 15:17] jessemapel commented on #4830
Still important

[2022-09-14 15:18] jessemapel commented on #4832
This is still very helpful documentation would be good to have

[2022-09-14 15:19] jessemapel commented on #4854
These are still broken

[2022-09-14 15:19] jessemapel commented on #4857
Still an issue

[2022-09-14 15:20] jessemapel commented on #4858
There are several keywords that simply not used and there needs to be more documentation on how different ray tracing models can be selected and switched between.

[2022-09-14 19:08] jessemapel commented on #4858
There is some good information here:

https://astrodiscuss.usgs.gov/t/how-to-properly-use-the-bullet-ray-tracing-engine/854/6

[2022-09-14 21:26] #4718 closed, assigned to scsides

[2022-09-14 23:51] kbowley-asu commented on #5026
I'm working on trying to update our nightly jobs that sync data from using the rsync server to using the new rclone based system, and noticed that symlinks are now being transferred as complete files, which ends up using more space.  And specific example of this is base/dems/.  The version on the rsync server takes up about 7G, but the expanded version when using downloadIsisData takes up 20G.

[2022-09-15 17:48] lwellerastro opened #5049 "Phobos kernels no longer available"
**ISIS version(s) affected**: isis7.1.0-RC1

**Description**
What worked yesterday no longer works today.  After ingestion, spicing a Phobos SRC image results in the following:

[code]

**How to reproduce**
Run spiceinit (all defaults) on Phobos SRC image.
See my work users area Isis3Tests/MEX_SRC/tmp for a file and failure.

Spicinit also fails on Phobos HRSC images.

There is an SRC (H0715_0004_

[2022-09-15 22:22] kbowley-asu commented on #5026
I've also noticed that some of the datasets will transfer everything ever time you run downloadIsisData rather than just grabbing updates.  This is a TON of wasted time and bandwidth.  We had a nightly cronjob that rsynced the data areas that only pulled over new data, but the new method takes most of the day to retransfer data that has already been downloaded.

[2022-09-19 00:49] #4920 closed, assigned to nobody

[2022-09-19 07:03] lucifer1004 commented on #4556
@jessemapel I ran into this issue again (tried to spiceinit Dawn VIR data but failed, both locally or from web), with ISIS 7.0.0

I have downloaded the latest `base` and `dawn` kernels.

When trying to spiceinit locally, the printed output was

[code]

And when trying to spiceinit from web, the printed output was

[code]

[2022-09-19 15:48] Kelvinrr commented on #5049
Should be fixed. Check again when you get the chance.

[2022-09-19 15:48] Kelvinrr commented on #5035
Fixed with #5047

[2022-09-19 15:48] #5035 closed, assigned to nobody

[2022-09-19 16:14] Kelvinrr commented on #5024
@KrisBecker The short answer is that the USGS stores will only have things that are not in other hosted areas (naif, ESA, etc.). So it'll still have kernels that we publish (e.g. smithed kernels) and stuff that's difficult to get elsewhere that it's easier to just host (some random kernels and data here and there).

[2022-09-19 16:53] jessemapel commented on #4845
I've updated the release schedule and added a step to the release process to update that page each release.

[2022-09-19 16:53] #4845 closed, assigned to jessemapel

[2022-09-19 17:34] jessemapel commented on #4556
Can you share the contents of `Data/ISIS/dawn/kernels/pck`? I'm looking into the spice server right now. We recently did a cut-over internally and something may have gotten jumbled there.

[2022-09-19 18:25] lwellerastro commented on #5049
@Kelvinrr, I'm getting a similar, but different error (ik above, iak now):

    Message = "No existing files found with a numerical version matching
               [kernels.????.db] in
               [/usgs/cpkgs/isis3/isis_data/mex/kernels/iak]"

This is the problem:
 ls /usgs/cpkgs/isis3/isis_data/mex/kernels/iak
ls: cannot access /usgs/cpkgs/isis3/isis_data/mex/kernels/iak: No such file or dire

[2022-09-19 18:35] Kelvinrr commented on #5026
@kbowley-asu It shouldn't redownload, which mission is being redownloaded? Maybe there is an issue where timestamps are being updated despite data not chaining.

[2022-09-19 20:11] kbowley-asu commented on #5026
@Kelvinrr one example I've noticed is cassini.  Now that I'm looking at it, it appears to be any mission that grabs data from two locations. I'm wondering if this is related to issue #5024

[2022-09-19 21:15] Kelvinrr commented on #5049
I was able to solve the problem. The second comment by Lynn was the iak being ignored by the command I used because of the path being butchered before being fed into rsync.

[2022-09-19 21:15] #5049 closed, assigned to nobody

[2022-09-19 21:36] Kelvinrr commented on #5036
I wasn't able to reproduce so I think this was solved along with #5049

re-open if it continues to be a problem.

[2022-09-19 21:49] lwellerastro commented on #5036
This problem preceded the new data area and has nothing to do with #5049 post. The failure in the original post still exists.

In order to reproduce properly you must use the isis ray tracing engine for every program.  If bullet is turned on it will work.

Isis ray tracing works in isis7.0.0, but not under 7.1.0-RC1.  I think changes made for SRC either via #4803 or more likely #4943 didn't accoun

[2022-09-19 22:37] Kelvinrr commented on #5026
@kbowley-asu trying adding the `--update` flag, might need to specify the behavior explicitly to rclone. Even with redundancies between sources (aware of it, need to remove some of the redundancy), if the files are identical or the timestamp is older it should not re-download.

[2022-09-19 23:08] kbowley-asu commented on #5026
@Kelvinrr that does seem to help when I told it to sync cassini, but when doing an 'all' run, it looks like it's working on syncing over 30G of messenger data.  I'll do a couple runs with the --update flag and see if it get's any better.

[2022-09-19 23:42] lucifer1004 commented on #4556
There are only two files: `kernels.0001.db` and `kernels.0002.db`.

[code]

[2022-09-20 15:32] jessemapel commented on #4185
This is still important we need to get this in line with our new disclaimer phrasing.

[2022-09-20 15:55] Kelvinrr commented on #5026
@kbowley-asu alright, if it ends up helping we make that flag on by default.

[2022-09-20 17:00] kbowley-asu commented on #5026
I'm currently testing taking out the --progress option so it can be tossed in to a daily cronjob without generating useless output, and removing the --track-rename that does nothing but generate error messages since it's not valid with a local filesystem.

[2022-09-20 19:50] Kelvinrr commented on #5026
+1 on the --progress flag being removed by default. It's nice when on a local terminal but we have a similar issue with our crons. Since arbitrary rclone kwargs can be passed in now, it doesn't need to be on by default. I can include that in whatever PR comes out out of figuring out these redundant data downloads.

[2022-09-21 02:46] lucifer1004 commented on #4556
@jessemapel Any updates?

[2022-09-21 14:48] jessemapel commented on #4556
I still working on figuring out what's happened here. I'm currently in the middle of getting the 7.1 release finished.

[2022-09-21 19:29] #5000 closed, assigned to jessemapel

[2022-09-21 23:40] jessemapel commented on #4556
@lucifer1004 I just re-downloaded the dawn area with the latest version of the script and it pulled all the correct kernels down. Can you download the latest script from here: https://raw.githubusercontent.com/USGS-Astrogeology/ISIS3/dev/isis/scripts/downloadIsisData

and then download the dawn pck kernels again with

`downloadIsisData --include="pcl/**"  dawn $ISISDATA`

[2022-09-22 00:13] lucifer1004 commented on #4556
Using the latest download script, I managed to download all the kernels. Now both local and web yielded the camera error:

[code]

[2022-09-22 00:22] lucifer1004 commented on #4556
Seems this is a data-specific issue. The above error occurred when I worked on `20110929_HAMO/20110929_CYCLE1/VIR_VIS_1B_1_370617178_3`. I just tried `20111212_LAMO/20120107_CYCLE5/VIR_VIS_1B_1_379294594_3` and `spiceinit` succeeded.

[2022-09-22 00:24] lucifer1004 commented on #4556
My bad, there was some HK issue when I did `dawnvir2isis` on `VIR_VIS_1B_1_370617178_3`. I regenerated the `.cub` file again and now the issue is fixed.

[2022-09-22 00:26] lucifer1004 commented on #4556
`dawnvir2isis` supposes the HK data to be named as `VIR_VIS_1B_1_370617178_3_HK.LBL`, while in the downloaded DAWN data, they were named as `VIR_VIS_1B_1_370617178_HK_3.LBL`. So we need to use the `hkfrom` option to manually input the name of the HK data. Otherwise, the `.cub` file can be generated but has no HK data in it, which causes the error above.

[2022-09-22 00:26] lucifer1004 commented on #4556
Thank you @jessemapel , my problem has been sovled!

[2022-09-22 00:29] lucifer1004 commented on #4556
Still, the web server cannot initialize the camera. So maybe there is something more to investigate.

[2022-09-22 12:39] jlaura commented on #4556
@Kelvinrr I just want to bump this for you to see. Perhaps we have to do something on the spice server side for these data? Do we need to perform some kernel renaming or aliasing?

[2022-09-22 14:44] jessemapel commented on #4556
I need to check, but I don't know if Dawn VIR is supported by the web service because the camera model requires the housekeeping table data. I'll take a little more of a look.

I don't think this is a kernel data issue on the web server.

[2022-09-22 19:40] lwellerastro opened #5053 "Unable to spiceinit Kaguya TC data using new data area"
**ISIS version(s) affected** :isis7.0.0

**Description**
Errors are thrown by spiceinit for Kaguya TC images that have previously succeeded.  I believe this is due to changes made to the new isis data area

**How to reproduce**
spiceinit from=TC1S2B0_01_05568S715E1334.cub

Error                     = "No pointing available at requested time
                                 [284580999.02509] for fr

[2022-09-22 20:59] criggall opened #5054 "spiceinit error with Galileo data"
**ISIS version(s) affected**: 7.0.0

**Description**
Running spiceinit locally, having downloaded both the base and Galileo ISIS datasets, results in the following error:
`Spice file does not exist [$ISISDATA/galileo/kernels/spk/s000131a.bsp]`
After downloading the s000131a.bsp file from here: [Index of /pub/naif/GLL/kernels/spk](https://naif.jpl.nasa.gov/pub/naif/GLL/kernels/spk/), the following

[2022-09-22 21:02] jessemapel commented on #4556
It appears the DAWN VIR and ROSETTA VIRTIS camera models are not compatible with the SPICE web service because of how they have to load the mirror pointing data.

[2022-09-22 21:08] lwellerastro commented on #5054
Please also refer back to this astrodiscuss post for further information: https://astrodiscuss.usgs.gov/t/adding-spice-data-to-galileo-ssi-images-of-europa/896

[2022-09-22 21:10] lwellerastro opened #5055 "LROC NAC data picking up different kernels via new data area"
**ISIS version(s) affected**: isis7.0.0

**Description**
LROC NAC image not picking up the same kernels between new and old data area

**How to reproduce**
Run spiceinit in default mode on ingested LROC NAC image and compare labels.

[code]

There image this was tested on is available under my user work area Isis3Tests/Spiceinit/NewDataArea/LROCNAC/ along with some other mission directories runnin

[2022-09-22 21:40] lwellerastro commented on #5055
Actually, this is probably ok.  I mentally mixed up the new and old data area.  The new area is picking up more recent kernels which is desirable.

[2022-09-22 21:40] #5055 closed, assigned to nobody

[2022-09-22 21:49] Kelvinrr commented on #5054
@criggall There was a bug with the old version of the script where Galileo kernels were not downloaded. Can you try again using the latest version of the script from the dev repo? The new script should come with the next release but you can get it now with:

[code]

[2022-09-22 21:51] Kelvinrr commented on #5053
I can try to replicate and see what is happening, but from peaking at the new data area, the new area is actually a superset of what is in `isis3_old`. So i dont think this is a missing data issue.

[2022-09-22 21:54] lwellerastro commented on #5053
Well, the old area has tspk/ directory but the new area does not:

ls ../isis3_old/isis_data/kaguya/kernels/
ck  fk  iak  ik  pck  sclk  spk  tspk

ls ../isis3/isis_data/kaguya/kernels/
ck  fk  iak  ik  pck  sclk  spk

[2022-09-22 21:56] lwellerastro opened #5056 "Unable to spiceinit Galileo images using new data area"
**ISIS version(s) affected**: isis7.0.0

**Description**
Errors are thrown by spiceinit for Galileo SSI images that have previously succeeded. I believe this is due to changes made to the new isis data area

**How to reproduce**
[code]
This runs successfully when pointing to the old data area.

There is a file under my work user area Isis3Tests/Spiceinit/NewDataArea/Galileo/ that can be used for t

[2022-09-22 22:39] Kelvinrr commented on #5053
When I saw pointing I only imagined ck might have been an issue. The command I used to copy over kernels wasn't recursively going over missing folders, just files. re-running the nightly job with the missing folders so some of these should be cleared up sometime today or tomorrow, depending on how long it takes.

[2022-09-22 22:41] lwellerastro commented on #5026
This is having an impact on internal users and therefore a ripple effect to external users as well.  See #5056, #5053, #5054 and now closed #5049.  It seems that either files and directories we intended to migrate to the cloud did not make it (and therefore did not populate the new internal data area tied to the cloud), or we maybe don't have a complete inventory of what the ASC has specially supp

[2022-09-23 16:10] Kelvinrr commented on #5053
nightly completed, try again when you get the chance

[2022-09-23 16:54] Kelvinrr commented on #5056
This one is weird. There was no missing kernel but there was a difference in one CK compared to the archive. It's a USGS CK, not a naif one, I think at some point got corrupted along the way? I restored it and spiceinit went fine. Try again when you get the chance.

[2022-09-23 17:40] lwellerastro commented on #5056
This looks good @Kelvinrr.  I also tested our smithed kernels (cksmith=true) and those work as expected as well.  Thank you!

[2022-09-23 17:44] lwellerastro commented on #5053
Spiceinit now works and matches old_isis output.  Thanks!

[2022-09-23 18:07] #5053 closed, assigned to nobody

[2022-09-23 18:08] #5056 closed, assigned to nobody

[2022-09-23 19:40] Kelvinrr commented on #5054
Looking more into it, I think this is the same as https://github.com/USGS-Astrogeology/ISIS3/issues/5056, should be handled now. Let me know if its still a problem after updating the Galileo data.

[2022-09-23 21:54] criggall commented on #5054
After downloading the script and new rclone config file, how do I update the Galileo data? I tried `python downloadIsisData galileo $ISISDATA --config rclone.conf**` but received an error, so I assume I did this incorrectly. Thank you so much!

[2022-09-27 05:21] Kelvinrr commented on #5054
@criggall can you post the error? Preferably with the complete call stack.

[2022-09-30 19:18] criggall commented on #5054
It runs for about a minute and outputs the same error for each file. The final message says "Failed to copy with 443 errors: last error was: mkdir /home/ccrig/rclone.conf**: not a directory."

[2022-10-01 15:03] #4621 closed, assigned to nobody

[2022-10-03 15:24] jessemapel opened #5057 "Add the ability to get the body rotation when working with CSM data that contains an ALE ISD."
**Description**

When we use ALE ISDs to generate CSM models in csminit, we can also extract the body rotation which will allow us to rotate to the J2000 reference frame. This will allow for more computations such as off-body pixels and RA/DEC.

**Example**

For example if we run `csminit from=data.cub isd=data.json` and the data.json file contains an ALE ISD, the output data.cub should contain th

[2022-10-04 15:14] jessemapel commented on #4665
We're holding this open until we tick the major version for another reason.

[2022-10-04 16:42] tllogan opened #5058 "spiceinit requests LRO clock kernel not in isisdata"
Hi,
**Description**
spiceinit is requesting an LRO clock correction file (lro_clkcor_2022263_v00.tsc) that appears to be unavailable from isisdata.
**Possible Solution**
Please add the new clock correction kernel to isisdata, or rollback the spiceinit library to the previous clock file.
**Error Messages**
rsync: link_stat "/data/lro/kernels/sclk/lro_clkcor_2022263_v00.tsc" (in isisdata) failed: No

[2022-10-06 12:06] swalterfub commented on #4998
This problem has been solved using the latest mambaforge instead of EasyBuild.

[2022-10-06 12:06] #4998 closed, assigned to nobody

[2022-10-11 07:57] drschenk commented on #4913
hi jesse,
thanks for looking into this.  i keep thinking about a simple sign or positional flip in the vectors that could induce a very low but measurable error.

i dont really have a pre-jig net as it was jigsawed early on and iterated many times after.  is there a way to make a version from what i have?
paul

Paul Schenk  (2021 AGU Fred Whipple Awardee)
Lunar & Planetary Institute / USRA
3600 Ba

[2022-10-11 08:16] ericepalmer commented on #4257
It should hit the street in late August
Thanks
ERic

[2022-10-11 08:50] drschenk commented on #4925
Jesse
I was able to install this morning - turns out that my old mini condo was blocking any new install.  I still have a question about the camera models for Juno and whether a fix is required.  Would u be able to discuss that?   If not we can cancel todays zoom and I will contact Stuart or the appropriate individual
Thanks
Paul

Sent from my iPhone!  Typing erratic.

On May 24, 2022, at 3:37 PM,

[2022-10-11 12:48] jlaura commented on #4257
Of 2023?

[2022-10-11 15:19] jessemapel commented on #5058
Can you check that your local data area is up to date? When I look for the kernel with rclone it appears to be available:

[code]

[2022-10-11 23:31] tllogan commented on #5058
Hi Jesse,
Just to be sure my local data kernels are up-to-date, I downloaded them all again from:

isisdist.astrogeology.usgs.gov::isis3data/data/lro

I can confirm that the desired file (sclk/lro_clkcor_2022263_v00.tsc) is not provided. The last one is dated 2022208.

How do files in the s3 bucket get moved to the isis data download site?

I also discovered that the “/iak/lro_instrumentAddendum_v

[2022-10-12 12:58] jlaura commented on #5058
@tllogan It looks like you are attempting to pull data from the rsync server. The rsync server is no longer being updated and will be officially deprecated at the end of November 2022. Please see the [ISIS Data Area](https://github.com/USGS-Astrogeology/ISIS3/blob/dev/README.md#the-isis-data-area) section of the README for instructions on using the new download script and #5026 for a discussion re

[2022-10-12 12:59] jlaura commented on #5054
@criggall What are the `**` characters at the end of the command? If you remove those, does this work as expected?

[2022-10-12 13:00] jlaura commented on #5033
@JohnVV Bumping this to see if you have retested.

[2022-10-12 13:58] ericepalmer commented on #4257
We are expecting the data in about a week, maybe two. I'm not sure "August" was posted yesterday. If I remember correctly, that was in July.  The review was fine, but the Hayabusa2 team wanted to improve the data before its release as certified.

[2022-10-12 14:02] jlaura commented on #4257
@ericepalmer Sounds good. Your response of August came in yesterday, hence my confusion. I'll advocate that this be worked when we are scheduling our next support sprints in November.

[2022-10-12 15:56] jessemapel commented on #4257
Github seems to have had some issues with responses via e-mail not coming through until yesterday. It looks like this got caught up in that.

[2022-10-12 18:27] jessemapel opened #5059 "Add kernels for MSL MastCam to ISiS Data"
**Description**

We are working add add support for MSL MastCam to USGSCSM and we want to use ISIS for image processing and generating panoramas. So, it would be much easier for us, if we could use the existing ISIS data download tools to download the MSL kernels required to generate an ISD for MastCam imagery.

**Example**

Add a new target to the DownloadIsisData rclone config that will download

[2022-10-12 20:03] jessemapel opened #5060 "Add surface point centered cylindrical projection"
**Description**

In grounded imagery, it is often useful to work in a camera or rover centered azimuth/elevation projection. This allows for easy generation of mosaics from multiple images taken from the same position.

See, 5.2.12.3 of the [MER SIS](https://pds-geosciences.wustl.edu/mer/mer1-m-pancam-2-edr-sci-v1/mer1pc_0xxx/document/camera_dpsis.pdf) for more specifics of this projection.

**Exa

[2022-10-13 01:29] JohnVV commented on #5033
It  runs but i get an error
-----------------------------
(isis) ***@***.***:/DATA/SUSE/ISIS_Data> downloadIsisData --config
rclone.conf base_usgs $ISISDATA
2022-10-12 21:25:36 ERROR    Remote sources came back empty. Get more info
by re-running with verbose flag.
(isis) ***@***.***:/DATA/SUSE/ISIS_Data>

--------------

On Wed, Oct 12, 2022 at 9:00 AM jlaura ***@***.***> wrote:

--
" I don't pitc

[2022-10-13 17:29] amystamile-usgs commented on #5059
Kernels added to isis data area. This includes a metakernel with the list of kernels associated to the msl test data.

[2022-10-13 17:29] #5059 closed, assigned to amystamile-usgs

[2022-10-14 16:30] KrisBecker commented on #5029
There is another open issue that is potentially related to this issue. #4864 describes several learning moments that might be good to add to the documentation.

One particularly subtle [problem](https://github.com/USGS-Astrogeology/ISIS3/issues/4864#issuecomment-1086902115) in the application is worth highlighting. You cannot call Process::SetOutputCube("TO") in your main as it will segfault. You

[2022-10-14 16:43] jessemapel commented on #5029
We should probably also deprecate all of those Application functions to indicate that people should not use them.

[2022-10-14 16:44] KrisBecker commented on #5029
I am in the process of migrating from MacOS 10.15 Catalina to MacOS 12 Monterey, which has been released for a year now. (NOTE: Mac support needs clarity.)  In my first attempt to build ISIS on Monterey, it appears to fail on Googetest itself. This may be because the [Googletest version](https://github.com/google/googletest/tree/703bd9caab50b139428cea1aaff9974ebee5742e) ISIS is [pinned ](https://g

[2022-10-14 16:50] jessemapel commented on #5029
Yeah we've started encountering this issue now that we are able to upgrade to a newer Mac OS version. We're working on figuring out what commit of gtest we should move to. The more recent commits fix this but appear to introduce other issues and are not compatible with older OS. We may need to move gtest from a static included dependency to a separate dependency per OS.

[2022-10-14 16:55] KrisBecker commented on #5029
I will just mention that the process by which external developers can update the ISIS test data area is not defined.

The other mention I wanted to make is the current ISIS test framework (i.e., Fixtures) can lead to merge conflicts. However, it appears you are aware of this issue.

[2022-10-14 16:57] KrisBecker commented on #5029
Can you also provide status on the app/unit conversion effort? How many are completed? How many remain? Are there plans to complete this work?

[2022-10-14 17:02] jessemapel commented on #5029
The fixture conflicts should be greatly reduced by splitting the massive file up into multiple files. It will still happen sometimes, but less often.

We don't have a concerted effort to complete the app conversion processes because there are so many apps and they are relatively low value. So, we're just doing it as needed for test improvements and other improvements. We should setup a process for

[2022-10-14 17:04] jessemapel commented on #5029
For updating legacy makefil test data, we are trying not to do that and instead convert the app the app to a callable. So, maybe that can be incorporated into conversion requests. That way, we're not updating test data that will eventually be removed.

[2022-10-14 17:43] KrisBecker commented on #5029
Please add guidelines/recommendations for data inclusion in tests.

There is understandable concern about data volumes in all aspects of the ISIS system. However, fabrication of data for tests purposes should be discouraged where real data should be used. (Is it possible to utilize on-demand download of, say, image data from external sources for tests in real time?)

In the work to convert the NEA

[2022-10-14 18:36] criggall commented on #5054
I redownloaded the files from the script above and tried without the ** and it worked. Thank you!

[2022-10-14 18:50] #5054 closed, assigned to nobody

[2022-10-15 13:24] jlaura commented on #5029
Thanks for the comment. The project, during the major test conversion efforts, made the decision to use fabricated or cooked data to the greatest extent possible. This decision was made in part because of the test volume. The other, more significant issue, is that using fabricated data yields better unit tests. They allow testing a range of edge cases and better overall validation of the underlyin

[2022-10-17 15:18] jessemapel commented on #5029
There is a time and a place for real data. Things like calibration and photometric apps should use real data, but they should use very deliberately chosen small data sets. It's worth having something about when and where it is appropriate.

[2022-10-19 18:55] lwellerastro opened #5062 "Bullet Ray Tracing errors for a DEM shape"
**ISIS version(s) affected**: 7.0.0, 7.1.0

**Description**
The following error is thrown by qnet when working with Kaguya TC images initialized with a DEM shape model:

![QnetShapeErrorMsg](https://user-images.githubusercontent.com/34550733/196773802-67d0b598-1664-4ef3-aed3-3efc03ce7089.png)

My default IsisPreferences file includes the following:
[code]

I need to use this for the Phobos project

[2022-10-20 17:46] jessemapel commented on #5058
I'm going to close this for now. If you you have further issues withe download script please reply here and we can re-open this issue.

[2022-10-20 17:46] #5058 closed, assigned to nobody

[2022-10-20 19:10] lwellerastro opened #5063 "MEX SRC requires large amount of memory in qnet (possibly other apps)"
**ISIS version(s) affected**: 7.1.0

**Description**
When attempting to load about 2500 MEX SRC Phobos images in qnet with a small network (or none), the program proceeds to use an excessive amount of memory forcing me to kill the app before using all available memory.  I have seen it get to in excess of 60 G and the vm's I have access to typically have about 50 G+ available, or near 100 G in one

[2022-10-20 19:34] jessemapel commented on #4864
This is still important for #5029

[2022-10-20 19:36] jessemapel commented on #5063
This is expected with Bullet ray tracing engine. Each image loads its own copy of the DSK into memory. I'm surprised you didn't encounter this issue with the HRSC data.

I implemented a shared DSK model with Embree, but not Bullet. @KrisBecker wrote one for Bullet and we're hoping to have that integrated into the code base this year.

[2022-10-20 19:56] lwellerastro commented on #5063
`I implemented a shared DSK model with Embree`
Sorry, I don't know what that means.

The SRC images have bullet encoded on their labels and the ShapeModel group has been commented out in my preference file since it is creating errors for other projects (#5062).  The HRSC on the other hand were originally processed using the default ray tracing (so no keyword on the label) since I didn't how to inv

[2022-10-20 20:15] jessemapel commented on #5063
Right now when you load a camera model for an image with the Bullet ray tracing engine, it will read the DSK file into memory and generate an in-memory copy of the file for use with the Bullet library. This means every single image/camera has its own copy of the DSK which is effectively a duplicate of the others. If you are using the Embree ray tracing engine, before it loads a copy of the DSK int

[2022-10-20 20:39] lwellerastro commented on #5063
`All of this memory stuff is why I have been saying we can't do control processing with DSKs until we get the code Kris wrote incorporated into dev.`

Except there were no issues for HRSC. But as you pointed out there could be some bug with programs and how ray tracing is being specified.  I'll see if anything jumps out there.

Waiting on external contributions seems like a shortfall to me and not

[2022-10-20 20:49] jessemapel commented on #5063
It is particularly tough with the shared Bullet models because it is incorporated into other contributions that Kris wants to submit back to us for general public release. So, if we implement it ourselves it will create a bunch more conflicts on his end that he will need to resolve.

I'm much more optimistic about getting the external contributions incorporated sooner rather than later because Kri

[2022-10-21 18:28] lwellerastro commented on #5063
Well, embree throws errors.  This is a new bug based on HRSC tests from June when there were no errors.  I will get a post in for that.

I have determined there is no difference in how qnet behaves when bullet is on the image label versus being specified from a preference file.

Additionally, I have confirmed that qnet memory consumption is indeed happening for HRSC as well as SRC, as you thought

[2022-10-21 19:05] jessemapel commented on #5063
Yeah I think we should leave this open as I don't think there's any other documentation on the repo for that.

I appreciate you being the first one of our internal users really pushing the ray tracing stuff. It's frustrating encountering all these errors, but we have to know the problems before we can fix them.

[2022-10-21 19:56] lwellerastro opened #5064 "Embree ray tracing does not recognize file extension"
**ISIS version(s) affected**: isis7.1.0

**Description**
Applications throw the following error for DSK initialized MEX HRSC and SRC images when trying to use the embree ray tracing engine:

`[pcl::io::load] Don't know how to handle file with extension .BDS`

This was discovered for already spiced data with the shape model, but as demonstrated below will also occur when running spiceinit.  In that

[2022-10-21 20:05] jessemapel commented on #5064
It looks like the embree code is not doing a case insensitive comparison here:

https://github.com/USGS-Astrogeology/ISIS3/blob/dev/isis/src/base/objs/EmbreeTargetShape/EmbreeTargetShape.cpp#L282

It's also catching the PCL exception somewhere else as that try catch block is only catching and IException.

[2022-10-21 20:29] lwellerastro commented on #5064
`It looks like the embree code is not doing a case insensitive comparison here:`

I changed the DSK filename to PHOBOS_K275_DLR_V02.bds in a subdirectory and ran spiceinit again and it ran, and RayTracingEngine = embree

This particular DSK was pulled directly from an ESA archive so having the software be case insensitive is probably a good idea.

[2022-10-24 21:31] jlaura commented on #3871
I have been able to reproduce this with a Mars network when adding a single ground control point with a computed covariance matrix.

I have networks available with and without ground points that illustrate the problem. I have linked those internally only at a [code.chs.usgs.gov](https://code.chs.usgs.gov/jlaura/ctx_ground_3871/-/tree/main) repository and provided access to the folks that are going

[2022-10-26 19:22] espeyerer opened #5066 "Broken ISIS2 links on isis.astrogeology.usgs.gov"
ISIS version(s) affected: n/a (Website)

Description:
It appears like the ISIS2 documentation is no longer accessible via the astrogeology webpage.  While the main user docs page loads, all the subsequent links are broken. Here is an example of an error received when trying to load a page:

How to reproduce:
Visit https://isis.astrogeology.usgs.gov/7.0.0/documents/Isis2UserDocs/index.html and try

[2022-10-27 18:53] Kelvinrr commented on #5033
I'll take a look at this and get back to you.

[2022-10-30 22:24] jessemapel commented on #4559
Continuing to push along

[2022-10-31 14:52] jessemapel commented on #4858
Updated.

[2022-10-31 14:52] #4858 closed, assigned to jessemapel

[2022-10-31 15:46] jlaura opened #5067 "ISIS7.1.0 libgsl linking issue"
**ISIS version(s) affected**: 7.1.0

**Description**
Post install, using any ISIS codes results in a linking error to libgsl.so.27.

**How to reproduce**
Install on a linux machine and run something like `spiceinit -h`

**Possible Solution**
`mamba install -c conda-forge gsl=2.7=he838d99_0`

**Additional context**

[2022-10-31 16:09] jessemapel commented on #5067
What version of gsl are you getting when you do an install? Can you also post the specific linking error? It is pinned to gsl 2.7 already:

[code]

[2022-10-31 16:33] jlaura commented on #5067
Here is the linking error: `spiceinit: error while loading shared libraries: libgsl.so.25: cannot open shared object file: No such file or directory`. I'll have to create a new env and installation to see what version is going in. I would bet that it is version 2.7.1 (which only provides libgsl.so.27) and not 2.7.0 which provides libgsl.so.25.

[2022-10-31 16:33] jessemapel opened #5068 "Changing dev branch to main"
ISIS uses dev for the name of its default branch as a hold over from the gitflow paradigm that we started with. Since, then we have moved to just a single release and integration branch that PRs are merged into and releases are peeled off of.

We would like to change the name of the default branch for several of our repos to the now standard main and it seems like a good time to transition ISIS ov

[2022-10-31 16:34] jessemapel commented on #5068
Other public repos that we would like to move to main instead of master:

https://github.com/USGS-Astrogeology/ale/issues/505

https://github.com/USGS-Astrogeology/plio/issues/183

https://github.com/USGS-Astrogeology/knoten/issues/106

https://github.com/USGS-Astrogeology/swigcsm/issues/35

[2022-10-31 16:36] jessemapel commented on #5068
We would also like to move USGSCSM from dev to main for consistency

https://github.com/USGS-Astrogeology/usgscsm/issues/430

[2022-11-01 15:04] #4672 closed, assigned to nobody

[2022-11-03 16:51] KrisBecker commented on #5024
I have just completed the download of all ISISDATA. Can you confirm the total size is 1.9TB?

[2022-11-03 19:22] KrisBecker opened #5070 "Excessive Compiler Warnings for Qt Deprecations"
**ISIS version(s) affected**: 7.1.0+

**Description**
Throughout compilation of ISIS on MacOSX 10.15.7 Catalina, there are significant streams of warnings generated about Qt deprecations. These warnings occur for many if not all compilations. Here is an example of a single file/compile:

[code]

The version of Qt installed is:
[code]

[2022-11-08 16:27] jessemapel commented on #3871
@jorichie Can you post your most recent jigsaw command lines that you ran. We're investigating some issues potentially related to not setting sigmas for every parameter. For example, your original post doesn't set point latitude/longitude sigmas.

[2022-11-08 17:20] lwellerastro commented on #3871
Just curious @jessemapel - do you think something might have changed how point latitude/longitude sigmas are being used over the past several years?  Those sigmas were not used for the LROC NAC north pole network or any of the Themis IR bundles (including the global), both of which had ground points and solved for radius, camera accelerations and spacecraft position without problems.  All of that

[2022-11-08 17:23] jessemapel commented on #3871
We've made several changes to things in the bundle over the last several years. The big ones that could impact point sigmas are the rectangular, XYZ, bundle and the lidar support. They were supposed to preserve the existing functionality, but could have introduced a bug. We also haven't 100% confirmed that not setting sigmas is the problem, it's just our best lead right now. Jay is doing a bunch m

[2022-11-08 17:27] jessemapel commented on #3871
Also, I agree we should not be setting point lat/lon sigmas in most cases. It seems the logic that is supposed to leave them free has a bug.

Setting them for right now, is a work around.

[2022-11-08 17:40] lwellerastro commented on #3871
I just had a look at Europa and Titan and see that point sigmas helped when sorting out islands of images, but once all data were manually joined to main network I didn't need the extra constraints.

I'm recalling now it was Enceladus that needed the lat/lon constraints because the corrections were excessive.  That suggestion was made by Brent at the time and although things like residuals and cam

[2022-11-08 18:56] jorichie commented on #3871
Hey Jesse, please see <redacted>/sbatch3_jigsaw.bsh for the commands we are currently using. Thanks for taking a look at this.

[2022-11-08 21:57] jlaura commented on #3871
Afternoon @jorichie, we really should not post full paths in a public place like this. I am going to edit your post to remove the path. Would you mind copy/pasting the contents into your post or a new response? That is helpful not only from a security perspective, but also for anyone who does not have access to the machine with that path who is interested in the discussion. Thanks!

[2022-11-08 22:05] jorichie commented on #3871
Thanks for the information, Jay. I have copied, pasted the requested information here.

jigsaw fromlist=SouthPole_2020Merged_SP_and_Lidar2Image4_updated12_image_temp.lis cnet=SouthPole_2022_Merged_Lidar2Image_redo105.net
onet= test_SouthPole_2022_Merged_Lidar2Image_redo105_remerge.net
radius=yes camsolve=angles twist=yes overexisting=yes spsolve=position
outlier_rejection=no
overhermite=no
camera_

[2022-11-09 00:14] astrostu commented on #4810
bump

[2022-11-09 16:21] jlaura commented on #3871
@jorichie thanks! Have you tried this with the following added:
[code]
I don't know what values you want to put in for the ???. Maybe 500, 100, 100, 50 (total guesses that will need some iteration on to figure out; or a look at the LROC kernels to see if they have reported accuracies).

I would probably try both with and without overhermite - I don't think that that is the issue. The `spacecraft_v

[2022-11-09 17:10] jessemapel commented on #3871
I'm not sure which sigmas need to be set, but I would test setting all of them. I think point lat/lon sigmas of 500-1000m should be "safe" guesses. Your spacecraft velocity sigma can be around 100.

[2022-11-09 20:51] Kelvinrr commented on #5033
Sorry, was out sick for a bit.

it's just base, not base_usgs. https://github.com/USGS-Astrogeology/ISIS3#partial-download-of-isis-base-data

[2022-11-11 19:33] oleg-alexandrov opened #5073 "Updates to ISIS main page"
The site https://isis.astrogeology.usgs.gov/ does not mention latest ISIS, which is version 7, but only version 6 and below. (See left sidebar.)

It is also about time it stops mentioning ISIS 2 (20 years too late?). Or at least it should add the word "historical" before mentioning it in the sidebar. Otherwise folks may think that there's something called ISIS, and version 2 is latest and greatest

[2022-11-14 15:04] #4693 closed, assigned to nobody

[2022-11-14 15:04] #4692 closed, assigned to nobody

[2022-11-14 16:04] #1976 closed, assigned to nobody

[2022-11-14 16:12] AustinSanders commented on #5070
For now, we can pin to a previous version.  Moving forward, this will need to be fixed.

[2022-11-14 16:30] #4969 closed, assigned to jessemapel

[2022-11-14 16:32] #4943 closed, assigned to scsides

[2022-11-14 17:09] amystamile-usgs opened #5074 "Mac OS Monterey Multiple Issues with C++14"
**Description**

The new C++14 compiler with Monterey is now incompatible with older versions of gtest. ~There is a new version update with gtest but requires that everyone switch to the new C++ compiler/update OS version (incompatible with C++11 or older).~ Version 1.12.1 is the last version that is compatible with C++11. This version also seems to be working with C++14 compiling wise. We are sti

[2022-11-14 17:41] KrisBecker commented on #5074
I have a [post](https://github.com/USGS-Astrogeology/ISIS3/issues/5029#issuecomment-1279237614) in #5029 that contains more detail on this issue.

I have tried both 14.0 and 13.4.1 on Monterey and both fail. Xcode 12 and lower is [not supported on Monterey ](https://developer.apple.com/forums/thread/693286) so downgrading is not an option for the Mac. (I see a work around, but I do not recommend t

[2022-11-14 19:17] amystamile-usgs commented on #5074
Based on Jesse's previous comments, it sounds like we may need to move gtest from a static included dependency to a separate dependency per OS. Reading through the google test release notes, version v1.12.1 should still work for C++11. So we may be okay updating to this version for now and then have to do separate dependencies per OS on the next gtest update.

@KrisBecker I was able to the update

[2022-11-14 19:31] KrisBecker commented on #5074
@amystamile-usgs I will give it a try and let you know what I find.

Thanks...

[2022-11-15 23:02] Kelvinrr opened #5077 "Kernel audit categorization"
**Description**

Our kernels need some accounting for, there seem to exist kernels that we are required to host as they are not hosted in any other obvious place. e.g. reconstructed kernels that do not exist on the obvious mission source (NAIF, JAXA, etc.). I believe it is worth categorizing kernels and doing some kind of accounting for the kind of kernel they are and where they are sourced from.

[2022-11-16 19:41] lwellerastro commented on #4966
The data the author references is no longer available in the location specified.  I have copied the data into a work directory from an alternate local area that may cease to exist in the near future (would take hours to download from our site).  See the project area for kaguya under lweller/Test/.

I have confirmed demprep segfaults under isis7.1.0
[code]
I tested this under 3.9.1 and it gave a mo

[2022-11-16 22:32] AustinSanders commented on #5067
@jlaura  I'm not able to reproduce this error with a fresh conda environment / build of ISIS from dev.  I'm on MacOS 12.6.1 (Monterey).  I'm not sure if that makes a difference, but I do recall you being on a different version of OS.

Can you dump the contents (or relevant portion of contents) of a ```conda list```?

[2022-11-17 01:26] jlaura commented on #5067
I fixed it locally with the command above hard coding the libgsl version. I bet the package was fixed upstream. Since you can't reproduce and I have a modified environment, I am going to close. This can reopen if needed in the future.

[2022-11-17 04:52] jorichie commented on #3871
Here is the result from the first test, including setting values for point_radius and longitude sigmas, point radius sigma, and spacecraft velocity:
CHOLMOD error: problem too large. file: ../Supernodal/cholmod_super_symbolic.c line: 683
CHOLMOD error: argument missing. file: ../Cholesky/cholmod_factorize.c line: 121
CHOLMOD error: argument missing. file: ../Cholesky/cholmod_solve.c line: 1062
/va

[2022-11-17 20:06] AustinSanders commented on #4257
@ericepalmer I had to make a few changes to the translation files for hyb2onc2isis. In addition to modifying the spacecraft name from HAYABUSA-2 to HAYABUSA2, I made the following items optional:

BandRegistration
  Auto
  Optional
  InputKey       = REGIST
  InputPosition  = FitsLabels
  OutputName     = BandRegistration

Group = L2CShapeModelFileName
  Auto
  Optional
  InputKey       = L2CSHPFN

[2022-11-17 21:10] jlaura commented on #4257
@AustinSanders Awesome!

@ericepalmer When you reply, if you reply via email would you mind CCing me (jlaura@usgs.gov). I want to avoid a repeat of the last time GitHub sat on an email comment for months!

[2022-11-17 21:13] ericepalmer commented on #4257
This is awesome.
Do you need me to test this before release?  Is there a way to test this?
Thanks
Eric

[2022-11-17 21:15] jlaura commented on #3871
@jorichie That is terrific! I believe that you are getting a new error?

And it looks like it could be a memory issue? How much memory are you requesting and are you exceeding the available memory on the machine? Problem too large looks like it can occur when cholmod is converting a sparse matrix to a dense matrix.

Also, are you intentionally setting spsolve=positions or do you usually use spsolv

[2022-11-17 21:22] lwellerastro commented on #3871
@jlaura, it is not and never has been a memory problem.  This network has been watched on multiple occasions and uses <50G of memory.  Janet is asking for an entire node I believe. I believe Laruen/Jesse also confirmed there are no memory overruns.

The current error appears to be identical to what is in the original post.

This work has only required spsolve=position.

[2022-11-17 21:38] AustinSanders commented on #4257
@ericepalmer As long as there are no concerns with those items being made optional, I can run it through our testing suite and add any tests that are missing.

Alternatively, if you want to do your own testing, you're welcome to pull my [working branch](https://github.com/AustinSanders/ISIS3/tree/hayabusa2) and compile from source.

Also, just to ensure that I'm working with the correct data, I te

[2022-11-17 21:42] jlaura commented on #3871
[Here is the source code that is throwing the error](https://github.com/PetterS/SuiteSparse/blob/master/CHOLMOD/Supernodal/cholmod_super_symbolic.c). Please do a search in there if you like for the word 'problem' (pulled for the error message). You will see two instances in the code where that is happening and both are after checks to see if the problem will fit into memory.

None of the above is

[2022-11-17 21:50] AustinSanders commented on #4911
This issue should be resolved as of #5050

[2022-11-17 21:50] #4911 closed, assigned to AustinSanders

[2022-11-17 22:59] Kelvinrr commented on #5033
@JohnVV I am going to close this for now, feel free to re-open if it's still a problem.

[2022-11-17 22:59] #5033 closed, assigned to nobody

[2022-11-18 19:02] #5064 closed, assigned to acpaquette

[2022-11-18 19:07] #5062 closed, assigned to acpaquette

[2022-11-18 19:53] Hyradus opened #5080 "ISIS 7.0.0 and above cannot find libcpsice.so.66"
**ISIS version(s) affected**: 7.0.0 and above (probably also 6.0.0 and above)

**Description**
Installed ISIS 7.0.0+ in a fresh conda environment with python 3.7+, installation and initialization is working correctly but is not possible to execute any isis command because of missing **libcspice.so.66** error.
The same happens if using docker.

**How to reproduce**
Following the guidelines in the m

[2022-11-18 20:41] jlaura commented on #5080
Just installed 6.0.0 on a machine and can confirm. I see libcspice.67.so being install, but not 66.

`spiceinit: error while loading shared libraries: libcspice.so.66: cannot open shared object file: No such file or directory`

Non-destructive work around is: `ln -s <envpath>/lib/libcspice.so <envpath>/lib/libcspice.so.66`

[2022-11-18 22:22] acpaquette commented on #5073
:+1: We largely keep ISIS 2 prevalent as it has features that were never ported to ISIS 3+, but it could be made more obvious that it is a legacy verison

[2022-11-18 23:50] KrisBecker commented on #5074
@amystamile-usgs I pulled your branch and it built fine on my Monterey system. This was tested with Xcode 14.0.

For what its worth, here is the result of running the tests. Note, I updated ISISTESTDATA but it did not have any additional changes. I am pretty sure the ISISDATA area is out-of-date so these results may not be of much value.

[code]

Thank you for getting this done.

[2022-11-19 13:59] jlaura commented on #5080
This broke because of a downstream update to [cspice](https://github.com/conda-forge/cspice-feedstock/issues/33). If the maintainers over there won't re-release, I think we are going to have to re-release with a version pinned or release pointing to the updated cspice lib. :-1:

[2022-11-19 14:19] Hyradus commented on #5080
Oh, ok, so as far as I have understood this is a problem related to cpsice package that is creating libcspice.so or libcpsice.so.67, instead of libcspice.so.66, right?

And the main solutions are:
* Re-releasing all ISIS versions, pointing to any of those 3 versions of libcspice.so (cumbersome)
* Have a fix from cpsice-side, right? (best one)
* Create a symbolic link between libcspice.so/.67 to li

[2022-11-19 21:22] AndrewAnnex commented on #5080
@Hyradus @jlaura I lay out three solutions in https://github.com/conda-forge/cspice-feedstock/issues/33, the last solution I think is the more correct solution and wouldn't actually require new versions to be released (just new builds via the build number increment). I don't think that solution is all that cumbersome, but I also laid out an option where I make a new build for cspice with an additi

[2022-11-20 13:40] jlaura commented on #5080
@AndrewAnnex  Thanks for the symbolic link on the cspice side! I'll get with the other devs and see what we can do to increment the build number and get versions pushed. We are still going to have to create these builds and push them (which is the time consuming part), but I'll if we can do this in the coming week or so.

Again, thanks for the release with the (erroneous) symbolic link.

[2022-11-21 08:21] Hyradus commented on #5080
@AndrewAnnex @jlaura many thanks!

Since the solution has been found and needs only to be implemented, I'll close this issue.

[2022-11-21 15:44] #5074 closed, assigned to amystamile-usgs

[2022-11-22 11:12] #5080 closed, assigned to nobody

[2022-11-23 12:42] jlaura opened #5083 "Pin to libcspice.so and not a specific version"
**ISIS version(s) affected**: 6.0.0+

**Description**
Related to #5080, we pin to libcspice.so.66, we should pin to libcspice.so or to the libcspice.so.67 (the current newest version).

**How to reproduce**

**Possible Solution**
Update the build recipe and the environment.yml.

**Additional context**
@AndrewAnnex has helped us out by releasing with a symlink from libcspice.so.67 to libcspice.so.6

[2022-11-25 06:04] nayamas opened #5084 "Error in downloading MRO kernals"
I was trying to download the mro kernels by using the following code
rsync -azv --delete --partial [isisdist.astrogeology.usgs.gov](http://isisdist.astrogeology.usgs.gov/)::isis3data/data/base/kernels/spk
It shows an error such as "rsync: failed to connect to [isisdist.astrogeology.usgs.gov](http://isisdist.astrogeology.usgs.gov/) (184.164.152.106) : connection timed out (110)
rsync error: error i

[2022-11-27 21:20] jlaura commented on #5084
@nayamas It looks like you are attempting to use the rsync servers which either have been shut down or will be shutting down by the end of the month. Please take a look at the README which contains instructions on [downloading the ISIS data area](https://github.com/USGS-Astrogeology/ISIS3/blob/dev/README.md#The-ISIS-Data-Area) using the `downloadIsisData` script.

For MRO and versions of ISIS grea

[2022-11-28 04:52] nayamas commented on #5084
thank you so much

On Mon, Nov 28, 2022 at 2:50 AM jlaura ***@***.***> wrote:

[2022-11-28 12:08] jlaura commented on #5084
Looks like this is solved. I am going to close. If you have additional issues with downloading MRO please reopen.

[2022-11-28 12:08] #5084 closed, assigned to nobody

[2022-11-28 19:27] antonhibl commented on #5070
@AustinSanders made a PR to pin the version (#5085)[https://github.com/USGS-Astrogeology/ISIS3/pull/5085]

[2022-11-28 19:40] #5070 closed, assigned to antonhibl