[2019-11-12 19:34] ladoramkershner commented on #3504
@jessemapel The process I used to convert the ddd files into cube files was exactly what was done (in ISIS) to the current calibration cubes. However, this process seems to align very little with the actual calibration process on PDS. I am wondering if the previous person who processed the data used a custom script to manipulate the data after ingestion and simply did not document/save the script.

[2019-11-12 22:14] rbeyer opened #3507 "FROMLIST files handled inconsistently"
**ISIS version(s) affected**: 3.8.0 and onwards (probably existant for many years)

**Description**
Many ISIS programs take a 'FROMLIST' argument that is expected to be a list of filenames.  These files are not handled consistently in the ISIS codebase.

For example, the `cubeit` documentation indicates that the last line in the FROMLIST file must be an empty line (but in actuality there can be a

[2019-11-13 02:33] jlaura commented on #3507
I am going with an enhancement label on this one (though please disagree.). The description as a bug is great and easily reproduced. I do not think we have 'breaking' code though the identified differences in capability definitely look at way. Just organizing and this seems to be an issue in the gray area between the two.

Thanks for the detailed post!

[2019-11-13 02:57] jlaura commented on #3457
@sriramsaran I am going to close this. Please reopen if you are seeing a bug related to processing VIMS data for kernels that are staged or if you are unsure if the kernels are/should be staged.

It looks like you have a viable path forward and that the code is not the issue. Thanks!

[2019-11-13 02:57] #3457 closed, assigned to nobody

[2019-11-13 02:59] jlaura commented on #3435
@scsides Is this closable with merge of #3497?

[2019-11-13 03:08] rbeyer commented on #3507
That's a fine classification.

[2019-11-14 15:26] scsides commented on #3435
Yes, this is a duplicate issue fixed by #3497

[2019-11-14 15:26] #3435 closed, assigned to nobody

[2019-11-15 17:59] jessemapel opened #3511 "BulletShapeModel unitTest uses local data"
BUlletShapeModel unitTest is failing on external Jenkins because it uses paths specific to the ASC network.

[2019-11-15 18:00] jessemapel opened #3512 "EmbreeShapeModel unitTest uses local data"
The EmbreeShapeModel unitTest uses local data at the ASC. This causes it to fail on the external Jenkins tests.

[2019-11-15 18:01] jessemapel opened #3513 "EmbreeTargetManager unitTest uses local data"
The EmbreeTargetManager unitTest uses local test data at the ASC. This causes it to fail on the external Jenkins tests.

[2019-11-15 18:02] jessemapel opened #3514 "JPEG2000 tests are failing on external Jenkins"
This is probably due to Kakadu

[2019-11-15 18:04] jessemapel opened #3515 "HayabusaAmicaCamera unitTest uses local data"
The HayabusaAmicaCamera unitTest uses local data paths at the ASC. This causes it to fail on the external jenkins tests.

[2019-11-15 18:06] jessemapel opened #3516 "KaguyaTcCamera unitTest uses local data"
The KaguyaTcCamera unitTest uses local data paths at the ASC. This causes it to fail on the external Jenkins tests.

[2019-11-15 18:10] jessemapel opened #3517 "RosettaOsirisCamera unitTest uses local data"
The RosettaOsirisCamera unitTest uses local data paths at the ASC. This is causing the external jenkins tests to fail.

[2019-11-15 18:11] jessemapel opened #3518 "makeflat app tests uses local data"
The makeflat app tests uses local data paths as the ASC. This causes the following tests to fail on the external jenkins:

* framing
* linescan
* pushframe

[2019-11-15 18:11] jessemapel opened #3519 "photomet testDemWarning app test uses local data"
photomet testDemWarning app test uses local data paths at the ASC. This causes it to fail in the external jenkins tests.

[2019-11-15 18:12] jessemapel opened #3520 "spiceinit shapemodel app test uses local data"
spiceinit shapemodel app test uses local data paths at the ASC. This causes it to fail in the external Jenkins tests.

[2019-11-15 18:13] jessemapel opened #3521 "sumspice dawn app test uses local data"
sumspice dawn app test uses local data paths at the ASC. This causes it to fail in external Jenkins tests.

[2019-11-15 18:13] jessemapel opened #3522 "kerneldbgen ck test uses local data"
kerneldbgen ck test uses local data paths at the ASC. This causes it to fail in external Jenkins tests.

[2019-11-15 18:15] jessemapel opened #3523 "cisscal app tests are failing"
All of the cisscal app tests are failing after the recent update

[2019-11-15 18:16] jessemapel opened #3524 "mical app tests use local data"
The mical app tests use local data paths at the ASC. This causes the following tests to fail in external jenkins tests:

* case01
* case02

[2019-11-15 18:18] jessemapel opened #3526 "thmbasemap1 app tests are failing"
This is likely due to local data paths, but it is not clear. This failure is occurring external jenkins tests.

[2019-11-15 18:19] jessemapel opened #3527 "ocam2isis app tests are failing"
The ocam2isis app tests are failing in external jenkins tests. This is likely due to path issues. Unlike other tests, this could be local paths at the ASC or the special paths for the local test data.

[2019-11-15 18:20] jessemapel commented on #3527
The following tests are failing:

* mapcam
* polycam
* samcam

[2019-11-15 18:20] jessemapel commented on #3526
The following tests are failing:

* dayonly
* nightonly

[2019-11-15 18:21] jessemapel opened #3528 "osirisrex module tests are failing"
osirisrex module tests are failing in external jenkins tests. Similar to #3527, this is likely due to data paths. The osirisrex test data is in a separate directory and the paths are likely not setup correctly for outside of the ASC network.

[2019-11-15 18:21] jessemapel commented on #3528
The following module tests are failing:

* mapcam
* polycam
* samcam

[2019-11-15 18:23] jessemapel opened #3529 "Cassis module tests are failing"
This is likely due to data path issues. The following tests are failing in external jenkins tests:

* coloredMosaic
* mapProjectedReingested
* projSIngleStichedFrame
* singleColorMosaicReingest
* singleFrameletProjection
* stitchUnstitch
* unctrolledSingleColorMosaic

[2019-11-15 18:23] jessemapel commented on #3529
@kberryUSGS Do you know if the CaSSIS test data is proprietary?

[2019-11-15 18:31] ladoramkershner commented on #3519
PR #3530

[2019-11-15 18:51] scsides commented on #3527
ocams2isis is failing on the Jenkins because the local data directory is not available to the build. IT has been notified.

[2019-11-15 18:58] scsides opened #3531 "marcical compiler warning"
**ISIS version(s) affected**: dev branch as of 2019/11/15

**Description**

warning: comparison of integer expressions of different signedness line 232

**How to reproduce**

Compile ISIS using a new compiler

**Possible Solution**

**Additional context**

[2019-11-15 19:18] Kelvinrr commented on #3514
How can we go about installing Kakadu? I doubt we can ship Docker images with Kakadu installed publically. Do we install it but make it the docker images private? Or do we turn the tests off with the JP2K flag?

[2019-11-15 19:27] AustinSanders commented on #3521
I checked in new data, but I'm not sure if it will pass due to how the data is accessed by Jenkins.

[2019-11-15 19:27] ladoramkershner commented on #3511
I updated /usgs/cpkgs/isis3/data/hayabusa/testData/st_2391934788_v.cub so that the Group=Kernels Keyword=ShapeModel is set using $hayabusa instead of an absolute path rooted in usgs/cpkgs

[2019-11-15 19:27] #3511 closed, assigned to ladoramkershner

[2019-11-15 19:28] ladoramkershner commented on #3512
I updated /usgs/cpkgs/isis3/data/hayabusa/testData/st_2391934788_v.cub so that the Group=Kernels Keyword=ShapeModel is set using $hayabusa instead of an absolute path rooted in usgs/cpkgs

[2019-11-15 19:28] #3512 closed, assigned to ladoramkershner

[2019-11-15 19:30] ladoramkershner commented on #3513
I (and by 'I' I mean @acpaquette) am fairly confident that this failure is caused by the failure of the preceding tests (issue #3511 and #3512). I will close this for now, but it can be reopened if it continues to fail.

[2019-11-15 19:44] krlberry commented on #3522
Actual error:
[code]

[2019-11-15 19:53] Kelvinrr commented on #3515
This seems to have been taken care of two days ago.

[2019-11-15 19:53] #3515 closed, assigned to Kelvinrr

[2019-11-15 19:56] scsides opened #3534 "cisscal writes full paths to the output labels"
**ISIS version(s) affected**: x.y.z

**Description**

cisscal writes full paths to the calibration file locations in the output cube's Radiometry group:
[code]

**How to reproduce**

Run cisscal using any file from it test data

**Possible Solution**

Use the file name class to write the calibration file names using the original names with the $

**Additional context**

[2019-11-15 21:43] Kelvinrr commented on #3529
Seems to have missing Kernels?

[code]

maybe whatever copy of ISIS3DATA is on the jenkins machine is missing kernels?

[2019-11-15 21:52] #3531 closed, assigned to scsides

[2019-11-15 22:05] jessemapel commented on #3517
The WAC test image had an absolute path to the shapemodel

[2019-11-15 22:09] Kelvinrr commented on #3526
input/prog.lis had hardcoded values for both tests.

[2019-11-15 22:11] jessemapel commented on #3529
That's really strange. CaSSIS uses a ck config and its kernel database files are called `cassis_kernels.####.db` and `tgo_kernels.####.db`.

[2019-11-15 22:21] Kelvinrr commented on #3518
input file lists had hardcoded paths in them. All tests passing locally with updated paths, waiting for jenkins.

[2019-11-15 22:32] ladoramkershner commented on #3516
Re-spiceinited the two cubes used in the kaguya unit tests, so that they were using the new kaguya camera model (added distortion model, PR #3498)
/usgs/cpkgs/isis3/data/kaguya/testData/TC2W2B0_01_02735N583E3115.cub
/usgs/cpkgs/isis3/data/kaguya/testData/TC1S2B0_01_06691S820E0465.cub

[2019-11-15 22:32] #3516 closed, assigned to ladoramkershner

[2019-11-15 22:33] ladoramkershner commented on #3519
Added the truth and input data folders to the isis3 data area

[2019-11-15 22:36] krlberry commented on #3529
@jessemapel I don't think so. I think I've previously asked Laz about it, but might need to double-check.

[2019-11-15 22:49] #3517 closed, assigned to jessemapel

[2019-11-15 23:13] acpaquette commented on #3524
Updated the mical.ker.001 file to mical.ker.002 to use $mer rather than a hard coded path to the mer calibration data.

[2019-11-15 23:13] #3524 closed, assigned to acpaquette

[2019-11-15 23:38] Kelvinrr commented on #3528
`$ISIS3DATA/../datalocal` needs to be added to Jenkin's mount.

[2019-11-15 23:40] AustinSanders commented on #3520
This data has been checked in.

[2019-11-15 23:43] scsides commented on #3523
Added ignorepath groups to the lable.pvl.DIFF file for all the tests.

[2019-11-16 00:01] Kelvinrr commented on #3529
Kernel config files exist too, not sure why it's not being caught. Test pass locally with ISIS3DATA set to Jenkin's ISIS3DATA

[2019-11-16 00:45] scsides commented on #3527
Copying the datalocal area to the Jenkins area fixed the issue

[2019-11-16 00:45] #3527 closed, assigned to scsides

[2019-11-16 00:57] AustinSanders commented on #3426
@kberryUSGS It looks like input and truth data never got checked in for voy2isis instrumentname test

[2019-11-18 15:43] jessemapel commented on #3523
Tests are still failing. May be due to an issue with the data being copied to the dmz

[code]

[2019-11-18 15:44] jessemapel commented on #3520
This is still failing. Expected to pass after #3538 is checked in.

[2019-11-18 15:45] jessemapel commented on #3521
Dawn test is still failing. Re-opening until test data gets pushed to the DMZ and tests pass on Jenkins

[2019-11-18 15:45] jessemapel commented on #3528
local data has been added and this is now passing

[2019-11-18 15:45] #3528 closed, assigned to Kelvinrr

[2019-11-18 15:46] jessemapel commented on #3529
After @Kelvinrr updated the data area these are now passing.

[2019-11-18 15:46] #3529 closed, assigned to Kelvinrr

[2019-11-18 15:48] jessemapel commented on #3526
Still failing. Looks like test data didn't make it over to the dmz?

[2019-11-18 15:49] jessemapel commented on #3522
Still failing on the same file

[2019-11-18 15:56] jessemapel commented on #3518
Looks like test data needs to be propagated still.

[2019-11-18 15:57] jessemapel commented on #3519
Test is still failing

[2019-11-18 15:59] jessemapel opened #3539 "MEX HRSC module test is failing in jenkins tests"
Jenkins log:

[code]

[2019-11-18 17:38] Kelvinrr commented on #3526
As of https://astroservices.usgs.gov/jenkins/job/ISIS-Builds/job/CentOS/100/execution/node/39/log/ they seem to be passing.

[2019-11-18 18:02] jessemapel commented on #3526
Yep, looks like after this morning's rsyncs they are passing agin

[2019-11-18 18:02] #3526 closed, assigned to Kelvinrr

[2019-11-18 19:45] jessemapel commented on #3539
Now passing after this morning's rsyncs

[2019-11-18 19:45] #3539 closed, assigned to jessemapel

[2019-11-18 19:46] #3514 closed, assigned to jessemapel

[2019-11-18 20:03] lwellerastro opened #3542 "Kaguya TC missing label keyword"
**Description**
Please add the keyword ILLUMINATION_CONDITION to the isis3 image label.  Either under Instrument group or Archive.  This is a very valuable keyword and although I can find it in the pds files and by running origcatlab it would be most useful to have it somewhere in the isis3 cube label.  It will likely be sought out frequently.

Also consider removing the geometry keywords from the

[2019-11-18 20:14] ladoramkershner commented on #3519
This is what I have for the failing app tests currently.

[code]

I don't see photomet_app_test_testDemWarning

[2019-11-18 20:56] Kelvinrr commented on #3518
App is expanding the path and writing it into output, I'll put in a PR to patch it.

[2019-11-18 21:17] scsides commented on #3534
Changing this caused pvldiff to fail it "ignore paths" test, so that has been fixed too.

[2019-11-18 21:17] jessemapel commented on #3519
Looks like rsyncs this morning fixed it after this weekend's failures

[2019-11-18 21:17] #3519 closed, assigned to ladoramkershner

[2019-11-18 21:27] jessemapel commented on #3534
Copy and pasting my comments from #3541:

[2019-11-18 21:51] #3518 closed, assigned to Kelvinrr

[2019-11-18 21:53] #3520 closed, assigned to AustinSanders

[2019-11-18 21:59] #3522 closed, assigned to krlberry

[2019-11-18 22:11] ladoramkershner commented on #3513
I was wrong. PR #3545

[2019-11-18 22:11] #3513 closed, assigned to ladoramkershner

[2019-11-18 22:26] jessemapel commented on #3534
Fixed by #3541

[2019-11-18 22:26] #3534 closed, assigned to paarongiroux

[2019-11-18 22:27] jessemapel commented on #3521
Fixed by this morning's rsync.

[2019-11-18 22:27] #3521 closed, assigned to AustinSanders

[2019-11-18 23:09] lwellerastro commented on #3542
@jessemapel could you add the products label as well?

[2019-11-18 23:23] jessemapel commented on #3542
@jlaura Can you give @lwellerastro and @blandoplanet permissions to tag things with labels? They are contributors under our new TC setup, so it makes sense for them to have the permissions for this.

[2019-11-18 23:24] jessemapel commented on #3542
Either triage or write level permissions should do.

[2019-11-19 00:59] jessemapel opened #3546 "Clean up the release process wiki page"
**Description**

We've made several changes recently to the recent process and the release process wiki page has gotten messy.

**Suggested Edit**

The lines that actually describe what to do are mixed with lines that explain why you need to do it. We should separate these out, so that it is very clear when you need to do something.

We should also move the section about what to do after building

[2019-11-19 01:16] AustinSanders commented on #2034
@kberryUSGS It looks like test data for coloroffset needs to be updated and varexp need to be added.

[2019-11-19 14:59] scsides commented on #3534
I believe this is referring to writing out the full path -vs- paths with variables of support files to the cube labels, if not so, please correct me.  The reason the ISIS variables were created was to allow people to share cubes and not have local paths sprinkled through the labels, files lists, ... The file name is what is supposed to make the calibration file unique not the path. This is why nea

[2019-11-19 17:25] scsides opened #3547 "Remove flipping options for MRO MARCI import, calibration, camera"
**ISIS version(s) affected**:  up to and including 3.9.1

**Description**

Support for MRO MARCI is less than optimal. The ingest program is flipping framelets and/or the image under some circumstances. The logic for when it does and does not is fragile. It is based on the correlation of where the first two framelets should overlap. This flipping is unusual for ISIS support of push frame instrumen

[2019-11-19 20:44] jessemapel commented on #3534
@scsides That make senses why we would not want expanded paths.

[2019-11-19 20:49] jessemapel commented on #3547
I am just making a note on here to link to all of the other issues that this involved.

[2019-11-19 21:00] scsides opened #3550 "Possible bug in marcical"
**ISIS version(s) affected**: 3.9.1

**Description**

The calibration for MRO MARCI (marcical) may have a bug.

Before the main calibration processing loop maxOffset is set to the max of the padding vector. During the loop maxOffset is updated when the band changes to a new band, but only if the MARCI file was flipped during ingestion. This very well may be correct, but it looks suspect.

**How to

[2019-11-19 23:59] jessemapel commented on #3523
Now passing 😄

[2019-11-19 23:59] #3523 closed, assigned to scsides

[2019-11-20 00:04] jessemapel commented on #3468
I can confirm I was able to reproduce this on my Mac. On Mac OS 10.13, I ran qmos over X11 on an Ubuntu 18 system and when I moved the open file dialog from one monitor to another it disappeared. My main window was still locked indicating the sub window was still open.

[2019-11-20 00:20] jessemapel commented on #3468
I was also able to confirm this was a problem in ISIS3.5.0

@meganhenriksen What are you using to do X11 on your mac? I was able to reproduce this with XQuartz.

[2019-11-20 18:34] jessemapel opened #3551 "edrget is failing in OSX Jenkins tests"
This is due to the machine that runs the OSX Jenkins test's firewall. For security reasons we should not open up specific ports for the tests. A better solution would be to split apart the edrget app and just test that it properly formats the download request.

[2019-11-20 18:38] jessemapel commented on #3416
For right now, I have cloned the wiki on a separate repository:

https://github.com/USGS-Astrogeology/ISIS_wiki/tree/master/tutorials

Tutorials can be submitted via pull request on that repo. In the future I want to investigate how to setup automated merging and pushing to the wiki on this repo.

[2019-11-20 18:38] #3416 closed, assigned to jessemapel

[2019-11-22 20:52] AaronBoyd opened #3553 "Jigsaw Constrain Parameters Not Functioning"
**ISIS version(s) affected**: 3.5.1 to current (3.9.1)
**Description**
Jigsaw does not respect the constraints placed on points when the point type is set to constrained and a sigma value (point_latitude_sigma, point_longitude_sigma, and point_radius_sigma) is used to constrain the point movement.

**How to reproduce**

if the user sets the constraint to 0.5, jigsaw might still move the point 50 m

[2019-11-22 21:03] AaronBoyd opened #3554 "Jigsaw parameter spksolvedegree and spkdegree not functioning"
**ISIS version(s) affected**: 3.5.1 to current (3.9.1)

**Description**
The spksolvedegree option appears to mis-calculating if it can fit a spline to the data. Jigsaw breaks before trying to fit the data (i.e. it says it cannot fit a 4th degree polynomial to 200+ data points. Max spksolvedegree is 2

The spkdegree option appears to mis-calculating if it can fit a spline to the data. Jigsaw breaks

[2019-11-22 21:07] AaronBoyd opened #3555 "Jigsaw parameters not functioning: overhermite"
**ISIS version(s) affected**: 3.5.1 to current (3.9.1)

**Description**
The overhermite option under spacecraft options when solving is not working in current versions.

**How to reproduce**
Use the option
overhermite= true
and the program will fail.

**Possible Solution**

**Additional context**

[2019-11-22 21:46] lwellerastro commented on #3555
Hi @AaronBoyd,  could you be a little more specific with your command line and what data set you are attempting to apply this to?

I can not reproduce your error using overhermite=true under isis3.9.1 or isis3.9.0 when applied to ThemisIR images in the following manner:

There may be something about how how you are running jigsaw that is creating the problem so having more information will help up

[2019-11-22 21:57] lwellerastro commented on #3554
Hi @AaronBoyd, this caught my eye in your jigsaw command:

I am not going to try and explain the ck/spk degree options as I have used them minimally and under the guidance of a photogrammatrist, but I recognize that your value of 100 is unusual.  We have applied these settings only for very long line scan images (nearly pole to pole) or radar images.  In both cases we have not exceeded 3 (maybe 4

[2019-11-22 22:07] lwellerastro commented on #3553
You might consider setting PointType=Fixed if you don't want it to move.  That is a pretty tight constraint.

That being said, the constraints set via point_longitude, latitude and radius_sigma are applied to Free points only, not constrained.  Constrained points need to have their constraints set manually via qnet by selecting the PointId in the navigator and selecting "Set Apriori/Sigmas" (you c

[2019-11-22 22:46] jessemapel commented on #3553
@AaronBoyd How were you setting the point constraints? Were you updating them internally in the network or were you passing them through the jigsaw arguments?

The sigma values are just apriori uncertainties and not hard constraints. They are converted into weights in the solution which limits but does not absolutely restrict how far points can be moved.

[2019-11-22 22:58] jessemapel commented on #3554
This may be an issue with observation mode. Can you try this with observation mode disabled? Can you also enable the full stack trace in your IsisPreferences file:

[code]

[2019-11-22 23:13] jessemapel commented on #3554
a couple other comments:

First, this is a rather complex combination of settings which may be exposing some conflicts that we didn't anticipate.

Second, using overhermite with spkdegree is redundant (same with overexisting and ckdegree). What spkdegree does is set the degree of the initial polynomial that is fit over the data is set to. Then, spksolvedegree sets the degree of the polynomial that

[2019-11-22 23:14] jessemapel commented on #3555
I can also confirm that we've used overhermite extensively in CTX processing without problems. Is this the same error as #3554?

[2019-11-25 17:34] kaitlyndlee commented on #3491
In the isis3/data/cassini/calibration directory, there is a readme with instructions on how to update cisscal. The file is `readme_update_steps.txt`.

[2019-11-26 21:50] victoronline opened #3562 "Enable slpmap to accept cubes made with elevation instead of only radius information."
**Description**
Currently, DTMs must use cubes made with radius information for slpmap's height calculations. Slpmap gives an error message if the cube was made using elevation as height instead of radius.

The feature being requested is to add the option to accept cubes made with elevation information rather than only cubes with radius information, and prompt the user for the body radius to be ad

[2019-11-26 22:18] jessemapel commented on #3562
This sounds like a reasonable enhancement and wouldn't take long. Should it accept a single radius or full tri-axial radii?

[2019-11-27 19:43] oleg-alexandrov opened #3564 "Header files at make install and via conda"
These are two related issues regarding header files:

- When doing make install, libraries get installed, but not header files. I know this is not important for the end user, but it is very useful if one wants to build against ISIS. I have to do this extra step manually.

 - Conda distributes the ISIS libraries but not the ISIS headers. I thought including the headers is a standard practice for ot

[2019-11-27 22:12] jessemapel commented on #3564
The second problem is likely caused by the first. Conda-build uses the install Target when building for distribution.

[2019-12-01 19:58] oleg-alexandrov commented on #3564
I made a pull request here: https://github.com/USGS-Astrogeology/ISIS3/pull/3565

[2019-12-02 17:17] BereketDM commented on #672
I would just like to add that I am using ISIS3.9.0, and I have noticed it is not just pixels with DN=255 that are being converted to HRS by ciss2isis. Other values, larger or smaller than 255, are also being converted.

[2019-12-02 17:28] michaelaye commented on #672
Uh, that would be bad. @jessemapel or @jlaura is it easy to point a new conda install to an older ISIS version so that I could compare? Are both versions on your Anaconda channel available? If not, I’d actually vote for that to happen in the TC.. ;)

[2019-12-02 17:30] jessemapel commented on #672
What do you mean by "point a new conda install to an older ISIS version"?

[2019-12-02 17:31] michaelaye commented on #672
Create a new environment I should have said.
On Dec 2, 2019, 10:30 -0700, Jesse Mapel <notifications@github.com>, wrote:

[2019-12-02 18:08] jessemapel commented on #3361
This has been resolved in #3549. We removed cmake from the install environment and now only have it in our build environment.

[2019-12-02 18:08] #3361 closed, assigned to nobody

[2019-12-02 18:12] jessemapel commented on #672
@michaelaye We have all of our versions since 3.6.0 available on Anaconda cloud. You should be able to install a different version into a different environment. You may have some problems with really old ones because they are pinned to very specific builds that do not exist anymore (see #648).

[2019-12-02 18:14] BereketDM commented on #672
I am sorry for not giving a clear description of what I noticed, but the pixel values I noticed that are not 255 are in IDL CISSCAL. I see pixel values of 255 when inspecting the same pixels in ISIS3.9.0 after ingesting images using vicar2isis. It is when ingesting images with ciss2isis that these pixels become HRS pixels.

[2019-12-02 18:29] jessemapel commented on #672
@michaelaye We have all of our versions since 3.6.0 available on Anaconda cloud. You should be able to install a different version into a different environment. You may have some problems with really old ones because they are pinned to very specific builds that do not exist anymore (see #648).

[2019-12-02 18:42] jessemapel opened #3566 "Removing GCC 4 compiler support"
Right now, we support **compiling** ISIS with two versions of GCC, 4 and 7. This has allowed us to continue to support development and compilation on old CentOS systems, but requires some additional work. Binaries compiled with GCC are forwards compatible, but not backwards compatible. That is, libraries compiled with GCC 4 are compatible with libraries compiled with GCC 7, but not visa-versa. To

[2019-12-02 20:19] #3564 closed, assigned to nobody

[2019-12-03 19:19] victoronline commented on #3562
We only need it to be a single radius. As for whether it "should" be full tri-axial radii, I'm not sure. Jesse, I have the code ready to go with the exception of the testing.

[2019-12-04 15:51] jessemapel commented on #3562
@victoronline We've got a mission support sprint coming up in two weeks. If you can put up a PR and send us a test and test data we can get this reviewed by then. If it's not a large change, we can probably get this reviewed before then.

[2019-12-05 17:01] foobarbecue opened #3570 "Can't install gdal into isis3 environment"
Conda fails if requested to install both isis3 and gdal into the same environment.

This was mentioned in closed issues #615 and #648 , but is still a problem, so I thought it would be worth opening a specific issue.

**Description**

**How to reproduce**
Create test.yml (on Dec 5 2019) with:

[code]

Run  `conda env create -f test.yml`

expect things to install, instead conda goes into conflictio

[2019-12-09 17:52] lwellerastro opened #3573 "Qmos grid broken for PosWest, Clon0 under isis3.9.1"
**ISIS version(s) affected**: 3.9.1

**Description**
The grid function does not draw properly under this version using a map having LongitudeDirection=PositiveWest and LongitudeDomain=180 (with clon=0).  This is not the case under isis3.9.0, so this appears to have been introduced when changes were made by way of #3417.

See attachments below for 3.9.1 (top) vs 3.9.0 (bottom) views.

**How to repr

[2019-12-09 18:17] lwellerastro opened #3575 "cnetcombinept - request for new output file"
**Description**
The user has no way of knowing what points gained new measures when points that fall within the IMAGETOL value are combined.  It would be nice to know what points were affected for validation purposes, particularly when one is trying to decide on an appropriate tolerance value.

**Example**
I'm thinking the most direct way to satisfy this request is the creation of a file containin

[2019-12-09 19:46] jlaura commented on #3546
@jessemapel Is this done?

[2019-12-09 20:12] jessemapel commented on #3546
Not quite, we still need to update the last 3 sections.

[2019-12-09 21:11] dpmayerUSGS commented on #3504
@ladoramkershner According to [marcical.txt](https://pds-imaging.jpl.nasa.gov/data/mro/mars_reconnaissance_orbiter/marci/mrom_1148/calib/marcical.txt) in the latest volume of MARCI data, the flat files were updated beginning with MARCI volume `mrom_0033`, although there's no description of what changes were made or why.

Other than a possible scale factor issue, can you reproduce any of the cubes

[2019-12-10 20:24] Kelvinrr opened #3584 "Rewrite FindFeatures Filter test"
**ISIS version(s) affected**: 3.9.1 and above

**Description**

The filter app test for findfeatures is super brittle as any minor change in ISIS dependencies can cause output control networks to change,

**How to reproduce**

**Possible Solution**

Disable the test until we can rewrite it in such a way that is less brittle when we begin to write gtests for apps.

**Additional context**

[2019-12-11 21:14] jessemapel commented on #3546
Done

[2019-12-11 21:14] #3546 closed, assigned to jessemapel, ladoramkershner

[2019-12-12 22:08] arozhok opened #3592 "Modules exit without completing operation due to the absence of the file "CubeFormatTemplate.pft""
The program exits with the following notification:
[code]
The route /data/base/templates/labels/ does not exist indeed just as the file in the installation

**ISIS version(s) affected**: 3

**Description**

**How to reproduce**

**Possible Solution**

**Additional context**

[2019-12-12 22:31] jessemapel commented on #3592
Do you have your data area setup correctly?

https://github.com/USGS-Astrogeology/ISIS3#the-isis-data-area

[2019-12-12 23:18] arozhok commented on #3592
jessemapel - many thanks! I haven't done that, as I am a novice with ISIS. But thanks for the instruction link! Now everything works

[2019-12-13 02:23] krlberry opened #3595 "Several unit tests fail if isis3Data has a trailing slash"
**ISIS version(s) affected**: 3.10.0

**Description**
The following tests fail if ISIS is built with `-Disis3Data=/usgs/cpkgs/isis3/data/` (seemingly regardless of the current value of `$ISIS3DATA`):

The following tests FAILED:
         62 - isis3_unit_test_Equalization (Failed)
         88 - isis3_unit_test_Histogram (Failed)
        113 - isis3_unit_test_JP2Importer (Failed)
        147 - isis3

[2019-12-13 17:38] #3592 closed, assigned to nobody

[2019-12-13 17:58] Kelvinrr opened #3597 "Solar longitude requires spice kernels"
**ISIS version(s) affected**: 4.X.X

**Description**

Spice::computeSolarLongitude is only computed for the center time from Spice kernels outside `campt`.  This is an issue when using Ale since no SPKs or CKs are loaded causing solar long to return as ISISNULL.

**How to reproduce**

run campt on any image from a dev version on ISIS.

**Possible Solution**

This should be changed to compute it ba

[2019-12-13 18:09] Kelvinrr opened #3598 "Move Solar longitude computation to campt"
**ISIS version(s) affected**: 4.X.X

**Description**

Solar Longitude doesn't really seem to be used outside campt and the implementation in Spice::computeSolarLongitude seems a bit hacky.  We also need to make sure that the new implementation works well with both ISIS and ALE inited cubes.

**How to reproduce**

**Possible Solution**

Move solar longitude to CameraPointInfo or have it be computed

[2019-12-13 23:47] KrisBecker opened #3600 "Oblique Detector Resolution Should Use Local Emission Angle"
**ISIS version(s) affected**: All

Note the OSIRIS-REx team has a custom version of ISIS we have been maintaining and have modified code to address issues we have encountered working with small irregular bodies.

**Description**

The oblique detector resolution that is being calculated in the [Camera::ObliqueDetectorResolution()](https://github.com/USGS-Astrogeology/ISIS3/blob/dev/isis/src/base/ob

[2019-12-14 00:14] KrisBecker opened #3601 "Detect and Fix Bad GIS Footprints in isisminer"
**ISIS version(s) affected**: All

Note the OSIRIS-REx team has a custom version of ISIS we have been maintaining and have modified code to address issues we have encountered working with small irregular bodies.

**Description**

This was a show stopper for isisminer as it crashed when bad GIS footprints were  encountered. This can occur frequently with irregular shapes and ones that were built of

[2019-12-14 00:50] KrisBecker opened #3602 "Modify noproj/cam2cam to Project OffBody Pixels"
**Description**

Enhance noproj and cam2cam to essentially project all pixels in the focal plane - on and/or off the target body - to the output image. This has been extremely useful in detecting and tracking ejected particles from Bennu's surface.

Two program parameters were added - OFFBODY and OFFBODYTRIM.

OFFBODY=TRUE will project both target body and background pixels according to the distor

[2019-12-16 16:18] jessemapel opened #3603 "Re-enable NGINX cache on Jenkins CI"
**ISIS version(s) affected**: dev

**Description**

I disabled the NGINX Anaconda cache because it was slow to update and we were pushing one to two release of ALE a day. Now that we're not working on ALE anymore, we should re-enable the NGINX cache on Jenkins to speed up builds.

**Possible Solution**

Uncomment the line in the build.groovy script.

**Additional context**

The cache was disabled

[2019-12-16 16:23] jessemapel commented on #3313
edrget is causing trouble again. It is intermittently timing out during Jenkins tests.

[2019-12-16 16:43] jessemapel commented on #3600
### Why this is important

The oblique detector resolution is suppose to be a more accurate measurement of the resolution. So, we should use the most accurate surface model available. For irregular bodies, there can be large variations in the surface normal, and thus the emission angle. In these situations, the ellipsoid based emission angle is insufficient.

[2019-12-16 16:48] jessemapel commented on #3602
### Why this is important
Particle events and plumes are of scientific interest on various small bodies. On Bennu, particles have been found off the surface of the body and this modification was required to produce high quality data. On CG-67P, there are several surface plumes captured in imagery. This enhancement would help scientists study these plumes. I do not doubt that we will see further ex

[2019-12-16 16:51] jessemapel commented on #3601
### Why this is important
The OSIRIS-REx IPWG pipelines leverage isisminer extensively so a failure like this breaks their pipelines. This type of occurance is to be expected on irregular bodies because the footprints exist in Lat/Lon space, which is not homeomorphic to the true surface.

[2019-12-16 16:54] KrisBecker opened #3605 "Extract Pre-Existing statistics from the CameraStatistics Table Object in caminfo"
**Description**

The caminfo application computes a rather large amount of useful geometric and observational data for a given image when CAMSTATS=TRUE. Much of this data is redundant with data computed by the camstats application which adds the data to the cube in a Table object called CameraStatistics. We added an option to read the data from the CameraStatistics table rather than recompute each

[2019-12-16 17:07] jessemapel commented on #634
I think this is too far out now to be realistic. Does anyone have thoughts on how to handle this ~6 months out?

[2019-12-16 17:09] KrisBecker opened #3606 "Modify mosrange to Not Abort on Bad Images"
**Description**

Occasionally, mosrange would fail on one or more images which aborts the application. We altered mosrange to trap failing calculations for each image, log the image and remove it from the list. mosrange continues to completion processing as many image cubes as possible.

We found that this issue could occur rather frequently and randomly due to issues with SPICE data and shape mod

[2019-12-16 17:11] jessemapel opened #3607 "Clean up branches"
We've got a lot of branches floating around on the repo. Here's the current list:

[code]

I'd like to go through and clean these out. Please post here if there are branches you know can be removed or should not be removed.

For example

* `jessemapel-patch-1` through `jessemapel-patch-7` can be deleted as they have been merged or closed.
* All of the `3.X` branches should be kept around as they a

[2019-12-16 17:13] jessemapel commented on #3605
### Why this is important
When working with large DSK shape models, the largest cost in almost any process is the instantiation of the shape model. For this reason, regenerating all of the camstats is a very expensive operation when processing data from irregular bodies. By re-using previously generated statistics, caminfo can be much more efficiently.

[2019-12-16 17:17] jessemapel commented on #3606
### Why this is important
If working with the current version of mosrange, weeding out bad images requires iteratively running the application. This can be a time consuming and tedious process when working with large volumes of data. By allowing mosrange to do as much as possible, you can run mosrange once then remove and/or check all of the bad images in a single pass. It is also easier and more

[2019-12-16 17:20] dpmayerUSGS commented on #3504
Via email from Kim Supulver at MSSS:

[2019-12-16 18:18] victoronline commented on #3562
Jesse, what would the deadline be to get this in for the sprint?

[2019-12-16 18:27] volcanopele opened #3608 "LunarLambertEmperical not working properly in Photomet"
**ISIS version(s) affected**: 3.9

**Description**
Using Photomet on a batch of CaSSIS Images.  Photometric model used is LunarLambertEmpirical.  Parameters in PVL files generated by phoempglobal .  I get several PROGRAMMER ERRORS:

[code]

**How to reproduce**

Code used, Can provide images for testing:

[code]

**Possible Solution**

**Additional context**

[2019-12-16 20:03] jessemapel commented on #3369
Here are the use cases we are considering for this:

1. Different mission, different sensor
    1. LRO NAC & Apollo Metric
    1. MRO CTX and TGO CaSSIS
    1. Galileo SSI & CaSSINI ISS
1. Same mission, different sensor
    1. MRO CTX & HiRISE
    1. New Horizons LORRI & MVIC
    1. OREx MapCam & PolyCam
1. Same mission, same sensor
    1. Chandrayaan-1 M3, pre and post star tracking
    1. MESSEN

[2019-12-16 20:24] jessemapel commented on #3369
We're going to use a PVL config file to control this because it is far to complex for the command line interface. the config file will allow for setting the following jigsaw arguments on a per observation basis:

1. Pointing options
    1. CAMSOLVE
    1. TWIST
    1. CKDEGREE
    1. CKSOLVEDEGREE
    1. OVEREXISTING
    1. CAMERA_ANGLES_SIGMA
    1. CAMERA_ANGULAR_VELOCITY_SIGMA
    1. CAMERA_ANG

[2019-12-16 21:15] Kelvinrr commented on #3468
I was able to replicate this using non-ISIS apps. Specifically, the sub-window doesn't join the other monitor's desktop and instead stays within same desktop but out of view. This seems to be an XQuartz issue. I will spend some time to see if I can find a workaround. Can you answer Jesse's question about what you are using for X11 on Mac?

[2019-12-16 21:30] Kelvinrr commented on #3468
![destop_issue](https://user-images.githubusercontent.com/13245976/70944450-52446100-2010-11ea-80fd-69af9ff0736e.gif)

Example showing the problem. Note when I zoom out and the window is still in the same desktop but out of view (you just have to trust it disappeared as soon as I dropped it into the other desktop). And this happens with any app I use x11 forwarding on from Ubuntu to Mac, not just

[2019-12-16 21:30] lwellerastro commented on #3369
@jessemapel, I'm not completely sure (because I haven't tried it yet), but I thought this capability in IPCE would would allow for different jigsaw arguments in the case of different mission, different sensor, but same type of sensor - for instance, Galileo SSI (framer) and Voyager (framer).  Is this scenario captured in case I. iii., Galileo SSI & CaSSINI ISS?  I think so, I would just like a con

[2019-12-16 21:34] lwellerastro commented on #3369
I thought Ken had something already implemented in jigsaw to accept a PVL for this functionality, but never exposed it to the user by way of new parameters.  I vaguely recall the possibility of having the PVL point to a list of images that each set of solve parameters would work on.  Clunky, the whole PVL idea is a little cumbersome, but would get the job done.

Is the old work not useful under th

[2019-12-16 21:36] gravatite commented on #3468
We are also using XQuartz at LROC.

[2019-12-16 21:44] jessemapel commented on #3369
@lwellerastro We found Ken's old code from this and some test data from him. It looks like the PVL interface was created but then thrown away and a new interface was created to support the current work in IPCE.

Unfortunately, Ken's old PVL interface keys off of the instrument ID and the new IPCE interface keys off of the observation. So, we will need to add some extra code in jigsaw to convert fr

[2019-12-16 21:45] lwellerastro commented on #3369
Doh!  You type faster than I do - I just added to my previous comments.

Thanks for the information @jessemapel !

[2019-12-16 21:46] jessemapel commented on #3369
Yes this would be supported.

[2019-12-16 21:47] jessemapel commented on #3369
After looking at Ken's work, instead of using per-image settngs, we're going to go with per sensor settings. Here's the Apollo Metric, LRO NAC, LO config file Lynn mentioned above:

[code]

We could eventually allow for selections based on something other than instrument id as this doesn't support same missions, same sensor settings. That gets into adding logic though and that type of stuff is ver

[2019-12-16 22:01] Kelvinrr commented on #3468
XQuartz issue currently open: https://gitlab.freedesktop.org/xorg/xserver/issues/764

A workaround that I tested and worked: https://discussions.apple.com/thread/5477021

That workaround requires a reset on your Mac box and would put you in a legacy mode that is less than ideal if you really like your multi-desktop setup in MacOS. But it seems like an issue Apple and Xquartz need to sort out and s

[2019-12-16 22:10] jessemapel commented on #3369
[ ] Write tests
[ ] Add new argument to jigsaw
[ ] Create the serial number list in `QList<BundleObservationSolveSettings> observationSolveSettings(UserInterface &ui)`
[ ] Add if/else to `QList<BundleObservationSolveSettings> observationSolveSettings(UserInterface &ui)` to create one BundleObservationSolveSettings for every group in the config file and add the observation numbers to them
[ ] Check

[2019-12-16 22:30] scsides commented on #1473
Current list of calibration programs and classes that use spicelib furnsh to load kernels:
isis/src/galileo/apps/gllssical/main.cpp
isis/src/lro/apps/lronaccal/main.cpp
isis/src/lro/apps/lronaccal/main.cpp
isis/src/lro/apps/lronaccal/main.cpp
isis/src/lro/apps/lronaccal/main.cpp
isis/src/lro/apps/lronaccal/main.cpp
isis/src/lro/apps/lrowaccal/main.cpp
isis/src/lro/apps/lrowaccal/main.cpp
isis/src/

[2019-12-16 22:32] scsides commented on #1473
Related: #1790

[2019-12-16 22:47] rbeyer commented on #1473
I don't see hical on the list, but I know it makes SPICE calls down in the guts.  For example, in https://github.com/USGS-Astrogeology/ISIS3/blob/dev/isis/src/mro/objs/HiCal/HiCalConf.cpp, which is included from hical, but not in the hical/main.cpp file, there are furnsh_c calls.

[2019-12-16 22:57] jessemapel commented on #3369
Here's some explanation about why Ken's test code was removed prior to merging

https://github.com/USGS-Astrogeology/ISIS3/blob/dev/isis/src/control/apps/jigsaw/jigsaw.xml#L350

[2019-12-16 22:57] scsides commented on #1473
Thanks Ross, got a little tight with my grep. List has been updates

[2019-12-16 22:59] rbeyer commented on #1473
I figured.  However, if you missed that one, there might be others that are included in a similar fashion, so not as easily detectable.  Good luck!

[2019-12-16 23:00] scsides commented on #1473
I added all the objs in isis, and there are others, but they all look like ingestion apps

[2019-12-16 23:58] jessemapel commented on #1473
@Kelvinrr Here's the list of all of the other places we could read off cubes instead of furnshing kernels directly.

[2019-12-16 23:59] jessemapel commented on #1473
Also to capture some discussion from this morning. If we add the ability to use SPICE data already on the images from spiceinit, do we maintain the current behavior of furnshing kernels if the images haven't been spiceinit'd or do we raise an exception and require spiceinit to be run?

[2019-12-17 00:02] scsides commented on #1473
The list only contains the calibration related code. There are several ingestion programs that also furnish kernels, but they are a harder problem.

[2019-12-17 00:18] jessemapel commented on #3562
@victoronline Whenever you get the PR in we will review it and start working with you. If you get it in this week we'll just be a bit more responsive.

To get your changes out in the next release, it needs to be merged prior to January. I don't think we've picked an exact date to freeze the code for the release, but I'd image it would be the 6th or the 13th.

[2019-12-17 02:30] michaelaye opened #3610 "cisscal calibration fails for I/F units"
**ISIS version(s) affected**: x.y.z
3.9.1
**Description**

`cisscal` fails to calibrate towards I/F units:

[code]

**How to reproduce**

* Download https://pds-rings.seti.org/holdings/volumes/COISS_2xxx/COISS_2115/data/1880794265_1880940914/N1880813812_1.LBL
* Download https://pds-rings.seti.org/holdings/volumes/COISS_2xxx/COISS_2115/data/1880794265_1880940914/N1880813812_1.IMG
* ciss2isis from=N

[2019-12-17 16:47] lwellerastro commented on #3610
I can reproduce this error.  I also tested under isis3.9.0, isis3.8.0 and isis3.7.0 since there have been a number of changes to this software over the past few months - they all fail in the same way.

Perhaps the target (SKY, I see rings), is causing the problem.  I have not encountered this sort of error when working with Titan or Enceladus data.

[2019-12-17 16:52] krlberry commented on #3608
@volcanopele Could you send images for testing to me at kberry@usgs.gov? I can't reproduce this with some arbitrary CaSSIS images I tried to test with. Also, what values are `$TAU` and `$BLUETAU` in your example above?

[2019-12-17 17:47] michaelaye commented on #3610
So, years ago we had a similar issue with `spiceinit` failing:
https://isis.astrogeology.usgs.gov/IsisSupport/index.php/topic,3922.0.html
and I implemented a workaround, specific for ring data:

[code]
but this doesn't work anymore since ISIS 3.9.1, it seems (although I'm not sure since when it doesn't) and the error appears with `cisscal` instead of `spiceinit`.

[2019-12-17 17:52] michaelaye commented on #3610
Hm, I confirmed that this specific image doesn't work in 3.8.1 either, using this workaround:

[code]

Need to dig further which scenario fails (only this image?) and which doesn't.

[2019-12-17 18:04] lwellerastro commented on #3610
I just got everything to work under isis3.9.1 doing the following:

It seems you did things in this order, but you don't say so explicitly.
Could you try my order and see if that does it?

[2019-12-17 18:05] michaelaye commented on #3610
oh, might have forgotten the rerun of spiceinit. will check.

[2019-12-17 18:08] lwellerastro commented on #3610
Well, I just looked at the calibrated file and although it looks ok, there are no lat/lons, but maybe this is expected because of the target?  I have zero experience with this type of data.

[2019-12-17 18:12] michaelaye commented on #3610
i'm in a telecon right now, but for ring data you got to do:

`spiceinit from=...  shape=ringplane`

[2019-12-17 18:13] michaelaye commented on #3610
i mean, you don't have to, but i usually reproject later to the ringplane.

[2019-12-17 18:19] lwellerastro commented on #3610
Qview has a problem with the data after spiceinit shape=ringplane - error about North Azimuth not being available.  Darn pop up will not go away.  You familiar with this problem?  That would be a new post if "no".

[2019-12-17 18:20] michaelaye commented on #3610
haven't seen it in 3.8.1

[2019-12-17 18:26] lwellerastro commented on #3610
Yeah, works there, break/bug begins in isis3.9.0
Wonder what was added/removed that is creating the problem.

[2019-12-17 19:03] thareUSGS commented on #3562
@victoronline I think what you want already exists and was originally addressed by this closed ticket ~5 years ago: https://github.com/USGS-Astrogeology/ISIS3/issues/1795 .

The confusion might stem from fact that the Pixres parameter defaults to "Automatic" which implies it should be smart enough to handle topography in radius or more typical height elevations. But to allow for calculations from

[2019-12-17 23:11] michaelaye commented on #3610
I confirm that this script works in 3.9.1:

EDIT: Sorry I renamed filenames to `test.xxx` for this script.

[code]

Note that `web=yes` doesn't work with `shape=ringplane`, but works for default shape.

[2019-12-18 00:12] thareUSGS commented on #3562
@victoronline So there is a use case that is currently not supported which your runtime user defined radius would still help with. This use case would be (1) you **must** use the Latitude dependent method (`pixres=automatic`), maybe helpful for say a global file) AND (2) your input file is stored in 32bit height elevations.

Thus you may still want to submit your PR for this specific use case. But

[2019-12-18 01:51] Kelvinrr commented on #3468
Closing. If anything changes we can re-open.

[2019-12-18 01:51] #3468 closed, assigned to Kelvinrr

[2019-12-18 20:19] jessemapel commented on #3369
@paarongiroux IPCE results to compare against: `/work/users/jmapel/mutli_sensor/viking_ctx_test/ipce_test_results`

I bundle adjusted `/work/users/jmapel/mutli_sensor/viking_ctx_test/CTX_and_VO_measures_merged.net` and `/work/users/jmapel/mutli_sensor/viking_ctx_test/all_cubes.lis` with the default IPCE settings which are:
* Do not solve for position
* Solve for angular acceleration over existing

[2019-12-18 21:26] krlberry commented on #3608
Data received, thanks!

[2019-12-18 21:26] kberryUSGS commented on #3608
Data received, thanks!

[2019-12-19 00:12] jessemapel commented on #3369
I've got two testing networks ready to go now. The MRO CTX and Viking network is located at `/work/users/jmapel/mutli_sensor/isis_tests/seed_add_edit_reg_21_31_clean_thin.net` and the PLUTO network is at `/work/users/jmapel/mutli_sensor/pluto/seed_add_edit_ref_reg_clean_hand_clean.net`.

The viking/ctx network is fairly good. The Pluto network is kind of meh. The MVIC image has different lighting

[2019-12-19 17:02] lwellerastro commented on #3369
If you're interested, I have some test cases - one that appears to be Ken's star case involving Lunar Orbiter, Apollo Metric and LROCNAC and on that involves Themis IR and Viking Orbiter.

I believe the lunar case is one of Ken's test cases, but the lists in his directory (/work/projects/progteam/kedmundson/jigsaw_tests/multiple_sensors/) point to data that have been moved.  Sometime in 2018 I gat

[2019-12-19 17:28] jessemapel commented on #3369
@lwellerastro Thanks! That should be plenty of test cases.

[2019-12-23 15:50] krlberry commented on #3608
#3614 should fix the problem described in this ticket, but I just noticed that `MinnaertEmpirical` has the same failure mode, and could be fixed the same way. @jlaura does it make sense to add this fix as part of this ticket, or to create a new ticket?

[2019-12-30 19:16] jlaura commented on #3610
@michaelaye It looks like this is not a software bug?

[2019-12-30 19:17] jlaura commented on #3608
@kberryUSGS We should open a new ticket and label as missions. Can we close this issue with #3614 being merged?

[2019-12-30 19:17] jlaura commented on #3607
`jlaura-*` can all be removed

[2019-12-30 19:19] jlaura commented on #3595
@kberryUSGS Has this been fixed with the ALE work that went on getting tests fixed?

[2019-12-30 19:21] jlaura commented on #3603
@jessemapel @Kelvinrr Is this making an appreciable difference in the speed? Are we intentionally keeping this disabled while working on the ISIS dependencies? Can we re-enable when @Kelvinrr is doing the groovy/jenkins work?

[2019-12-30 19:33] jessemapel commented on #3603
Time without the cache is 6:30-7:00 minutes
Time with the cache was 3:00-3:30 minutes

So we're looking a maximum of 4 minutes saved.

[2019-12-30 20:18] Kelvinrr commented on #3607
Cleaned up a few of mine. Do we want to delete versioned branches? (3.8, 3.9 etc)? Or rather, in general, which do we definitely not want to remove.

[2019-12-30 20:20] jessemapel commented on #3607
Technically all of our releases are tagged on the tree, so I don't see a need to keep old version branches around. We're not going to release a patch for version 3.7.1

[2019-12-30 22:34] michaelaye commented on #3610
I guess not, but I was wondering if the error message can be improved in a way where the error would state why the solar flux can’t be calculated? I’m also not sure why that isn’t possible? I created a spice routine that calculates the intersect point of the camera boresight with the ring plane in j2000 coords, should we maybe implement that here?

[2019-12-31 16:18] krlberry commented on #3595
@jlaura, no this was not fixed.

[2019-12-31 23:04] #3608 closed, assigned to krlberry

[2019-12-31 23:12] krlberry opened #3621 "photomet MinnaertEmpirical will not work with certain formats of pvl input"
**ISIS version(s) affected**: all ISIS3 versions

**Description**
`photomet` will fail when used with the `frompvl` parameter and `model=MinneartEmpirical` if the pvl specified was of the format has keywords of the form:
`PvlKeyword = (1,2,3,3,4)` rather than `PvlKeyword="1,2,3,4"`

This is technically documented at: https://isis.astrogeology.usgs.gov/Application/presentation/Tabbed/photomet/photo

[2020-01-02 20:54] scsides opened #3623 "spkwriter appolo15_mixed test fails"
**ISIS version(s) affected**: 4.0

**Description**

The apollow15_mixed test for spkwriter fails if there is an invalided personal IsisPreference file with the DataDir-Apollo15 key set to a non-existent dir

**How to reproduce**

Set the DataDir-Apollo15 key in your personal IsisPreference file and rerun the test.

**Possible Solution**

The Makefile runs spiceinit without setting the -pref argume

[2020-01-03 18:10] Kelvinrr opened #3627 "Port ISIS to use Geos C-API"
**ISIS version(s) affected**: 3.x.x

**Description**

Geos C++ API is unstable. Specifically, we run into compatibility issues with co-installing other libraries with ISIS in the same environment.

The GEOs C++ interface changes between minor versions, as of ISIS v3.10, ISIS is tied to Geos 3.7.x C++ API and therefore is inflexible to other libraries requirements (e.g. conda-forge Linux build of G

[2020-01-03 18:34] KrisBecker commented on #3627
@Kelvinrr please check out GisTopology and GisGeometry. Both make strict use of the GEOS C-API. GisTopology is a singleton that handles initialization/destruction of the GEOS system. It also handles reading, writing and conversion of GEOS geometries such as WKT and WKB types. GisGeometry is a generic geometry container that implements many of the GEOS operators.

These classes can provide a starti

[2020-01-03 19:44] #3623 closed, assigned to nobody

[2020-01-08 21:52] victoronline commented on #3562
Thanks for the information Trent. It sounds like, at very least, the interface and documentaiton need an update to give the user a bit more information as to what slope equation is being used based on options selected. The documentation does mention how to run it if elevation data is used but not how the selected options can change the slope calculation used. I think the user runtime defined radiu

[2020-01-13 16:20] lavalaz opened #3645 "Phocube missing essential output options (local phase angle, slope, slope azimuth)"
**Description**

The name of the phocube application suggests it is for doing photometric analyses which is the comparison of phase angle versus reflectivity.  The most important photometric parameter is the phase angle, corrected for topography.  This would be called "LOCALPHASE" in the parlance of phocube.  Phocube has LOCAL_EMISSION and LOCAL_INCIDENCE which means all the math to calculate loca

[2020-01-13 16:33] lavalaz opened #3646 "phocube does not handle NULL pixels correctly"
**ISIS version(s) affected**: all (3.9.0)

**Description**

Phocube calculates values for pixels where there are no valid DNs

**How to reproduce**

Run phocube on a map projected cube and you will find values reported outside the region where there are valid pixel values

**Possible Solution**

Provide at least an option to NULL phocube values wherever the input DN is NULL or a special pixel valu

[2020-01-13 16:41] jessemapel commented on #3646
I'm not sure if this behavior is incorrect. Just because the pixel is null in an image, doesn't mean you can't compute photometric angles from it. With a lvl1 image, you can still get a look vector and with a map projected image it still maps to a point on the body.

[2020-01-13 16:44] lwellerastro commented on #3646
Not necessarily friendly, but a user can always mask the phocube output with the original input image to punch the NULL DN's through if they don't want to use them.

[2020-01-13 16:44] lavalaz opened #3647 "Cannot combine even and odd parts of LROC WAC"
**ISIS version(s) affected**: all (3.9.0)

**Description**

The PDS archived LROC WAC data are split into even and odd framelets. To do anything scientific, these two parts need to be joined. The application to do this processing step is missing.
**How to reproduce**

take any PDS LROC WAC product
run lrocwac2isis
run spiceinit
run lrocwaccal
run cam2map
qview the output.
**Possible Solution**

cr

[2020-01-13 17:08] jessemapel commented on #3647
@victoronline How do you guys combine the odd and even data at ASU?

[2020-01-13 19:04] lavalaz commented on #3646
For photometry analysis, you need angles that correspond to valid DNs.  For other uses, you may want angles computed for areas with no image data. Lynn is correct that mask could do this (I did not know how mask worked until she pointed this out). It would be much nicer (efficient) to do this within phocube but I suppose you can consider this a feature request instead of a "bug".

[2020-01-13 19:07] jessemapel commented on #3646
To be specific, a new argument that is just a flag if pixels containing Null data should be processed. Phocube can take a while to run and ignoring large Null regions would save a lot of time, so putting a flag in phocube seems resonable as opposed to just requiring users to mask afterwards.

[2020-01-13 19:09] jessemapel commented on #3646
@blandoplanet @jlaura Is this an ASC products issue? It looks like it is to me. This is something that supports another ASC project. Same with #3645

[2020-01-13 21:42] victoronline opened #3648 "pds2isis interpreting zero DN values to NULL by default"
ISIS Version 3.5.2 +

**Description**
pds2isis appears to be interpreting all 0 DN values as NULL by default for 8 bit images

**How to reproduce**
Select an 8 bit pds image with zero values. Do not select the "Option to convert pixel values to NULL". Run the application. The output cube will have 0 DN values replaced by NULL values.

**Additional context**
The image we used was the NAC images for

[2020-01-13 22:29] jessemapel commented on #3648
This is probably due to 0 being the default Null value for 8-bit images in ISIS. If the user does not want to convert any pixels to Null, we'd have to pick an 8-bit number that is not in the image to use as Null.

[2020-01-13 23:45] blandoplanet commented on #3646
Yep. I concur with @jlaura

[2020-01-15 02:36] krlberry commented on #1790
@Kelvinrr Can this be closed?

[2020-01-17 19:25] Kelvinrr opened #3654 "ISIS is not propagating apriori covars correctly"
**ISIS version(s) affected**: 3.9.x (only tested on 3.9, earlier versions most likely affected)

**Description**

It seems like a fair assumption that a control network with preset apriori covariance matrices would have their covar matrices used in the solution. This doesn't seem to happen by default and instead requires `errorpropagation=yes` to be set.
Additionally, the sigmas computed by ISIS d

[2020-01-17 23:02] lwellerastro commented on #3654
Kelvin - I think I understand why you are seeing differences between errorprop on/off.  You are looking at the wrong section.  Those are the calculated uncertainties for the points and will be be different than the input accuracy/weights on a point.  Those are ONLY calculated when errorprop=yes, otherwise it should be NA.

Jump down to POINTS DETAIL in the bundleout.txt and you will see your aprio

[2020-01-21 15:46] jessemapel commented on #3654
I am tentatively labeling this as a bug. There's something here that isn't quite lining up correctly. We should spend sometime examining the control networks Lynn and Kelvin tested with before we decide how to handle this.

[2020-01-21 17:43] lwellerastro commented on #3654
I have been going through bundleout.txt files for a number of projects covering 2018 and 2019.  Sigmas are handled properly right up until fall of 2018 using isis3beta2018-xx-xx.  Unfortunately I can not say with certainty when in 2019 this came undone as I was predominately working on projects that had no ground to tie to.  I know LROCNAC data with ground was being bundled during 2019, however th

[2020-01-24 17:55] AaronBoyd commented on #3647
Nothing new needs to be developed, just mosaic the left and right together after you have the map projected cubes.

The PDS files are not split into even and odd frames, but that is done when they are brought into isis so that they can be map projected correctly. Otherwise there are non-unique solutions for what the mapped pixel values should be.

If you want the even frames on top of the odd fram

[2020-01-24 18:05] AaronBoyd commented on #3645
This is incorrect. The phase angle calculation is independent of topography, and a "localphase" does not need to be calculated in isis, as it is the same calculation as the normal phase.

Phase angle is the angular seperation between the camera look vector and the solar vector, and does not change with local slopes.

NO CHANGE NEEDED FOR PHASE ANGLE.

While the idea of being able to calculate loca

[2020-01-24 19:22] AaronBoyd opened #3659 "Enlarge Reporting the final lines and samples backwards"
**ISIS version(s) affected**: 3.4.1(and probably before) through and including 3.9.1

**Description**
Enlarge reports the OutputLines as the output samples and the OutputSamples as the output lines

**How to reproduce**
run enlarge (and sscale and lscale)

view the results group generated to see the switch

**Possible Solution**
this appears to be just a typo that needs to be corrected.

**Additio

[2020-01-24 19:40] AaronBoyd commented on #3553
We have used both fixed and constrained point types. As a work-around we have used fixed points, but the fact that the constrained points are not using the sigma's that were assigned is the issue being reported here.

The constrained point sigmas were updated in the control network, and also using the command line was attempted as it was not clear that this would not work from the software manual.

[2020-01-24 20:09] jessemapel commented on #3659
Yep, looks flipped https://github.com/USGS-Astrogeology/ISIS3/blob/dev/isis/src/base/objs/Enlarge/Enlarge.cpp#L144

[2020-01-27 16:11] jlaura commented on #2370
Working on cleaning the wiki. We still have an open RFC on this that should be moved to adpoted because of the merge on the associated PR. Can we also close this issue?

[2020-01-27 16:37] #2370 closed, assigned to jlaura, Kelvinrr, acpaquette, krlberry, jessemapel, SgStapleton

[2020-01-27 19:17] lwellerastro commented on #3654
@Kelvinrr, error propagation will not execute if the bundle does not converge.  That may also be why you are seeing it in your bundleout.txt.

[2020-01-27 20:25] scsides opened #3662 "ISIS apps Help->About-This-Program fails"
**ISIS version(s) affected**: 3.9.1 and up so far

**Description**

The GUI menu Help->About This Program fails with:

Firefox can’t find the file at /usgs/cpkgs/anaconda3_linux/envs/isis3.10.0-RC1/doc/Application/presentation/PrinterFriendly/stretch/stretch.html.

**How to reproduce**

Run any ISIS application and do: Help->About This Program

**Possible Solution**

1) Have the about this prog lo

[2020-01-27 20:54] lavalaz commented on #3645
Well, duh, Aaron is completely correct.  I was being a total doofus and thank you for commenting to catch that. So, LOCALPHASE is a stupid non-existent concept, please ignore.

However, I would really still like to see SLOPE and SLOPEAZIMUTH because I am having trouble sorting out the source of mismatches between where I see craters in the image (i.e., the DNs) and where the LOCALEMISSION and LOCA

[2020-01-28 21:07] rbeyer opened #3663 "Smithed New Horizons kernels for LORRI and MVIC"
**Description**
Incorporate team-produced smithed CK and SPK kernels for New Horizons LORRI and MVIC images.

The New Horizons team created smithed CK and SPK kernels for LORRI and MVIC images in the process of creating their mosaics and terrain models detailed in Schenk et al. ([2018a](https://doi.org/10.1016/j.icarus.2018.06.008) & [2018b](https://doi.org/10.1016/j.icarus.2018.06.010)), and are

[2020-01-28 21:12] jessemapel commented on #3663
@rbeyer ~Can you provide more detail about the logic required for kernel selection? We already have the ability to check specific lable values when determining what kernels to load. I am unsure how complex we can make checks, but there is some level of functionality there.~

edit: nevermind I just read the README, I think we can handle this. The KernelDbs that spiceinit uses are able to select ker

[2020-01-28 21:21] patmfry commented on #3357
Hi Ashwin, and to whoever might pick this up.
I have debugged the problem with the VIMS visible calibration. The problem is with the specEnergyFile. The wavelength-dependent functions in the cube ($cassini/calibration/vims/(calVervsion)/RC19-mults/____.cub) are two different functions depending on whether an IR or VIS cube is being processed. The IR part contains "sensitivity" that converts from D

[2020-01-29 11:11] ashwinbraude1 commented on #3357
Thank you Pat, I've just done this on a set of Jupiter spectra and I can confirm that they look much more sensible now! I'll leave this ticket open nonetheless until VIMSCAL is patched for the next edition of ISIS3.

[2020-01-29 18:43] jescully opened #3664 "Change prime meridian of Dawn at Vesta mosaic?"
Hello,

I am trying to change the prime meridian of global mosaics of Vesta. The prime meridian of the mosaics archived on the PDS is different to the prime meridian of many of the mosaics made by the Dawn team. I am working on a ROSES-funded project and want all of the mosaics that I use to be defined wrt. the PDS prime meridian.

I made a .tpc file that allows me to make my own local mosaics fro

[2020-01-29 18:54] jessemapel commented on #3664
@jescully Hi, this is more of a how to use ISIS question which we host over on https://astrodiscuss.usgs.gov/

Can you repost your questions over there? We use github issues for bugs and feature requests.

[2020-01-29 18:58] jescully commented on #3664
Will do - thanks!

[2020-01-29 19:13] #3664 closed, assigned to nobody

[2020-01-29 19:25] jessemapel commented on #3664
Conversation migrated to https://astrodiscuss.usgs.gov/t/change-prime-meridian-of-dawn-at-vesta-mosaic/355

@jescully Thank you

[2020-01-29 20:19] jlaura commented on #3647
@lavalaz Just wanted to ping you to make sure you saw this. I am going to close, but please reopen if this is still an issue.

@AaronBoyd Thanks for the solution!

[2020-01-29 20:19] #3647 closed, assigned to nobody

[2020-01-31 23:38] Ethands123 opened #3665 "Add support for HRSC SRC images"
**ISIS version(s) affected**: x.y.z
Using isis3.9.1
**Description**

When running spiceinit on a HRSC SRC image I get an error.
![Spice_error](https://user-images.githubusercontent.com/33068661/73581492-a384a480-4446-11ea-90d9-14bffd1e1683.png)

**How to reproduce**

To reproduce the data is at /work/users/edsmith/Phobos/HRCS the SRC image is
HI837_0002_SR2.IMG
HI837_0002_SR2.cub
I took the .IMG f

[2020-02-01 01:52] krlberry commented on #3665
Hi @Ethands123, As a quick initial response, `pds2isis` unfortunately doesn't provide the cube it outputs with all the information needed for `spiceinit` to run. `hrsc2isis` would normally add this information to the cube, but I see that it doesn't support SRC data. I don't have much experience with HRSC specifically, so maybe another developer could chime in with more information, but it looks to

[2020-02-01 02:07] kberryUSGS commented on #3665
For what it's worth I went through and added the minimum necessary keywords for `spiceinit` to the `pds2isis` output cube's label via `editlab` (see below), but `spiceinit` still won't function because the HRSC camera model expects a `
LineScanTimes` table to be attached to the cube, and that's beyond what `editlab` can do.

[code]

[2020-02-03 15:00] blandoplanet commented on #3665
This may be a blocker for the Phobos IAA task. I'll iterate with the PC.

[2020-02-03 15:56] jessemapel commented on #3665
@Ethands123 Did hrsc2isis fail on this image? The HRSC camera model requires some specific information that gets parsed during hrsc2isis, so spiceinit failing after using pds2isis to ingest HRSC data is expected.

[2020-02-03 18:49] Ethands123 commented on #3665
@jessemapel hrsc2isis gives the error seen below which tells me to use pds2isis.
![image](https://user-images.githubusercontent.com/33068661/73681012-a5cf4480-467a-11ea-8fd5-3f247cbd0b19.png)

@kberryUSGS  Thanks for checking it out so fast.

[2020-02-03 19:00] jessemapel commented on #3665
I'm labeling this as an enhancement because the sensor and ingestion are not designed to support SRC images

[2020-02-05 16:50] blandoplanet opened #3669 "Make smithed ck kernels for Enceladus available in ISIS"
**Description**
In FY19 the USGS (i.e., @lwellerastro) generated a new set of ck for a subset of Cassini ISS images of Enceladus (n=621, which is most of the moderate to high resolution images). The kernels will soon be available on Astropedia, along with a description of the method by which they were generated. Ideally, these kernels would also be available as an option in ISIS as well (e.g., usi

[2020-02-05 17:03] lwellerastro commented on #3669
n=621 should be n=625

[2020-02-05 17:30] lwellerastro commented on #3665
@Ethands123, I just looked at the documentation for hrsc2isis
 https://isis.astrogeology.usgs.gov/Application/presentation/Tabbed/hrsc2isis/hrsc2isis.html and that example uses data having the format RE2.IMG as opposed to SR2.IMG or ND2.IMG.  I think the R means it is radiometrically corrected.

I found an abstract by Kirk et. al.  https://elib.dlr.de/93867/1/2535.pdf involving this data and they

[2020-02-05 17:56] ladoramkershner opened #3670 "kaguyatc2isis cannot ingest data provided by Jaxa online archive"
**ISIS version(s) affected**: x.y.z
I would assume this applies to all version, however, I am currently using isis3.9.1

**Description**

kaguyatc2isis was written using the label format of some data provided by a JAXA correspondent and stored locally some years ago. At that time, it was the only available Kaguya data. Since this data delivery, JAXA has created an online data archive to provide th

[2020-02-05 18:00] jessemapel commented on #3670
I would classify this as an enhancement and not a bug. Also, do we want to maintain compatibility with the older data set?

[2020-02-05 18:02] ladoramkershner commented on #3670
I cannot speak for everyone, but I believe backwards compatibility is ideal.

[2020-02-05 18:27] lwellerastro commented on #3217
Is this for csm?  Seems like camera model is ok under isis, so above has little to no user impact?  Kaguya is currently being worked on so trying to understand if this should be a concern or not.  Thanks!

[2020-02-05 18:32] jessemapel commented on #3217
This change has been made in USGSCSM and we need to investigate if it should be made in ISIS. We're comparing sensor models between USGSCSM and ISIS at the moment and this came up as a reason why we're seeing differences for Kaguya TC.

For reference here's what's in the Kaguya TC IK about the distortion model:

[code]

It looks like this has already been done in ISIS though https://github.com/USG

[2020-02-05 18:53] lwellerastro commented on #3217
Thanks @jessemapel.  Hopefully isis is all good to go then.  We'll keep an eye out for any changes though.

[2020-02-06 03:44] rbeyer commented on #3663
Also realized that there are not currently good radii values for Pluto and Charon submitted to NAIF (also working on that).  [This nh_pcnh_006.tpc file](https://github.com/USGS-Astrogeology/ISIS3/files/4163113/nh_pcnh_006.tpc.txt) is a PCK that probably needs to go into the `newhorizons/` data area until the 'formal' version works through the system and is available from NAIF.  I don't *think* the

[2020-02-06 04:54] astrostu opened #3672 "Problem with Voyager 2 SPICEINIT"
It looks like there's been some discussion of Voyager 2 SPICE-related issues over the years, but the issue that comes closest to my current issue is [this one over at GitMemory](https://gitmemory.com/issue/USGS-Astrogeology/ISIS3/3429/528619828).

Running the latest 3.9.x version of ISIS3, and I checked that my Voyager 2 kernels are updated.  Working on Miranda, SPICEINIT fails completely with err

[2020-02-06 15:24] jessemapel commented on #3672
The de430.bsp kernel is located in the base data area, `$ISIS3DATA/base`, did you look there or under the voyager directory, `$ISIS3DATA/voyager2`?

The issue looks like we don't have the Uranus satellite kernels available:

[code]

[ura111](https://naif.jpl.nasa.gov/pub/naif/generic_kernels/spk/satellites/ura111.cmt) looks like it has Miranda in it. The fix here is likely for us to add the Uranus

[2020-02-06 15:27] jessemapel commented on #3663
@rbeyer Where is that PCK available at NAIF? I don't see it in the PDS archive that they point to https://naif.jpl.nasa.gov/pub/naif/pds/data/nh-j_p_ss-spice-6-v1.0/nhsp_1000/data/pck/

[2020-02-06 15:34] rbeyer commented on #3663
It is not at NAIF.

It is one of the things that the New Horizons team needs to get delivered (hence "working on it") to NAIF.  The contents could be assembled from the papers that are quoted in the attached kernel, so it isn't 'secret' knowledge, it just isn't conveniently already at NAIF.  You could also imagine that this information would go to create a new pck0011 in the 'base' kernel director

[2020-02-06 16:44] lwellerastro commented on #3670
I agree with Lauren's assessment of backwards compatibility, if possible.

@thareUSGS  thoughts (hope you don't mind me sharing):

[2020-02-06 16:47] jessemapel commented on #3670
Follow up questions. Does anyone know what has changed between the two or do we need to go in and compare SISs and labels.

[2020-02-06 16:52] lwellerastro commented on #3670
[DATA_SET_ID] for sure, however there are possibly other keywords.  Lisa made the attempt to manually modify the keyword in the .lbl (I think) and then she got a new error.  She documented a number of things.  I get her notes uploaded if that helps.  But we don't precisely know all of the differences.

[2020-02-06 16:53] jessemapel commented on #3670
A partial list of differences would still be great. Thanks!

[2020-02-06 16:54] lwellerastro commented on #3670
Lisa's notes

[KTC_compare_labels_12.9.19.docx](https://github.com/USGS-Astrogeology/ISIS3/files/4166503/KTC_compare_labels_12.9.19.docx)

[2020-02-10 17:54] rbeyer opened #3676 "csv2table doesn’t handle repeated fields correctly"
**ISIS version(s) affected**: most (tested with 3.9, but widely applicable)

**Description**
The `csv2table` program does not seem to be able to create a table in an ISIS cube file that has a field with lengths longer than 1.

**How to reproduce**

The original EDR.cub’s label looks like:

Object = Table
  Name      = "HiRISE Calibration Image"
  StartByte = 4169452
  Bytes     = 126976
  Records

[2020-02-11 00:26] jessemapel opened #3678 "Line scan camera models default to the incorrect detector line"
**ISIS version(s) affected**: 3.6+ Probably earlier too.

**Description**

Line scan camera models in ISIS use a constant detector line and achieve sub-pixel line accuracy by adjusting the time and thus exterior orientation. By default, a detector line of 0 is set which corresponds to the top edge of the detector. Instead, the center of the detector, 0.5, should used as the default.

This results

[2020-02-11 00:33] jessemapel commented on #3678
I was not able to find any documentation about why 0 is used instead of 0.5. If anyone has any context or information about this, that would be greatly appreciated.

[2020-02-14 22:56] gravatite commented on #3648
In this particular case, there is no value within the 8-bit space that ISIS could use as NULL, we get values from 0-255 from the camera, and there are no special values of any kind.  In normal processing, the next step is calibration, and at that point, special values are introduced.

[2020-02-16 14:41] lavalaz opened #3683 "Website and documentations says ISIS3 when it is ISIS4"
**ISIS version(s) affected**: 4.x.x

**Description**
The ISIS website, support pages, documentation all over, all says ISIS3 when you have moved on to ISIS4.

**How to reproduce**
Go to any of our websites

**Possible Solution**
Update the websites.

**Additional context**
This issue could have been anticipated?  Given that you plan to move through ISIS versions regularly now, you will want to thi

[2020-02-18 16:23] jessemapel commented on #3648
@gravatite In that case, the data will have to be converted to something with space for special pixel values, at least 16-bit.

The ISIS Cube format doesn't support images without any special pixel ranges, so I'm not sure if there is a way to have 8-bit cubes without NULL pixels.

As a work around right now, I'd try making the output cube 16-bit and specifying the null pixel range in the negatives

[2020-02-18 18:05] lwellerastro opened #3685 "Qview - Throws warning for mosaics containing tracking table"
**ISIS version(s) affected**: isis3.10.0

**Description**
Qview throws warning (and never stops) for a 10+ year old mosaic that used to have a tracking band that was removed sometime in the past, but still contains the table associated with it (InputImages).

See attached error message.
![QviewError_TrackingTable](https://user-images.githubusercontent.com/34550733/74764394-db5d5b80-523e-11ea-8723-

[2020-02-18 18:28] jlaura commented on #3683
@lavalaz Thanks for the post. We have tasks next FY to start making these (extensive changes). Also, have you seen [our docs for submitting documentation changes](https://github.com/USGS-Astrogeology/ISIS3/wiki/Contributing-Application-Documentation)? Any and all PRs solicited to help support the transition.

[2020-02-18 19:30] dpmayerUSGS commented on #3547
I think we determined that the flipping "feature" was intended purely for aesthetic reasons. When it works, it results in a ~north up orientation for the ingested image, but, as @scsides notes, it complicates other steps in a typical MARCI PDS-->Level 2 processing pipeline.

[2020-02-18 19:32] dpmayerUSGS commented on #3550
Adding the Products label because this issue is blocking support for MARCI in POW.

[2020-02-18 22:21] Kelvinrr commented on #3654
@lwellerastro Possibly? It's been a while since I have looked at these but I am fairly confident the bundle adjustment converged.

[2020-02-19 06:57] scsides opened #3689 "Remove old LOLA/GRAIL SPK files"
**Description**
The LRO/kernels/spk directory currently contains LOLA/GRAIL SPK files that use the older gravity model GRGM660. The newer LOLA/GRAIL SPK files use the newer gravity model GRGM900C. The older files should be removed to reduce confusion and data quantity.

[2020-02-19 15:10] dpmayerUSGS opened #3690 "MARCI Flatfiles in Data Area are Deprecated"
**ISIS version(s) affected**: 3.4-present

**Description**
It was recently determined in #3504 that the calibration flatfiles for MARCI currently in the ISIS data area are not based on the most recent, canonical versions produced by the mission team at Malin Space Science Systems. In order to produce the highest radiometric quality MARCI products in ISIS, it is important to use the best flatfiles

[2020-02-19 15:13] dpmayerUSGS commented on #3504
I think we can close this because we've received an answer from MSSS to the immediate question of which flatfiles are canonical.
I've created #3690 to address the issue of getting the canonical files into ISIS.

[2020-02-19 15:52] #3504 closed, assigned to nobody

[2020-02-19 17:48] jessemapel commented on #3689
@scsides Is there a location where the old SPKs are archived if users want to continue using them after this?

[2020-02-19 21:01] lwellerastro commented on #3685
A work around for this problem is to run cubeatt in the following manner:

Qview should still probably ignore the table though if it exists, or just provide a more meaningful warning and only once, not repeatedly as it is doing now.

[2020-02-19 22:00] lwellerastro commented on #1764
I pulled the users specified file from the jaxa website (https://darts.isas.jaxa.jp/planet/pdap/selene/product_search.html) because the location he points to no longer exists.

The ingestion failed, but in a different way than what he originally posted in 2013.  His file is in the older .sl2 format but what is made available via the website are pds-like (?) img and lbl files.

See /work/users/lwel

[2020-02-19 22:04] lwellerastro commented on #3542
Note: I have made two request in my original post: add a new keyword (IlluminationCondition) and to consider moving imported geometry keywords to a different group (archive).  The first request is by far the most important and the second may be a separate post and is not critical.

[2020-02-19 22:16] lwellerastro commented on #1764
Note: the original issue (from 2013) was addressed at some point because we (USGS) created mosaicked TC map products around 2017 and it appears (after poking through someones directory and files) they ingested .sl2 based products from a local pds directory of likely specially delivered products from jaxa.

So the current problem is similar to the TC edr image ingestion problem where we based the p

[2020-02-19 22:18] jessemapel commented on #1764
@lwellerastro It sounds like we need to re-examine all of the translations for the projected data similar to #3670

[2020-02-20 00:02] jlaura commented on #3542
@lwellerastro Unless we have any dissenting opinions in this post, I would suggest that the acceptance criteria on getting this ticket closed is that both requests are fulfilled. We will be in working on the label anyway, so no reason not to take care of both.

[2020-02-20 13:29] scsides commented on #3689
None that I've been able to find. The source site for these doesn't have a link, that I've found, for older versions.

[2020-02-20 20:52] paarongiroux opened #3697 "CameraStatistics.cpp toPvl() "AspectRatioMaximun" typo"
**ISIS version(s) affected**: x.y.z

**Description**

See [CameraStatistics.cpp Line 444](https://github.com/USGS-Astrogeology/ISIS3/blob/dev/isis/src/base/objs/CameraStatistics/CameraStatistics.cpp#L444). Just a small typo, outputs "AspectRatioMaximun" rather than "AspectRatioMaximum".
**How to reproduce**

Run camstats, see output.
**Possible Solution**

Change CameraStatistics.cpp Line444 to ou

[2020-02-20 21:05] jessemapel commented on #3697
This is already documented in #3605

[2020-02-20 21:05] #3697 closed, assigned to nobody

[2020-02-20 21:05] jessemapel commented on #3697
Sorry, I forgot about that issue when reviewing your PR.

[2020-02-20 21:32] foobarbecue opened #3698 "hyb2onc2isis needs updating to deal with new Hayabusa2 FITS image labels"
**ISIS version(s) affected**: 3.9.1

**Description**
When running hyb2onc2isis with any of the FITS images JAXA released for their July 2018 orbits, from http://darts.isas.jaxa.jp/pub/hayabusa2/onc_bundle/browse/ , hyb2onc2isis  fails with:

[code]

**How to reproduce**
Install ISIS 4.0.0, download  [hyb2_onc_20180710_060508_tvf_l2a.fit](http://darts.isas.jaxa.jp/pub/hayabusa2/onc_bundle/proximity

[2020-02-20 21:39] foobarbecue commented on #3698
We could also fix some inconsistencies in the hyb2onc2isis docs regarding input file types at the same time.

[2020-02-20 22:44] kaitlyndlee opened #3700 "ControlNetStatistics and ControlNetFilter add an extra , to end of csv"
**ISIS version(s) affected**: x.y.z
3.10 and 4.0

**Description**

When running cnetstats with the POINT_STATS_FILE options on, the csv that is returned sometimes has an extra `,` at the end of the first line. For example:
`PointID, PointType, PointIgnored, PointEditLocked, FileName, SerialNumber, ResidualMagnitude, MeasureType, MeasureIgnored, MeasureEditLocked, Reference,`

This behavior also oc

[2020-02-20 22:52] kaitlyndlee opened #3701 "Unused and Unnecessary Parameters in cnetstats"
**ISIS version(s) affected**: x.y.z
3.10 and 4.0

**Description**

The cnetstats application has a filter parameter that is not used in the application at all. The CREATE_IMAGE_STATS and CREATE_POINT_STATS parameters are also unnecessary. The app checks to see if those parameters are true, and if they are, then checks that the IMAGE_STATS_FILE or POINT_STATS_FILE parameters were passed in. We shou

[2020-02-21 17:25] Kelvinrr opened #3703 "SolarLon should be computed from Table if cube is spiceinited."
**ISIS version(s) affected**: 4.X.X

**Description**

Spice::computeSolarLon by default always computes solar lon and appends it the cube label from Spice kernels. This should use the tables if present. This is an issue when creating tables from ISDs instead of going through the spiceinit process.

**How to reproduce**

Run Campt on a cube that doesn't have the solor lon key present and you'll get

[2020-02-21 17:49] lwellerastro commented on #3701
I use this application all of the time including creating image/point stats files as well as using the filter option.  I have many scripts based upon the application so I'd like to better understand the issue before changes are made (and wouldn't these be app breaking since they are not backwards compatible?).

Are you saying
1 - It is not necessary to set filter=true when using a deffile to gener

[2020-02-21 18:01] lwellerastro commented on #3700
Hi, the only place I see an extra comma is on the header line of the cnetstats point stats output file.  The remaining point statistics lines do not have an ending comma.

[2020-02-21 18:34] kaitlyndlee commented on #3701
I realize I was unclear in my discussion about the create_images_stats and create_point_stats parameters. From a user perspective, these parameters are still necessary to get output. However, from a developer perspective, these parameters are unneeded. The user should only need to pass in the name of the output file and not need the create_point_stats or create_point_stats parameters. This would f

[2020-02-21 19:34] lwellerastro commented on #3701
Ah, ok.  Thanks for clarifying.

Agreed - having to say filter=true or create_image_stats=true is definitely an annoyance I have simply gotten used to but never really understood why it was needed.

[2020-02-21 19:55] victoronline commented on #3648
Jesse, Is this a recent change in ISIS or was this always the case with 8-bit data? Was this the case for earlier missions too? Some of our users believe that this wasn't an issue before. Would it be possible to arrange a call with you and maybe Stuart to discuss this a bit further?

[2020-02-21 20:45] jessemapel commented on #3648
@victoronline I'm not sure if this is new behavior or not. @scsides May have some more insight. We can definitely get on a call with you guys later. Send us an e-mail and we can coordinate it.

[2020-02-21 21:20] krlberry opened #3705 "Fix how mission libraries are linked against the gtest executable"
**Description**
There was code added to get the gtest executable to work with ingestion applications defined in the mission shared libraries (ex. `libnewhorizons.so`), rather than `libisis` itself that was non-ideal. This needs to be updated with a better solution. See: PR #3694 and comments.

[2020-02-23 19:15] jlaura commented on #3257
@richardleis Closing as I believe we determined during a Dec. telecon. If not, please reopen!

[2020-02-23 19:15] #3257 closed, assigned to jessemapel

[2020-02-23 19:15] jlaura commented on #3323
@scsides What is the status on this? I thought that this work was completed?

[2020-02-23 19:38] jlaura commented on #3562
@victoronline Is the resolution for this ticket to make documentation improvements?

[2020-02-23 19:38] jlaura commented on #3555
@AaronBoyd We need additional information in order to be able to address this ticket.

[2020-02-23 19:39] jlaura commented on #3554
@AaronBoyd We need additional information in order to be able to address this ticket.

[2020-02-23 19:41] jlaura commented on #3553
@AaronBoyd After a call with the LROC team, we have hopefully clarified that fixed and constrained points are behaving as mathematically intended. The sigmas are weights in the solution and not fixed ground distance constraints. Have you seen the meeting notes from Megan H.?

[2020-02-24 15:56] rbeyer commented on #3621
FYI, since I've lately been deep in reading the 'standards' for PVL, it is important to note that this construction: ``PvlKeyword="1,2,3,4"``, is a PVL Quoted String assignment statement whereas this construction: ``PvlKeyword=(1,2,3,4)``, is a PVL Sequence assignment statement.  So in the first case, a standards-compliant PVL parser would assign the value ``1,2,3,4`` to a string variable, whereas

[2020-02-24 15:57] scsides commented on #3648
@victoronline, the zero value in 8-bit images is hard coded to be the NULL, and has been since ISIS2. As far as we know there have not been any changes that would change the behavior of pds2isis. @jessemapel idea of going to 16 bit is your only way of not treating zeros as NULL, but that said, it will take some tweaking to figure out how to do it without converting the 8 bit NULL to 16 bit NULL.

[2020-02-24 16:19] jessemapel commented on #3648
@scsides I am curious if using the +16bit option on the output image along with the nullrange parameters will do the trick here.

[2020-02-24 16:23] rbeyer commented on #3648
Yes, but ISIS cubes don't work that way (as you know).  In a GeoTIFF, you can specify what value 'nodata' should be.  It could be different for every GeoTIFF you make, because it is configurable in the label.  With ISIS, the numerical values of the five special pixels (for each of the bit-types) are hard-coded in the software itself.  So if you have an 8-bit cube, an 8-bit value of zero will alway

[2020-02-24 17:31] jessemapel commented on #3654
As part of the BundleXYZ change, we switched from using global radii values to using local radius to convert between rectangular and latitudinal sigmas. The point sigmas in CNet files are stored as rectangular.

@lwellerastro Since the cnet file you were testing with was generated prior to the BundleXYZ change, you are seeing a difference because the original sigmas were set as latitudinal and the

[2020-02-24 18:08] lwellerastro commented on #3654
@jessemapel, does this mean that in order to get the desired sigmas, pre-BundleXYZ networks already having sigmas need to have their sigmas adjusted/reset under a current (post-BundleXYZ) version of isis?

[2020-02-24 18:42] scsides commented on #3323
Fixed with #3616. Forgot to add the Fixes. Closing

[2020-02-24 18:42] #3323 closed, assigned to scsides

[2020-02-24 20:02] jessemapel commented on #3654
@lwellerastro Yes. It would also be possible to write a script that takes the rectangular sigmas in the files, converts them back to latitudinal using the old global radii and then back to rectangular using the local radius. This seems like a step too far unless someone has such a network right now.

So, in the meantime I am going to add some code to plio to help if we decide we need to do that.

[2020-02-24 20:18] jessemapel commented on #3654
For reference, this change was made in #378 and the change was motivated by #2612

[2020-02-24 20:46] jessemapel commented on #3654
The plot thickens:

Looking back at the [old SurfacePoint code](https://github.com/USGS-Astrogeology/ISIS3/blame/2d1238d48768d8fb154e51cae3b1fe5abe0fe226/isis/src/base/objs/SurfacePoint/SurfacePoint.cpp#L555) and comparing it against the [new SurfacePoint code](https://github.com/USGS-Astrogeology/ISIS3/blob/dev/isis/src/base/objs/SurfacePoint/SurfacePoint.cpp#L1242), there was a bug in the old co

[2020-02-24 20:55] scsides opened #3709 "Application hist outputs bad stats when all DNs are special pixels"
All versions

**Description**
The application "hist" outputs valid looking statistics when the input cube is full of special pixels.

**How to reproduce**
[code]

**Possible Solution**
Test the returned value against ISIS::NULL when _hist_ gets the stats. Print N/A instead of   -1.79769e+308. It is an edge case, but we should not print a legal looking number when the return is trying to tell the p

[2020-02-24 21:11] jessemapel commented on #3709
Not sure if this is a bug or enhancement, but I'm just going with enhancement as the program is correctly ignoring special pixels, it just returns the double value of ISIS:null instead of a more user friendly output when there are no valid pixels.

[2020-02-24 21:16] scsides opened #3710 "Can't tell where one radio list ends and next starts in non-GUI apps"
Versions: 3.10 and 4.x
**Description**
When non-GUI apps (e.g., isis2pds) have two radio button lists next to each other. There is no visual way to tell where one radio list ends and the next begins. This is probably true for check box lists too.
![Screenshot_20200224_141435](https://user-images.githubusercontent.com/11915853/75191651-fd0f8480-570f-11ea-9f24-6be8e3ff4c5b.png)

**How to reproduce**

[2020-02-24 22:27] scsides commented on #3648
@victoronline, @jessemapel, The conversion of special pixels happens at the ISIS::Buffer level, so adding +16bit in pds2isis won't help, I tested it too. So, here are steps to do what I think you want:

[code]

The resulting 16 bit cube should have DNs of zero. Let us know how this goes.

[2020-02-24 22:46] scsides commented on #3701
@lwellerastro, @kaitlyndlee, This issue has been brought up with other apps, so not to rewrite the same text see: #3189. It is a bone of contention between novice and expert users, GUIs usually being for novice users and being explicit in the code won out in a previous life. Honestly, there is no right answer for all circumstances.

[2020-02-25 02:16] jlaura commented on #3282
Just wanted to update here since the associated RFC is still open. We are working with our bureau wide IT department to understand how best to handle the 80GB of test data (and not the ~800GB) of SPICE data. It is not clear that GitHub, a custom GitLab instance, straight S3, or some other solution is the best option. I'll update this issue and the RFC as we determine what options are viable so tha

[2020-02-25 16:09] #3654 closed, assigned to jessemapel

[2020-02-25 16:55] espeyerer opened #3711 "band priority is not optimized in automos"
**ISIS version(s) affected**: 3.x and 4.x

**Description**
Most users use the default "ontop" or "beneath" when making mosaic products with automos. However, there are some cases when band priority is used (i.e. mosaic regions of images such that the emission angle is minimized in the final map product).  Using this band option, automos must compare the incoming band to a band in the mosaic.  In t

[2020-02-25 20:20] acpaquette commented on #3217
There are no issue with the ISIS distortion model relative to a round trip (setImage, setGround) in ISIS. There is still something going on between the USGSCSM and ISIS distortion models when going image-to-ground in ISIS and ground-to-image in USGSCSM. However this is something to be addressed in USGSCSM or ALE work and not during a product support sprint.

[2020-02-25 22:22] Kelvinrr commented on #3573
Made some progress on this today, seems like the grid logic is fine, the issue lat/lon extents are not being updated correctly when you change them (e.g. loading a different map file). I'll do some reading on signals/slots and dig through ISIS's code to see where/how the projection update needs to happen.

[2020-02-26 01:48] foobarbecue commented on #3670
Possibly related to https://github.com/USGS-Astrogeology/ISIS3/issues/3698 , a similar issue regarding new JAXA Hyabusa2 labels.

[2020-02-26 15:24] krlberry commented on #3705
This was improved in #3708, but could be improved further (to something beyond a hard-coded list of missions.)

[2020-02-26 15:35] AustinSanders commented on #3542
No **source** changes were made to satisfy the acceptance criteria for this ticket, so there's no PR that can be linked.  Relevant changes were made to the translation files (kaguyaTcInstrument.trn and kaguyaTcArchive.trn).  An example of the new label format can be found at /work/users/arsanders/kaguyatc/TC2S2B0_01_03043N107E3384_revised.cub .  Alternatively, since these changes were made to tran

[2020-02-26 15:35] #3542 closed, assigned to AustinSanders

[2020-02-26 18:47] jessemapel commented on #3669
@blandoplanet Is there any reason why a user would use smithed CKs, but not the updated PCK? There are already some smithed CKs from CICLOPS that are of the form YYDOY_YYDOYcb_ISS.bc. I'm assuming your kernels should take precedence over these?

[2020-02-26 19:35] blandoplanet commented on #3669
Users should always use the updated PCK with the new CK. There isn't a case for using the CKs alone.

I am unfamiliar with the CICLOPS CK kernels, and don't know how they were derived or what images they cover. I would argue that the new USGS kernels should take precedence, but that can be discussed.

[2020-02-26 20:07] AustinSanders commented on #1764
This issue is due in part to the fact that the product uses a detached label, but the command targeted the .img file.   From the [kaguyatc2isis documentation](https://isis.astrogeology.usgs.gov/Application/presentation/Tabbed/kaguyatc2isis/kaguyatc2isis.html) the 'from' file "must contain the PDS labels."

Using the command
[code]
yields the following error which is resolved in #3713
[code]
---
In

[2020-02-26 20:20] acpaquette commented on #3426
The fix is present in the code base and the test passes. I'm going to call this ticket good and close it again.

[2020-02-26 20:20] #3426 closed, assigned to krlberry

[2020-02-26 20:33] blandoplanet commented on #3426
Have we verified that spiceinit runs on the cubes in the original post?

[2020-02-27 16:09] #3217 closed, assigned to scsides, acpaquette, krlberry

[2020-02-27 17:04] AustinSanders commented on #3698
For reference, the related issue was resolved by adding a default value to the transformation file.  It is likely that this will involve a similar fix.

[2020-02-27 17:25] acpaquette opened #3715 "ddd2isis Ingest uvflat File Issue"
**ISIS version(s) affected**: 3.10.0+

**Description**
The ddd2isis application fails to read in uv[6-7]flat.ddd files from the pds archive. Failing with the following:
`Floating point exception(core dumped)`

**How to reproduce**
Download the uv6flat.ddd from [here](https://pds-imaging.jpl.nasa.gov/data/mro/mars_reconnaissance_orbiter/marci/mrom_0032/calib/)
Then run:
`ddd2isis from=/path/to/uv6f

[2020-02-27 18:20] jessemapel commented on #3669
@blandoplanet @lwellerastro How were these images spiceinit'd originally? I'm running into a problem where the segment boundaries in the smithed CK are smaller than the exposure times of the images. For the first image, N1487299402_1, it's time range is 2005-048T02:16:57.245 to 2005-048T02:16:57.295 but the segment boundaries in the CK are 2005-048 // 02:16:57.267 to2005-048 // 02:16:57.273, which

[2020-02-27 18:49] blandoplanet commented on #3669
@lwellerastro can provide more details later and correct me where I'm wrong...

We didn't start from the reconstructed kernels. We used updated image locations from Tammy Becker's original (sparser) network (completed in ~early 2018). Ideally we would have reingested with clean data and just applied Tammy's kernels, but a change the mission made (I think to the spacecraft clock) effectively broke

[2020-02-27 18:49] Kelvinrr commented on #3663
@rbeyer Do you have example images that were used in the solution I can use for testing? Just that I can run through spiceinit and make sure the correct kernels are being used.  So one Lorri image with pluto target, Lorri with Charon target, MVIC with pluto target, MVIC with Charon target (presumably need ones for each color channel + panchromatic detector ).

Alternately pointing me to an area of

[2020-02-27 19:00] jessemapel commented on #3669
For right now I am going to pad the kernel db windows then.

[2020-02-27 19:01] kaitlyndlee commented on #3672
I added the satellite kernels matching ura###.bsp to the base area and updated the kerneldb file. Spiceinit should be able to pick up these kernels now.

[2020-02-27 19:01] rbeyer commented on #3663
Sure.  I think you're just after a list that you can grab from the PDS, but let me know if you want me to send actual files, or processed cubes.

Names below in parentheses (e.g. PELR_P_LEISA_HIRES) are observation sequences, and many possible images may be part of such a sequence.  They will all have similar REQID fields in the original FITS files.

LORRI with Pluto: lor_0299177087 (part of PELR_

[2020-02-27 19:02] jessemapel commented on #3663
@Kelvinrr If you look at the comments on the kernel files ckwriter and spkwriter should add a list of exactly which images were used in the solution and how they were spiceinit'd.

[2020-02-27 19:03] #3672 closed, assigned to kaitlyndlee, SgStapleton

[2020-02-27 19:16] kaitlyndlee commented on #3701
@scsides That makes more sense. cnetstats will still allow users to pass in a flat and def file without setting filter=true on the command line. Should this be fixed?

[2020-02-27 19:31] kaitlyndlee commented on #3700
@lwellerastro Good to know. Thank you! I updated the issue with another case that this seems to occur.

[2020-02-27 19:33] acpaquette commented on #3690
The visflat files in the data area have been updated along with their associated tests. However closing this issue is blocked by #3715, since the uvflat files can't be updated until that issue is closed.

[2020-02-27 23:11] jessemapel commented on #3669
So, I've staged the new kernels and updated the kernel DB files. As of right now, users can enter `cksmithed=true` to get the smithed ck but will need to manually specify the smithed pck. Once #3716 is merged, users will get both when they specify `cksmithed=true`.

[2020-02-27 23:31] jessemapel commented on #3685
So it looks like qview thinks that the mosaic is the tracking cube itself and is trying to convert the pixels from the mosaic to filenames and fails repeatedly. I think the fix here is to have qview not raise warnings on failure in AdvancedTrackTool::TrackMosaicOrigin and instead just pass. This will cause mosaics like this to just ignore the tracking table. This will also cause qview to silently

[2020-02-27 23:52] Kelvinrr commented on #3573
Closed by #3714

[2020-02-27 23:52] #3573 closed, assigned to Kelvinrr

[2020-02-28 01:07] acpaquette commented on #3550
The maxoffset handles the framelette offset when a marci image is flipped on ingest. As it stands this doesn't seem to be a problem within the larger context of the marci calibration. However the calibration as a whole should be examined for correctness at some later date outside of a product support sprint.

[2020-02-28 01:07] #3550 closed, assigned to acpaquette

[2020-02-28 15:13] scsides commented on #3701
To be consistent with other programs, yes. But, it sounds like it would break this programs current behavior even if it was considered wrong, so we should bring it up with the team.

[2020-02-28 17:37] Kelvinrr commented on #3663
@rbeyer The kernels are all in and Lorri is tested working fine with the images you supplied. Although, it seems like the mvic images you gave are not within the time ranges of the images used in the solution? Looking at the comments for the CK kernels for MVIC Pan, for example, I have four images: pmc_195_1_8832l1, pmc_195_2_9552l1, pmc_195_1_1303l1 and pmc_195_2_1722l. None of these I can find a

[2020-02-28 18:06] rbeyer commented on #3663
Sigh (not your fault @Kelvinrr).

You can see that these kernels (based on the username in the comments file) were created by Paul Schenk at the LPI.  Paul doesn't like to use the PDS filenames (because you could argue that they lack useful context information), and so he typically converts the PDS filenames (which are based on the spacecraft clock) to a name format that is more convenient for him

[2020-02-28 18:09] jessemapel commented on #3450
This is a very large enhancement request, too large for us to address in one of our support sprints. That said, I'm leaving it open because this would be a good project.

This follows along with some of the efforts that we would like to make to better support CSM. I'm going to split my comments up based on the different sources of uncertainty:

1. Sensor model uncertainty is currently not reported

[2020-02-28 18:25] jessemapel commented on #3645
@lavalaz I am very hesitant to expose information so that users can try and debug the software. Would you be okay with a software developer checking that phocube and slpmap are using equivalent methods?

For a little bit more information, here's how phocube computes the local photometric angles:
1. Compute the intersection with the shapemodel (usually a DEM) at the middle of the pixel
1. Compute t

[2020-02-28 19:36] Kelvinrr commented on #3663
So I just made sure ISIS is picking up the appropriate kernels in running spiceinit, I generally trust that ISIS works properly downstream and the kernels are correct. I'm more worried about getting MVIC at least spiceiniting with the SMITHED kernels. The problem seems to be the times are not lining up as mp1_0299178832 starts ever so slightly before the start time of the kernels. mp1_0299178832's

[2020-02-28 19:43] rbeyer commented on #3663
Hunh.

I do not believe that the images were altered in any other ways.  A two-minute start difference is ... significant.  I will try and see if I can track this down on my side, but I may not get to it until this afternoon or next week.

[2020-02-28 19:53] jessemapel commented on #3663
@Kelvinrr I saw a similar difference when updating the Enceladus kernels. The kernelDB files store times in TDB which is about 70 seconds off from UTC. Try converting both times to ET and checking.

[2020-02-28 22:40] acpaquette opened #3718 "Add custom Band number to ddd2isis"
**Description**
Add an optional argument to ddd2isis to specify the number of bands expected from the ddd input file.

**Example**
This would be something along the lines of crops nsamples or nlines but purely for the number of bands expected from the file.

[2020-02-28 23:00] #1764 closed, assigned to AustinSanders

[2020-02-28 23:24] #3715 closed, assigned to acpaquette

[2020-02-28 23:59] acpaquette commented on #3690
The uvflat files in the data area have been updated accordingly!

[2020-02-28 23:59] #3690 closed, assigned to acpaquette

[2020-02-29 02:14] Kelvinrr commented on #3663
@jessemapel Seems to be the thing,  2015 JUL 14 11:23:08.188510 TDB  translates to 2015-07-14T11:22:00.00475 UTC which is a lot closer (although not exact, .8 seconds off) to 2015-07-14T11:21:59.146 UTC start time in the image. I'm willing to take this as the accepted solution and pad the time windows if there is no issue with it.

Seems there needs to be a more robust solution later in using the

[2020-03-02 01:27] rbeyer commented on #3663
I'm not sure what calculations you're doing, but in the FITS labels for mp1_0299178832, STARTMET= 299178838.132.  When I convert that SCLK time to Ephemeris Time, and then on to UTC time via the SPICE toolkit, I get 2015 JUL 14 11:21:59.878 (just as reported above).

When I take the plu_MVI_170425_pan.bc file (with the naif0012.tls LSK and the new-horizons_1121.tsc SCLK), and run it through the SP

[2020-03-02 04:14] Kelvinrr commented on #3663
I simply converted the TDB times in our SPICE `.db` files (a metadata file containing start and stop times for segments in a binary kernel) to UTC using the SPICE tool kit with the same clock kernels you used. Seems like we computed the same thing in a different way. In either case, I added slight padding to the kernel DB files which seems to have MVIC images spiceinit-ing correctly.

[2020-03-02 16:41] Kelvinrr commented on #3663
I'm going to close this for now as things seem to be working and if after the next data release you see an issue feel free to re-open.

[2020-03-02 16:41] #3663 closed, assigned to Kelvinrr

[2020-03-03 00:45] foobarbecue commented on #3698
I started digging into this. I dumped a .fits label and compared to the .trn files.

Lots needs changing. I was able to figure out many of the changes, but some labels appear not to be present and so I just commented them out... probably the wrong approach. Now, hyb2onc2isis works but spiceinit fails with `**ERROR** No Camera Kernels found for the image [hyb2_onc_20180801_094857_tvf_l2a.cub]`

Whe

[2020-03-03 02:35] foobarbecue opened #3725 "spiceinit web=yes fails with ISIS 4.0.0"
**ISIS version(s) affected**: 4.0.0

**Description**
I ran `spiceinit from=M1192901040LE.cub web=yes` (M1192901040LE.cub is an LROC NAC image produced from running `lronac2isis` on http://lroc.sese.asu.edu/data/LRO-L-LROC-2-EDR-V1.0/LROLRC_0024/DATA/ESM2/2015211/NAC/M1192901040LE.IMG ) and got this error:

`**ERROR** The Spice Server was unable to initialize the cube.  The error reported was: The

[2020-03-03 02:43] foobarbecue commented on #3725
Previously, https://github.com/USGS-Astrogeology/ISIS3/pull/780 . Looks like the fix wasn't general enough -- it only checks the minor version (y in x.y.z) .

[2020-03-03 04:34] jlaura commented on #3725
We will need to slot this into the next RC release (April 1) or get a more generalized fix in before hand time permitting.

@scsides Is it possible that @kaitlyndlee or @paarongiroux could take a look at this without causing issues during the clean up work? If this will cause a slippage on that work, we should defer fixing this.

[2020-03-03 15:31] scsides commented on #3725
Sure, lets talk with @jessemapel and @Kelvinrr about what implications this has for the ALE side (I don't know of any at this time.)

[2020-03-03 16:18] scsides commented on #3711
There were no optimizations added when the initial feature was added. Suggest profiling a large run and identify places to concentrate on.

[2020-03-03 16:44] jessemapel commented on #3698
@foobarbecue We're currently working to get those files pushed into the repo. For right now though, only the USGS ASC has access to make changes. We've got this issue slotted for [work at the end of March](https://astrodiscuss.usgs.gov/t/software-support-q2-mission-sprint/376) so we'll take you're changes and start off of them getting this resolved.

The spiceinit error looks like it's caused by a

[2020-03-03 16:48] jessemapel commented on #3725
This shouldn't impact ALE. spice server just runs spiceinit on our server. The new table data is also compatible with the old table data and visa-versa. The main place that out of sync ISIS versions will be a problem is when camera model versions have changed. I think we've only really changed one or two camera model versions in the last few years so it shouldn't be a big concern.

[2020-03-03 17:14] lwellerastro commented on #3542
Looks great - thanks!

[2020-03-03 17:37] lwellerastro commented on #3426
@blandoplanet I confirmed a few posts up (Nov. 6) and just confirmed again.  The changes are successful - if instrument name is missing/unknown voy2isis throws a meaning error and the program will ingest properly if the user sets the parameter instrument to NAC or WAC.

[2020-03-03 17:49] lwellerastro commented on #3669
The image spice history is even more convoluted than what @blandoplanet has conveyed, but that seems besides the point.  @jessemapel, I see that New Horizons had a padding problem as well - does that mean you understand the time window issues for both data sets and padding the window solved the problem?

I wonder why the writer programs are not handling this.  I thought they had a built-in time pa

[2020-03-03 18:06] jessemapel commented on #3669
@lwellerastro My understanding is that the writer programs don't pad because you would have to extrapolate and that could introduce some weird error. Instead you have to pad at spiceinit when you have the full kernels available so you don't need to extrapolate.

[2020-03-03 18:24] lwellerastro commented on #3669
I have never used the padding options in spiceinit or know of any use of those parameters for any projects in astro.  Perhaps all of the padding Kris mentions below is not quite the same thing as the window padding in the kernel db.

From the documentation History:

From Issue [#2057](https://github.com/USGS-Astrogeology/ISIS3/issues/2057):

[2020-03-03 22:40] scsides opened #3727 "Move the application data into the git repo"
**Description**
The ISIS application specific data (e.g., PDS3 to ISIS cube translation) are currently mixed in with the general data (e.g., Cassini/kernels/ck/*). Move the application specific data into the git repository and out of the ISIS data area.

Addition:
The changes proposed to have many, not all, text files under revision control include:
* During build and install steps: Move files to:

[2020-03-04 15:38] krlberry commented on #3698
We do have a kernel update script for Hayabusa2. It's pulling kernels from http://www.darts.isas.jaxa.jp/pub/hayabusa2/spice_bundle/spice_kernels/, but the most recent cks there are from 2016. I'm not sure if there is a more up-to-date source.

[2020-03-05 19:39] KrisBecker commented on #3727
Originally in #3728.

While I agree this is technically not _API_  breaking as defined by the current policy, it potentially breaks a lot of stuff.  It appears this type of change should be covered by policy.  Perhaps a period of deprecation could be specified where both environment variables, ISIS3DATA and ISISDATA, refer to the same value to ease the transition and provide an environment in whic

[2020-03-05 22:04] lwellerastro commented on #3727
Am I correct in thinking that when this change is implemented, a user would potentially have to re-spice all of their data to update path references in the Kernels Group?

I am not explicitly seeing $ISIS3DATA in path names (I believe that went away some time ago), but in looking at some labels for data across just two of the many projects I am currently working on, I do see /usgs/cpkgs/isis3/data

[2020-03-06 15:37] jessemapel commented on #3727
I think this is a good path forward here. We should have some transition period. Something like a `getDataDirectoryPath` function that could return ISISDATA if it's set and ISIS3DATA otherwise. Then, after a set amount of time remove the ISIS3DATA part.

The only situation where you need to re-spiceinit your data is if you have $ISIS3DATA in your kernel paths **and** the data from those kernels is

[2020-03-06 15:54] rbeyer commented on #3727
This seems like a robust solution: bottleneck the need to know the actual name of the environment variable through a function, and then the function can check for the existence of both.

Of course, this leads to the question of why not *always* have it this way?  Why should the explicit name of an environment variable be sprinkled throughout the codebase?  Seems like it should *always* just be in

[2020-03-06 16:37] jessemapel commented on #3727
@rbeyer It is already partially behind an interface. There is a function in the Process classes that gets the mission specific data directories without the caller passing $ISIS3DATA. There are a handful of places that don't use this though.

[2020-03-06 22:45] KrisBecker opened #3741 "ISIS C++ Header Boilerplate Disclaimer Needs a Review/Update"
**Description**

It has been long standing practice for developers to include a USGS/Astro-centric standard disclaimer in the C++ header files of all class object definitions. Since the ISIS repository will be receiving/hosting code from external developers, perhaps its time to review the disclaimer for modifications that may be more appropriate.

[code]

Here are some things to consider while thi

[2020-03-07 03:45] victoronline commented on #3648
This issue arose when we tried to use ISIS as a "quick-look" tool to take a peek at the data during a trouble-shooting exercise. We didn't have calibration or kernel information for these images yet but needed to see the raw values coming from the s/c. Unfortunately, since the s/c was still too cold, the expected zero values came across as nulls when looking at the image stats and the image in QVi

[2020-03-09 21:16] scsides commented on #3727
To expand on what @jessemapel said about re-spiceiniting. If the kernels group of a spiceinit-ed cube has any $ISIS3DATA references, then after the change, re-spiceinit-ing would change those to "$ISISDATA". No real change, except for the environment variable. Both areas can be available at the same time.

Note: The vast majority of the ISIS3DATA and ISISDATA files are identical (i.e., all the SPI

[2020-03-09 21:53] jessemapel commented on #3727
It should also be emphasized that you can work around this by setting the ISIS3DATA environment variable to the value of your ISISDATA environment variable before running the applications

[2020-03-09 22:42] jessemapel commented on #3727
This is in response to some discussion in a separate PR: https://github.com/USGS-Astrogeology/ISIS3/pull/3742#issuecomment-596805576

@KrisBecker

This functionality is being dropped because the translation files are tightly connected to the logic of the software. Publicly distributing one and privately distributing the other is of no use to the public. If someone does not want to publicly distrib

[2020-03-09 22:57] KrisBecker commented on #3727
It is a service to mission teams where, in the past, the USGS provided software support. The team may prefer to hold back translation files and kernels so that they have appropriate time to publish their results before these files are released to the scientific community.

[2020-03-09 22:57] scsides commented on #3727
@jessemapel, Tightly coupled is putting it mildly. Many programs/classes will not work with even minor changes to the translations used in the ingest programs. They are code, just not C++. To answer your question, yes they should be moved to the code repo. EDIT: We should ask.

[2020-03-09 23:48] scsides commented on #3727
Just to be clear: The kernels are fully controlled by the mission/instrument team. They usually have a release schedule dictated by something like a PDS archive schedule. We are not proposing to move SPICE kernels from the data area, only files directly associated with the code that needs revision control.

[2020-03-10 13:15] afrigeri commented on #3570
Tried a fresh isis3 conda install, and still gdal seems not being installed in the same conda environment (conda install gdal gets suck in a neverending conflict solution tentatives).

In #615 @thareUSGS suggested to switch forth and back from isis3 and gdal envs.  Is this still the best solution so far?

Alessandro

[2020-03-10 15:17] jlaura commented on #3698
@scsides Do you want to check with the team and see if they have updated CKs that we can pull?

[2020-03-10 15:18] jlaura commented on #3718
@acpaquette Can you beef this up a little? Why would we want to do this? How is this exposed to a user? Is this a feature enhancement?

[2020-03-10 15:20] jlaura commented on #3703
@Kelvinrr Is this a bug or an enhancement?

[2020-03-10 15:27] Kelvinrr commented on #3703
Bug, as this causes SolarLon to not be computed correctly when the cube is spiceinited using ALE.

[2020-03-10 16:02] jessemapel commented on #3570
@afrigeri Yes that is still the current work around. We're working towards getting both installable sid-by-side but there are a handful of things that need to be updated like #3627

[2020-03-10 22:09] rbeyer commented on #3741
There should be a standard boilerplate, it should not be this.  The first three lines of the example are clearly a remnant of a previous version control system and should be removed.

The first paragraph is really a statement about the whole library, and doesn't belong in each individual file.

The second paragraph is essentially covered by the top-level license information, and unless you want to

[2020-03-11 01:18] foobarbecue commented on #3570
@afrigeri my solution is to install ISIS with conda, then use a GDAL environment but set the ISIS environment variables manually (use the old install instructions). That seems to work well and I don't have to switch back and forth; all the ISIS tools are available in my GDAL environment.

[2020-03-11 14:14] jlaura commented on #3689
We have had no additional feedback on this in the last 3 weeks. I am going to move to close this RFC as accepted and remove the old LOLA/GRAIL SPK files. Any objections?

[2020-03-11 14:23] jlaura commented on #3741
Disclaimer: I absolutely detest large license blocks at the top of every file. I understand why licenses like GPL strongly suggest including the blocks. This is just a bias I am bringing to this discussion.

Without having done ample due diligence to see what our requirements are:

- We are already licensed using the UnLicense. All the boilerplate that is in the codebase now is rotted.
- I would p

[2020-03-11 16:42] lwellerastro commented on #3689
Before you close this, could someone be more explicit in regard to the filenames.  There is a small chance that the data for Brent's LROC NAC polar mosaics may be pointing to some of these older files and would need to be re-spiced (some of the data will be active next FY because of their inclusion in an IAA proposal to get them delivered).  I'm interested from a heads-up perspective.  Some images

[2020-03-11 21:01] jlaura commented on #3727
More opinion here concerning this thread.

First, I want to note that this issue has been wonderful in highlighting process improvements, particularly in the update cadence for RFCs. This issue has also highlighted just how important engagement is when we have formally adopted a lazy consensus model.

Second, this is not an API breaking change based on how the project is defining the API. It may b

[2020-03-12 00:58] KrisBecker commented on #3727
@jlaura...

I have quickly reread [RFC2](https://github.com/USGS-Astrogeology/ISIS3/wiki/RFC2:-Release-Process), particularly the [Versioning](https://github.com/USGS-Astrogeology/ISIS3/wiki/RFC2:-Release-Process#versioning) section which states:

Can you explain how this change does not meet the API breaking definition in [RFC2](https://github.com/USGS-Astrogeology/ISIS3/wiki/RFC2:-Release-Proces

[2020-03-12 01:18] jlaura commented on #3727
@KrisBecker It does not seem like the arguments that you are making right now are in good faith with the goal of moving the project forward. I understand the desire to keep things the way they are and for a mission team that freezes their version at the start of a mission and then, rightfully so chooses not to update because they need to ensure continuity. I am failing to empathize with calls for

[2020-03-12 17:30] jessemapel commented on #3727
I think this is too strict a reading of the RFC. The values of the default parameters have changed but they still point to the same file. The intent behind defining the application defaults as part of the API was to ensure that commands lines will work the same within a major version. Even though the default value changed, it has no impact on how the application runs for users.

I do not see that

[2020-03-12 18:36] #1790 closed, assigned to Kelvinrr

[2020-03-12 23:14] scsides commented on #3689
@lwellerastro, Here is a list of old LOLA SPK followed by the new ones.
Old - to be removed ---------------------------
LRO_CO_201308_GRGM660PRIMAT270.bsp
LRO_ES_01_201308_GRGM660PRIMAT270.bsp
LRO_ES_02_201308_GRGM660PRIMAT270.bsp
LRO_ES_03_201308_GRGM660PRIMAT270.bsp
LRO_ES_04_201308_GRGM660PRIMAT270.bsp
LRO_ES_05_201308_GRGM660PRIMAT270.bsp
LRO_ES_06_201308_GRGM660PRIMAT270.bsp
LRO_ES_07_201308_

[2020-03-13 00:37] foobarbecue commented on #3698
I see kernels up to 2019 are now available at https://www.darts.isas.jaxa.jp/pub/hayabusa2/spice_bundle/spice_kernels , and sisdist.astrogeology.usgs.gov rsync. Great, I'll see if I get spiceinit to work now.

[2020-03-13 00:49] foobarbecue commented on #3698
Almost!
[code]

[2020-03-13 14:47] jessemapel commented on #3698
That's a pck error. Ryugu isn't in pck10, try downloading this: https://www.darts.isas.jaxa.jp/pub/hayabusa2/spice_bundle/spice_kernels/pck/hyb2_ryugu_shape_v20190328.tpc and passing it via the pck parameter.

[2020-03-14 19:55] afrigeri commented on #3570
Thanks @jessemapel  and @foobarbecue!

[2020-03-18 17:41] jlaura commented on #3727
Just a note that [RFC 4](https://github.com/USGS-Astrogeology/ISIS3/wiki/RFC4---Migration-of-ISIS-Data-to-Git) has been updated. We are on track to have this merged prior to the 4.1.0_RC (April 1).

Since version >= 4.1 will use the new data area we are planning to host both the old and new data areas for 6+ months (very likely longer than 6 months, I am just being conservative in my initial estim

[2020-03-19 21:29] afrigeri opened #3781 "deltack on CRISM data: wavy output from cam2map"
**ISIS version(s) affected**: 3.9.1

**Description**

Applying __deltack__ on CRISM data, even with no expected change in pointing, cam2map results in a wavy image.   Without the  __deltack__ step, cam2map behaves normally.

**How to reproduce**

[frt00008236_07_if164l_trr3.l0.cub.zip](https://github.com/USGS-Astrogeology/ISIS3/files/4356979/frt00008236_07_if164l_trr3.l0.cub.zip)

original cube
<i

[2020-03-19 22:26] jessemapel commented on #3781
Weird looking output. I wonder if the adjustment in deltack is fitting some sort of weird cubic polynomial that's causing the back and forth pattern. Gonna need to look at the pre and post adjustment pointing to see what's going on here.

[2020-03-20 16:48] lwellerastro commented on #3781
Try running deltack again and make method=direct.

I have been using deltack extensively on Cassini ISS images of Titan and Galileo SSI data of Europa using one line/sample lat/lon location along with method=direct and have gotten good results.

[2020-03-21 03:19] foobarbecue commented on #3698
Well, I'm not sure why the change but now I'm getting:

[code]

[2020-03-23 14:04] jlaura commented on #3369
![](https://github.trello.services/images/mini-trello-icon.png) [jigsaw solution for framing cameras and linescan cameras in same group](https://trello.com/c/GUmB9hEv/79-jigsaw-solution-for-framing-cameras-and-linescan-cameras-in-same-group)

[2020-03-23 14:05] jlaura commented on #3698
![](https://github.trello.services/images/mini-trello-icon.png) [hyb2onc2isis needs updating to deal with new Hyabusa2 FITS image labels](https://trello.com/c/8Zq4TPTu/80-hyb2onc2isis-needs-updating-to-deal-with-new-hyabusa2-fits-image-labels)

[2020-03-23 14:06] jlaura commented on #3689
![](https://github.trello.services/images/mini-trello-icon.png) [Remove old LOLA/GRAIL SPK files](https://trello.com/c/YTmwvXfA/81-remove-old-lola-grail-spk-files)

[2020-03-23 14:07] jlaura commented on #3659
![](https://github.trello.services/images/mini-trello-icon.png) [Enlarge Reporting the final lines and samples backwards](https://trello.com/c/7QOSiU5s/82-enlarge-reporting-the-final-lines-and-samples-backwards)

[2020-03-23 14:07] jlaura commented on #3357
![](https://github.trello.services/images/mini-trello-icon.png) [Vimscal leads to poor calibration of both Jupiter and Saturn spectra](https://trello.com/c/3CZq08Ul/83-vimscal-leads-to-poor-calibration-of-both-jupiter-and-saturn-spectra)

[2020-03-23 14:08] jlaura commented on #3648
![](https://github.trello.services/images/mini-trello-icon.png) [pds2isis interpreting zero DN values to NULL by default](https://trello.com/c/uytBqp1R/84-pds2isis-interpreting-zero-dn-values-to-null-by-default)

[2020-03-23 14:08] jlaura commented on #3711
![](https://github.trello.services/images/mini-trello-icon.png) [band priority is not optimized in automos](https://trello.com/c/mFRqKmv5/85-band-priority-is-not-optimized-in-automos)

[2020-03-23 14:10] jlaura commented on #3562
![](https://github.trello.services/images/mini-trello-icon.png) [Enable slpmap to accept cubes made with elevation instead of only radius information](https://trello.com/c/wMl5PtOv/86-enable-slpmap-to-accept-cubes-made-with-elevation-instead-of-only-radius-information)

[2020-03-23 14:10] jlaura commented on #3554
![](https://github.trello.services/images/mini-trello-icon.png) [Jigsaw parameter spksolvedegree and spkdegree not functioning](https://trello.com/c/ANjO7Va7/87-jigsaw-parameter-spksolvedegree-and-spkdegree-not-functioning)

[2020-03-23 14:10] jlaura commented on #3725
![](https://github.trello.services/images/mini-trello-icon.png) [spiceinit web=yes fails with ISIS 4.0.0](https://trello.com/c/BKWOLODj/88-spiceinit-webyes-fails-with-isis-400)

[2020-03-23 14:11] jlaura commented on #3371
![](https://github.trello.services/images/mini-trello-icon.png) [Improve project-to-plane functionality](https://trello.com/c/ltCjOUvK/89-improve-project-to-plane-functionality)

[2020-03-23 16:04] scsides opened #3788 "Failing tests"
Dev

**Description**
These four gtest tests fail when on a local build. They work on Jenkins

1622 - ThreeImageNetwork.FunctionalTestCnetstatsImageStats (Child aborted)

1623 - ThreeImageNetwork.FunctionalTestCnetstatsPointStats (Child aborted)

1673 - DefaultCube.FunctionalTestCamptSetGround (Child aborted)

1675 - DefaultCube.FunctionalTestCamptCoordList (Child aborted)

**How to reproduce**
cte

[2020-03-23 16:18] scsides commented on #3788
@jlaura, As you suggested we should try and get these working.

[2020-03-23 17:47] ladoramkershner commented on #3689
For documentation:
I moved the old (LRO_\*_GRGM660\*.bsp) files into a temporary directory (/usgs/cpkgs/isis3/old_data/lro/kernels/spk/), to test whether not this will break any systems before we actually remove these files. Additionally, I removed these kernels from the kernels database makefile, so they should not be referenced by spiceinit.

[2020-03-23 17:55] ladoramkershner commented on #3689
I am going to close this issue for now, we will reopen if issues arise from this change.

[2020-03-23 17:55] #3689 closed, assigned to ladoramkershner

[2020-03-23 18:57] acpaquette commented on #3357
@patmfry I am picking this ticket up for the current mission support sprint. Off the top of your head do you know what would be involved to update the mults file to appropriately fix this problem? Or is the product of the old perf file and the mult file, generating a new calibration file, a good way to handle this?

It would also be nice to have a cube that has the incorrect calibration values, al

[2020-03-23 21:57] patmfry commented on #3357
acpaquette Not sure what best was to fix this is, new files or in software. The downside of creating new perf files is that there are a lot of them, My approach would likely be to mod vimscal calculateSpecificEnergy() and just have separate processing for VIS and IR, returning the product of two files for VIS cubes, As far as the mutiplier in the vimsCalibration...trn file, I guess one could make

[2020-03-23 22:03] patmfry commented on #3357
acpaquette Hopefully the zip archive contains
V1354610545_2_vis_if_RC19.fits and V1354610545_2_vis_if_RC19fix.fits
[vimsv_goodbad.zip](https://github.com/USGS-Astrogeology/ISIS3/files/4372121/vimsv_goodbad.zip)

[2020-03-24 01:30] acpaquette commented on #3357
@patmfry Second question, I can't run vimscal on the V1354610545_2_vis_if_RC19.fits file after ingesting it as a cube. It seems that the file is from 2000 and is no longer supported according to [#2397](https://github.com/USGS-Astrogeology/ISIS3/issues/2397). However I may be missing something.

[2020-03-24 14:47] patmfry commented on #3357
@acpaquette Not sure if there's some confusion here. Both the cubes I sent are already cailbrated by vimscal. Are you trying to calibrate one of those, or are you trying to calibrate v1354610545_2_vis.cub (output from vims2isis and spiceinit)? If the problem is that vimscal doesn't have multiplier and other files available for 2000, then I have a way around that. I've made symbolic links in the da

[2020-03-24 14:49] patmfry commented on #3357
@acpaquette by the way, here is version of isis I was using for the previous processing...
[patf@puck isis3]$ cat version
3.9.1 # Public version number
2019-11-19 # Release date
stable # Release stage (alpha, beta, stable)

[2020-03-24 14:59] patmfry commented on #3357
[vimsv_saturn_goodbad.zip](https://github.com/USGS-Astrogeology/ISIS3/files/4375937/vimsv_saturn_goodbad.zip)

_vis.cub file is uncalibrated (vims2isis, spiceinit) cube, _vis_se_RC19.cub is calibrated (broken) radiance file, _vis_if_RC19.cub is calibrated (broken) I/F file. There are FITS versions of these last two file types as well. Those FITS files were processed similarly to your fx solution t

[2020-03-24 15:14] jessemapel commented on #3369
This will be available in the 4.1 release.

[2020-03-24 15:14] #3369 closed, assigned to jessemapel, paarongiroux

[2020-03-24 15:59] rbeyer commented on #3369
Yay!  Thank you.

[2020-03-24 16:07] jessemapel opened #3795 "Several CMAKE configuration flags should be optional"
**Description**

Three of the flags for the CMAKE configuration should be optional because they can be deduced from the environment.

1. isisData & isisTestData: these should default to the caller's ISISDATA and ISISTESTDATA environment variables. They can still be optional flags, but they should default to the caller's environment variables if not entered.
1. JP2KFLAG: This should be entirely ded

[2020-03-24 17:30] acpaquette commented on #3357
I managed to get ahold of the original qub and was trying to process that in full but ran into an error that the there was no mult file for 2000. What you mentioned above helps clear things up! Would you happen to know the reasoning behind those few files being named differently from the rest?

I will start working with the Saturn data today and see how far I get. Thank you for the help @patmfry

[2020-03-24 18:21] AndrewAnnex commented on #3727
just to continue some of the conversation about gitlfs in the RFC, has "git-annex" https://git-annex.branchable.com/ been discussed?

here is a good blog post about it vs git lfs: https://lwn.net/Articles/774125/

I have no connection to the project...

Another important consideration before hosting the data in S3 are the bandwidth costs, users should not have to pay for transfer... Also check out

[2020-03-24 19:06] jessemapel commented on #3727
I definitely agree users shouldn't be paying for the transfer costs. I also believe that rclone is being looked into for working with S3.

[2020-03-24 19:14] AndrewAnnex commented on #3727
regarding the performance issues with git lfs in the RFC, was that from a test of a prospective user attempting to download the test data using git lfs or just local performance? It could make sense for the usgs folks to user git lfs behind the scenes to manage the data area still and to cut releases of the data that are then synced to buckets or whatever, so even if its slow it could still be use

[2020-03-24 19:18] jlaura commented on #3727
rclone is being looked at.

While I agree that users should not have to pay for data transfer costs, this is not something that we could guarantee one way or another. See the recent NASA OIG report on earth data cloud storage. That said, the current solution is not something that we can continue to pay.

The LFS tests were internal and external. Since we are working to significantly reduce test da

[2020-03-24 19:49] jessemapel commented on #3727
I'm not sure what you mean by this. We pull kernel updates from active missions all the time

[2020-03-24 19:54] jlaura commented on #3727
I am meaning backwards compatibility related changes, e.g., the bsp change that happened in the last 6 months.

[2020-03-24 20:05] afrigeri commented on #2683
Just noted this same behaviour [topmenus of qview, qmos  ... not working ] on macOS Catalina 10.15.3, isis3 3.9.1

[code]

Alessandro

[2020-03-24 20:19] jessemapel commented on #2683
@afrigeri We're mainly supporting 10.13 right now. I know @KrisBecker has started testing it out, but we can't do anything with 10.15 here at the survey because it hasn't been approved by the Department of the Interior for use yet :(

Could be that we need to rebuild QT with a newer SDK. We're testing out working with the latest conda-forge qt build, but I don't know if that will fix this.

[2020-03-24 21:18] patmfry commented on #3357
@acpaquette I think the reason for the lack of multiplier files for the cruise and Jupiter encounters was just that at the time the time-dependent wavelength/throughput files were created, the priority was getting those out for the immediate Saturn data processing; there probably wasn't time/money/enthusiasm by the VIMS calibration team for extending the analyses to the earlier data. Fortunately t

[2020-03-24 21:33] krlberry opened #3796 "Further pin opencv version in environment.yml so cmake configure will consistently succeed."
**ISIS version(s) affected**: current dev

**Description**
Creating a conda environment using the `environment.yml` in dev can result in an environment that ISIS cannot be built in. Specifically, opencv errors come out of the configuration step.

**How to reproduce**
In a clone of ISIS with dev checked out:
conda create -n newenv -f environment.yml
conda activate newnenv
cmake -Disis3Data=/usgs/cp

[2020-03-24 21:48] afrigeri commented on #2683
Thanks for the info, @jessemapel.

I've tried to get isis3 into an env with qt 5.9.7 (or even 5.12.x) installed, but that was unsuccessful.

[code]
because of the isis3 dependency specifically on 5.9.6.  That was an interesting exercise anyway!

Thanks for testing the latest qt build.  I'm tuned in.

[2020-03-24 22:02] jessemapel commented on #2683
Yeah, we currently have to ship our own build of QT because the older builds on conda-forge were missing some plugins (hence it's hard pinned to 5.9.6). We recently pushed our changes up to conda-forge, so I'm going to be testing out using the newer conda-forge builds with the 4.1 RC next week.

[2020-03-24 22:02] jessemapel commented on #3796
@kberryUSGS Can you post the environment and the errors that arise? Is this due to the libopencv change that happened a while ago?

[2020-03-24 22:10] afrigeri commented on #3781
Thanks @lwellerastro! the method=direct gives a better (not wavy/groovy) result, which gives a good registration just locally around the selected point,  but elsewhere pixels are still off from the basemap.

[2020-03-24 22:13] jessemapel commented on #3781
@lwellerastro Would it be possible to build a proper control network using just this image and a basemap in qnet then bundle adjusting? That seems like a much more rigorous way to tie a single image to a basemap.

[2020-03-24 22:13] lwellerastro commented on #3781
@afrigeri, you might want to add a second point or more if the app lets you.  One point may be allowing for for some pivoting where a second might help stabilize it some.  If tying to a base map, a control network would be better (along with running jigsaw), but there is a bit more work involved with that and possibly a steep learning curve.

You might have a look at some of the PDFs under the Dem

[2020-03-25 15:04] krlberry opened #3801 "RollingShutterCameraDetectorMapTests.ApplyAndRemoveJitter test failing on CentOS on Jenkins"
**ISIS version(s) affected**: current dev

**Description**
The RollingShutterCameraDetectorMapTests.ApplyAndRemoveJitter
test is failing only on Jenkins only on CentOS. (Tests pass locally)

**How to reproduce**
Is actively failing on Jenkins on CentOS.

**Possible Solution**
Stuart suggested running this in Allinea Map to check for memory errors.

**Additional context**

[2020-03-25 15:29] krlberry opened #3802 "Create or identify internal area to store resources used when creating camera models &c"
**Description**
(1) Identify or create an internal-to-astro location to place documents used in developing software for missions, for example: a SIS, details about the calculation of a distortion model, etc. Right now, these documents have been placed in different places for each mission and can be difficult to locate when needed.

(2) Migrate  tgo/assets/distortion out of the $ISIS3DATA area and

[2020-03-25 17:03] krlberry commented on #3795
I'm pretty sure (1) is already happening, but perhaps these need to be marked or documented as optional somehow. See:
[code]

[2020-03-25 18:19] jessemapel commented on #3795
@kberryUSGS That code snippet doesn't actually function. If i configure without specifying them, then they are set to OFF, and don't pull my environment variables. I think it has to do with the lines a little further up:

[code]

[2020-03-25 18:29] krlberry commented on #3795
@jessemapel Thanks, didn't realize it didn't work.

[2020-03-25 18:31] krlberry commented on #3795
I'm also not sure if this is reasonable to add to your ticket, or if it should be handled separately, but the below section (related to cmake configuration flags) seems potentially risky to me in that if you build without an install prefix once and don't remove the resulting library from your conda environment, subsequent builds _with_ the install prefix will still link against the (old) lib in yo

[2020-03-25 19:37] acpaquette commented on #3357
@patmfry I can replicate the Saturn image up to the calibration step but when I apply the fx fix I am seeing significant difference in the result. Is there anything different you are doing to apply the fix? Currently I am running:
`vims2isis from=v1749924310_1.qub vis=v1749924310_1_vis.cub ir=v1749924310_1_ir.cub`
(From original you provided)

`spiceinit from=v1749924310_1_vis.cub web=false attach

[2020-03-25 20:24] patmfry commented on #3357
@acpaquette It looks like you're doing the same processing I do, except I forgot that I do a destriping of the visible bands when I do the isis to fits conversion. The destriping is described in Adriani et al. 2007 ("The de-striping of the VIMS-V images...", see attached jpeg). Other than the cosmetic destriping, do your spectra looks fairly similar to my fixed spectra?
![Adriani_destripe jpb](htt

[2020-03-25 20:37] krlberry commented on #3796
Yes, this error occurs when a conda-forge opencv package is picked up from after the time the opencv package was split into opencv and libopencv. We need to pick "before or after" and pin as appropriate. See: https://github.com/conda-forge/opencv-feedstock/pull/185

configure errors:
[code]

Environment:
[code]

[2020-03-25 20:50] afrigeri commented on #2683
@jessemapel, found a way to revive the menubar with Isis 3.9.1 and OSX 10.15.3:

1. launch the app, say qtie
2. clicking the unresponsive menubar
3. going back to the terminal, click anywhere on the terminal where we have launched qtie
4. go back to the menubar: now it's alive

That's not a qt bug, it is reported to be OSX Catalina behavior (!!), see: https://bugreports.qt.io/browse/QTBUG-48829

[2020-03-25 20:52] acpaquette commented on #3357
@patmfry They are fairly similar. The differences range from 0-334 with an average difference of 7. Would it be possible to process the image and ignore the de-striping step on your end?

[2020-03-25 22:43] thareUSGS commented on #2683
Perhaps this gets fixed in Qt 5.11.3 -- quite a large version jump. https://bugreports.qt.io/browse/QTBUG-63866

[2020-03-25 22:48] patmfry commented on #3357
@acpaquette Sure. I'll probably get to it tomorrow morning.

[2020-03-25 23:22] AndrewAnnex commented on #3727
just how of curiosity, how much more work will it be to expand the web based spice data and is there a issue tracking those issues? And do the new tech policies have an impact on that service?

[2020-03-25 23:46] jlaura commented on #3727
We have a potential project in 2021 to work on migrating additional portions of the code to make use of spice data over the web. This is proposed work. PRs are always solicited!

[2020-03-26 13:52] patmfry commented on #3357
Here are SE and I/F files, no destriping, with and without fix..
[vimsv_saturn_nodestripe_goodbad.zip](https://github.com/USGS-Astrogeology/ISIS3/files/4387519/vimsv_saturn_nodestripe_goodbad.zip)

[2020-03-26 16:00] jessemapel commented on #3727
We're working towards this goal. Currently the spice web service is just a script on a server that runs spiceinit for you. Next year we are looking to cut down on the number of applications that load kernels and have them read the spice data attached to cubes when available. Then, in the future we can explore changing the spice web service to do more than just run spiceinit.

Improving the spice w

[2020-03-26 17:22] krlberry commented on #3441
These are still broken. I just quickly (re?) migrated the Special Pixels page from Redmine because some other documentation needed to link to it. There was an interactive demo on this page that I didn't migrate that should get migrated in the future.

[2020-03-26 17:27] jessemapel opened #3805 "Opening cubes outside of Process objects is error prone"
**Description**

When opening input cubes using a command line argument outside of a Process object, like we will be doing for many of the app to callable conversions, the intuitive `Cube::open(ui.GetFilename("FROM"))` results in cube attributes being ignored. Similarly, `Cube::create(ui.GetFilename("TO"))` results in command line cube attributes being ignored. This recently popped up in #3798 and

[2020-03-26 18:12] jessemapel commented on #3788
These tests pass if you set the environment variable MALLOC_CHECK_=1

This is already defined in our Jenkins environment, hence they pass on Jenkins but not locally. This does indicate some deeper memory error though :(

[2020-03-26 19:12] ladoramkershner opened #3806 "Locations where documentation is linked to github wiki"
**Description**

This is a string dedicated to the documentation of locations where we are linking to the github wiki. Since we are considering moving our documentation to a different location, this is an attempt to minimize the 'broken link' issues and save time on searching for broken links down the road.

Thanks!

[2020-03-26 19:26] acpaquette commented on #3357
Sweet! I am getting almost the same result up to 4 sig figs. I should have something done by the end of the day. Thanks for being prompt and helping to get data to us @patmfry!

[2020-03-26 21:09] #3648 closed, assigned to nobody

[2020-03-26 22:50] afrigeri commented on #3781
@jessemapel - I've proceeded to qnet as suggested by @lwellerastro, producing a cnet with several points ( @lwellerastro - the direct method of deltack offers just one point option ) tied to a ground source.  jigsaw updated the pointing, but then cam2map produced the wavy/weird output again.

[2020-03-26 23:48] lwellerastro commented on #3781
@afrigeri, I have questions.
- what was your ground source?
 - did you pass jigsaw a spiced file (not a deltack'd version)?
- how many points did you pick?
- how did you run jigsaw - what did you solve for?
- what sort of results did you get from jigsaw?
  - Sigma0 for the final iteration; how many iterations for convergence
  - what were the residuals like on the measures (see residuals.csv)

You

[2020-03-27 16:04] ladoramkershner commented on #3806
https://github.com/USGS-Astrogeology/ISIS3/blob/2d972193683734b6ea36ae49bbdf72a15e60f5f3/isis/src/base/apps/pds2isis/pds2isis.xml#L53

[2020-03-27 19:26] ladoramkershner commented on #3562
@victoronline The function for calculating slope does not change between the pixres=file and pixres=automatic (default) methods. The error with negative (elevation) values arises in the latitude scaling of the x - y- resolutions done for the pixres=automatic method. It converts the input values into spherical coordinates with an ISIS method that assumes lon, lat, radius input. We have updated the

[2020-03-27 19:38] rbeyer opened #3810 "How to cite ISIS in my paper/abstract?"
**Description**
What is the preferred way to cite my use of ISIS in papers and abstracts that I publish?

**Background and Discussion**
I cannot seem to find an answer in the [FAQ](https://github.com/USGS-Astrogeology/ISIS3/wiki/FAQ) or in the repo.

The only "official" answer appears to be [this document](https://isis.astrogeology.usgs.gov/documents/References/References.html), last updated in 20

[2020-03-27 21:17] acpaquette commented on #3725
@Kelvinrr Can this be closed?

[2020-03-27 21:20] acpaquette commented on #3659
@ladoramkershner Can this be closed?

[2020-03-27 21:29] #3659 closed, assigned to ladoramkershner

[2020-03-27 21:40] #3357 closed, assigned to acpaquette

[2020-03-27 23:03] thareUSGS commented on #3810
Funny I was just mentioning this to the team this morning. I understand there is one in the works (perhaps pushed into this [special issue](https://www.mdpi.com/journal/remotesensing/special_issues/planetary_3D_mapping_remote_sensing_machine_learning) - sorry self-plug) Besides the plethora of abstracts, the reference I normally see is:

Edmundson, K. L., Cook, D. A., Thomas, O. H., Archinal, B. A

[2020-03-30 15:02] #3727 closed, assigned to scsides, krlberry, kaitlyndlee, paarongiroux

[2020-03-30 15:37] jessemapel commented on #2737
This is from Apollo work and can be closed

[2020-03-30 15:37] #2737 closed, assigned to nobody

[2020-03-30 15:38] jessemapel commented on #2746
This is Apollo work and can be closed.

[2020-03-30 15:38] #2746 closed, assigned to nobody

[2020-03-31 01:44] krlberry commented on #3698
Hi @foobarbecue, the changes you recommended were merged in PR #3813 . I needed to make an additional change to fix the `NaifIkCode` error you experienced, see the change to Hayabusa2OncKernels.trn in the PR. The updated software will be available in the ISIS 4.1 release candidate, which is currently being worked on and I believe is slated to be released by the end of this week or early next week.

[2020-03-31 01:50] krlberry opened #3815 "Update Hayabusa2 Kernel Download Script"
**Description**
I needed to update the Hayabusa2 kernels area to get the cubes from #3698 spiceiniting, but didn't get a chance to update the Hayabusa2 kernel download script. It needs to be updated to pull down files with the following filename patterns to the following places:

[code]
None of these needed updates were pulled down by the current script.

[2020-03-31 15:10] foobarbecue commented on #3698
Wonderful! I will definitely use this in the next few days, if you are able to push the earlier kernel area update.

[2020-03-31 15:59] jessemapel commented on #3698
@foobarbecue We'll be pushing the most recent kernels we have as we've changed the data area around for 4.1. It looks like we have coverage up to beginning of 2019 currently.

[2020-03-31 20:44] jessemapel opened #3816 "ckwriter tests don't use the test preferences for their spiceinit calls"
**ISIS version(s) affected**: All versions since ckwriter was added

**Description**

The ckwriter app tests don't use the user's test preferences for their spiceinit calls, or other ISIS application calls. This results in the user's preference file being picked up, which can result in random failures if the user has a custom data area for any of the missions.

**How to reproduce**

Change your MR

[2020-03-31 21:59] ladoramkershner opened #3817 "Column Gtests error if line error print preference is on"
**ISIS version(s) affected**: x.y.z
3.10 and 4.1

**Description**

The column gtests are searching error output for sentences that end in "."
(quick reference: https://github.com/USGS-Astrogeology/ISIS3/blob/5195ae75cb4c821ed90d2d19a1191086b8d5f9e1/isis/tests/ColumnTests.cpp#L135) causing an error if your IsisPreferences are set to print out the file line of error.

**How to reproduce**

Set IsisP

[2020-03-31 23:38] rvwagner commented on #1986
If this doesn't get implemented in the next version, you should update the documentation (and  the keyword exclusions) to make it clear that a user-defined shape model cannot be used with web SPICE.  The current error message of `**ERROR** The Spice Server was unable to initialize the cube.  The error reported was: Unable to initialize camera model in SpiceClient.cpp at 567.` is very unhelpful.

[2020-04-01 15:36] jlaura commented on #3810
Here is the existing Zenodo link: https://zenodo.org/record/3697255 with the associated DOI for 3.10.1 (https://doi.org/10.5281/zenodo.3697255) and 4.0.1 (https://doi.org/10.5281/zenodo.3697216).  We have DOIs all the way back to 3.6.1. Here is the [extra long link that might not work](https://zenodo.org/search?page=1&size=20&q=conceptrecid:%222563341%22&sort=-version&all_versions=True#).

This is

[2020-04-01 16:37] rbeyer commented on #3810
@thareUSGS had some good comments in #3819 about the style of the citation on Zenodo.  It definitely needs some clean-up.

[2020-04-01 16:39] thareUSGS commented on #3810
Moving comments to here (sorry Ross).

In Zenodo title has "Releas". Author list is a little odd, e.g. isis3mgr. Perhaps list in alpha order or should we just use Astrogeology Team (or Science Center) and link to contributor page...

Currently the recommended cite is (very odd):
Tracie Sucharski, Jesse Mapel, jcwbacker, Kristin, Kaitlyn Lee, AgoinsUSGS, … Ross Beyer. (2020, March 4). USGS-Astrogeo

[2020-04-01 16:47] jlaura commented on #3741
Looking at the current federal policy, we have identified broadly what policies we need to follow.

# Proposal:
- Adopt the 18F federal government license (CC0 1.0): https://github.com/18F/open-source-policy/blob/master/LICENSE.md
- Alter the boilerplate in each file to use the SPDX identifier for CC0 1.0: https://spdx.org/licenses/CC0-1.0.html

This is not an API altering change. Do we need to ge

[2020-04-01 17:00] jlaura commented on #3810
Fixed release. The authors were auto-pulling from the repo. I altered to be regular, current,  committers followed by external or retired committers.

Not from what I can see. Zenodo links to EU, NSF, etc., but not NASA.

I would rather not unless it is 100% automated. We already post release notes so adding another step to a website that honestly, I was the only one that knew about seems redundan

[2020-04-01 17:04] jessemapel commented on #3810
If we move release notes into the repository itself, then we could easily do this. Maybe something to tackle as we look into moving docs around next year.

[2020-04-01 17:05] jlaura commented on #3810
After manually reordering the author list for 3.10.1, I see that that change did/does not propagate to 4.0.1, etc.

Looks like we might need an Authors.rst a la [this one](https://github.com/zenodo/zenodo/blob/master/AUTHORS.rst). For now, I am not going to manually reorder.

[2020-04-01 17:11] jessemapel commented on #3741
Taking the 18F license seems reasonable. Now who wants to write a script to go through the repo and replace all of the boilerplate!

[2020-04-01 17:54] rbeyer commented on #3741
I do not think that an RFC process is needed.  Discussion here should be sufficient.

The 'license file' that is exhibited on the '18F' repo really isn't that great for ISIS, in my opinion (but could be a good model), but I first want to ask why you think you need to move from the 'Unlicense' text to something based on CC0.

[2020-04-01 20:58] rfergason commented on #3741
I agree that discussion here is also likely sufficient and that an RFC is not needed.

[2020-04-03 02:57] jlaura commented on #3741
@rbeyer Simply to get in line with other gov. licenses. The effort is to make the approval process on our side as straightforward as possible.

What are your concerns about CC0 1.0 vs. Unlicense?

@rfergason thanks for aiming me at this as well: https://github.com/usgs/best-practices/blob/master/LICENSE.md

The USGS best practice is also to use CC0 1.0.

[2020-04-03 19:27] #3562 closed, assigned to kaitlyndlee, ladoramkershner

[2020-04-03 19:31] jessemapel commented on #3698
@kberryUSGS Can this be closed?

[2020-04-03 19:43] jessemapel commented on #3725
This is still failing. @Kelvinrr Did the server get updated?

[2020-04-03 19:44] jessemapel commented on #3453
I'm actually closing this as a duplicate of #1986

[2020-04-03 19:44] #3453 closed, assigned to nobody

[2020-04-03 19:46] jessemapel commented on #1986
This is a sensible change. With the new data moved into the source tree, I'd expect more users to not download the base area that includes the shape models.

A possible solution would be if the user specifies a shapemodel, then use the web server to spiceinit with an ellipsoid and then on the client side replace that with the user specified shapemodel and re-check that the sensor instantiates.

[2020-04-03 22:06] foobarbecue commented on #3698
Hi, I just got around to trying this with the 4.1.0 RC and from spiceinit I get:

[code]
I don't need Hayabusa 1 kernels for Hayabusa2, do I?

[2020-04-03 22:16] jessemapel commented on #3698
The Hayabusa2 pck kerneldb isn't pulling in the ryugu PCK. Try adding `PCK=$ISISDATA/hayabusa2/kernels/pck/hyb2_ryugu_shape_v20190328.tpc`.

@kberryUSGS Is it okay if I manually update the kernel.db?

[2020-04-04 02:08] rbeyer commented on #3741
No particular concerns, both the Unlicense and CC0 are waivers of copyright.  It is just that CC0 is more general, and applies to any kind of work, whereas the Unlicense is slightly more 'software' oriented.  Unless there were some driving reason, they're equivalent, and I'd stick with the Unlicense.

Ah, that's what I was trying to get to: what 'approval process' are you talking about?

Isn't the

[2020-04-05 18:54] krlberry commented on #3698
@jessemapel I already updated the kernel.db to pick up the new pcks, but they weren't pushed to the rsync server until just now. I pushed just the `hayabusa2` kernel changes to the rsync server today.

@foobarbecue Try updating your `hayabusa2` data area using the following for use with the ISIS 4.1.0 RC:

[code]
I added the `--dry-run` above so you can see if the changes proposed by rsync are rea

[2020-04-05 23:05] foobarbecue commented on #3698
Thanks guys, after updating kernels from the `isisdata` rsync I was able to successfully run `hyb2onc2isis` followed by `spiceinit`. I then tried `hyb2onccal` and got:

[code]

[2020-04-05 23:56] foobarbecue commented on #3698
Think I figured it out, working on a quick patch

[2020-04-06 00:21] foobarbecue opened #3828 "Code of Conduct link is broken"
I submitted my first pull request just now, and tried to follow the link to the Code of Conduct in https://github.com/USGS-Astrogeology/ISIS3/blob/dev/.github/pull_request_template.md , which goes to https://usgs-astrogeology.github.io/code/ where I get a 404 error.

[2020-04-06 00:21] foobarbecue opened #3829 "code of conduct"

[2020-04-06 00:22] foobarbecue commented on #3829
oops, accidental duplicate

[2020-04-06 00:22] #3829 closed, assigned to nobody

[2020-04-06 14:40] jlaura commented on #3741
I still need to get this approved through our internal mechanisms. Just like when we are on a paper with external folks, we still have to comply with our internal requirements.

While we are open sourcing the software and acting as contributors, we are still in this transition of ownership and being required by the organization to abide by the organizational requirements. Honestly, we will always

[2020-04-06 16:53] lwellerastro commented on #3670
Hi, I just tested the changes and it appears a DATA_SET_ID was left out - "SLN-L-TC-3-W-LEVEL2B0-V1.0".

Notice that there are two images under @ladoramkershner How To Reproduce section,

Running using the latest changes to kaguyatc2isis, TC1S2B0_01_05186N225E0040.lbl ingests successfully, however TC1S2B0_01_05186N225E0040.lbl fails with the following message:

    Message = "Input file [TC1W2B0_0

[2020-04-06 16:55] jessemapel commented on #3670
I'll work on getting this fixed. I'm working on RC2 with #3827 and will put this out then.

[2020-04-06 17:26] lwellerastro commented on #3669
What do I have to do to pick up the new kernels? Running under isis4.1.0-RC1.

I have ingested an image that was included in the updated kernels, but when I spiceinit I don't seem to be getting the updates.  My test file is available under /work/users/lweller/Isis3Tests/Spiceinit/Enceladus/.

I first ran spiceinit in default mode which resulted in the following kernels information:
 spiceinit from

[2020-04-06 17:29] jessemapel commented on #3669
Smithed is currently set to OFF by default. There's an open issue #3482 to change this though. It hasn't gotten any comment and it is API breaking because it changes a default, so I'd like to see some discussion before it's moved ahead with.

[2020-04-06 17:31] jessemapel commented on #3669
I'm going to write a quick script to run through all of the images used in the kernels and see if they pick up the updated kernels.

[2020-04-06 17:31] rbeyer commented on #3741
Sure.  I get that, and it is actually a great example, because what we're talking about with the license and boilerplate on this software project is analogous to the final copyright statement on a published paper.  So let's say you and I are co-authors on a paper.  You have to go through some process internal to the USGS to get them to approve your contribution, and your contribution to the collab

[2020-04-06 17:42] jessemapel commented on #3670
![](https://github.trello.services/images/mini-trello-icon.png) [Fix kaguyatc2isis](https://trello.com/c/CPYWd3Np/214-fix-kaguyatc2isis)

[2020-04-06 17:43] jessemapel commented on #3669
![](https://github.trello.services/images/mini-trello-icon.png) [Fix Enceladus Kernels](https://trello.com/c/gPih4jXn/215-fix-enceladus-kernels)

[2020-04-06 18:36] jlaura commented on #3741
@rbeyer Do you want to put in a PR with those changes? They look good here. The time you spent reviewing and making modifications is appreciated!

We should keep this issue open since the change then needs to propagate to the boilerplate at the top of each file.

[2020-04-07 05:30] rbeyer commented on #3741
So this issue has boilerplate in the title, but so far, we just worked on a new version of the top-level LICENSE file.  What actually should the boilerplate in each file be?

[2020-04-07 14:18] jlaura commented on #3741
I would like to simply see: `/* SPDX-License-Identifier: CC0-1.0 */` as the boilerplate.

[2020-04-07 14:57] rbeyer commented on #3741
I don't think that's enough.  I'd also like to see some minimal statement so if someone landed on  a random file, they have some inkling of what's going on, maybe like this:

[code]

Or maybe something like this (which is modeled on our PR template):

[code]

Or even:

[code]

However, I like the first one, as it directs folks to the top-level files that have more information about the public doma

[2020-04-07 17:25] jessemapel opened #3832 "Add License to meta.yml so that it's listed on Anaconda"
Right now, our license isn't listed in our conda-build meta.yml and is causing our license to not be listed on Anaconda cloud. There is already text at the bottom of the file for this, it mostly just needs to be uncommented.

[2020-04-07 17:25] jessemapel commented on #3832
Sparked by #3831 #3741

[2020-04-07 17:35] kaitlyndlee opened #3833 "Having an object and app named the same causes build errors after converting the app"
**ISIS version(s) affected**: x.y.z
3.10 and 4.1

**Description**

After converting the enlarge application, i.e., adding an enlarge.cpp and enlarge.h file for the app, this caused build errors since there are Enlarge.cpp and Enlarge.h files for the object. Additionally, Macs have a case insensitive filesystem, causing the h files to be overwritten when copying them to the inc directory.

**Possib

[2020-04-07 17:46] jessemapel commented on #3669
Looks like as part of the data area move, the kerneldbs got overwritten. I've re-updated them and am currently re-checking all of the images that should be covered.

[2020-04-07 20:44] jlaura commented on #3741
I am good with any of the three. I would lean #1 too if only to get Author info out of the source and into AUTHORS.txt

[2020-04-07 22:53] scsides opened #3834 "Modified Camera.Plugin files not added to lib/Camera.Plugin at ninja"
4.1.0
Possibly since cmake

**Description**
The local Camera.plugin files associated with a specific camera do not get re-added to the build/lib/Camera.plugin file after being modified and another ninja command.

**How to reproduce**
cmake ... # full build
ninja
edit isis/src/mex/objs/MexHrscSrcCamera/Camera.plugin
ninja
less $ISISROOT/lib/Camera.plugin

**Possible Solution**
Modify cmake config t

[2020-04-07 23:31] rbeyer commented on #615
I'm reactivating this thread, not because I have a solution to the underlying problem, but because following some discussions today, I have written up some instructions for how to carry out the steps to have ISIS in one environment, but referenced from another.

Where should I PR these instructions, on the main README in the Installation section?  Somewhere else?

[2020-04-07 23:35] rbeyer commented on #3570
Bleh, I added a similar comment to #615, but I can't seem to reopen it (probably for the best).

I have written up some instructions for how to accomplish the multiple env solution two different ways (one real easy with conda activate --stack, and the other with writing some stuff in the activate.d and deactivate.d directories).  Where should I PR these instructions?  On the main README with the I

[2020-04-08 01:24] jlaura commented on #615
I think into the README is reasonable for now. Maybe as an advanced option in the [Installation](https://github.com/USGS-Astrogeology/ISIS3/blob/dev/README.md#Installation) section?

We are hoping to have some funding next FY to work on our documentation in general, so it is likely to move around then no matter where it goes now.

[2020-04-08 02:22] #3698 closed, assigned to krlberry

[2020-04-08 13:59] rfergason commented on #3741
I also lean towards #1 and echo appreciation to @rbeyer for the thorough review and suggestions for improving the text.  Thank you!

[2020-04-08 16:51] rbeyer commented on #3741
Thanks, I have a very strange copyright hobby.

You know, I don't actually see an AUTHORS.txt file.  Is there one in some other branch or somewhere?  We probably should at least get a minimal version committed if we're going to go with my first option which talks about it.

[2020-04-08 17:14] michaelaye commented on #615
I guess in the long run we might want `isis3VarInit.py` to be more intelligent and allow writing the activate/deactive scripts for other conda envs? Sounds like a nice PR we could do?

[2020-04-09 14:56] jessemapel commented on #3741
I don't believe we have one. It shouldn't be hard to make one from the commit history.

[2020-04-09 16:04] kaitlyndlee opened #3837 "Some unit and functional tests do not follow naming conventions"
**ISIS version(s) affected**: x.y.z
3.10 and 4.1

**Description**

There are 7 functional tests that are not named according to our [writing tests page](https://github.com/USGS-Astrogeology/ISIS3/wiki/Writing-ISIS3-Tests-Using-Gtest-and-Ctest#test-namest) . CamptFunctionalTests.cpp needs to be renamed to FunctionalTestsCampt.cpp, FunctionalTestCnetstats.cpp renamed to FunctionalTestsCnetstats.cpp,

[2020-04-09 16:23] jessemapel commented on #3837
@kaitlyndlee Can you add a card on trello for this?

[2020-04-09 16:27] kaitlyndlee commented on #3837
![](https://github.trello.services/images/mini-trello-icon.png) [Rename some unit and functional tests](https://trello.com/c/SFKOoIKW/229-rename-some-unit-and-functional-tests)

[2020-04-10 22:59] scsides opened #3841 "map2cam running out of file descriptors"
**ISIS version(s) affected**: 4.0.1 and most likely nearly any recent version

**Description**
map2cam run in batch mode with 2000 images in the batch file fails around file 1018:

map2cam from= themosmap/mc02_diacria_dir_final.cub  to=themosmap/\$1_mapIR match=\$1  -batch=cub.lis -onerror=continue -errli=mapthem.err
---

LOTS OF NOT SHOWN LINES WHERE map2cam WAS SUCCEEDING

---

map2cam from=them

[2020-04-11 00:29] scsides opened #3842 "stats crashes in batch mode after 1018 lines"
**ISIS version(s) affected**: 4.1.0_RC1

**Description**
stats fails with unable to open the FROM cube after 1018 lines of batch mode. lsof shows the input cubes are not being closed after each loop of the batch file processing.

See #3841 for a similar problem

**How to reproduce**
Run ulimit -n to see what your open file limit is
Run stats with -batch=some_file with more lines than your limit of

[2020-04-13 17:42] jessemapel commented on #3842
stats has a memory leak at https://github.com/USGS-Astrogeology/ISIS3/blob/dev/isis/src/base/apps/stats/stats.cpp#L26

It doesn't ever delete the cube object.

[2020-04-13 17:57] jessemapel commented on #3841
I'm curious if this exist prior to #3757. The match cube is a global variable but it should get closed during the endProcess call.

[2020-04-15 18:52] jessemapel commented on #3669
Most images are now working, but there's a good number of images with exposure durations >4 seconds. I could pad every single range with about 10 seconds, but I would be very concerned about pulling the wrong images in some cases. I'm currently working on a script that will take each image and determine the proper time range to write to the kerneldb for it.

[2020-04-19 19:25] rbeyer commented on #3810
Here is what Zenodo says about authors:

They point to this example: https://github.com/geodynamics/aspect/blob/master/.zenodo.json

Yes, we need an AUTHORS file, but it is also likely that we need to maintain a `.zenodo.json` file.  I know that this may seem like fussy busy-work, but as an academic that wants to properly acknowledge ISIS in my published papers for posterity, I feel pretty strongl

[2020-04-20 16:48] #3670 closed, assigned to AustinSanders

[2020-04-20 16:51] jessemapel commented on #3670
Test W image can be ingested and properly spiceinits under 4.1.0_RC2

[2020-04-20 22:48] jessemapel commented on #3669
I've updated the kernel DB so that each image is listed in it with a 1 ms padding. I successfully re-ingested and spiceinit all 625 Cassini ISS NAC images from the kernel and they picked up the correct kernels.

This fix will go out with the full release when we push the updated data area. It should already be live at the ASC.

[2020-04-20 22:48] #3669 closed, assigned to jessemapel

[2020-04-21 04:41] michaelaye opened #3847 "Add automatic env setup for multiple conda envs"
PR upcoming.

Just a quick question:

Is use of pathlib.Path in the `isis3VarInit.py` not possible b/c your minimum requirement seems to indicate in the script that you still allow 3.2 and 3.3? That, despite the fact that the current conda install requirements asks for Python 3.6 ?

IIUC, as this script is run in a Python 3.6 environment if the instructions are followed, we could change this versi

[2020-04-21 04:43] michaelaye commented on #3847
FYI, pathlib is available starting from Python 3.4, so I could settle for that? ;)

[2020-04-21 04:54] michaelaye opened #3848 "Potential problem: name of env_vars conda script"
I think we should rename the `env_vars.{sh|csh|fish}` scripts to `isis_env_vars.{...}` because other conda packages might have the same idea of calling their scripts like that.
Adding `isis` to the name makes a name clash very unlikely.

[2020-04-21 15:57] jessemapel commented on #3847
pathlib seems fine. The script requiring a minimum of 3.2 is just for the format calls. ISIS is really tied to 3.6+

[2020-04-21 16:26] rbeyer commented on #3847
If you were going to rewrite `isis3VarInit.py` today, I think you could certainly assume a Python 3.6 base level, since we *know* that the ISIS environment is tied to it.

[2020-04-21 16:31] michaelaye commented on #3847
i was afraid that the script is maybe being used outside conda somewhere and that's why it needs to support 3.3 to 3.5?

[2020-04-21 16:31] rbeyer commented on #3848
Other packages (GDAL and PROJ, for example) would seem to imply that they should be
[code]

Changing it is probably a good idea, but will require a thorough documentation sweep.

[2020-04-21 16:47] rbeyer commented on #3847
I don't think so.

[2020-04-21 17:00] blandoplanet opened #3849 "Spiceinit segmentation fault on Voyager 2 images isis4.0.1"
**ISIS version(s) affected**:
isis4.0.1

This does not seem to affect isis3.10.0. I didn't check other versions.

**Description**
Running spiceinit on Voyager 2 images of Triton in ISIS4.0.1 results in a segmentation fault for some cubes. It isn't obvious to me why certain cubes fail and it's not always the same cube (running in batch). Spiceinit runs fine on the same cubes in ISIS3.10.0.

**How t

[2020-04-21 17:06] jessemapel commented on #3849
@blandoplanet Have you be able to spiceinit the seg faulting cube by itself? We've had some other issues with files not being properly closed when running in batchlist.

[2020-04-21 18:32] blandoplanet commented on #3849
Thanks @jessemapel. You are correct. Running spiceinit on individual images (including the ones that failed) works.

[2020-04-21 18:48] michaelaye commented on #3848
GitHub search through this repo (is it reliable?) only shows 2 appearences of `env_vars`, one in the script and one in the README.

[2020-04-21 21:13] csedwar opened #3850 "Add Local Time band to phocube"
**Description**
Add local time band output to phocube. hocube already calculates numerous photometric parameters, for non-local time loced SC or observations of smaller bodies (e.g. Phobos, Bennu) using SPICE to also return the local solar time on a per pixel basis would be valuable.

**Example**
phocube from=test.cub to=test.pho.cub localtime=yes
https://isis.astrogeology.usgs.gov/Application/pre

[2020-04-24 07:05] michaelaye commented on #3725
Still failing with 4.0.1:

**ERROR** The Spice Server was unable to initialize the cube.  The error reported was: The SPICE server only supports Isis versions greater than or equal to 3.5.*.*.Your version:   [4.0.1  | 2020-03-04] is not compatible.

Is there a quick work-around available?

[2020-04-24 15:46] jessemapel commented on #3725
@michaelaye Quick work around is to edit the version file located at $ISISROOT/version. If you change its version to 3.12.0 then it should work. You may get some weird side-effects with ASP and your cube history/print.prt will list the wrong version, but it should process correctly.

[2020-05-01 20:15] acpaquette opened #3854 "Qview Slowdown"
**ISIS version(s) affected**: 4 and up

**Description**
There is a noticeable slowdown when opening cubes in qview in versions of ISIS4 vs ISIS3, specifically when look at certain datasets (Notably Galileo data).

**How to reproduce**
Grab these files:
/work/projects/EuropaBasemap/lweller/Galileo/FindFeatures/Island1/FindFeatures_ImprovedSpice/Observations/19ESREGMAP01/*cub (uncontrolled an contro

[2020-05-01 20:21] jessemapel commented on #3854
I am concerned about ALE::load being called and attempting to load the updated data off of the cubes. We may need to check that all of the ISIS label ISIS spice drivers are properly erroring if the mission/instrument names don't match.

[2020-05-01 21:11] lavalaz opened #3855 "spice server error text"
**ISIS version(s) affected**: x.y.z
4.0.0
**Description**

See the text
**How to reproduce**

run spiceinit with use the web service clicked
**Possible Solution**

**Additional context**

![image](https://user-images.githubusercontent.com/43523454/80842070-8e3e2400-8bb5-11ea-9322-3253e5dafb3c.png)

[2020-05-01 21:16] jessemapel commented on #3855
Duplicate of #3725

[2020-05-01 21:16] #3855 closed, assigned to nobody

[2020-05-01 21:17] jessemapel commented on #3855
We have a solution for this, but it hasn't been deployed yet on the server end :(

[2020-05-01 21:33] lavalaz opened #3856 "map2cam with multiband level0 image"
**ISIS version(s) affected**: x.y.z
4.0.0

**Description**

Attached error message when using band N as the match in map2cam, where N is greater than 1

**How to reproduce**

- ingest LROC WAC image
- run spiceinit
- run map2cam to match a map/mosaic to the unprojected WAC image
- qview will show that output is aligned with the first band but not with the subsequent bands
- rerun map2cam with the

[2020-05-01 21:50] rbeyer commented on #3856
So are you saying that map2cam only 'unprojects' the first band of a multiband image, and not the others?  Wild.

Although this requires an extra step, you could use the ISIS `explode` command to take your multi-band map-projected image and convert it into a pile of individual, 1-band cubes, and then `map2cam` just the one you need.  But if you need *all* of them, that's inconvenient (but could be

[2020-05-01 21:57] lavalaz commented on #3856
Not exactly - the level0 cub is the one with multiple bands - and the geometry associated with each band is different.  cam2map uses the geometry from the first band without giving me a way to use the geometry from other bands.  Running 'explode' on the level0 cub will work but there is a geometric progression in the number of filenames I need to track in the script and expanding by a factor of 5

[2020-05-03 01:23] jessemapel commented on #3856
This looks like an issue where map2cam wants to set the *physical* band and the LROWAC sensor model wants to set the *virtual* band. Physical bands are the actual bands in the file and virtual bands are how many bands are you using. So, if your LROWAC image has 5 actual bands and you specify `.cub+3` it will have 5 physical bands and 1 virtual band.

The [band change function](https://github.com/U

[2020-05-03 22:02] lavalaz opened #3858 "output from map2cam garbled when used with LROC WAC"
**ISIS version(s) affected**: x.y.z
4.0.0
**Description**

Output from map2cam is jumbled with adjacent pixels in the output not coming from adjacent pixels in the input
**How to reproduce**

Get an EDR (like M1295467643CE.IMG)
ingest  (i.e., _lrowac2isis_ and _spiceinit_), calibrate (i.e., _lrowaccal_, but you probably can skip this step if you want), then _explode_ so you have single-band .cub f

[2020-05-03 22:04] lavalaz commented on #3856
Tried to use explode to get single band images.  No joy - see new ticket...

[2020-05-03 22:10] lavalaz opened #3859 "isis2ascii no space between values if a value is negative"
**ISIS version(s) affected**: x.y.z
4.0.0 and 3.9.x

**Description**

isis2ascii uses spaces to delimit between output values.  there is no space between successive output real numbers if the number is negative

**How to reproduce**

get a .cub with negative DN values.
run isis2ascii
try to ingest the output as a space-delimeted file
get fatal error message

**Possible Solution**

**Additional con

[2020-05-03 22:14] lavalaz opened #3860 "lrowaccal outputs negative DN values"
**ISIS version(s) affected**: x.y.z
3.9.x and 4.0.0

**Description**

Negative I/F values are physically impossible - they mean the surface is darker than a black hole.

**How to reproduce**

Take M102214493CE.IMG
ingest, run lrowaccal
you will find negative DN values

**Possible Solution**

I suggest simply setting the negative values to 0.00000000 (they are small negative values)

**Additional c

[2020-05-03 22:24] lavalaz opened #3861 "change default interpolation mode to anything but cubic convolution"
**Description**

I suggest making the default BILINEAR

**Example**

I don't have an example, but I have a reason.  I am under the impression that one of the selling points for isis is that it is **not** photoshop.  It is a tool for rigorous scientific analysis and the production of archival products.  As such, isis, by default, should resist altering the scientific meaning of pixel values.  With

[2020-05-03 22:30] lavalaz opened #3862 "isis2ascii should just use spaces as the delimiter, even in the header"
**Description**

Replace the colons (":") in the header output by isis2ascii.
**Example**

Reading in a space-delimited ascii file is pretty standard.  But the colons in the header portion that isis2ascii writes are not usually recognized by default as delimiters.  While one can find a number of solutions to this, it seems there is no reason to make the user have to jump through these hoops before

[2020-05-03 22:39] lavalaz commented on #3645
I need the slope information to compute correlation statistics between slope and DN values for my photometric analysis.  While I can generate a slope map outside of phocube and mosaic it into the phocube output, this breaks an existing rigorous chain between the slopes and the DN values at each pixel.  And is a lot of extra work to get numbers that are already being computed within phocube. This i

[2020-05-04 01:21] lavalaz opened #3863 "cropspecial not quit while in -batchlist mode if a file has no valid pixels"
**Description**

cropspecial will move on to the next file in -batchlist if a file has no valid pixels (and therefor no output is made)

**Example**

Example: try to process 900 .cub files using the -batchlist option.  First file in the list is all NULL. Currently processing of all 900 images fails.  Would be nice if the processing would carry on looking through the full list instead of bailing.

[2020-05-04 15:46] jessemapel commented on #3859
@lavalaz What bit type was the cube you saw this in?

[2020-05-04 15:53] jessemapel commented on #3862
The header of the output ascii file isn't columnar data, so it can really be any format. Do you have any suggestions for how the header should be handled? Just spaces?

[2020-05-04 15:55] lavalaz commented on #3862
Spaces is easiest for me. Thanks!

László Kestay (Keszthelyi)
Research Geologist
USGS Astrogeology
________________________________
From: Jesse Mapel <notifications@github.com>
Sent: Monday, May 4, 2020 8:53:59 AM
To: USGS-Astrogeology/ISIS3 <ISIS3@noreply.github.com>
Cc: Kestay, Laszlo P <laz@usgs.gov>; Author <author@noreply.github.com>
Subject: [EXTERNAL] Re: [USGS-Astrogeology/ISIS3] isis2asci

[2020-05-04 15:56] lavalaz commented on #3859
Default. I think that means 32-bit...

László Kestay (Keszthelyi)
Research Geologist
USGS Astrogeology
________________________________
From: Jesse Mapel <notifications@github.com>
Sent: Monday, May 4, 2020 8:47:02 AM
To: USGS-Astrogeology/ISIS3 <ISIS3@noreply.github.com>
Cc: Kestay, Laszlo P <laz@usgs.gov>; Mention <mention@noreply.github.com>
Subject: [EXTERNAL] Re: [USGS-Astrogeology/ISIS3] isi

[2020-05-04 15:59] jessemapel commented on #3863
The issue here is what should cropspecial do when there are no valid pixels in a cube? Batchlist by design fails on the first error, so to make this work cropspecial would need to not error when the input cube has no valid pixels.

Another option would be to implement a batchlist mode that continues on errors. I'm not sure how much work this would be, but it's another option.

[2020-05-04 16:05] jessemapel commented on #3859
In the image labels what does it say under the Pixels ground? Here's a CTX label for example:

    Object = IsisCube
      Object = Core
        StartByte   = 65537
        Format      = Tile
        TileSamples = 500
        TileLines   = 512

        Group = Dimensions
          Samples = 5000
          Lines   = 8192
          Bands   = 1
        End_Group

        Group = Pixels
          Type

[2020-05-04 16:17] jessemapel commented on #3856
@lavalaz Can you specify which new ticket?

[2020-05-04 18:26] lavalaz commented on #3863
Yes, that is the issue.
Either change works for me.  The latter option seems to open up more possibilities, both good and bad.

From: Jesse Mapel <notifications@github.com>
Reply-To: USGS-Astrogeology/ISIS3 <reply@reply.github.com>
Date: Monday, May 4, 2020 at 09:00
To: USGS-Astrogeology/ISIS3 <ISIS3@noreply.github.com>
Cc: Laszlo Kestay <laz@usgs.gov>, Author <author@noreply.github.com>
Subject:

[2020-05-04 19:01] lwellerastro commented on #3863
@lavalaz, there is an option to continue on error for -batchlist.  Try -onerror=continue.

[https://isis.astrogeology.usgs.gov/documents/CommandLine/CommandLine.html#-onerror%20Parameter](url)

[2020-05-04 19:10] lavalaz commented on #3863
Sounds perfect!

László Kestay (Keszthelyi)
Research Geologist
USGS Astrogeology
________________________________
From: lwellerastro <notifications@github.com>
Sent: Monday, May 4, 2020 12:02:08 PM
To: USGS-Astrogeology/ISIS3 <ISIS3@noreply.github.com>
Cc: Kestay, Laszlo P <laz@usgs.gov>; Mention <mention@noreply.github.com>
Subject: [EXTERNAL] Re: [USGS-Astrogeology/ISIS3] cropspecial not quit wh

[2020-05-04 19:42] #3863 closed, assigned to nobody

[2020-05-06 14:58] lavalaz commented on #3859
Object = IsisCube
  Object = Core
    StartByte   = 65537
    Format      = Tile
    TileSamples = 202
    TileLines   = 212

    Group = Dimensions
      Samples = 202
      Lines   = 212
      Bands   = 10
    End_Group

    Group = Pixels
      Type       = Real
      ByteOrder  = Lsb
      Base       = 0.0
      Multiplier = 1.0
    End_Group
  End_Object

[2020-05-12 01:53] rvwagner opened #3868 "isis2std cannot write JPEG images"
**ISIS version(s) affected**: 3.6.0 - 4.0.1

**Description**
isis2std cannot produce jpeg images, instead it says `**PROGRAMMER ERROR** Cannot export image as format [jpeg] in ImageExporter.cpp at 400.`.  Tested with ISIS version 3.10.1 on MacOS (freshly installed last month) and a whole bunch of versions on Linux. The bug seems to have been introduced in Version 3.6.0; Version 3.5.2 works.

**How

[2020-05-12 14:44] thareUSGS commented on #3868
Hmm - there must be a env. conflict or something as I did your simple test successfully on a couple versions (Linux only though). To test again, I guess I would start with a fresh conda env. and try a re-install...
[code]

[2020-05-12 16:38] jlaura commented on #3856
#3858

[2020-05-13 18:44] rvwagner commented on #3868
Sure, I can try a fresh install.  For reference, this is MacOS 10.14.6.  I can't fiddle with the Linux systems involved- that's the LROC ISIS installation, and it's possible that there's something weird going on there, as all the GUI programs have been slightly off since version 3.6.0 in a number of ways that aren't relevant to this testing on my personal computer.

In summary, it's still broken w

[2020-05-13 19:43] jessemapel commented on #3868
I wonder if this is related to #3352. There's a chance this goes away with moving to the conda-forge QT build.

[2020-05-14 15:00] krlberry opened #3869 "tgocassisrdrgen doesn't work with integer, rather than floating-point values in the input label"
**ISIS version(s) affected**: all

**Description**
`tgocassisrdrgen` will fail when an input label is provided with numerical values with integer, rather than floating-point values are used in specific places, for example, the `StraightVerticalLongitudeFromPole` keyword. This problem will affect _ALL_ pds4 export done currently by ISIS based on the level the problem exists at.

Example of failed r

[2020-05-14 21:11] lwellerastro opened #3870 "Stats has incomplete output under certain circumstances"
**ISIS version(s) affected**: 3.10.2 and prior

**Description**
The program stats does not fill all available fields in an output flat or pvl file format if it can not calculate basic DN statistics (min, max, mean, etc.) for an image.  This is typically because the input image is 100% special pixels.

This is a problem when multiple (say many, many thousands) of images are read in and output is sa

[2020-05-14 22:16] lwellerastro commented on #3870
Note:  The program caminfo will also provide DN statistics but not the same exact ones as stats (in keyword reporting, not values).  I have never understood why this is the case.  When caminfo stats comes across an image that does not have valid pixels it reports something like this:

I honestly don't know what the flat/csv output might look like since I don't use it.  I'm not loving the values re

[2020-05-15 15:23] jessemapel commented on #3870
Labeling this as a bug because it causes issues when appending to a CSV. For the output when nothing is available, we can replace the really weird numbers with just none, n/a, null, or something else.

[2020-05-15 16:30] lwellerastro commented on #3870
Cool.  I'm not sure what is appropriate for the empties, but does it make sense to avoid NULL since that means something in ISIS?  I'm not sure because I think we use NULL for geometry output a point intersected has information.  Whatever makes sense for DN data since that's what this program reports.

[2020-05-15 18:58] volcanopele commented on #3725
Can confirm that this is still an issue with ISIS 4.1.0

[2020-05-16 03:56] jorichie opened #3871 "LROC SouthPole network cannot solve for acceleration in jigsaw"
**ISIS version(s) affected**: isis3.10.2 on astrovm4, previously astrovm2

**Description**
Jigsaw will not solve for acceleration. Solves for camera angles and velocity okay.
Error:
Validation complete!...
starting iteration 1
CHOLMOD error: problem too large. file: ../Supernodal/cholmod_super_symbolic.c line: 683
CHOLMOD error: argument missing. file: ../Cholesky/cholmod_factorize.c line: 121
CHO

[2020-05-18 15:57] jessemapel commented on #3871
The network is likely too large/connected to solve with the available memory. What system did you run this on?

[2020-05-18 16:53] jessemapel commented on #3871
@blandoplanet Is this a products concern? Seems like it to me.

[2020-05-18 20:07] blandoplanet commented on #3871
Yes. The Products tag is appropriate.

[2020-05-19 14:15] lavalaz opened #3872 "mappt with "usecoordlist" option like campt"
**Description**

campt has a very useful option to use a list of coordinates so you don't need to call campt over and over to sample an area.  mappt does not have this option but it would be just as useful there.
**Example**

"usecoordlist" option in campt is the example.

[2020-05-19 14:22] lavalaz opened #3873 "Issues with point perspective projection "dist" parameter"
**Description**

Point perspective projections use the "dist" parameter.  This is supposed to be the distance from the center of the body.  But I cannot tell what the units are.  Units are not to be found in any of the documentation I can access.  When I try to project assuming either meters or kilometers I do not get results that allow me to tell which is correct.
**Suggested Edit**

Add the unit

[2020-05-19 14:26] lavalaz commented on #3873
When I run cam2map using point perspective with different values for dist, I get the most reasonably looking results if I assume that dist is actually the distance from the surface, not the center of the body.  However, not knowing what the units are, it is a bit hard to tell.  I hesitate to open another ticket based until this issue is solved, but, if you are in the code anyway, you might want to

[2020-05-19 14:40] lavalaz commented on #3850
I too would use this option if it were available.

[2020-05-19 15:46] jessemapel commented on #3873
The point perspective template specifies this as distance to the center of the body and that it is in meters.

Can you provide data to reproduce the weird results you're seeing with distance to surface vs. distance to center?

[2020-05-19 16:22] thareUSGS commented on #3873
Jesse I'm not sure it is in meters from the center of the body. I actually think it is in kilometers from the center of the body. When we mapped ISIS's version of this projection to PROJ, often called Near-side Perspective, there needed to be a conversion from kilometers to meters and an offset from the distance from the center of the body to distance from the surface (as parameterized in [PROJ](h

[2020-05-19 16:37] lavalaz commented on #3873
I don't have examples handy at the moment.  But what I did was use _dist_=1.0 and I got an image that looked like I was about a kilometer above the surface (the horizon was a few kilometers away).  Then I put in a value for _dist_ that was the radius of the planet in meters + 1000.0 and in kilometers +1.0.  When I input those values, I seemed to be a good distance away from the surface - I could s

[2020-05-19 16:43] jessemapel commented on #3873
Quickly glancing at the code, it looks like it's always in kilometers and is actually the distance to the surface of the planet.

https://github.com/USGS-Astrogeology/ISIS3/blob/dev/isis/src/base/objs/PointPerspective/PointPerspective.cpp#L94

I don't think we're going to change what the value actually means, just better document it.

[2020-05-19 16:44] lavalaz commented on #3873
![image](https://user-images.githubusercontent.com/43523454/82353832-d088a300-99b4-11ea-803f-cec05b8c1c41.png)
Just FYI, this is where I was expecting to see units in the documentation and am not finding it.

[2020-05-19 16:45] lavalaz commented on #3873
Agreed, no need to change how the code works, just document correctly.  Thank you!

[2020-05-19 17:13] thareUSGS opened #3874 "Point Perspective latitude bug?"
This feels like a bug.
https://github.com/USGS-Astrogeology/ISIS3/blob/2cac1bace2784e85ae322441f9a2dc3d5a8e0e96/isis/src/base/objs/PointPerspective/PointPerspective.cpp#L301
shouldn't it be...?

[2020-05-19 18:22] jessemapel commented on #3874
I think this is correct. The math above that calculates a PlanetoGraphic latitude and if the projection is in planetocentric, then it needs to convert. The `IsPlanetographic` function is checking the system for the projection and not the system for the compute latitude.

[2020-05-20 15:56] lavalaz opened #3875 "mappt report DN values for all bands (or at least the band for the DN value)"
**Description**

Currently mappt only reports the DN value for a single band. To get the values for different bands at the same location you need to run mappt repeatedly for each band.  But then there is no record of which band the DN value came from in the output file.  This greatly reduces the usability of mappt.  It would be nice if the band was labeled not just with the band number but also th

[2020-05-20 16:30] jessemapel commented on #3875
Good candidate for work alongside #3872

[2020-05-20 17:22] #3874 closed, assigned to nobody

[2020-05-20 18:40] thareUSGS commented on #3874
Ah I get the logic - thanks for checking and closing.

[2020-05-22 15:16] lavalaz opened #3876 "kaguyasp2isis is listed under "utility" instead of "mission specific programs" and update docs to indicate kaguyasp2ascii should be used instead."
**Description**

This application is listed under the wrong heading on the website https://isis.astrogeology.usgs.gov/Application/index.html#Utility
**Suggested Edit**

List it under Kaguya under Missions.
Thanks!

[2020-05-22 17:17] lavalaz opened #3877 "phocube, in source=projection should be able to accept a multi-band cube as input"
**Description**

Adding lat/lon backplanes to a color mosaic would be easier if phocube would accept a multiband input.  I think it is reasonable to assume that if the user wants to propagate DNs to the output, they will want to propagate DNs for all the bands. Yes, one can run phocube on a single band and then run cubeit, but, for large mosaics, that adds another slow step.  A nice-to-have, not s

[2020-05-22 17:54] lavalaz opened #3878 "Not have isis2raw compute a histogram when I select stretch=none and bittype=32bit"
**Description**

I just want to dump the DN values from a .cub into a raw format so I can do processing that I can't get done within isis.  I don't want the DN values changed in any way.  So I set bittype to 32BIT and stretch=NONE.  The GUI reports that the application is computing min/max for the histogram, then gathering histogram.  Given the size of the files I am dealing with, these steps are

[2020-05-26 10:42] chbrandt opened #3879 "How did you set up issue templates chooser?"
@jlaura @jessemapel I would like to set up a issues template chooser like you had done on this repo:
![image](https://user-images.githubusercontent.com/482051/82891462-119d2c00-9f4e-11ea-8850-fadca31697b5.png)

But I couldn't find it. I found that infor on [github docs](https://help.github.com/en/github/building-a-strong-community/configuring-issue-templates-for-your-repository), but doesn't look

[2020-05-26 15:39] jlaura commented on #3879
@chbrandt We have the templates setup in the .github folder [here](https://github.com/USGS-Astrogeology/ISIS3/tree/dev/.github). GitHub.com then knows how to render these.

[2020-05-26 15:58] chbrandt commented on #3879
Got it! Thanks @jlaura

[2020-05-26 15:58] #3879 closed, assigned to nobody