[2021-05-24 23:30] otherorb commented on #4324
I did not see a significant improvement in results when I filtered, but I wouldn't mind if we had the ability to have a filter that is (currently) turned off by default. A simple smoothing was what I tested; something like what Zero Dark uses.

[2021-05-25 01:28] AustinSanders opened #4487 "Transition from ascbot to github actions"
**Description**
Github actions provides a simple and intuitive means of capturing the functionality provided by ascbot, namely labeling stale issues/PRs and closing them after some period of time.  Since ascbot is currently not functioning properly, it may be worth implementing a different solution.

**Example**
Set up the following github action to take the place of ascbot.  https://github.com/ac

[2021-05-25 17:29] geokramer commented on #4476
I had originally installed ISIS per the instructions on the ISIS Github site. I don't know why the python 3.6/3.7 issue. Probably I installed 3.7 sometime soon after.

Since ISIS seems to not be working now I would prefer having everything neat and tidy on my machine (it's a laptop, I don't have room for unnecessary stuff, also it bothers my not-actually-but-kind-of-like OCD.

@jessemapel Do you s

[2021-05-25 17:42] #2067 closed, assigned to acpaquette

[2021-05-25 17:44] jessemapel commented on #4476
Follow the instructions that @astrostu linked for uninstalling miniconda. We haven't made any changes to anything outside of your miniconda install. This is actually one of the main reasons we use Anaconda is that it isolates everything so that it's easy to separate things and clean up things.

[2021-05-25 18:01] geokramer commented on #4476
@jessemapel While cleaning up my .bash_profile I noticed that it began:
[code]
This was followed by what miniconda added. This beginning is the extent of the original (backup) and to what I have now reverted). This was probably the culprit, wasn't it? If so, please advise as to what I should replace it with?

[2021-05-25 18:07] jessemapel commented on #4476
This is likely the culprit. I'm not sure why it was there or what you should change it to. I would recommend just commenting it out. Anaconda manages your PATH for you and can have trouble when you also modify your PATH.

[2021-05-25 18:13] #4487 closed, assigned to AustinSanders

[2021-05-25 18:33] geokramer commented on #4476
Thank you @jessemapel and @astrostu for your help. I am going to start the re-install.

[2021-05-26 15:21] #3802 closed, assigned to nobody

[2021-05-26 15:21] #3781 closed, assigned to nobody

[2021-05-26 15:21] #3718 closed, assigned to nobody

[2021-05-26 15:21] #3705 closed, assigned to nobody

[2021-05-26 15:21] #3701 closed, assigned to nobody

[2021-05-26 15:21] #3598 closed, assigned to nobody

[2021-05-26 15:46] rbeyer commented on #4019
This is still relevant.

[2021-05-26 16:30] oleg-alexandrov commented on #3570
Here, making it not stale. This is a long-term important issue.

[2021-05-26 16:59] jessemapel commented on #4123
Fixed in #4463

[2021-05-26 16:59] #4123 closed, assigned to nobody

[2021-05-26 17:01] jessemapel commented on #4032
@thareUSGS Any updates on this API?

[2021-05-26 17:02] jessemapel commented on #3877
This is on the current support backlog

[2021-05-26 17:03] jessemapel commented on #3570
Still an issue.

[2021-05-26 17:04] jessemapel commented on #3871
Still waiting for a good test case here

[2021-05-26 17:05] jessemapel commented on #4019
We just added a github action for stale issues, this would be a good candidate for a new action.

[2021-05-26 17:47] astrostu commented on #4092
I missed @scsides response, but I still think this is a good idea.  I think it would still speed some things up: Even if it would not necessarily be a huge improvement in speed of CAMPT, if you have an automated program reading a large CAMPT output file, it could be extremely RAM- and disk I/O-intensive.  I've run into that issue where I had to build a processes manager that watched RAM usage and

[2021-05-26 19:20] ladoramkershner commented on #3806
This work will be completed in FY22, still would like this open.

[2021-05-27 19:45] Kelvinrr commented on #4475
All the extraneous kernels have been deleted but I am struggling with getting a passing test from the mapcam.

The problem image is `20190303T100344S990_map_iofL2pan_V001.fits` (ingested and spiceinited cube: [20190303T100344S990_map_iofL2pan_V001-spiceinit.cub.zip](https://github.com/USGS-Astrogeology/ISIS3/files/6556254/20190303T100344S990_map_iofL2pan_V001-spiceinit.cub.zip)).  Spiceinit goes f

[2021-05-28 00:49] KrisBecker commented on #4475
Hi @Kelvinrr...

There appears to be at least two issue in the Kernels (group) configuration.

The `SpacecraftClock` kernel is incorrect. I traced its selection to the kernel DB file that is in the current ISIS4+ distribution. The `SCLK.tsc` kernel looks to be very old (8 years!, yikes!) and will not contain any of the updates made to account for s/c clock drift. This will lead to timing errors an

[2021-05-28 04:11] Kelvinrr commented on #4475
Hi @KrisBecker

ugh, I forgot to mention this detail about the SCLK. I wasn't able to spiceinit this image with the newer SCLKs.

[code]

Didn't think too much about this because the ET between the predicted and recon are exactly the same, it seems obvious to not mix the old SCLK with newer time dependent kernels in hindsight. So, now my question is, can this image even be inited with the newer SC

[2021-05-28 05:06] KrisBecker commented on #4475
@Kelvinrr, yeah there is a lot going on here. Its starting to make sense.

I looked at the image you linked and it has slightly different kernels than what you posted. I tested this in my ISIS5 development system and get the same error. So I went searching for this image in the [archive](https://sbnarchive.psi.edu/pds4/orex/orex.ocams/data_calibrated/). It doesn't exist. This is a simulated image

[2021-05-28 05:13] Kelvinrr commented on #4475
@KrisBecker I figured this is what was going on so thanks for the clarification, wanted to make sure the issue was not the configuration before just swapping the image. Updating tests with a new image should be easy enough, thanks for the help.

[2021-05-28 15:35] scsides commented on #4113
This problem still exists and causes everyone on the email list to get daily email. Why should several people have to have email filters when fixing the problem in one place would fix it for everyone

[2021-05-28 15:43] scsides commented on #3955
This hasn't been decided and should be. A good C++ linter seems like the best choice for appearance. If the API "style" isn't set and enforced, the code could get very difficult to read. @rbeyer is correct, it can't change overnight, but some effort should be put into getting everything using the same standard over time (e.g., the current mix of upper and lower camel case is a pain)

[2021-05-28 15:45] scsides commented on #3710
Just checked and this is still a problem that can cause confusion in the GUIs

[2021-05-28 16:43] #3837 closed, assigned to nobody

[2021-05-28 16:52] jessemapel commented on #4076
@tgiroux We discussed this briefly and it seems like some of these errors are impracticable to write tests for. Should we just not migrate these tests as they are such corner cases or do we just need to spend a little more time on this?

[2021-05-28 16:52] jessemapel commented on #4076
Also how does the GEOS migration impact this?

[2021-05-28 16:55] jessemapel commented on #4139
Maybe add a big warning on the isis3mgr_scripts repo readme or in PR templates that says this.

[2021-05-28 17:06] jessemapel commented on #2683
We've got some time set aside next FY to do a lot of dependency work. In the mean time we should briefly investigate updating QT again after the GEOS updates is merged.

[2021-05-28 17:10] jessemapel commented on #3607
Easy to prune branches have been removed. We should re-evaluate this in a year maybe.

[2021-05-28 17:10] #3607 closed, assigned to acpaquette

[2021-05-28 17:16] #4369 closed, assigned to nobody

[2021-05-28 17:19] astrostu commented on #2683
I'll just note that this has been a bug in every version of ISIS that I've used (3.x-4.4) on all macOS versions I've used it (10.8-ish through 11.0).  I've found the simple fix is simpler than @afrigeri noted, just click ANYWHERE outside the GUI application and then back to it, and the menubar works.

[2021-05-28 17:21] krlberry commented on #4370
PDS4 labels also use the trailing "Z" by default for UTC times and this has caused issues with ingesting PDS4-formatted imges.

[2021-05-28 17:21] jessemapel commented on #4359
We're not going to fix this bug as the software needs to be entirely re-written. If someone wants to patch this they are welcome to, but it is not a priority right now.

[2021-05-28 17:21] #4359 closed, assigned to nobody

[2021-05-28 17:24] jessemapel commented on #4345
We should at least spend some time investigating this issue and see what the impact/extent is.

[2021-05-28 21:09] AndrewAnnex commented on #3885
at the very least, updating the pin to allow 3.6.13 should be easy....

[2021-05-29 15:25] #3450 closed, assigned to nobody

[2021-05-29 18:01] jlaura commented on #3885
@AndrewAnnex Want to give it a test and put in a PR?

[2021-05-29 19:04] AndrewAnnex commented on #3885
@jlaura I am not even sure where to begin because I can't even see where the 3.6 requirement is specified in the repository (https://github.com/USGS-Astrogeology/ISIS3/search?p=1&q=python%3D3.6). Ironically I see references to python 3.6.7, 3.7 and 3.8 within https://anaconda.org/usgs-astrogeology/isis/5.0.0/download/osx-64/isis-5.0.0-0.tar.bz2. Is the recipe updated dynamically during the build p

[2021-05-30 01:47] AndrewAnnex opened #4499 "Replace isisVarInit.py with "conda env config vars set" command"
**Description**
While trying to sort out a complicated isis/asp environment situation, I stumbled upon a native capability of conda which allows per-environment environment variable management. I tested this with a new environment of isis 5.0, and it seems to work exactly the same as the activation/deactivation scripts, and persists across a system reboot. I think that this could make the isisVarI

[2021-05-30 12:34] jlaura commented on #3885
https://github.com/USGS-Astrogeology/isis3_dependencies/blob/32353d323218a780951fa6f0347383a01ad1a035/meta/conda_build_config.yaml

It is because of the third party dependencies that ISIS has on packages that we have maintained and are working on not maintaining. This is why 'at the very least  updating the pin to allow 3.6.13 should be easy...' is not something that we know is all that easy. If i

[2021-06-01 14:29] jessemapel commented on #4499
We would lose some stuff like outputting the version info and such when you active an environment, but this would remove the need to maintain some scripts and probably provides broader shell support than the current active scripts.

@AndrewAnnex Installation docs live on the [README](https://github.com/USGS-Astrogeology/ISIS3/blob/dev/README.md#Installation). You'd also need to add a changelog ent

[2021-06-01 14:33] jessemapel commented on #668
Still an important part of validating conda-builds.

[2021-06-01 14:59] jessemapel commented on #4152
This is still frustrating when working on changes that require the preferences file.

[2021-06-01 15:07] jessemapel commented on #4337
With the BLOB work, we preserved the existing functionality. We should still update cathist to handle cubes with these problems on them. Potentially we can just output the history as a string when we encounter this. Attempting to correct the bad keywords in the history PVL could require significant work as we'd have to check for a huge list of problems.

[2021-06-01 15:08] jessemapel commented on #4092
There's also some applications to CSM models here as there are values in campt that cannot be calculated with a CSM model.

[2021-06-01 15:15] AndrewAnnex commented on #4499
I think there is another mechanism for activation scripts to be included using the meta.yaml, see https://docs.conda.io/projects/conda-build/en/latest/resources/activate-scripts.html.

I am not that familiar with the activation scripts, so I don't know yet how that overlaps with the need for support of various shells. But maybe the script could be replaced with a simplified version that doesn't ta

[2021-06-01 15:45] rbeyer commented on #4499
The profusion of scripts that isisVarInit.py has to make has always felt "wrong" to me, and this new feature of conda is clearly aimed at exactly our use case, and seems like a good approach.

The question I have is: is this easier for users?  The isisVarInit.py script now creates (various) activate/deactivate scripts which just set (and then unset) four environment variables (ISISROOT, ISISDATA,

[2021-06-01 15:52] rbeyer commented on #4499
@AndrewAnnex I was in the middle of writing my comment above, but wanted to respond to a few things:

Yes, this is neat, but would have to go into the conda recipe, and would always be fixed.  We need to allow users to determine what the paths are in those environment variables after a `conda install`, and forcing them via the conda recipe wouldn't allow that flexibility.  The isisVarInit.py mecha

[2021-06-01 16:03] jessemapel commented on #4499
I agree that maintaining the existing scripts and adding this as an option is the right way to go. I'm also curious what happens if you have both this config set and the activate scripts.

[2021-06-01 17:09] jessemapel commented on #4324
Another question. Should ZeroDarkRate be used over ZeroDark by default? I've updated the code so that it uses ZeroDark with old config files, but I'm not sure if I should update the default config file to use ZeroDarkRate.

[2021-06-01 17:20] otherorb commented on #4324
I would leave ZeroDark as default until Ken and the HiROC people have a chance to determine whether it should be switched to the new behavior by default.

[2021-06-01 17:22] tgiroux commented on #4076
I think it's alright to close this issue - very much a corner case. GEOS migration shouldn't impact this, there are some code changes in dependencies for overlapstats but they should work the same.

[2021-06-01 18:05] #4076 closed, assigned to nobody

[2021-06-01 18:29] AndrewAnnex commented on #4499
I am not advocating setting the paths within the scripts, this change would move defining the paths outside of the scripts. Those paths  depend on the CONDA_PREFIX or would be known ahead of time anyways (external folder outside of the conda environment), or I don't understand what dependency they have post conda-install.

As far as I know and from the comments above, the only other thing the acti

[2021-06-01 18:32] michaelaye commented on #4499
I like the idea of the setting being conda-native. So I just played with this a bit, here's two caveats I found:

* The setting is only being performed for the currently active shell when the `conda env config vars` is being called! So, should the user, for some reason have to switch to another shell temporarily, they'd find their ISIS<VARS> uninitialized.
* ENV vars set in the activation scripts

[2021-06-01 18:39] AndrewAnnex commented on #4499
wait, do the deactivation scripts not unset ISISROOT/ISISDATA/etc? If I activate a isis env, then deactivate, I would hope that ISISROOT/bin is no longer in the path... I think that is expected behavior, is it not?

[2021-06-01 18:39] rbeyer commented on #4499
The CamelCase is entirely historic.  The original script was isis3VarInit.py, and there's a lot of weird history with CamelCase in ISIS, the main include file is still `Isis.h` which always boggled me.

You can always submit a PR for a name change, but at this point, changing it might confuse folks.

[2021-06-01 18:40] michaelaye commented on #4499
This point is independent of the activation scrips.

[2021-06-01 18:40] rbeyer commented on #4499
They do.

I think Michael is talking about starting a new shell from the conda-activated shell.  Maybe they don't carry through to the new shell which he's expecting?  Not sure what the expected behavior is there, though?

[2021-06-01 18:42] michaelaye commented on #4499
I somehow naively assumed that launching a new shell "reactivates" a conda env, but it doesn't, apparently, at least not using `/bin/bash`.

[2021-06-01 18:44] michaelaye commented on #4499
Or, the storing of the env vars is only happening in a shell-specific config file somewhere, it's not the activation scripts though.

[2021-06-01 19:08] michaelaye commented on #4499
So, in your suggested approach we would need to maintain both the script and add a command to the install instructions. Not necessarily easier to maintain?

That's just b/c we were shell-scripting within Python and it felt very anti-DRY to keep creating the same strings 3 times.
Keeping several init scripts lying around is definitely not easier to maintain? Or, let's say, it balances at least with

[2021-06-01 19:44] tgiroux commented on #3978
After PR 3998 SAMPLE_BIT_MASK has correct output as described above.

[2021-06-01 19:44] #3978 closed, assigned to tgiroux

[2021-06-01 19:52] tgiroux commented on #4168
I searched for this image in March and it seems it does not exist in any of our old versions of ISIS or anywhere else I looked. I remember speaking with someone who was willing to recreate an image / come up with a substitute for this issue. Can't remember who it was... @jessemapel @scsides any chance it was one of you two?

[2021-06-01 20:20] jessemapel commented on #3805
Cropped back up in #4213

[2021-06-01 20:34] AndrewAnnex commented on #4499
My criteria for easier to maintain in this situation is total numbers of lines of code, if each activation script is only doing 2 things (enabling tab completion and prints version info) I suspect the total number of lines of code for 4 scripts that do the same thing would be fewer than the ~150 line python file, but admittedly it is not that much of a bonus as the code is written and functional a

[2021-06-01 21:23] jlaura commented on #4499
We have been testing some CI for also downloading and installing ISIS to check our own installation process. Is one of these methods more easily tested?

[2021-06-01 21:28] scsides commented on #3805
Thoughts: FileName already handles attributes, ~and the UI returns them with a getFilename()~. Cube open() ~and create()~ simply ignore the attributes. Is it reasonable to have open ~and create~ process the attributes and achieve @jessemapel goal above?

[2021-06-01 21:55] Kelvinrr commented on #3805
@scsides ~I imagine it is simple enough to just overload `Cube::Open` to allow the input attr object? I would assume one that accepts CubeInputAttrs and one for CubeOutputAttrs?~ EDIT: Seems like Cube::create does this? At least for output attrs, maybe an input attrs version is all that's needed for this.

[2021-06-01 21:59] tgiroux commented on #4345
In CalParameters, `lsq.Solve();` runs `LeastSquares::SolveSVD()`. If we do `lsq.Solve(LeastSquares::QRD);` to instead run `LeastSquares::SolveQRD()`, Radiometry coefficients all match between OSX and linux. The results are different from either SVD outputs though.

[2021-06-01 22:35] Kelvinrr commented on #3805
Also, ` Process::SetInputCube(Cube *cube, int requirements)` and `Process::SetInputCube(Isis::Cube *inCube)` do not seem to apply input attrs.

[2021-06-01 23:41] AndrewAnnex commented on #4499
@jlaura I think each method is equally testable. One can use this method by just not bothering to run isisVarInit.py at all, which I have implemented in CI workers [for one of my projects](https://github.com/AndrewAnnex/asap_stereo/blob/fbe998926ea6438ff0230f00411a064b984685d9/.github/workflows/test_basic.yml#L49).

Although the discussion above got kinda split between the initial question about `

[2021-06-02 04:34] michaelaye commented on #4499
Ah, so you suggest to keep creating one activation and deactivation script per shell? Because, as we were creating with a Python script, we obviously have a choice to make for which shell we call, even if we use the init script to push out the `conda env config vars` command.

Sure? Isn't the next section in the docs basically showing exactly what we currently are doing? https://conda.io/projects/

[2021-06-02 12:14] AndrewAnnex commented on #4499
Yes, as I understand the functionality in conda, it will delegate to the correct script for us based on the file extension and the shell, so I think we can have N many shell activation/deactivation scripts without worrying about which one gets used by conda.

Yes, that section of the docs does show that example, but this page: https://docs.conda.io/projects/conda-build/en/latest/resources/activate

[2021-06-02 15:06] rbeyer commented on #4499
@AndrewAnnex and @michaelaye, you're both right.  That document does, indeed, now recommend the `conda config vars` approach instead of the activate/deactivate script approach.

History is always relevant, and it is important to note that this file has been renamed a few times in our repo, the most recent from isis3VarInit.py to isisVarInit.py, and there was a name change in Oct 2018 from isis3Var

[2021-06-02 15:20] Kelvinrr commented on #4475
@KrisBecker All the extraneous kernels are removed and existing tests are passing. At some point we need to probably do some more rigorous tests on other instruments (they seem to have been disabled at some point).

[2021-06-02 15:44] AndrewAnnex commented on #4499
@rbeyer I agree with gradually phasing it in, and that series of steps works for me.

[2021-06-02 16:05] rbeyer commented on #3313
I don't think this needs an RFC, which is what has kept this delayed for so long.  I think RFCs should only be for significant changes.  I do not think that this qualifies.

For now, make `edrget` emit a warning message when it runs about being deprecated and a warning that it may be removed in ISIS 6.0, and then whenever ISIS 6.0 ticks, axe it.  There should be enough time before ISIS 6.0 (althou

[2021-06-02 16:52] krlberry commented on #4473
It was decided via email that it doesn't matter (for now) which corner is assigned to each lat/lon (i.e it's okay if the "upper left corner" isn't actually the upper-left corner,) what matters is that the footprint is defined, not which corner is which.

[2021-06-02 17:20] michaelaye commented on #4499
Well, the command "only" exists since Sep 2019, so give us some slack.. ;)

https://github.com/conda/conda/blame/master/conda_env/cli/main_vars.py

[2021-06-02 17:25] jessemapel commented on #4168
I can generate a new image for this. It'll take a minute but I can get it to you by the end of the week.

[2021-06-02 17:39] AndrewAnnex commented on #4499
I also think the feature was not well advertised, a cursory check of the changelog for conda doesn't show the addition.

[2021-06-02 20:43] ladoramkershner commented on #4471
Looking at the very bottom of: $ISISDATA/kaguya/kernels/Main_orbit_kernel_readme.txt
[code]

The start time of one Failed Observation is  `2007-12-11T15:42:34.811840` and all the rest of the start times of the failed lbls are between the 14th and 15th hour of 2007-12-11. So ISIS is working as expected, it is just confusing that data that does not have kernel coverage is still being served.

[2021-06-02 21:30] scsides commented on #3805
~@Kelvinrr, I'm saying the attributes are being ignored inside cube::open. They are part of the file name that is passed in. All we need to do is not ignore them. As is, it is confusing to have what amounts to an argument be ignored. Yes we could add new functions to explicitly take atts as another arg, but why? That means the caller has to separate the name and att so they can be passed in separa

[2021-06-02 21:35] #3703 closed, assigned to amystamile-usgs

[2021-06-02 21:59] lwellerastro commented on #4471
`it is just confusing that data that does not have kernel coverage is still being served.`
Not everyone interested in the data want or need kernels, plus it behooves the mission to put everything they have out there whether spice is complete or even good.

Hopefully we don't need these images because I'm not sure there is a work around for this issue.  I tried spicing your image setting spkreconst

[2021-06-02 22:09] ladoramkershner commented on #4471
That is a really good point @lwellerastro. I am hoping even if the lack of these data cause gaps, the near global nature will make the product worth while. I am going to close as expected behavior!

[2021-06-02 22:09] #4471 closed, assigned to ladoramkershner

[2021-06-03 18:42] #4440 closed, assigned to nobody

[2021-06-03 19:08] rbeyer commented on #4440
Whoops, how did I miss this Pyhon *pvl*-related Issue?

@jeanlucmargot, you can get *pvl* to produce a lot of different output.  I think it is good to get ISIS to conform to the (admittedly poor) standard, and I'm glad that they're addressing this, but in the mean time you can do this:
[code]
Then the `bugreport_out.pvl` will happily be consumed by the existing ISIS cnetpvl2bin.

I also find it us

[2021-06-03 20:06] Kelvinrr commented on #3710
@scsides Is this what you had in mind? (ignore what my Macs dark theme is doing here).

![Screen Shot 2021-06-03 at 1 05 58 PM](https://user-images.githubusercontent.com/13245976/120705283-7c8c1780-c46c-11eb-9ac2-ffc236a04b44.png)

[2021-06-03 22:18] scsides commented on #3710
That is the way this issue was solved last time. It looks better then what it did.

[2021-06-04 15:14] Kelvinrr commented on #3710
closed by #4507

[2021-06-04 15:14] #3710 closed, assigned to Kelvinrr

[2021-06-04 19:22] #4006 closed, assigned to tgiroux

[2021-06-05 16:44] KrisBecker opened #4510 "Build Problems with ISIS Docs and -WEBHELP Usage"
**ISIS version(s) affected**: 5.0+ (Perhaps others)

**Description**
Several problems were discovered when building ISIS documentation. Note that my development environment is as follows:

[code]

### Build Fails on Programmer/Developer Documentation
First, when building the docs (using `ninja docs -j7` as per [instructions](https://github.com/USGS-Astrogeology/ISIS3/wiki/Developing-ISIS3-with-cma

[2021-06-06 05:12] tmwilliams9999 commented on #3570
This would be very nice to have. It is error prone to switch between two environments for terminal sessions, and very difficult and slow in a script.

[2021-06-06 21:45] KrisBecker commented on #4475
@Kelvinrr sounds good. Let me know once the kernels become available and I will have a look.

Also, could you please add OSIRIS-REx kernel download instructions to the ISIS3 README instruction set on the main ISIS3 webpage?

Thanks...

[2021-06-07 13:22] victoronline opened #4512 "Update to lronacpho to use LROC's newer photometric model and get parameters file from mission calibration directory"
An update is needed to lronacpho to use the newer photometric model and newer parameters file.

This update needs to set the default photometric model (LROC_Empirical) to the newer model (2019) and look for the default parameters file in the data/mission/calibration directory.  If the old parameter file is provided, the old algorithm(2014) will be used.

Default behavior:
SHould use a newer photom

[2021-06-07 13:44] victoronline opened #4514 "Update lronaccal to use time dependent dark files for dark correction"
An update to lronaccal is needed to use time-dependent dark files for dark correction.

There will be two types of dark files. One set will be specifically for images with zero exp.

These dark files already exist in the data/mission/calibration/nac_darks directory.

[2021-06-08 15:23] #4324 closed, assigned to rbeyer, otherorb, jessemapel

[2021-06-09 16:51] jessemapel commented on #4213
Closed by #4504

[2021-06-09 16:51] #4213 closed, assigned to Kelvinrr

[2021-06-09 17:19] #4510 closed, assigned to nobody

[2021-06-09 20:52] acpaquette commented on #4420
After examination of the camera model and relevant code in both ISIS and [ALE](https://github.com/USGS-Astrogeology/ale) it looks like this is not inherently an issue with the KaguyaTC camera model. These images take a long time to project as some pixels are unable to intersect the DEM. To handle this would likely require a look into how ISIS intersects a DEM and potentially devise a new algorithm

[2021-06-14 13:24] jlaura commented on #4471
What SPK are we using? I heard back from Hiro and he provided a link to Dr. Goossen's update SPK file: https://data.darts.isas.jaxa.jp/pub/pds3/sln-l-spice-6-v1.0/slnsp_1000/data/spk/spkinfo.txt with a linked publication: https://europepmc.org/backend/ptpmcrender.fcgi?accid=PMC7243822&blobtype=pdf

Do the results change if this SPK is used?

I also see that the linked SPK README has identified tim

[2021-06-14 15:10] #3795 closed, assigned to nobody

[2021-06-15 12:10] jlaura commented on #3711
@scsides Was this closed in the last support sprint?

[2021-06-15 12:10] jlaura commented on #3079
@jessemapel Was this closed in the last support sprint?

[2021-06-15 12:11] jlaura commented on #4473
@kberryUSGS I see a PR open for this. Can that PR be merged and this issue closed?

[2021-06-15 15:09] scsides commented on #3834
This is still a broken piece of the build, and would be good to have fixed.

[2021-06-15 15:11] scsides commented on #1473
We have more of these to go

[2021-06-15 18:14] jessemapel commented on #4203
This is still bad as it means our tests are not actually catching failures in some very specific cases.

[2021-06-15 18:16] jessemapel commented on #1473
@scsides Do we know exactly which apps need this still?

[2021-06-15 20:56] jessemapel commented on #3079
No this was not worked

[2021-06-17 03:13] krlberry opened #4535 "Update CaSSIS kernel update script to use ESA SPICE FTP for CaSSIS rotation mechanism kernel"
**Description**
Right now, the CaSSIS rotation mechanism kernel provided with ISIS is obtained from a private server, but these kernels are now available from a public source via the ESA SPICE FTP. The internal kernel update script for CaSSIS (`downloadTGOCassisKernels`) should be updated to fetch CKs of the form: em16_tgo_cassis_tel_20160407_20211231_s20210602_v01.bc from ftp://spiftp.esac.esa.in

[2021-06-17 15:32] #4303 closed, assigned to nobody

[2021-06-17 15:53] krlberry commented on #1473
@scsides, @jessemapel: of Stuart's original list, `mical` is the only calibration app that still has furnsh calls. It was unable to be updated during the ISIS Calibration Sprint because it isn't actually possible to spiceinit a MER cube. Without being able to spiceinit the cube, there isn't really any way I'm aware of to get around needing local spice kernels. At least all the kernels required by

[2021-06-17 15:58] krlberry commented on #1473
To follow on to this, though it _might_ belong in a new ticket, there are still furnsh calls in the following non-calibration apps. I've listed the apps here and some information about why there are furnsh calls and what is getting furnished:

 * apollo/apps/apollopaninit/main.cpp
Apollo version of spiceinit – won’t be possible to remove furnsh call.
* chandrayaan1/apps/chan1m32isis/chan1m32isis.c

[2021-06-17 16:23] rbeyer commented on #1473
FYI, I do not think that `hicrop` is part of the HiRISE Team processing pipelines, but I suppose that doesn't make a great deal of difference in this context.

[2021-06-17 16:47] AndrewAnnex commented on #4499
with #4515 merged, we can wait a few weeks to see if any readme improvements are needed (Steps 2 & 3 from Ross's post above) and then re-evaluate removing isisVarInit.py sometime after that.

[2021-06-17 21:05] kberryUSGS commented on #4473
@jlaura As far as I know, yes. I've just written to the Standup chat to try to get someone to approve the PR.

[2021-06-18 19:34] Hidariuma opened #4541 "qview's UI bug？"
**ISIS version(s) affected**: 3.10.0

**Description**

Hello,

I'm building an environment on MacOS.

I was able to launch qview, but the vertical bar where the Tool is displayed is displayed in an unusual place, and some icons are outside the window and cannot be selected.

I tried reinstalling the base data and redoing the installation with conda, but the result was the same.

The command prompt

[2021-06-18 20:29] jessemapel commented on #4541
Can you provide some information about your setup. How many displays are you using and at what resolution. Also try deleting the `.Isis` directory in your home directory.

[2021-06-18 21:24] victoronline commented on #3711
Hello All. I don't know if this was waiting for me or not. I believe we were looking at using an alternate resource stream for work on this by Stuart for LROC. As far as LROC is concerned, this option has been discussed by LROC and is a viable option.

[2021-06-19 00:06] jeanlucmargot commented on #4440
Thank you both!  @rbeyer the ISISEncoder() did indeed provide a good solution until I upgrade ISIS.

[2021-06-19 04:23] Hidariuma commented on #4541
Thank you for reply. I use 2 monitors, and resolutions are 2560x1600(primary monitor) and 1920x1080(sub-monitor)

[2021-06-19 07:12] Hidariuma commented on #4541
I deleted the `.Isis` directory and the display returned to normal. Thank you very much.

[2021-06-19 17:16] Hidariuma opened #4542 "Sample Data problem in Locating_and_Ingesting_Image_Data"
**Description**

Hello,

I've been trying to code using the sample data described in the Locating_and_Ingesting_Image_Data section of the tutorial basics, but I'm getting errors and can't get it to work.
Specifically, in the General Importers section, it says
`pds2isis FROM=mars_viking.pds TO=mars_viking.cub`
using the PDS file listed below, but I get the following error and cannot do it. Is there

[2021-06-19 17:30] #4542 closed, assigned to nobody

[2021-06-19 17:31] #4541 closed, assigned to nobody

[2021-06-26 00:11] oleg-alexandrov opened #4544 "ISIS and python"
ISIS version 4.4.0 links to libpython3.6m.so. This opens a big can of worms when it comes to shipping the binaries of Ames Stereo Pipeline, as libpython wants its environment reproduced. It should not be a problem for a conda installation though, as ISIS gets shipped.

I am curious if this is on purpose. Does ISIS actually need a python runtime?

[2021-06-26 03:22] oleg-alexandrov commented on #4544
Actually upon closer inspection it appears that libpython3.6m.so being shipped with ISIS is not a new thing, and ASP never complained so far, so something else is triggering it. I'll withdraw this to sort things out on my side.

[2021-06-28 13:16] jessemapel commented on #4544
Related to #3885

[2021-06-28 14:01] jlaura commented on #4535
@AustinSanders Do you know if this was merged last week so that CaSSIS is now using 100% public kernels?

[2021-06-28 22:32] oleg-alexandrov commented on #4544
For the record, something is quirky here, but I don't know if it is worth looking into. If I run with a couple of decent cubes (which i got from Trent for the CSM work):

stereo M1121188383LE.lev1.8bit.cub M1121202582LE.lev1.8bit.cub run1/run

I get the ISIS error:

Could not find platform independent libraries <prefix>
Could not find platform dependent libraries <exec_prefix>
Consider setting $PY

[2021-06-29 14:23] jessemapel commented on #4544
@oleg-alexandrov Can you post your conda environment?

[2021-06-29 14:25] #4410 closed, assigned to nobody

[2021-06-29 15:39] jessemapel commented on #4544
I'm also curious if this is from the way ISIS decides what to link against. It does a whole-sale search of all the variables that could be libraries and links everything against all of them. It could be that ALE's target import linking is somehow going through that.

[2021-06-29 16:18] oleg-alexandrov commented on #4544
I get this error when I don't have a conda environment at all. We ship ASP either with conda or as a standalone tarball, and issues come up when such a tarball is used on a system not having conda.

Since the error does not show up when a self-contained .cub file is queried, but it shows up when that .cub file is not spiceinit-ed properly, it does look that it is no mere linking artifact, some fun

[2021-06-29 20:50] jessemapel commented on #4544
We are embedding Python inside of spiceinit as we're moving that functionality to ALE. It currently falls back to the old functionality if ALE fails, but not if you can't even get Python. We could possibly add the ability to compile without using ALE in spiceinit but that wouldn't work forever and could cause some problems down the road.

[2021-06-29 21:12] oleg-alexandrov commented on #3948
I think this issue got a little lost. It appears to have been part of the 4.3.1 milestone.

I am sure there's a lot of more important work to do, it is just a bit amusing, to me at least, that now we've got ISIS 5, the main ISIS page still notes that ISIS 2 is a popular destination and has ISIS 3 as the state of the art.

[2021-06-29 21:55] oleg-alexandrov commented on #4544
That makes sense. Thanks. I'll have to consider this into how ASP gets packaged.

[2021-06-29 21:55] #4544 closed, assigned to nobody

[2021-06-30 19:28] jlaura commented on #4390
Doing a little bit more work on this using the suggestions from @lwellerastro. I am seeing similar issues on some of these data still:

[code]

Is the error perhaps happening where the data cross the 0-360 boundary? The error message above is for data in a polar projection. I am seeing the same error for equirectangular projections on some data. I'll play around with the incidence / emission clipp

[2021-07-01 01:51] AustinSanders commented on #4535
@jlaura I believe @kberryUSGS made these changes to the kernel update script, but I don't think there was anything to merge in on the ISIS codebase.

[2021-07-01 02:14] krlberry commented on #4535
I can confirm that nothing needed to be updated in the ISIS codebase. I updated the internal cronjob before I left to stop pulling down the private kernel, as well as putting up an internal PR with the script update that Austin mentioned to pull down the public kernel instead. As long as that PR was merged and someone did a git pull from the internal clone of the scripts repo that the kernel updat

[2021-07-02 18:06] jessemapel opened #4545 "Solving for positions and writing out updated positions in jigsaw with framing sensors causes an exception"
**ISIS version(s) affected**: 5.0.0 likely since 4.0

**Description**

When running jigsaw on framing camera data and solving for positions, writing out updated positions results in an exception.

[code]

After it writes all of the report files

**How to reproduce**

See astrodiscuss for reproduction steps: https://astrodiscuss.usgs.gov/t/uncaught-exemption-in-jigsaw-when-solving-for-s-c-position/

[2021-07-03 01:51] rvwagner commented on #4375
This bug does not seem to have been fixed in ISIS 5.0.1.  `findfeatures` still returns a non-0 exit code and reports an error of `**ERROR** Unable to find PVL group [Results] in PvlObject.cpp at 122` even if it produces valid results.  The output seems fine, but the error code on exit makes it difficult to use findfeatures in a script.

Test case: (Note that I've tried this on actual image data an

[2021-07-05 13:39] AndrewAnnex commented on #4237
@jlaura is the procedure for opening an RFC to use the template from the wiki in this repo to make a post in astrodiscuss? I don't really have the bandwidth to collect benchmarking data for these libraries at the moment even if someone hands me a list of docker containers to use, but I can at least open the RFC

[2021-07-06 15:18] rbeyer commented on #4390
Definitely seeing this under ISIS 5.0.1 for a camera-geometry distant flyby image of Charon which has both the north pole and the prime meridian in the scene.  Default `inctype=lincsinc` fails with
[code]
but succeeds with:
[code]
Creation of the cube is as follows:
1. Download lor_0298204274_0x630_sci.fit from Small Bodies PDS node
2. `lorri2isis fr=lor_0298204274_0x630_sci.fit to= lor_0298204274

[2021-07-06 15:26] rbeyer commented on #4390
Hmm, but if I go back to my first run above, but omit `increaseprecision=True` I don't get that error (but now my 25 pixel increment is too small (Charon is only about 20 pixels across in this image).  But if I manually dial that down to 5, then it completes.

So I just thought that `increaseprecision` was doing "automatically" what I did by running it without and manually decreasing the increment

[2021-07-06 16:40] jlaura commented on #4237
@AndrewAnnex Yup - go ahead and open the RFC using the template. Please feel empowered to ask for help testing in the RFC.

[2021-07-06 16:55] lwellerastro commented on #4375
Can confirm locally - the bug still exits under isis5.0.1

[2021-07-06 19:02] lwellerastro commented on #4442
this is still a problem under 5.0.1

[2021-07-06 19:18] lwellerastro commented on #4414
This is broken under isis5.0.1.
I just checked isis5.0.0 and I don't get the pop up box there no matter how hard I try which seems odd to me.

[2021-07-06 20:31] AndrewAnnex commented on #4237
done! https://astrodiscuss.usgs.gov/t/rfc-7-evaluate-use-of-jpeg2000-in-isis/713

[2021-07-08 14:48] AndrewAnnex commented on #4544
@jessemapel what version of ISIS was this introduced? I am running into this issue and maybe there is an older version of isis I can use to avoid it

[2021-07-08 19:32] AndrewAnnex commented on #4397
@jessemapel is there any way to get the test data currently? I would like to see if I can follow the isis building tutorial as an ASC external user.

[2021-07-08 21:13] oleg-alexandrov commented on #4544
I just added the full Python 3.6 runtime to ASP, which, in my tests, took care of it. I will write to you separately with more details.

[2021-07-09 00:55] AustinSanders commented on #4535
TGO CKs are being pulled down, but I'm not sure how to figure out where they're coming from, i.e. if they're coming from the new, public source or if they're still coming from the old source.  The kernel does indicate that it was created by the ESA spice service, so I suspect that it's coming from ESA Spice FTP, but I don't have much experience with this.

[2021-07-11 23:15] AndrewAnnex opened #4548 "building isis following tutorial steps, cmake error boost_atomic cannot be found"
**ISIS version(s) affected**: 5.0.0

**Description**
Attempting to follow the building isis instructions to build the current state of the dev branch results in a cmake error relating to boost:

[code]

output of mamba list is in attached text file:
[envlist.txt](https://github.com/USGS-Astrogeology/ISIS3/files/6797809/envlist.txt)

**How to reproduce**
[code]

**Additional context**
the how to bu

[2021-07-12 03:05] krlberry commented on #4535
@AustinSanders File names of the form `em16_tgo_cassis_tel_20160407_20211231_s20210602_v01.bc` are only used for the CKs that come from the ESA SPICE FTP, so if there are CK kernels being pulled down with a filename of that form, then they're coming from the right place! The CKs from the CaSSIS internal server had a different naming convention.

[2021-07-12 03:11] krlberry commented on #4473
Closed by #4508

[2021-07-12 03:11] #4473 closed, assigned to krlberry

[2021-07-12 17:25] #4535 closed, assigned to nobody

[2021-07-13 16:31] jessemapel commented on #4375
It looks like the fix for this (#4399) didn't get moved over to the 5.0.1 branch. We will need to pull a 5.0.2 that contains this fix and any other bug fixes we've merged since 5.0.2. I'm not sure of when we'll have time to get to that, but I'll make sure I update over here when we do.

[2021-07-13 16:40] jessemapel commented on #4442
#4496 also missed the cherry-pick over to 5.0.1 same as #4375. I'm going to open a new issue to collect these so that we have a full record of what needs to be moved over for 5.0.2.

[2021-07-13 18:11] jessemapel commented on #4414
This bug fix was also not cherry-picked to 5.0.1, so we'll be putting this out in 5.0.2.

[2021-07-13 18:16] jessemapel opened #4550 "Missing bug fixes in 5.0.1"
**ISIS version(s) affected**: 5.0.1

**Description**

Three bug fixes were merged into dev but did not make it into the 5.0.1 release:

#4399
#4433
#4496

**How to reproduce**

The code changes from the PR's and the commits from them are not present in the 5.0.1 branch and corresponding update PR: #4524

**Possible Solution**

We need to cherry-pick these commits into the 5.0.1 branch. We should a

[2021-07-13 18:28] #4545 closed, assigned to nobody

[2021-07-13 19:20] jessemapel commented on #4397
@AndrewAnnex I'm not sure as I'm not working on this thing right now. @jlaura May have an update on where this is at.

[2021-07-13 19:40] jessemapel commented on #4544
@AndrewAnnex This was added in ISIS 4.0 with the SPICE migration.

[2021-07-13 19:55] AndrewAnnex commented on #4397
I got an email over the weekend about this from @jlaura so for me this problem is resolved

-Andrew Annex

[2021-07-13 20:03] jessemapel commented on #4548
It looks like you are using a version of CMake outside of your anaconda environment and that's causing weird find errors.

[code]

Should be in your anaconda environment `lib` directory and the boost version number doesn't match the boost version from your mamba list file.

[2021-07-14 05:33] oleg-alexandrov opened #4553 "libjpeg version in environment.yml"
I fetched isis 5.0.1 with conda. It depends on jpeg 9d, yet the environment here, https://github.com/USGS-Astrogeology/ISIS3/blob/c24b57bd224e5862cead3f7ca21462b9df2724b1/environment.yml#L31 says jpeg 9b.

[2021-07-14 14:21] AndrewAnnex commented on #4548
@jessemapel  I am just using standard conda/mamba and I activated the environment so I don't know why that is happening. Is there a step missing from the docs for ensuring the build is isolated to the conda environment or is this a bug with conda?

[2021-07-15 21:39] cristinameng opened #4556 "Unable to initialize camera (when web=true) or no existing files found with a numerical version matching (when trying locally)"
Hi, I am very new to isis and after searching for a very long time, I could not find someone else with the same problem as me.
After using ‘dawnvir2isis’ to create isis cubes from the PDS data, I tried to use the ‘spiceinit’ command through the webserver ‘WEB=true’ and got the following error:
 **ERROR** The Spice Server was unable to initialize the cube. The error reported was: Unable to initiali

[2021-07-15 22:01] jessemapel commented on #4556
Hi, what version of ISIS did you use for this? I'm not sure if DAWN VIR is supported by the spice web server as it requires additional table data on the cube to perform pointing correction.

The version # error is interesting. Do you have the full error message? Check that the zero mirror CK exists, `$ISISDATA/dawn/kernels/ck/dawn_vir_zero.bc` or `$ISIS3DATA/dawn/kernels/ck/dawn_vir_zero.bc` for I

[2021-07-15 23:15] blandoplanet opened #4557 "map2map output adds a line of bad pixels at 0/360"
**ISIS version(s) affected**: 5.0.1 and 4.4.0, probably more

**Description**
I have a set of number of low-resolution mosaics of Europa that cross the 0/360 boundary. These are hard to look at in qview so I tried reprojecting them with map2map to put the center latitude at 0 (thanks @lwellerastro for the assist). The resulting output has a line of bad pixels at the 0/360 boundary. An example is s

[2021-07-16 18:10] jlaura commented on #4548
@AndrewAnnex Does cmake get installed into that env? Sometimes I have packages getting found further down the PATH. - naive comment coming in from a third party watcher on the issue.

[2021-07-16 18:24] blandoplanet opened #4558 "map2map does not read minlon/maxlon from the map file pvl"
**ISIS version(s) affected**: 5.0.1 and 4.4.0 at least

**Description**
When running map2map with a pvl that specifies the 'MinimumLongitude = ' and 'MaximumLongitude = ' the user receives the following error
**ERROR** Unable to determine the correct [MinimumLongitude,MaximumLongitude]. Please specify these values in the [MINLON,MAXLON] parameters.

map2map runs successfully if 'minlon=' and 'maxl

[2021-07-16 19:43] AndrewAnnex commented on #4548
@jlaura yes it does, in the envlist.txt file I have above it shows cmake 3.16.0 hc9558a2_0 from conda forge is being installed and running which cmake seems to point to the one installed into the conda environment and I get the same error if I manually point to the conda environment's cmake. I don't see any environment variables that include the /usr/lib dir.

[2021-07-16 19:44] AndrewAnnex commented on #4548
oh, you are saying it searches the PATH too... yeah not sure but maybe there should be some hard set cmake variables to ensure that the isis_dev cmake only looks in the right places, although I don't know what those would be

[2021-07-16 20:10] lwellerastro commented on #4558
I encountered the same error in the case where both the latitude and longitude information were omitted from the map the file and was not entered on the command line.  I was expecting the program to do the math.

One of the mosaics Mike and I were working with has a longitude range of 0-360 (data are split) and we were re-mapping it to +/-180.

[2021-07-19 19:09] cristinameng commented on #4556
Hi, I am using the most recent version 5.0.1.
I have tried using with the cube test that came with the kernels (''FC21B0001010_09049002212F5D.cub"), even though it is FC.
Having said, using it from the web gives the following error:
"**ERROR** The Spice Server was unable to initialize the cube.  The error reported was: Unable to initialize camera model.
QIODevice::write (QTcpSocket): device not op

[2021-07-19 19:40] jessemapel commented on #4556
It looks like you are missing the base data area. There are several kernels that are re-used across missions that we put in the base data area; the error you are seeing is for the leap second kernels. Follow the instructions to download just the base area on the README and see if the local run works after that:

https://github.com/USGS-Astrogeology/ISIS3/blob/dev/README.md#partial-download-of-isis

[2021-07-19 20:04] jessemapel opened #4559 "Add Statistical Outlier Rejection to jigsaw"
**Description**

A statistical test called "data snooping" was proposed by Baarda in 1968. This approach uses a hypothesis test to determine if a measurement contains a gross error. This approach would be a significant improvement over the current outlier rejection scheme as it would allow users to simply specify a confidence level for the hypothesis test and then go from there. Granted, this will

[2021-07-19 20:04] jessemapel commented on #4559
I've created a new feature branch for this https://github.com/USGS-Astrogeology/ISIS3/tree/snooping

[2021-07-19 22:03] drschenk opened #4561 "mvic frame transfer crash"
**ISIS version(s) affected**: x.y.z
3.9.1

**Description**
mvic frame transfer mode images run mvic, spiceinit, deltack just fine but crash on qnet, grid, cam2map

**How to reproduce**

image numbers from pdf small bodies node 0299175045, 0299175093, etc.

**Possible Solution**

**Additional context**

libc++abi.dylib: terminating with uncaught exception of type boost::exception_detail::clone_impl

[2021-07-19 22:07] jessemapel commented on #4561
copying from astrodiscuss:

What OS are you running where this happens? Can you also provide the output of `conda list`

[2021-07-19 22:15] drschenk commented on #4561
10.15.7

# packages in environment at /opt/miniconda3/envs/isis3:
#
# Name                    Version                   Build  Channel
armadillo                 8.200.0         blas_openblas_200  [blas_openblas]  conda-forge
arpack                    3.6.2           blas_openblash26a2512_200  [blas_openblas]  conda-forge
blas                      1.1                    openblas    conda-forge
boos

[2021-07-20 16:09] dpmayerUSGS commented on #3547
The automatic flipping behavior is still an issue, for the reasons outlined in the initial post. My personal vote is that the flipping feature should be removed. We determined that the flipping is purely aesthetic. There are already general image manipulation tools in ISIS that can be used to achieve the same effect if so desired.

[2021-07-20 16:14] jessemapel commented on #4561
It looks like there's something going wrong in the distortion model, the legendre polynomial functions are getting an input outside of their domain [-1,1] and that's raising an exception. There is suppose to be a try catch to handle this and just return non-intersection, but that doesn't seems to be catching it as it's looking for a std::exception, not a boost exception.

[2021-07-20 17:21] drschenk commented on #4561
Any recommendation?

Sent from my iPhone!  Typing erratic.

On Jul 20, 2021, at 11:14 AM, Jesse Mapel ***@***.***> wrote:

﻿
        CAUTION: This email originated from outside of the organization. Do not click links or open attachments unless you recognize the sender and know the content is safe.

It looks like there's something going wrong in the distortion model, the legendre polynomial functio

[2021-07-20 17:26] rbeyer commented on #4561
What Jesse described sounds like a programming bug that needs to be fixed (or perhaps has been already?).

Paul and I did some tests, and I do *not* get this error.  It works for me in ISIS 5.0.1, but also in my old version of ISIS 3.9.0, so still not sure what's going on.  Why are the polynomials getting an input beyond their domain in the first place?  Not entirely sure.

[2021-07-21 22:49] drschenk commented on #4561
any ideas on how to fix this or which code to update (and how)?  thanks, p

[2021-07-22 13:31] drschenk commented on #4561
to complicate matters I found an MVIC framing transfer file of Callisto (0035126515) and ran it through mvic2isis and spiceinit (no parameters) and it works just fine (grid, cam2map, etc).  so tried one of the Pluto frames reran it in mvic2isis and spiceinit (no parameters also) and still get same errors.  compared distortions in information in both image labels and they are identical except for p

[2021-07-22 15:44] jessemapel commented on #4561
The input to the legendre polynomials is the focal plane coordinate scaled so that one end of the CCD is -1 and the other is +1. So, if there's a focal plane coordinate outside of the CCD then you could run into this issue. I'm confused why this is cropping up in just Paul's version.

[2021-07-22 15:47] drschenk commented on #4561
this is what is in the labels.  it seems to be identical to what is in the Callisto FT image, which does work.

Object = NaifKeywords
  BODY_CODE                              = 999
  BODY999_RADII                          = (1188.3, 1188.3, 1188.3)
  BODY_FRAME_CODE                        = 10019
  INS-98903_FOCAL_LENGTH                 = 657.5
  INS-98903_PIXEL_PITCH                  = 0.013
  CL

[2021-07-22 15:56] jessemapel commented on #4561
@drschenk Those are the coefficients the polynomials are multiplied by, not the values the polynomials are evaluated at. So, it is expected that they will be the same for all MVIC framing images. The values that are potentially causing issue are the focal plane coordinates being computed for a given ground point or image pixel.

[2021-07-22 16:41] drschenk commented on #4561
where would those be hiding?

[2021-07-22 17:07] jessemapel commented on #4561
@drschenk They are not available to users as they are not saved off during computations. During runs of programs these will get computed potentially millions of times.

[2021-07-22 17:50] drschenk commented on #4561
how do we get around this?
I dont want to go from 3.9 to 5.0 until I have no choice, as it usually results in major headaches during the upgrade.  what would be the proper commands to execute an upgrade and what changes would happen to program parameters and execution?  can you confirm these files work in 5.0 for you?

[2021-07-22 18:33] jlaura commented on #4561
@drschenk The way that we are versioning now, you should not see the same version headaches that you may have previously encountered. The changes from 3.9 to 5.0 are relatively small. They are API changes though (see the [change logs](https://github.com/USGS-Astrogeology/ISIS3/blob/dev/CHANGELOG.md)) which is why the version number ticked with the speed that it did.

[2021-07-22 18:37] drschenk commented on #4561
can someone suggest the proper upgrade command, given im already in the conda envr?  ross suggested something but would like to confirm it.
I still want to try and get a workaround in 3.9 if possible.

[2021-07-22 18:42] jessemapel commented on #4561
Since you are using ISIS 3.9 and the old isis3 package, you will need to create a new isis environment to install into. You can follow the install instructions in the README and specify isis=5.0.1 to get the latest version.

[2021-07-22 18:43] jlaura commented on #4561
@jessemapel To ensure that @drschenk get back to 3.9 if needed, would you suggest creating a new env named something like `isis5.0.1` and then **also** having a new ISIS data area?

[2021-07-22 18:44] jessemapel commented on #4561
You can use the old data area with new versions of ISIS, so you don't need a new data area. The problem is using new data with old versions.

[2021-07-22 18:49] drschenk commented on #4561
can you send me the link to correct REEADME and sources so I get the correct one for my needs?

[2021-07-22 18:50] jessemapel commented on #4561
Installation can be found here:

https://github.com/USGS-Astrogeology/ISIS3/blob/dev/README.md#Installation

[2021-07-23 00:47] drschenk commented on #4561
additional test images show that any frame with target wholy within the frame can be used normally.
only the 5 frames that cover a part of Pluto fail.
also, those 5 frames crash out of qview when I try to read the bottom line (but read correct coordinates on lines 1-127).

[2021-07-23 11:58] AustinSanders opened #4567 "Add / edit TGO CaSSiS translation files to support PSA compliant labels"
**Description**

Attempting to ingest a TGO CaSSiS label from the current version of the Bern geometry pipeline results in:
[code]

This may be due to an updated label format in which the requested variable is not included.

Additionally, the current translation files list the filter as:
```Observation_Area, Discipline_Area, img:Imaging, img:Image_Product_Information, img:filter_name```
However, t

[2021-07-23 17:49] cristinameng commented on #4556
Thank you very much, it worked!

[2021-07-23 17:49] #4556 closed, assigned to nobody

[2021-07-23 18:48] drschenk commented on #4561
found workaround of 'pad'ding 2500 lines to the bottom of the frames on the assumption that this does not corrupt the camera distortion center of reference (at least I can use some programs that dont require that until a more permanent fix is made)

[2021-07-23 19:09] jessemapel commented on #4561
This will dramatically impact your distortion as the size of the image is queried and not hard coded. So, you are "stretching" the distortion in the line direction.

I would not recommend this.

[2021-07-23 19:16] drschenk commented on #4561
I did not plan to use this for mapping or camera kernels, but need to start work some on some prep tasks until someone can fix this...   is it not possible?

[2021-07-23 19:23] rbeyer commented on #4561
Paul, they aren't going to fix something that's wrong in ISIS 3.9.  That ship has sailed.  If you have installed ISIS 5, and you're still encountering this problem, that's a different story.  Is that what's happening?

[2021-07-25 23:28] michaelaye opened #4568 "isis2std not safe for parallel process calls?"
**ISIS version(s) affected**: 4.3.0

**Description**

I am using `isis2std` to convert to png using parallel system calls on dozens of images.
Random images (something like 4 %, in my case 2 to 3 out of 60) are not getting exported correctly and look black.
Repeated calling of the same function with overwrite does this to other 2 or 3 images.

**How to reproduce**

[code]

**Possible Solution**

I

[2021-07-25 23:29] michaelaye commented on #4568
FYI, these are tiled subsets (produced by `crop`) of the same CTX image.

[2021-07-26 06:00] michaelaye commented on #4568
Sorry, this was user error in parallelization.
For the reader: Make sure for chained parallelization tasks, that you don't create a dependent task as a "same-level" future that might be executed before the first task has finished!

[2021-07-26 06:00] #4568 closed, assigned to nobody

[2021-07-27 19:56] drschenk commented on #4561
was able to install 5.0 without apparent problem and mvic frame issues have (so far) not returned. . .

[2021-07-28 21:47] drschenk commented on #4561
got a new 'problem' after successfully installing 5.0.1.  jigsaw gets a convergence solution but it tries to write to the labels it crashes out with
libc++abi.dylib: terminating with uncaught exception of type std::invalid_argument: Input vector must have 6 entries.
Abort trap: 6
jigsaw completes when cksolve=yes and spsolve=no but fails when spsolve=yes and update=yes.  (it solves for spsolve=yes

[2021-07-28 22:46] jessemapel commented on #4561
This is a known bug with 5.0.1, see #4545, the fix will go out in 5.0.2 which I'm putting out right now. I'll provide update instructions once it's out.

[2021-07-30 21:58] dons83 opened #4577 "EDRGET Issue"
I am getting EDRGET errors any idea how to solve this in my installation? Think I need an update somewhere but don't know where!

edrget \
url=https://pds-imaging.jpl.nasa.gov/data/mro/mars_reconnaissance_orbiter/ctx/mrox_3668/data/N06_064898_1129_XN_67S119W.IMG
Cannot mix incompatible Qt library (version 0x50701) with this library (version 0x50906)
Aborted (core dumped)

[2021-07-30 22:59] AustinSanders commented on #4577
Hi @dons83,

I'm having trouble reproducing this error on OSX.  Can you provide your ISIS version and a list of packages in your conda environment as given by ```conda list```?

[2021-07-31 00:22] dons83 commented on #4577
When I next opened Ubuntu it said i had 97 updates to do. After running these the edrget command works although it saves way into the depths of my C: drive. How do you specify where it should save?

C:\Users\admin\AppData\Local\Packages\CanonicalGroupLimited.UbuntuonWindows_79rhkp1fndgsc\LocalState\rootfs\home\dandydons

I would prefer it just save where isis3 is installed:

C:\Users\admin\unix\is

[2021-08-02 16:50] AustinSanders commented on #4577
By default, the edrget program downloads the files to your current working directory, so if you first navigate to your desired output directory (```cd C:\Users\admin\unix\isis3```) then you should be able to run edrget the same way you've been running it.  Otherwise, you can specify a "topath" argument, e.g.:

[code]

although you will likely need to ensure that the full path (C:\Users\admin\unix\

[2021-08-02 21:21] victoronline commented on #4256
Are we having anyone look into this? This could cause an issue on photometric sites with short exposure NAC observations for PAN sites.

[2021-08-02 22:37] victoronline commented on #4375
Any update on if this will be cherry picked back to 5.0.1 and if it will be included in 6.0?

[2021-08-03 13:36] AndrewAnnex commented on #4577
on a aside, maybe edrget should be deprecated in favor of using wget/curl?

ie instead of the command above you would just run `wget https://pds-imaging.jpl.nasa.gov/data/mro/mars_reconnaissance_orbiter/ctx/mrox_3668/data/N06_064898_1129_XN_67S119W.IMG`

[2021-08-03 14:42] rbeyer commented on #4577
@AndrewAnnex see #3313

[2021-08-03 18:20] dons83 commented on #4577
Hi got edrget to work with the topath added although I notice that sometimes it says100% complete but nothing has saved. Is the wget a better way to go would you say? Does it take the same topath so I can specify where the files download to? In any case I could use Python to download IMG files or a multitude of other ways so I am not too worried about it working through ISIS3.

I did a complete re

[2021-08-03 19:29] AustinSanders commented on #4577
@dons83 The wget command is built directly into your unix/linux system, so it's completely independent of ISIS.   It can be used to grab files from URLs, but again, it will default to your current working directory.  You can specify a directory prefix using the -P option.  You can find very detailed information about wget and its usage [here](https://linux.die.net/man/1/wget)

As for getting feedb

[2021-08-03 19:29] #4577 closed, assigned to nobody

[2021-08-03 21:15] dons83 commented on #4577
Ok thanks for your help I will try over there.

[2021-08-04 20:49] amystamile-usgs commented on #4558
I did some digging into map2map and determined what may be happening. I used a map pvl with longitude domain = 180 and a cube with longitude domain = 360 with Minlon = 0.0 and Maxlon = 360. When running map2map with default parameters, it uses the cubes mapping group as the default range. That is, map2map uses the minlon and maxlon from the cube's mapping group rather than the map pvl. This does n

[2021-08-04 22:37] victoronline commented on #3711
Any update on this one? Stuart, have you had a chance to look at this one?

[2021-08-04 22:49] victoronline commented on #3555
We are still working on getting the dataset. Will update as soon as we do.

[2021-08-04 22:55] victoronline commented on #3554
Working on getting needed information to proceed. Will update issue with information.

[2021-08-04 22:57] victoronline commented on #3482
I'm reaching out to my team for a comment on this issue.

[2021-08-05 17:07] lwellerastro opened #4581 "Qnet - Point Editor Measure Search"
**Description**
It would be great if there was a way to search for an image name in the Measure drop down menus in the Qnet Point Editor Tool.  Due to the ever growing, redundant amount of data collected during missions, a point may have many hundreds of measures associated with it.  My current Titan global network often has points with well over 400 measures associated with it, and when I evaluat

[2021-08-05 17:45] AustinSanders commented on #4553
This appears to be addressed in #4547.

[2021-08-05 18:01] scsides commented on #3711
We have a good idea where the problem is. I need to spend a little more time fixing it

________________________________
From: Victor Silva ***@***.***>
Sent: Wednesday, August 4, 2021 3:37 PM
To: USGS-Astrogeology/ISIS3 ***@***.***>
Cc: Sides, Stuart C ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [USGS-Astrogeology/ISIS3] band priority is not optimized in automos (#3711)

 This emai

[2021-08-05 18:23] AustinSanders commented on #4416
I'm not able to find any related test failures following #4501.

[2021-08-05 18:23] #4416 closed, assigned to nobody

[2021-08-05 19:09] AustinSanders commented on #4476
I'm closing this issue, as it seems to be resolved.  Feel free to reopen the issue if any additional information becomes available.

[2021-08-05 19:09] #4476 closed, assigned to nobody

[2021-08-05 19:27] rbeyer opened #4583 "Zenodo has not minted a new DOI since ISIS 4.2.0 ... a year ago"
The Zenodo [super-link](https://doi.org/10.5281/zenodo.2563341) indicates that the most recent DOI is for ISIS 4.2.0, which was a year ago.  There have been additional GitHub Releases since then that should have triggered a new DOI.  Whomever has access to the Zenodo account that manages the ISIS DOI (Jay?) needs to dive into the Zenodo account and see if they can unblock the problem.

[2021-08-05 19:31] victoronline commented on #4375
I see that it was included in 5.0.2. I assume this minor tick won't be available in conda until the next release. Is this correct?

[2021-08-05 19:54] jlaura commented on #4583
I can confirm - build problems on the Zenodo side.

<img width="887" alt="Screen Shot 2021-08-05 at 12 53 49 PM" src="https://user-images.githubusercontent.com/2105468/128412693-be66e680-400d-49df-ba69-3d26cba4927b.png">

Looks like the problem might be with the author list. That is the thread I am going to pull at:

[code]

[2021-08-05 21:02] lwellerastro commented on #4442
@jessemapel wondering what version of ISIS this and the other missed posts will be available.  I haven't seen any announcements for 5.0.2 and don't see it listed under the local conda envs.  Are we going straight to 6.0?

[2021-08-05 21:30] amystamile-usgs commented on #4558
The short explanation/solution is to say that by default, map2map grabs minlon/maxlon from the cube's mapping group rather than the provided map pvl. In order for map2map to use the map pvl minlon/maxlon, add the following command line parameters: `defaultrange=map`.

[2021-08-06 01:25] KrisBecker commented on #3482
While smithed kernels conceptually are necessary, we have a ways to go before they are stable/reliable in ISIS to use in this setting (as the spiceinit default). It can be quite a challenge to apply smithed kernels properly because of the resources used in the production of the control network, methods used to create the ensuing kernels and requirements to precisely reconstruct the observing envir

[2021-08-06 15:47] jessemapel commented on #4442
I've put out a 5.0.2 build with all of the bug fixes in it. It's already available internally if you want to try it. The release announcement will go out today.

[2021-08-06 17:25] jessemapel commented on #4550
Fixed with the 5.0.2 release

[2021-08-06 17:25] #4550 closed, assigned to jessemapel

[2021-08-06 18:02] blandoplanet commented on #4558
Hmm. Okay, I think I understand (maybe). This does not appear to be a bug, just a misunderstanding of what the default behavior is. It does seem odd to me that if you provide a map pvl with minlon/maxlon specified ISIS doesn't actually use that unless you explicitly tell it to by using defaultrange=map. I wouldn't bother including it in the pvl if I didn't want ISIS to use it.

[2021-08-06 18:02] #4558 closed, assigned to amystamile-usgs

[2021-08-06 19:04] jlaura commented on #4558
Is this something that we should reopen and tag for a documentation change / improvement? Or should the default behavior change?

[2021-08-06 19:06] rvwagner commented on #4375
It does seem that this has been fixed in ISIS 5.0.2 and ISIS 6.0.0 RC1.  My test case above runs correctly in both, with no error message and a successful return code.

[2021-08-06 19:16] lwellerastro commented on #4558
For my test, I had a super minimal map file necessary and did not include a lat/lon range since we were just changing the longitude domain.  The longitude range was 0-360, clon180 and I too naively thought (and have experienced this in the past, at least I think I have) the program would simply change the longitude range to +/-180 when londomain=180, clon=0 and everything else the same in the pvl

[2021-08-06 20:01] jessemapel commented on #4375
This is available in both 5.0.2 and 6.0.0-RC1 (will be in 6.0.0 upon full release).

[2021-08-06 20:01] #4375 closed, assigned to acpaquette

[2021-08-07 16:02] rbeyer commented on #1300
Image links are still broken, 2.5 years later.

[2021-08-09 14:16] ashkathaker opened #4585 "Data missing from S-band lunar radar images after changing projection using map2map"
**Description**
I have a set of S-band (12.6 cm) earth-based radar images of the Tycho crater of the Moon.  I need them to be in a simple cylindrical projection and so I tried to change their projection using the map2map command. Although it's not showing an error when I run the command, when I try to import the images in ArcMap, all the data is missing. Before running the command, I was able to i

[2021-08-09 16:14] #4583 closed, assigned to nobody

[2021-08-09 16:40] scsides commented on #3817
Suggest changing the gtests so they use the TestPreference file instead of the current users's personal preference file. This will make the tests consistent.

[2021-08-09 17:03] jessemapel commented on #4475
Looks like this was caused by us not using the --delete flag in the data upload step. I'm going to re-push the O-REx kernel area with the delete flag but not other missions.

[2021-08-09 17:07] jessemapel opened #4586 "googletest is not using the TestPreferences file"
**ISIS version(s) affected**: 4.0+

**Description**

The Makefile based ISIS tests used a special TestPreferences file to ensure a consistent testing environment. The new googletest based tests do not use this file and should.

**How to reproduce**

If you mangle your IsisPreferences, particularly how errors are handled, you can get failures in the goolgetest tests.

**Possible Solution**

googlet

[2021-08-09 17:08] jessemapel commented on #4586
This is causing #3817

[2021-08-09 17:11] jessemapel commented on #4475
@KrisBecker This should be resolved now, can you double check?

[2021-08-09 17:13] jessemapel commented on #4585
Can you provide the command line you used to process the images and the map files you used. You can get the command lines from the `cathist` command.

[2021-08-09 17:19] jessemapel commented on #4256
@victoronline @scsides Did the fix in #4214 resolve this enough for current processing?

[2021-08-09 17:24] astrostu opened #4587 "Is There a Basic Hapke Photometry Model in ISIS?"
I'm trying to do some basic photometric corrections to MARCI data.  In the past, with other wide-angle Mars data, I've had good success with the HAPKEHEN model in PHOTOMET.  My method has been to guess-and-check-and-iterate on the various parameters until I get a fairly flat-looking median image at multiple longitudes over a wide range of latitudes.  However, MARCI data are too large to do this so

[2021-08-09 17:31] AndrewAnnex commented on #4553
@AustinSanders #4547 does not address this issue/question directly. I think that recent versions of ISIS must have been deployed using a non public yaml file to end up using 9d

[2021-08-09 17:44] jessemapel commented on #4553
the libjpeg version in the environment.yml is a hold over from when we hard pinned every dependency. The actual pin used in the build is `jpeg >=9b,<10a` which you can see specified in the recipe:

https://github.com/USGS-Astrogeology/ISIS3/blob/dev/recipe/meta.yaml#L135

[2021-08-09 18:25] KrisBecker commented on #4475
Looks good!

Thanks.

[2021-08-09 19:41] oleg-alexandrov commented on #4553
It is not clear what "pin_compatible" does though, and the recipe you point to still says jpeg==9b: https://github.com/USGS-Astrogeology/ISIS3/blob/f471eb3cc83fb4d736910cc8db10b707526600a8/recipe/meta.yaml#L81

No big deal of course. But it seems like something which may need a bit of tuning.

[2021-08-09 20:14] jessemapel commented on #4553
`{{ pin_compatible('jpeg', max_pin='x') }}` makes it so the runtime environment installs a version of jpeg that is the same major version as the build environments, 9b. It's a way to enforce ABI compatibility in the runtime environment. So, the 9d in the runtime is completely okay and expected behavior.

[2021-08-09 20:14] #4475 closed, assigned to Kelvinrr, jessemapel

[2021-08-10 06:27] oleg-alexandrov commented on #4553
Shouldn't one just use jpeg>=9b, <= 9d all over then?

[2021-08-10 13:10] jlaura opened #4590 "Add code.json to comply with USGS code release requirements"
As per https://www.usgs.gov/products/software/software-management/distribution-usgs-code we need to have a code.json file that includes metadata about code to be released by USGS. This is one of the steps necessary to perform an officially sanctioned USGS release of the ISIS code.

[2021-08-10 13:10] ashkathaker commented on #4585
This is the **command line** I used:  _map2map from=sband_50s348_cpr.cub map=test.map to=sband_50s348_cpr_new.cub_

These are the details of the **map file**:
Group = Mapping
  ProjectionName     = SimpleCylindrical
  CenterLongitude    = 0.0
  TargetName         = Moon
  EquatorialRadius   = 1737400.0 <meters>
  PolarRadius        = 1737400.0 <meters>
  LatitudeType       = Planetocentric
  Longi

[2021-08-10 14:10] jlaura opened #4592 "Administrative Code Review"
In order to release the ISIS software via the USGS software release process, we need to do an administrative review. The review needs to check the software for the following:

- Personally identifiable information (PII)
- Absolute file system paths
- Internal server host names or IP Addresses
- Username/Passwords

Is it possible for devs / contributors on this repository to provide an affirmative

[2021-08-10 21:37] jessemapel commented on #4553
We could do that for the build pin, but we want to keep the pin_compatible for the run so that we have a flexible environment.

[2021-08-11 15:27] #4586 closed, assigned to amystamile-usgs

[2021-08-11 15:29] #3817 closed, assigned to amystamile-usgs

[2021-08-11 17:42] #4044 closed, assigned to Kelvinrr, acpaquette

[2021-08-11 19:08] amystamile-usgs commented on #4581
I was able to implement a way to search filenames within the drop down box that will auto fill upon search for both left and right measures.

I could not find a feasible way to sort the filenames based on highest residuals. In the Qt API, there are only a few ways of implementing sorting which are mainly for alphabetizing the items in the drop down box. This means, if we want to try to sort based

[2021-08-11 19:15] AndrewAnnex commented on #4587
there is this one: https://github.com/USGS-Astrogeology/ISIS3/blob/aab0e63088046690e6c031881825596c1c2cc380/isis/src/base/objs/Hapke/Hapke.cpp, but I assume it is the same one you ran into issues with in photomet. In that case there doesn't appear to be a more simplistic version in ISIS currently but it should be possible to modify that file to include more variants

[2021-08-11 19:23] astrostu commented on #4581
I'm interested in better drop-down list, too ... I would prefer that if you can't sort by a custom method (such as residual), that at the very least the measures be alphabetized, as they are when you go to create a point.

[2021-08-11 19:26] astrostu commented on #4587
So, that's interesting that that exists.  How is it called?  In PHOTOMET, "Hapke" is not one of the listed valid parameters for the photometric model.  The two variations of Hapke then list these other, non-Hapke parameters as required inputs.

[2021-08-12 17:52] AndrewAnnex commented on #4587
looking at the isis docs it looks like https://isis.astrogeology.usgs.gov/Application/presentation/Tabbed/phoemplocal/phoemplocal.html may use use it but I have no first hand experience using it. However in re-reading the issue/docs for photomet I think that photomet is using this version of Hapke and those extra parameters you noted are part of the normalization step for photomet and have nothing

[2021-08-16 16:56] lwellerastro commented on #4581
`I was able to implement a way to search filenames within the drop down box that will auto fill upon search for both left and right measures.`

This is great! Sorting alphabetically sounds like it could be useful as well.  Is that automatic?  I'm not sure I would want it to be auto since new measures added while editing the point might get lost in the shuffle.  Currently they all go to the bottom

[2021-08-16 17:37] amystamile-usgs commented on #4581
@lwellerastro In regards to the searching filenames, they are separated. So you can search for a filename on the right measure and the left measure will stay as is and vice versa.

In regards to the alphabetical sorting, it is automatically sorting after the measures have been added to the drop down boxes. So when you do go to add a measure to a point, it will automatically sort those filenames on

[2021-08-16 17:43] lwellerastro commented on #4581
Hi @amystamile-usgs - thanks for the clarification - sounds perfect! I think we the auto-alphabetizing might need to be reverted.  Too hard to make it an option?  I can definitely see the usefulness of having that, but not when new measures are added, especially if there are already many measures.  Maybe adding an option to alphabetize needs to be a new post.

I don't "pull" anything from git to g

[2021-08-16 18:10] amystamile-usgs commented on #4581
It may be a good idea to have a new post for the alphabetizing because I do not know of a good solution right off hand to make it an option rather than auto alphabetizing. So for this ticket, I will go ahead and just revert those changes for the upcoming RC.

[2021-08-17 16:54] lwellerastro commented on #4587
`How is it called? In PHOTOMET, "Hapke" is not one of the listed valid parameters`

@astrostu, many things in photomet are driven by the FROMPVL input file.  There are templates available based on past work and possibly publcations (you'd have to look at the comments in the pvl file) under $ISISROOT/appdata/templates/photometry/.  Check out the *mdim*hapken*pvl files for an idea of what's availabl

[2021-08-17 20:49] AustinSanders commented on #4557
This issue has been a bit of an adventure.  I've looked into the map2map side of things, and map2map appears to be doing exactly what it's supposed to do.  The images coming out of cam2map are missing a pixel on the right side, so they only extend out to ~359.915º longitude.  Since there technically isn't data associated with 360º on these images, it's getting a strip of null values at the lon sea

[2021-08-17 21:08] jessemapel commented on #4420
I did some more digging on this and it appears that the radius in the DEM varies dramatically near the south pole. What's happening is that the algorithm cannot converge because the radius changes so rapidly in a small area. Here are some plots I made of the local radius as the algorithm attempts to converge for a single intersection at -89.99 latitude.

First here's the local radius (in Km) at ea

[2021-08-17 21:13] jessemapel commented on #4420
I should also add that I used a median filter to smooth out the very edges of the DEM and it resolved this problem. That seems like a very brute force may to handle this so I'm curious if there's a better way to handle it.

[2021-08-17 21:26] lwellerastro commented on #4420
I tried various global DEMs and they all had problems, but they are all different products.  Which file were you working with?  It looks like in my post I kept with what's in the system.
The isis system default (lola): $base/dems/ldem_128ppd_Mar2011_clon180_radius_pad.cub

Another version of the above but newer/better resolution (lola): /archive/projects/TOPO/LOLA_MAR2014/LRO_LOLA_Global_LDEM_118m

[2021-08-17 21:50] KrisBecker commented on #4557
The easiest way to work around this problem is to expand your global map longitude extents to MinimumLongitude=-2.5 and MaximumLongitude=362.5 (or any other arbitrary extent beyond the exact 0/360 limits) of your source and then reproject using this map. You can also do this for 180 domain using -182.5, 182.5.

To retrofit this to an existing source map you cannot reproduce otherwise, you might tr

[2021-08-17 22:00] lwellerastro commented on #4557
Thanks @KrisBecker, you just reminded of past projects where data were projected (or reprojected?) from -0.5 to 360.5 longitude (or something along those lines) and I never understood why.  I guess that was the solution for this particular issue.

This particular file that is being worked with has a camrange of lat +/-90 and lon 0-360 which is what cam2map used to project the file (and what's in t

[2021-08-17 22:08] KrisBecker commented on #4557
Yes, this can be applied in cam2map as well. automos does a good job with this technique, too. You can do these tricks with most projections, just don't change other parameters in your map file (i.e., resolution!) that could result in undesirable resampling until you are satisfied with the results.

Just wanted to add that this is essentially a roundoff problem so some very small tolerance tweaks

[2021-08-17 22:09] jessemapel commented on #4420
I tested using the system default one, let me test out the one in archive.

[2021-08-17 22:41] lwellerastro commented on #4420
My first choice for a global DEM was a merged product that Tammy and Ken created back in 2015 after we received a copy of a new DEM based on Kaguya TC stereo data.  The version they received directly from @thareUSGS (I have old emails for all of this) is identical to what's under /archive/projects/TOPO/LOLA_Kaguaya_Merge_Feb2015/LRO_LrocKaguya_radiusDEMmerge_60N60S_512ppd.cub.

The Kaguya DEM only

[2021-08-17 22:56] thareUSGS commented on #4420
Since these LOLA DEMs interpolate the original shot data in this output projection (Simple Cylindrical), polar areas are going to get messy (even though they are using a anisotropy setting in GMT of 0.5 to help minimize latitude distortion). Ideally for polar areas, a polar DEM should be used.  The latest global file at 128ppd (236.9 m/p) at the PDS is from 2017 which we should switch to at a mini

[2021-08-17 23:22] lwellerastro commented on #4557
Can confirm that @KrisBecker method works using @blandoplanet command line above with tweaks below:

map2map from=G2ESPHOTOM01_GalileoSSI_Equi.cub map=G2.map to=G2ESPHOTOM01_GalileoSSI_Equi_Clon0.cub minlat=-87.287254596771 maxlat=90.0 **minlon=-180.5 maxlon=180.5 interp=nearestneighbor**

[2021-08-18 12:23] jlaura commented on #4592
Running a grep over the code base looking for ip addresses that can then be identified as internal or external, I am not seeing any results.
`grep -r "'\b((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)(\.|$)){4}\b'" .`

[2021-08-18 19:13] lwellerastro commented on #4420
`I should also add that I used a median filter to smooth out the very edges of the DEM and it resolved this problem. That seems like a very brute force may to handle this so I'm curious if there's a better way to handle it.`

@jessemapel, can you be more specific, this is not working for me.  I ran a median filter (isis median program) on my global merged dem (TB/KE version) using a 3x3 boxcar, in

[2021-08-18 19:22] #4557 closed, assigned to AustinSanders

[2021-08-18 21:49] jessemapel commented on #4420
@lwellerastro I used GDAL to open up the cube and manually apply a very wide, 100s of samples, median filter to the top and bottom 5 lines of the image. I didn't apply a median filter to the whole thing as we don't want to touch the non-polar data.

[2021-08-19 02:39] rvwagner opened #4603 "qview tracking table does not correctly display 16-bit values with large Base/small Multiplier"
**ISIS version(s) affected**: 5.0.2, also tested on 3.10.2

**Description**
In the qview Track table, DN values for pixels with values above 1,000,000 are only reported to one decimal place, even if the underlying data has more detail through the use of an integer data type with base/multiplier values set. (I recognize that for 32-bit data, the current behavior is appropriate, as 8 digits is about

[2021-08-19 02:40] rvwagner opened #4604 "Allow use of elevation data (rather than radius) in a shapemodel"
**Description**
Add the ability to use DEM cubes with terrain expressed as elevation relative to the planetary radius as shapemodels, instead of requiring terrain to be expressed as radius.  Requiring a radius means that 32-bit files on the Moon will be quantized down to steps of ~10-20cm, and likely worse for larger planets like Mars, which is significantly worse than the level of detail in LROC

[2021-08-19 19:35] jlaura commented on #4237
The PR has been open for > 1 month and discussion seems to have come to a natural conclusion. Therefore, I am going to motion that this RFC be adopted as written and that a PR be opened to remove Kakadu and use the OpenJPEG library. The AGPL license on Grok, I believe, precludes us from being able to link because we are not in a position to adopt the AGPL license.

See: https://www.gnu.org/license

[2021-08-20 01:24] jlaura commented on #4590
This was closed by #4591.

[2021-08-20 01:24] #4590 closed, assigned to nobody

[2021-08-20 16:33] AustinSanders commented on #3313
There seems to be a general consensus that we should deprecate edrget, and that there is no need for an RFC.  In order to close this issue, we should

1.  Place a deprecation warning in edrget
2. Add a section to the changelog.md that tracks deprecated functionality.

[2021-08-20 16:54] jessemapel commented on #3313
We also need to add a step to the release process to remove deprecated functionality when we do a major version release

[2021-08-22 07:44] victoronline commented on #4256
That only fixed for pushframe cameras but not for others.

[2021-08-22 17:44] astrostu commented on #4587
@AndrewAnnex and @lwellerastro — Thanks.  I'm not a photometrist (is that a thing?) so I'm learning a bit as I go, and I think Lynn's post drove the point home to me that it is doing the basic Hapke correction, and that all those other parameters I was trying to figure out are ISIS's attempt to normalize the result.  For instance, if your photometric model were perfect, and you just subtracted it

[2021-08-22 17:44] #4587 closed, assigned to nobody

[2021-08-23 15:09] jessemapel commented on #4256
This is only an issue with push-frame cameras though. For non-pushframe cameras adjacent lines are assumed to be continuous on the ground by the camera model.

[2021-08-23 15:12] jessemapel commented on #4604
I have some questions about how to properly handle this:

1. What datum do we take the elevation values above?
2. How do we specify the datum in the DEM file?

It sounds like you're recommending a spherical datum. We could use something like:

[code]

in the DEM label to specify that. For more complex datums I'm not sure what we'd use. I don't have a good grasp on what datums are commonly used for

[2021-08-23 16:56] rbeyer commented on #4604
Commonly?  Ha ha, that's a good one for a Monday morning.  This is planetary science: there are no "common" datums (unless you intentionally limit yourself to one planet, depending on the planet--but then that's not a general solution), and the unfortunate short answer is if we're going to support this, then we need to be able to support a mechanism for a user to describe a completely arbitrary da

[2021-08-23 17:08] jessemapel commented on #4604
There are some applications that take a surface model as input, slpmap is one example, and they use a different interface than the camera models and spiceinit use.

The camera models use the ShapeModel class, specifically DemShape for DEMs, to handle this stuff.

Things like slpmap just open up the cube and it's assumed that the values are radii.

[2021-08-23 17:27] dpmayerUSGS commented on #4604
I agree with everything @rbeyer said and I too would like to know more about the use case.

How does ASP's `mapproject` handle this issue? A user has created a high-precision DTM in ASP from a pair of LROC images and now they want to orthorectify the images onto the DTM. In ISIS, `camp2map` defaults to projecting `spiceinit`'d images onto a global shape model for the target body (whose pixel value

[2021-08-23 17:42] rbeyer commented on #4604
@dpmayerUSGS that is a good question.  I do not have the answer to that on the tip of my tongue, but @oleg-alexandrov might.

[2021-08-23 17:47] KrisBecker commented on #4604
The Mercury DEM ($ISISDATA/base/dems/MSGR_DEM_USG_EQ_I_V02_prep.cub) uses elevation values with a spherical reference radius (2439400.0 m) specified in the Base keyword and data is rendered as an Equirectangular map projected cube. The pixel type is two-byte signed integers which bins elevation in ~65532 unique elevation values. For this case where the the DEM has a pixel resolution of 665.2 <mete

[2021-08-23 17:58] oleg-alexandrov commented on #4604
In ASP, and likely in every geospatial tool, a DEM is stored as a a GeoTiff with each elevation being a 32-bit floating point number relative to a datum specified in the geoheader. ASP stores point clouds either as 32 bit float coordinates but relative to a (somewhat arbitrarily chosen) "representative nearby point", or using 64 bits relative to the planet center.

When mappoject is invoked, the 3

[2021-08-23 18:12] dpmayerUSGS commented on #4604
@oleg-alexandrov Thanks for explaining how ASP does things!

An analogous way to handle things in ISIS could be to use the A/B/C radius values in the mapping group as the parameters for the datum, but this would require an interface change to get programs like `spiceinit` to deviate from the default behavior of assuming pixels = radius values. There are also situations where the radii used to desc

[2021-08-23 18:16] jessemapel commented on #4604
@oleg-alexandrov 's comment makes me wonder if this has been handled by geotiffs and using something like GDAL to support geotiff DEMs could resolve this. We could support radius or sphere+elevation Cubes and then use GDAL to support other DEM types.

[2021-08-23 18:24] rvwagner commented on #4604
Adding Base/Multiplier support for 32-bit data would certainly solve the problem for my use case (lunar data, LROC NAC DEMs), though it would leave a bit of a gotcha for untrained users, as the most obvious way to turn a cube from elevation to radius (fx or algebra) wouldn't produce the best results, and the best way (editlab) is generally not a function most users should ever expect to touch.  Ma

[2021-08-23 18:28] dpmayerUSGS commented on #4604
@jessemapel It's not that it's been handled by GeoTiff _per se_, it's just that ASP is reading the projection info and _assuming_ that the SRS describing the horizontal projection _also_ describes a vertical datum that the pixel values are relative to.

If you wanted to make life *really* complicated, ISIS could try parsing compound SRSs in WKT2 format from any GDAL-supported file type ;-)

Either

[2021-08-23 18:34] oleg-alexandrov commented on #4604
I believe it is a rather standard thing that the the projection and datum info in the geoheader of a GeoTiff are what the DEM heights in that file are relative to. Now, sure the user can choose to misuse this, but that is their problem.

[2021-08-23 18:38] dpmayerUSGS commented on #4604
@oleg-alexandrov I don't know if it's the _standard_ thing, but it is certainly the _sensible_ thing.

[2021-08-23 18:42] jessemapel commented on #4604
@rvwagner demprep seems like a good place to add the ability to do the base/multiplier change. It would also be helpful for non-32 bit DEMs.

[2021-08-24 07:10] scsides opened #4606 "Combine existing import/export applications"
**Description**
Combine existing import/export apps into one import, and one export app

Place all comments regarding RFC 7 - [Redesign Import Export programs](https://github.com/USGS-Astrogeology/ISIS3/wiki/RFC-7---Redesign-Import-Export-programs) in this issue

**Example**
`isisimport from=tgocassis.img to=tgocassis.cub`
`isisexport from=tgocassis.cub to=tgocassisrdr`

[2021-08-24 12:25] jlaura opened #4607 "Import / Export Redesign"
**Description**

ISIS has individual programs for importing and exporting images. Some programs are very specific for example, lronac2isis will convert a PDS3 formatted LRO NAC image into an ISIS cube with all the required labels to instantiate the nac camer model, hirdrgen will convert a processed HiRISE ISIS cube to a PDS3 formatted image. There are approximately 70 specialized import/export pro

[2021-08-24 12:27] #4607 closed, assigned to nobody

[2021-08-24 14:28] jessemapel opened #4609 "LRO SCLK files are being cycled out of the data area too quickly"
**ISIS version(s) affected**: ISIS 4.1+

**Description**

We are only keeping the 10 newest LRO SCLKs around. When a new one is added, the oldest is removed. This is causing the ObservationPair fixture, likely some user's images, to fail to generate a camera model because they can't find the SCLK to load for clock conversions.

**How to reproduce**

All tests that use the ObservationPair fixture o

[2021-08-26 19:22] lwellerastro commented on #4420
After additional conversation, I am going to close this post.

It seems the combination of the Kaguya TC look angles (off nadir) and the "roughness" of the extreme poles in the available global dems is not a good match for the algorithms.  Other datasets I have successfully worked with tend to consist of a nadir pointing camera(s) likely resulting in an intersection area that is less varied allowi

[2021-08-26 19:22] #4420 closed, assigned to acpaquette, jessemapel

[2021-08-26 19:52] jessemapel commented on #4420
@lwellerastro Your explanation is spot on. I'll open a new enhancement request about allowing for multiple DEMs to help deal with situations like this one.

[2021-08-26 21:34] jessemapel opened #4611 "Using multiple shapemodels with an image"
**Description**

In many situations it would be helpful to use multiple shapemodels with a single image. A few examples are:

1. An image to covers the divide between equatorial and polar DEMs
2. An image that contains boulders or other surface features that have separate shapemodels than the "surface"
3. An image that contains part of the spacecraft such as a sensor or sampling arm
4. An image th

[2021-08-26 21:35] jessemapel commented on #4611
This is related to #4420 and a BIG thing. I don't think any single change will address this.

I'm interested in some possible solutions, possible issues to consider, and/or other use cases that we should consider.

[2021-08-30 20:33] victoronline commented on #4256
@jessemapel After speaking with our science team, I was able to verify that pr#[4214](https://github.com/USGS-Astrogeology/ISIS3/pull/4214) fixes this issue for NAC and WAC processing.

[2021-09-01 05:50] mengtingpan opened #4616 "install ISIS: solving environment forever!"
Hi

I'm installing ISIS 5.0.2 using anaconda according to the installation guide (https://github.com/USGS-Astrogeology/ISIS3#installation).

When I type: conda install -c usgs-astrogeology isis=5.0.2, it kept solving environment.

Some people said it is due to the low version of conda (my conda is 4.5.11). However, after I conda upgrade -n base -c defaults --override-channels conda, it said the en

[2021-09-01 06:31] mengtingpan commented on #4616
I tried on another machine, and the results are the same, kept solving environment.

[2021-09-01 13:58] jlaura commented on #4616
Hello @mengtingpan,

I would try: `mamba install -c usgs-astrogeology isis=5.0.2`.  [Mamba](https://github.com/mamba-org/mamba) has been significantly faster for me than Conda, solving when conda is stuck spinning.

Let us know how that goes!

[2021-09-02 01:18] #3645 closed, assigned to acpaquette

[2021-09-02 21:55] AustinSanders commented on #4592
I searched for file paths within ISIS, but I had to manually determine which were absolute and which were relative.  There was roughly 6000 strings that matched the regex, so I may have missed some.

There are some full paths specified in files like docker/ubuntu.dockerfile, but they don’t seem concerning because they are common paths like /opt/conda/etc/profile.d

There are quite a few templates

[2021-09-03 01:52] scsides opened #4617 "CLI display of -last command is incorrect"
**ISIS version(s) affected**: dev

**Description**

When using the command line and the -last option. The terminal output of the command shows the command from the -last, not the modified version.

$> cam2map FROM=test.cub TO=test_lev2 PIXRES=mpp RESOLUTION=160
$> cam2map -last res=50
cam2map FROM=ab102402_pho.cub TO=ab102402_pho_lev2 PIXRES=mpp RESOLUTION=160
$>

Line #3 (the output caused by -la

[2021-09-03 09:08] mengtingpan commented on #4616
Hi jlaura,

Thanks for your reply. I have made it right. Thanks for the recommandation of mamba. It is interesting!

[2021-09-03 15:35] jessemapel commented on #4616
We should probably change all of the installation instructions to use mamba.

[2021-09-03 15:56] #4616 closed, assigned to nobody

[2021-09-03 22:34] astrostu opened #4619 "MARCICAL Might Not be Calibrating Properly"
**ISIS version(s) affected**: 4.x+

**Description**
Regular pattern noise which should be removed if flats are properly applied is still present in MARCI images after running MARCICAL.

**How to reproduce**
After running MARCI2ISIS, then SPICEINIT, I run MARCICAL which runs without any announced errors.  However, examination of the output shows that some pattern noise which _is_ present in the fla

[2021-09-03 22:42] dpmayerUSGS opened #4620 "MARCI Variable Exposure Table "varexp.tab" Needs to be Updated"
**ISIS version(s) affected**: >= 3.4.9

**Description**
`marcical` references a file in the ISIS data area, "varexp.tab" which contains variable exposure times of MARCI observations. This file is updated in the PDS with each (quarterly) MARCI data release, but there is as of yet no automated process of updating the file in the ISIS data area with the latest one from the PDS.

The copy of "varexp.t

[2021-09-04 03:25] astrostu commented on #4619
I've spent the evening creating a custom post-flat flat code to give you an idea of the residuals.  While there are 12 different flats needed, I'm just attaching two: the UV-1 band and the violet band.  Please note that that some of the signal here towards the edges is from Mars' limb, so ignore that curved brightening on both sides, and some of it is from the photometric effects of the wide viewi

[2021-09-04 13:45] jlaura commented on #4592
@AustinSanders :+1: Looks good. Question for the rest of the dev team - why are these paths in here and do they need to be maintained for any reason?

[2021-09-05 15:27] astrostu opened #4621 "MARCI UV Pointing Bands are Misaligned"
**ISIS version(s) affected**: 4.x+

**Description**
After map-projecting MARCI UV bands 1 and 2, and clipping to a specific latitude/longitude range, there are offsets between the images in latitude.

**How to reproduce**
On a UV MARCI image where you can actually see a feature, run MARCI2ISIS, SPICEINIT, MARCICAL, CAM2MAP and make sure you set a cropped/trimmed range for CAM2MAP.  Then, look at t

[2021-09-06 21:11] michaelaye commented on #4287
I still (again?) have the defunct convert in 5.0.2. As usual it clashes with ImageMagick's convert in my PATHs.

[2021-09-07 16:01] jlaura commented on #4287
Quoting @jessemapel's previous reply.

@michaelaye If this is a package that ISIS is requiring, we should have an issue here. If this is a dependency that one of our dependencies is installing, please open an issue on the appropriate feedstock.

[2021-09-07 16:13] jessemapel commented on #4287
Embree is a dependency of ISIS. The move to conda-forge Embree will fix this. For right now, the work around is just delete the `convert` in the conda bin.

[2021-09-07 16:23] #4287 closed, assigned to nobody

[2021-09-07 17:04] AustinSanders opened #4623 "CaSSIS kernels out of date"
**ISIS version(s) affected**: all

**Description**
The CaSSIS team has reported that the available kernel set is out of date.  The team has stated that the CKs are the primary concern, but we should check other kernel types to ensure that they are up to date.

**How to reproduce**
This problem can be observed by investigating the kernel area

**Possible Solution**
Check the kernel update script

*

[2021-09-07 18:22] michaelaye commented on #4287
I was referring to this statement that was presumably fixing this issue.

[2021-09-07 18:27] jessemapel commented on #4287
@michaelaye Sorry, tagged it over there now.

[2021-09-09 02:22] AustinSanders commented on #4592
I looked for instances of "password" "passwd" "pwd" "pswd" and "pswrd."  The only things that I found were instances of a password set to "public," which doesn't appear to be an actual password.  I also looked through all the "likely" spots that I could think of (things like config files) and wasn't able to find any references to passwords.

[2021-09-09 02:28] AustinSanders commented on #4592
Regarding PII, the low hanging fruit is the zenodo.json file, which lists personal information.  https://www.dol.gov/general/ppii provides a list of items that qualify as PII, and a lot of the things in zenodo.json are technically PII.  It makes sense to have a list of developers along with their email addresses and orcids, so I'm not sure how important this is.

[2021-09-09 02:34] rbeyer commented on #4592
The contents of the `zenodo.json` file are no different than the information available via an author list for papers or abstracts.  I do not think that authorship information constitutes PII that needs to be protected under your organization's rules.  Otherwise your organization would be regularly violating it every time that someone attended a conference or submitted a paper.

[2021-09-09 03:16] AustinSanders commented on #4592
I'll do my best to classify each of the file paths as "trivially removable," "replaceable," "significant," or "documentation."

Trivially Removable  indicates that the filepath can be removed without replacement, and may be due to its existence solely in commented out code.  Other instances exist in the cropping notebooks in which full paths to data were specified to test the notebook, but the pat

[2021-09-09 14:46] AndrewAnnex opened #4630 "libarmadillo.so.9 missing on CI builds, what pin to use?"
**ISIS version(s) affected**: 4.4.0

**Description**
I have ci tests that are failing when using ISIS due to a missing dynamic library, libarmadillo.so.9, similar to #4165
It looks like armadillo 10.6.2 was released a few weeks ago and my CI is installing that version instead of an older version 9, however I don't know which version 9 minor/patch version to pin to, to fix my ci job.

**How to repr

[2021-09-09 19:08] jessemapel commented on #4630
We already added a pin to armadillo for 4.4+ on Mac and 5.0+ on Linux that restricts it to armadillo 9. The Linux 4.4.0 build looks like the last one with out the new pin. So, you can either update to 5.0 or add an armadillo pin, here's the 5.0 pin for example `  - armadillo >=9.900,<10.0a0`

[2021-09-09 19:08] jessemapel commented on #4630
Labeling this as a question because it's a known issue with an old version that is not supported and has been fixed in more recent versions.

[2021-09-09 19:09] #4165 closed, assigned to acpaquette

[2021-09-09 19:09] jessemapel commented on #4630
Also related to #4103

[2021-09-09 21:47] jessemapel commented on #4592
The files that point into old ASC employee home and work directories are likely defunct. There's a good chance that the files that use them don't even work right now.

The ProcessImportPds unit test is in a history comment. We can just change the history comment to just say that the files were move and scrub the paths.

The PvlKeyword unit test just uses a dummy file path. As far as I can tell, it

[2021-09-10 19:32] AsterAphelion opened #4633 "Mamba encountering problem while solving ISIS dependencies"
**ISIS version(s) affected**: 6.0.0

**Description**
Mamba encounters the following problem while solving for installation dependencies when setting up a new ISIS environment in conda.

**How to reproduce**
This issue occurs when following the setup instructions on the project page.

[2021-09-10 19:41] AndrewAnnex commented on #4630
okay closing the issue

[2021-09-10 19:41] #4630 closed, assigned to nobody

[2021-09-10 19:57] acpaquette commented on #3566
Regarding building on CentOS, we are running into issues with maintaining the ability to both update ISIS's dependency tree and building on CentOS in general. The main culprits are packages that depend on CentOS specific compiler flags and packages that are being built with newer versions of C++, namely packages like PCL that require C++14 to be linked against.

Some packages that we are maintaini

[2021-09-11 07:19] astrostu opened #4635 "CAM2MAP Only Map-Projects First Layer in a CUB for Some Cameras (at least MARCI)"
**ISIS version(s) affected**: 4.x.x (and later?)

**Description**
Running CAM2MAP on a cube file with multiple bands will output the same number of bands map-projected, but only the first will have data.

**How to reproduce**
Process an image, and run PHOCUBE on it.  Map-project the PHOCUBE file and take a look at it, and the different bands, in QVIEW.  You should be able to see what I mean.

**Po

[2021-09-11 12:26] jlaura commented on #3566
I am going to advocate that the current builders (ASC employees) drop support for CentOS because of the problems with supporting the aforementioned dependencies. The default GCC compiler is quite old on those systems.

From what I can see from some googling, CentOS8 has GCC8.x installed, so another option might be to have folks wanting to build on CentOS upgrade. I realize 7.x is not EOL until 202

[2021-09-13 12:30] jlaura commented on #4633
@AsterAphelion What OS/version are you installing onto? What does your .condarc look like (specifically what channels and their order)?

[2021-09-13 17:00] lwellerastro commented on #4635
@astrostu, I just tried this for a Galileo SSI image and I don't experience the same problem (we created phocube backplanes for the Europa updated products, but projected first then ran phocube, so I had data handy to compare to).

My steps:
phocube from=/work/projects/EuropaBasemap/lweller/GLL_VGR_Network/Final_Updated_Lev1/s0484884313.lev1.cub to=s0484884313.lev1.pho.cub dn=false phase=true emis

[2021-09-13 19:52] astrostu commented on #4633
Same problem, macOS 10.15.7.  I don't know how to access the .condarc you mention, but the channels order is correct.

I've tried various incarnations of the above.  Trying to just install "isis" gives me version 3.6.something.  isis=5.0.0, 5.0.1, 5.0.2, or 6.0 always gives me incompatibilities similar to the above.  Tried custom installing version 1.39 of the libnghttp but still got the requireme

[2021-09-13 20:14] AsterAphelion commented on #4633
I am running Linux Mint 20.2. I initially attempted to install ISIS 6.0.0, but the same error occurred with all version 5 releases as well.

My .condarc file for the isis environment is the following:

channels:
  - usgs-astrogeology
  - conda-forge
  - defaults

EDIT: Also forgot to add that when mamba did not work, I was able to successfully install 6.0.0 using the conda solver.

[2021-09-13 21:20] #4567 closed, assigned to AustinSanders

[2021-09-13 22:04] AustinSanders opened #4636 "Automated cherrypicking fails if there are merge conflicts"
**ISIS version(s) affected**: 6+

**Description**
The automated cherry picking github action fails if there are merge conflicts.

**How to reproduce**
Merge a bugfix PR that has merge conflicts with latest release

**Possible Solution**

**Additional context**

[2021-09-14 03:03] astrostu commented on #4635
Hmmmmm... I tested this on MARCI again on a different computer and it failed to write out all the data again (giving no errors).  The only other body's data I had readily available is Charon, so I just did a quick test on that, and it worked fine.  That'd be weird that it doesn't work for one instrument but does for others.  I just tried changing the warpalgorithm to see if that changed things.  I

[2021-09-14 15:13] astrostu commented on #4633
I got ISIS 6.0.0 to solve via conda overnight and installed it.  Can't run it, says it can't find libxerces-c-3.1.dylib, I'm making a new issue on that.  Conda is still trying to solve 5.0.2 ... it's been about 20 hours.

[2021-09-14 15:16] astrostu opened #4637 "Can't Install on Mac: libxerces-c-3.1.dylib Problem"
**ISIS version(s) affected**: 5.0.2, 6.0.0

**Description**
Installed ISIS 6.0.0 via the conda solver (mamba not working, that's a separate issue on here), and it won't run.  This is on a Mac running macOS 10.15.7, Intel CPU.
[code]

**How to reproduce**
I created a new conda environment (with Python 3.6), loaded the channels, installed, then tried to run anything and got the above error.  I'll no

[2021-09-14 16:11] KrisBecker commented on #3566
Well, that's unfortunate.

UA just _upgraded_ its [HPC cluster ](https://public.confluence.arizona.edu/display/UAHPC/HPC+Documentation)to CentOS 7. We have used this cluster extensively and planned to continue to use it.

However, there are several compiler options supported as seen here:

![Screen Shot 2021-09-14 at 9 01 42 AM](https://user-images.githubusercontent.com/22945164/133293775-d98d9a9c

[2021-09-14 16:58] lwellerastro commented on #4635
I also went through the motions for a Kaguya TC image thinking maybe it was framer vs line scan issue, but Kaguya works as well.  Looks like it's boiled down to Marci a bit.

[2021-09-14 17:14] astrostu commented on #4635
@lwellerastro Could you try it with THEMIS?  That's also a push-frame, as is LROC-WAC.  I think those two, plus MARCI, are the only three push-frame cameras in planetary science?  At least that are currently flying.

[2021-09-14 17:28] jlaura commented on #3566
@KrisBecker As far as I know the built code should run fine on there. I'm using a standard ISIS release on a CentOS7 system. I am not building ISIS on a CentOS7 system though.

[2021-09-14 18:09] jessemapel commented on #3566
We would be dropping GCC4 support for compiling but you can run it on a system that uses gcc4 without issue.

@KrisBecker from your list, any of the gcc 5.4+ compilers should work as they are past the C++11 ABI change.

[2021-09-14 18:15] lwellerastro commented on #4635
@astrostu, I was testing on datasets I am currently working with and Themis VIS was not one of them (Themis IR is line scan).  However, I keep things and I had a Themis VIS test file for a different bug from long ago and re-ingested that data to run a test (under isis5.0.2).

I don't have much experience with Themis VIS so maybe that's why I encountered problems?  I ran thm2isis then spiceinit on

[2021-09-14 18:23] KrisBecker commented on #3566
Ok, that's all good. Thinking out loud here, but I don't think using a newer compiler on CentOS 7 will help as I suspect this creates a real problem with Anaconda package dependencies for building ISIS.

We will eventually run some tests to see if we can find a working version that runs on the HPC.

Thanks...

[2021-09-14 20:27] astrostu commented on #4635
@lwellerastro Okay, thanks for looking.  Yes, push-broom cameras are weird.  Maybe this will provide the programmers with enough info?  Meanwhile, I'm using the work-around I noted: PHOCUBE, EXPLODE, CAM2MAP, rather than PHOCUBE, CAM2MAP, EXPLODE.

[2021-09-14 20:55] jlaura commented on #3566
@KrisBecker Just to close the loop. And maybe this issue? I am running ISIS4.x, 5.x, and 6.0 on a CentOS 7 system currently. `uname -r` returns `3.10.0-957.12.2.el7.x86_64` which I am confident is a CentOS 7. So no running issues as the ISIS dependencies are all encapsulated (except some low level graphics drivers) inside of the anaconda environment.

As @jessemapel noted, I can't build ISIS becau

[2021-09-15 13:08] jlaura commented on #3595
Just cleaning some old issues and checking ones with the inactive tag. Looks like this can be closed for now as @kaitlyndlee was not able to reproduce. We can reopen as needed.

[2021-09-15 13:08] #3595 closed, assigned to krlberry, kaitlyndlee

[2021-09-15 13:09] jlaura commented on #3352
Prog26 is not longer a machine we use, dependency work is ongoing, and updates to the QT dependency on Mac have already been merged.

[2021-09-15 13:09] #3352 closed, assigned to nobody

[2021-09-15 16:40] KrisBecker commented on #3566
I think this issue can be closed.

Thanks for your suggestions/help.

[2021-09-15 17:49] oleg-alexandrov opened #4638 "Running ISIS with Dawn data"
**ISIS version(s) affected**: 5.0.1

**Description**

I cannot spiceinit a Dawn mission cub file

**How to reproduce**

First I fetched the latest ISIS data as:

 rsync -azv --delete --partial isisdist.astrogeology.usgs.gov::isisdata/data/dawn ~/projects/isis3data

then set up the ISISDATA value.

I verified that the desired kernels are where they should be (in this case, dawn/kernels/ik/dawn_fc_v

[2021-09-15 19:04] #3566 closed, assigned to nobody

[2021-09-15 21:08] AustinSanders commented on #4623
This issue was resolved by moving 2 corrupt kernels to a "corrupt_files" directory within the tgo kernels area.  These files failed in both ISIS and NAIF utilities.  After moving the kernels to a new location, we were able to create updated kerneldb files.

[2021-09-15 21:08] #4623 closed, assigned to nobody

[2021-09-15 21:10] #4442 closed, assigned to AustinSanders

[2021-09-15 21:14] AustinSanders commented on #3934
Should this process be the same as the deprecation or edrget, or is there a distinction that would require us to draft an RFC?

[2021-09-15 21:25] lwellerastro commented on #4606
- Users will be able to modify templates without recompiling ISIS

Will every camera have a template covering all of the current keywords currently translated?  As you know missions do not tend to use the same keywords for identical information and there are always those mission specific keywords.

Will templates be available under the data area to point to and modify if there are keywords of inte

[2021-09-15 21:42] foobarbecue commented on #4633
I had this issue too. I'm on WSL2, latest miniconda, all installed fresh today. When I switched from using mamba to using conda, installation started fine (although it took a few minutes to solve). It's installing now so I'll post once I get a chance to verify that it works.

[2021-09-15 21:56] foobarbecue commented on #4633
Installed, but nothing runs. All isis commands fail with:
`lronac2isis: error while loading shared libraries: libssh2.so.1: cannot open shared object file: No such file or directory`

[2021-09-15 22:07] foobarbecue commented on #4633
I did `mamba install libssh2` and now it wants `libavresample`. Seems like recent isis packages do not fully specify their dependancies.

[2021-09-15 22:18] foobarbecue commented on #4633
Now it's looking for libarmadillo.so.9 . I guess it's this problem: https://github.com/USGS-Astrogeology/ISIS3/issues/4108

[2021-09-15 22:25] astrostu commented on #4633
Yes ... it seems like the move to recommend mamba might've been slightly premature.  I hope the team is able to resolve this, I'm still trying to solve the environment for 5.0.2 with conda ...

[2021-09-15 22:43] foobarbecue commented on #4633
Hm, well I started from a fresh conda environment, following the instructions except for the mamba part, and was able to install isis 6 in about 10 minutes and everything seems to be working.

[2021-09-16 02:29] jlaura commented on #4633
@foobarbecue Glad to hear that it is working and thanks for all the contributors for posting through as they work on the installation. Some upcoming changes to use more conda-forge packages should hopefully improve the installation experience.

One potential issue is that folks have cached version of libraries locally that are causing issues. Starting from a fresh environment [after clearing packa

[2021-09-16 02:32] jlaura commented on #4637
This could be related to packages already in your env that need to be cleaned.

I will also note that we do not have access to 10.15 machines and therefore do not support that OS. Should it matter for conda? Not that I am aware of. Are the ASC ISIS developers able to test and assert that assumption at this time? No.

Is this reproducible on a 10.13 or 10.14 OS?

[2021-09-16 03:26] astrostu commented on #4637
@jlaura I have no idea if it's replicable on earlier OSs, I only have machines running 10.15 and 11.6 [for those reading this, Apple's yearly releases were 10.X since they redid their OS to be Unix-based, then in 2020, the #.X updates were their minor/security updates so macOS 11.6 is still the variation on their 2020 major OS update].

I will note that I finally got conda to solve for 5.0.2, and

[2021-09-16 03:31] astrostu commented on #4633
@jlaura "conda clean" ... what?  I run that and it says it needs more arguments.  To be clear, is this to be run from the base or from a new environment (and if the latter, would creating a new environment accomplish the same thing).

I'll update my note that I got 5.0.2 to finally solve, but I got my same library issue noted above, and posted the update in that issue.

[2021-09-16 16:14] jlaura commented on #4637
When you say a clean environment it is ambiguous if you have other environments in your conda area. The solvers can solve using local packages in other environments. Checkout `conda clean` and let us know if a clean fixes your issue.

Also, this is not an appropriate place to provide editorial opinions about organizational decisions regarding our computer update cadence. If that is a concern for y

[2021-09-16 16:16] jlaura commented on #4633
[conda clean docs](https://docs.conda.io/projects/conda/en/latest/commands/clean.html) describe the clean command (as previously linked).

[2021-09-16 16:21] astrostu commented on #4633
Yes, I've read that, but I don't know what arguments you are suggesting to try to make this work.  Pretend I know nothing about conda other than copy-pasting commands here and on the ISIS install page ... except it's not a pretend, it's a true.  Do you want me to run conda clean -a to remove all index cache, lock files, etc?  Just -i to remove the index cache?  -p to remove unused packages?  etc.

[2021-09-16 21:35] lwellerastro opened #4639 "Findfeatures - "Can't invert empty matrix" Errors"
**ISIS version(s) affected**: 5.0.2

**Description**
When running on a list of overlapping images, if findfeatures has a catastrophic failure with one image in the list, the entire process fails and no network is produced.  After running findfeatures on 5800+ images I have 25 images that failed with the same error:

    Program = findfeatures
    Class   = "PROGRAMMER ERROR"
    Code    = 3
    Me

[2021-09-16 22:19] KrisBecker commented on #4639
Hi @lwellerastro...

I am having the similar issues and am working on a fix. This particular error doesn't have the same signature/behavior I have seen but is probably related to #556.

I assume you are using the FASTGEOM option? If not, then there is likely some other explanation than what I am about to describe.

The problem occurs when constructing a FastGeom transformation matrix between the g

[2021-09-16 22:27] lwellerastro commented on #4639
Thanks for the feedback @KrisBecker.  I'll edit the main post to include my command line for all to see.  As you correctly guessed, I am setting fastgeom=true.  I will try some your suggestions and see if anything changes for a couple of my failures (some of which you have suggested via other posts... sorry this sort of trouble shooting hasn't sunk in yet).

[2021-09-16 23:00] lwellerastro commented on #4639
@KrisBecker, thanks again for the suggestions.  Running a set of problem images through findfeatures setting fastgeom=false (sift/sift) results in No control points found.  However when I run setting fastgeom=true fastgeompoints=50 I get a ton of really good points.

I will rerun my failures using that combo and see how that goes, though I don't actually know what fastgeompoints ought to be, so I'

[2021-09-17 14:24] KrisBecker commented on #4639
Using 50 points should be OK. This parameter is essentially used to construct a grid of potential lat/lon mappings between the images. More may be better in most cases but there is a point of diminishing returns when you get a lot of points.

Note these points are used to construct a homography matrix that is applied as a 2D linear perspective warp of trainer images in OpenCV. You can see the impl

[2021-09-17 17:16] lwellerastro commented on #4639
Thanks much @KrisBecker.  I ran all 25 failures I had through findfeatures using 50 points and they all had a network generated, so this work around really helped. I think I'll have a better chance of remembering this option in the future since I feel I will need to use it quite a bit with the current dataset.

I'm going to see if I can add a test to my cluster submission script for default fastge

[2021-09-17 18:02] AndrewAnnex commented on #4633
I am also seeing this issue in my CI tests for asap https://github.com/AndrewAnnex/asap_stereo/runs/3633489897, running `ldd 'which qview'` (with \` instead of ') shows that libavresample is missing, despite a using a yaml with only isis>=6.0.0 specified with the appropriate channels.

For what it's worth, the SAT solver in Mamba is a very robust program, the fact that the conda solver makes a wor

[2021-09-17 18:36] audiefen opened #4640 "isis.astrogeology.usgs.gov not working"
Looks like the cert has expired. Tried Chrome and Safari.

NET::ERR_CERT_DATE_INVALID
Subject: isis.astrogeology.usgs.gov

Issuer: DigiCert SHA2 High Assurance Server CA

Expires on: Sep 16, 2021

Current date: Sep 17, 2021

[2021-09-17 19:56] KrisBecker commented on #4639
Absolutely!

This is great info. I will be testing this option on some datasets (i.e., comets, asteroids) I have had matching problems with as well. Here are some additional suggestions/settings I have found to be effective in increasing the efficacy of these types of networks:

1. Increase of RATIO (>= 0.9) will increase the number of identified features, but may increase false positives, which i

[2021-09-17 20:29] lwellerastro commented on #4639
Ooh, so many goodies @KrisBecker !  I'll have to dig into some of these and see how they can help my workflow.

The one thing I have decided to make standard is to run cnetcombinept and pointreg immediately on each and every output findfeatures network to start merging/culling the sometimes overly redundant points.  If the data are awesome (fairly good spice and semi-straightforward to register),

[2021-09-17 20:45] AustinSanders commented on #4640
@audiefen Thanks for the heads up -- we've notified IT, and it looks like this is in the process of being resolved.

[2021-09-17 20:49] audiefen commented on #4640
Thanks @AustinSanders!

[2021-09-21 09:22] ryodohemmi commented on #4633
I also encountered the same error when installing ISIS 5.0.1 via mamba.
My simple workaround is to create ISIS's environment stating python=3.6.6 (or >=3.6.0,<3.6.7), rather than python=3.6 (which automatically installs python 3.6.13 with openssl-1.1.1l).
`conda create -n isis501 python=3.6.6`
This is not tested for ISIS 6.0.0 or above, but may help this issue temporarily.

[2021-09-21 16:08] scsides commented on #4606
Because of the reasons you listed we expect each camera to have its own template. Some may be able to be combined, but we plan to do that only if they are identical or can be easily tweaked using the template capabilities.

All of the templates will be distributed with ISIS. The current thinking is that if someone wants to use their own or a modified version of the one in ISIS, all they would have

[2021-09-21 19:56] AustinSanders commented on #4640
@dsvolkov That's correct, and we apologize for the inconvenience.  We're still in the process of resolving the issue, but the problem exists outside the control of our immediate department.

I will update this issue as more information is made available.

[2021-09-21 20:08] jlaura commented on #4640
The site is back up now. Thanks for the heads up. We should see a < 24 hour turn around should we have another issue.

[2021-09-21 20:08] #4640 closed, assigned to nobody

[2021-09-22 17:21] audiefen commented on #4640
I think something is still not quite right. Several people here at HiRISE still cannot connect using Chrome, Safari and Firefox. I was able to connect (Chrome and Safari) yesterday to the site and still can from the computer I was using yesterday. I can inspect the new certificate and the expiration is Thursday, September 22, 2022. I tried connecting from a different system this morning (using Chr

[2021-09-22 19:44] steo85it commented on #4633
This "way around" also works with isis@6.0.0 - thanks for suggesting it!

[2021-09-23 17:47] #3313 closed, assigned to nobody

[2021-09-24 12:36] jlaura commented on #4640
@audiefen I looked back with my IT team yesterday and they rechecked whatever it is that they are rechecking. Can you confirm that the site is back and working? It is for me, and the site [https://downforeveryoneorjustme.com/isis.astrogeology.usgs.gov](https://downforeveryoneorjustme.com/isis.astrogeology.usgs.gov) is showing that the site is working, but I also don't want to assume it is fixed be

[2021-09-24 15:41] audiefen commented on #4640
@jlaura It's working for me too now. I'm checking with others at HiRISE just to make sure. I'll let you know if I hear back in the negative. Thanks!

[2021-09-29 05:39] michaelaye opened #4644 "Mamba should ONLY be installed into base"
**ISIS version(s) affected**: x.y.z

all that recommend mamba installation

**Description**
`mamba` only should be installed into the base environment, see https://github.com/mamba-org/mamba/issues/656 for explanation.

**Possible Solution**
Update install instructions to:

[code]

[2021-09-30 02:22] #4644 closed, assigned to nobody

[2021-09-30 19:45] AsterAphelion commented on #4621
I suspect the issue here is SPICE kernel accuracy. In the visible bands, the slight offset you see at high emission angles is created by small inaccuracies in the MRO pointing information contained within the SPICE kernel. This inaccuracy causes the difference between the predicted and actual pixel map coordinates to vary in a systematic way across the filter set.

To relate this to your issue and

[2021-09-30 22:16] lwellerastro opened #4646 "Maptrim fails on global mosaic for mode=both"
**ISIS version(s) affected**: 5.0.2

**Description**
When running on a mosaic using mode=both (trim and crop), I get the following error messages:
[code]
Note that the temporary file produced by this run (TEMPORARYcroppedJ76294.cub) does indeed have the min/max longitude's  swapped. The input mosaic mapping information is fine.  I am maintaining the longitudes for my input mosaic and trimming away

[2021-09-30 22:52] rvwagner opened #4647 "Spiceinit history entry missing custom SPICE file parameters"
**ISIS version(s) affected**: 5.0.2

**Description**
`spiceinit` does not save all input parameters in cube history.  It is missing the paths to manually-defined SPICE files (CK=, SPK=, IAK=, EXTRA=, etc.).  This makes it impossible to determine from the cube history whether a file was processed using non-standard SPICE information, e.g. post-jigsaw CKs.

[2021-10-01 17:18] lwellerastro commented on #4647
I can't quite reproduce this problem, but I do not have a scenario to test some of the parameters mentioned above.

Under isis5.0.2 I ran the following:
`spiceinit from=s0484889825.lev0.cub attach=true ck=/archive/projects/europa/Kernels/Galileo/galssi_eur_usgs2020.bc pck=/archive/projects/europa/Kernels/Galileo/pck00010_msgr_v23_europa2020.tpc`

I confirmed the full paths are contained in the ima

[2021-10-01 19:26] rvwagner commented on #4647
Huh.  I retract my bug report.  I just tested it again, and I am getting an IAK history entry on my standard LROC processing that uses an IAK file- I must have overlooked it, since it's a short path, and I was expecting there to be additional empty lines for CK, etc.

Sorry about the false alarm.

[2021-10-01 19:26] #4647 closed, assigned to nobody

[2021-10-06 00:55] KrisBecker opened #4649 "cnetcheck not excluding ignored measures resulting in false positives"
**ISIS version(s) affected**: All

**Description**
cnetcheck is not properly excluding ignored measures when, at a minimum, checking for invalid latitude/longitudes and islands. These situations occur rather frequently when using feature matching, which does find points on limbs.

The net effect of this bug is reports of bad points and islands than don't actually exist.

Below are processing steps

[2021-10-06 03:26] astrostu commented on #4621
Are you sure that's SPICE?  Or would that be the camera model?  Or is that one and the same thing?

[2021-10-06 06:07] KrisBecker commented on #4649
**Alternative: How to reproduce**

The traditional alternative to cnetcombinept is cnetedit. Here is the result using this approach:

[code]

[2021-10-06 13:38] Faom13 opened #4650 "I am getting permission denied error in bash shell while using hi2isis command in isis3 build version."
I am using ISIS3 in ubuntu 14.10 which is running on VM Ware Workstation 14 pro (14.1.3 build-9474260)
While running hi2isis command in bash shell, permission denied error is prompted.
I am getting no error while using mroctx2isis command, but for most of the commands, I am getting the same error.
Please have a look at the attached snapshot.
![Error_hi2isis](https://user-images.githubusercontent.c

[2021-10-07 16:06] astrostu commented on #4025
I'll put a _ping_ on this as I still think it's a good idea.  Looks like it was added to the 5.0.1 milestone, but I don't think it made it in, unless the documentation just was never updated?

[2021-10-07 17:06] lwellerastro commented on #4025
@astrostu I haven't seen this post come up in any of the support sprints so it has not been worked on.  You would have to advocate for it getting worked on when those sprints occur.  There's usually a post on astrodiscuss for when prioritization meetings are going to be held.

As the author of the post, I think you should be able to remove the inactive label up above, otherwise it will just stick

[2021-10-07 17:48] jlaura commented on #4650
@Faom13 What version of ISIS are you running? It looks like you are running a pre-conda version of ISIS since you are using `export ISISROOT` instead of `conda activate isis`.

Also, how did you install isis? Using conda it should be installed into a user location that does not need any elevated permissions.

[2021-10-07 17:57] jlaura opened #4651 "KaguyaTC Footprint Generation Failures"
**ISIS version(s) affected**: 6.0.0

**Description**

When attempting to generate footprints for KaguyaTC data, I am seeing ~117 errors in all of the monoscopic data. These data are not polar and spiceinit correctly.

Error output is:

[code]

**How to reproduce**
[code]

Changing linc/sinc to 5 (the only other value I tested does not alter the output.

**Possible Solution**
No suggestions.

**Add

[2021-10-08 16:23] Faom13 commented on #4650
I am using ISIS version 3. and i used legacy method for building the ISIS Environment on LINUX. so, yes it is a pre-conda version.

[2021-10-08 17:35] jlaura commented on #4650
@Faom13 - I would strongly advocate that you install using the supported installation method, using conda, as described in the README.

If that does not work for some reason, my other suggestion is to check that you have not installed using `su` or as a privileged account. I would check the ownership of the executable and the data areas as this appears to be permissions related. Unfortunately, it

[2021-10-08 20:33] lwellerastro commented on #4651
@jlaura, I have successfully processed 19 of the images in your failure list (morning data) through footprintinit and caminfo.  I have found in the past that letting caminfo calculate footprints might lead to failure (for a variety of data), so clearly there is an issue here.  The tendency of past projects has been to let footprintinit calculate the footprints and let caminfo uselabel=true.  I hav

[2021-10-09 20:25] evindunn opened #4652 "cam2map error message contains extra quotes"
**ISIS version(s) affected**: 6.0.0

**Description**
The Message block of the error PVL from cam2map contains quotes around "Environment and Preference Setup", which conflict with the quotes around Message as a whole. As a result `errors` is no longer able to parse the PVL file.

[code]

**How to reproduce**
[code]

**Possible Solution**
If I manually edit print.prt and change the `[Object=cam2map

[2021-10-13 04:13] steo85it commented on #4397
I got stuck at the same point: an update on this on the wiki (or even a link on this open issue) would be greatly appreciated. In alternative, a line about how NOT to include tests in the build+install process would also work for me. Thanks!

[2021-10-13 20:51] jessemapel commented on #4397
@jlaura Is working to update the docs for how to do this. @steo85it To not build the tests add `-DBUILD_TESTS=OFF` to your cmake command.

[2021-10-13 21:22] jlaura commented on #4397
@Kelvinrr Do you want to post the instructions to the wiki and/or README? All the release requirements are done on my side.

[2021-10-14 19:12] jessemapel opened #4653 "RFC8 ISIS Long Term Support - Discussion"
This issue is for discussion of [RFC8](https://github.com/USGS-Astrogeology/ISIS3/wiki/RFC8:-ISIS-LTS) proposing the addition of long term support to some ISIS releases.

[2021-10-14 19:15] jessemapel commented on #4653
![ISIS_LTS drawio](https://user-images.githubusercontent.com/22942817/137381387-1c1591eb-296a-41f1-99a7-57e164b4c5b5.png)

[2021-10-14 19:17] jessemapel commented on #4653
The original request for user stories about this can be found here:

https://github.com/USGS-Astrogeology/ISIS_TC/issues/124

[2021-10-14 23:16] lwellerastro opened #4655 "Jigsaw - Residual Percentiles have changed"
**ISIS version(s) affected**: 6.0.0

**Description**
The Residual Percentiles and Residual Box Plot in the bundleout.txt file has dramatically changed from the last version of isis.

**How to reproduce**
Compare all output from isis5.0.2 jigsaw to all output from isis6.0.0.  I don't think the type of solution matters as I saw this while solving for camera accelerations via Kaguya TC, but tested on

[2021-10-14 23:30] steo85it commented on #4397
@jlaura while you are at it, it could be worth mentioning how to set the install dir to, e.g., `ISIS3/install` (for consistency with the rest of the tutorial where that folder is created and left empty). Right now, excutables and libraries would just be available in build/ and in `$CONDA_PREFIX`. Adding `-DCMAKE_INSTALL_PREFIX=${ISISROOT}/install` seems to work.
Just a thought ;)

[2021-10-15 14:47] jessemapel commented on #4655
This appears to be coming from how we had to abstract out some of the CSM vs ISIS image stuff. For ISIS images we weight everything based on the pixel size but we can't do that for CSM so we just weight them all 1.

For whomever works this, it looks like IsisBundleObservation::computeObservationValue is not properly backing out the division by 1.4. Here's the old logic for [this part](https://gith

[2021-10-15 18:47] KrisBecker opened #4656 "Build Failure on MacOSX 10.15 - PCL"
**ISIS version(s) affected**: 6.0.0
I am unable to build ISIS on a MacOSX 10.15.3 due to an apparent problem with the PCL package. This one appears to be the same problem mentioned in #4469 where an include file in the PCL package is producing a compile error.

Here is my current dev environment:

[code]

**Description**
Partway into the build, this error is generated when compiling the Embree uni

[2021-10-18 05:23] KrisBecker commented on #4656
It appears this issue is caused by the hard pin on boost=1.68.0 in the ISIS [environment.ym](https://github.com/USGS-Astrogeology/ISIS3/blob/dev/environment.yml)l. Boost is also a dependency of PCL. USGS-Astrogeology has a version of the PCL for the Mac at [pcl=1.8.1-1](https://anaconda.org/usgs-astrogeology/pcl/files). Here is its [dependency list for pcl=1.8.1-1](https://anaconda.org/usgs-astrog

[2021-10-18 06:31] KrisBecker commented on #4656
I did attempt to build with boost unpinned. Conda built  the environment rather easily, installing the lower version of boost=1.67.0 and USGS version of pcl=1.8.1-1. That resulted in the following compilation error:
[code]

[2021-10-18 18:11] jessemapel commented on #4656
Upgrading PCL is a part of #4634 which finishing will be a high priority for the upcoming support work. In the meantime, you will need to manually patch your PCL install. This is the change you want:

https://github.com/PointCloudLibrary/pcl/pull/3237

Attached is a tarball with both a patch file and a copy of the patched 1.9.1 header.

[pcl_conv_fix.tar.gz](https://github.com/USGS-Astrogeology/IS

[2021-10-20 16:48] jessemapel commented on #4001
This is still something we need to do to improve the usability of Ceres datasets.

[2021-10-20 23:07] KrisBecker commented on #4656
Unfortunately, neither fix worked.

The file convolution.h in your tarball is no different from the installed version and results in the same error. The patch produces a different convolution.h but the error is also exactly the same.

This shows the differences in convolution.h after the patch with the copy contained in the tarball, so it appears to have taken:
[code]

Here is the full error after

[2021-10-21 17:17] KrisBecker commented on #4656
It looks like this particular [commit](https://github.com/PointCloudLibrary/pcl/commit/c4d0e4b5889cb9085fd1c692e28f13af688febc7) is the one that will resolve these compilation problems. If you add a [.patch](https://github.com/PointCloudLibrary/pcl/commit/c4d0e4b5889cb9085fd1c692e28f13af688febc7.patch) to the end of the commit SHA-1 hash url, you can get a git patch sequence and update the files i

[2021-10-21 18:03] AustinSanders commented on #4656
@KrisBecker We have an upcoming support sprint set to begin 11/01/21.  Although we haven't had our prioritization meeting yet, discussions have indicated that this set of issues is a high priority both inside and outside the organization, so it's very likely that this will be finished as part of this sprint.

[2021-10-21 18:18] KrisBecker commented on #4656
Ok, thanks for the info and help.

I am prepared/willing to assist in testing this update on my platform if y'all are still stuck on MacOSX 10.13.

[2021-10-22 12:53] #4592 closed, assigned to nobody

[2021-10-22 15:09] jessemapel commented on #4656
It looks like I put the incorrect convolution.h file in the tarball but the patch is correct  and will fix that header.

The PCL PR that I linked previously has fixes for the other files in it too. Previously all I've needed to patch was the convolution.h file.

Attached is a set of patches to apply that mirrors the PCL PR and should fix these issues

[pcl_align_fix.tar.gz](https://github.com/USGS

[2021-10-22 18:09] jlaura commented on #4397
Please see the updated README with instructions on downloading the test data from AWS S3 using the `rclone` tool.

[2021-10-22 18:09] #4397 closed, assigned to nobody

[2021-10-23 02:39] GavinT94 opened #4659 "ISIS3 Commands Won't Work on Terminal - X Server Issue"
I followed the installation process using Conda, but when I activate the isis environment and run a command such as qview, I get the following message:

cannot connect to X server...

Do you have an X server running?

If yes then...

  If you are trying to run this program remotely using ssh, then did you enable X11 forwarding?

If the possible causes cited above have been ruled out and this probl

[2021-10-23 12:58] jlaura commented on #4659
@GavinT94 Sounds like either you installed isis on a remote machine. [Here](https://cat.pdx.edu/platforms/windows/remote-access/xming/) is a tutorial on using Xming and Putty with X11 forwarding which should get you up and running.

[2021-10-23 13:19] jlaura commented on #4653
@jessemapel I think that the RFC looks quite good and provides an appropriate amount of information to help drive this conversation forward. I am going to suggest that this RFC **not** be adopted unless a few additional issues can be resolved:

1. We need a commitment from our large user groups that they will be adopting these LTS versions. Otherwise, we will be in a position like we are now now w

[2021-10-23 13:49] GavinT94 commented on #4659
@jlaura I tried to connect to my Linux IP address/host name but I am now getting connection refused or connection timed out errors. Is this related to how my computer firewall is blocking remote connections?

[2021-10-23 14:27] jlaura commented on #4659
Yup - that is related to the other machine and is not an ISIS issue.

[2021-10-23 14:29] GavinT94 commented on #4659
That was my fear. Is there a recommended set-up to install ISIS? I have tried Linux in virtualboxes but it gives me similar errors. Is there a way to use isis wthout having to connect to a remote set up? I followed the instructions on the GitHub page but it kept on making a separate remote location.

[2021-10-23 14:33] jlaura commented on #4659
Unfortunately, no. The installation instructions are for linux and OS X. We do not support windows installations. If you are using a virtual box VM, you also need to use X11 forwarding.

[2021-10-23 14:35] GavinT94 commented on #4659
I am continuing to troubleshoot X11 forwarding. I have more luck using Mac to install and run ISIS (it seems to me more straightforward and experiences less issues), tempted to use a Mac machine to run the ISIS3 program.

[2021-10-23 15:38] rbeyer commented on #4659
Well ... only if you need to use the GUIs.  You can certainly install ISIS remotely, and use command-line only interfaces to run ISIS on your remote machine.  This is a common pattern.  For example, since I only have a laptop locally but I have big linux machines remotely, this works for me.  Of course, when I do need to actually visually inspect the images that I'm operating on, I do take advanta

[2021-10-25 15:31] SherryCampbell opened #4660 "Is it possible to convert a Curiosity's(MSL) single MASTCAM image into an orthophoto？"
Hello,
Recently I am thinking whether it's possible to convert a Curiosity's(MSL) single MASTCAM image into an orthophoto.

I've made the following attempts but failed:
1. Using ISIS's applications such as cam2map, pds2isis. It seems it's unable to convert Curiosity's .lbl files(PDS3) to .cub;

2. Trying to write the orthographical correction program myself. Theoretically,  an image can be geometr

[2021-10-25 15:53] jessemapel commented on #4660
ISIS does not support MSL Mastcam as a sensor and it is unlikely to be added. I have done some research into what would be required to support it or even just a generic CAVHOR model using our new CSM tooling, but it's not currently on our roadmap.

My understanding is that the Mastcam data is processed using [VICAR](https://www-mipl.jpl.nasa.gov/external/vicar.html), so I would look into that. If

[2021-10-25 15:53] #4660 closed, assigned to nobody

[2021-10-25 16:10] jessemapel commented on #4659
I'm going to close this as everything is working as intended. Feel free to continue the discussion, though.

If you really want to work on Windows, WSL2 is fairly good these days. Check out Trent's post from a few years back here:

https://astrodiscuss.usgs.gov/t/running-isis-3-7-under-anaconda-in-windows-10-wsl/222

[2021-10-25 16:11] #4659 closed, assigned to nobody

[2021-10-25 17:20] KrisBecker commented on #4656
@jessemapel this set of patches worked in my environment. Here is the result of the patches:

[code]

I repeated this procedure in a new conda environment with the most recent version of ISIS that was freshly fetch/merged from dev, which was also successful.

Here is the full set of instructions updated with the patch commands:

[code]

While this workaround appears to result in a successful build

[2021-10-25 17:47] jessemapel commented on #4656
You can also replace `~/miniconda3/envs/ErosDevD` with `$CONDA_PREFIX` to make them generic for any anaconda environment

[2021-10-25 18:43] KrisBecker commented on #4656
Agreed. I updated my post.

Thanks...

[2021-10-25 21:33] AustinSanders commented on #4659
@GavinT94 I've run into similar "connection refused" problems with X11 forwarding via ```ssh <hostname> -X```.  I was able to use ```ssh <hostname> -Y```, but please be aware that this is somewhat of a more "risky" solution from a security standpoint, as the -Y option treats the remote machine as a trusted client.

Since there a level of security concern associated with the -Y flag, I can't outrig

[2021-10-27 22:30] KrisBecker commented on #4656
I pulled the ISIS test data following the new [instructions](https://github.com/USGS-Astrogeology/ISIS3#isis-test-data) in the README.md (which are excellent, BTW) and I am getting 325 errors reported running the [`ctest`](https://github.com/USGS-Astrogeology/ISIS3/wiki/Developing-ISIS3-with-cmake#running-tests) after also updating the ISIS data area. I think I recall this test data is not in sync

[2021-10-28 11:57] jlaura commented on #4656
@KrisBecker This needs to be a new issue.

@Kelvinrr @acpaquette @AustinSanders @scsides @jessemapel Can you confirm that the test data is properly synced on S3? That is now the source of record. Please respond on the new issue that @KrisBecker opens about this.

[2021-10-28 15:32] KrisBecker opened #4661 "ISIS test data appears to be out of sync with current state of ISIS code in dev"
**ISIS version(s) affected**: 6.0.0+

**Description**
While attempting to establish an ISIS development environment on MacOSX 10.15 (see #4656),  running [ctest](https://github.com/USGS-Astrogeology/ISIS3/wiki/Developing-ISIS3-with-cmake#running-tests) to assess efficacy of the build results in a significant number of errors (325 of 2345 tests). It appears that the recently released ISIS test data

[2021-10-28 16:20] jessemapel commented on #4661
Can you share the list of failed tests you got? you can find it in your build directory under `Testing/Temporary/LastTestsFailed.log`

[2021-10-28 16:28] KrisBecker commented on #4661
Here are two logs, one indicating a test was disabled, which I don't know if that's expected (JP2K?).

[LastTestsDisabled.log](https://github.com/USGS-Astrogeology/ISIS3/files/7435823/LastTestsDisabled.log)
[LastTestsFailed.log](https://github.com/USGS-Astrogeology/ISIS3/files/7435824/LastTestsFailed.log)

[2021-10-28 16:42] KrisBecker commented on #4661
And here are a couple of excerpts from the test log:
[code]

[code]

[2021-10-29 19:29] AustinSanders commented on #4661
I was able to synchronize the s3 test data with the in-house test data.  The initial check indicated that 800+ files were out of date.  After synchronization, the check yielded 0 files out of sync (as expected).  I'd like to test this more thoroughly before closing the issue, but I have some project work that I need to finish today, so this will likely have to wait until the upcoming support sprin

[2021-10-30 16:27] KrisBecker commented on #4661
Much better.
[code]

I have attached file containing the ctest output for each of these 25 errors as logged in LastTest.log. Some errors don't make sense to me - hopefully they will to someone - but the ObservationPair.* errors seem to require a missing SCLK file in $ISISDATA. Several seem related to JPEG problems.

[macosx1015_failed_LastTests.log](https://github.com/USGS-Astrogeology/ISIS3/files

[2021-10-31 00:00] jlaura commented on #4661
This looks consistent with: https://astroservices.usgs.gov/jenkins/job/USGS-Astrogeology/job/ISIS3/job/dev/ (unfortunately).

@AustinSanders This is something that we need to have fixed during the upcoming support sprints. Our #1 priority need to be passing CI ( @acpaquette @Kelvinrr @AustinSanders @scsides @jessemapel and then for continuous support, keeping CI working as necessary).

[2021-11-01 16:58] ladoramkershner commented on #4559
@jessemapel what are the next steps on this? Would you like to review the implementation or would you like another Dev to take a look at some notes on the math and then check the implementation?

[2021-11-01 17:05] captainrlkirk opened #4662 "Need help installing ISIS on MacOS Big Sur"
**ISIS version(s) affected**: 6.0.0

**Description**
I am trying to install the current ISIS on a Mac that was wiped and given a clean install of Big Sur .  Please set aside that ISIS has not been built on this OS and MAY not work; I'll take my chances.  The problem is a failure to complete the installation process outlined on the ISIS github main page.  I installed Anaconda, created an environmen

[2021-11-01 18:20] victoronline commented on #4514
@jessemapel will this make it into the next sprint?

[2021-11-02 16:40] acpaquette commented on #4662
@captainrlkirk This is an issue with creating an environment with a general python 3.X install where ISIS likely needs python 3.10. We should likely remove the step in the install guide of making the environment then installing ISIS into it. Rather we should just make the environment with the first install being ISIS.

Best fix for this particular issue is to run the following:
`mamba install -c u

[2021-11-02 17:39] captainrlkirk commented on #4662
Sounds good, thanks.  I will try that, but...do I need to delete the "isis" environment I already created first, or will this command overwrite the python version already in that environment?  If delete (as distinct from deactivate), I could use instruction how to do this as I have not done it before.
Keeping documentation up to date is a never-ending and rather thankless task. I'll say thanks tha

[2021-11-02 17:51] benjabul opened #4663 "kaguyatc2isis"
**ISIS version(s) affected**: 4.0

**Description**
I am using ISIS3 updated just today (02/11/2021) installed on a windows machine with Ubuntu18.04LTS.
When I run kaguyatc2isis on the image I downloaded I get an error related to the change of Product_ID that was done in the new version of the KaguyaTC images in 2019.
I saw that the way this problem was solved by the isis team is to use the .lbl an

[2021-11-02 18:01] AustinSanders commented on #4620
Marci data (varexp.tab and varexp.lbl) have been manually updated in the internal data area.

[2021-11-02 18:01] #4620 closed, assigned to AustinSanders

[2021-11-02 20:32] jlaura commented on #4662
I would delete the environment, just to be safe. Conda does some caching that, while very helpful most of the time, can be an issue. To try and keep things really clean, I would run:

[code]

Then recreate as @acpaquette suggested.

[code]

[2021-11-02 20:44] jlaura commented on #4663
@benjabul Would you mind providing a download link to the file? I have been processing a lot of Kaguya TC (2C2 data) and the file name you are providing is not one that I have ever encountered with the data. A link to DARTs where the file is available would help me reproduce the error.

Thanks!
J

[2021-11-02 20:49] benjabul commented on #4663
sure: https://data.darts.isas.jaxa.jp/pub/pds3/sln-l-tc-5-morning-map-v4.0/lon306/data/TCO_MAPm04_N45E306N42E309SC.img

[2021-11-03 08:50] benjabul commented on #4663
update: I found a way to fix this but I guess you may have an easy way to fix the code itself.
I modifed the .lbl by changing the DATA_SET_ID to "TC2_Level2B". I also change the FILE_NAME to"/TCO_MAPe04_N45E306N42E309SC.img" (the "/" was added). Then I also needed to chmod u+rx,go-w some of the directories but this last part is probably specific to my architecture.

[2021-11-03 13:03] jlaura commented on #4620
@AustinSanders Have these updates been pushed to the external data area so that users can access them?

[2021-11-03 13:07] jlaura commented on #4663
@benjabul I am not able to reproduce the errors that you are seeing. I tested on ISIS6.0.0 and ISIS4.3.0 on OSX.

I downloaded the cub and lbl files that you linked and then ran:

[code]

no errors and here is the result:
<img width="667" alt="Screen Shot 2021-11-03 at 6 04 53 AM" src="https://user-images.githubusercontent.com/2105468/140065344-4b1fd32f-38d0-4d18-a10b-ad8397938e20.png">

Is this t

[2021-11-03 13:17] jlaura opened #4665 "edrget Deprecate"
In https://github.com/USGS-Astrogeology/ISIS3/pull/4641 a deprecation warning was added to `edrget`. According to our [wiki](https://github.com/USGS-Astrogeology/ISIS3/wiki/Deprecation), we can remove the application no earlier than 6 months after the release with the deprecation warning. I believe that the deprecation warning will go out in 6.1 which should be released at the conclusion of the cu

[2021-11-03 15:38] Kelvinrr opened #4666 "Get Clean Jenkins Dev Tests"
**ISIS version(s) affected**: dev

**Description**

Several test are failing regularly and haven't been addressed. These have been disabled and we need to fix them in order to get clean tests.

These include:
 1. edrget app test failures
 2. TGO cat test failures
 3. ObervationPair fixture failing on setup

**How to reproduce**

Revert changes in https://github.com/USGS-Astrogeology/ISIS3/pull/466

[2021-11-03 16:07] Kelvinrr opened #4667 "Builds failing on macOS, Big Sur"
**ISIS version(s) affected**: dev

**Description**

When trying to build ISIS on a Mac on Big Sur, you get the following linker error:

[code]

**How to reproduce**

Try to build the dev branch on a machine with Big Sur installed

**Possible Solution**

I believe this is happening because the OpenGL & AGL frameworks are being added to the linker incorrectly. They are being added as a normal librar

[2021-11-03 17:33] AustinSanders commented on #4620
@jlaura I didn't manually update the external data area.  For some reason, I was thinking that there was a cron job keeping the internal / external data areas in sync.  Maybe I'm thinking of a different dataset?

[2021-11-03 19:32] captainrlkirk commented on #4662
: (  I ran the commands above to delete my current isis environment, create a new one, and install current ISIS.  Mamba gave the following error message:

Looking for: ['isis', 'python=3']

Encountered problems while solving.
Problem: nothing provides armadillo 8.200.0 needed by isis-3.10.0-py36_0

[2021-11-03 19:39] jessemapel commented on #4662
It looks like it's trying to install 3.10

Try this for the last line `mamba install -c usgs-astrogeology isis=6 python=3`

[2021-11-03 19:49] captainrlkirk commented on #4662
This changed the error generated to a different package:

(isis6.0.0) IGSWZAWGLT00023:~ rkirk$ mamba install -c usgs-astrogeology isis=6 python=3
[omitting mamba char art, etc.]
Looking for: ['isis=6', 'python=3']

Encountered problems while solving.
Problem: nothing provides ale >=0.8.5,<1.0a0 needed by isis-6.0.0-0

[2021-11-03 20:37] captainrlkirk commented on #4662
This changed the error generated to a different package:

(isis6.0.0) IGSWZAWGLT00023:~ rkirk$ mamba install -c usgs-astrogeology isis=6 python=3
[omitting mamba char art, etc.]
Looking for: ['isis=6', 'python=3']

Encountered problems while solving.
Problem: nothing provides ale >=0.8.5,<1.0a0 needed by isis-6.0.0-0

[2021-11-03 21:19] jessemapel commented on #4609
Revert changes to observation pair tests in #4666 when this is done.

[2021-11-03 21:55] AustinSanders commented on #4638
Hi @oleg-alexandrov -- I think I've found the problem, but it's not yet clear to me _why_ we're running into this problem.  The TSPK found by spiceinit (isis_data/dawn/kernels/tspk/de421.bsp) does not include Vesta.  I was able to run spiceinit with:

```spiceinit from= FC21B0004011_11224024300F1E.cub TSPK='(/usgs/cpkgs/isis3/isis_data/dawn/kernels/tspk/sb_vesta_110211.bsp, /usgs/cpkgs/isis3/isis_

[2021-11-04 02:42] acpaquette commented on #4662
@captainrlkirk There are definitely versions of ale==0.8.5 built against python 3.6. This may be an issue of not adding the conda-forge channel that ale is being distributed on.

Similar to @jessemapel suggestion, try:
`mamba install -c usgs-astrogeology -c conda-forge isis=6 python=3`
as the last line in the previous installation recommendation from @jlaura

[2021-11-04 06:00] benjabul commented on #4663
Yes this is what is supposed to be produced. I guess then it comes from me. I have on very recent windows 10 but run Ubuntu18.04LST installed via the microsoft store. I followed the procedure from [this](https://www.willyingling.com/research-blog/2019/5/9/how-to-installing-isis3-on-a-windows-computer) to install ISIS3 and I did it 3 days ago.

[2021-11-04 12:41] jlaura commented on #4663
@benjabul I am not familiar with those installation instructions though, from your reports it sounds like the issues you are seeing are a local problem caused by paths, e.g., something is not mounted properly between windows and the ubuntu subsystem.

I am going to close this issue for now as I can not reproduce. If you have another issue with kaguyatc2isis and these data, please feel free to reop

[2021-11-04 12:41] #4663 closed, assigned to nobody

[2021-11-04 13:42] jlaura opened #4668 "Add ingest for KaguyaTC SP Support Data"
**Description**
The kaguyatc2isis application is performing checks to determine the release of different TC data sets. Right now, the SP Support data are not supported because 'SLN-L-TC-3-SP-SUPPORT-LEVEL2B0-V1.0' is not included in the list of supported data types. Simply modifying the KaguyaTC label to alter that string to be a supported data type allows ingest.

I believe that the above string

[2021-11-04 15:22] captainrlkirk commented on #4662
Combining these suggestions definitely made the lights blink and the wheels spin!  The mamba installation appears to have completed successfully.  I then followed step 7.1 of the installation instructions (set up environment variables by running isisVarInit.py script and re-activating the environment).  However, an attempt to run a simple ISIS program shows that something is still missing:

(isis)

[2021-11-04 16:23] Kelvinrr commented on #4662
@captainrlkirk This is basically where I am at with getting ISIS running on Big Sur, it's very similar to the build problem (#4667). @acpaquette has had luck after updating core libraries via brew, I'll test this out hopefully soon (I am waiting for IT, RIP) and see if I can get past this error.

[2021-11-04 16:34] captainrlkirk commented on #4662
@Kelvinrr Thanks!  I realize this is cutting edge at the moment.  The USGS dumped a lot of us into the heavy surf of the Big Sur at once...but I'm the guy who can't swim so I rely on the rest of you for help. :^ D  Please alert me when there's progress that I can use (bearing in mind that you will have to hold my hand with any additional tools like brew that end up being needed).

**Question:**  I

[2021-11-04 17:22] Kelvinrr commented on #4662
@captainrlkirk

fix was simpler than I thought, the version being picked up for ffmpeg renamed the libavresample lib, try: `mamba install ffmpeg=3.4.1`

It's been a long time since I have done much with homebrew, so I personally don't think I can answer that question atm.

[2021-11-04 17:29] Kelvinrr commented on #4656
@KrisBecker The quick fix I used for this was to make sure to use Eigen 3.3.9 as there is some kind of issue with Eigen 3.4.

have you tried downgrading a version tick? `mamba install -c condo-forge eigen=3.3.9`

[2021-11-04 17:59] captainrlkirk commented on #4662
@Kelvinrr I tried installing ffmpeg 3.4.1 after conclusion of the previous installs and it was not found.

(isis) IGSWZAWGLT00023:~ rkirk$ mamba install ffmpeg=3.4.1
...
Looking for: ['ffmpeg=3.4.1']

Encountered problems while solving.
Problem: nothing provides requested ffmpeg 3.4.1**

[2021-11-04 18:22] Kelvinrr commented on #4662
@captainrlkirk try `mamba install -c conda-forge ffmpeg=3.4.1`, I forget I have several channels in my .condarc so I don't usually have to enter them manually.

[2021-11-04 18:33] KrisBecker commented on #4656
@Kelvinrr Ok, I will give this a try.  I'd imagine its OK to hard pin eigen=3.3.9 in the environment.yml?

Thanks...

[2021-11-04 18:37] Kelvinrr commented on #4656
@KrisBecker yeah, that worked for 2 people in the building so far so I think that's the thing to get this closed.

[2021-11-04 19:00] captainrlkirk commented on #4662
SWEET!  The install worked and I am now able to run qview indicating ISIS is set up and knows how to display.

I plan to leave this thread open for 24 hours or so in case I run into other problems, but I think my problem is solved. Thanks to all who helped!

[2021-11-04 19:09] Kelvinrr commented on #4656
After this error is cleared, you're likely to run into #4667 which I am still working on trying to fix.

[2021-11-04 20:23] amystamile-usgs commented on #4651
@jlaura I was unable to find your list from the path provided `/work/users/jlaura/github/ard_processing/kaguyatc/kaguyatc_failedcaminfo.csv`. I did grabbed `TC2S2B0_01_07414N012E2061.cub` from `/scratch/kaguya/jaxa_FEB2021/cub_monoscopic/` since it did not have a caminfo.pvl file, and it failed for me when running caminfo.

I believe I have pinpointed the issue with the caminfo failure. There is a

[2021-11-04 20:32] jlaura commented on #4651
@amystamile-usgs Great questions!

I personally would love to see the defaults between caminfo and footprintinit match (with footprintinit being the reference because I suspect more people use footprintinit). If those changes are made to caminfo will this impact only footprint generation or are max incidence and emission used for other checks by caminfo?

@jessemapel @rbeyer If we make changes her

[2021-11-04 20:33] lwellerastro commented on #4651
Thanks for all the detailed information @amystamile-usgs.

In my opinion, we should not be super restrictive with illumination angles by default because, for instance, there are datasets out there like Themis IR where incidence angles are very large by default, but the data are perfectly good to work with.  So in that case, I am inclined to retain a value of 180 for programs like footprintinit and

[2021-11-04 20:49] amystamile-usgs commented on #4651
@jlaura I verified that there are not any other checks that use max incidence or emission in caminfo. The documentation also indicates that these parameters are specifically use for polygon/footprint generation.

[2021-11-04 20:51] jlaura commented on #4651
+1 I would synchronize the homogenize the defaults with footprintinit and put in a PR. We can determine on that PR if this is API breaking and merge into the appropriate branch / leave in a feature branch while we collect other API breaking changes, etc.

[2021-11-04 22:57] gsn9 commented on #4609
Would it be better to keep all of the SCLK files around or would it be better to add the ability to use the latest SCLK file and just keep the 10 most recent SCLK files like we are currently doing?  Or could we just up the file count that we are keeping from 10 to like ~25?

[2021-11-05 15:10] Kelvinrr commented on #4635
Alright, good news is I was able to replicate the error, the bad news is Marci images are too big to map project on it's own and for some reason cropping causes issues with the camera model (fails to load Spice Tables for whatever reason). @astrostu Do you have a good example of a small Marci image? I'll dig through images for now but it'll be great if there is a good small minimal example image.

[2021-11-05 16:39] Kelvinrr opened #4672 "Get MacOS CI passing"
**ISIS version(s) affected**: dev

**Description**

MacOS builds on Jenkins is failing on the configure step. We should try to get MacOS running correctly with passing CI.

**How to reproduce**

Run any Jenkins job with MacOS enabled.

**Possible Solution**

No idea, right now it's a configuration issue with Boost over environment issues, but it'll most likely be kind of a rabbit hole.

**Addition

[2021-11-05 19:15] AlanHoward commented on #4662
This works on MacOS Monterey

[2021-11-06 04:22] AlanHoward opened #4674 "mamba not found in RHEL 8.4 just after installation"
**ISIS version(s) affected**: most recent
I am running RHEL 8.4
I followed instructions to install isis, starting with installing Anaconda, successfully added channels to conda, successfully installed mamba as shown in installation steps, but when invoking mamba it is not found.  Here is the prompt:

(isis) [ah6p@localhost ~]$ mamba install -c usgs-astrogeology isis

which results in the error com

[2021-11-06 04:44] #4674 closed, assigned to nobody

[2021-11-06 04:52] AlanHoward opened #4675 "RHEL 8.4 libjasper.so.1 not found"
Apparently just successfully installed most recent isis in RHEL 8.4 following installation instructions.  But when invoking any command there is failure with libjasper.so.1 not found.  Trying to install jasper in RHEL 8.4 reports that jasper-libs-2.0.14-4.el8.x86_64 is already installed.  Any solution to this?

[2021-11-06 16:57] astrostu commented on #4635
@Kelvinrr MARCI images are basically the same size except when spatial-summing is set to 2 or "8."  So, look for any PDS image that's around 25 MB that has "_MA_" in the name (roughly half of the MA images are spatial-summing 1, and half are 2), or any of the _MU_ which are ultraviolet and always are spatial-summing 8.  (okay, the automatic markup on here is removing my underscores (_) in front of

[2021-11-08 15:59] jessemapel commented on #4609
It depends on how large the SCLK files are. If they are not very large, it would be best to just keep all of them around. If we instead kept 25, then we'd just be pushing this problem out farther instead of actually fixing it.

[2021-11-08 16:52] captainrlkirk commented on #4662
Closing thread.  Many thanks to all.

[2021-11-08 16:52] #4662 closed, assigned to nobody

[2021-11-08 18:19] acpaquette commented on #4675
@AlanHoward This is likely due to previous issues with ISIS installing into "unclean" anaconda environments thanks to anaconda/conda caching packages. Could you post the exact output from your terminal?

[2021-11-08 20:01] tom-farr opened #4677 "problem installing on Mac with Mamba"
**ISIS version(s) affected**: 4 and 6 (?)

**Description**
Sorry, but I'm inexperienced at installing software in this way. I tried to follow the instructions at https://github.com/USGS-Astrogeology/ISIS3/blob/dev/README.md. They seem to be outdated, but I followed and installed Anconda3 which appeared to install python 3.6 or 3.8. Following the instructions, I did 'condo create - n isis python=3.

[2021-11-08 20:12] Kelvinrr commented on #4635
Alright I was able to replicate with a cropped Marci image. It seems as long as I don't have a partial framelet in the cropped image the camera model doesn't complain. Iteration is pretty quick as I try to find the issue.

[2021-11-08 20:49] AlanHoward commented on #4675
Well, I have abandoned trying the RHEL 8.4 environment and will be using either a MacOS version or a minimal Ubuntu in a VirtualBox in the RHEL computer, both of which installed and opened Qview flawlessly.  The culprit on RHEL may be my Intel OneAPI installation that also has Python. Libraries on Linux are a hellhole. Thanks for responding.

From: acpaquette ***@***.***>
Sent: Monday, November 8,

[2021-11-08 22:51] astrostu commented on #4635
Ah, I hadn't noticed that it was an issue with partial framelets (I assume partial along-track? or ANY cropping across-track is the issue?).

[2021-11-09 17:08] acpaquette commented on #4649
@KrisBecker Could you send over the files to reproduce this error?

Also I am not exactly sure what the problem here is, should we be seeing no islands in the second output? I understand that we may be seeing islands that don't exist but I don't understand what you mean by bad points

[2021-11-09 18:03] jessemapel commented on #4675
RHEL isn't officially supported so I'm going to close this as will not fix. If someone wants to work on this and put in a PR that is very much welcome.

[2021-11-09 18:03] #4675 closed, assigned to nobody

[2021-11-09 18:39] KrisBecker commented on #4649
I can pretty much guarantee that the files I send you would not be sufficient to reproduce this problem. I have made significant changes to the Rosetta OSIRIS camera model that is incompatible with the current version.

I can point you to the code where I think the problem is.

Note that there is no check for a valid measure in the [noLatLonCheck()](https://github.com/USGS-Astrogeology/ISIS3/blob/

[2021-11-09 19:19] #4603 closed, assigned to acpaquette

[2021-11-09 21:37] AustinSanders commented on #4677
@tom-farr You're definitely not alone in experiencing installation difficulties, and getting this fixed is among the development team's highest priorities.

[Issue 4662](https://github.com/USGS-Astrogeology/ISIS3/issues/4662) describes similar difficulties, and it includes some discussion on how the user was able to resolve the problem.   Do you mind working through those steps and reporting back?

[2021-11-09 21:42] AustinSanders commented on #4585
I was able to reproduce this on both Mac and Ubuntu, but I'm struggling to find the cause of this error.  Some notes:

Longitude values are significantly different between the original and the map projected cub -- somewhere around 20 degrees offset.  I suspect that the nulls are due to the projection, not the actual DNs, i.e. if we are able to adjust the projection such that the lat/lons are neare

[2021-11-09 23:21] tom-farr commented on #4677
Thanks. Will do.

————
Tom Farr
Montecito, CA

On Nov 9, 2021, at 1:38 PM, AustinSanders ***@***.***> wrote:

﻿

@tom-farr<https://github.com/tom-farr> You're definitely not alone in experiencing installation difficulties, and getting this fixed is among the development team's highest priorities.

Issue 4662<https://github.com/USGS-Astrogeology/ISIS3/issues/4662> describes similar difficulties, an

[2021-11-09 23:39] gsn9 commented on #4609
Do we just want to keep all of them around then? There's only ~18mb of space being used currently for 10 SCLK files
![Screen Shot 2021-11-09 at 4 39 10 PM](https://user-images.githubusercontent.com/78241862/141022985-471475a2-25cd-4dbe-9091-524c026e704d.png)

[2021-11-10 00:51] tom-farr commented on #4677
Hi Austin. it worked! Mostly. everything loaded and I then tried to run an isis routine. I've never run isis, so this could be user error, but I get the complaint that ISISROOT isn't set. However, I ran the default python thing:

(isis6.0.0) Toms-MacBook-Pro:~ tom_farr$ python $CONDA_PREFIX/scripts/isisVarInit.py

and anyway, do I have isis activated? And so I just type the command, like so:

(isi

[2021-11-10 12:48] jlaura commented on #4677
@tom-farr When creating a new env, I have had to run the conda prefix script, deactivate the environment and then reactivate the environment. Then everything worked as expected.

As an aside - are trying to process Sentinel-1 data through ISIS? Our primary support is for planetary science and not earth science missions.

[2021-11-10 15:22] jessemapel commented on #4609
@gsn9 There are many many more on the lro server that we are not serving. If we served all of those how big would it be?

[2021-11-10 16:11] tom-farr commented on #4677
Thanks- that worked, though the last steps listed in the GitHub install page are rather confusing- especially when it wanders off into talking about Docker, etc. I pieced together that one has to deactivate twice to exit isis and then conda and then activate twice, using isis6.0.0 as the second env to activate. I now seem to be able to use isis!

As for the Sentinel data- I’d like to do some post-

[2021-11-10 16:21] #3605 closed, assigned to amystamile-usgs

[2021-11-10 22:05] jlrizos opened #4684 "Error using spiceinit with Dawn mission images"
ISIS VERSION
6.0.0 # Public version number
2021-08-31 # Release date
stable # Release stage (alpha, beta, stable)

**Description**

I have downloaded the latest ISIS version from this repository. Then, I downloaded Dawn mission kernels. Finally, I am trying to spiceinit one random image from Dawn mission running the following commands:

dawnfc2isis from=FC21B0036778_15125195001F1F.IMG to=FC21B0036

[2021-11-11 15:42] AustinSanders commented on #4684
Hi @jlrizos , this appears to be the same issue described in #4638. We have an open PR that will address this issue.

I'm closing this as a duplicate issue, but if you have reason to believe that this is not the same error, feel free to reopen with additional context.

[2021-11-11 17:12] jlrizos commented on #4638
I am experiencing a similar error:

Error                     = "No pointing available at requested time
                               [484127469.19564] for frame code [10101]"
End_Group
**ERROR** Unable to initialize camera model.

I understand I can solve it attaching the correct kernels, right? Do you know how can I identify the needed kernels by hand? I tried running the above command but doe

[2021-11-12 12:23] jlaura opened #4685 "ISIS Control Network PVL Header Block Ends in Null Character; not PVL Specification Compliant"
**ISIS version(s) affected**: 6.0.0 (though likely all versions)

**Description**
The PVL header that ISIS writes to a control network is terminated with null characters. As per [this issue](https://github.com/planetarypy/pvl/issues/98) that is not compliant with the specification. This makes reading and ISIS control networks in other packages non-intuitive.

**How to reproduce**

Read the network

[2021-11-12 12:42] jlaura commented on #4661
@Kelvinrr @AustinSanders @jessemapel @amystamile-usgs @acpaquette @gsn9 Is this closable as the test data should now by consistent?

[2021-11-12 17:46] rbeyer commented on #4685
Since you are placing additional bytes in the file after the PVL-text, just ending the file (4) probably isn't workable.  The preferred thing would be to change `END` to `END;` (3) as it is explicit.  Although changing `END` to `"END "` or `END\n` (1) would also probably be fine choices.

[2021-11-12 19:17] volcanopele opened #4686 "Jigsaw "Unable to set coefficients vector" issue with 6.0.0"
**ISIS version(s) affected**: 6.0.0

**Description**
Running jigsaw on CaSSIS images (could impact other spacecraft images but I haven't tested that) results in the following set of errors and bundle adjustment does not occur:

[code]

Running jigsaw using the same observation with 5.0.2, using the same code shown below, does not produce this error and bundle adjustment proceeds correctly. So this

[2021-11-13 02:50] evindunn commented on #4652
Fixed with #4657

[2021-11-13 02:51] #4652 closed, assigned to nobody

[2021-11-13 19:30] tom-farr commented on #4677
Ok, to further demonstrate my poor mastery of unix, it appears that isis isn’t finding the ISISDATA location. I tried printenv to see what was set, but I can’t find any mention of ISISDATA. I did run the python thing in the GitHub instructions- did it not take? Or am I hopelessly lost…
Thanks ,
Tom
_______
Tom Farr
***@***.******@***.***>

On Nov 10, 2021, at 8:11 AM, Farr, Thomas ***@***.******@*

[2021-11-13 20:10] tom-farr commented on #4677
Oops. I didn’t do printenv in the window where isis was active. Got it now.

_______
Tom Farr
***@***.******@***.***>

On Nov 13, 2021, at 11:30 AM, Farr, Thomas ***@***.******@***.***>> wrote:

Ok, to further demonstrate my poor mastery of unix, it appears that isis isn’t finding the ISISDATA location. I tried printenv to see what was set, but I can’t find any mention of ISISDATA. I did run the p

[2021-11-13 23:03] tom-farr commented on #4677
Sorry to keep pestering you. I’m now trying to run some simple routines on known data. I move the data into the ISISDATA place and run std2isis. No complaints, but I can’t find the output file. qview won’t find it either. I’m sure it’s something simple…

(isis6.0.0) Toms-MacBook-Pro:~ tom_farr$ std2isis from=c1.png to=testc1.cub

_______
Tom Farr
***@***.******@***.***>

On Nov 13, 2021, at 12:10

[2021-11-14 12:55] jlaura commented on #4677
@tom-farr You do not need to move data into the $ISISDATA area in order to process it. In fact, I would suggest not moving your data into $ISISDATA. The $ISISDATA directory is for data that ISIS needs in order to run.

Based on your command, it looks like you are running `std2isis` from your home directory. I would expect the output to be in the same directory since the `to=` command does not spec

[2021-11-14 13:12] jlaura commented on #4685
Looking at some blobdump output, it looks like the same method (null characters) is being used. I haven't looked in the code base, but that makes sense that the same writer is being used in both cases.

It would be awesome to get compliant with the specification.

[2021-11-14 15:40] tom-farr commented on #4677
Oof. Guess I deserved that. I do know my way around a Mac having used them since they were born, so I did the search as you suggest as soon as no file showed up in the top directory. It ain’t there. But no error message from isis either…
Tom
————
Tom Farr
Montecito, CA

[2021-11-15 14:20] jlaura commented on #4677
@tom-farr That is quite strange as I would expect ISIS to complain loudly if something fails. What about specifying an absolute PATH in your to= argument?

[2021-11-15 16:06] jessemapel commented on #4474
This is still a very valuable enhancement for jigsaw.

[2021-11-15 16:35] jessemapel commented on #4677
It sounds like you need to download the data area, at least the base data.

https://github.com/USGS-Astrogeology/ISIS3/blob/dev/README.md#The-ISIS-Data-Area

That is what goes into $ISISDATA.

I would try re-running your isis2std command with a full path. Also look in the directory where you ran isis2std, there should be a print.prt file that contains logging information about all ISIS programs th

[2021-11-15 17:08] jessemapel commented on #4686
Looks like a bug in observation mode. When we append a new image to an ISIS observation we need to make sure that we properly initialize its SpicePosition and SpiceRotation members.

[2021-11-15 17:13] scsides commented on #4609
@jessemapel , @gsn9: The sclk files are updated weekly. The current size is 1.8M each with tiny increases. Total size for all existing sclk files is 647M.

[2021-11-15 17:17] jessemapel commented on #4609
So we'd be expecting ~1 GB total within the next several years. That doesn't seem consequential to me. I'd say we just don't clean out the SCLKs and serve all of them.

[2021-11-15 17:47] scsides commented on #4609
Sounds reasonable.

[2021-11-15 18:42] gsn9 commented on #4609
@jessemapel @scsides if we want to server all of them I just need to update the [`updateLroKernels` file](https://code.chs.usgs.gov/gnelson/isis3mgr_scripts/-/blob/master/updateLroKernels) to not clean up all the LRO SPK kernels and then push my changes? One thing I'm worried about is testing this since I don't have access the the ASU servers to verify this is working.

[2021-11-15 18:43] #4638 closed, assigned to AustinSanders

[2021-11-15 18:50] astrostu commented on #4474
Yes!  Sorry, I would be interested in this feature, still, but the immediacy has changed significantly for me.  If this doesn't make it into a future release before I need it, I'll message you directly, @jessemapel , to discuss how we might hack it together.

[2021-11-15 18:55] jessemapel commented on #4609
@gsn9 For right now just start working on the change. We will likely review the change for anything obvious and then merge it. If there's problems we can easily revert it.

[2021-11-15 19:06] gsn9 commented on #4609
I opened up a merge request on git lab, here's the [link](https://code.chs.usgs.gov/asc/isis3mgr_scripts/-/merge_requests/19)

[2021-11-15 19:15] jessemapel commented on #4609
Merged, I'll check back in the morning to see if we picked up more sclks.

[2021-11-15 19:20] tom-farr commented on #4677
Ok, specifying the paths worked. I didn’t have to download any of the isis base data. It wouldn’t work if I put the input data into ISISDATA. And it wouldn’t work if I specified the input path which had a ++ starting the name of the directory where the data were. I didn’t know unix didn’t like that- I use it to force the directory name to be at the top of the alphabetized list. I used a different

[2021-11-15 19:25] jessemapel commented on #4677
Glad to hear that worked for you. Unix path names can certainly be a hassle to get right.

[2021-11-15 19:25] #4677 closed, assigned to nobody

[2021-11-15 21:17] jessemapel commented on #4661
Yes this is closable now.

[2021-11-15 21:17] #4661 closed, assigned to nobody

[2021-11-15 22:46] #4655 closed, assigned to jessemapel

[2021-11-17 16:40] Kelvinrr commented on #4635
@astrostu I assume along track, I haven't tried cross track.

So far it seems like the problem is that cam2map is completely skipping everything except band 1 on a marci image, when I come back to this I need to see exactly why this is.

[2021-11-17 23:35] jlrizos commented on #4638
Hi, I just want to let you know that the solution did not work for Dawn
mission data. After wasting a lot of time, the solution was installing
Ubuntu 14.04 in a Virtual Machine, the old ISIS version 3.5 and now it
works. I run spiceinit without any problem. I think you should work on
these data because people are wasting a lot of time on this issue. Thanks.

El lun, 15 nov 2021 a las 13:43, Jesse

[2021-11-17 23:38] jlrizos commented on #4638
Hi, I just want to let you know that the solution did not work for Dawn mission data. Providing it with the necessary TSPKs does not work. After wasting a lot of time, the solution was installing Ubuntu 14.04 in a Virtual Machine, the old [ISIS version](https://isis.astrogeology.usgs.gov/documents/LegacyInstallGuide/index.html) and now it works. I run spiceinit without any problem. I think you sho

[2021-11-18 15:17] volcanopele commented on #4686
thanks for taking a look at this bug. It looks like we will have to use 6.0.0 or greater for our reprocessing project due to recent CaSSIS label updates in tgocassisrdrgen showing up on 6.0.0.

[2021-11-18 15:19] jessemapel commented on #4653
Moving to a discussion https://github.com/USGS-Astrogeology/ISIS3/discussions/4691

[2021-11-18 15:19] #4653 closed, assigned to nobody

[2021-11-18 15:33] jessemapel commented on #4686
Can you let us know what type of images you had in your processing list? was this a full CaSSIS observation?

[2021-11-18 15:37] volcanopele commented on #4686
We are processing full CaSSIS observations so the images that are going into jigsaw are the framelets that will, in later steps in the pipeline, be mosaicked together into color swaths.

[2021-11-18 15:37] #4646 closed, assigned to amystamile-usgs

[2021-11-18 16:13] jessemapel commented on #4686
If someone else works this, CaSSIS data can be pulled from the ESA site:

https://archives.esac.esa.int/psa/#!Table%20View/CaSSIS=instrument

[2021-11-18 16:31] jessemapel opened #4692 "Auto deploy isis3mgr_scripts from usgs gitlab to internal ASC system"
**Description**

Currently whenever we update the isis3mgr_scripts repo we have to hand sync it to our local systems so that it continues doing stuff like kernel updates.

It would be great to have a deploy so that on merge it auto-syncs

**Example**

A PR is merge on the repo. The updated code is then deployed automatically to our internal systems and is used in the next cron run.

[2021-11-18 16:53] scsides opened #4693 "viking and voyager decompression needs to be moved to its own repo and conda build"
**Description**
Background: The application (vdcomp) that decompresses Viking and Voyager IMQ files is currently supplied as an executable insides ISIS. It is not wrapped by a standard ISIS UI, but is executed as part of vik2isis and voy2isis for IMQ files. There have been multiple bug fixes for the version supplied inside ISIS. This version has also been tested on all of the IMQ files in both dat

[2021-11-19 18:30] #4651 closed, assigned to amystamile-usgs

[2021-11-23 10:36] AustinSanders commented on #4684
Reopening as per [user feedback](https://github.com/USGS-Astrogeology/ISIS3/issues/4638#issuecomment-972286334). I still suspect that this is similar to #4638, and we may just need to edit another translation file to get ensure that we're picking up the right kernels.

[2021-11-23 15:15] #4048 closed, assigned to nobody

[2021-11-23 15:15] #3988 closed, assigned to nobody

[2021-11-23 15:15] #3971 closed, assigned to nobody

[2021-11-23 15:15] #3861 closed, assigned to nobody

[2021-11-24 15:15] #3601 closed, assigned to nobody

[2021-11-24 16:30] ladoramkershner commented on #3806
Would like to keep open

[2021-11-24 16:32] ladoramkershner commented on #3871
Unresolved, keep open.

[2021-11-25 15:15] #4084 closed, assigned to nobody

[2021-11-25 15:15] #4045 closed, assigned to nobody

[2021-11-25 15:38] rbeyer commented on #4370
I don't see a PR that closes this, so removing "inactive" label.

[2021-11-25 15:39] rbeyer commented on #4019
Still relevant.

[2021-11-25 15:40] rbeyer commented on #3955
Still relevant.

[2021-11-25 15:42] rbeyer commented on #3621
Still relevant.

[2021-11-29 17:26] jessetarnas commented on #3967
Hello, I am running into this same issue with ISIS 3.10.0. Did the kernels for ISIS3 get updated, or do I need to use ISIS4 to make this work? Thanks for your time.

[2021-11-30 15:24] scsides commented on #3805
This issue needs to be addressed sooner rather than later. A fair number of apps that have been converted to callable do not process the attributes at all. This has broken a long standing feature in ISIS that requires all apps that take cube parameter names to process the attributes.

[2021-11-30 17:03] jessemapel commented on #4168
I definitely didn't do this but it still needs to be done.

[2021-12-01 15:15] #4079 closed, assigned to nobody

[2021-12-02 15:13] #2988 closed, assigned to nobody

[2021-12-04 08:21] sathya-lab opened #4701 "ISIS image procesing- generic name issue"
The fit and FITS Image is not being read by isis, not able to locate the image in pc even after providing the information of the loaction.

[2021-12-06 03:47] astrostu commented on #4092
I still think this is a pretty good idea ...

[2021-12-06 14:49] jessemapel commented on #4701
Can you provide more details about what's happening. Please fill out the bug report template with what version of ISIS you are using, what command you are running, and if possible the contents of any error or print.prt logs.

[2021-12-06 14:50] jessemapel commented on #4512
Pr is open

[2021-12-06 14:58] jessemapel opened #4702 "Update lrolola2isis"
**Description**

Update the lrolol2isis app to dev and merge into [bundle_lidar](https://github.com/USGS-Astrogeology/ISIS3/tree/bundle_lidar) branch.

The code can be found on the [LroLidar_Infrastructure](https://github.com/USGS-Astrogeology/ISIS3/tree/LroLidar_Infrastructure/isis/src/lro/apps/lrolola2isis) branch

**Example**

The app needs to be updated and compiled under the new dependencies.

[2021-12-06 15:00] jessemapel commented on #4702
This will also require adding the LidarData class

[2021-12-06 15:03] jessemapel opened #4703 "Update LidarControlPoint and Control classes for LiDAR"
**Description**

Update the [LidarControlPoint](https://github.com/USGS-Astrogeology/ISIS3/tree/LroLidar_Infrastructure/isis/src/control/objs/LidarControlPoint) class to get it compiling under current dev.

This will require porting the changes to the ControlPoint and ControlMeasure classes too. See #75, #236, #408 #3172 #3250 #3252 #3253

**Example**

[2021-12-06 15:10] jessemapel opened #4704 "Update Bundle Utility classes for LiDAR"
**Description**

Update the BundleUtility classes with the changes from the [LroLidar_Infrastructure](https://github.com/USGS-Astrogeology/ISIS3/tree/LroLidar_Infrastructure/isis/src/control/objs/BundleUtilities) branch. This should include the LiDAR changes but not the peicewise changes. See PRs #69, #200, #280, #301, #3172, #3250, and #3252 for the LiDAR changes.

New and modified classes:
- Bun

[2021-12-06 15:13] jessemapel opened #4705 "Update BundleAdjust and jigsaw for LiDAR"
**Description**

Update BundleAdjust and jigsaw with the changes from the LroLidar_Infrastructure branch. This should include the changes for the LiDAR work, but not the piecewise polynomial work. See PR #69, #75, #200, #280, #301, #3172 and #3250.

[2021-12-06 15:13] jessemapel commented on #4705
This needs to wait for #4703 and #4704

[2021-12-06 15:14] jessemapel commented on #4704
This needs to wait for #4703

[2021-12-06 15:23] jessemapel opened #4706 "Create jigsaw test for bundling with LiDAR data"
**Description**

This can use the ObservationPair fixture once #4609 is fixed.

The test should bundle adjust a LRO NAC pair with LiDAR data and check that:

- [ ] the range constraint is being properly applied
- [ ] the contents of the output LiDAR CSV match the output LIDAR data
- [ ] the format of the output bundleout.txt file is correct
- [ ] the output LIDAR data format is correct for both OL

[2021-12-06 18:16] jessemapel commented on #4703
There's some strange logic to check for "Lidar" in the point ID when working with Lidar points. Maybe this can be changed such as here:

https://github.com/USGS-Astrogeology/ISIS3/blob/LroLidar_Infrastructure/isis/src/control/objs/ControlPoint/ControlPoint.cpp#L935

Instead we can just flag lidar points as constrained.

For right now, I'm just taking this as is but I want to make a note for potent

[2021-12-07 15:49] jessemapel commented on #4702
Lidar data can be queried from here: https://ode.rsl.wustl.edu/moon/indextools.aspx?displaypage=lolardr

[2021-12-07 15:52] bboatwright commented on #4044
This issue has cropped again for me in the last day or so. I've been trying to process CTX images and I get
`**ERROR** The server sent an unrecognized response.` after trying to run `spiceinit web=yes` on the converted image cube.

I'm using the ISIS 3.5.1 build that is installed on Brown University's OSCAR computing cluster: [https://docs.ccv.brown.edu/oscar/system-overview](url)

Up until yester

[2021-12-07 20:23] amystamile-usgs commented on #4439
~~@thareUSGS What is the link for the readme.pdf? Seems that there is no link attached in your comment above.~~

I am guessing this is the link (https://pdsimage2.wr.usgs.gov/Individual_Investigations/multi_galileo_nims_tube.gcube_cahill_2019/document/) but I am having timeout issues when trying to access the site.

[2021-12-08 11:08] matthutt commented on #4044
I have been running into the same issue since yesterday when processing LRO NAC images with ISIS 5.0.1. Running `spiceinit web=true` on my cube I get the same error `**ERROR** The server sent an unrecognized response.`.

Here is my print.prt file:
[print.prt.txt](https://github.com/USGS-Astrogeology/ISIS3/files/7675519/print.prt.txt)

[2021-12-08 17:17] #4203 closed, assigned to gsn9

[2021-12-08 17:22] jessemapel commented on #4203
Closed by #4669

[2021-12-08 18:27] ladoramkershner commented on #4703
@jessemapel I think I agree with you that Lidar should maybe just be a constrained point. Especially since pointid is an optional input in lrolola2isis, so if the user provides anything but pointid=Lidar??? (which is not the default) then this logic breaks.

[2021-12-08 18:46] dpmayerUSGS opened #4710 "MARCI Variable Exposure Table "varexp.tab" Needs to be Updated"
**ISIS version(s) affected**: >= 3.4.9

**Description**
`marcical` references a file in the ISIS data area, "varexp.tab" which contains variable exposure times of MARCI observations. This file is updated in the PDS with each (quarterly) MARCI data release, but there is as of yet no automated process of updating the file in the ISIS data area with the latest one from the PDS.

The copy of "varexp.t

[2021-12-08 19:09] ladoramkershner commented on #4703
I think that is the only comment I have, it is a small comment with possibly large implications, so I don't mean to minimize it.

[2021-12-08 19:13] jessemapel opened #4711 "Modify ControlPoint::ComputeApriori to not key off of "Lidar" in point ID"
**Description**
The LiDAR code keys off of LiDAR points having an ID of `Lidar...` when computing the apriori ground point. Instead we should just label the LiDAR control points as constrained so that they do not get modified. This is also more "correct" as the points are constrained by the LiDAR range observations.

This shouldn't be done until we've validated that the merged LiDAR code is workin

[2021-12-08 19:14] jessemapel commented on #4711
See discussion on #4709 and #4703

[2021-12-08 19:15] #4703 closed, assigned to jessemapel

[2021-12-08 19:18] Kelvinrr commented on #4044
It seems the server just started returning empty responses regardless of the POST request sent, probably not an issue with a change in code and maybe something with the server itself.

Looking into it.

[2021-12-08 20:19] Kelvinrr commented on #4044
Alright, looks like the issue was server related, after changing some configs and a reset it should be back up.

[2021-12-08 20:48] Kelvinrr commented on #4044
@bboatwright @matthutt give it another shot and let me know if you still get the error.

[2021-12-09 08:45] matthutt commented on #4044
No more error when I try again now. Thank you @Kelvinrr!

[2021-12-09 14:55] bboatwright commented on #4044
Works now for me as well, thanks!

[2021-12-09 15:51] jessemapel commented on #4609
This has been fixed. We're now distributing the entire set of SCLKs.

[2021-12-09 15:51] #4609 closed, assigned to gsn9

[2021-12-10 15:15] #4199 closed, assigned to nobody

[2021-12-10 15:15] #3796 closed, assigned to nobody

[2021-12-12 15:14] #4053 closed, assigned to nobody

[2021-12-12 15:14] #3683 closed, assigned to nobody

[2021-12-13 15:00] #4439 closed, assigned to amystamile-usgs

[2021-12-14 12:46] jlaura opened #4715 "Change ISIS DOI and mechanism for pulling a DOI"
**Description**
As an official USGS software release, ISIS is required to have a DOI with a 10.5066 prefix. Right now, Zenodo is being used to mint a DOI which is not in compliance with USGS federal software release requirements.

**Suggested Change**
We have to update the DOI on the project because the project is, to this point, being solely released by USGS employees. Looking at the DOI FAQ, it

[2021-12-14 16:09] rbeyer commented on #4715
I think I come to the same conclusion.  There is a little wiggle room on the [USGS Data Management page](https://www.usgs.gov/products/data-and-tools/data-management/digital-object-identifiers?qt-science_support_page_related_con=0#qt-science_support_page_related_con) about data (software) published elsewhere:

But this is still pretty restrictive and proscriptive overall.

Is the USGS capable of m

[2021-12-14 16:29] jlaura commented on #4715
@rbeyer Right now we are working under a 'we will let it slide' exception for now. I do not know how that exception is going to fly and so we need to get into compliance.

The process of minting a DOI is neither onerous nor automated. I will follow up with the software team for USGS (where these policies are coming from) to see how they envision a setup where non-USGS personnel might be the ones d

[2021-12-14 16:35] rbeyer commented on #4715
Agreed.  That's why I think the future is making software projects like ISIS and ASP and whatever else truly community projects, so that they are not "software released by federal entities" but software that is contributed to by federal workers.  So each contribution is constrained by who the worker is, but the process of release and governance is not a "federal" process, because "the software" is

[2021-12-15 15:46] rbeyer commented on #4499
We have successfully completed "step 2" (percolate).  Should we move to step 3 and swap the order/emphasis in the documentation such that `conda config vars` is preferred over the script?

[2021-12-15 16:15] rfergason commented on #4715
Do we need to mint a DOI for every single ISIS release?  To be compliant with the USGS software release guidelines (understanding that there is discussion above about whether that is the appropriate release process), we must mind a DOI for every major version release (i.e., 3.0.0, 4.0.0, etc.), which to me is a pretty minimal manual load given how often we release a major version.  Do we need to m

[2021-12-15 18:54] michaelaye commented on #4499
Just one question: The `conda config vars` thing doesn't solve the PATH
addition thing, so what do we want to recommend there?

On Wed, Dec 15, 2021 at 8:46 AM Ross Beyer ***@***.***> wrote:

[2021-12-15 19:08] rbeyer commented on #4499
By the "PATH addition thing" you mean steps 5 and 6 in the [Harder mode, with activation script hacking](https://github.com/USGS-Astrogeology/ISIS3#harder-mode-with-activation-script-hacking) section?

If so: no, I don't think it does.

For the purpose of this Issue, I think we're talking about the last sub-section of [ISIS Installation With Conda](https://github.com/USGS-Astrogeology/ISIS3#isis-i