[2021-12-15 20:29] michaelaye commented on #4499
So, with the isisVarInit.py and before writing the "Harder mode" section,
the docs never adviced that the PATH would need to be adapted to make
things work? The older docs must have pointed this out though in some
instructions, didn't they?

On Wed, Dec 15, 2021 at 12:08 PM Ross Beyer ***@***.***>
wrote:

[2021-12-15 20:44] jlaura commented on #4715
I have some wonderful additional guidance from the USGS software release team. As the lead organization for the ISIS project we (USGS) need to ensure that we are following the USGS fundamental science practices, including minting a DOI with the appropriate prefix. The process of performing a release needs to include at least one USGS employee who has access to the systems necessary to meet our Fun

[2021-12-15 20:53] rbeyer commented on #4499
No.  In the "default" situation, the naive ISIS user only uses conda for ISIS, they create a single "isis" conda environment, and whenever they need to "run" ISIS, they activate their isis conda environment, and do what they need to do.

In "easy mode" (using `--stack`) I suppose if you wanted to use ISIS command line programs, you'd also need to mess with the path, but then it isn't "easy" any mo

[2021-12-15 20:59] jlaura commented on #4499
For running with other packages, is this still an issue after https://github.com/USGS-Astrogeology/ISIS3/pull/4634. Hopefully the question does not derail the conversation! I'm just not sure if users will have much reason to use --stack based on previously articulated use cases.

[2021-12-15 21:27] michaelaye commented on #4499
In that case, the default vanilla instructions need to make it explicitly clear that the ISIS environment is only available when the isis conda env is active? As many isis installers have their first experience with conda forced upon them by the isis install, this is not at all clear to the newbie.

I would say there are plenty use cases, as one cannot install ISIS into the personal conda env easi

[2021-12-15 21:48] rbeyer commented on #4715
If we expect users to "do science" and cite ISIS with a minor rev version that isn't a x.0.0 version, then minor revs (and patch revs) need DOIs.  That is what the philosophy that Zenodo supports allows for, and I think we need it.

I suppose having one "DOI authority" for majors, and another for minors and patches would be ... fine, but could be really messy and hard for users to follow or requir

[2021-12-16 01:30] AndrewAnnex commented on #4499
@rbeyer yeah I support advancing to step 3. I'm not sure when I'll get around to doing it myself (possibly will do it as a self distraction in a day or two), so it's fair game for someone else to take on if they want  to

[2021-12-16 15:42] amystamile-usgs commented on #4710
Updated varexp.tab and varexp.lbl in internal data area.

[2021-12-16 15:42] #4710 closed, assigned to amystamile-usgs

[2021-12-16 19:45] campharris opened #4717 "cam2map error with Mini RF monostatic cubes and user defined shapemodel"
**ISIS version(s) affected**:
3.10.0

**Description**
I am trying to map project Mini RF monostatic cubes with a user defined shapemodel instead of the default LOLA DEM (in this case the SLDEM2015).  Spiceinit seems to work fine but when I go to map project cam2map throws the error:

*PROGRAMMER ERROR* angle cannot be non null special pixel

I've tried this with several randomly selected Mini RF c

[2021-12-20 16:03] jessemapel opened #4718 "Add jigsaw example documentation"
**Description**

The Jigsaw documentation is very light right now and does not provide much guidance for how someone can get started with it.

**Suggested Edit**

Add several examples to the jigsaw documentation that show common use cases. Here is a list of examples we should add along with potential data sets:

- [ ] Orbital framing cameras (MDIS)
- [x] Orbital line scan cameras (CTX)
- [ ] Fly-B

[2021-12-20 20:12] scsides commented on #3834
Haven't tested recently, but I am unaware of any work that would have fixed this broken part of the build.

[2021-12-20 22:09] jessemapel commented on #4702
Going to call this closed with #4712

[2021-12-20 22:09] #4702 closed, assigned to ladoramkershner

[2021-12-20 22:10] jessemapel opened #4719 "Migrate lrolola2isis tests to gtest"
**Description**

Modify the lrolola2isis Makefile tests to GTest using a test fixture. It would be good if we can re-use the fixture for #4706 but not required.

[2021-12-21 18:49] jessemapel commented on #4686
Copying over here because I realize I sent this in a private chat:

Look at the code in BundleObservationVector and BundleObservation before #4537

Specifically, BundleObservationVector::addNew and where BundleObservation::initializeExteriorOrientation are being called

[2021-12-22 18:56] michaelaye commented on #4633
I can report that mamba needs the resolver setting `flexible` to find everything, which you set like this:

`conda config --set channel_priority flexible`

In below log you can see how the dependency resolution fails using the other option `strict`, but works fine using `flexible`.
This was on Linux. I can well imagine that on macOS a different package is first found to not be satisfiable due to b

[2021-12-22 18:58] michaelaye commented on #4633
Note that this is maybe not precisely the same issue, as the OP (or a commenter) was able to install using conda and no other settings change. I thought it was worth mentioning though that this setting can break dependency resolution.

[2021-12-24 15:15] #4222 closed, assigned to nobody

[2021-12-28 18:58] scsides opened #4725 "jigsaw command line wrong in gui mode"
**ISIS version(s) affected**: 6.0.0 and up

**Description**
When running jigsaw in GUI mode, after any parameter is modified the command line text at the bottom of the GUI shows "csmsolveset=" even if csmsolveset was not modified.

Additionally, if the command line is then cut and pasted into a script, it will cause an error.

**How to reproduce**
run jigsaw in gui mode
set the input cube list par

[2021-12-28 20:14] ladoramkershner commented on #4719
Completed with the merging on #4723

[2021-12-28 20:14] #4719 closed, assigned to ladoramkershner

[2022-01-02 15:14] #4231 closed, assigned to nobody

[2022-01-02 21:17] evindunn opened #4730 "NUM_CORES should be 4 with new EKS runners"
Right now the maximum number of cores allowed by AWS kubernetes is 4, so Jenkinsfile should reflect that.

https://github.com/USGS-Astrogeology/ISIS3/blob/0ec76e9b9e6ad09fd63ab8239fa9cc88c77fc7b1/Jenkinsfile#L3

[2022-01-03 06:17] evindunn opened #4731 "Move channel_alias in Jenkinsfile"
This has been moved to conda.prod-asc.chs.usgs.gov and builds will likely fail until the Jenkinsfile is updated.

https://github.com/USGS-Astrogeology/ISIS3/blob/0ec76e9b9e6ad09fd63ab8239fa9cc88c77fc7b1/Jenkinsfile#L37

[2022-01-06 15:16] jessemapel commented on #4474
This is still a very valuable enhancement but will likely require significant work and need its own project.

[2022-01-07 16:25] #3877 closed, assigned to scsides

[2022-01-07 21:55] captainrlkirk opened #4740 "GUI history arrows do not work in ISIS 6.0.0 under Big Sur"
**ISIS version(s) affected**: 6.0.0

**Description**
I recently migrated to MacOS Big Sur and did a clean install of the (then) current ISIS 6.0.0.  I now find that the up arrow button in the GUI for various apps does not restore parameter values from previous runs of the same app.  This was working under MacOS Mojave and much older (3.x) ISIS.

**How to reproduce**
Presumably depends on details o

[2022-01-07 22:22] KrisBecker commented on #4740
Hi @captainrlkirk...

I can reproduce the same behavior on my Mac. Turns out the ISIS history directory may not exist. Take a look in `~/.Isis` for a `history` directory. If its not there, create it using `mkdir ~/.Isis/history` and try it again.

[2022-01-09 15:54] captainrlkirk commented on #4740
@KrisBecker  Creating the history directory fixed the problem.  Thanks!

[2022-01-09 15:54] #4740 closed, assigned to nobody

[2022-01-10 17:20] lwellerastro commented on #4414
I'm going to close this issue since there appears to be a fix in place under 5.0.2.

[2022-01-10 17:20] #4414 closed, assigned to nobody

[2022-01-11 04:33] KrisBecker opened #4742 "Build Failure on MacOSX 10.15 - nanoflann"
**ISIS version(s) affected**: 6.0.0+
ISIS source code cloned on 2022-01-10

**Description**
After updating my ISISDATA and ISISTESTDATA areas, I attempted a build of ISIS on my Mac configuration (same as in #4656). A compile error was encounter on cnet2dem which is likely related to nanoflann:

[code]

It appears this is due to a very new release of **[nanoflann](https://anaconda.org/conda-forge/n

[2022-01-11 04:43] KrisBecker commented on #4656
Apologies this has taken so long to confirm. Issue #4742 builds successfully with PR #4743 so I am closing this issue.

[2022-01-11 04:43] #4656 closed, assigned to nobody

[2022-01-11 16:26] KrisBecker opened #4744 "State of ISIS Test Data"
**ISIS version(s) affected**: 6.0.0+

**Description**
Not sure if this is an issue but thought I would let you know results of running ISIS tests on a recent build as described in #4742. Here is the report:

[code]

This seems to be very similar to the reported state as a result of issue #4661.

What concerns me is that it appears as though no new test data exists since 2021-08-04. I confirmed thi

[2022-01-11 16:32] KrisBecker commented on #4742
Well its unfortunate that this fix is buried in what appears to be an unrelated issue.

Wouldn't a separate PR allow the fix to be expedited rather than wait for #4732 to be closed?

[2022-01-11 16:54] jlaura commented on #4742
I rolled it into #4732 because it was a build failure in our CI and was expected to close quickly. ~~For a faster fix, PRs are always welcome.~~

Apologies, I missed the PR! @jessemapel  We could have merged that and then rebased the Jenkins PR. That would have been cleaner for @KrisBecker :smile:

[2022-01-11 19:00] jessemapel commented on #4744
This is concerning. We've got some work coming up to modify some of the tests as we have new runners for CI. It may be a good time to add a Jenkins workflow that auto-syncs test data changes.

[2022-01-12 17:03] jessemapel opened #4745 "Logical Cube Format Docs use wrong PVL end format"
**Description**

The [logical cube format guide](https://isis.astrogeology.usgs.gov/documents/LogicalCubeFormatGuide/LogicalCubeFormatGuide.html) uses the incorrect end keywords for the end of groups and objects in its Cube label PVL examples. Instead of using `EndGroup` and `EndObject` it should use `End_Group` and `End_Object`. For example:

[code]

should instead be

[code]

See the [cube forma

[2022-01-12 17:19] rbeyer commented on #4745
Maybe this should be a separate issue, but in order to follow the PVL / ODL / PDS3 spec, the GROUP, END_GROUP, OBJECT, and END_OBJECT keywords should also be in ALL CAPS.  However, this would require that the parts of ISIS that output PVL-text be fixed to do that, and that all of the parts that consume PVL-text recognize that, which will likely have a large impact on the codebase.

[2022-01-12 17:25] #4730 closed, assigned to jlaura

[2022-01-12 17:25] #4731 closed, assigned to jlaura

[2022-01-12 17:35] jlaura commented on #4742
This was fixed by #4732. Please re-open if the issue persists.

[2022-01-12 17:35] #4742 closed, assigned to nobody

[2022-01-12 17:40] jessemapel commented on #4745
I agree that ISIS doesn't follow any actual PVL format and it would be good to change that. This is more about internal consistency as the docs don't currently match what the actual software produces right now.

[2022-01-12 21:34] #4745 closed, assigned to nobody

[2022-01-12 22:23] jessemapel commented on #4686
This has also been encountered with JunoCam imagery, which is very similar to CaSSIS.

https://astrodiscuss.usgs.gov/t/should-junocam2isis-fullccd-yes-produced-single-band-cubes/797

[2022-01-12 23:22] BrianSwift opened #4748 "junocam2isis multi-band full CCD cube"
**Description**
Modify `junocam2isis` to enable creation of multi-band full CCD cubes.
This would be similar to the current FULLCCD=YES functionality, but the data from each filter would be in a separate cube band. The current implementation places the data from all filters into one cube band.

Could implement as a 3rd value for the FULLCCD parameter (eg, NO, YES, COLOR) or as additional parameter

[2022-01-13 07:20] ndhverma opened #4749 "libprotobuf 3.9.1"
**ISIS version(s) affected**: 4.4

**Description**
<Protoc buffer error>
<[libprotobuf FATAL google/protobuf/stubs/common.cc:68] This program requires version 3.9.0 of the Protocol Buffer runtime library, but the installed version is 3.5.1.  Please update your library.  If you compiled the program yourself, make sure that your headers are from the same version of Protocol Buffers as your link-time

[2022-01-13 15:43] jessemapel commented on #4748
I don't think we can add an extra option to FULLCCD as it's currently a boolean parameter which can use yes/no or true/false for its values. So, it would have to be an additional exclusive option like COLORCCD or something.

[2022-01-13 15:44] jessemapel commented on #2683
This is now working for me as of #4634 which will go out in the next major release.

[2022-01-13 15:44] #2683 closed, assigned to nobody

[2022-01-13 15:48] jessemapel commented on #4749
Can you share your installation environment? You can get it from running `conda info` with your environment active. If it lists your libprotobuf version as 3.5.1, then you can update to 3.9.1 by running `conda install -c conda-forge libprotobuf=3.9.1`

[2022-01-13 15:51] jlaura commented on #4715
I think that we can close this out by updating the release docs to indicate that, when peeling a release that ticks the major or minor version, the USGS software release process must be undertaken including the generation of a DOI. The docs will enumerate the steps required to get that completed. It must be completed by an ASC developer. Then we can remove all Zenodo hooks from the repository so t

[2022-01-13 15:58] jessemapel commented on #4715
It sounds like we need to pull the zenodo hooks now then?

[2022-01-13 16:28] jlaura commented on #4715
We need to pull them before the tag and pull the next release so that we do not generate a Zenodo DOI. Instead, we will generate a USGS approved DOI.

[2022-01-13 16:31] rbeyer commented on #4715
We currently use the .zenodo.json file as the authoritative "author list" that gets pulled into the DOI creation process, and from which our AUTHORS.rst file is created.  What is the DOI DOI (awkward acronym collision) process going to be?

[2022-01-13 16:39] jlaura commented on #4715
We can switch to an Authors.md or similar file since we no longer have a reason to parse a zenodo formatted file. The DOI generation process is publicly described [here](https://www.usgs.gov/software-management/additional-guidance-review-and-approval-scientific-software). The tool to create the DOI is not publicly available.

[2022-01-17 15:15] #3491 closed, assigned to nobody

[2022-01-19 01:27] oleg-alexandrov opened #4753 "ISIS for the Arm Mac"
I wonder if it is planned for ISIS to support Apple's Arm processor, so the osx-arm64 architecture. It appears that there are plenty of conda packages for it, as seen here, https://conda.anaconda.org/conda-forge/osx-arm64/, though likely ISIS may need to be first brought up to speed with more recent versions of these packages before going down that path.

My apologies if this was discussed anywher

[2022-01-19 17:20] dpmayerUSGS commented on #3547
@scsides At this point, would it make sense to revise the issue title to "Remove flipping from `marci2isis`" ?

There are now some more fleshed out issues on specific MARCI support issues (cf. #4619 , #4621, #4635)

[2022-01-19 18:04] jlaura commented on #4753
@oleg-alexandrov No plans at this time because none of the contributing devs on the repo has access to an ARM Mac. We would be happy to see/merge a PR from external contributors that have access to the architecture and could take on ownership of supporting the hardware.

[2022-01-19 18:21] oleg-alexandrov commented on #4753
Thank you for your response. It appears that Amazon offers cloud-based Arm M1 machines. But paying for such cloud service is of course a big additional complication, and likely given the number of dependencies ISIS has, and issues with versions of conda packages, such a port would be a massive undertaking.

Likely this issue will keep on coming up as folks upgrade their Mac machines, so it is good

[2022-01-19 21:30] lwellerastro opened #4754 "Qmos - Latitude Constructor Error"
**ISIS version(s) affected**:5.0.2

**Description**
The following error is encountered when loading a map file asking for Planetographic LatitudeType and grid modifications the first time grid options is chosen (it is super specific and described below).
![qmosError](https://user-images.githubusercontent.com/34550733/150215425-2ea0f999-977b-4e62-b44e-84e86de0b150.png)

**How to reproduce**
Data an

[2022-01-21 02:52] astrostu commented on #3547
I can't comment for @scsides, but my specific requests (now that he's changed the title) are different from the issue he identified.  However, I'll note that the "framelets being flipped = breaking ISIS" issue from roughly ISIS 3.6 is fixed by 3.9.  But I can't comment on the exact issue in the original post above.

[2022-01-21 16:44] jessemapel commented on #4753
I know that conda-forge is working to get everything ready for ARM, but I haven't checked on their status in the last couple months. Since the big dependency update, we should be able to just pull the new builds. Only, Bullet and possibly ALE will require new builds from us.

[2022-01-21 16:55] jessemapel commented on #4754
I think this is solvable by passing the mapping group from the projection to Latitude constructors in MosaicGridTool::onProjectionChaned.

https://github.com/USGS-Astrogeology/ISIS3/blob/dev/isis/src/qisis/objs/MosaicSceneWidget/MosaicGridTool.cpp#L810

Similar to how they are handled in MosaicGridTool::setLatExtents

Related to #3714

[2022-01-21 16:56] jessemapel commented on #4754
@AustinSanders This is a good small ticket for the support sprint. Biggest overhead will be doing the GUI testing.

[2022-01-21 22:00] AustinSanders commented on #4650
@Faom13 I'm going to mark this issue as 'closed' under the assumption that the previous guidance resolved this issue.  If you have any further questions or would like to provide more information, feel free to reopen the issue.

[2022-01-21 22:00] #4650 closed, assigned to nobody

[2022-01-24 17:53] #668 closed, assigned to gsn9

[2022-01-25 15:54] #4561 closed, assigned to nobody

[2022-01-25 15:54] jessemapel commented on #4561
For future reference, you can update by running `conda install -c usgs-astrogeology -c conda-forge isis=x.y.z` and replace x.y.z with the version you want to update to.

[2022-01-25 19:32] AustinSanders opened #4760 "Modify tgocassisrdrgen to include browse keyword information"
**Description**
A new 'browse' keyword has been added to the CaSSIS label archive group, which captures the list of derived browse products for the image.  tgocassisrdrgen should be updated in order to export these references to the respective xml labels.

**Example**
The browse keyword is captured as a list in the following format:
 Browse                       =
(MY36_016957_031_0_RPBwPAN_browse

[2022-01-25 20:07] AustinSanders commented on #3885
@acpaquette Can this be closed per the merge of #4634

[2022-01-27 15:12] jessemapel commented on #4717
What DEM are you using with? We've seen some strange errors with polar DEMs being discontinuous around the pole causing weird behavior in the DEM intersection algorithm, #4420.

[2022-01-27 20:42] campharris commented on #4717
It's the SLDEM2015_256_60S_60N_000_360_FLOAT.IMG (available through: http://imbrium.mit.edu/DATA/SLDEM2015/GLOBAL/FLOAT_IMG/), and the cubes I've been testing are all roughly equatorial so well within the coverage of the DEM.

[2022-01-27 22:01] jessemapel commented on #4717
Can you provide the product ID or a link to the archive for one of the images that this is happening with, or is it happening with every image?

[2022-01-29 00:03] lwellerastro commented on #4717
@thareUSGS is the expert and can fill in gaps, but maybe try running the isis program demprep on <SLDEM2015_pad>.cub (what does _pad mean?).

In order to use a radius shape file via spiceinit, the cube needs to have ShapeModelStatistics on the label and demprep will do that.  This might not be problem, or only part of getting an external DEM into isis properly, but it's a pretty easy thing to try.

[2022-01-29 01:25] campharris commented on #4717
Sorry about the generic labels.  I have already run demprep on the aforementioned SLDEM2015_256_60S_60N_000_360_FLOAT.IMG after converting it into a cube.

The product ID for one of the images I'm working with is is lsz_03305_1cd_xku_17n015_v1.img (also the accompanying label file) which can be found on the PDS: https://pds-geosciences.wustl.edu/lro/lro-l-mrflro-4-cdr-v1/lromrf_0002/data/sar/03300

[2022-01-29 14:16] thareUSGS commented on #4717
@campharris Without testing this first, I would **_guess_** there are some PDS3 label oddities which don't play well during import. If you look at the original PDS3 label (SLDEM2015_256_60S_60N_000_360_FLOAT.LBL), it has

[code]

That is fine, but I'm not sure ISIS is importing it correctly (such that it can be used for a shapemodel). I would try this update and it might help. First update that la

[2022-01-29 17:10] thareUSGS commented on #4717
Yes that appears to be the issue. When reporting the statistics during demprep, ISIS thinks the values are in meters. So the tweak to the PDS3 label above should fix it for ISIS. I tested on the 256ppd SLDEM version (with the label tweak applied) and you should get values like:

[code]

[2022-01-29 22:54] jlaura commented on #4717
@thareUSGS Is this a data issue that ISIS should be handling or an oddity where the label is out of compliance with some specification?

[2022-01-30 19:28] thareUSGS commented on #4717
@jlaura Until Goddard started to distribute their lunar elevation products in 32bit floating point (from scaled 16bit), it was rare to see kilometers used. It is a valid label, although the use of "UNIT = anything" can be rare to find in other labels (although commonly present in Goddard topographic-based labels).

It would be great to support recognizing the UNIT keyword in ISIS. Currently, I'm n

[2022-01-31 15:56] scsides commented on #4717
Reasonably sure ISIS requires all DEMs to be in meters. The offset and scale are fully supported on all bit types other that 32 bit float. There are no supported pixel units.

First guess for a good place to have ISIS support this:
  1) pds2isis - have it save the PDS units in either the Cube Dimensions, or a Band Bin
  2) demprep - have it adjust the the scale and offset so the pixels are meters

[2022-01-31 16:02] scsides opened #4765 "Compile warning on Big Sur"
**ISIS version(s) affected**: 7.0.0

**Description**
Some compile warnings are present in the DEV branch (and others) for builds on Big Sur

isis/src/base/objs/Ransac/unitTest.cpp:11:
/Users/ssides/repos/ISIS3/isis/src/base/objs/Ransac/Ransac.h:140:18: warning: overlapping comparisons always evaluate to false [-Wtautological-overlap-compare]
    if (flag < 1 && flag > 3)

A few more related to the

[2022-01-31 17:14] jessemapel commented on #4765
I also see these issues on Ubuntu18.

we should enable warnings as errors and get all the warnings squashed out when resolving this.

[2022-01-31 17:16] jessemapel commented on #4717
I second Stuart's options and would lean towards demprep being the place to handle this. It is already a part of the ISIS DEM ingestion workflow and makes sense as a good place to add this functionality.

[2022-02-01 15:23] scsides commented on #4765
I agree, although some may not.

[2022-02-02 17:42] shawn-brueshaber opened #4768 "JunoCam SPICE-Image Mismatch in Qview"
ISISv3 running on MacOS Big Sur, Ubuntu 20.04, and Red Hat OS.

**Description**
When attaching SPICE data to JunoCam images via Junocam2isis followed by spiceinit, we have noticed that the backplane data (e.g., lat., long.) as viewed in qview vanish 7-8 pixels away from the image limb boundary.  We don't know if this is an issue within qview or something to do with the SPICE attachment to the imag

[2022-02-02 17:54] jessemapel commented on #4768
Thanks for the bug report, I've got a handful of questions to hopefully dig down on this.

Can you run phocube to generate lat lon back planes on the image to see if this is a qview bug or a camera issue?

Can you also post the label of the spiceinit'd cube so that we can see which SPICE kernels it's pulling in?

Do you see the same or different offsets between filters?

There are 2 likely sources

[2022-02-02 20:04] lwellerastro opened #4770 "Jigsaw -segfaults on cluster when solving for camera accelerations and spacecraft position for Kaguya TC pole and Titan global network"
**ISIS version(s) affected**: 5.0.2

**Description**
Jigsaw will segfault on astro's cluster when solving for camera accelerations and spacecraft position for my very large Kaguya TC south pole network.   There are no error messages associated with the failure on the cluster and although it says a core was dumped, there is none. This happens whether I send a job, run an interactive job, or log on

[2022-02-02 20:23] jessemapel commented on #4256
The changes in #4214 are sufficient for current push frame models in ISIS. If we end up needing higher accuracy in future push frame models we can come back to this.

[2022-02-02 20:23] #4256 closed, assigned to nobody

[2022-02-03 12:14] jlaura commented on #4770
Full job information:
[code]

If this runs in one environment and not another, we are going to need to know the differences between these environment. What OS are both of these machines running? Are the `conda list` outputs identical on both machines?

[2022-02-03 15:01] KrisBecker opened #4771 "Improvements and bug fixes for findfeatures"
**ISIS version(s) affected**: all
findfeatures has FastGeom performance issues as well as a matrix inversion failure that will cause runtime failures

**Description**

findfeature has several bugs that cause runtime failures.

Issues with findfeatures FastGeom may at times cause an invalid matrix which results in an attempt to invert an empty matrix (#4639). The error is trapped and causes the pro

[2022-02-03 15:21] shawn-brueshaber commented on #4768
I ran phocube on JNCR_2021052_32C00023_V01 framelet 25 green filter, on framelet 27 blue filter, and framelet 24 red filter as the lat/long coordinates overlap somewhat between these framelets.  The offset is about the same in all three filters. Interestingly, after running phocube on the green filter, the vanishing back planes improved so that the vanishing info is only 1-2 pixels from the edge i

[2022-02-03 15:46] KrisBecker commented on #4771
[Additional information](https://github.com/USGS-Astrogeology/AstroDiscussions/discussions/4#discussioncomment-2078881) related to this problem exists in the Astrodiscuss forum ([#4](https://github.com/USGS-Astrogeology/AstroDiscussions/discussions/4)) which also includes an analysis report ([findfeatures_analysis_improvements.pdf](https://github.com/USGS-Astrogeology/AstroDiscussions/files/796802

[2022-02-03 16:53] lwellerastro commented on #4770
If you are asking me @jlaura, I don't know the answers.
As I understand it, the job inherits the version of isis when it is executed (conda activate isis5.0.2), but maybe I don't fully understand that either.  I don't live in any other conda environments.  Also, for the most part I am working on a vm IT made available to me last summer - igswzawgvsiplw.  Not sure who can get on that system.  It is

[2022-02-03 17:12] jessemapel commented on #4770
I was able to confirm yesterday that it's running the same conda environment, isis5.0.2 in the shared install. So, the differences will be mainly in the systems libraries that are dynamically linked in. I tried a little last night to check what was getting pulled in on the cluster but couldn't get an interactive session in my short time trying as the cluster was slammed.

Comparing how this is err

[2022-02-03 17:14] jessemapel commented on #4744
I've manually updated the test data, you should be able to pull it and see most of these resolve. These tests will likely still fail as they require Kakadu.

[code]

[2022-02-03 17:20] lwellerastro commented on #4770
Ok, I ran `conda list` for my VM igswzawgvsiplw, astrovm5, and mem1 in two different ways.
The files are under /work/users/lweller/Isis3Tests/Jigsaw/NebSegFault/.

`diff igswzawgvsiplw_condalist.txt mem1_inherit_avlw_condalist.txt`
These are identical. As suspected, when I send a job from my VM to mem1 (or any node), it picks up the submitting HOSTs conda environment.

`diff igswzawgvsiplw_condali

[2022-02-03 17:34] jessemapel commented on #4744
I've also added a cron job to sync the local test data to s3 each morning. I'll close this tomorrow after I can confirm it runs successfully

[2022-02-03 18:12] lwellerastro commented on #4770
And to be clear, I am sending my jigsaw jobs (Kaguya TC and Titan) using a single line send off via sbatch. I have my kaguya job running again via astrovm5 to confirm it doesn't work there (can't tell submit host from job info, there is no print file with this info either), and this is how I run it: (Update: this job failed from astrovm5 as well.)
[code]
If it's of any interest, my Titan network g

[2022-02-03 18:38] acpaquette commented on #4760
@AustinSanders Is there an example RDR that can be used to test this?

[2022-02-03 21:02] AustinSanders commented on #4760
@acpaquette https://pirlwww.lpl.arizona.edu/~rod/sample_cubes_b/ contains some sample data

[2022-02-03 22:25] KrisBecker opened #4773 "ISIS application GUIs will not display after build on MacOSX 10.15 Catalina"
**ISIS version(s) affected**: Unknown

**Description**

After building ISIS on a MacOSX 10.15 Catalina system, none of the ISIS application GUIs would display anything. Every ISIS application ran would show the `exec` window in the dock but nothing would display. Meanwhile, the app would run at 100% and start consuming memory. Had to abort them after running for several minutes as this usage of CP

[2022-02-03 22:47] scsides commented on #3482
Given the concerns listed in the comments above, this change will not be implemented. The issue will be closed. If you have new information please reopen this issue and add your comments.

[2022-02-03 22:47] #3482 closed, assigned to nobody

[2022-02-03 22:53] acpaquette commented on #4773
@KrisBecker Thank you for mentioning this. Some of the devs have known about this for a little while and it has been on our radar since updating to Big Sur. We were waiting for an updated version of qt to be pushed to conda-forge and it looks like 5.15 was pushed about two months ago:

https://anaconda.org/conda-forge/qt-main

You are correct that this is also an issue on Big Sur being a little mo

[2022-02-04 16:34] jessemapel opened #4775 "Update to SPICE toolkit N0067"
**Description**

ISIS is currently using N0066 and should update to N0067 that was released at the beginning of the year

**Example**

Once the conda-forge feedstock is updated to N0067, ISIS should link against the new build.

[2022-02-04 16:48] jessemapel commented on #4775
SPICE toolkit always maintains backwards compatibility, so upgrading shouldn't require any work on our end.

New functionality that we should get for free and will be of interest:

* Support for Mac/M1
* Improved SCLK efficiency
* Support for more time string formats in the Time subsystem
* CK and SPK buffer limit increases
* Many new NAIF IDs

New functionality that will need some investigation t

[2022-02-04 18:12] #3805 closed, assigned to scsides

[2022-02-07 01:00] astrostu opened #4777 "Modify Colors in QNET"
**Description**

It just occurred to me that the colors in QNET of points, crosshairs, selected points, etc. are green or red.  Green/red is the most common form of colorblindness, so a very simple change that would potentially be more inclusive of people who want to use the tool to be able to tell differences between things would be to modify the green to something like a lighter blue, and the re

[2022-02-07 14:56] SRL-UGA opened #4778 "Python requires openssl package that I already have installed."
Hello! I have been at this for hours and am wondering if anyone can help me resolve the issue.

I am trying to install isis on my mac, but I am running into the following error:
Command line:
$ mamba install -c usgs-astrogeology isis

Output:
Looking for: ['isis']

Encountered problems while solving.
Problem: package python-3.6.13-h88f2d9e_0 requires openssl >=1.1.1j,<1.1.2a, but none of the provi

[2022-02-07 18:25] lwellerastro commented on #4777
Not in disagreement here, but if colors are changed in qnet, then they need to be changed in qmos as well since the colors in that app for point (and point type in particular) are identical to qnet settings.

Off the top of my head, colors are as indicated below for qnet and qmos
green - valid Free point
yellow - ignored Free point
fuscia - constrained point
?? - fixed point
red - selected point,

[2022-02-08 01:09] astrostu commented on #4777
As I noted, something to think about, at least, especially as many (several?) of us are trying hard to be better about it when making figures in papers, awareness for this issue is growing.  That's why I was thinking that it might affect all the ISIS GUI applications, though really probably only QNET and QMOS.

There are a gagillion colorscales out there for colorblindness, usually variations on b

[2022-02-08 08:16] scsides opened #4780 "Applications using type file when they should use cube"
**ISIS version(s) affected**: all current

**Description**

Some applications have parameters that are being used as cubes, but are defined as files in their XMLs.
Anytime a cube is referenced by a parameter, the input/output attribute should be available to the user. When a file is
used instead there is no attribute. Some apps like bit2bit provide parameters to  set the output bit type and thus a

[2022-02-08 16:24] lwellerastro commented on #4777
`That's also why it might be something that could be set in ISIS Preferences, there could be two built-in color schemes that the user could choose between and the GUI application would read that upon startup`

I would prefer something like this as I have been working the current colors for well over a decade and have depended on the fact that yellow means ignored, etc..  Plus we have countless pub

[2022-02-08 16:53] acpaquette commented on #4778
Hello! This has been an issue with the ISIS installation process for a variety of ISIS versions going back. It has to do with the ISIS dependencies not being pinned quite right so dependency resolution can be an issue.

My two immediate recommendations with your install command are to specify the version of ISIS that you want to install like so:
`mamba install -c usgs-astrogeology isis=X.Y.Z`

Tha

[2022-02-09 01:42] KrisBecker commented on #4744
I updated my test data area today so I thought I would post differences:

[code]

[2022-02-09 05:33] KrisBecker commented on #4744
And here is the result of my run of `ctest`:
[code]

[2022-02-09 17:19] #4760 closed, assigned to acpaquette

[2022-02-09 17:28] acpaquette commented on #4684
@jlrizos This has been fixed as of #4670 but an ISIS release with the fix has yet to be released. The fix was introduced in our 6.2.0 sprint but a release wasn't made with the fix. We are working on getting a 7.0.0 release candidate out at the end of our current sprint (this Friday) so that release candidate should contain the fix.

There is a work around for versions of ISIS < 7.0.0, mainly speci

[2022-02-09 17:28] #4684 closed, assigned to acpaquette

[2022-02-10 01:05] SRL-UGA commented on #4778
Thank you for the help. I actually installed it using conda instead of mamba, and the installation process went by pretty quickly, and everything seems to work so far!

[2022-02-10 06:15] michaelaye opened #4786 "README.md has formatting issues"
**ISIS version(s) affected**: all

**Description**

The README on Github has formatting issues (7.1 under 8. etc.) as it is not following Markdown rules for auto-formatting.

**Possible Solution**
I fixed it in upcoming PR.

[2022-02-10 12:50] jlaura commented on #4778
@SRL-UGA Terrific to hear. Please reopen if you have any issues with installation or open a new issue if something else crops up!

[2022-02-10 12:50] #4778 closed, assigned to nobody

[2022-02-10 15:51] jlaura commented on #4685
I am seeing this as well if I blob dump an isis footprint. The difference here is that the nulls are prepended to the data. So the file looks like this:

PVL HEADER
NULLS  <-------------- why?!?!?
ASCII

[2022-02-10 19:09] jessemapel commented on #4744
I can confirm that the cron job to sync the test data to s3 each morning is running correctly now. @KrisBecker The errors you are still seeing are already documented in #4666 and we're working on getting them fixed. Once the test data gets updated, it should automatically become available the next day.

[2022-02-10 19:09] #4744 closed, assigned to jessemapel

[2022-02-11 17:06] #4786 closed, assigned to nobody

[2022-02-11 17:06] #4686 closed, assigned to jessemapel

[2022-02-11 17:12] jessemapel commented on #3834
See #4794 for context on re-open

[2022-02-11 18:32] jessemapel commented on #3711
Fixed by #4793

[2022-02-11 18:32] #3711 closed, assigned to scsides

[2022-02-12 16:47] rbeyer commented on #1300
Three years later, images on the Example tab at https://isis.astrogeology.usgs.gov/Application/presentation/Tabbed/hidestripe/hidestripe.html remain, broken.

[2022-02-14 16:22] #3600 closed, assigned to acpaquette

[2022-02-14 22:41] artmathgirl opened #4800 "keywords.lis differences from socetlinescankeywords in ISIS 6.0"
**ISIS version(s) affected**: 6.0.0

**Description**
We are testing ISIS 6.0.0 and have noticed some differences in the keywords.lis files that socetlinescankeywords generates, compared to those from ISIS 4.3.0. See attached for examples. Almost all the values are different, but we note that most differences are less than 10e-8 in magnitude. Is that small enough to be considered insignificant?

Th

[2022-02-15 09:49] valemercurii opened #4801 "openssl error when installing ISIS with mamba"
Hi,
I'm not sure whether this is the right place to ask but, I have installed Ubuntu 20.04 WSL on Windows 11 and when trying to install isis with `mamba` I get the following error:
[code]
Does anyone of you know how to solve this?

EDIT: I solved it by installing isis with `conda`, however, the above problem remains.

Thanks for your help,
Vale

[2022-02-15 13:20] jlaura commented on #4801
@valemercurii What does your installation command look like? I suspect `mamba install isis` and not `mamba install isis=6.0.0`?

[2022-02-15 13:23] valemercurii commented on #4801
@jlaura Yes, I used simply `mamba install -c usgs-astrogeology isis` as written in the instructions section

[2022-02-15 13:33] jlaura commented on #4801
@acpaquette @Kelvinrr @jessemapel @scsides @AustinSanders

It looks like the installation is not trying to get the latest version of ISIS unless the version is explicitly specified? If that is correct, can we please update the installation instructions and/or fix the package uploads so that mamba install isis gets the latest version

[2022-02-15 19:11] scsides commented on #4801
This looks like I caused it with an upload that isn't properly marked as RC. I'll fix it.

[2022-02-15 23:08] AustinSanders commented on #4701
Until more information is made available, this does not appear to be a workable issue.  I'm closing this issue for now, but feel free to reopen with additional context.

[2022-02-15 23:08] #4701 closed, assigned to nobody

[2022-02-15 23:55] lwellerastro opened #4803 "Missing Camera model (?) for MEX SRC data"
**ISIS version(s) affected**:5.0.2

**Description**
Mars Express SRC IMG files run through hrsc2isis and spiceinit are successful, however there is no camera/geometry information for the resulting ISIS cubes.

There is no lat/lon information displayed via qview.
camstats reports NULL for everything.
Footprintinit errors with "No lat/lon data found for image in ImagePolygon.cpp at 547".
There's sim

[2022-02-16 07:11] scsides commented on #4801
The offending file has been removed, but a test install of 6.0.0 is failing with the same error. Still looking into the cause.

[2022-02-16 13:58] FrejaThoresen opened #4804 "rsync fails to connect to isisdist.astrogeology.usgs.gov"
**ISIS version**: 4.4.0
**rsync version**: 3.1.3

**How to reproduce**

rsync: failed to connect to isisdist.astrogeology.usgs.gov (184.164.152.106): Connection refused (111)
rsync error: error in socket IO (code 10) at clientserver.c(127) [Receiver=3.1.3]

**More info**: The installation with mamba failed, so I have installed ISIS with conda instead.

[2022-02-16 15:04] volcanopele opened #4805 "Spiceinit issues with ISIS cube DEMs with 7.0 RC1"
**ISIS version(s) affected**: 7.0.0 RC1

**Description**
Spiceinit produces errors when using a cube DEM is used as the shape model. The error in the terminal looks like this:

`Error                    = "An unknown NAIF error has been encountered. The
                              short explanation provided by NAIF is
                              [SPICE(UNKNOWNFILARC)]. The Naif error is [The

[2022-02-16 15:15] #4299 closed, assigned to nobody

[2022-02-16 15:16] volcanopele commented on #4805
Tested spiceinit with a CTX image, J18_051828_191_XI_19N081W, with a very simple spiceinit command:

`spiceinit from=J18_051828_191_XI_19N081W.cal.cub`

and I got the same error as before.

[2022-02-16 15:42] jlaura commented on #4237
@acpaquette Can we get this change pulled in under the dependency management work? The RFC has been accepted, so we can remove Kakadu an replace it with OpenJPEG. I do not have a good feel for the overall scope of work.

@Kelvinrr Did you do some work on this too?

[2022-02-16 18:12] AustinSanders commented on #4800
@artmathgirl  These differences are very small, and they are small enough that they could potentially be considered insignificant, but it's still somewhat odd that we're seeing them.

They might be insignificant, but it's something that I'd like to look into just to verify that there's nothing weird going on.  Can you supply the .cub files used up to this stage in the pipeline?

[2022-02-16 19:31] artmathgirl commented on #4800
Here is a link where you can download the .cub file and the .prt file if that helps. https://pirlwww.lpl.arizona.edu/~ssutton/keywords/

[2022-02-17 16:00] jessemapel commented on #4775
N67 support in the cspice feedstock has started with this PR https://github.com/conda-forge/cspice-feedstock/pull/29

We should start seeing it coming in new conda builds and installs.

[2022-02-17 18:33] astrostu opened #4810 "MAP2MAP with Tracking Layer Doesn't Work Properly"
**ISIS version(s) affected**: 6.0.0-

**Description**
After map-projecting a mosaic that has an additional _tracking.cub file, the _tracking.cub will not itself map-project to the new projection and QVIEW will not properly map back to it.

**How to reproduce**
I was examining a mid-latitude mosaic that I had constructed with AUTOMOS with track=true.  Mid-latitudes in equirectangular projection hav

[2022-02-17 19:08] astrostu commented on #4810
With the above context in mind, I think I have successfully "hacked" a fix for this:  I used COPYLABEL to copy the mapping group from the image cube into the tracking cube, and then I MAP2MAP'd the tracking cube.  Backup the original files to something like .bak.cub, rename the map-projected files to the original names, and it seems to work.  The renaming is needed unless (I assume— I didn't check

[2022-02-18 13:16] jlaura commented on #4390
I am again working on processing data and seeing this issue crop up. Instead of opening a new, active issue, I am going to reactivate this one.

@AustinSanders How do you want me to label this so that it percolates for a support sprint?

[2022-02-18 15:15] #4302 closed, assigned to nobody

[2022-02-18 18:58] AustinSanders commented on #4390
@jlaura I normally use milestones to indicate that an issue should be included in the next support sprint.  If it's not clear which milestone should be used next (7.1.0 or 7.0.1), then we can also just include it in the continuous support board.  Those issues are always considered for next dedicated sprint.

[2022-02-18 19:57] AustinSanders commented on #4805
I'm having trouble reproducing this behavior on 7.0.0_RC1 (macOS BigSur 11.6.4).

<img width="1076" alt="Screen Shot 2022-02-18 at 12 51 40 PM" src="https://user-images.githubusercontent.com/3751180/154752128-a207da6a-b032-4921-8e7a-40a8a6aed097.png">

@volcanopele Can you verify that the process included in the screenshot accurately mirrors the process that led to the error you're experiencing?

[2022-02-18 20:51] volcanopele commented on #4805
For just my quick and easy test with a CTX image, those were the commands I used. The kernels used looks the same except for a slightly different SPK was used for MRO.

I'm not sure of the exact operating system of the system the CaSSIS pipeline runs on but it uses the Linux x86_64 version of ISIS 7.0. My tests with a CTX image were run on my office computer (same backend data files, but using mac

[2022-02-18 20:52] acpaquette opened #4813 "Noproj doesn't clean up all files"
**ISIS version(s) affected**: 6.0.0 and Up

**Description**
As initial pointed out by @KrisBecker in #4808 there are various files that the Noproj application doesn't clean up after completion. This is likely due to not every file being accounted for when we go to remove various files that are created.

**How to reproduce**
The behavior seems to stem from auxiliary tables that are created by the m

[2022-02-18 22:39] Melcore79 opened #4814 "ascii2isis doesn't write out in BSQ order, either as default or when told explicitly"
**ISIS version(s) affected**: 4.1.1

**Description**
The online manual says ascii2isis has the ORDER option default to BSQ. However, it actually writes it out as a tiled product. Additionally, specifically indicating ORDER=BSQ still writes the cube out as a tiled product.

**How to reproduce**
ascii2isis from=tmp.txt to=tmp.cub samples=1821 lines=1821 ORDER=BSQ

**Possible Solution**
For a workaro

[2022-02-21 16:51] volcanopele commented on #4805
I'm working on trying to replicate this issue on my local system this morning. One quick question, the readme uses the following command for creating the ISIS environment:

`conda create -n isis python=3.6`

This has always worked fine for install ISIS but it is clear that 7.0.0 requires 3.7 or greater (due to protopuf from what I could tell). I requiring a specific version of Python still require

[2022-02-21 19:15] volcanopele commented on #4805
I re-re-installed ISIS 7.0.0 with python 3.9.10. I also found that I was missing a dependency, as I didn't have XQuartz on my local system. That caused issues with ISIS finding libGL.1.dylib. that's now resolved.

I found that I couldn't replicate the Spiceinit issue on my local system. Spiceinit ran fine with both the default shape model for Mars, $base/dems/molaMarsPlanetaryRadius0005.cub, and t

[2022-02-22 18:32] volcanopele commented on #4805
This problem was fixed on our end with a reinstallation of the release candidate. This issue can be closed.

[2022-02-22 19:41] jlaura commented on #4805
@volcanopele Thanks for sticking with this and documenting everything! Was the fix to specify a specific version of python or were the vanilla installation instructions good and a re-install fixed something else?

[2022-02-23 16:16] #4805 closed, assigned to AustinSanders

[2022-02-24 21:27] lwellerastro opened #4816 "hrsc2isis does not propagate original label to output for summed images"
**ISIS version(s) affected**: 5.0.2

**Description**
catoriglab fails for HRSC CCD line detector images which contain the keyword MACROPIXEL_SIZE in the IMG file which is translated to the Summing keyword when ingested into ISIS.  These are images having Detector Id's similar to MEX_HRSC_NADIR and MEX_HRSC_RED and so on.

On the other hand, catoriglab run successfully for HRSC SRC images which do

[2022-02-24 21:41] lwellerastro opened #4817 "caminfo - no warning/failure for images with missing original label"
**ISIS version(s) affected**: 5.0.2

**Description**
caminfo does not throw a warning or error message when originallabel=true and the image has no original label information.

**How to reproduce**
See data under /work/users/lweller/Isis3Tests/Caminfo/OrigLabel/

`caminfo from=HI395_0000_ND2.lev0.cub originallabel=true geometry=true to=info.pvl`

The output file only contains the geometry informat

[2022-02-25 01:49] taoyu17 commented on #4044
Hi folks, the same issue has just happened to me with LRO NAC images using web=yes.
**ERROR** The server sent an unrecognized response [3c73706963655f646174613e0a20203c61707.......

I have not seen a definite answer but is this a spice server issue which requires just some patience?

Also, does anyone know how large disk space is needed to download the whole LRO kernels? I only have about 10 GB sp

[2022-02-25 11:43] matthutt commented on #4044
@taoyu17, I have just tried it and `spiceinit web=true` is working fine for me with NAC images. I hope that this gets resolved for you, though.

`rsync --dry-run --stats` tells me the LRO kernels are 260GB (but it says the data for all missions is 793GB, and the ISIS docs say 520GB, so maybe 170GB is more accurate for LRO?). I have not performed this download myself (I am likewise subject to disc

[2022-02-25 12:57] taoyu17 commented on #4044
@matthutt Thanks a lot! Yeah spiceinit is now working again this morning so there was a server issue I believe. Thank you so much also for the command to calculate the downloadable size!

[2022-02-28 17:47] lwellerastro commented on #4581
I am trying to use the new functionality that is available via isis7.0.0-RC1, but I'm not seeing how to do so.

Additionally, when I have tried to search for a filename on the right measure by typing where the current loaded filename is, the program seg faults.

Possibly related to https://github.com/USGS-Astrogeology/ISIS3/issues/4818 and https://github.com/USGS-Astrogeology/ISIS3/issues/4819

[2022-02-28 18:39] lwellerastro opened #4818 "Qview - Seg Faults under isis7.0.0-RC1"
**ISIS version(s) affected**: isis7.0.0-RC1

**Description**
Qview will seg fault when a user tries to do anything in an active window - zoom in by dragging a box, scrolling using the scroll bars, etc.

The following was captured from the launching shell:
[code]

**How to reproduce**
It appears any image will do (level 1, mosaic, etc.).  Try to zoom to 1:1, stretch, etc.  Might take a second, but

[2022-03-01 00:00] acpaquette opened #4819 "ISIS 7.0.0_RC1 Install Issues"
**ISIS version(s) affected**: 7.0.0_RC1

**Description**
Issues installing ISIS 7.0.0_RC1, likely due to dependency changes/updates

**How to reproduce**
conda create -n isis_test -c conda-forge -c usgs-astrogeology -c usgs-astrogeology/label/RC isis=7.0.0_RC1

**Possible Solution**
It seems like the underlying issue is with aom/ffmpeg. Where aom needs to be made an explicit dependency to ffmpeg

[2022-03-01 00:03] acpaquette commented on #4818
@lwellerastro this is may be related to #4773 and other issues with updating to new mac hardware. Is this on a linux machine or mac? So far we have only seen issues on the macs but that is the only platform that we have really tested on

[2022-03-01 00:10] lwellerastro commented on #4818
@acpaquette - sorry I failed to specify.  This is on the internal astrovm's, so linux.

[2022-03-01 15:29] jessemapel commented on #4814
Looking at the code, it appears there is poor documentation about what the `ORDER` argument actually is. It is not the storage format of the output Cube, but the storage format of the input ASCII file.

If you want to change the storage format of the output file the easiest way is to use attributes on the output:

[code]

We should probably update the application docs to make this more clear as it

[2022-03-01 15:32] Melcore79 commented on #4814
Ah that makes sense. Thank you!

John Weirich

[2022-03-01 19:14] #3834 closed, assigned to gsn9

[2022-03-02 06:06] Anirbanm0101 opened #4820 "Protobuf 3.9.1 error while installing ISIS"
While installing ISIS, I am encountering a protobuf error. I already have protobuf installed in my system. A screenshot of the error message is pasted below.
![Capture8](https://user-images.githubusercontent.com/99262949/156303821-ba968191-8028-4513-a668-0cc68a4a80ce.JPG)
In the screenshot, one can see that protobuf 3.9.1 is already available in my system but I am still getting this error.

[2022-03-02 14:18] jessemapel commented on #4820
Make sure that you pass conda-forge as channel in your install command `mamba install -c usgs-astrogeology -c conda-forge isis` We're also seeing a lot of discrepancy between mamba and conda solves which is concerning. So if that doesn't resolve it, also try `conda install -c usgs-astrogeology -c conda-forge isis`

[2022-03-02 17:41] #4649 closed, assigned to AustinSanders

[2022-03-03 06:50] Anirbanm0101 commented on #4820
Thanks a lot. I tried to install it again using mamba while passing the conda-forge as channel but I was still getting the same error. But I was able to install it using conda while passing conda-forge as channel.
So, I am closing this issue as it is resolved.

[2022-03-03 06:50] #4820 closed, assigned to nobody

[2022-03-03 14:58] Anirbanm0101 opened #4822 "Error in cam2map while processing MARCI images"
I am trying to process MARCI image using ISIS. I downloaded a single MARCI image from PDS to check whether ISIS was properly working or not. I wrote a simple c shell script for this processing (available here:https://github.com/Anirbanm0101/marci_isis/blob/main/marci_all.csh). I encountered some errors there. So, I decided to check the functions one by one to find the check the error.

At first, I

[2022-03-03 15:10] jessemapel commented on #4822
You're going to need to download some of the MARCI spice data to make this work. It's mostly the smaller files and not the big SPKs and CKs so it should be small. It's <1 GB of data total.

So, to get the variable exposure duration table run this

[code]

Next we need to grab the kernels we want

[code]

That should solve you're problem.

I'm surprised the camera model is trying to load the kernel

[2022-03-03 16:46] astrostu commented on #4619
Might be stale, but needs to be checked.

[2022-03-04 13:22] Anirbanm0101 commented on #4822
I already had the mro specific data before beginning the image processing by running the first command. Still, I was getting the warning. I think the exposure duration per framelet was constant and thus the program didn't find any variable exposure.

I thought that all of the kernels from SPICE system were needed. So, I mentioned the total size of the data. When I grabbed only the selected kernels

[2022-03-04 14:48] jessemapel commented on #4822
MARCI and CTX use very different camera models, so I'm not surprised that the CTX data didn't require any extra spice. Most camera models do not require local SPICE kernels, but there are a handful that require things like local instrument kernels to do certain operations. I'm not very familiar with the MARCI camera model so I can't explain why, but that's just how it was written. We're currently

[2022-03-04 14:48] #4822 closed, assigned to nobody

[2022-03-04 15:35] thareUSGS opened #4823 "updating CART to a more recent version (1B00 and higher), ideally the latest "H" or soon "I"."
https://github.com/USGS-Astrogeology/ISIS3/blob/916d3fe1610c00c53723d1c603d4e73b9db82c41/isis/appdata/export/mappingGroup.tpl#L38

There was a breaking change in 2019 to replace the confusing and really non-sensical keywords "semi_major_radius" (and others). THe use of "semi_major_radius" implies  "half of a half" by using "semi" and "radius" in the same name. Bad form.

These updated keywords als

[2022-03-05 01:26] scsides opened #4826 "lowac2pds FROMLIST defined as a cube"
**ISIS version(s) affected**: all

**Description**

The lowac2pds.xml file defines FROMLIST as a cube. It should be a file. NOTE: the cpp will need to be changed to GetFileName at the same time

**How to reproduce**

**Possible Solution**

**Additional context**

[2022-03-05 05:52] oleg-alexandrov commented on #4638
This was closed without an explanation. The explanation is here: https://github.com/USGS-Astrogeology/ISIS3/issues/4684.

I can confirm that:

dawnfc2isis from=FC21B0004011_11224024300F1E.IMG to = FC21B0004011_11224024300F1E.cub target=VESTA

spiceinit from = FC21B0004011_11224024300F1E.cub

works (so, add target=VESTA), and the resulting images are usable with stereo. Now, creating a CSM file fro

[2022-03-07 18:04] acpaquette commented on #4819
This has been resolved with some updates to ISIS dependencies and the release of a new ISIS 7.0.0 RC1 build

[2022-03-07 18:04] #4819 closed, assigned to nobody

[2022-03-07 18:18] acpaquette commented on #4818
@lwellerastro with the install problems fixed up, time permitting, could you try to replicate this issue? It will help determine if this is a qt issue or an issue that was specific to the initial build of 7.0.0 RC1. I have updated the 7.0.0-RC1 anaconda env in the linux machines to use the new build

[2022-03-07 18:28] lwellerastro commented on #4818
@acpaquette - I can't run qview on the astrovm's

[code]

I get no return when I check my environment for ISIS
`printenv |egrep ISIS`

Here's what conda looks like:
[code]

[2022-03-07 18:39] acpaquette commented on #4818
@lwellerastro Apologies, forgot a step when setting up the environment. Now try it out

[2022-03-07 18:53] lwellerastro commented on #4818
Thanks @acpaquette, unfortunately, it still crashes and produces a stream of libQt5 errors as in the original post.

[2022-03-08 16:56] ladoramkershner opened #4830 "Outdated Environment and Preference Setup"
**Description**
isis/src/docsys/documents/EnvironmentAndPreferencesSetup/EnvironmentAndPreferencesSetup.xml is out of date
See:
https://github.com/USGS-Astrogeology/ISIS3/blob/47c3ea41960669e2ce4b4761cb59dea1b0d301c5/isis/src/docsys/documents/EnvironmentAndPreferencesSetup/EnvironmentAndPreferencesSetup.xml

Thanks!

[2022-03-08 16:58] ladoramkershner opened #4831 "ISIS Preference Dictionary should be updated with CSM information"
**Description**
https://github.com/USGS-Astrogeology/ISIS3/blob/47c3ea41960669e2ce4b4761cb59dea1b0d301c5/isis/src/docsys/documents/PreferenceDictionary/PreferenceDictionary.xml is out of date and needs to be updated with what's been added to the preferences file.

Thanks!

[2022-03-08 17:20] ladoramkershner opened #4832 "Importing Mission Data Documentation Outdated"
**Description**

https://github.com/USGS-Astrogeology/ISIS3/wiki/Locating_and_Ingesting_Image_Data#Importing-Mission-Data-
Needs to be updated

**Suggested Edit**

Thanks!

[2022-03-10 15:39] jessemapel opened #4836 "Test Data Wiki docs are out dated"
**Description**

The https://github.com/USGS-Astrogeology/ISIS3/wiki/Test-Data-Obtaining,-Maintaining,-and-Submitting page is very out of date, in particular with the new S3 based test data. This is an important piece of documentation for external contributors and it would be good to get it updated.

**Suggested Edit**

In particular:

- The rsync instructions on the page are no longer functional

[2022-03-10 16:13] jessemapel opened #4838 "Split current PR template into multiple templates"
**Description**

Since our initial PR template, GitHub has greatly improved their PR template support. We should split the current PR template into multiple templates to help stream-line the checklist/PR process. Right now there are several things that are only applicable to certain types of pull requests. Similarly, with our new Bug fix auto-cherry pick action, we want to make sure every bug fix

[2022-03-10 22:45] scsides opened #4840 "isis2std 8 bit tiff output not correct range"
**ISIS version(s) affected**: 3.10.2

**Description**
When I convert a 32-bit isis file to tiff 8-bit the tif file values
range from 6 to 255, not 0 to 255.

I used stretch to first put the pixel values in the range 0-255. I can
look at the stretch output and see the zero values. When I look at the
output tif file from isis2std what was 0 is now 6. I suspect there is a
reservation system for speci

[2022-03-11 06:14] scsides opened #4842 "spkwriter and ckwriter FROM parameter should be a cube"
**ISIS version(s) affected**: 7.0.0

**Description**

The FROM parameter for spkwriter and ckwriter are set to a FILENAME instead of a CUBE like it should be.

**How to reproduce**

Look at spkwriter.xml and ckwriter.xml FROM parameter

**Possible Solution**

Convert FROM to a CUBE, also change the code from GetFileName to GetCubeName

**Additional context**

[2022-03-11 21:11] AustinSanders commented on #672
Closed as of #4589

[2022-03-11 21:11] #672 closed, assigned to tgiroux

[2022-03-14 15:18] ladoramkershner opened #4844 "Duplicate "Removing Stripping" Documentation"
**Description**

https://usgs-astrogeology.github.io/ISIS3/The_Power_of_Spatial_Filters.html#Removing-Striping-Noise
and
https://usgs-astrogeology.github.io/ISIS3/Removing_Striping_Noise_from_Image_Data.html
are the same documentation.

**Suggested Edit**

Double check no information would be lost in deleting the sections from The Power of Spatial Filters, then remove

Thanks!

[2022-03-14 21:04] ladoramkershner opened #4845 "Release Schedule is out of date"
**Description**

https://github.com/USGS-Astrogeology/ISIS3/wiki/Release-Schedule
Only goes up to 5.2.0 and as of today we are on isis7.0.0_RC additionally, I think we slowed down the release process as requested by the ISIS TC? (Do not quote me on that).

**Suggested Edit**

Thanks!

[2022-03-15 15:03] #3934 closed, assigned to nobody

[2022-03-16 15:55] jessemapel commented on #4801
This sort of behavior has been identified as working as expected for conda. So, there's nothing we can do as conda will always prefer older versions with fewer dependencies.

https://github.com/conda/conda/issues/2011

[2022-03-16 15:55] #4801 closed, assigned to nobody

[2022-03-17 10:39] ldx119 opened #4848 "**ERROR** PVL keyword [class] does not exist in [Group=Error]"
**ISIS version(s) affected**: x.y.z

**Description**

when I use the mocproc ,it tells me the error.
**ERROR** PVL keyword [class] does not exist in [Group=Error]

**How to reproduce**

**Possible Solution**

![61a0f082a0cbc05be6c4d7f1c70591e](https://user-images.githubusercontent.com/100507049/158791772-2b6f409a-95f4-4cce-9e00-53919b8b2739.jpg)
![61a0f082a0cbc05be6c4d7f1c70591e](https://user-imag

[2022-03-17 14:32] jessemapel commented on #4848
Can you indicate what version of ISIS you are running. Also, can you try running moc2isis directly on the image and seeing what error that produces?

[2022-03-17 20:21] ladoramkershner commented on #4832
It is missing data serving locations like ESA, JAXA, Annex, and the small bodies node.

[2022-03-17 20:59] ladoramkershner opened #4854 "Learn About Map Projections page is missing interactive demonstrations"
**Description**

All demonstrations are missing on https://github.com/USGS-Astrogeology/ISIS3/wiki/Learning_About_Map_Projections

See:
https://github.com/USGS-Astrogeology/ISIS3/wiki/Learning_About_Map_Projections#Interactive-Planetary-Radii-Demonstration-
https://github.com/USGS-Astrogeology/ISIS3/wiki/Learning_About_Map_Projections#Interactive-Planetocentric-and-Planetographic-Demonstration-
ht

[2022-03-17 21:25] ladoramkershner commented on #4830
- 'Unix Setup' Section needs to get deleted
- Needs to include a high level explanation of the IsisPreference files
- Needs to include a description of how the tiered preference files work
- For all other details point to ISIS Preference Dictionary

[2022-03-17 21:28] ladoramkershner opened #4855 "Create Lunar Reconnaissance Orbiter Overview Page"
**Description**

We have great overview documentation for the [Mars Recon Orbiter](https://github.com/USGS-Astrogeology/ISIS3/wiki/Working_with_Mars_Reconnaissance_Orbiter_(MRO)_Data), [Mars Global Surveyor](https://github.com/USGS-Astrogeology/ISIS3/wiki/Mars_Global_Surveyor_Mission), [Mars Viking Orbiter](https://github.com/USGS-Astrogeology/ISIS3/wiki/Viking_Orbiter_Mission), and the [Cassini-H

[2022-03-17 21:58] jessemapel commented on #4185
Candidate for future doc work

[2022-03-17 23:07] ladoramkershner opened #4857 "Isis Cube Format Repeat Information"
**Description**

I get "ISIS Cube Format" page is an introduction to cubes, but the ["Bit Type Basics" section](https://usgs-astrogeology.github.io/ISIS3/ISIS_Cube_Format.html#Bit-Type-Basics) is a duplicate of the information on the "Understanding Bit Types" page ["Bit Type Basics" section](https://github.com/USGS-Astrogeology/ISIS3/wiki/Understanding_Bit_Types#Bit-Type-Basics-). Same thing with

[2022-03-17 23:22] ladoramkershner opened #4858 "Shape Model section in SPICE documentation needs to be completed"
**Description**

https://github.com/USGS-Astrogeology/ISIS3/wiki/SPICE#Shape-Model- is empty

**Suggested Edit**

[2022-03-18 00:52] ldx119 commented on #4848
OK.My IsisVersion is =“6.0.0 | 2021 -8 -31
<img width="362" alt="moc2isisError" src="https://user-images.githubusercontent.com/100507049/158916909-97b6c2f0-6b05-4188-a7af-8133d390331b.png">
”

[2022-03-18 15:26] jessemapel commented on #4848
It looks like you need to download the base data area. See [here](https://github.com/USGS-Astrogeology/ISIS3/blob/dev/README.md#partial-download-of-isis-base-data)

Also check to make sure you have your environment variables setup properly after you get the base data downloaded.

[2022-03-18 16:54] #4704 closed, assigned to jessemapel

[2022-03-18 17:47] ladoramkershner opened #4860 "Image Registration Document is not helpful"
**Description**

https://github.com/USGS-Astrogeology/ISIS3/wiki/Image_Registration read like a really bad introduction.

**Suggested Edit**

I think this documentation is a great opportunity to give  an overview and a WHY of image registration (why would we want to do something like register two image, **conceptually** what is the process). A good amount of detailed information is given on two ot

[2022-03-18 17:53] ladoramkershner opened #4861 "Add 'Hand-Ground' (Qview method) to Multi Instrument Registration Documentation"
**Description**

https://github.com/USGS-Astrogeology/ISIS3/wiki/Multi-Instrument_Registration talks about registering high-resolution images to ground truth lower resolution data using autoseed, pointreg, deltrack, and/or jigsaw. However, in the building we do a lot of ground image registration by hand. I have a procedure written for this in my AP15 mosaic work, but could clean it up an possibly

[2022-03-18 18:23] jessemapel opened #4862 "Update Beginner ISIS Programming Exercises"
**Description**

The first set of programming exercises are out of date and have not been updated since the transition to Anaconda and CMake.

**Suggested Edit**

* The setup section needs to be re-written, removed, or just point to the build instructions.
* References to ISIS3 need to be changed to just ISIS
* The Getting familiar with ISIS section can be removed or refined to just look at a smal

[2022-03-18 18:26] jessemapel opened #4863 "Update Advanced ISIS Programming Exercises"
**Description**

The [advanced programming exercises](https://github.com/USGS-Astrogeology/ISIS3/wiki/Exercises_2) are very out of date and need to be updated and refined to better fit the new documentation structure.

**Suggested Edit**

* Change old make commands to the new CMake build setup
* Testing needs to be updated to goolgetest
* Instead of recommending functors suggest lambdas with captu

[2022-03-18 18:56] jessemapel opened #4864 "Document Testing Requirements"
**Description**

Right now, we just say that everything needs to have tests. We need to be more specific about what is required.

**Suggested Edit**

For example:

- What is required for new app arguments?
- When is it required to port legacy Makefile tests to googletest?
- When is it okay to update test data?
- Unit test requirements vs functional test requirements
- What should actually be teste

[2022-03-18 21:07] ladoramkershner opened #4866 "qview wiki page"
**Description**

https://github.com/USGS-Astrogeology/ISIS3/wiki/qview
Has missing icons (for the tools description titles), missing tool descriptions,  and has some descriptors are the bottom (Sun Shadow, Nomenclature, Spatial Plot, Display and analyze cubes, Spectral Plot, Scatter Plot, Histogram, Statistics, Stereo, Match) that I think need to be filled out.

[2022-03-18 22:27] jessemapel opened #4867 "Update Code of Conduct"
**Description**

The current ISIS code of conduct just links to the planetary software TSC code of conduct. As ISIS has more than just a GitHub page associated with it, we should take a good look at that document and see if we need to adjust it to better meet our needs.

References #3828

**Suggested Edit**

One immediate change is that we should have a contact e-mail specifically for issues in th

[2022-03-19 01:29] ldx119 commented on #4848
OK.Thanks very much.I will try it right now.

[2022-03-19 21:27] cgoodma8 opened #4868 "Spiceinit error when used on JIRAM cub files"
Version affected: 6.0.0

**Description**

I am looking to add SPICE data to cub files from JIRAM to be able to stitch together a mosaic. When I attempt to do so through spiceinit it returns the error
`**Error** No existing files found with a numerical version matching [kernels.????.db] in [/home/cgoodma8/anaconda3/envs/isis/data/base/kernels/lsk].`

**How to reproduce**

To create the cub file I u

[2022-03-20 00:18] jessemapel commented on #4868
Hi JIRAM is unfortunately not a supported instrument in ISIS, so you won't be able to do any processing with a camera model. The only Juno instrument we support is JunoCam.

[2022-03-20 00:18] #4868 closed, assigned to nobody

[2022-03-20 00:53] cgoodma8 commented on #4868
That is unfortunate. Thank you for the quick response!

[2022-03-20 08:23] ldx119 commented on #4848
I‘m really sorry to bother you.
I install the base data area ,and also set the environment variables properly.This time ,I try to use the "mocproc -gui"(The data  is  a pair of Mars Orbital Camera (MOC) images whose PDS Product IDs are M01/00115 and E02/01461,they can be found in the examples/MOC directory of my StereoPipeline distribution),then I select the "CKNADIR",it has been work out,the next

[2022-03-20 15:29] jessemapel commented on #4848
I'm not sure why CKNAIDR is required by ASP. That option simply replaces the camera pointing with a perfectly nadir view. If I had to guess I would say it's so that ASP can properly adjust the pointing in its stereo solution.

I'm going to close this issue as it's been resolved. If you have more questions about the options on mocproc feel free to ask though.

[2022-03-20 15:29] #4848 closed, assigned to nobody

[2022-03-20 15:33] ldx119 commented on #4848
OK.Thanks very much<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<br/><br/><br/>        <a href="https://maas.mail.163.com/dashi-web-extend/html/proSignature.html?ftlId=1&name=liudingxin21%40mails.ucas.ac.cn&uid=liudingxin21%40mails.ucas.ac.cn&iconUrl=https%3A%2F%2Fmail-online.nosdn.127.net%2Fqiyelogo%2FdefaultAvatar.png&items=%5B%22%E9%82%AE%

[2022-03-20 15:58] jessemapel commented on #4818
Digging in on this with a debugger it appears to be related to this somehow, going to try and get this fixed today https://github.com/USGS-Astrogeology/ISIS3/commit/3dbee4d2d1375f6646cb00d7fed97b07ae90f80e

[2022-03-20 18:59] jessemapel opened #4870 "Separate documentation build into multiple steps"
**Description**

Right now, the documentation build is done in one step and it takes a very long time to run. When working on a subset of the documentation, it would be great if we could build it in pieces.
**Example**

The docs build script already has separate functions for different parts of the build. We could add options to control which parts are built and then make different targets that ca

[2022-03-22 14:09] #4818 closed, assigned to jessemapel

[2022-03-23 18:31] acpaquette commented on #3554
Still active

[2022-03-23 18:32] acpaquette commented on #3555
Still active

[2022-03-28 15:30] ladoramkershner commented on #4668
@jlaura can this issue be closed with the merging of #4688 ?

[2022-03-28 15:36] jlaura commented on #4668
Yup! Closed by #4688 and available in ISIS7.0

[2022-03-28 15:36] #4668 closed, assigned to jlaura

[2022-03-28 17:08] KrisBecker commented on #4864
I think this is relevant to this issue so I will forge ahead with a post here. Let me know if I should have this issue addressed differently.

I am converting the msi2isis application to a callable function as outlined in the document [Writing ISIS3 Tests Using Gtest and Ctest](https://github.com/USGS-Astrogeology/ISIS3/wiki/Writing-ISIS3-Tests-Using-Gtest-and-Ctest#isis-app-testing-cookbook). Thi

[2022-03-28 21:10] jessemapel commented on #4864
You will need to re-run the cmake configuration. You can run `cmake .` within your build directory to re-run it with the same arguments. You don't need to clean up the build so your build tool should be able to figure out that it only needs to re-build a few things.

[2022-03-28 21:51] jlaura opened #4877 "Installation Issue 6.0.0 libgsl"
**ISIS version(s) affected**: 6.0.0

**Description**

When installing ISIS6.0.0 on a CentOS system using mamba, libgsl 2.7.1 was installed. None of the ISIS apps would run then (e.g., `spiceinit -h`) due to linking errors (ldd was showing undefined for libgsl).

**How to reproduce**

mamba install isis=6.0.0 into a clean environment.

**Possible Solution**

I downgraded libgsl:  `mamba install lib

[2022-03-28 21:56] jessemapel commented on #4877
Looks like we need to further restrict our GSL pin to x.y.z in the recipe

https://github.com/USGS-Astrogeology/ISIS3/blob/dev/recipe/meta.yaml#L131

[2022-03-29 13:15] jlaura commented on #4877
Is the change here?

https://github.com/USGS-Astrogeology/ISIS3/blob/dev/recipe/meta.yaml#L69

with a >=2.6 <=2.7.0? That then propagates through to the `pin_compatible`? I'm not finding great docs on pin_compatible.

[2022-03-29 14:07] jessemapel commented on #4877
`pin_compatible` basically takes whatever version the build resolves to and then pins a range based on that. Since we are pinning libgsl to `x.x` if the build uses 2.7.0, then it will pin `>=2.7 < 2.8` for the install. I'm not terribly surprised that 2.7.1 and 2.7.0 are not ABI compatible

[2022-03-29 14:33] jessemapel commented on #4581
I poked at this a bit this morning. Unfortunately, it's still present after #4869

I think the issue is that we didn't disable inserts into the measure selection combo box. We need to use [QComboBoxx::InsertPolicy](https://doc.qt.io/qt-5/qcombobox.html#insertPolicy-prop) to set NoInsert. This should prevent adding a new object to the combo box.

To get the auto-complete/filter feature we can try a

[2022-03-29 20:03] jorichie commented on #3871
Jigsaw not only fails to solve for acceleration but now won't solve for velocity. Solves for camera angles and position okay. Still getting the same cholmod error as when I opened the post.
CHOLMOD error: problem too large. file: ../Supernodal/cholmod_super_symbolic.c line: 683
CHOLMOD error: argument missing. file: ../Cholesky/cholmod_factorize.c line: 121
CHOLMOD error: argument missing. file: .

[2022-03-29 23:13] blandoplanet commented on #3871
@jorichie Did the network that failed us the same image list (SouthPole_2017Merged_SP_and_Lidar2Image4_updated_image.lis)?

[2022-03-29 23:14] lwellerastro commented on #3871
Hi @jorichie, what was the error message for the failure when you ran jigsaw against /usgs/shareall/FOR_ISIS/SouthPole_2020_Merged_Lidar2Image_redo13edit10_angles_outlier.net?

I ran cnetstats for each of the networks mentioned in your last post using the only image list you mentioned (SouthPole_2017Merged_SP_and_Lidar2Image4_updated_image.lis) and saw that SouthPole_2020_Merged_Lidar2Image_redo13

[2022-03-29 23:19] jorichie commented on #3871
It should be. I loaded it in qnet and it didn't report missing any files.
________________________________
From: Mike B ***@***.***>
Sent: Tuesday, March 29, 2022 4:13 PM
To: USGS-Astrogeology/ISIS3 ***@***.***>
Cc: Richie, Janet O ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [USGS-Astrogeology/ISIS3] LROC SouthPole network cannot solve for acceleration in jigsaw (#3871)

 This email

[2022-03-29 23:21] lwellerastro commented on #3871
qnet will not complain unless there are images in the network that are not in the list.  If there are extra images in the list that's ok.  cnetstats will show images having 0 points and cnetcheck will make a NoControl list if it encounters images that are in the list but not in the network. jigsaw will definitely complain if there is any sort of mismatch between the input list and network.

[2022-03-29 23:23] blandoplanet commented on #3871
Just to be clear, is the network named above the first version that failed, or is it the most recent version of the network? I just want to make sure we all understand what we are looking at. Thanks!

[2022-03-29 23:28] jorichie commented on #3871
This one fails to solve for velocity. /usgs/shareall/FOR_ISIS/SouthPole_2020_Merged_Lidar2Image_redo13edit10_angles_outlier.net
________________________________
From: Mike B ***@***.***>
Sent: Tuesday, March 29, 2022 4:24 PM
To: USGS-Astrogeology/ISIS3 ***@***.***>
Cc: Richie, Janet O ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [USGS-Astrogeology/ISIS3] LROC SouthPole network cannot

[2022-03-30 06:41] jorichie commented on #3871
I should mention these are old files from around May/June 2021 when jigsaw first failed to solve for velocity. These files are iteration 12 or 13. Our current network is iteration 60. I thought the programmers would want a copy of a network before it failed and then a copy of one nearest to when it failed for easier tracking.

If this isn't what they want and they want a clean network, then I am s

[2022-03-30 16:40] lwellerastro commented on #3871
Thanks for clearing that up Janet.  You are correct.  I think the developers would like a before and after version of the network to work with as you have indicated.

[2022-03-30 17:37] jessemapel commented on #3871
Yes, we would like the last successful run and the first failed run using the same set of parameters; that gives us the smallest set of changes to the networks.

A little more clarification:

Does this network,  successfully solve for velocity when it is run right now in ISIS6.0.0?

Can you also provide the parameters you used to solve for velocities so we can reproduce this. We have the attempted

[2022-03-30 18:27] jorichie commented on #3871
Yes, the network listed solves for velocity. I have not run jigsaw in the current ISIS version.  Do you want me to do that first?
I have consistently used ISIS3.10.2.

I use Lynn's bash script to run jigsaw. I modify the parameters.  See it here: /usgs/shareall/FOR_ISIS/sbatch3_jigsaw.bsh

Note: I run jobs almost always on astrovm5.

________________________________
From: Jesse Mapel ***@***.***>

[2022-03-30 18:35] jessemapel commented on #3871
Can you test solving for velocity with iteration 12, the last one to solve successfully with velocity, and iteration 13, the first one to fail with velocity, using ISIS6.0.0.

[2022-03-30 18:51] lwellerastro commented on #3871
the jobs might be launched from astrovm5, but they are being run on the cluster.

[2022-03-30 23:09] jorichie commented on #3871
Synopsis: Both iterations, 12 and 13, failed using ISIS6.0.0.

Note: After I ran the requested tests using ISIS6.0.0,  I reset the ISIS version back to ISIS3.10.2 and reran 12: it solved for velocity as expected. All work here was launched from astrovm5.

Here is the output from the failed iterations.

Under ISIS6.0.0 iteration 13
CHOLMOD error: problem too large. file: ../Supernodal/cholmod_super

[2022-03-30 23:18] lwellerastro commented on #3871
The redo12 jigsaw error via 6.0.0 seems like the problem I have recently encountered while trying to run things on the cluster and solving for spacecraft - post #4770.

you could try running directly on astrovm4 which should have enough memory.  astrovm5 never seems to have memory available.  Running "free -h" on astrovm5 shows it only has 12G available which is not enough for this network.  You n

[2022-03-31 21:45] KrisBecker commented on #4864
Ok, that worked.

However, I was having issues linking, which was likely my problem, but in the process of trying to get it to link, I ran `ninja -t clean msi2isis` and it corrupted gtest beyond repair. Had to start over. It apparently marked some gtest file with `-dirty`. Not sure why that happened.

At this point, I have successfully got `msi2isis` converted to callable app and wrote new and con

[2022-04-01 15:27] KrisBecker commented on #4864
So a bit more detail here. All $ISISDATA and $ISISTESTDATA directories have been updated. I have ran through the [App Conversion + GTest PR Checklist](https://github.com/USGS-Astrogeology/ISIS3/wiki/Writing-ISIS3-Tests-Using-Gtest-and-Ctest#app-conversion--gtest-pr-checklist) process but the FunctionalTestsMsi2isis test is not being ran:

[code]

So I am not sure how to get this test running. Any

[2022-04-01 15:41] KrisBecker commented on #4864
One more detail - the contents of the new test data:

[code]

[2022-04-01 21:01] KrisBecker commented on #4864
There does seem to be some instruction missing in the docs.

Once you create the FunctionalTests and remove the old tests, in this case msi2isis and msi2isis_app, these tests are gone. To determine the new tests, you can run the following after application and FunctionalTest have been successfully built:

[code]

Then to run all tests, use:

[code]

For a single test, use:

[code]

[2022-04-01 21:44] KrisBecker commented on #4864
Unfortunately, all of my FunctionalTests for msi2isis that produce an output file segfaults.

msi2isis is a strange one. The input files are FITS format but have an external PDS label that maps to the image data directly in the FITS file , so it uses the ProcessImportPds class to read it in.

This file then must be expanded using the ProcessRubberSheet class to interpolate via a user option using

[2022-04-03 16:27] jessemapel commented on #4864
Glad to see you figured out how to get the tests running, we should add a note that ctst -R is case sensitive.

Your test is likely segfaulting because `processSamps.SetOutputCube("TO");` calls `Application`

https://github.com/USGS-Astrogeology/ISIS3/blob/dev/isis/src/base/objs/Process/Process.cpp#L244

Instead you want to call `SetOutputCube` with a filename and attributes:

[code]

[2022-04-04 15:36] blandoplanet commented on #3871
A couple of notes that may or may not be helpful for additional work on this problem. I spent some time trying to understand what works and what doesn't when running jigsaw. This is a naive, empirical approach and I'm not sure it lead to any new insight, but here you go.

For each run of jigsaw I used the network and list that was provided above:
Network: new_SouthPole_2020_Merged_Lidar2Image_redo

[2022-04-04 19:10] lwellerastro commented on #3871
`there are a lot of images with VERY small convex hull (from cnetcheck). This suggests there is only one or two points on those images.`

cnetcheck will list images with convex<1.0 by default (lowcoverage=true tolerance=1.0), which means it will list all images.  cnetstats on the other hand will list the convex hull for every image, but that information is only available when `create_image_stats=t

[2022-04-04 19:12] lwellerastro opened #4883 "cnetthinner seg faults"
**ISIS version(s) affected**: 5.0.2, 6.0.0

**Description**
cnetthinner segfaults and dumps an enormous core (20 G+) after "reading control points" and "adding control points to network".

This is a very large network so I initially sent the job to the cluster and asked for all of mem1 since it has the most memory (365 G).  The program segfaults in about 1-1.5 hours and only maxes out at about 25

[2022-04-04 23:45] lwellerastro commented on #4803
Made a comparison of the kernels loaded onto one of the SRC test images and an HRSC image and saw that the HRSC was picking up a more recent IAK than the SRC.  Seems odd to me that the SRC wouldn't load the most recent version.  Maybe this is the problem?

I copied the test SRC image to a new file and spiced using the more recent IAK and got an error.
[code]
The above image is in the same director

[2022-04-04 23:50] Kelvinrr commented on #4840
I dont think I was able to replicate?
[code]

but I am also missing stretch01.txt, can you provide that?

[2022-04-05 00:23] scsides commented on #4803
These aren't two versions of the same file. One is for HRSC (stereo linescaner) the other is for HRSC SRC (Super Res Camera framer).

[2022-04-05 00:33] lwellerastro commented on #4803
oh, now I see the difference - just skipped right over that extra src in the SRC addendum file.  Darn.

[2022-04-05 18:05] KrisBecker opened #4886 "NEAR/MSI msi2isis and MsiCamera model improvements"
**Description**
The msi2isis and MsiCamera model have been improved to support development of new global color maps of Eros. These modifications are included in the forthcoming PR.

We have produced a new set of NEAR/MSI Eros images where the remediation of hydrazine contamination has been [improved](https://www.hou.usra.edu/meetings/lpsc2021/pdf/1682.pdf). To support this dataset, modifications a

[2022-04-05 18:30] KrisBecker commented on #4864
Thanks @jessemapel that indeed was the problem.

The results of this exchange is culminated in #4887.

[2022-04-05 18:51] Kelvinrr commented on #4840
So using ISIS 5.0, with the command `isis2std from=/work/users/ssides/bugs/isis2std/M1397979727_LRmos.warp.cub to=/tmp/8bit.tif format=tif stretch=manual minimum=0.06 maximum=0.15` (skipping the stretch as it's hard to reproduce that step without the stretch file and isis2std can do the stretch in one step), I get a DN range of 0 to 255.

I'm inclined to think either 1. There is a problem with the

[2022-04-05 18:59] Kelvinrr commented on #4840
Using the same command with ISIS version 3.10.2 also gives correct results. I think this was simply a processing error.

I think we can close this, if there is something in those stretch files that is important to test then I we can reopen it, but without those we can't really move forward and it seems `isis2std from=/work/users/ssides/bugs/isis2std/M1397979727_LRmos.warp.cub to=/tmp/8bit.tif form

[2022-04-05 18:59] #4840 closed, assigned to Kelvinrr

[2022-04-05 22:50] jorichie commented on #3871
Redo 12 and 13 is not a good use case for evaluating the current network because those are interim networks from May/June best used for the developers to assess the velocity issue.  Much progress has been made on the networks, for example, we have had to leave in images that have only a few points because they are the only images we have to link to other images in the network, and many others have

[2022-04-06 15:03] #4108 closed, assigned to nobody

[2022-04-06 17:11] #4617 closed, assigned to gsn9

[2022-04-07 02:31] michaelaye opened #4891 "Documenting potential issues with mamba"
I'm opening this issue to keep track of issues with a mamba-based installation process and my solutions for it, if I have any.

IIUC, mamba is being prepared to replace conda internally, so we better have no problem with it.

First:
[code]
Now, let's check my config, to see where we are at:

[code]

Note the `channel_priority`, which might be important.

Doing this on Linux, I get the 1st issue:

[2022-04-07 02:38] michaelaye commented on #4877
I'm maximally confused, I wasn't aware of different linux systems having different dependency solutions?? I'm on Ubuntu and only have `gsl` installed, after a full ISIS6 install with mamba:

[code]
How is there a `libgsl` in the CentOS build and only a `gsl` package in the Ubuntu build? Is there indeed a precise OS identification happening somewhere?
I checked that `spiceinit -h` works fine here.

[2022-04-07 14:30] Kelvinrr commented on #4816
Seems you hit the nail on the head with the DETECTOR_ID distinction. The original label was not attached unless the ID was anything other than `MEX_HRSC_SRC`, PR is up with the change.

[2022-04-07 15:15] jessemapel commented on #4877
There is no libgsl in Anaconda, it is just called gsl. libgsl is the name of the actual library file, it seems there's some name aliasing happening somewhere.

[2022-04-07 15:46] michaelaye commented on #4877
Ah make sense. Then, how did I get 2.7 on my linux box? Did you already change something in the dependencies? Could it be because Jay had it in the cache already and I didn’t? I saw somewhere else that Jay has the experience that locally cached packages influence the solver?

[2022-04-07 15:52] michaelaye commented on #4877
By the way, it’s a fascinating difference of level in thinking: the computer scientist Jay thinks about the libgsl because that’s what he gets installing the package. I know nothing about the contents of packages and just rely on the package names for a consistent setup. Dangerous maybe but that’s all I got. :)

[2022-04-07 16:27] jessemapel commented on #4877
It is likely the otherway around, you had 2.7.0 cached locally and Jay didn't have anything cached locally. Conda is "lazy" when it does its solve and first looks in its local cache for packages that satisfy the environment before it goes back out to the web. So, if it finds a caches GSL 2.7.0 and that works, it won't look for a new one and see that 2.7.1 is also out.

It is a big pain in the rear

[2022-04-07 16:52] michaelaye commented on #4877
You're right, it was the other isis env that had a 2.7 gsl! But now you are saying that `conda` is lazy as well (or is that a typo and you meant mamba?), because then switching to conda should not change anything for this situation, right?
But, also, WTH why does a patch change to 2.7.1 break everything? SMH :(

[2022-04-07 17:01] jessemapel commented on #4877
My understanding is that both conda and mamba are lazy when searching for packages and check your local cache before attempting to update it.

The patch release likely broke the ABI but not the API. Most packages do not consider an ABI break sufficient for a major version tick.

[2022-04-07 18:58] #4581 closed, assigned to jessemapel

[2022-04-07 23:35] scsides commented on #4803
Update: The documentation on [HRSC SPICE site](https://spiftp.esac.esa.int/data/SPICE/MARS-EXPRESS) is saying that the default SPK for Phobos and Deimos may not be accurate (ISIS' Target SPK). I've run spiceinit using all of the alternatives and none of them allows us to get a target intersection. If I run spiceinit with only NADIR pointing we get body intersections.

I'm currently retesting the a

[2022-04-07 23:49] lwellerastro commented on #4803
Huh.  Why would the HRSC data of Phobos be ok though - same spacecraft.  And picking up the same spacecraft kernel - at least for the two images close in time I compared a few comments back.

[2022-04-08 01:18] astrostu commented on #4025
Ping.

[2022-04-08 13:31] jlaura commented on #4891
@michaelaye With the new 7.0 RC release, it should not longer me necessary to specify python=3.6. @acpaquette Can you confirm? My experience is purely empirical (e.g., it worked on an install for me).

[2022-04-08 16:01] scsides commented on #4803
Not sure, could be because of the way the HRSC is rotated to acquire the linescan image vs SRC being a snap shot framer. I'm also looking at the rotations for each. Same spacecraft, but different mounting.

[2022-04-08 16:22] jessemapel commented on #4803
The HSRC and SRC appear to be a fixed offset from each other so I'm also confused. From the FK at NAIF

[code]

[2022-04-08 17:54] lwellerastro commented on #4803
Hi,  I went ahead and processed all 4826 SRC images of Phobos that I recently downloaded from the archive.  I applied general processing as described below expecting lots of failures, but to my surprise, there were some successes - 608.  Success means camstats, footprintinit and caminfo did not fail.  It does not mean the spice is on the target or easily found in the frame.

Attached is one of the

[2022-04-11 19:02] Kelvinrr commented on #4390
@jlaura Is there any test images still available?

on astrovm4:

[code]

[2022-04-11 19:10] lwellerastro commented on #4390
@Kelvinrr, the final Europa products @jlaura would have pulled from would have come from here: /archive/projects/europa/GLL_FinProducts/, however, these are organized by observation whereas Jay's versions likely all resided in a single directory for ease of access.

The file in his original post was found this way:
[code]
The others he listed can be found in a similar manner. I confirmed (via 5.0.

[2022-04-11 19:12] Kelvinrr commented on #4390
@lwellerastro Thanks Lynn, I was able to replicate with that.

[2022-04-11 20:05] #4886 closed, assigned to nobody

[2022-04-11 22:00] Kelvinrr commented on #4390
So adding an additional catch to the try/catch block to capture a `std::exception` very quickly gave me the real error:

[code]

Putting the generated points into a geojson viewer quickly shows the footprint isn't closed (and from the coordinates it's definitely a 360 boundary cross problem as it's trying to be closed with -0.317487 instead of 359.683).

<img width="282" alt="Screen Shot 2022-04-1

[2022-04-11 22:35] lwellerastro commented on #4390
Re-mapping in the way you did results in a new mosaic with 503 samples, versus the original of 494.  Everything else numerically looks the same.  What is going on there?

I looked at both mosaics in qview and the re-mapped version has NULL pixels in sample 1 now, which has negative longitudes (negative in both versions of the mosaic).  That is not something I did - all of the products were run thr

[2022-04-12 10:11] ryodohemmi opened #4897 "isis2std bittype=s16bit exports a tiff with Type=UInt16"
**ISIS version(s) affected**: 5.0.1

**Description**
`isis2std bittype=s16bit` outputs UInt16 (16-bit unsigned integer) tif, not Int16 (signed) tif.

**How to reproduce**
Input: Int16 cube
[code]
Running `isis2std bittype=s16bit` and its result
[code]

**Additional context**
Running `isis2std bittype=u16bit` results in a UInt16 tif, which looks fine.
[code]

The similar issue was reported in the p

[2022-04-12 16:03] #4816 closed, assigned to Kelvinrr

[2022-04-13 08:10] scsides commented on #4370
@rbeyer: I would agree with the argument that spiceinit is not a PDS reader. It is an ISIS cube label reader. I would also agree that the ingest applications are PDS readers and could handle this, and they do. See: ciss2isis, eis2isis, tgocassis2isis, kaguyami2isis, kaguyatc2isis, and hrsc2isis. I am not aware of any instances where the Z exists and the ISIS code does not remove it before passing

[2022-04-13 15:24] rbeyer commented on #4370
I did provide an example, but what you're really asking is how prevalent or impactful this bug is.  I suspect that it is neither prevalent nor impactful.  However, the other posts on this issue indicate that it has come up.  This is certainly not an issue that is blocking me.  It came up in the course of some other PVL-related work I was doing.

The simple fact is that `spiceinit` incorrectly erro

[2022-04-13 16:18] scsides commented on #4370
My point is that spiceinit does not fail on any real data set and therefore there is no bug. The import applications are converting the PDS label to an ISIS label before spiceinit is run. If a PDS3 archive product doesn't meet the ISIS requirements it is up to the ingest program to fix it. This happens all the time. Example, instrument labels have the exposure duration in different units and the i

[2022-04-13 16:48] lwellerastro commented on #4803
Hi - we heard from Konrad Willner who has worked extensively with these data and he had these comments:

[code]
Compared to what my images are picking up via spiceinit, many of the above MEX specific kernels appear to be many versions of ahead.  I hope this information proves to be useful.

[2022-04-14 00:33] scsides opened #4902 "qview pointer move with keyboard"
**ISIS version(s) affected**: 6.0.0 and 7.0.0 RC1 and before. Not sure when it stopped working.

**Description**

The pointer movement of 1 line by 1 sample using the numeric keypad does not work on Mac. It may not work on Linux either

**How to reproduce**

Load an image into qview
Using the mouse put the pointer in the middle of the image where there are valid line,samp positions
Using the numer

[2022-04-14 03:04] scsides commented on #4803
After working with the HRSC kernels mentioned in [comment](https://github.com/USGS-Astrogeology/ISIS3/issues/4803#issuecomment-1092301679) and [comment](https://github.com/USGS-Astrogeology/ISIS3/issues/4803#issuecomment-1098271636) above there are differences between them and the current kernels in the ISIS data area. On a limited set of images, the new kernels improve the target intersection iss

[2022-04-15 05:34] Kelvinrr commented on #4390
Alright, after stepping through the code, I think I found the issue. Basically, there is a part of the code that tries to handle the poles being in the image and splits the polygon up. The image manages to hit this case despite the poles not technically being on the body as that corner of the image is null. Using mappt on `line=0.971409 sample=1.44282` seems to come back empty as the projection ca

[2022-04-15 17:13] jessemapel commented on #4770
@lwellerastro I came back to run some tests on the Kaguya network and found that the input network is missing. I can't find KTC_Morning_LQ30_FFCombine_Thin_SubReg.net in /work/users/lweller/Isis3Tests/Jigsaw/NebSegFault/

[2022-04-15 17:16] lwellerastro commented on #4770
@jessemapel  - oops, copied the wrong network into that directory.
The correct one is there now.
Sorry!

[2022-04-15 19:08] lwellerastro commented on #4902
I can confirm that I can still move the pointer using the numeric keypad via a linux OS.
That being said, my number pad has short cuts for arrows using the 8, 6, 2 and 4 keys which allow for the fine movement.  The other keys do nothing.  I'm not sure what to expect since I don't use this functionality, but the keys noted worked as did simply using my keyboards arrow keys.

[2022-04-15 21:16] #4390 closed, assigned to Kelvinrr

[2022-04-16 03:48] scsides opened #4911 "Compile warnings on Ubuntu build"
**ISIS version(s) affected**: dev 2022/04/16

**Description**

There are several compiler warnings on the Ubuntu build of dev

**How to reproduce**

Compile ISIS on the Ubuntu prog machine

**Possible Solution**

**Additional context**
[866/3612] Building CXX object objects/CMakeFiles/isis.dir/base/apps/isisimport/isisimport.cpp.o
/usgs/cpkgs/isisTest/isisHRSCSRC/ISIS3/isis/src/base/apps/isisimpor

[2022-04-18 14:09] jessemapel commented on #4770
Good news, Craig was able to get me access to our debugger on the cluster over the weekend and I got this sorted out. There was an issue similar to #4545 where we were using an ALE call that wasn't working correctly. Fortunately, this got cleaned up a little while ago and fix in the later release of ALE.

So, I was actually able to run both bundles with ISIS 6.0, 7.0_RC1, and dev.

@lwellerastro C

[2022-04-18 16:09] #4842 closed, assigned to gsn9

[2022-04-18 16:13] #4765 closed, assigned to gsn9

[2022-04-18 16:13] #4826 closed, assigned to gsn9

[2022-04-18 16:25] drschenk opened #4913 "Junocam _ SPice Camera model in ISIS"
**ISIS version(s) affected**: x.y.z

**Description**
ive been having an issue that might be related in some way:

Ive been using ISIS to process the JC ganymede images (Ravine et al., just submitted) to register the images into mosaics and to generate DEMs from the framelets.  the framelets (each containing the 3 filters) cover the disk in 4 mosaics, each constructed of 10-20 of these overlapping

[2022-04-18 17:02] lwellerastro commented on #4770
Great news @jessemapel! I'll turn on my bundles shortly and let you know how it goes.

[2022-04-18 18:23] acpaquette commented on #3885
@AustinSanders Yes, I believe this can be closed as of #4634

[2022-04-18 18:23] #3885 closed, assigned to nobody

[2022-04-18 18:54] lwellerastro commented on #4770
@jessemapel, I'm still getting a seqfault while running under isis6.0.0 for the Kaguya network.

I'm running this from a system IT built me named igswzawgvsiplw which is essentially a clone of astrovm5. I've been working on it for about a year now with no problems other than this particular post (I can run the above jigsaw command on this VM and it works fine, just eats up memory). I'm duplicating

[2022-04-18 19:49] jessemapel commented on #4770
Stuff not hitting the log until the end a known thing. Since we updated the jigsaw app to be callable, we had to re-do how it logs and part of that is that it logs everything at the end.

We really need to get a real-time logger setup.

I'm going to close this for now as it seems like it's been resolved adequately. If we run into issues once the full 7.0 release is out we can come back.

[2022-04-18 19:49] #4770 closed, assigned to jessemapel

[2022-04-18 19:56] jessemapel opened #4914 "Apps converted to a callable no longer log in real time"
**ISIS version(s) affected**: varies by app. Conversion started at 3.7, so 3.7+

**Description**

Apps that have been converted to a callable function no longer log directly to the application, instead they log to a PVL object and then upon completion log its whole contents to the application.

**How to reproduce**

This is most notable with jigsaw. If you run jigsaw in ISIS 4.4 or later it won't

[2022-04-18 21:00] lwellerastro commented on #4770
sounds good @jessemapel.  I didn't know about the output not writing to log until the end - thanks for the heads up.
Titan finished as well under isis7.0.0-RC2.

[2022-04-18 21:03] lwellerastro commented on #4914
This doesn't seem to be an issue for most programs that run quickly, but it's very noticeable with jigsaw which can take > 1 hour to run even a single iteration on some networks.  It makes it hard to see what is happening particularly with cluster runs when you are already in the dark.

[2022-04-18 22:10] oleg-alexandrov commented on #4855
In particular, documentation for how to process LRO WAC is needed, stating with where to get the data, and all the other steps. What we have so far is the list of tools here: https://isis.astrogeology.usgs.gov/Application/index.html

There is also a writeup here: https://www.lpi.usra.edu/lunar/tools/dems/Ohman_mono-WAC_ISIS_procedure_v1-1.pdf, but that one is not detailed enough.

In particular, t

[2022-04-19 08:25] luoflu opened #4915 "moccal error：The attempt to load "/home/xr/anaconda3/envs/isis/data/mgs/kernels/sclk/MGS_SCLKSCET.00061.tsc" by the routine FURNSH failed"
**ISIS version(s) affected**: 6.0.0

**Description**
Hi, I am proccessing MOC image. While moc2isis and spiceinit worked successfully,  moccal returns the error as below:
**ERROR** An unknown NAIF error has been encountered. The short explanation provided by NAIF is [SPICE(NOSUCHFILE)]. The Naif error is [The attempt to load "/home/xr/anaconda3/envs/isis/data/mgs/kernels/sclk/MGS_SCLKSCET.00061.ts

[2022-04-19 09:34] luoflu opened #4916 "PVL error while running mocproc"
**ISIS version(s) affected**: 6.0.0

**Description**
When i try to run mocproc. it returns the error as below:
**ERROR** PVL Keyword [Class] does not exist in [Group = Error].
Continuing ......
**ERROR** PVL Keyword [Class] does not exist in [Group = Error].
Continuing ......
**ERROR** Running Isis program [mocevenodd] failed with return status [4].
**I/O ERROR** Unable to open [./sp125703.lev1.cu

[2022-04-19 15:55] scsides opened #4917 "Remove CWDEBUG"
**ISIS version(s) affected**: all versions have this issue

**Description**
The CWDEBUG library is no longer a dependency of ISIS. References to it in Isis.h should be removed.

**How to reproduce**

**Possible Solution**
Look at isis/src/base/objs/Isis/Isis.h and remove CWDEBUG and the functions associated with it
Remove IsisDebug.h and all references to it. Likely only in Isis.h

**Additional co

[2022-04-19 20:53] lwellerastro opened #4919 "Caminfo does not report camera statistics in isis7.x.x"
**ISIS version(s) affected**: isis7.0.0-RC1, isis7.0.0-RC2

**Description**
Caminfo no longer reports information for the camera when camstats=true

**How to reproduce**
See data under my user work area /Isis3Tests/Caminfo/CamstatsOutput/

[code]
Other versions of output are available for the same image: info_5.0.2_cstats.pvl  info_6.0.0_cstats.pvl  info_7.0.0RC1_cstats.pvl  info_7.0.0RC2_cstats.p

[2022-04-20 00:01] oleg-alexandrov opened #4920 "How to project ground point into camera"
I spent quite a lot of time on this and can't seem to get it right.

Given an ISIS camera made from a cub file and a point on the planet surface, having latitude, longitude, and radius in meters, I am trying to find where it projects in the camera. I tried to create an Isis::SurfacePoint with these, then call the Isis::Camera's SetGround() (also tried SetUniversalGround()), and then use camera's S

[2022-04-20 00:12] astrostu commented on #4915
That certainly looks like an issue with your paths and where the kernels are (does that file exist on your system)?  But you should be aware that I have found that many thousands of MOC (at least wide-angle) images fail to process through the MOCCAL step, with fewer having issues with SPICEINIT ... the kernels and calibrations that USGS provides don't quite account for everything.

[2022-04-20 15:55] jessemapel commented on #4920
Unfortunately, this is just how ISIS sensors work. The first step in the `SetGround` function is to use the ground map to map the ground point onto the surface model and get a local radius value.

@scsides or @KrisBecker may have more insight, but I don't think what you want is currently possible. It is certainly something we'll want to consider doing in the future to support things like bundle ad

[2022-04-20 15:59] jessemapel commented on #4915
Can you post the contents of your data directory located at `$ISISDATA`? This looks like an issue with how you have the data staged, you should be able to successfully run moccal on the spiceinit'd cube. You will likely need the calibration data donwloaded too.

[2022-04-20 16:00] jessemapel commented on #4001
Still worth doing

[2022-04-20 16:09] steo85it opened #4921 "building with CentOS gcc4.yml environment results in conda stuck at solving environment"
**ISIS version(s) affected**: dev

**Description**

Following the instructions [here](https://github.com/USGS-Astrogeology/ISIS3/wiki/Developing-ISIS3-with-cmake) for building ISIS on CentOS results in conda `Solving environment...` running forever.

**How to reproduce**

Run `conda env create -n isis3_centos -f environment_gcc4.yml` and wait...

**Possible Solution**

One notable element missing

[2022-04-20 16:30] blandoplanet opened #4922 "Update or remove smithed Enceladus kernels: cksmithed=true produces undesirable results"
**ISIS version(s) affected**: 4.1.0 and above I think. Tested on 6.0.0

**Description**
In 2019 the USGS (@lwellerastro) generated updated kernels (ck and an associated pck) for a subset of Cassini ISS images of Enceladus. These were added to ISIS in release 4.1.0, enabling their use with the 'cksmithed=true' flag when running spiceinit. It was verified at the time of implementation that the kerne

[2022-04-20 17:58] jessemapel commented on #4921
@steo85it Unfortunately, we don't support the GCC4 environment any more. We've needed to update our dependencies for various reasons and conda-forge, where we get our dependencies from, has moved wholesale away from GCC4 support.

Can you post the error you encountered when compiling with the environment from the normal`environment.yml` file? I may be able to help you if it's not related to your c

[2022-04-20 18:02] jessemapel commented on #4916
This is likely being caused by #4915 as it runs cmoccal as part of mocproc.

[2022-04-20 18:19] steo85it commented on #4921
Ah, really? Then it's just the wiki that needs to be updated? Good to know, thanks, then I'll dig a bit more into the "gcc-related" error message that I got: I thought CentOS was meant not to work with that yml and didn't try too hard. :) Your help will be appreciated if I can't solve it, thanks!
(still, I'd suggest to remove the [wiki](https://github.com/USGS-Astrogeology/ISIS3/wiki/Developing-IS

[2022-04-20 18:19] #4921 closed, assigned to nobody

[2022-04-20 18:33] jessemapel commented on #4921
I've updated the wiki page, thank you for pointing that out. You're welcome to just post your error message here and I can take a look at it.

[2022-04-20 20:16] astrostu commented on #4922
I don't know the details of how this works, but is it possible to still have the kernels available, but if you use these updated ones to use the OLDER SPKs?  Or would that be too complex to get people to do it properly?  [D'oh, I see that as your first possible solution]

Second idea: Since these kernels were ostensibly produced via a control network that is still perfectly valid, could you re-SPI

[2022-04-20 20:26] lwellerastro commented on #4922
@blandoplanet the location you pointed to for the updated which were the basis for the kernels is incorrect - that is an intermediate product used to solve for the location of the prime meridian.

These are the updated cubes and input into ckwriter:
/work/users/lweller/Enceladus/MrgGapDenseNets/TargetBody/2019SHAPE_PM/Updated_Cubs/*cub

This file was produced by ckwriter when the camera kernel was

[2022-04-20 21:29] blandoplanet commented on #4922
Thanks @lwellerastro. I've updated the directory I listed above with the proper cubes for comparison.

@astrostu, regarding your second solution - yes, that's certainly one possibility but will require time (and funding) to do, which is challenge given that this project ended several years ago. Probably not a lot of time, but there are always complications. It seems like we should have a simple wa

[2022-04-20 21:56] jessemapel opened #4924 "Add application to stitch LRO WAC even and odd images together"
**Description**

In order to properly work with LRO WAC, and likely other push frame sensor, images in stereo matchers we need a tool that merges the even and odd framelet images back into a single image. The program will also need have the option to flip the framelets similar to how MRO MARCI images can be flipped.

In order to prevent complicating processing, the app will also need to strip the

[2022-04-21 00:17] Kelvinrr commented on #4635
So this is definitely a band dependency issue. Essentially, Marci being a band dependent camera model, some code executes when `MarciCam::SetBand` is called that is supposed switch to another filter on another, but there are none since the bands are now the output of phocube. Im surprised it isn't failing more catastrophically as this is causing the the camera model to read past the end of a handf

[2022-04-21 04:56] oleg-alexandrov commented on #4855
I added a doc here: https://github.com/USGS-Astrogeology/ISIS3/wiki/Working_with_Lunar_Reconnaissance_Orbiter_(LRO)_Data

There's more to write, but this already has some basic info and examples of data processing. More edits and additions from more knowledgeable folks are welcome.

[2022-04-21 08:43] luoflu commented on #4915
Thanks for your reply and you remind me that the file i downloaded online is named as  mgs_sclkscet_00061.tsc, while MGS_SCLKSCET.00061.tsc is autually mentioned in the error. I wonder if these two imply the same file, so I rename the file i downloaded online as MGS_SCLKSCET.00061.tsc which is required in the error, and it worked unexpectedly. By the way, the calibration process works well as the

[2022-04-21 08:44] luoflu commented on #4915
If i do not misunderstand, my data directory is located at /home/xr/anaconda3/envs/isis/data. And i have downloaded calibration data of mgs mission. But whatever, i have sovled the problem as described in my last reply, thanks for your help sincerely.

[2022-04-21 09:52] luoflu commented on #4916
Thanks for your attention. I can run moccal successfully now, but mocproc still returns the same error.

[2022-04-21 13:58] jessemapel commented on #4915
Yeah there are some uppercase vs lowercase file naming pitfalls. Glad you could get this resolved.

[2022-04-21 13:58] #4915 closed, assigned to nobody

[2022-04-21 16:33] drschenk opened #4925 "6.0.0 installation errors"
**ISIS version(s) affected**: 6.0.0

**Description**
currently running 5.0.1 on macair 10.15.7:  tried "conda install isis=6.0.0" but it said miniconda3 was out of date so I ran the command it said to run (sorry I cant restore that command in the shell for some reason to see what it said), but it did run 'successfully'.
now I try "conda install isis=6.0.0" and get:

Collecting package metadata (cu

[2022-04-21 16:42] jessemapel commented on #4925
It looks like your Anaconda install got messed up some how. Can you try making a new environment and then installing a simple package like CSPICE? Here's the commands for that

[code]

See if that will run without error for you.

[2022-04-21 16:50] drschenk commented on #4925
will that deactivate my current isis environment?   perhaps we should try the conda update again?  except I cant recall what the command was...

[2022-04-21 16:57] drschenk commented on #4925
I apparently used "conda update -n base -c defaults conda"

also current version is:   conda 4.12.0

[2022-04-21 17:35] jessemapel commented on #4925
Yes this will deactivate your current ISIS environment and install cspice into a fresh environment. Don't worry about deactivating, you can always re-activate the environment.

I wouldn't try to update conda again yet. Let's check if your install even works first.

[2022-04-21 17:36] drschenk commented on #4925
so long as I can restore by the end of the day

[2022-04-21 17:37] drschenk commented on #4925
(isis) MBA-PSchenk-20:icy pschenk$ conda deactivate
(base) MBA-PSchenk-20:icy pschenk$ conda create -n cspice_test
Collecting package metadata (current_repodata.json): failed
WARNING conda.exceptions:print_unexpected_error_report(1216): KeyError('pkgs_dirs')
Traceback (most recent call last):
  File "/opt/miniconda3/lib/python3.7/site-packages/conda/exceptions.py", line 1082, in __call__
    retur

[2022-04-21 17:38] jessemapel commented on #4925
Yeah it looks like your Anaconda install got broken when you updated. Try the update command again and see if that gets the same error.

[2022-04-21 17:39] drschenk commented on #4925
which is correct update command?

[2022-04-21 17:48] drschenk commented on #4925
tried this:

`$ /opt/miniconda3/bin/conda update -n base conda`

  environment variables:
conda info could not be constructed.
KeyError('pkgs_dirs')

An unexpected error has occurred. Conda has prepared the above report.

If submitted, this report will be used by core maintainers to improve
future releases of conda.
Would you like conda to send this report to the core maintainers?

[2022-04-21 17:50] astrostu commented on #4924
I'm certainly not opposed to a separate program to do this "correctly," but I'll note that I've been using AUTOMOS with no problems, at least for MARCI.

[2022-04-21 18:10] jessemapel commented on #4925
Try `conda update -n base -c conda-forge conda`
You may need to run `conda activate` prior to this

[2022-04-21 18:12] jessemapel commented on #4924
We can use one of the *mos programs to stitch the images back together, but I don't think we can have them also do the flipping.

[2022-04-21 18:14] drschenk commented on #4925
same garbage. (including conda activate):

(base) MBA-PSchenk-20:~ root# conda update -n base -c conda-forge conda
Collecting package metadata (current_repodata.json): failed
WARNING conda.exceptions:print_unexpected_error_report(1216): KeyError('pkgs_dirs')
Traceback (most recent call last):
  File "/opt/miniconda3/lib/python3.7/site-packages/conda/exceptions.py", line 1082, in __call__
    retur

[2022-04-21 18:18] jessemapel commented on #4925
Okay, you're going to need to either reach out to the anaconda team and see if there's a way to fix this, or re-install anaconda :(

[2022-04-21 18:26] drschenk commented on #4925
how do I reach them?

it seems odd I can continue to run isis5.0.1 but not upgrade.  (which I need for mvic framing images)

[2022-04-21 19:40] jessemapel commented on #4925
You can post a bug report on their GitHub https://github.com/Anaconda-Platform/anaconda-client

[2022-04-21 21:34] astrostu commented on #4924
I guess it hasn't been an issue for me (in the last few years) because I use marci2isis with flip=yes.  So, you might investigate whether it makes more sense to do the flipping at the odd/even reconstruction phase, or at the initial ingestion phase.  And if the former, then certainly you'd need to check if flippage has occurred since you don't want to flip it back and have it be wrong when you're

[2022-04-21 21:35] rbeyer opened #4927 "The ZeroDarkRate example configuration file for hical is not present in the data area"
**ISIS version(s) affected**: 6.0.0

**Description**
The ISIS 6.0.0 version of hical has a new ZeroDarkRate correction.  The CHANGELOG and app documentation discuss a `$ISISDATA/mro/calibration/hical.0023_darkrate.conf` but it does not appear to be present in the rsync data area.

**How to reproduce**
`rsync isisdist.astrogeology.usgs.gov::isisdata/data/mro/calibration/ | grep rate` returns nothin

[2022-04-21 22:58] jessemapel commented on #4924
Marci is the only one of our push frame sensors that supports the flipping on ingestion. So, you don't need this really for MARCI, but we're currently working on LRO WAC and we do need it for stereo work.

[2022-04-22 00:23] astrostu commented on #4924
Ah! That makes sense.

[2022-04-22 16:41] steo85it commented on #4921
No problem and thanks: I'm still struggling with it but I think it's our anaconda environment that is somehow messy (some issue with qt libraries differing between the env and conda installation is what's blocking me now). Unfortunately not something you can probably help much with. ;) :(
And never mind, in the end the regular conda installation of 6.0.0 worked fine for me. I just need to remember

[2022-04-25 17:43] jessemapel opened #4928 "Spice::readValue returns garbage when reading off the end of an array valued keyword"
**ISIS version(s) affected**: Identified in Dev. Likely present since attached SPICE was added

**Description**

The Spice::readValue function is responsible for reading values either from the SPICE kernel pool or the attached NaifKeywords group on a cube. When reading from an array value keyword in the SPICE kernel pool, it does not properly check that it found a value at the input index. In the

[2022-04-25 17:43] jessemapel commented on #4928
This will likely cause errors when spiceinit'ing some camera models as we were previously just reading garbage and this is now throwing an exception. We should first update those camera models that encounter errors and then fix spice::readValue.

[2022-04-25 21:04] oleg-alexandrov opened #4929 "cam2map interface"
I found the cam2map tool to be rather awkward to work with, when compared to more modern tools such as in GDAL. Some things which could be improved may be the following:

 - Have a progress dialog of some sorts (text-based). I've had cam2map stall on me for half a day, and that is not fun.
 - Have a command line parameter for the projection name. Having to write a PVL file in order to specify that

[2022-04-26 17:04] oleg-alexandrov opened #4930 "Missing LRO kernel data"
I fetched the ISISDATA file named lro/kernels/mk/lro_2018.tm. Its content is:

\begindata
  KERNELS_TO_LOAD = (
   '/usgs/cpkgs/isis3/data/lro/kernels/tspk/moon_pa_de421_1900-2050.bpc'
   '/usgs/cpkgs/isis3/data/lro/kernels/tspk/de421.bsp'
   '/usgs/cpkgs/isis3/data/lro/kernels/spk/fdf29r_2018152_2018182_v01.bsp'
   '/usgs/cpkgs/isis3/data/lro/kernels/ck/lrolc_2018151_2018182_v01.bc'
   '/usgs/cpk

[2022-04-26 23:58] rbeyer opened #4931 "hical not falling back to ZeroDark when ZeroDarkRate is enabled but matrix file is not available."
**ISIS version(s) affected**: 6.0.0

**Description**
When the new ZeroDarkRate module is enabled for ISIS `hical` it uses a set of `DarkRate*.csv` files in $ISISDATA/mro/calibration/matrices for calculations.  These files have names like `DarkRate_RED2_1_TDI128_BIN4_ADC54_hical_0002.csv` and there could be a file for each combination of CCD, channel, TDI rate, binning value, and ADC setting (which

[2022-04-27 17:57] jessemapel commented on #4930
One of the issues with metakernels is that you cannot use portable paths in them. So, any user will need to update the `/usgs/cpkgs/isis3/data/` portion of the paths to point to their data area.

For the last kernel, I'm not sure where it came from. I'll do some digging and see what's going on.

[2022-04-27 19:51] oleg-alexandrov commented on #4930
Somehow cam2map works with such metadata but the ale tools don't.

[2022-04-28 15:48] cneish opened #4932 "ISIS install failed on new Mac OS 12.3"
**ISIS version(s) affected**: 6.0.0 (whatever is current today!)

**Description**
I just bought a new Mac laptop (OS 12.3.1), and I am trying to install ISIS on it. I downloaded and installed Anaconda today, and then tried to download and install ISIS. I didn't receive any errors, but when I tried to run any program like "qview" or "isis2std" I received the following error:

(isis) Catherines-MacB

[2022-04-28 16:00] jessemapel commented on #4932
Can you share your Anaconda environment. Just run conda list and copy/paste the output.

[2022-04-28 16:05] cneish commented on #4932
Sure thing. The list is below.

(isis) Catherines-MacBook-Pro:~ cneish$ conda list
# packages in environment at /Users/cneish/opt/anaconda3/envs/isis:
#
# Name                    Version                   Build  Channel
ale                       0.8.5            py36hc61eee1_3    conda-forge
armadillo                 9.200.4           hcb88e47_1205    conda-forge
arpack                    3.6.3

[2022-04-28 16:17] jessemapel commented on #4925
I'm going to close this as it appears to be an Anaconda installation issue. If this continues after your get your Anaconda install fixed, please re-open.

[2022-04-28 16:17] #4925 closed, assigned to nobody

[2022-04-28 16:59] jessemapel commented on #4932
It looks like the openCV package isis6.0.0 is using has the wrong ffmpeg pin and it's installing the Main channel ffmpeg instead of the conda-forge ffmpeg on osx.

Run `conda install -c conda-forge ffmpeg=3.4.1`. It will say it's going to replace a few packages, enter `y` and then try again.

This should be resolved with 7.0.0 as we completely updated the dependency environment.

[2022-04-28 17:19] cneish commented on #4932
That did the trick! Thanks so much @jessemapel!

[2022-04-28 18:05] jessemapel commented on #4932
I'm going to close this as a "won't fix" because we generally don't go back and address these types of issues if there is a work around and a new release is coming out shortly.

If you have any further issues with this, or if anyone else encounters this issue and installing ffmpeg off conda-forge does not fix it, please post here.

[2022-04-28 18:05] #4932 closed, assigned to nobody

[2022-04-28 20:18] oleg-alexandrov opened #4933 "Calling spiceinit twice in a row fails"
**ISIS version(s) affected**: 6.0.0

**Description**

Calling spiceinit twice in a row fails.

**How to reproduce**

I have ISIS 6.0.0, then I set ISISDATA and ISISROOT correctly, and fetched latest ISIS data.

Run:

wget https://pds-geosciences.wustl.edu/lro/lro-l-mrflro-4-cdr-v1/lromrf_0002/data/sar/03800_03899/level1/lsz_03821_1cd_xku_16n196_v1.img
 wget https://pds-geosciences.wustl.edu/lro/lr

[2022-04-28 21:32] jessemapel commented on #4930
ISIS does not use the metakernels in the data area, they are purely extra. ISIS has it's own complex kernel selection logic that we're working to make available in ALE.

[2022-04-29 15:43] cneish opened #4934 "ctxcal not working on ISIS3"
**ISIS version(s) affected**: 3.5.2

I installed this version: Example for Ubuntu 14.04 Linux x86 64-bit Intel compatible systems:
rsync -azv --delete --partial isisdist.astrogeology.usgs.gov::x86-64_linux_UBUNTU/isis .

**Description**

I am working to calibrate a CTX image on ISIS3. I use the commands:

The image looks fine after the spiceinit step, but once I run ctxcal, it turns "white" (every

[2022-04-29 15:46] astrostu commented on #4934
Sanity checks: (a) Have you successfully processed this image before?  (b) Is the PDS flag set to ERROR for this image?  (c) Is the brightness being output actually all HRS, or is the auto-scaling in QVIEW just wrong (I've had that happen a few times).?

[2022-04-29 15:50] cneish commented on #4934
(a) I have not processed this image before, but I have successfully processed other CTX images before. (b) I'm not sure what you mean by the PDS flag, but in the header it says "PDS_VERSION_ID = PDS3". (c) When I look at the pixel value in qview (bottom right), all pixels give me a value of zero.

[2022-04-29 15:51] cneish commented on #4934
I will also note that we processed three CTX images today, and they all had the same issue.

[2022-04-29 15:55] oleg-alexandrov commented on #4930
I guess the metakernels could use instead the hard-coded /usgs/cpkgs/isis3/data/lro/kernels the string $lro/kernels and then do some faux variable expansion the way ISIS does in other cases.

[2022-04-29 15:56] astrostu commented on #4934
The PDS flag can be found in the index or cumindex files on PDS.  For this particular image: https://pdsimage2.wr.usgs.gov/archive/mro-m-ctx-2-edr-l0-v1.0/mrox_1102/index/index.tab .  And it looks like it's set to OK, so that's not the issue.

I'm on travel but have ISIS 4.4.0 on my laptop.  I can tell you that I just ran it and the image processes fine in that version of ISIS.

If you processed t

[2022-04-29 15:59] cneish commented on #4934
It looks fine after the mroctx2isis and spiceinit steps. (See image on the right in the screenshot.) Something goes wrong during the ctxcal step.

I'm not sure what would have changed in our set-up (despite the fact it's very old!). I'm trying to update all the MRO data files right now to see if that helps.

[2022-04-29 16:12] jessemapel commented on #4930
The problem is that SPICE doesn't have that sort of capability. We could update it when it gets downloaded, we're currently working on getting off the rsync servers and just using scripts to download and setup the data area. It wouldn't be too hard to do some template expansion int he meta kernel files in those scripts. @Kelvinrr Do you have an idea of how much work this would be?

[2022-04-29 16:14] jessemapel commented on #4934
Do you have the SPICE data local? Before 5.0.0, all of the calibration applications require local SPICE data in order to compute the solar distance. If the SPICE data is not available it instead returns a massive distance that results in all of the data being "corrupted".

[2022-04-29 16:22] cneish commented on #4934
Do you mean the kernels in the /data/mro/ directory? I'm updating that right now. But it's strange that it worked for other images in the past. Does it depend perhaps on the date of acquisition for the image?

[2022-04-29 16:33] jessemapel commented on #4934
Yes, you'll need the kernels in /data/mro/kernels. I'm surprised it's worked in the past. It could be that you have some of the kernels for older images, but not kernels for the newer images.

[2022-04-29 16:36] cneish commented on #4934
That's what I thought, but some of the images we tried were from 2010. I'm sure we had the kernels from 2010. I will try again when all the new kernels have downloaded.

Is this something you can check when you're back in the office with an older version of ISIS? I fear I am doomed to have to do an reinstall. :)

[2022-04-29 16:40] jessemapel commented on #4934
If updating your data area does not fix this, I can try and reproduce it with our install of 3.5.2 I'll also see if it's still a problem in the latest release.

[2022-04-29 16:44] cneish commented on #4934
Updating my data area did not fix the problem. I'd be curious to hear what happens on your end when you use 3.5.2. Thanks!

[2022-04-29 16:52] astrostu commented on #4934
I'll also add that B20 images are from April 2010, so unless the old kernels were replaced which the MRO team does very rarely if at all, the SPICE data wouldn't be the issue for a B20 image ... I wouldn't think, anyway.

[2022-05-02 15:18] #4924 closed, assigned to jessemapel

[2022-05-02 15:39] jessemapel commented on #4559
Bumping this back to active as it's a currently proposed project.

[2022-05-02 15:39] jessemapel commented on #4514
Still activate in #4520

[2022-05-02 17:15] lwellerastro commented on #4934
Hi - I just wanted to confirm where I did and did not run into problems calibrating B20_017450_1542_XN_25S047W.IMG.

The image calibrates fine when I process under isis5.0.2 or the latest version isis7.0.0RC2.  The oldest version of isis I could get to is isis3.7.0 and under that version all pixels in the calibrated image have dn=0.

The isis labels have changed a tad across these versions, but on

[2022-05-02 17:25] astrostu commented on #4934
@lwellerastro -- Interesting ... not sure then why @cneish would've been able to process the data before?

@cneish -- did you maybe update your SPICE data directories a few days ago (BEFORE the DN=0 issue) but hadn't in a long time before that?

[2022-05-02 17:28] jlaura commented on #4934
@lwellerastro I edited your comment to remove the full file paths and instead to use the environment variables that ISIS is expecting. That should be portable across systems and also does not expose the internal directory structures to the wider internet.

[2022-05-02 17:30] lwellerastro commented on #4934
Thanks @jlaura.  Just be aware that what I shared is how it is being stored in the isis label.  Maybe that is a mistake?  Everything in the kernels group uses the environment variables.

[2022-05-02 17:32] cneish commented on #4934
@astrostu That's entirely possible.

Is there any way to fix this problem using ISIS3? Or will I have to upgrade to a newer version?

[2022-05-02 18:07] jlaura commented on #4934
@lwellerastro I figure it is better for our security (though not a huge concern) and, maybe more importantly, it is more portable for our users to use the env variable - even if that means an edit of what is actually in the label.

I am not sure if they label should be using the env variable. Seems it would be more portable but I defer to someone else on the team better versed in how the label are

[2022-05-02 18:16] cneish commented on #4934
Is it possible to upgrade ISIS on Ubuntu 14? I originally installed that (very old) version of Ubuntu because it was the only one that was supported by ISIS. (Back in the days before Anaconda.) I would prefer not to have to update the operating system and ISIS! :) Thanks.

[2022-05-02 18:22] jlaura commented on #4934
@cneish Assuming miniconda is supported, it should work. Full disclosure - I have never tested conda on Ubuntu 14.

The conda environment abstracts away everything except for low level libraries (like clib and some graphics drivers).

[2022-05-03 01:47] scsides commented on #4803
Synopsis of activities to solve the issue of HRSC SCR target intersection not aligning with what the image data (i.e., SRC image -vs- phocube). NOTE: These are a combination of the efforts of Lynn, Brent, Randy, Conrad, Stuart:

FTP site for documentation and SPICE data: https://spiftp.esac.esa.int/data/SPICE/MARS-EXPRESS/kernels/spk/aareadme.txt

Main issues is: The camera model has poor to no ta

[2022-05-03 03:06] cgallinger commented on #4585
I have also run into this same issue, and noticed a difference between the output of `catlab` and `gdalinfo` on the same file (sband_50s348_cpr.cub) after running `pds2isis` but without running `map2map`:

'catlab':
[code]

'gdalinfo':
[code]
Additional info: macOS 10.13.6, isis version 5.0.0, GDAL version  2.3.2.

It seems like the "flipped" orientation exists in the original file, where the west

[2022-05-04 16:47] #4370 closed, assigned to scsides

[2022-05-04 16:54] cneish commented on #4934
Hi again,

I am now attempting to install ISIS 6.0 on Ubuntu 14.04, and have run into some problems.

When I first tried to open qview, I received the following error:

I had seen a similar error when I installed ISIS 6.0 on my Mac, so I ran this command suggested by @jessemapel:

Now I am encountering a new error:

in "".

Available platform plugins are: eglfs, linuxfb, minimal, minimalegl, offsc

[2022-05-04 16:58] cneish commented on #4934
Addendum: I have fixed the second problem by running this command again:

I must have made an error the first time. My apologies.

[2022-05-04 17:27] jessemapel commented on #4934
Your QT Plugin issue is most likely caused by your PATH or LD_LIBRARY_PATH having extra stuff in them. Check that you don't have extra QT installs in any of the locations pointed to by those environment variables.

[2022-05-04 17:42] cneish commented on #4934
My LD_LIBRARY_PATH is empty, but my PATH called the old version of ISIS. I deleted that, and was able to open qview. And now the CTX image looks correct! So we can officially close this thread. Thanks so much for your help.

[2022-05-04 17:59] #4934 closed, assigned to nobody

[2022-05-04 19:14] cordellmichaud opened #4939 "Update lrowaccal to add a radiance units label to the output cube and refactor for testability"
**Description**

Lrowaccal needs an update to add a radiance units label of "W/m2/sr/um" to the radiometry group of the output cube label to more clearly indicate the radiance units and accompany a change to the radiance calibration coefficients which makes the radiance units match those of the NAC. The units label should only be added when the RadiometricType parameter is Radiance, not IOF.

Lrow

[2022-05-05 15:50] mblancor opened #4941 "Unable to run isis3Startup.csh"
Hi everyone!

I just downloaded isis on my Mac (OS Big Sur), and I am hoping to use it to help me with band-to-band registration of Cassini ISS imagery. However, when running source $ISISROOT/scripts/isis3Startup.csh I am getting the following error message:

/Users/mblancor/opt/anaconda3/envs/isis/scripts/isis3Startup.csh:71: parse error near `\n'

I was exploring the forum to see if I could find

[2022-05-05 16:41] jessemapel commented on #4941
What shell are you running? What version of ISIS did you install?

[2022-05-05 16:46] mblancor commented on #4941
Hi! I'm running a zsh shell and I downloaded isis 6.0.0.

[2022-05-05 17:12] jlaura commented on #4941
I am also using zsh on a Mac with 6.0.0. I used the following (step 7 in the installation section of the README):

`conda env config vars set ISISROOT=$CONDA_PREFIX ISISDATA=[path to data directory]`

The snipped you used above it a sheet script for c-shell. I would not expect it to work on zsh. Does running the above command, with your ISISDATA path inserted, work?

[2022-05-05 17:16] mblancor commented on #4941
Yup it works!! Thank you. I tried using qview to visualize the test image they gave in exercise 1 (Peaks.cub)but still no image seems to pop up on the GIU window... could it be that I set my environment wrong?

[2022-05-05 17:18] jessemapel commented on #4941
Can you provide a screenshot or snip of what you're seeing/not seeing?

[2022-05-05 17:21] mblancor commented on #4941
This is what I'm seeing... I am very new to isis, so any help is welcome!
<img width="908" alt="Screen Shot 2022-05-05 at 1 20 36 PM" src="https://user-images.githubusercontent.com/105002107/166978177-ea645008-4040-45f0-bad4-6d41fdefe44d.png">

[2022-05-05 17:22] jessemapel commented on #4941
What command did you run to view the cube? You should also be able to click on the "open Cube" icon in the top left to open a file dialogue for opening cubes.

[2022-05-05 17:30] mblancor commented on #4941
Ah I didn't know I could use the icon on the top left! I originally used qview Peaks.cub, but the opening it right from the GUI worked perfectly. Thank you so much!

I was also wondering where the best place to ask questions is, I have a couple of questions about opening cassini data (I'm getting an error reading the input file saying: 'This image does not contain a pds label.' even though i'm inp

[2022-05-05 17:47] jessemapel commented on #4941
Try https://astrodiscuss.usgs.gov/ more of our user community is over there. The GitHub issues are more watched by devs

[2022-05-05 17:47] #4941 closed, assigned to nobody

[2022-05-05 20:03] lwellerastro opened #4942 "NAIF errors after initializing with ck/spk-writer kernels"
**ISIS version(s) affected**: 5.0.2, isis7.0.0-RC2

**Description**
Camera and Spacecraft kernels generated for Cassini ISS images of Titan early last month generate NAIF errors when applied to newly ingested images as well as certain types of existing images.

Spiceinit runs without errors, but programs like qview and campt produce the following NAIF error message:
[code]
**How to reproduce**
See

[2022-05-05 21:06] jessemapel commented on #4922
I think this is possible but it may be a little tricky or take some code changes on our end:

I'm adding this to the list of reasons why the predict/recon/smithed setup is troublesome. See #3482

[2022-05-05 21:35] jessemapel commented on #4942
My first guess is an SPK issue as SURFPT is the routine that intersects a position and look vector with an ellipsoid. it is somehow being passed a 0 position vector. I'll do some more poking around.

[2022-05-05 21:40] lwellerastro commented on #4942
There were no errors after applying it to a copied version of the jigsaw input image.  Errors on some input but not others is what's kind of concerning me, but maybe that's a red herring.

Update: I ran the same tests using only the ckwriter generated kernel and I no longer get the NAIF error.  So there is something going on with the spk kernel and perhaps I should create a version using the defau

[2022-05-06 15:46] scsides opened #4943 "Segfault when footprintinit with Phobos DSK"
**ISIS version(s) affected**: 7.0

**Description**

Many Mex HRSC SRC images segfault in footprintinit when using the Phobos DSK.
Segfault looks like it is in: NaifDskShape::setLocalNormalFromIntercept()

Image: HC545_0031_SR2.lev0.cub
spiceinit from=HC545_0031_SR2.lev0.cub tspk='(base/kernels/spk/de405.bsp, tspk/MAR097.bsp)' IK=MEX_HRSC_V09.ti extra=spk/MEX_STRUCT_V01.bsp shape=user model=dsk/PHO

[2022-05-06 15:47] scsides commented on #4943
@lwellerastro, FYI this is the new issue for Mex HRSC SRC

[2022-05-06 18:48] lwellerastro commented on #4942
I created a type=13 spk kernel for my Titan network of images and that too is generating NAIF errors when applied to newly ingested images.

[2022-05-06 23:40] oleg-alexandrov opened #4944 "Missing isolated pixels in LRO WAC images"
**ISIS version(s) affected**: 6.0.0

**Description**

LRO WAC images come split into "even" and "odd" images, which are then combined with the new *framestitch* tool.

The *lrowaccal* tool removes what seem to be perfectly good good isolated pixels (and sometimes two pixels in a row). Here's a screenshot of an even image, odd image, and the combined stitched image, after lrowaccal. The image id is

[2022-05-09 15:57] oleg-alexandrov opened #4945 "Artifacts in stitching WAC images"
**ISIS version(s) affected**: bleeding edge from the repo, so version > 6.0.0

**Description**

The new *framestitch* tool for stitching together WAC images creates images with artifacts at edges of the framelets being stitched.

Here are stitched images  M119923055ME.cub and M119929852ME.cub. I zoomed in to the center of the Tycho crater.

![image](https://user-images.githubusercontent.com/132567

[2022-05-09 19:48] oleg-alexandrov opened #4946 "Building ISIS with tests off"
**ISIS version(s) affected**: latest

The base ISIS CMakeLists.txt has both BUILD_TESTS and buildTests variables, and there is a lot of logic in there for building tests which is not conditional upon any of these. And building ISIS with either these on or off fails, with no explanation except for

No rule to make target 'ISIS3/gtest/googlemock/src/gmock-all.cc'

at compile time. So at cmake time t

[2022-05-09 22:59] lwellerastro commented on #4942
I created ck and spk kernels for a small set of updated Kaguya TC images and performed tests similar to Titan.  I encountered no issues using the new kernels on ingested images or copies of the pre-jigsaw images.  In both cases, the resulting images matched the jigsaw updated images that the kernels were based upon.

I was not able to create a single ck or spk kernel for my test images because the

[2022-05-10 14:43] jessemapel commented on #4945
These artifacts are likely in the original images. There is a small amount of overlap between sequential frames to ensure that the entire ground swath is covered. We could try adding a trimming option that cuts out the overlapping pixels in one frame.

[2022-05-10 20:39] ladoramkershner commented on #4933
I am able to create a cube when I try to reproduce.
<img width="51" alt="image" src="https://user-images.githubusercontent.com/42873279/167717364-2c072a90-58aa-46a6-a9c2-defaf3b685f2.png">

I am on the astrovm5 system when I am able to successfully reproduce. I will try on my local laptop as well to see if I can reproduce the error.

[2022-05-10 21:51] scsides commented on #4803
~~Reviews for the PR are in the works. This is a breaking change, so it will be released in the next major version, 8.0, expected release candidate in early Oct, and full release in early Nov.~~

~~In order for this work to continue before the 8.0 release, you will need a local build. Someone will need to follow the instructions at, https://github.com/USGS-Astrogeology/ISIS3/wiki/Developing-ISIS3-

[2022-05-11 15:06] jessemapel commented on #4946
This is usually an issue with your gtest submodule. Make sure that it's properly initialized

[2022-05-11 16:59] ladoramkershner commented on #4933
I am able to spiceinit when I try and reproduce.
[code]

The only difference I am seeing in our outputs is our SpacecraftClock. I have `$lro/kernels/sclk/lro_clkcor_2022124_v00.tsc`, which I presume is a newer version of what your spiceinit is listing `$lro/kernels/sclk/lro_clkcor_2022117_v00.tsc`. I am not sure if this is causing the issue or not. I am just trying to provide more information.

I

[2022-05-11 17:12] oleg-alexandrov commented on #4933
Is this after doing spiceinit once or twice?

[2022-05-11 17:52] ladoramkershner commented on #4933
The output is repeated after a second run of spiceinit

[2022-05-11 18:01] AustinSanders commented on #4944
I was able to reproduce this behavior via
[code]

If this isn't resolved as part of the LROWAC work during the ongoing CSM/ALE sprint, we'll get it slotted for either continuous support or a dedicated support sprint.

[2022-05-11 20:26] lwellerastro commented on #4933
I can reproduce the error as stated by @oleg-alexandrov on astrovm5 using isis6.0.0 by doing the following:
[code]
Let me know if further information is needed.

[2022-05-11 23:30] AustinSanders commented on #4931
I haven't yet replicated this issue, but I'm tracking this issue and plan to address this (or at least triage) with continuous support hours.

[2022-05-11 23:33] AustinSanders commented on #4810
It looks like this issue slipped through the cracks so far, but I'm now tracking this issue and will attempt to replicate soon.  Thanks for your patience and the proposed workaround!  I'll update the issue with more info as I dig my way through.

[2022-05-11 23:37] AustinSanders commented on #4939
Closed via #4940.  Huge thanks to @michaudcordell for identifying this issue and coming in with a PR.  We really appreciate the contribution!

[2022-05-11 23:37] #4939 closed, assigned to nobody

[2022-05-12 03:10] AustinSanders commented on #4933
I was able to reproduce this on astrovm5 with isis6.0.0.  I copied the environment and configured ale to produce verbose output.

On the first pass, the LroMiniRfIsisLabelNaifSpiceDriver (in ALE) fails because the kernels group is missing the CameraVersion.  Spiceinit seems to populate this keyword on the first pass, so the second pass results in the use of LroMiniRfIsisLabelNaifSpiceDriver.  We m

[2022-05-12 19:48] jessemapel opened #4948 "History scrubbing app"
**Description**

We need an app that will remove the history blob from a cube. As part of compliance we need to scrub absolute paths and many cubes in the repo have absolute paths in their history.

**Example**

for example:

[code]

[2022-05-12 22:45] lwellerastro commented on #4803
@ssides, the work described above included use of kernels that we do not have in the system.  Although the camera model needed some changes, some of the spice issues were addressed by using more up to date kernels. Will they be part of the check-in process?

[2022-05-12 23:11] ladoramkershner commented on #4933
I had an IsisPreference file in my home which overrode the shared IsisPreference and did not contain CSM information, so my ALE ingestion consistently failed and ISIS can ingest this all day long. I think this indicates an issue in the ALE drivers for this (as @AustinSanders indicated) but now that I can replicate I will look more into it!

[2022-05-13 15:30] scsides commented on #4803
I will move the newer SPICE over to the main data area when the issue is merged into the dev branch. This keeps the continuous integration builds from failing. Basically, both have to happen at the same time.

[2022-05-13 20:09] lwellerastro commented on #4919
bumping this in case there is a desire to get this newly introduced bug fixed before the next release.

[2022-05-15 12:43] manueltorrs opened #4951 "Couldn't find how to start from scratch"
**Description**
I'm new to ISIS, and I'm really struggling with how to start the program. I can see in the tutorial several screenshots showing how to use it, but I even hadn't the opportunity of run it, because I even don't know how and its not explicit that how to.

**Suggested Edit**
I would recommend add more explicit documentation where shows how to do everything from zero, for people like me

[2022-05-16 16:27] AustinSanders commented on #4951
Hi @manueltorrs, the Astrogeology Science Center development team is in the process of adding and improving documentation throughout our software portfolio, so this issue is somewhat timely.

If you've already reviewed the [installation process](https://github.com/USGS-Astrogeology/ISIS3/blob/dev/README.md#Installation), please let me know which step you're stuck on, and I'll do my best to assist

[2022-05-16 19:57] colindundas opened #4952 "Destriping filter"
It would be helpful to implement a destriping filter similar to that described in Kirk et al. (2003, JGR), which is useful for photoclinometry. This can be implemented by scripting together existing tools.

[2022-05-16 21:04] rbeyer commented on #4952
Maybe there's somewhere else in [Kirk et al. (2003)](https://doi.org/10.1029/2003JE002131) that talks about destriping, but it looks like what the "filtering" in paragraph 44 is talking about are artifacts in stereo-derived DEMs related to jitter.  Can you describe how this would be used for photoclinometry?

[2022-05-16 22:28] jessemapel commented on #4952
How would this differ from [dstripe](https://isis.astrogeology.usgs.gov/Application/presentation/Tabbed/dstripe/dstripe.html)? I'm not seeing an exact algorithm in that paper.

[2022-05-16 22:29] jessemapel commented on #4919
This isn't going to get fixed for the 7.0 release. We'll likely get it fixed before 7.1, though.

[2022-05-16 23:02] rbeyer commented on #4952
I had a sidebar conversation with Colin.  `dstripe` operates horizontally or vertically.  The "destriping" algorithm exemplified in Kirk et al. (2003) could be applied to remove "striping" with any orientation in the image, I think, not just horizontally and vertically.

However, this may be more of a "workflow" of ISIS programs as Colin alludes to that wouldn't need to be its own executable.  As

[2022-05-17 00:35] oleg-alexandrov commented on #3570
Keeping this alive. Installing GDAL in the ISIS conda env is a very important goal. Especially that GDAL 3 improved when it comes to handling converting between projections and between vertical datums. It is the case for NASA ASP, and may be for ISIS as well, that homegrown solutions were implemented to deal with projections, datums, and large images. Some of those may become obsolete if recent GD

[2022-05-17 17:05] jlaura commented on #3570
@acpaquette @scsides Has this been completed under the dependency work or are we still having issues here because GEOS work has not been finished?

[2022-05-17 17:45] lwellerastro commented on #4952
I would consider this more of a workflow because it involves multiple additional steps.  There was a time (isis2/tae) when we had a TAE pdf that did such a thing (if interested in details involving some programs having since been replaced see pcdstripe.pdf in my home /bin area).

It boils down to rotating the image (we used an azimuth value, not sure which though) to make the stripes horizontal (o

[2022-05-17 20:12] jessemapel commented on #4952
dstripe is just an application that calls the highpass and lowpass applications with the appropriate parameters. We could add an additional extra step that performs a rotation. We already have a [rotate](https://isis.astrogeology.usgs.gov/Application/presentation/Tabbed/rotate/rotate.html) application.

[2022-05-17 22:27] colindundas commented on #4952
Here are more details following a sidebar discussion with Randy Kirk. Destriping would consist of scripting together pieces we already have.  The existing “destripe filter” is already a small script:

dstripe =              lowpass
                       highpass
                       fx

The full process is:
                                lowpass
        highpass

[2022-05-17 22:53] ladoramkershner commented on #4933
Both runs of spiceinit on the MiniRF data are failing.
The first failure happens in ALE because the original label does not contain ISIS Camera Version information. This causes ALE to fail and it passes to ISIS to handle the spice attachment. I do not think this should be the expected behavior because not having an ISIS camera version reasonable thing for a none ISIS label to contain, so I opened

[2022-05-17 22:54] ladoramkershner commented on #4933
I would like to talk to someone with a better "big picture perspective" of the ALE architecture before I implement a fix, but I just want to give an update!

[2022-05-17 23:12] oleg-alexandrov commented on #3570
I think GDAL provides an API for polygons via OGR, which under the hood uses GEOS. Given that the GEOS API C++ seems unstable, calling it through GDAL and letting GDAL maintain the GEOS interface may avoid future work keeping up with GEOS. My apologies if I got something wrong, I don't know where the status of things is when it comes to this issue.

[2022-05-18 21:31] manueltorrs commented on #4951
Hello, thanks for responding,

1. Basically, I want to open .img files and convert it to .jpg or .png images. Of course, I also would like to manipulate its layers, bands, etc.
2. I have installed it as the tutorial with anaconda says.
3. I can't open anything, I don't know how to initiate anything.

I couldn't find anything about how can launch ISIS, maybe I'm wrong, but I just found only screens

[2022-05-18 22:59] jessemapel commented on #4951
As Austin said, ISIS is a collection of applications that you can combine together to do specific tasks. It is not like photoshop or GIMP where there is a single program with many tools.

First of all, you will need to get your images into a Cube file. You can do this with std2isis.

Then what you do next depends on how you want to manipulate the bands. ISIS does not use layers like photoshop or g

[2022-05-19 17:07] oleg-alexandrov opened #4958 "Too much work is happening when building"
I am tweaking the new tool framestitch.cpp, which has little to do with anything else in the repo. Yet, changing one line in it results in "ninja install" doing 800 relinking jobs, including for libisis.so and lots of tools and unit tests.

Why are things so tied together? All this takes time to run.

[2022-05-19 23:06] cordellmichaud opened #4960 "Lrowacphomap needs to be re-added and refactored with tests"
**Description**

The lrowacphomap app needs to be re-added to enable applying photometric correction to WAC cubes with a parameter cube defining Hapke model parameters for the correction, a PVL file defining the algorithm, and an optional backplane cube.

Lrowacphomap also needs an update to be brought in line with the newer testing process for ISIS by refactoring lrowacphomap to be callable and a

[2022-05-20 19:23] oleg-alexandrov commented on #4946
The BUILD_TESTS/buildTests issue is addressed in https://github.com/USGS-Astrogeology/ISIS3/pull/4957.

As to gtest, apparently that one is set up properly if one runs buildCondaRelease.sh from the repo, as that sets up everything.

BTW, the build was failing with my local compiler, which is GCC 4. I did not pursue this in detail. It may be helpful to spell out a compiler in meta.yaml which conda

[2022-05-20 19:24] #4946 closed, assigned to nobody

[2022-05-20 20:26] oleg-alexandrov commented on #4951
The current README spends a lot of time on installation and ISIS data, and not enough on documenting the tools.

I guess the entry point is the README section called "ISIS Tutorials". From there, if one fumbles around there some pointers to things. Particularly, there are "Mission Specific ISIS3 Processing" tutorials. There is text on "Locating and Ingesting Image Data".

I hope you can read aroun

[2022-05-21 14:11] manueltorrs commented on #4951
Thanks for responding, you are a very kind community,

Despite of several efforts on learning how to use this program, I just simply couldn't, and I have noticed that there was an error on the installation because when I try to run anything, it shows me this message:

`qview: error while loading shared libraries: libavresample.so.3: cannot open shared object file: No such file or directory`

And t

[2022-05-21 17:36] oleg-alexandrov commented on #4951
Glad you found an alternative solution.

If all you need is to convert .img to another format then given its simple nature it appears that even Photoshop can do it (https://www.planetary.org/articles/0307-image-processing-trick-raw-photoshop). And some datasets are also available as .tif or .jp2 which don't need ISIS.

But ISIS can manipulate images which won't fit in computer's memory and it can'

[2022-05-22 03:17] ldx119 opened #4962 "error while loading shared libraries"
**ISIS version(s) affected**: x.y.z

**Description**

Today I'm using the latest released version 3.1.0 of the Stereo Pipeline and I'm sure my installation steps are exactly the same as I did a few months ago . There was absolutely no problem with running it before, but today I tested whether my installation was successful and encountered such a problem.
I just use the command 'moc2isis' from .imq

[2022-05-22 13:04] jlaura commented on #4962
@ldx119 What version of ISIS are you running?

Also, please see: https://github.com/USGS-Astrogeology/ISIS3/issues/4951#issuecomment-1133707324

[2022-05-22 13:36] ldx119 commented on #4962
ISIS version is "isis=6.0.0"

[2022-05-22 14:00] ldx119 commented on #4962
I use the command which is "conda activate isis \
conda install -c conda-forge ffmpeg --force-reinstall" directly from #4951 but it didn't work.

Should I reinstall isis ? after this step" conda install -c usgs-astrogeology isis=6.0.0" and then I add the command "conda install -c conda-forge ffmpeg --force-reinstall" ?
<img width="403" alt="still" src="https://user-images.githubusercontent.com/100

[2022-05-22 14:50] ldx119 commented on #4962
I reinstall isis ,the version is 6.0.0 , add that command "conda install -c conda-forge ffmpeg --force-reinstall" after the "conda install -c usgs-astrogeology isis=6.0.0" , which is still the same error.

[2022-05-23 03:24] oleg-alexandrov commented on #4962
The other issue is also suggesting something I tried myself, which is to install that offending library in a new environment, and copy it over. To go into more detail, one should first do:

conda create -c conda-forge -n tmptestenv ffmpeg=3.4.1

Then copy the library and its symlink with rsync (which should copy the symlinks properly):

rsync -avz ~/miniconda3/envs/tmptestenv/lib/libavresample.* ~

[2022-05-23 15:54] jessemapel commented on #4962
the conda-forge ffmpeg build has been having a lot of issues lately. Can you provide your whole conda environment? You can get it with `conda list`

[2022-05-23 22:42] jessemapel opened #4964 "Add EIS ingestion to isisimport"
**Description**

Add the ability to ingest EIS NAC/WAC FC/PB images with isisimport.

[2022-05-24 02:27] ldx119 commented on #4962
ok the following is my 'conda list'
(isis) ldx@ubuntu:~$ conda list
# packages in environment at /home/ldx/anaconda3/envs/isis:
#
# Name                    Version                   Build  Channel
_libgcc_mutex             0.1                        main
_openmp_mutex             5.1                       1_gnu
ale                       0.8.5            py36h605e78d_3    conda-forge
armadillo

[2022-05-24 02:42] ldx119 commented on #4962
Sorry, I followed your instructions and still got the same error. I would like to explain my installation process in more detail:
step1：chmod +x Anaconda3-5.3.0-Linux-x86_64.sh
            ./Anaconda3-5.3.0-Linux-x86_64.sh
step2: here is a little different from the installation toturials ,what I have done is :  conda create -c conda-forge -n tmptestenv ffmpeg=3.4.1 ,which is follow your instructio

[2022-05-24 04:00] oleg-alexandrov commented on #4962
My bad. I forgot to to add "lib" at the end. The command should be:

rsync -avz ~/miniconda3/envs/tmptestenv/lib/libavresample.* ~/miniconda3/envs/isis6/lib/

So, it should go from one "lib" to a second "lib".

[2022-05-24 04:02] oleg-alexandrov commented on #4962
And I made another typo, yet again, which I later fixed above.

[2022-05-24 04:04] oleg-alexandrov commented on #4962
Third time is the charm. Late here, can't think straight: rsync -avz ~/miniconda3/envs/tmptestenv/lib/libavresample.* ~/miniconda3/envs/isis6/lib

[2022-05-24 08:16] ldx119 commented on #4962
Thank you very much for your help, the problem is completely solved！

[2022-05-24 15:03] #4032 closed, assigned to nobody

[2022-05-24 15:49] jessemapel commented on #4962
It appears the actual offender here is ffmpeg. Did you try `conda install -c conda-forge ffmpeg=3.4.1`?

[2022-05-24 22:33] drschenk commented on #4925
Hi Jesse
Mike says you might be available tmrw.  I have a window between 10 and 11.  Would that work?   My question is getting anaconda to upload and activate so I can get isis 6 up.   Also interested in whether you might know about specific camera models in isis.
Cheers
Paul

Sent from my iPhone!  Typing erratic.

On Apr 28, 2022, at 9:17 AM, Jesse Mapel ***@***.***> wrote:

﻿
        CAUTION: Th

[2022-05-24 22:36] jessemapel commented on #4925
@drschenk Yeah I'll be available then, send me an e-mail or have Mike setup a meeting.

[2022-05-25 03:48] ldx119 commented on #4962
I have tried ,using the command 'conda install -c conda-forge ffmpeg=3.4.1'. However ，it stucks on solving environmental problems , at least, it takes 3 hours.So,how long should it take for solving the environmental problems .
![image](https://user-images.githubusercontent.com/100507049/170175601-9c571277-d1e6-491d-8f99-4e28afa33610.png)

[2022-05-25 15:04] #4113 closed, assigned to nobody

[2022-05-25 15:21] rbeyer commented on #3955
This item is as relevant as ever, but doesn't seem to have gotten any attention.

[2022-05-25 15:37] jessemapel commented on #4019
I'll ping this to keep it open, but also note that we need to generate the authors.xlsx file for the USGS release process.

[2022-05-25 22:07] jlaura commented on #3955
@rbeyer Do you use a linter or automatic code style tool on ASP that you like (or at least tolerate)?

[2022-05-25 22:21] rbeyer commented on #3955
We do not.

[2022-05-25 22:39] #4960 closed, assigned to nobody

[2022-05-26 02:12] planetarygeo commented on #4962
Hello - Thanks for our help on this issue.  I had the same problem trying a new installation of ISIS 6.0.0 today on Ubuntu 22.04 LTS, although I used the full anaconda.   I just wanted to say that I did try
conda install -c conda-forge ffmpeg=3.4.1
and although it took a bit (not forever, maybe 10-15 min) it did eventually download/reinstall ffmpeg and it looks like installed something, updated so

[2022-05-26 02:59] oleg-alexandrov commented on #4962
Maybe more knowledgeable people will add to this, but your problem seems to be that you are running VMWare, and that your GUI's OpenGL library can't find the needed driver. That "vmwgfx" thing is apparently a kernel module.

The first question to ask is if you can open non-gui tools? For example, does "spiceinit" work, or some tools to convert PDS files to .cub? If not, that is quite bad, and like

[2022-05-26 15:04] #4139 closed, assigned to nobody

[2022-05-26 16:22] planetarygeo commented on #4962
Hi Oleg,

Thanks for your helpful thoughts and the link.  It does seem like it is something with vmware rather than ISIS, so apologies for posting it here, but perhaps someone else will still run into the same problem ;).   I have used vmware quite a bit in the past but this is a totally new setup with a new version of everything :P.  So probably there is a setting/bug somewhere that I need to adj

[2022-05-26 22:15] ladoramkershner opened #4966 "demprep segfaults"
**ISIS version(s) affected**: 6.0.0 and 5.0.2; works in 3.9.2 (after setting ISISDATA)

**Description**

demprep seg faults with no helpful information. There are not amendments to the print.prt file

**How to reproduce**

[code]
In the archived pds area, the label information is located MAP2/images/LolaKaguya_Topo/

**Possible Solution**

Any sort of error would be helpful. It is possible the dem

[2022-05-26 23:57] ladoramkershner commented on #4966
Additional information:

@lwellerastro  pointed me to a Phobos DEM example (Phobos_ME_HRSC_DEM_Global_2ppd.lbl/ tif)
If you grab the relevant data and edit the lbl to have radius values (from the MAP2/images/ pds derived product archive) and edit the label to have a Base = raduis of Phobos (since ISIS doesn't operate on height DEMs)

[code]
You can get a successful run of demprep

[code]
with outp

[2022-05-27 16:37] oleg-alexandrov commented on #4944
This is resolved by https://github.com/USGS-Astrogeology/ISIS3/pull/4950.

[2022-05-27 16:38] #4944 closed, assigned to nobody

[2022-05-27 16:41] oleg-alexandrov commented on #4945
This is not fully resolved yet. The .cub file created by framestitch cannot be used to create a CSM camera model file as it lacks kernel info. An original cub file cannot be used either because that one is lacking the variable written by framestitch which accounts for how many lines get removed from each framelet on stitching.

As such, the process of using ISIS and CSM with WAC is in limbo. Hopef

[2022-05-27 23:20] drschenk commented on #4925
jesse,
i tried flipping sign on  transx and itranss, but that was not good as the longitudes were then reversed.  should have guessed that one.  tried reversing sign on k1 and k2 but may have made things worse.  (note that i am currently working only with 61500 mode images.
not sure what to do with the OFFSET value which is currently =1 for 61500.  what is that parameter?  should it be center of f

[2022-05-29 15:03] #4345 closed, assigned to nobody

[2022-05-29 22:25] jessemapel commented on #4925
The OFFSETs are the number or rows between the top of the detector and the portion that was read out for that filter.

[2022-06-01 14:53] rfergason commented on #4803
What is the status on this PR and related needed efforts (e.g., updating kernels) described above?  I see it was merged on April 15, yet there are follow-on comments communicating that reviews for the PR are in the works.  I don't understand the connection between these comments.  Thanks!

@scsides

[2022-06-01 22:52] ssides commented on #4803
On github I am @ssides1. This is the wrong email address for @ssides.

Sent from my iPhone

[2022-06-02 23:37] dpmayerUSGS opened #4969 "MARCI Variable Exposure Table "varexp.tab" Needs to Be Updated"
**ISIS version(s) affected**: >= 3.4.9

**Description**
`marcical` references a file in the ISIS data area, "varexp.tab" which contains variable exposure times of MARCI observations. This file is updated in the PDS with each (quarterly) MARCI data release, but there is as of yet no automated process of updating the file in the ISIS data area with the latest one from the PDS.

The copy of "varexp.t

[2022-06-03 23:52] jessemapel commented on #4969
I wonder if this can be automated using the tooling from #4937

[2022-06-06 00:28] astrostu commented on #4092
Gonna ping this one again ...

[2022-06-06 14:18] jessemapel commented on #4705
Complete, just waiting for slight changes in #4716 to remove API breaks.

[2022-06-06 14:19] jessemapel commented on #4512
Done in #4519

[2022-06-06 14:19] #4512 closed, assigned to nobody

[2022-06-07 15:15] jessemapel commented on #4711
It is unlikely we'll get to this this FY, so I'm going to close this for now. It is likely we'll need a more robust re-think of control measures in order to support things like horizon or limb measurements.

[2022-06-07 15:15] #4711 closed, assigned to nobody

[2022-06-07 23:12] jessemapel commented on #4969
I downloaded the new table and it appears to be exactly the same as the one we have right now. There's still the issue of needing to automatically update it, but it looks like they haven't commanded any new variable exposure marci images.

[2022-06-08 19:04] cneish opened #4970 "Issues initializing camera model"
**ISIS version(s) affected**: 6

**Description**
We have been attempting to get the Ames Stereo Pipeline back up and running on an Ubuntu 14 machine, in order to produce CTX DEMs. Previously, you helped me upgrade ISIS from ISIS 3 to the most recent version, ISIS 6. Now, when we run "parallel_stereo" we get errors related to ISIS being unable to find the shape model file (error message below). It

[2022-06-08 19:08] jessemapel commented on #4970
The real error here is the last one:

Check that you have your environment variables set correctly and that the file does exist where your environment and the kernels group says it does.

[2022-06-08 19:14] rbeyer commented on #4970
So your `*.map.cub` files are now made with your new ISIS 6 version.  What version of ASP are you using?  You can run `parallel_stereo -v` to find out.

It might also be useful to walk through what processing steps you used to make those `*.map.cub` files.

However, these messages do really seem like the programs can't find the files they need.  Is $ISISDATA set correctly in the ASP conda environm

[2022-06-08 19:25] cneish commented on #4970
@jessemapel, yes, we checked that the file exists in the $ISISDATA directory.

@rbeyer I am not at the computer right now, but I will take a look as soon as I can, and let you know what version of ASP we are using. I expect it is a very old one. Perhaps it is time to update that as well?

[2022-06-08 19:48] cneish commented on #4970
@rbeyer Here are the results from parallel_stereo -v. I believe we installed this in 2018, so it is well out of date.

NASA Ames Stereo Pipeline 2.6.1
  Build ID: 4672278

Built against:
  NASA Vision Workbench 2.2.0_post
    Build ID: 072d83f
  USGS ISIS 3.5.0
  Boost C++ Libraries 105900
  GDAL 2.0.2 | 20160126
  Proj.4 480

[2022-06-08 20:05] rbeyer commented on #4970
That might be the problem?  ASP uses ISIS libraries, and that version of ASP is using ISIS 3.5.0.  That older version of ISIS has a slightly different data directory structure and needs, so the "new" files that you built with the new ISIS, can't be operated on by the old ASP which is using the old ISIS, maybe?  Not sure.

Although it still looks like a "can't find a file" problem, so that's confus

[2022-06-09 13:37] cneish commented on #4970
@rbeyer So is the solution to install the new version of the ASP? We had to upgrade ISIS, as version 3.5.0 was not processing CTX files correctly.

[2022-06-09 14:03] jessemapel commented on #4970
Try also setting $ISIS3DATA to $ISISDATA and see if that fixes the problem.

[2022-06-09 16:24] rbeyer commented on #4970
Yeah, maybe upgrading ASP will address the problem, but I'm not sure.

[2022-06-09 23:59] drschenk opened #4971 "mvic camera model clarification"
In the NH lorri camera model we found that a vector element sign had to be flipped because of the way the fits files were read out vs isis was mirrored. I’ve been wondering if we need to do the same for mvic frames and scans of Pluto. believe e the FITS files are read out in the same way (mirrored left-right) but am not sure and dont know which elements in which kernels would need to be changed to

[2022-06-10 12:20] jlaura commented on #4971
Morning @drschenk. I wonder if this is not a either change in the IK or a change in the import code so that the read is flipped. I would wager that the vector element sign flip you did was inside the NH LORRI IK kernel?

[2022-06-10 12:31] drschenk commented on #4971
mvic2isis reads it in correctly (I think), but yes we did change something in the LORRI kernels to get the distortion field orientation correct.  Im trying to find out if and how we need to do the same for MVIC.  Stuart was looking into this????

[2022-06-10 13:27] jessemapel commented on #4971
Check the IAK file, `$ISISDATA/newhorizons/kernels/iak/mvicAddendum004.ti`. You can change the direction of the distortion (in vs out) by flipping all of the signs on `INS-98900_DISTORTION_COEF_X` and `INS-98900_DISTORTION_COEF_Y`.

You can also flip the images vertically or horizontally by changing the signs on `INS*_TRANSX`, `INS*_TRANSY`, `INS*_ITRANSS`, and `INS*_ITRANSL`. Changing `TRANSX` an

[2022-06-10 13:43] drschenk commented on #4971
ive been trying various things.   some reverse the longitude direction.   nothing works definitively (yet) but was hoping this could be answered by looking at the code from first principles. . .

[2022-06-10 14:00] jessemapel commented on #4971
Without fully examining your processes and exactly what you are seeing in your results, we can't help more than point you to some simple things to test. Here's all of the MVIC framing specific code if you want to check it:

https://github.com/USGS-Astrogeology/ISIS3/blob/dev/isis/src/newhorizons/objs/NewHorizonsMvicFrameCamera/NewHorizonsMvicFrameCamera.cpp
https://github.com/USGS-Astrogeology/ISI

[2022-06-10 14:03] jessemapel commented on #4971
There are comments in the TDI version of the camera model stating that the the distortion is not 100% implemented:

https://github.com/USGS-Astrogeology/ISIS3/blob/dev/isis/src/newhorizons/objs/NewHorizonsMvicTdiCamera/NewHorizonsMvicTdiCameraDistortionMap.cpp#L117

They state that there are additional corrections from Jason Cook. You could try reaching out to him for more information.

[2022-06-10 14:15] drschenk commented on #4971
I have contacted Jason and will see what happens.  the I think we have lost track of the main point.  my first order question is whether the existing camera model is implemented correctly in ISIS.  the first version of the LORRI distortion model back in 2015 was correct but was flipped right-to-left due to how the image was read in (vs how fits read it in).  _All Im trying to find out is whether t

[2022-06-10 14:30] drschenk commented on #4971
the documentation isn't clear whether this also applies to the framing mode....

[2022-06-10 14:40] jessemapel commented on #4971
The notes in the IAK mention that they thought this would only be required in the TDI observations and that the distortion for the framing observations should be properly handled by the existing legendre polynomial distortion model.

According to this document (page 68) referenced from the IAK: https://pds-ppi.igpp.ucla.edu/data/NH-P-PEPSSI-2-PLUTO-V3.0/DOCUMENT/soc_inst_icd.pdf

So I don't think

[2022-06-10 15:00] jessemapel commented on #4971
I can't find this document from the IAK:

[code]

@scsides Do you know where this is?

@drschenk lorri2isis and mvic2isis go through the same steps to convert the FITS file to an ISIS cube so any flipping being done for LORRI is also being done for MVIC.

[2022-06-10 15:18] jessemapel commented on #4971
Okay, @scsides is out right now so he can provide some insight into what was done next week.

[2022-06-13 12:49] cneish commented on #4970
Upgrading ASP seemed to do the trick! We just successfully ran a pair of CTX images through the processor. Thanks all.

[2022-06-14 15:27] rbeyer commented on #4499
We are now in "phase 3" as outlined above such that the `conda config` pathway is listed as the initial and preferred way to "set your environment variables." and the `isisVarInit.py` method is a second option.

The described "phase 4" would be to remove ` isisVarInit.py` from the repo entirely.  I'm not entirely sure we actually need to take that step.  There may be some use for some power users

[2022-06-14 18:03] AndrewAnnex commented on #4499
it's probably sufficient to keep the script and just remove the mention of it from the readme/move the usage instructions to the folder it is in/as a comment in the file. Personally I would rather remove it entirely and if someone really needs it they may search the git history for it, but that's just my preference. There is an additional action item to migrate the tab completion script installati

[2022-06-16 00:58] lwellerastro opened #4973 "Cnetcombinept log file logs everything, not just merged points"
**ISIS version(s) affected**: tested under 5.0.2 but also broke in newer versions of isis

**Description**
The log includes an entry for all points in the output network when it should only include entries for points that were merged.
It makes it very difficult to identify which points have new measures that require registration for extremely large networks.

**How to reproduce**
See my work users

[2022-06-17 19:18] rvwagner commented on #4855
There's a very complete guide to working with LROC NAC data here: http://lroc.sese.asu.edu/files/DOCS/LROC_NAC_Processing_Guide.pdf
(I can provide the Markdown source file for that if someone wants to turn that into a page on the ISIS wiki.)

I was working on a WAC version as well, but ran out of free time before finishing, and also some important steps for making mosaics were (are?) still not ava

[2022-06-17 19:33] rvwagner opened #4974 "Hard to find application index"
**Description**
On the ISIS entry page (https://isis.astrogeology.usgs.gov), it is remarkably hard to find where the application index/usage page is linked (https://isis.astrogeology.usgs.gov/7.0.0/Application/index.html).  Now that I've found it, I see that the "software manual" sidebar link under "quick links" goes there, but when I was just looking at the "for users" sections, I didn't see anyt

[2022-06-21 17:02] #4970 closed, assigned to nobody

[2022-06-21 17:06] jessemapel commented on #4855
We're testing out some stereo work with WAC data in ASP using our USGSCSM sensor model. It requires that all of the frames be in a single file to do dense stereo matching.

Also, lrowacphomap was just added to the public version in #4961 and will go out in the next release.

[2022-06-21 17:07] jessemapel commented on #4855
I think it's sufficient for us to just link your documentation, no need to duplicate it here.

[2022-06-21 22:38] AndrewAnnex opened #4975 "isis7.0.0 unsatisfiable error in github action worker, both with mamba and conda"
**ISIS version(s) affected**: 7.0.0

**Description**
CI workers using the following minimal environment yaml file with python included fail to install ISIS due to incompatible packages. Possibly exacerbated by using strict channel priority as well, but I am unsure what the root cause is other than outdated packages or overly strict/erroneous specifications. I receive different errors depending on

[2022-06-22 17:46] jessemapel commented on #4945
As of #4972 this is completed. Users will still need to determine an accurate trim setting. If a more automated approach is required a separate enhancement request can be opened.

[2022-06-22 17:46] #4945 closed, assigned to nobody

[2022-06-22 18:14] oleg-alexandrov commented on #4945
I don't think there is a good trim setting which will work even for a single dataset. Framelets should overlap more in lower-lying visible terrain than in higher one, as then rays have a longer distance to travel and to diverge, and end up seeing more surface, and hence neighboring framelets end up seeing more shared data. Also, for more oblique shots, the framelets at a more oblique angle should

[2022-06-23 15:47] scsides commented on #4803
The PR was merged, and the data has been put into the main local data area.

[2022-06-24 03:06] xwc2016 opened #4977 "How to set up an ISIS3 cmake Project in Qt Creator?"
We use Github issues solely for discussing bugs, documentation issues, and new features.

For
questions about using ISIS or other ASC software, please use
any of the support alternatives: https://astrodiscuss.usgs.gov or https://gitter.im/USGS-Astrogeology/IAA

A great resource about asking high quality questions that generate high quality answers is available from the StackOverflow community: [Ho

[2022-06-24 15:41] AustinSanders commented on #4977
Hi @xwc2016 ,

Have you followed the steps listed in the Qt Creator [documentation](https://doc.qt.io/qtcreator/creator-project-cmake.html)?  ISIS3 uses Ninja as a build generator, so you might also reference the [documentation](https://doc.qt.io/qtcreator/creator-build-settings-cmake.html#using-ninja-as-a-cmake-generator) for build settings.

If you've worked through the documentation and are stu

[2022-06-24 22:34] scsides commented on #4803
There were questions about which of the MEX specific target spk files to use (MAR033_2000-2025.bsp  MAR033_HRSC_V03.bsp  MAR080.bsp  MAR097.bsp  MARSAT_ESA_060101_V01.bsp) :

1) ISIS currently uses MAR097.bsp for Mars, but MAR080.bsp for Phobos and Deimos
2) MAR080.bsp in the ISISDATA area and from the ESA ftp site differ.
3) What about the other specialized target SPK files listed above?

Resolut

[2022-06-24 22:34] #4803 closed, assigned to scsides

[2022-06-27 15:04] #3948 closed, assigned to nobody

[2022-06-27 16:17] jessemapel commented on #4964
Closed in #4965

[2022-06-27 16:17] #4964 closed, assigned to nobody

[2022-06-27 23:38] jessemapel opened #4979 "Replace DEM local normal calculation with normal of interpolating function"
**Description**

Currently, the algorithm for computing the local normal of an intersection point on a DEM is as follows:

1. Compute 4 new intersections points at +- 0.5 lines and +- 0.5 samples
2. Subtract the -0.5 lines point from the +0.5 lines point
3. Subtract the -0.5 samples point from the +0.5 samples point
4. Take the cross product of the two vectors
5. Make sure the normal is point outw

[2022-06-30 14:42] Kelvinrr commented on #4667
I was able to replicate this and it seems it's not actually tied to our build system but rather related to opencv? Building ISIS with opencv 3.2.0 gave this error and upgrading to 4.5.5 seemed to fix it. Closing for now.

[2022-06-30 14:42] #4667 closed, assigned to nobody

[2022-07-04 13:40] gengxun-henu commented on #4944
Which ISIS version contains 'framestich' App? Please tell me. Thanks a lot!

[2022-07-05 13:51] jessemapel commented on #4944
The framestitch app will be available in the next public release of ISIS. If you want access to it earlier, you can download the current source and build it locally.

[2022-07-05 14:36] jessemapel commented on #4706
This is completed and a part of #4878

[2022-07-05 14:36] #4706 closed, assigned to AustinSanders, jessemapel

[2022-07-05 17:01] jessemapel commented on #4962
I am going to close this as we're not able to locally test on vmware systems to reproduce and similar issues have been resolved by the new ffmpeg builds. If anyone else encounters this problems please post here.

[2022-07-05 17:01] #4962 closed, assigned to nobody

[2022-07-06 00:35] acpaquette commented on #4922
I can confirm that the spks are causing the differences between the original cubes that were used in the control network produced in 2018/2019, and new cubes that used the smithed kernels but new spks. I don't think there is a super clean solution to this, that I can think of.

We could try to add a dependency key into kernel selection groups in the kernel db files, but this doesn't account for th

[2022-07-06 15:16] jessemapel commented on #4474
This is being considered for work in FY23.

[2022-07-06 15:28] astrostu commented on #4474
@jessemapel Great!

[2022-07-06 20:00] acpaquette commented on #4916
@luoflu Apologies for only getting to resolve this now, I pulled the same image you are working with and it runs mocproc fine. What data have you downloaded, and have you tried running spiceinit on the ingested image?

[2022-07-07 12:09] luoflu commented on #4916
As I know, running mocproc needs only one command line, "mocproc from=xx.img to=xx.cub", but I tried running spiceinit as you suggested.  It didn't work, either. By th way, I wonder what is the "data" you refer to?
![image](https://user-images.githubusercontent.com/103924277/177746726-3aa43748-1acd-4fa5-a8c0-f596dedfac91.png)

[2022-07-07 12:12] luoflu commented on #4916
As I know, running mocproc needs only one command line, "mocproc from=xx.img to=xx.cub", but I tried running spiceinit as you suggested. It didn't work, either. By th way, I wonder what is the "data" you refer to?
![image](https://user-images.githubusercontent.com/103924277/177770088-d3544096-760b-46c0-98fb-5ba3461dabd9.png)

[2022-07-07 18:03] lwellerastro commented on #4942
I realize there is lot to my messages above so I thought it might help to boil things down to a single image case.

I created a ck and spk kernel for one of my updated images, then ingested a fresh version of the image and spiced applying the newly created image kernels.  This is enough to create the noted errors when programs like qview or campt are used. I did all of this under isis7.0.0.

The i

[2022-07-07 20:50] acpaquette commented on #4916
It looks like your first run of `spiceinit` from the output you provided ran correctly. The data is in reference to the ephemeris data needed for `spiceinit` and other applications to actually run them. For instance, `moc2isis` needs the leap second kernel to generate times to use in `spiceinit`. Can you try running `spiceinit` with web disabled, or `web=false`? If you have set ISISDATA, can you g

[2022-07-07 20:52] #4666 closed, assigned to acpaquette, amystamile-usgs

[2022-07-07 23:02] AustinSanders commented on #4633
I'm no longer able to replicate this problem after following the install instructions on the [repo](https://github.com/USGS-Astrogeology/ISIS3).  Following the installation, I do run into the libgsl issue listed in #4877 .

I'm marking this issue closed for now, as it seems to have been resolved via the dependency work that occurred earlier this year. If users still run into this issue _in a clean

[2022-07-07 23:02] #4633 closed, assigned to AustinSanders

[2022-07-08 13:47] jlaura commented on #4931
We discussed this a bit yesterday in the standup. While the auto-fail back might be nice for some users, I was worried that one might process a hunk of data and then have to know to go and look at the individual labels to know what dark file files had been used. It seems that a more transparent way to have this work would be to throw an error when the ZeroDarkRate can not find the appropriate CSV

[2022-07-08 14:16] blandoplanet commented on #4922
I agree that having Cassini-specific code within spiceinit is not a good solution. Based on your comments, I would recommend just pulling the kernels and waiting until a more general solution to this problem (which potentially affects other data sets - e.g., Titan) is found.

[2022-07-08 14:43] jessemapel commented on #4931
The fundamental question is: Would you rather have some of the images in your data set be calibrated with ZeroDark and some with ZeroDarkRate, or all of them calibrated with ZeroDark?

[2022-07-08 16:07] rbeyer commented on #4931
These are great questions, and I wish we had talked more about them before too much work had been done.  I've thought about this some more, and of the two remedies I proposed, I think that "erroring" and then providing a more detailed error message is the better solution.  The existing error message is very good, but maybe add a second sentence:

But maybe this is too long?

[2022-07-08 16:33] #4635 closed, assigned to Kelvinrr

[2022-07-08 16:44] AustinSanders commented on #4931
There's a comment on #4986 about potentially adding a "--fallback" flag that could be passed to hical to enable the program to fall back to ZeroDark if ZeroDarkRate fails.  By default, the program would simply error and print the message, and with the flag, it would fall back to ZeroDark.  Is this worth implementing, or would we prefer to stick with simply adding a more informative error message?

[2022-07-08 16:52] jessemapel commented on #4931
If it's not too much work, I think it would be worth it. It should be an option on the ZeroDarkRate configuration, and not a command line option.

If it takes any significant work, I don't think it's worth it.

[2022-07-08 16:54] audiefen commented on #4931
From the instrument team perspective, it is not desirable to have our pipelines failing and then us having to do some kind of manual intervention.

If it isn't too much work to add the "--fallback flag", that would be great.

Alternatively, we could train our pipelines to use the old ZeroDark configuration when processing imaging modes where there are no existing ZeroDarkRate files. We know which

[2022-07-08 17:09] rbeyer commented on #4931
Right, so I think Audrie and I are in support of Jesse's suggestion:

In the HiRISE pipelines we can build logic to deal with a ZDR HiCal run, and then run it with just ZD, but it would be less work for us if we could just add a flag or parameter in the configuration file so that ISIS could do that for us.

Yes, a command-line option that is only applicable to one setting in a configuration file i

[2022-07-08 18:02] amystamile-usgs commented on #4942
This is what I have figured out so far. When running spiceinit
`spiceinit from=N1509137653_2_ingest_kernspice.cub ck=Titan_CISS_2022_ck.bc spk=Titan_CISS_2022_spk.bsp`

the computed state through spkez_c results in nan positions.

The input variables for spkez_c are:
[code]

with the following results:
[code]

When running spiceinit without the spkwriter kernel:
`spiceinit from=N1509137653_2_inges

[2022-07-08 18:23] jessemapel commented on #4942
This is really strange. The only things I can think of are:

1. Crack the kernel open and check that the data inside of it is doesn't have any errors in it.
2. Send this off to NAIF since we have a reproducible error with just CSPICE routines.

[2022-07-08 18:30] AustinSanders commented on #4931
#4986 has been updated with the ability to fall back to ZeroDark by specifying Fallback = True within the ZeroDarkRate profile in the config file.  Any feedback on the error messages would be appreciated.

In order to avoid breaking existing pipelines, "Fallback" is not required in the profile.  If "Fallback" is not present in the config, it defaults to False, and the new functionality will not tr

[2022-07-08 18:59] AustinSanders commented on #4973
Closed via #4984

[2022-07-08 18:59] #4973 closed, assigned to AustinSanders

[2022-07-08 20:57] #4897 closed, assigned to AustinSanders, jessemapel

[2022-07-11 06:48] AustinSanders commented on #3079
@gsn9 Was this resolved by #4680?

[2022-07-11 13:40] #3079 closed, assigned to gsn9

[2022-07-11 14:37] amystamile-usgs commented on #4942
I reached out to NAIF and they ran `spkdump` on Titan_CISS_2022_spk.bsp and responded with *It appears the SPK contains invalid data. The segment covers a time interval of 0.006 TDB seconds, with a polynomial degree of 1.*

@lwellerastro could you direct me to the images used to create the Titan_CISS_2022_spk.bsp kernel?

[2022-07-11 16:05] jlaura opened #4988 "Upgrade Kakadu to the newest 8.3 release"
**Description**

We just got pinged that an update was released. This request is to download and update to the newest version. The email altering that an update was released indicates that the download link will not be live for an indefinite amount of time. Therefore, this is timely to at least get downloaded if not included in the system.

As a follow on, let's double check the license to ensure

[2022-07-11 16:06] jlaura commented on #4988
I'll volunteer to check the license.

[2022-07-11 16:29] jessemapel commented on #4975
I was able to successfully install on mac and ubuntu in a test repo https://github.com/jessemapel/ISIS_CI_Test

Can you share your github action file?

[2022-07-11 16:31] #4877 closed, assigned to AustinSanders

[2022-07-11 16:32] jessemapel commented on #4988
I have downloaded the new version. Message me if you need the location.

[2022-07-11 17:11] lwellerastro commented on #4942
Hi @amystamile-usgs the image list for the writer commands below can be found under /work/projects/titan/lweller/All_CB3_MT1/FindFeatures/

[code]
Notice that the images in the list points to an area on /scratch that houses the updated images.  There are nearly 7000 images in the input list and each of the commands above took hours to run.

That data have had to undergo a lot of reprocessing in or

[2022-07-11 17:59] lwellerastro commented on #4942
Hi @amystamile-usgs, this can all be reproduced without working with the kernel that was built upon 7000 images.  It can be reproduced with a single CISS image.

There is an example under my work users area Isis3Tests/Spiceinit/WriterKernels/SingleImage/ImageKernel/. See proc.scr for the simple processing details, but in a nutshell

- ingest image and make a copy of it
- spiceinit ingested image u

[2022-07-11 19:34] Kelvinrr commented on #4914
The best approach to this might be to subclass Pvl and have a log object that reports as things are added with Applcation::Log even without an iApp instance. That way we can still return the results as PVL and not have to update every callable.

[2022-07-11 20:03] AustinSanders opened #4989 "tgocassisrdrgen label updates"
**ISIS version(s) affected**: 7.0.0

**Description**
level1C values are not being forwarded to the level3C headers with ISIS 7 or 4.4 in Geometry Pipeline 1.3

**How to reproduce**

**Possible Solution**
Update tgocassisrdrgen with the following changes:

<details>
  <summary>Change 1: Update schema references </summary>

  Before:
[code]
 
After:
[code]
</details>

<details>
 <summary>Change 2: U

[2022-07-11 22:41] oleg-alexandrov commented on #3430
I put a fix for this in ASP itself. User's locale is overwritten with US English for ASP programs (hey, when reaching for the stars, leave your accents at home).

Most likely though, this is some bug in ISIS. If it wants a big number, and it creates this: 1,79769313486232e+308, it shows somewhere it uses the decimal separator from user's system, rather than having a hard-coded dot, as you would do

[2022-07-12 04:41] oleg-alexandrov commented on #3430
To get to the root of the problem, and given that, as I see, ISIS users ran into converting strings with commas to double in other contexts, one could simply replace the comma with a dot in the string-to-double conversion function here: https://github.com/USGS-Astrogeology/ISIS3/blob/aab0e63088046690e6c031881825596c1c2cc380/isis/src/base/objs/IString/IString.cpp#L149.

[2022-07-12 18:49] AustinSanders commented on #4933
Closed by [#473](https://github.com/USGS-Astrogeology/ale/pull/473)

[2022-07-12 18:49] #4933 closed, assigned to ladoramkershner

[2022-07-13 03:26] AustinSanders commented on #4931
Closed via #4986

[2022-07-13 03:26] #4931 closed, assigned to AustinSanders

[2022-07-13 15:13] #4548 closed, assigned to nobody

[2022-07-13 15:23] jessemapel commented on #4715
We now generate DOIs through the USGS software release process. All that needs to happen is we need to change the DOI link on the README

[2022-07-13 15:24] rbeyer commented on #4715
There is also a "generated by" phrase at the bottom of AUTHORS.rst that probably needs to be removed.

[2022-07-13 17:07] KrisBecker opened #4991 "Link Errors (libgmock, libgtest) on MacOSX 10.15"
**ISIS version(s) affected**: Current

**Description**

Building the current version of ISIS on my Mac (see #4656 for configuration) fails to properly link all ISIS applications, including tests. My system is up to date, $ISISTESTDATA and $ISISDATA have been updated. Conda version is 4.13.0 and the compiler version is Apple Clang 11.0.0. CMAKE version is 3.23.2.

The ISIS installation command I us

[2022-07-13 17:22] Kelvinrr commented on #4914
idk why I thought a new class was gonna be easier, it required updating way more stuff manually. Decided to make a new function instead which made things way easier to update.

[2022-07-13 17:29] jessemapel commented on #4991
@KrisBecker I don't have access to a 10.15 system (not DOI approved yet). Can you pull and test the change in #4992 to see if it fixes this issue. We can also add a patch to googletest as a different solution.

[2022-07-13 17:38] AndrewAnnex commented on #4975
Hey Jesse, I think your github repo captures the state I had in my repo effectively except I also had the strict channel priority set via the conda action. When I got rid of that last week the issue went away, I think I enabled strict builds in an attempt to speed up environment solving but it may have caused the issue.

[2022-07-13 18:13] KrisBecker commented on #4991
Thanks @jessemapel. It is currently building.

I did not get the original CMAKE warning reported in my initial post, but I am still getting this one:
[code]

I also got this warning in my initial build as well so it persists.

[2022-07-13 18:15] jessemapel commented on #4975
This is related to #4199 then. There are still a very small number of packages that we're still publishing ourselves, but there are a bunch of older packages that we are still distributing to support some very old builds of ISIS. So, we cannot use the strict channel priority because then it will only look at the old dependencies on our channel and not the newer ones on conda-forge. There is a poss

[2022-07-13 18:24] acpaquette commented on #4922
@lwellerastro @blandoplanet The kernels have been removed and the kerneldb file updated. I have tested this on one test image and it is picking up the spk that is expected. This more or less closes this issue for the time being.

[2022-07-13 18:36] KrisBecker commented on #4991
@jessemapel that appears to have fixed the link errors. `@rpath` is now present in the runtime library signatures.

Running tests now.

Is it common/standard development practice to have libgmock/libgtest linked into all (ISIS) main apps? Or is this a consequence of ISIS architecture?

Thanks...

[2022-07-13 18:37] jessemapel commented on #4942
@amystamile-usgs and I looked into this a bit more today.

The problem, in the single image case, is that spkwriter is writing the position of Cassini relative to Titan (NAIF ID 606) but labeling it in the kernel as the position relative to the Saturn Barycenter (NAIF ID 6). There's a small bit of code in all of the Cassini camera models that tells spkwriter to do this (added in https://github.com

[2022-07-13 18:38] jessemapel commented on #4991
This is a complication of how the ISIS cmake files do dependency management. It basically links everything with everything. I would really like to change it, but it's a lower priority as when you build with tests disabled, it won't link googletest/mock.

[2022-07-13 18:41] jessemapel commented on #4942
Additional question for @lwellerastro and possibly @blandoplanet: Have you used spkwriter to create smithed kernels of any other moons of Saturn with Cassini data? I'm surprised we didn't encounter this issue with Enceladus kernels.

[2022-07-13 18:44] acpaquette commented on #4922
Also, so the information is available somewhere, I have disabled the Cassini kernel update script within Astro. This prevents the new spks causing this problem from being downloaded, but also prevents other new kernels from entering the data area

[2022-07-13 18:49] lwellerastro commented on #4942
@jessemapel, I haven't a clue. Seems like option 2 makes more sense, but Brent will have to chime in since he understands the implications better.  He is getting notifications for this post, but I will email him to bring this to his immediate attention.

To be clear about some things (for everyone's benefit), the single image case image would have picked up the most recent/up to date (and hopefull

[2022-07-13 18:51] lwellerastro commented on #4922
`Also, so the information is available somewhere, I have disabled the Cassini kernel update script within Astro. This prevents the new spks causing this problem from being downloaded, but also prevents other new kernels from entering the data area`

@blandoplanet, is this something we really want?  Sure, the new kernels are breaking our smithed kernels, but new kernels are generally better so I'm

[2022-07-13 19:05] KrisBecker commented on #4942
This might be related to the explanation in #3482, specifically the `Loss of Ephemeris Data` section in one of the [comments](https://github.com/USGS-Astrogeology/ISIS3/issues/3482#issuecomment-893934286).

Please try applying the SPK smithed kernels in the spiceinit EXTRA parameter instead of the SPK parameter.

[2022-07-13 19:07] blandoplanet commented on #4922
@lwellerastro @acpaquette I think this change is okay. Since the mission is done I don't expect there to be any new updates to the Enceladus/Cassini kernels unless someone else (including us) makes new smithed kernels and we explicitly want to add them. In that case I'm assuming we can revert this change.